<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
    <h1>
    GDP Vintages and Releases datasets
    </h1>
</div>

<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h3>
Documentation
<br>
____________________
<br>
</h3>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    This 
    <span style="color: rgb(0, 65, 75);">jupyter notebook</span>
    provides a step-by-step guide to <b>data building</b> regarding the project <b>'Revisiones y sesgos en las estimaciones preliminares del PBI en el Perú'</b>. This guide covers the creation of GDP mid-term revision dataset for each sector. A key step is the construction at par of what we will call “The ‘t+h’ structure”. This dataset is similar to that of the GDP growth vintages by sector, but instead of growth rate values, it contains values of type “t+h”, where h indicates how many months have passed since the preliminary growth rate was first published; that is, this jupyter notebook also covers the creation of vintages datasets of growth rates associated with a horizon (<b>h</b>).
</div>

<div style="text-align: center; font-family: 'PT Serif Pro Book'; color: rgb(0, 65, 75); font-size: 16px;">
    Jason Cruz
    <br>
    <a href="mailto:jj.cruza@up.edu.pe" style="color: rgb(0, 153, 123); font-size: 16px;">
        jj.cruza@up.edu.pe
    </a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;line-height: 1.5;">
<span style="font-size: 34px;">&#128452;</span> The 't+h' structure should be available for all sectors and frequencies.
    <br>
    <span style="font-size: 24px;">&#8987;</span> Available since <b>1994-2024</b> (Table 1) and since <b>1997-2024</b> (Table 2). 
    <br>
</div>

<div style="font-family: Amaya; text-align: left; color: rgb(0, 65, 75); font-size:16px">The following <b>outline is functional</b>. By utilising the provided buttons, users are able to enhance their experience by browsing this script.<div/>

<div id="outilne">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #292929; padding: 10px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #E0E0E0;">
        Outline
    </h2>
    <br>
    <a href="#libraries" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Libraries</a>
    <br>
    <a href="#setup" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Initial set-up</a>
    <br>
    <a href="#selector-window" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Selector window for variable, economic sector and frequency</a>
    <br>
    <a href="#1" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        1. Create horizon datasets</a>
    <br>
    <a href="#1.1." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        1.1. Loading growth rate datasets from <code>PostgresSQL</code>.</a>
    <br>
    <a href="#1.2." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        1.2. Creating horizon dataset step by step.</a> 
    <br>
    <a href="#2" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        2. Create base year datasets</a>
    <br>
    <a href="#2.1." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.1. Loading growth rate datasets from <code>PostgresSQL</code>.</a>
    <br>
    <a href="#2.2." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.2. Creating base year dataset.</a> 
    <br>
    <a href="#2.3." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.3. Remove observations affected by base year.</a> 
    <br>
    <a href="#3" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        3. Create datasets with dummy-seasonal values of revisions</a>
    <br>
    <a href="#3.1." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.1. Loading merged irregular calendar dataset from <code>PostgresSQL</code></a>
    <br>
    <a href="#3.2." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.2. Creating datasets with dummy-seasonal values of revisions</a>
    <br>
    <a href="#4" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        4. Create growth rates by horizon dataset</a>
    <br>
    <a href="#5" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        5. Create vintages and releases datasets</a>
    <br>
    <a href="#5.1." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.1. Loading all vintages and releases (nowasts) to <code>PostgresSQL</code></a>
    <br>
    <a href="#6" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        6. Merge all the releases datasets</a>
    <br>
    <a href="#7" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        7. Calculate revisions <span style="color: #0079FF;">(r)</span>, backcast errors <span style="color: #FF0060;">(e)</span> and cumulative revisions <span style="color: #00DFA2;">(z)</span></a>
    <br>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Any questions or issues regarding the coding, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"><span style="font-size: 24px;">&#x2709;</span>
    </a>.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    If you don't have the libraries below, please use the following code (as example) to install the required libraries.
    <div/>

In [ ]:
#!pip install os # Comment this code with "#" if you have already installed this library.

<div id="libraries">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [1]:
# POSTGRESSQL
import os
from sqlalchemy import create_engine

# HORIZON DATASETS
import pandas as pd
import numpy as np
import re

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="setup">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Initial set-up
    </h2>
    <div/>

<p style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following function will establish a connection to the <code>gdp_revisions_datasets</code> database in <code>PostgreSQL</code>. The <b>input data</b> used in this jupyter notebook will be loaded from this <code>PostgreSQL</code> database, and similarly, all <b>output data</b> generated by this jupyter notebook will be stored in that database. Ensure that you set the necessary parameters to access the server once you have obtained the required permissions.<p/>
    
<p style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
To request permissions, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"> <span style="font-size: 24px;">&#x2709;</span>
    </a>.
<p/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    Enter your user credentials to acces to SQL.
    <div/>

In [2]:
def create_sqlalchemy_engine():
    """
    Function to create an SQLAlchemy engine using environment variables.
    
    Returns:
        engine: SQLAlchemy engine object.
    """
    # Get environment variables
    user = os.environ.get('CIUP_SQL_USER')  # Get the SQL user from environment variables
    password = os.environ.get('CIUP_SQL_PASS')  # Get the SQL password from environment variables
    host = os.environ.get('CIUP_SQL_HOST')  # Get the SQL host from environment variables
    port = 5432  # Set the SQL port to 5432
    database = 'gdp_revisions_datasets'  # Set the database name 'gdp_revisions_datasets' from SQL

    # Check if all environment variables are defined
    if not all([host, user, password]):
        raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

    # Create connection string
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

    # Create SQLAlchemy engine
    engine = create_engine(connection_string)
    
    return engine

In [3]:
# Connect to SQL
engine = create_sqlalchemy_engine()

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Import all other functions required by this jupyter notebook.
    </span>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Please, check the script <code>gdp_revisions_datasets_functions.py</code> which contains all the functions required by this jupyter notebook. The functions there are ordered according to the <a href="#outilne" style="color: #3d30a2;">sections</a> of this jupyter notebok.<div/>

In [4]:
from gdp_revisions_datasets_functions import *

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="selector-window">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: dark; font-family: PT Serif Pro Book;">Selector window for variable, economic sector and frequency</span></h1>

<div id="steps-selector">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#steps-selector-variable" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Select variable</a>
    <br>
    <a href="#steps-selector-sector" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10123;</span> Select economic sector</a>
    <br>
    <a href="#steps-selector-frequency" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Select frequency</a>
</div>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Comment out all variable, sector and frequency selection codes if you are going to run the entire script from an external file or command window.
    </span>
</div>

<div id="steps-selector-variable">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Select variable</span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    According to the paper:
    <ul>
        <li><code>r</code> refers to the <b>revisions</b></li>
        <li><code>e</code> to the <b>prediction errors</b> or the <b>accumulation of future revisions (from $h+1$ to infinity)</b></li>
        <li><code>z</code> refers to the <b>accumulation of revisions up to horizon $h$</b></li>
    </ul>
</div>

EXPLAIN DUMMY CONSTRUCTION LOGIC IN TERMS OF “r, e and z ARE AFFECTED OR NOT”. <b style="color: red"> [PENDING]</b>

In [5]:
# Call the function to show the popup window
variable = show_variable_window()
print("Selected variable:", variable)

Selected variable: e

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-selector-sector">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Select economic sector</span>
  </div>

In [6]:
# Call the function to show the popup window
sector = show_sector_window()
print("Selected economic sector:", sector)

Selected economic sector: gdp

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-selector-frequency">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Select frequency</span>
  </div>

In [7]:
# Call the function to show the popup window
frequency = show_frequency_window()
print("Selected frequency:", frequency)

Selected frequency: monthly

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book; color: dark;">1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create horizon datasets</span></h1>

<div id="1.1.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">1.1. </span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading growth rate datasets from <code>PostgresSQL</code></span></h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Connect to SQL.
    <div/>

In [8]:
# SQL Query
query = f"SELECT * FROM {sector}_{frequency}_growth_rates;" # Please change your query to PosgtresSQL as you see fit

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Comment the code below if you want the default option (display rows and columns of the dataframe in a limited way)
    <div/>

In [9]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check the loaded dataframe.
    <div/>

In [10]:
# Read growth rates dataset as DataFrame
globals()[f'{sector}_{frequency}_growth_rates'] = pd.read_sql(query, engine)
growth_rates = globals()[f'{sector}_{frequency}_growth_rates']
growth_rates_df = growth_rates.copy()
growth_rates_df.head(10)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994,06,1994-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1994,07,1994-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1994,08,1994-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1994,09,1994-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,10,1994-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Find duplicates of id_ns within the same year
duplicated_rows = growth_rates_df[growth_rates_df.duplicated(subset=['year', 'id_ns'], keep=False)]
duplicated_rows

Empty DataFrame
Columns: [year, id_ns, date, ene_1992, feb_1992, mar_1992, abr_1992, may_1992, jun_1992, jul_1992, ago_1992, sep_1992, oct_1992, nov_1992, dic_1992, ene_1993, feb_1993, mar_1993, abr_1993, may_1993, jun_1993, jul_1993, ago_1993, sep_1993, oct_1993, nov_1993, dic_1993, ene_1994, feb_1994, mar_1994, abr_1994, may_1994, jun_1994, jul_1994, ago_1994, sep_1994, oct_1994, nov_1994, dic_1994, ene_1995, feb_1995, mar_1995, abr_1995, may_1995, jun_1995, jul_1995, ago_1995, sep_1995, oct_1995, nov_1995, dic_1995, ene_1996, feb_1996, mar_1996, abr_1996, may_1996, jun_1996, jul_1996, ago_1996, sep_1996, oct_1996, nov_1996, dic_1996, ene_1997, feb_1997, mar_1997, abr_1997, may_1997, jun_1997, jul_1997, ago_1997, sep_1997, oct_1997, nov_1997, dic_1997, ene_1998, feb_1998, mar_1998, abr_1998, may_1998, jun_1998, jul_1998, ago_1998, sep_1998, oct_1998, nov_1998, dic_1998, ene_1999, feb_1999, mar_1999, abr_1999, may_1999, jun_1999, jul_1999, ago_1999, sep_1999, oct_1999, nov_1999, dic_1999, ene_2000, ...]
Index: []

[0 rows x 396 columns]

In [12]:
growth_rates_df.iloc[:10,:5]

   year id_ns       date  ene_1992  feb_1992
0  1994    01 1994-01-10       1.3       1.8
1  1994    02 1994-01-17       1.3       1.8
2  1994    03 1994-01-24       1.3       1.8
3  1994    04 1994-02-01       NaN       NaN
4  1994    05 1994-02-07       NaN       NaN
5  1994    06 1994-02-14       NaN       NaN
6  1994    07 1994-02-21       NaN       NaN
7  1994    08 1994-02-28       NaN       NaN
8  1994    09 1994-03-04       NaN       NaN
9  1994    10 1994-03-14       NaN       NaN

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Create copies of <code>growth_rates_df</code> to be used as arguments in other functions later on
    <div/>

In [13]:
growth_rates_df_copy_r = growth_rates_df.copy()
growth_rates_df_copy_e = growth_rates_df.copy()
growth_rates_df_copy_z = growth_rates_df.copy()

growth_rates_df_copy_1 = growth_rates_df.copy()
growth_rates_df_copy_2 = growth_rates_df.copy()
growth_rates_df_copy_3 = growth_rates_df.copy()

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1.2.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">1.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Creating horizon dataset step by step
    </span>
    </h2>

<div id="steps-1-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#steps-1-2-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Replace decimal values by “t+h” values only in the rows representing a new rung</a>
    <br>
    <a href="#steps-1-2-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Concatenate first 3 columns: year, date, id_ns </a>
    <br>
    <a href="#steps-1-2-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Convert columns to string type</a>
    <br>
    <a href="#steps-1-2-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Spreads the "t+h" values over the remaining decimal values </a>
    <br>
    <a href="#steps-1-2-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Exporting to excel file </a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
   <span>Set key variables to fill the growth_rates with 't+h' values</span>
  </div>

In [14]:
# Call the function to set h_initial
if frequency == "monthly":
    h_initial = 1
elif frequency == "quarterly":
    h_initial = 3
elif frequency == "annual":
    h_initial = 12
else:
    h_initial = None

print(h_initial)

# suggested: monthly (1), quarterly (3), annual (12)

1

In [15]:
# Call the function to show the start_row window
start_row = 0 # Change according your preferences

In [16]:
# Define the mapping of frequencies to h_counter values
frequency_mapping = {
    'monthly': 1,
    'quarterly': 3,
    'annual': 12
}

# Get the appropriate h_counter value based on the selected frequency
h_counter = frequency_mapping.get(frequency)
print("Selected h_counter:", h_counter)

Selected h_counter: 1

<div id="steps-1-2-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Replace decimal values by “t+h” values only in the rows representing a new rung</span>
  </div>

In [17]:
horizon = replace_horizon(growth_rates_df_copy_1.iloc[:, 3:], start_row, h_initial, h_counter)
horizon_df = horizon.copy()
horizon_df.head(10)

,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,ago_1992,sep_1992,oct_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,t+23,t+22,t+21,t+20,t+19,t+18,t+17,t+16,t+15,t+14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,-5.7,-4.6,-3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,-5.7,-4.6,-3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t+15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-1-2" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-1-2" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-1-2-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Concatenate first 3 columns: year, date, id_ns</span>
  </div>

In [18]:
# Get the first three columns of the original DataFrame
first_3_columns = growth_rates_df.iloc[:, :3]

# Concatenate the first three columns with h_{sector}_{frequency}_growth_rates
horizon_df = pd.concat([first_3_columns, horizon_df], axis=1)
horizon_df.head(20)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,t+23,t+22,t+21,t+20,t+19,t+18,t+17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994,06,1994-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1994,07,1994-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1994,08,1994-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1994,09,1994-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,10,1994-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1994,11,1994-03-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1994,12,1994-04-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1994,13,1994-04-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1994,14,1994-04-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1994,15,1994-04-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1994,16,1994-05-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1994,17,1994-05-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1994,18,1994-05-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1994,19,1994-05-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1994,20,1994-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-1-2" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-1-2" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-1-2-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Convert columns to string type</span>
  </div>

In [19]:
horizon_df = columns_str(horizon_df)
horizon_df.head(20)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,t+23,t+22,t+21,t+20,t+19,t+18,t+17,...,,,,,,,,,,
1,1994,02,1994-01-17,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,,,,,,,,,,
2,1994,03,1994-01-24,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,,,,,,,,,,
3,1994,04,1994-02-01,,,,,,,,...,,,,,,,,,,
4,1994,05,1994-02-07,,,,,,,,...,,,,,,,,,,
5,1994,06,1994-02-14,,,,,,,,...,,,,,,,,,,
6,1994,07,1994-02-21,,,,,,,,...,,,,,,,,,,
7,1994,08,1994-02-28,,,,,,,,...,,,,,,,,,,
8,1994,09,1994-03-04,,,,,,,,...,,,,,,,,,,
9,1994,10,1994-03-14,,,,,,,,...,,,,,,,,,,
10,1994,11,1994-03-21,,,,,,,,...,,,,,,,,,,
11,1994,12,1994-04-04,,,,,,,,...,,,,,,,,,,
12,1994,13,1994-04-11,,,,,,,,...,,,,,,,,,,
13,1994,14,1994-04-18,,,,,,,,...,,,,,,,,,,
14,1994,15,1994-04-25,,,,,,,,...,,,,,,,,,,
15,1994,16,1994-05-02,,,,,,,,...,,,,,,,,,,
16,1994,17,1994-05-09,,,,,,,,...,,,,,,,,,,
17,1994,18,1994-05-16,,,,,,,,...,,,,,,,,,,
18,1994,19,1994-05-23,,,,,,,,...,,,,,,,,,,
19,1994,20,1994-06-01,,,,,,,,...,,,,,,,,,,

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-1-2" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-1-2" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-1-2-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Spreads the "t+h" values over the remaining decimal values
  </div>

In [20]:
horizon_df = replace_horizon_1(horizon_df)
horizon_df.head(20)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,t+23,t+22,t+21,t+20,t+19,t+18,t+17,...,,,,,,,,,,
1,1994,02,1994-01-17,t+23,t+22,t+21,t+20,t+19,t+18,t+17,...,,,,,,,,,,
2,1994,03,1994-01-24,t+23,t+22,t+21,t+20,t+19,t+18,t+17,...,,,,,,,,,,
3,1994,04,1994-02-01,,,,,,,,...,,,,,,,,,,
4,1994,05,1994-02-07,,,,,,,,...,,,,,,,,,,
5,1994,06,1994-02-14,,,,,,,,...,,,,,,,,,,
6,1994,07,1994-02-21,,,,,,,,...,,,,,,,,,,
7,1994,08,1994-02-28,,,,,,,,...,,,,,,,,,,
8,1994,09,1994-03-04,,,,,,,,...,,,,,,,,,,
9,1994,10,1994-03-14,,,,,,,,...,,,,,,,,,,
10,1994,11,1994-03-21,,,,,,,,...,,,,,,,,,,
11,1994,12,1994-04-04,,,,,,,,...,,,,,,,,,,
12,1994,13,1994-04-11,,,,,,,,...,,,,,,,,,,
13,1994,14,1994-04-18,,,,,,,,...,,,,,,,,,,
14,1994,15,1994-04-25,,,,,,,,...,,,,,,,,,,
15,1994,16,1994-05-02,,,,,,,,...,,,,,,,,,,
16,1994,17,1994-05-09,,,,,,,,...,,,,,,,,,,
17,1994,18,1994-05-16,,,,,,,,...,,,,,,,,,,
18,1994,19,1994-05-23,,,,,,,,...,,,,,,,,,,
19,1994,20,1994-06-01,,,,,,,,...,,,,,,,,,,

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-1-2" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-1-2" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-1-2-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Exporting to excel file
  </div>

In [21]:
# Export to excel file
#with pd.ExcelWriter('gdp_monthly_growth_rates_h.xlsx') as writer:
#    horizon_df.to_excel(writer, sheet_name='gdp_monthly_growth_rates_h', index=False) # this is an optional, to view data generated

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Create copies of <code>horizon_df</code> to be used as arguments in other functions later on
    <div/>

In [22]:
horizon_df_copy_1 = horizon_df.copy()
horizon_df_copy_2 = horizon_df.copy()
horizon_df_copy_3 = horizon_df.copy()

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-1-2" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-1-2" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create base year datasets</span></h1>

<div id="2.1.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1. </span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading growth rate datasets from <code>PostgresSQL</code></span></h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Connect to SQL.
    <div/>

In [23]:
# SQL Query
query = f"SELECT * FROM ns_base_year;" # Please change your query to PosgtresSQL as you see fit

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check the loaded dataframe.
    <div/>

In [24]:
# Read growth rates dataset as DataFrame
ns_base_year = pd.read_sql(query, engine)
ns_base_year_df = ns_base_year.copy()
ns_base_year_df.head(10)

   wr       date  base_year  year
0  43 2021-12-02       2007  2021
1  44 2021-12-09       2007  2021
2  45 2021-12-16       2007  2021
3  46 2021-12-23       2007  2021
4   1 2022-01-06       2007  2022
5   2 2022-01-13       2007  2022
6   3 2022-01-20       2007  2022
7   4 2022-01-27       2007  2022
8   5 2022-02-03       2007  2022
9   6 2022-02-10       2007  2022

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2.2.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Creating base year dataset
    </span>
    </h2>

In [25]:
base_year_df = replace_floats_with_base_year(ns_base_year_df, growth_rates_df_copy_1)

KeyError: 'id_ns'

In [ ]:
base_year_df.head(10)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Create copies of <code>base_year_df</code> to be used as arguments in other functions later on
    <div/>

In [93]:
base_year_df_copy_r = base_year_df.copy()
base_year_df_copy_e = base_year_df.copy()
base_year_df_copy_z = base_year_df.copy()

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Consider the code below as provisional. Actually, no data should be exported to the current directory folder, all data should be uploaded to SQL.
    <div/>

In [94]:
# Export to excel file
#with pd.ExcelWriter('base_year_df.xlsx') as writer:
#    base_year_df.to_excel(writer, sheet_name='base_year_df', index=False) # this is an optional, to view data generated

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2.3.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.3.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Remove observations affected by base year</span></h2>

<div id="steps-2-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#steps-2-3-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Generating a dictionary to match observations affected by base year</a>
    <br>
    <a href="#steps-2-3-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Remove observations affected by base year</a>
    <br>
    <a href="#steps-2-3-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Replace with base year dummies</a>
    <br>
</div>

<div id="steps-2-3-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Generating a dictionary to match observations affected by base year</span>
  </div>

In [95]:
# Dictionary mapping the values of “variable” to the corresponding functions
dic_base_year_map = {
    "r": r_create_dic_base_year,
    "e": e_create_dic_base_year,
    "z": z_create_dic_base_year
}

# Call the corresponding function according to the value of “variable”.
base_year_dictionary = dic_base_year_map[variable](globals()[f"base_year_df_copy_{variable}"])

In [96]:
base_year_dictionary

{'may_1999': {275,
  276,
  277,
  278,
  279,
  280,
  281,
  282,
  283,
  284,
  285,
  286,
  287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326},
 'jun_1999': {279,
  280,
  281,
  282,
  283,
  284,
  285,
  286,
  287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326},
 'jul_1999': {283,
  284,
  285,
  286,
  287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326},
 'ago_1999': {288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326},
 'sep_1999': {292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326},
 'oct_1999': {297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326},
 'nov_1999': {301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326},
 'dic_1999': {305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326},
 'ene_2000': {309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326},
 'feb_2000': {313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326},
 'mar_2000': {317, 318, 319, 320, 321, 322, 323, 324, 325, 326},
 'abr_2000': {321, 322, 323, 324, 325, 326},
 'ene_2013': {950,
  951,
  952,
  953,
  954,
  955,
  956,
  957,
  958,
  959,
  960,
  961,
  962,
  963,
  964,
  965,
  966,
  967,
  968,
  969,
  970,
  971,
  972,
  973,
  974,
  975,
  976,
  977,
  978,
  979,
  980,
  981,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998},
 'feb_2013': {953,
  954,
  955,
  956,
  957,
  958,
  959,
  960,
  961,
  962,
  963,
  964,
  965,
  966,
  967,
  968,
  969,
  970,
  971,
  972,
  973,
  974,
  975,
  976,
  977,
  978,
  979,
  980,
  981,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998},
 'mar_2013': {958,
  959,
  960,
  961,
  962,
  963,
  964,
  965,
  966,
  967,
  968,
  969,
  970,
  971,
  972,
  973,
  974,
  975,
  976,
  977,
  978,
  979,
  980,
  981,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998},
 'abr_2013': {962,
  963,
  964,
  965,
  966,
  967,
  968,
  969,
  970,
  971,
  972,
  973,
  974,
  975,
  976,
  977,
  978,
  979,
  980,
  981,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998},
 'may_2013': {966,
  967,
  968,
  969,
  970,
  971,
  972,
  973,
  974,
  975,
  976,
  977,
  978,
  979,
  980,
  981,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998},
 'jun_2013': {970,
  971,
  972,
  973,
  974,
  975,
  976,
  977,
  978,
  979,
  980,
  981,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998},
 'jul_2013': {974,
  975,
  976,
  977,
  978,
  979,
  980,
  981,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998},
 'ago_2013': {978,
  979,
  980,
  981,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998},
 'sep_2013': {983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998},
 'oct_2013': {987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998},
 'nov_2013': {991, 992, 993, 994, 995, 996, 997, 998},
 'dic_2013': {995, 996, 997, 998}}

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-2-3" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-2-3" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-2-3-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Remove observations affected by base year</span>
  </div>

In [97]:
input_growth_rates_df = remove_base_year_affected_obs(base_year_dictionary, growth_rates_df_copy_1)

In [98]:
input_growth_rates_df.head(5)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    Following code must be aplied only for <b>monthly</b> frequency. This is <b>a valid input only</b> for <a href="#5" style="color: rgb(255, 32, 78); font-size: 18px; margin-left: 0px;">
        section 5</a> (seasonal benchmark revisions), so if it is not required, you may comment it.
    <div/>

In [99]:
if frequency == 'monthly':
    input_seasonal_bench_horizon_df = remove_base_year_affected_obs(base_year_dictionary, horizon_df_copy_1)
    display(input_seasonal_bench_horizon_df.head(5))
else:
    print("The selected frequency is not monthly.")

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,t+23,t+22,t+21,t+20,t+19,t+18,t+17,...,,,,,,,,,,
1,1994,02,1994-01-17,t+23,t+22,t+21,t+20,t+19,t+18,t+17,...,,,,,,,,,,
2,1994,03,1994-01-24,t+23,t+22,t+21,t+20,t+19,t+18,t+17,...,,,,,,,,,,
3,1994,04,1994-02-01,,,,,,,,...,,,,,,,,,,
4,1994,05,1994-02-07,,,,,,,,...,,,,,,,,,,

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Consider the code below as provisional. Actually, no data should be exported to the current directory folder, all data should be uploaded to SQL.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: #333; font-size: 16px;">
    <p>
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    By exporting the following datasets, one can compare a series of GDP growth rates that includes those affected by the base year change, with another series in which the rates affected by the base year change have been eliminated.
        </p>
    <p>
        Note what happens in <b>NS 28 of 2000</b> and <b>NS 11 of 2014</b>.
    </p>
</div>

In [100]:
# Export growth_rates_df to excel file
#with pd.ExcelWriter('growth_rates_df.xlsx') as writer:
#    growth_rates_df.to_excel(writer, sheet_name='growth_rates_df', index=False) # this is an optional, to view data generated
    
# Export input_growth_rates_df (delated releases affected by the base year change) to excel file
#with pd.ExcelWriter('input_growth_rates_df.xlsx') as writer:
#    input_growth_rates_df.to_excel(writer, sheet_name='input_growth_rates_df', index=False) # this is an optional, to view data generated

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    In addition, you can export growth rate data with 't+h' values (excludes revisions affected by base year).
    <div/>

In [101]:
# Export growth_rates_df to excel file
#with pd.ExcelWriter('benchmark_horizon.xlsx') as writer:
#    input_seasonal_bench_horizon_df.to_excel(writer, sheet_name='benchmark_horizon', index=False) # this is an optional, to view data generated

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-2-3" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-2-3" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-2-3-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Replace with base year dummies</span>
  </div>

In [102]:
input_base_year_dummies_df = by_dummies(base_year_dictionary, growth_rates_df_copy_2)

In [103]:
input_base_year_dummies_df.head(5)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Consider the code below as provisional. Actually, no data should be exported to the current directory folder, all data should be uploaded to SQL.
    <div/>

In [104]:
# Export to excel file
#with pd.ExcelWriter('base_year_dummies_df.xlsx') as writer:
#    input_base_year_dummies_df.to_excel(writer, sheet_name='base_year_dummies_df', index=False) # this is an optional, to view data generated

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-2-3" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-2-3" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create datasets with dummy-seasonal values of revisions</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    This section must be aplied only for <b>monthly</b> frequency
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    In this section we replace the GDP growth rates by 1 and 0. Since one row corresponds to a Weekly Note (WN), a row full of ones indicates that both Table 1 (monthly growth rates) and Table 2 (quarterly and annual growth rates) were revised in the same WN). 
    <div/>

<div id="3.1.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.1. </span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading merged irregular calendar dataset from <code>PostgresSQL</code></span></h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Connect to SQL.
    <div/>

In [105]:
if frequency == 'monthly':

    # SQL Query
    irregular_calendar_query = f"SELECT * FROM revisions_irregular_calendar_merged;"

else:
    print("The selected frequency is not monthly.")

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check the loaded dataframe.
    <div/>

In [106]:
# Read growth rates dataset as DataFrame

if frequency == 'monthly':

    irregular_calendar = pd.read_sql(irregular_calendar_query, engine)
    irregular_calendar = irregular_calendar.copy()
    display(irregular_calendar.head(5))

else:
    print("The selected frequency is not monthly.")

   year id_ns
0  1994    09
1  1994    12
2  1994    13
3  1994    25
4  1994    33

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3.2.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Creating datasets with dummy-seasonal values of revisions
    </span>
    </h2>

In [107]:
if frequency == 'monthly':

    seasonal_dummies_df = replace_strings_with_dummies(irregular_calendar, input_seasonal_bench_horizon_df)
    display(seasonal_dummies_df.head(5))

else:
    print("The selected frequency is not monthly.")

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,0,0,0,0,0,0,0,...,,,,,,,,,,
1,1994,02,1994-01-17,0,0,0,0,0,0,0,...,,,,,,,,,,
2,1994,03,1994-01-24,0,0,0,0,0,0,0,...,,,,,,,,,,
3,1994,04,1994-02-01,,,,,,,,...,,,,,,,,,,
4,1994,05,1994-02-07,,,,,,,,...,,,,,,,,,,

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Convert columns to float type
    <div/>

In [108]:
if frequency == 'monthly':

    input_seasonal_dummies_df = convert_columns_to_float(seasonal_dummies_df)
    display(input_seasonal_dummies_df.head(5))

else:
    print("The selected frequency is not monthly.")

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Consider the code below as provisional. Actually, no data should be exported to the current directory folder, all data should be uploaded to SQL.
    <div/>

In [109]:
# Export to excel file

#if frequency == 'monthly':

#    with pd.ExcelWriter('input_seasonal_dummies_df.xlsx') as writer:
#        input_seasonal_dummies_df.to_excel(writer, sheet_name='input_seasonal_dummies_df', index=False) # this is an optional, to view data generated

#else:
#    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create growth rates by horizon dataset</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #00DFA2; font-weight: bold;">&#9888;</span>
    This section generates the data input that we use to plot the graphs in the “Motivation” section of our paper.
    <div/>

<div id="steps-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#steps-4-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Generating a dictionary with the row indices and their t+h values</a>
    <br>
    <a href="#steps-4-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Colapse growth rates by horizon ('t+h') </a>
    <br>
</div>

<div id="steps-4-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Generating a dictionary with the row indices and their t+h values</span>
  </div>

In [45]:
#horizon_df_copy_2.head(5) # Check horizon data

In [46]:
#horizon_dictionary = get_last_index_h(horizon_df_copy_2)
#horizon_dictionary

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-4" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-4" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-4-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Colapse growth rates (fore/back/now)casts by horizon <code>'t+h'</code></span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Note that <code>'t+h'</code> is 'h' months after the target date.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    Change <code>input_growth_rates_df</code> by <code>growth_rates_df</code> if you want to include revisions affected by base year
    <div/>

In [47]:
#filtered_h_df = filter_df_by_indices(input_growth_rates_df, horizon_dictionary) # Change by growth_rates_df if you want to include revisions affected by base year
#filtered_h_df

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-4" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-4" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="5">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create vintages and releases datasets</span></h1>

<div id="steps-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#steps-5-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Create vintages</a>
    <br>
    <a href="#steps-5-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Clean-up vintages dataframe </a>
    <br>
    <a href="#steps-5-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Create releases </a>
    <br>
</div>

<div id="steps-5-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Create vintages</span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    Change <code>input_growth_rates_df</code> by <code>growth_rates_df</code> if you want to include revisions affected by base year
    <div/>

In [110]:
vintages_unaffected = create_vintages(input_growth_rates_df) # Growth rates vintages unaffected by base year
vintages_affected = create_vintages(growth_rates_df) # Growth rates vintages affected by base year
vintages_base_year_dummies = create_vintages(input_base_year_dummies_df) # Vintages with BASE YEAR dummy values instead growth rates

In [111]:
if frequency == 'monthly':

    vintages_seasonal_dummies = create_vintages(input_seasonal_dummies_df) # Vintages with seasonal dummy values instead growth rates

else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-5" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-5-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Clean-up vintages dataframe</span>
  </div>

In [112]:
# Call the appropriate function based on frequency and sector
if frequency == 'monthly':
    vintages_unaffected_df = process_monthly(vintages_unaffected)
    vintages_affected_df = process_monthly(vintages_affected)
    vintages_seasonal_dummies_df = process_monthly(vintages_seasonal_dummies)
    vintages_base_year_dummies_df = process_monthly(vintages_base_year_dummies)
    
elif frequency == 'quarterly':
    vintages_unaffected_df = process_quarterly(vintages_unaffected)
    vintages_affected_df = process_quarterly(vintages_affected)
    #vintages_seasonal_dummies_df = process_quarterly(vintages_seasonal_dummies)
    vintages_base_year_dummies_df = process_quarterly(vintages_base_year_dummies)
    
elif frequency == 'annual':
    vintages_unaffected_df = process_annual(vintages_unaffected)
    vintages_affected_df = process_annual(vintages_affected)
    #vintages_seasonal_dummies_df = process_annual(vintages_seasonal_dummies)
    vintages_base_year_dummies_df = process_annual(vintages_base_year_dummies)

In [113]:
vintages_unaffected_df.head(5)

aux,vintages_date,ns_1994m01,ns_1994m02,ns_1994m03,ns_1994m04,ns_1994m05,ns_1994m06,ns_1994m07,ns_1994m08,ns_1994m09,...,ns_2024m02,ns_2024m03,ns_2024m04,ns_2024m05,ns_2024m06,ns_2024m07,ns_2024m08,ns_2024m09,ns_2024m10,ns_2024m11
0,1992-01-01,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,-7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,-5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Check out base year affected values

In [116]:
# Ensure that ‘vintages_date’ is in datetime format
#vintages_unaffected['vintages_date'] = pd.to_datetime(vintages_unaffected['vintages_date'])

# Filter the date range
#mask = (vintages_unaffected['vintages_date'] >= '2013-01-01') & (vintages_unaffected['vintages_date'] <= '2013-12-31')

# Select desired columns, including 'vintages_date'
#subset = vintages_unaffected.loc[mask, ["vintages_date", "ns_2013m10", "ns_2013m11", "ns_2013m12", "ns_2014m01", "ns_2014m02", "ns_2014m03", "ns_2014m04", "ns_2014m05"]]

# Show the result
#subset

aux,vintages_date,ns_2013m10,ns_2013m11,ns_2013m12,ns_2014m01,ns_2014m02,ns_2014m03,ns_2014m04,ns_2014m05
252,2013-01-01,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,6.1,NaN,NaN
253,2013-02-01,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,4.2,4.2,NaN
254,2013-03-01,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,2.7,2.7,2.9
255,2013-04-01,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,8.5,8.5,8.8
256,2013-05-01,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,4.1,4.1,4.3
257,2013-06-01,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,6.0,6.0,6.1
258,2013-07-01,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,5.2,5.1,5.3
259,2013-08-01,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,5.6,5.6,5.8
260,2013-09-01,NaN,-999999.0,-999999.0,-999999.0,-999999.0,4.7,4.7,4.9
261,2013-10-01,NaN,NaN,-999999.0,-999999.0,-999999.0,6.1,6.1,6.3
262,2013-11-01,NaN,NaN,NaN,-999999.0,-999999.0,7.2,7.2,7.5
263,2013-12-01,NaN,NaN,NaN,NaN,-999999.0,6.7,6.7,6.9

In [117]:
vintages_affected_df.head(5)

aux,vintages_date,ns_1994m01,ns_1994m02,ns_1994m03,ns_1994m04,ns_1994m05,ns_1994m06,ns_1994m07,ns_1994m08,ns_1994m09,...,ns_2024m02,ns_2024m03,ns_2024m04,ns_2024m05,ns_2024m06,ns_2024m07,ns_2024m08,ns_2024m09,ns_2024m10,ns_2024m11
0,1992-01-01,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,-7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,-5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
if frequency == 'monthly':

    display(vintages_seasonal_dummies_df.head(5))

else:
    print("The selected frequency is not monthly.")

aux,vintages_date,ns_1994m01,ns_1994m02,ns_1994m03,ns_1994m04,ns_1994m05,ns_1994m06,ns_1994m07,ns_1994m08,ns_1994m09,...,ns_2024m02,ns_2024m03,ns_2024m04,ns_2024m05,ns_2024m06,ns_2024m07,ns_2024m08,ns_2024m09,ns_2024m10,ns_2024m11
0,1992-01-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
vintages_base_year_dummies_df.head(5)

aux,vintages_date,ns_1994m01,ns_1994m02,ns_1994m03,ns_1994m04,ns_1994m05,ns_1994m06,ns_1994m07,ns_1994m08,ns_1994m09,...,ns_2024m02,ns_2024m03,ns_2024m04,ns_2024m05,ns_2024m06,ns_2024m07,ns_2024m08,ns_2024m09,ns_2024m10,ns_2024m11
0,1992-01-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-5" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="steps-5-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Create releases</span>
  </div>

In [120]:
releases_unaffected_df = create_releases(vintages_unaffected_df, sector)
releases_affected_df = create_releases(vintages_affected_df, sector)
releases_base_year_dummies_df = create_releases(vintages_base_year_dummies_df, sector)

In [121]:
if frequency == 'monthly':

    releases_seasonal_dummies_df = create_releases(vintages_seasonal_dummies_df, sector)

else:
    print("The selected frequency is not monthly.")

In [122]:
releases_unaffected_df.head(5)

aux,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,gdp_release_11,gdp_release_12,gdp_release_13,gdp_release_14,gdp_release_15,gdp_release_16,gdp_release_17,gdp_release_18,gdp_release_19,gdp_most_recent
0,1992-01-01,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3
1,1992-02-01,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8
2,1992-03-01,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.8
3,1992-04-01,-7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.5
4,1992-05-01,-5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.7

In [123]:
releases_affected_df.head(5)

aux,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,gdp_release_11,gdp_release_12,gdp_release_13,gdp_release_14,gdp_release_15,gdp_release_16,gdp_release_17,gdp_release_18,gdp_release_19,gdp_most_recent
0,1992-01-01,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3
1,1992-02-01,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8
2,1992-03-01,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.8
3,1992-04-01,-7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.5
4,1992-05-01,-5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.7

In [124]:
if frequency == 'monthly':

    display(releases_seasonal_dummies_df.head(5))

else:
    print("The selected frequency is not monthly.")

aux,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,gdp_release_11,gdp_release_12,gdp_release_13,gdp_release_14,gdp_release_15,gdp_release_16,gdp_release_17,gdp_release_18,gdp_release_19,gdp_most_recent
0,1992-01-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,1992-02-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1992-03-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1992-04-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,1992-05-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [125]:
releases_base_year_dummies_df.head(5)

aux,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,gdp_release_11,gdp_release_12,gdp_release_13,gdp_release_14,gdp_release_15,gdp_release_16,gdp_release_17,gdp_release_18,gdp_release_19,gdp_most_recent
0,1992-01-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,1992-02-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1992-03-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1992-04-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,1992-05-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-5" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

#### Check column type

In [126]:
print(releases_unaffected_df[f'{sector}_release_1'].dtype)

float64

In [127]:
print(releases_unaffected_df['vintages_date'].dtype)

datetime64[ns]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="5.1.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading all vintages and releases (nowasts) to <code>PostgresSQL</code></span></h2>

<div style="background-color: #0079FF; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <p style="text-align: left; color: #FFFFFF; font-size: 24px; margin: 10;">
        Extra data-sets
    </p>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: #333; font-size: 16px;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    Change to <code>{sector}_{frequency}_h</code> (<code>{sector}_{frequency}_h_<b style="color: red;">benchmark</b></code>) if you have worked with <code>input_growth_rates_df</code> (<code>growth_rates_df</code>)
</div>

In [ ]:
#horizon_df.to_sql(f'{sector}_{frequency}_growth_rates_horizon', engine, index=False, if_exists='replace')
#filtered_h_df.to_sql(f'{sector}_{frequency}_h', engine, index=False, if_exists='replace') # Change to {sector}_{frequency}_h_benchmark
#filtered_h_df.to_sql(f'{sector}_{frequency}_h', engine, index=False, if_exists='replace') # Change to {sector}_{frequency}_h_benchmark

<div style="background-color: #FF0060; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <p style="text-align: left; color: #FFFFFF; font-size: 24px; margin: 10;">
        Vintages
    </p>
</div>

In [ ]:
#vintages_unaffected_df.to_sql(f'{variable}_{sector}_{frequency}_vintages', engine, index=False, if_exists='replace')
#vintages_affected_df.to_sql(f'{variable}_{sector}_{frequency}_vintages_affected', engine, index=False, if_exists='replace')
#vintages_seasonal_dummies_df.to_sql(f'{variable}_{sector}_{frequency}_vintages_seasonal_dummies', engine, index=False, if_exists='replace')
#vintages_base_year_dummies_df.to_sql(f'{variable}_{sector}_{frequency}_vintages_base_year_dummies', engine, index=False, if_exists='replace')

<div style="background-color: #00DFA2; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <p style="text-align: left; color: #FFFFFF; font-size: 24px; margin: 10;">
        Releases (backcasts)
    </p>
</div>

In [128]:
releases_unaffected_df.to_sql(f'{variable}_{sector}_{frequency}_releases', engine, index=False, if_exists='replace')
releases_affected_df.to_sql(f'{variable}_{sector}_{frequency}_releases_affected', engine, index=False, if_exists='replace')

393

#### Dummies datasets

In [129]:
releases_base_year_dummies_df.to_sql(f'{variable}_{sector}_{frequency}_releases_base_year_dummies', engine, index=False, if_exists='replace')

393

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        <b>Only for monthly frequency</b>
    </span>
</div>

In [130]:
if frequency == 'monthly':

    releases_seasonal_dummies_df.to_sql(f'{variable}_{sector}_{frequency}_releases_seasonal_dummies', engine, index=False, if_exists='replace')

else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="6">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">6.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Merge all the releases datasets</span></h1>

<div id="steps-6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-6-1" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> Import releases datasets from <code>PostgresSQL</code></a>
    <br>
    <a href="#step-6-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Merge release datasets across all sectors</a>
    <br>
    <a href="#step-6-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Creating <b>time series</b> data of releases for all sectors</a>
    <br>
    <a href="#step-6-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Load releases time series to <code>PostgresSQL</code></a>
    <br>
    <a href="#step-6-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Creating <b>panel</b> data of releases for all sectors</a>
    <br>
    <a href="#step-6-6" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> Load releases panel to <code>PostgresSQL</code></a>
</div>

<div id="step-6-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Import releases datasets from <code>PostgresSQL</code></span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Set the sectors list
    <div/>

In [ ]:
sectors = ["gdp", "agriculture", "fishing", "mining", "manufacturing", 
           "electricity", "construction", "commerce", "services"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Load datasets from PostgresSQL
    <div/>

In [ ]:
# Dictionary to save dataframes from releases
releases_dfs = {}

In [ ]:
for sector in sectors:
    query_releases = f"SELECT * FROM {variable}_{sector}_{frequency}_releases;"
    query_releases_affected = f"SELECT * FROM {variable}_{sector}_{frequency}_releases_affected;"
    query_releases_base_year_dummies = f"SELECT * FROM {variable}_{sector}_{frequency}_releases_base_year_dummies;"
    
    releases_dfs[f"{sector}_releases"] = pd.read_sql(query_releases, engine)
    releases_dfs[f"{sector}_releases_affected"] = pd.read_sql(query_releases_affected, engine)
    releases_dfs[f"{sector}_releases_base_year_dummies"] = pd.read_sql(query_releases_base_year_dummies, engine)
    
    if frequency == 'monthly':
        query_releases_seasonal_dummies = f"SELECT * FROM {variable}_{sector}_{frequency}_releases_seasonal_dummies;"
        releases_dfs[f"{sector}_releases_seasonal_dummies"] = pd.read_sql(query_releases_seasonal_dummies, engine)

    else:
        print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select variable</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-6" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-6-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Merge release datasets across all sectors</span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Run the function to create merged dataframe for releases
    <div/>

In [ ]:
merged_releases = releases_datasets_merge(
    frequency,
    *[releases_dfs[f"{sector}_releases"] for sector in sectors]
)

merged_releases_affected = releases_datasets_merge(
    frequency,
    *[releases_dfs[f"{sector}_releases_affected"] for sector in sectors]
)

merged_releases_base_year_dummies = releases_datasets_merge(
    frequency,
    *[releases_dfs[f"{sector}_releases_base_year_dummies"] for sector in sectors]
)

if frequency == 'monthly':
    merged_releases_seasonal_dummies = releases_datasets_merge(
        frequency,
        *[releases_dfs[f"{sector}_releases_seasonal_dummies"] for sector in sectors]
    )

else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select variable</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-6" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-6-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Creating time series of releases for all sectors</span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Order by <code>vintages_date</code> and <code>horizon</code>. 
    <div/>

In [ ]:
releases_ts = sort_by_date(merged_releases)
releases_affected_ts = sort_by_date(merged_releases_affected)
releases_base_year_dummies_ts = sort_by_date(merged_releases_base_year_dummies)

# Monthly Specific
if frequency == 'monthly':
    releases_seasonal_dummies_ts = sort_by_date(merged_releases_seasonal_dummies)
    
    # Show the first rows
    display(releases_seasonal_dummies_ts.head(5))
    
else:
    print("The selected frequency is not monthly.")

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check data. 
    <div/>

In [ ]:
display(releases_ts.head(5))
display(releases_affected_ts.head(5))
display(releases_base_year_dummies_ts.head(5))

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select variable</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-6" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-6-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> <span>Load releases time series to <code>PostgresSQL</code></span>
  </div>

In [ ]:
releases_ts.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases', engine, index=False, if_exists='replace')
releases_affected_ts.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_affected', engine, index=False, if_exists='replace')
releases_base_year_dummies_ts.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_base_year_dummies', engine, index=False, if_exists='replace')

# Monthly Specific
if frequency == 'monthly':
    releases_seasonal_dummies_ts.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_seasonal_dummies', engine, index=False, if_exists='replace')
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select variable</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-6" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-6-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> <span>Creating <b>panel</b> data of releases for all sectors</span>
  </div>

In [ ]:
# Convert to panel
releases_panel = releases_convert_to_panel(releases_ts)
releases_affected_panel = releases_convert_to_panel(releases_affected_ts)
releases_base_year_dummies_panel = releases_convert_to_panel(releases_base_year_dummies_ts)

# Monthly Specific
if frequency == 'monthly':
    releases_seasonal_dummies_panel = releases_convert_to_panel(releases_seasonal_dummies_ts)
    
    # Show the first rows
    display(releases_seasonal_dummies_panel.head(5))
    
else:
    print("The selected frequency is not monthly.")

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check data. 
    <div/>

In [ ]:
display(releases_panel.head(5))
display(releases_affected_panel.head(5))
display(releases_base_year_dummies_panel.head(5))

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select variable</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-6" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-6-6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> <span>Load releases panel to <code>PostgresSQL</code></span>
  </div>

In [ ]:
releases_panel.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_panel', engine, index=False, if_exists='replace')
releases_affected_panel.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_affected_panel', engine, index=False, if_exists='replace')
releases_base_year_dummies_panel.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_base_year_dummies_panel', engine, index=False, if_exists='replace')

# Monthly Specific
if frequency == 'monthly':
    releases_seasonal_dummies_panel.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_seasonal_dummies_panel', engine, index=False, if_exists='replace')
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-variable" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select variable</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-sector" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-selector-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-6" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="7">
   <!-- Contenido de la celda de destino -->
</div>

<h1>
  <span style="color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">7.</span> 
  <span style="color: dark; font-family: PT Serif Pro Book;">
    Calculate revisions <span style="color: #0079FF;">(r)</span>, backcast errors <span style="color: #FF0060;">(e)</span> and cumulative revisions <span style="color: #00DFA2;">(z)</span>.
  </span>
</h1>

<div style="background-color: #0079FF; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <p style="text-align: left; color: #FFFFFF; font-size: 24px; margin: 10;">
        $r_t(h) = y_t(h) - y_t(h-1)$
    </p>
</div>

<div style="background-color: #FF0060; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <p style="text-align: left; color: #FFFFFF; font-size: 24px; margin: 10;">
        $e_t(h) = \sum_{s=h+1}^{\infty} r_t(s) = y_t - y_t(h)$
    </p>
</div>

<div style="background-color: #00DFA2; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <p style="text-align: left; color: #FFFFFF; font-size: 24px; margin: 10;">
        $z_t(h) = \sum_{s=1}^{h} r_t(s) = y_t(h) - y_t(1)$
    </p>
</div>

<div id="r-steps-7">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#r-steps-7-1" style="text-decoration: none; color: #292929"><span style="font-size: 24px; color: #292929">&#10122;</span> Filter the release dataset</a>
    <br>
    <a href="#r-steps-7-2" style="text-decoration: none; color: #292929"><span style="font-size: 24px; color: #292929">&#10123;</span> Calculate $r_t(h)$, $e_t(h)$ and $z_t(h)$</a>
    <br>
    <a href="#r-steps-7-3" style="text-decoration: none; color: #292929"><span style="font-size: 24px; color: #292929">&#10124;</span> Load <b>r, e and z</b> time series to <code>PostgresSQL</code></a>
    <br>
    <a href="#r-steps-7-4" style="text-decoration: none; color: #292929"><span style="font-size: 24px; color: #292929">&#10125;</span> Convert <b>r, e and z</b> dataset to panel</a>
    <br>
    <a href="#r-steps-7-5" style="text-decoration: none; color: #292929"><span style="font-size: 24px; color: #292929">&#10126;</span> Load <b>r, e and z</b> panel to <code>PostgresSQL</code></a>
</div>

<div id="r-steps-7-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: #292929">&#10122;</span> <span>Filter the release dataset</span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Make copies of release time series
    <div/>

In [ ]:
releases_copies = {
    f"releases_copy_{variable}": releases_ts.copy(),
    f"releases_affected_copy_{variable}": releases_affected_ts.copy(),
    f"releases_base_year_dummies_copy_{variable}": releases_base_year_dummies_ts.copy(),
}

In [ ]:
# Monthly Specific
if frequency == 'monthly':
    releases_copies[f"releases_seasonal_dummies_copy_{variable}"] = releases_seasonal_dummies_ts.copy()
else:
    print("The selected frequency is not monthly.")

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Filter the release dataset and sort by <code>vintages_date</code>
    <div/>

In [ ]:
for key in releases_copies:
    releases_copies[key] = releases_copies[key][
        (releases_copies[key]['vintages_date'] >= '1993-01-01') &
        (releases_copies[key]['vintages_date'] <= '2024-06-30')
    ].sort_values(by='vintages_date')

In [ ]:
# Monthly Specific
if frequency == 'monthly':
    seasonal_key = f"releases_seasonal_dummies_copy_{variable}"
    releases_copies[seasonal_key] = releases_copies[seasonal_key].sort_values(by='vintages_date')
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#r-steps-7" style="color: #292929; text-decoration: none;">⮝</a>
    </span> 
    <a href="#r-steps-7" style="color: #292929; text-decoration: none;">Back to steps.</a>
</div>

<div id="r-steps-7-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: #292929">&#10123;</span> <span>Calculate $r_t(h)$, $e_t(h)$ and $z_t(h)$</span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <ul>
        <li><span>$r_t(h) = y_t(h) - y_t(h-1)$</span></li>
        <li><span>$e_t(h) = \sum_{s=h+1}^{\infty} r_t(s) = y_t - y_t(h)$</span></li>
        <li><span>$z_t(h) = \sum_{s=1}^{h} r_t(s) = y_t(h) - y_t(1)$</span></li>
    </ul>
</div>

In [ ]:
# Dictionary to save r, e and z dataframes
revisions_dfs = {}

In [ ]:
# Calculate the prediction errors unaffected by the change of base year
revisions_dfs[f"{variable}"], max_release = globals()[f"calculate_{variable}"](releases_copies[f"releases_copy_{variable}"])

# Output the max release for verification
print(f"The maximum release number found: {max_release}")

# Calculate the prediction errors affected by the change of base year
revisions_dfs[f"{variable}_affected"], max_release_affected = globals()[f"calculate_{variable}"](releases_copies[f"releases_affected_copy_{variable}"])

# Output the max release for verification
print(f"The maximum release number found: {max_release_affected}")

# Calculate the errors for base year dummies
revisions_dfs[f"{variable}_base_year_dummies"], max_release_base_year_dummies = globals()[f"calculate_{variable}_dummies"](releases_copies[f"releases_base_year_dummies_copy_{variable}"])

# Output the max release for verification
print(f"The maximum release number found: {max_release_base_year_dummies}")

# Monthly Specific
if frequency == 'monthly':
    revisions_dfs[f"{variable}_seasonal_dummies"], max_release_seasonal_dummies = globals()[f"calculate_{variable}_dummies"](releases_copies[f"releases_seasonal_dummies_copy_{variable}"])
    
    # Check maximum release
    print(f"The maximum release number found: {max_release_seasonal_dummies}")
    
    # Show the first rows
    display(revisions_dfs[f"{variable}_seasonal_dummies"].head(5))
else:
    print("The selected frequency is not monthly.")

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check data
    <div/>

In [ ]:
display(revisions_dfs[f"{variable}"].head(5))
display(revisions_dfs[f"{variable}_affected"].head(5))
display(revisions_dfs[f"{variable}_base_year_dummies"].head(5))

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#r-steps-7" style="color: #292929; text-decoration: none;">⮝</a>
    </span> 
    <a href="#r-steps-7" style="color: #292929; text-decoration: none;">Back to steps.</a>
</div>

<div id="r-steps-7-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: #292929">&#10124;</span> <span>Load <b>r, e and z</b> time series to <code>PostgresSQL</code></span>
  </div>

In [ ]:
revisions_dfs[f"{variable}"].to_sql(f'{variable}_sectorial_gdp_{frequency}', engine, index=False, if_exists='replace')
revisions_dfs[f"{variable}_affected"].to_sql(f'{variable}_sectorial_gdp_{frequency}_affected', engine, index=False, if_exists='replace')
revisions_dfs[f"{variable}_base_year_dummies"].to_sql(f'{variable}_sectorial_gdp_{frequency}_base_year_dummies', engine, index=False, if_exists='replace')

In [ ]:
# Monthly Specific
if frequency == 'monthly':
    revisions_dfs[f"{variable}_seasonal_dummies"].to_sql(f'{variable}_sectorial_gdp_{frequency}_seasonal_dummies', engine, index=False, if_exists='replace')
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#r-steps-7" style="color: #292929; text-decoration: none;">⮝</a>
    </span> 
    <a href="#r-steps-7" style="color: #292929; text-decoration: none;">Back to steps.</a>
</div>

<div id="r-steps-7-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: #292929">&#10125;</span> <span>Convert <b>r, e and z</b> dataset to panel</span>
  </div>

In [ ]:
revisions_dfs[f"{variable}_panel"] = globals()[f"{variable}_to_panel"](revisions_dfs[f"{variable}"])
revisions_dfs[f"{variable}_affected_panel"] = globals()[f"{variable}_to_panel"](revisions_dfs[f"{variable}_affected"])
revisions_dfs[f"{variable}_base_year_dummies_panel"] = globals()[f"{variable}_dummies_to_panel"](revisions_dfs[f"{variable}_base_year_dummies"])

if frequency == 'monthly':
    revisions_dfs[f"{variable}_seasonal_dummies_panel"] = globals()[f"{variable}_dummies_to_panel"](revisions_dfs[f"{variable}_seasonal_dummies"])
    display(revisions_dfs[f"{variable}_seasonal_dummies_panel"].head(5))
else:
    print("The selected frequency is not monthly.")

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check data
    <div/>

In [ ]:
display(revisions_dfs[f"{variable}_panel"].head(5))
display(revisions_dfs[f"{variable}_affected_panel"].head(5))
display(revisions_dfs[f"{variable}_base_year_dummies_panel"].head(5))

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#r-steps-7" style="color: #292929; text-decoration: none;">⮝</a>
    </span> 
    <a href="#r-steps-7" style="color: #292929; text-decoration: none;">Back to steps.</a>
</div>

<div id="r-steps-7-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: #292929">&#10126;</span> <span>Load <b>r, e and z</b> panel to <code>PostgresSQL</code></span>
  </div>

In [ ]:
revisions_dfs[f"{variable}_panel"].to_sql(f'{variable}_sectorial_gdp_{frequency}_panel', engine, index=False, if_exists='replace')
revisions_dfs[f"{variable}_affected_panel"].to_sql(f'{variable}_sectorial_gdp_{frequency}_affected_panel', engine, index=False, if_exists='replace')
revisions_dfs[f"{variable}_base_year_dummies_panel"].to_sql(f'{variable}_sectorial_gdp_{frequency}_base_year_dummies_panel', engine, index=False, if_exists='replace')

In [ ]:
# Monthly Specific
if frequency == 'monthly':
    revisions_dfs[f"{variable}_seasonal_dummies_panel"].to_sql(f'{variable}_sectorial_gdp_{frequency}_seasonal_dummies_panel', engine, index=False, if_exists='replace')
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#r-steps-7" style="color: #292929; text-decoration: none;">⮝</a>
    </span> 
    <a href="#r-steps-7" style="color: #292929; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

---
---