<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
    <h1>
    Auxiliar Files to PostgresSQL
    </h1>
</div>

<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
    <h3>
        Documentation
        <br>
        ____________________
            </br>
    </h3>
</div>

<div style="text-align: center; font-family: 'PT Serif Pro Book'; color: rgb(0, 65, 75); font-size: 16px;">
    Jason Cruz
    <br>
    <a href="mailto:jj.cruza@up.edu.pe" style="color: rgb(0, 153, 123); font-size: 16px;">
        jj.cruza@up.edu.pe
    </a>
</div>

<div style="font-family: Amaya; text-align: left; color: rgb(0, 65, 75); font-size:16px">The following <b>outline is functional</b>. By utilising the provided buttons, users are able to enhance their experience by browsing this script.<div/>

<div id="outilne">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #292929; padding: 10px; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #E0E0E0;">
        Outline
    </h2>
    <br>
    <a href="#libraries" style="color: #94FFD8; font-size: 18px;">
        Libraries</a>
    <br>
    <a href="#setup" style="color: #94FFD8; font-size: 18px;">
        Initial set-up</a>
    <br>
    <a href="#1" style="color: #94FFD8; font-size: 18px;">
        1. Loading gdp_percentage_structure</a>
    <br>
    <a href="#2" style="color: #94FFD8; font-size: 18px;">
        2. Generate PDF input with key tables</a>
    <br>
    <a href="#3" style="color: #94FFD8; font-size: 18px;">    
        3. Load date, year, id and base year data</a>
    <br>
    <a href="#4" style="color: #94FFD8; font-size: 18px;">    
        4. Load dummies for raw data delivered by Central Bank</a>
    <br>
    <a href="#5" style="color: #94FFD8; font-size: 18px;">    
        5. Concatenate old_gdp_dataset with new_gdp_dataset</a>
    <br>
    <a href="#6" style="color: #94FFD8; font-size: 18px;">    
        6. Merge all the releases datasets</a>
    <br>
    <a href="#7" style="color: #94FFD8; font-size: 18px;">    
        7. Create cumulative revisions</a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Any questions or issues regarding the coding, please <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123)">email Jason Cruz
    </a>.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px"">
    If you don't have the libraries below, please use the following code (as example) to install the required libraries.
    <div/>

In [ ]:
#!pip install os # Comment this code with "#" if you have already installed this library.

<div id="libraries">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
import re

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="setup">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Initial set-up
    </h2>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

In [2]:
# Folder path to save the csv file of GDP percentage structure

gdp_perc_structure_folder = 'gdp_perc_structure'
if not os.path.exists(gdp_perc_structure_folder):
    os.makedirs(gdp_perc_structure_folder) # to create the folder (if it doesn't exist)

In [3]:
# Folder path to save the csv file of NS dates

ns_dates_folder = 'ns_dates'
if not os.path.exists(ns_dates_folder):
    os.makedirs(ns_dates_folder) # to create the folder (if it doesn't exist)

In [4]:
# Folder path to save the csv file of NS base year

ns_base_year_folder = 'ns_base_year'
if not os.path.exists(ns_base_year_folder):
    os.makedirs(ns_base_year_folder) # to create the folder (if it doesn't exist)

In [5]:
# Folder path to save the xlsx files delivered by Central Bank

data_delivered_folder = 'old_raw_data_delivered'
if not os.path.exists(data_delivered_folder):
    os.makedirs(data_delivered_folder) # to create the folder (if it doesn't exist)

<p style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following function will establish a connection to the <code>gdp_revisions_datasets</code> database in <code>PostgreSQL</code>. The <b>input data</b> used in this jupyter notebook will be loaded from this <code>PostgreSQL</code> database, and similarly, all <b>output data</b> generated by this jupyter notebook will be stored in that database. Ensure that you set the necessary parameters to access the server once you have obtained the required permissions.<p/>
    
<p style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
To request permissions, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"> <span style="font-size: 24px;">&#x2709;</span>
    </a>.
<p/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    Enter your user credentials to acces to SQL.
    <div/>

In [6]:
# Get environment variables
user = os.environ.get('CIUP_SQL_USER')
password = os.environ.get('CIUP_SQL_PASS')
host = os.environ.get('CIUP_SQL_HOST')
port = 5432
database = 'gdp_revisions_datasets'

# Check if all environment variables are defined
if not all([host, user, password]):
    raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

# Create connection string
connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Import all other functions required by this jupyter notebook.
    </span>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Please, check the script <code>gdp_revisions_datasets_functions.py</code> which contains all the functions required by this jupyter notebook. The functions there are ordered according to the <a href="#outilne" style="color: #3d30a2;">sections</a> of this jupyter notebok.<div/>

In [7]:
from gdp_revisions_datasets_functions import *

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading gdp_percentage_structure</span></h1>
    </div>

In [ ]:
# Loading csv data
gdp_percentage_structure = f'{gdp_perc_structure_folder}/gdp_percentage_structure.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
gdp_percentage_structure = pd.read_csv(gdp_percentage_structure, delimiter=';')
gdp_percentage_structure.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
gdp_percentage_structure.to_sql('gdp_percentage_structure', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">2.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Load date, year and id data</span></h1>
    </div>

In [ ]:
# Loading csv data
csv_file = f'{ns_dates_folder}/dates.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
dates = pd.read_csv(csv_file, delimiter=';')
dates.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Clean-up the dataframe columns.<div/>

In [ ]:
# Convert the 'date' column to datetime type without time
dates['date'] = pd.to_datetime(dates['date'], format='%d/%m/%Y', errors='coerce')

# Check the data type of the 'date' column after conversion
print(dates['date'].dtype)

# Check if there are NaT values in the 'date' column
print(dates['date'].isnull().sum())

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
dates.to_sql('dates_growth_rates', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">3.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Load date, year, id and base year data</span></h1>
    </div>

In [ ]:
# Loading csv data
csv_file = f'{ns_base_year_folder}/base_year.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
base_year = pd.read_csv(csv_file, delimiter=';')
base_year.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Clean-up the dataframe columns.<div/>

In [ ]:
# Convert the 'date' column to datetime type without time
base_year['date'] = pd.to_datetime(base_year['date'], format='%d/%m/%Y', errors='coerce')

# Check the data type of the 'date' column after conversion
print(base_year['date'].dtype)

# Check if there are NaT values in the 'date' column
print(base_year['date'].isnull().sum())

In [ ]:
# Change to str
base_year['year'] = base_year['year'].astype(str)
base_year['id_ns'] = base_year['id_ns'].apply(lambda x: f'{x:02}')
base_year['base_year'] = base_year['base_year'].astype(str)
base_year.head(10)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
base_year.to_sql('ns_base_year', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">4.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Load dummies for raw data delivered by Central Bank</span></h1>
    </div>

In [ ]:
# Loading csv data
delivered_data_dummies = f'{data_delivered_folder}/old_raw_data_delivered.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
delivered_data_dummies = pd.read_csv(delivered_data_dummies, delimiter=';')
delivered_data_dummies.head(5)

In [ ]:
delivered_data_dummies.to_sql('old_raw_data_delivered', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">5.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Concatenate old_gdp_dataset with new_gdp_dataset</span></h1>
    </div>

<div id="steps-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-5-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Select economic sector</a>
    <br>
    <a href="#step-5-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Select frequency</a>
    <br>
    <a href="#step-5-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Import dataframes from PostgresSQL</a>
    <br>
    <a href="#step-5-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Concatenate dataframes</a>
    <br>
    <a href="#step-5-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Load to PostgresSQL</a>
</div>

<div id="step-5-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Select economic sector</span>
  </div>

In [8]:
# Call the function to show the popup window
sector = show_option_window()
print("Selected economic sector:", sector)

Selected economic sector: gdp

<div id="step-5-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Select frequency</span>
  </div>

In [9]:
# Call the function to show the popup window
frequency = show_frequency_window()
print("Selected frequency:", frequency)

Selected frequency: annual

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: #2C4E80; font-weight: bold;">
        <a href="#step-5-3" style="color: #2C4E80; text-decoration: none;">⮟</a>
    </span> 
    <a href="#step-5-3" style="color: #2C4E80; text-decoration: none;">Continue with Step <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> in <b>Section 5</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#6" style="color: #836FFF; text-decoration: none;">⮟</a>
    </span> 
    <a href="#6" style="color: #836FFF; text-decoration: none;">Go to <b>Section 6</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#7" style="color: #836FFF; text-decoration: none;">⮟</a>
    </span> 
    <a href="#7" style="color: #836FFF; text-decoration: none;">Go to <b>Section 7</b>.</a>
</div>

<div id="step-5-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Import dataframes from PostgresSQL</span>
  </div>

In [ ]:
# Crear un DataFrame de pandas desde la tabla
query_1 = f"SELECT * FROM old_{sector}_{frequency}_growth_rates;"
df_1 = pd.read_sql(query_1, engine)

In [ ]:
# Crear un DataFrame de pandas desde la tabla
query_2 = f"SELECT * FROM new_{sector}_{frequency}_growth_rates;"
df_2 = pd.read_sql(query_2, engine)

<div id="step-5-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> <span>Concatenate dataframes</span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Comment the code below if you want the default option (display rows and columns of the dataframe in a limited way)
    <div/>

In [ ]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Run the function to create concatenated dataframe
    <div/>

In [ ]:
def concatenate_dataframes(df1, df2):
    # Concatenate the dataframes
    concatenated_df = pd.concat([df1, df2], ignore_index=True)
    
    return concatenated_df

# Call the function
globals()[f'{sector}_{frequency}_growth_rates'] = concatenate_dataframes(df_1, df_2)
df = globals()[f'{sector}_{frequency}_growth_rates']

# Display the resulting dataframe
df.head(10)

<div id="step-5-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> <span>Load to PostgresSQL</span>
  </div>

In [ ]:
df.to_sql(f'{sector}_{frequency}_growth_rates', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-5" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
df.columns

In [ ]:
print(df['date'].dtype)

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">6.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Merge all the releases datasets</span></h1>
    </div>

<div id="steps-6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-6-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Import dataframes from PostgresSQL</a>
    <br>
    <a href="#step-6-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Merge dataframes</a>
    <br>
    <a href="#step-6-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Order by vintages_date</a>
    <br>
    <a href="#step-6-6" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> Load to PostgresSQL</a>
</div>

<div id="step-6-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Import dataframes from PostgresSQL</span>
  </div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_1 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_1 = pd.read_sql(query_1, engine)
df_1.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_2 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_2 = pd.read_sql(query_2, engine)
df_2.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_3 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_3 = pd.read_sql(query_3, engine)
df_3.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_4 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_4 = pd.read_sql(query_4, engine)
df_4.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_5 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_5 = pd.read_sql(query_5, engine)
df_5.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_6 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_6 = pd.read_sql(query_6, engine)
df_6.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_7 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_7 = pd.read_sql(query_7, engine)
df_7.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_8 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_8 = pd.read_sql(query_8, engine)
df_8.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_9 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_9 = pd.read_sql(query_9, engine)
df_9.columns

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Run the function to create merged dataframe for releases
    <div/>

<div id="step-6-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> <span>Merge dataframes</span>
  </div>

In [ ]:
def merge_dataframes_by_vintage(frequency, *dataframes):
    """
    Merges multiple dataframes on the 'vintages_date' column.

    Parameters:
    frequency (str): The frequency to be used in the resulting dataframe name.
    *dataframes (pd.DataFrame): DataFrames to be merged.

    Returns:
    pd.DataFrame: The merged dataframe with the name 'sectorial_gdp_{frequency}_releases'.
    """
    # Initialize the merged dataframe with the first dataframe
    merged_df = dataframes[0]

    # Merge each dataframe on 'vintages_date'
    for df in dataframes[1:]:
        merged_df = pd.merge(merged_df, df, on='vintages_date', how='outer')

    # Define the name of the resulting dataframe
    result_name = f'sectorial_gdp_{frequency}_releases'
    
    # Assign the name to the dataframe (this is for reference, actual DataFrame doesn't have a 'name' attribute)
    merged_df.name = result_name

    return merged_df

In [ ]:
merged_df = merge_dataframes_by_vintage('monthly', df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9)
merged_df.head(20)

In [ ]:
merged_df.columns

<div id="step-6-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> <span>Order by vintages_date</span>
  </div>

In [ ]:
def sort_by_vintages_date(df):
    """
    Sorts the DataFrame by the 'vintages_date' column in ascending order.

    Parameters:
    df (pd.DataFrame): Input DataFrame with a datetime64[ns] column named 'vintages_date'.

    Returns:
    pd.DataFrame: Sorted DataFrame.
    """
    if 'vintages_date' not in df.columns:
        raise ValueError("The DataFrame does not contain a 'vintages_date' column.")
    
    if not pd.api.types.is_datetime64_ns_dtype(df['vintages_date']):
        raise TypeError("'vintages_date' column is not of type datetime64[ns].")

    return df.sort_values(by='vintages_date').reset_index(drop=True)

In [ ]:
merged_df = sort_by_vintages_date(merged_df)
merged_df.head(10)

<div id="step-6-6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> <span>Load to PostgresSQL</span>
  </div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-6" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

In [ ]:
merged_df.to_sql(f'sectorial_gdp_{frequency}_releases', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="7">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">7.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create cumulative revisions</span></h1>
    </div>

In [10]:
# Create a pandas DataFrame from the SQL table
query_releases_1 = f"SELECT * FROM sectorial_{sector}_{frequency}_releases;"
df_releases_1 = pd.read_sql(query_releases_1, engine)
df_releases_1

,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,services_release_31,services_release_32,services_release_33,services_release_34,services_release_35,services_release_36,services_release_37,services_release_38,services_release_39,services_most_recent
0,1993-01-01,6.4,6.4,6.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994-01-01,13.1,13.1,13.1,13.1,13.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1995-01-01,7.0,7.0,7.0,7.0,7.0,7.2,7.2,7.2,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
3,1996-01-01,2.8,2.8,2.8,2.8,2.6,2.6,2.6,2.6,2.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.2
4,1997-01-01,7.4,7.4,7.4,7.2,7.2,7.2,7.2,7.2,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.3
5,1998-01-01,0.7,0.7,0.7,0.7,0.7,0.3,0.3,0.3,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5
6,1999-01-01,3.8,3.8,3.8,3.8,3.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5
7,2000-01-01,3.6,3.6,3.6,3.6,3.6,3.1,3.1,3.1,3.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8
8,2001-01-01,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.3
9,2002-01-01,5.2,5.2,5.2,5.3,5.3,5.3,5.3,5.3,5.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.8
10,2003-01-01,4.0,4.0,4.0,4.1,4.1,4.1,3.8,3.8,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.6
11,2004-01-01,5.1,5.1,5.1,4.8,4.8,4.8,4.8,4.8,4.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.4
12,2005-01-01,6.7,6.7,6.7,6.6,6.4,6.4,6.4,6.4,6.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.8
13,2006-01-01,8.0,8.0,8.0,8.0,8.0,8.0,7.6,7.6,7.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.8
14,2022-01-01,2.7,2.7,2.7,2.7,2.7,2.7,2.7,2.7,2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.3
15,2007-01-01,9.0,9.0,9.0,9.0,8.9,8.9,8.9,8.9,8.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
16,2008-01-01,9.8,9.8,9.8,9.8,9.8,9.8,9.8,9.8,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1
17,2009-01-01,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.1
18,2015-01-01,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1
19,2010-01-01,8.8,8.8,8.8,8.8,8.8,8.8,8.8,8.8,8.8,...,7.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.7
20,2011-01-01,6.9,6.9,6.9,6.9,6.9,6.9,6.9,6.9,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1
21,2012-01-01,6.3,6.3,6.3,6.3,6.3,6.3,6.3,6.3,6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1
22,2013-01-01,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8
23,2014-01-01,2.4,2.4,2.4,2.4,2.4,2.4,2.4,2.4,2.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
24,2016-01-01,3.9,3.9,3.9,3.9,3.9,3.9,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1
25,2017-01-01,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,...,3.3,3.3,2.6,2.6,3.4,NaN,NaN,NaN,NaN,3.4
26,2018-01-01,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.4,4.4,4.3,NaN,NaN,NaN,NaN,NaN,NaN,4.3
27,2023-01-01,-0.6,-0.6,-0.6,-0.6,-0.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.4
28,2019-01-01,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,...,3.8,3.8,3.8,3.8,3.8,3.8,NaN,NaN,NaN,3.8
29,2020-01-01,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.0,-11.0,-11.0,...,-10.3,-10.3,-10.3,-10.1,-10.1,-10.1,-10.1,-10.1,-10.1,-10.1
30,2021-01-01,13.3,13.3,13.3,13.5,13.5,13.5,13.6,13.6,13.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.5

In [11]:
# Filter the dataframe for the desired date range
df_filtered_releases_1 = df_releases_1[(df_releases_1['vintages_date'] >= '1993-01-01') & (df_releases_1['vintages_date'] <= '2023-12-31')]

# Order the dataframe by the column 'vintages_date'
df_filtered_releases_1 = df_filtered_releases_1.sort_values(by='vintages_date')

In [12]:
df_filtered_releases_1.columns

Index(['vintages_date', 'gdp_release_1', 'gdp_release_2', 'gdp_release_3',
       'gdp_release_4', 'gdp_release_5', 'gdp_release_6', 'gdp_release_7',
       'gdp_release_8', 'gdp_release_9',
       ...
       'services_release_31', 'services_release_32', 'services_release_33',
       'services_release_34', 'services_release_35', 'services_release_36',
       'services_release_37', 'services_release_38', 'services_release_39',
       'services_most_recent'],
      dtype='object', length=361)

In [13]:
def calculate_cumulative_revisions(df):
    # Find the highest number following the pattern '_release_'
    release_numbers = []
    
    for col in df.columns:
        match = re.search(r'_release_(\d+)', col)
        if match:
            release_numbers.append(int(match.group(1)))
    
    # Determine the maximum release number
    max_release = max(release_numbers) if release_numbers else 0
    
    # Extract the names of variables with the specified suffixes
    variable_names = [col.replace(f'_release_{i}', '').replace('_most_recent', '') 
                      for i in range(1, max_release + 1)
                      for col in df.columns if f'_release_{i}' in col or '_most_recent' in col]
    
    # Remove duplicates from the variable names
    variable_names = list(set(variable_names))
    
    # Create a list to hold new columns
    new_columns = []
    
    # Create new revision variables for each found variable
    for variable in variable_names:
        for i in range(1, max_release):  # Iterate only until max_release - 1 (this avoid most_recent - (most_recent=last release)
            release_col = f"{variable}_release_{i}"
            most_recent_col = f"{variable}_most_recent"
            if release_col in df.columns and most_recent_col in df.columns:
                new_column_name = f"r_{i}_{variable}"
                # Perform the subtraction
                new_columns.append((new_column_name, df[most_recent_col] - df[release_col]))
    
    # Concatenate all new columns into the DataFrame at once
    if new_columns:
        df_new_columns = pd.DataFrame(dict(new_columns))
        df = pd.concat([df, df_new_columns], axis=1)

    # Return both the modified dataframe and the max_release value
    return df, max_release

In [14]:
# Apply the function to your dataframe and get max_release
df_filtered, max_release = calculate_cumulative_revisions(df_filtered_releases_1)

# Output the max_release for verification
print(f"The maximum release number found: {max_release}")

The maximum release number found: 39

In [15]:
df_filtered[['vintages_date', 'agriculture_release_1', 'agriculture_most_recent', 'r_1_agriculture']]

,vintages_date,agriculture_release_1,agriculture_most_recent,r_1_agriculture
0,1993-01-01,8.5,8.5,0.0
1,1994-01-01,13.7,13.7,0.0
2,1995-01-01,7.6,7.6,0.0
3,1996-01-01,5.6,5.5,-0.1
4,1997-01-01,4.9,4.9,0.0
5,1998-01-01,3.6,3.6,0.0
6,1999-01-01,12.1,12.1,0.0
7,2000-01-01,6.4,6.2,-0.2
8,2001-01-01,-0.6,0.5,1.1
9,2002-01-01,5.8,6.0,0.2
10,2003-01-01,2.3,2.1,-0.2
11,2004-01-01,-1.1,1.7,2.8
12,2005-01-01,4.6,4.8,0.2
13,2006-01-01,7.2,8.4,1.2
15,2007-01-01,3.1,3.2,0.1
16,2008-01-01,6.7,7.2,0.5
17,2009-01-01,2.3,2.3,0.0
19,2010-01-01,4.3,4.9,0.6
20,2011-01-01,3.8,4.5,0.7
21,2012-01-01,5.1,5.7,0.6
22,2013-01-01,2.2,2.2,0.0
23,2014-01-01,1.4,1.9,0.5
18,2015-01-01,2.8,3.5,0.7
24,2016-01-01,1.8,2.7,0.9
25,2017-01-01,2.6,2.8,0.2
26,2018-01-01,7.5,7.7,0.2
28,2019-01-01,3.2,3.5,0.3
29,2020-01-01,1.3,1.0,-0.3
30,2021-01-01,3.8,4.6,0.8
14,2022-01-01,4.3,4.5,0.2
27,2023-01-01,-2.9,-2.4,0.5

In [16]:
# Function to extract year or year_month based on frequency
def add_date_column(df, frequency):
    # Check if 'vintages_date' column exists in the dataframe
    if 'vintages_date' not in df.columns:
        raise KeyError("'vintages_date' column not found in the dataframe.")
    
    # Convert the 'vintages_date' column to datetime if it's not already
    df['vintages_date'] = pd.to_datetime(df['vintages_date'], errors='coerce')
    
    # Determine what column to create based on the frequency argument
    if frequency == 'monthly' or frequency == 'quarterly':
        # Extract the year and month for 'year_month'
        year_month_column = pd.DataFrame({'year_month': df['vintages_date'].dt.to_period('M').astype(str)})
        df = pd.concat([df, year_month_column], axis=1)
    
    elif frequency == 'annual':
        # Extract only the year for 'year'
        year_column = pd.DataFrame({'year': df['vintages_date'].dt.year})
        df = pd.concat([df, year_column], axis=1)
    
    else:
        raise ValueError("Invalid frequency. Please choose 'annual', 'quarterly', or 'monthly'.")
    
    return df

In [17]:
# Applying above function
df_filtered = add_date_column(df_filtered, frequency)  # You can change 'quarterly' to 'annual' or 'monthly'

In [18]:
df_filtered.head(30)

,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,r_30_gdp,r_31_gdp,r_32_gdp,r_33_gdp,r_34_gdp,r_35_gdp,r_36_gdp,r_37_gdp,r_38_gdp,year
0,1993-01-01,6.4,6.4,6.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
1,1994-01-01,13.1,13.1,13.1,13.1,13.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994
2,1995-01-01,7.0,7.0,7.0,7.0,7.0,7.2,7.2,7.2,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995
3,1996-01-01,2.8,2.8,2.8,2.8,2.6,2.6,2.6,2.6,2.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996
4,1997-01-01,7.4,7.4,7.4,7.2,7.2,7.2,7.2,7.2,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997
5,1998-01-01,0.7,0.7,0.7,0.7,0.7,0.3,0.3,0.3,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998
6,1999-01-01,3.8,3.8,3.8,3.8,3.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999
7,2000-01-01,3.6,3.6,3.6,3.6,3.6,3.1,3.1,3.1,3.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
8,2001-01-01,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
9,2002-01-01,5.2,5.2,5.2,5.3,5.3,5.3,5.3,5.3,5.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002
10,2003-01-01,4.0,4.0,4.0,4.1,4.1,4.1,3.8,3.8,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003
11,2004-01-01,5.1,5.1,5.1,4.8,4.8,4.8,4.8,4.8,4.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004
12,2005-01-01,6.7,6.7,6.7,6.6,6.4,6.4,6.4,6.4,6.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
13,2006-01-01,8.0,8.0,8.0,8.0,8.0,8.0,7.6,7.6,7.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006
15,2007-01-01,9.0,9.0,9.0,9.0,8.9,8.9,8.9,8.9,8.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
16,2008-01-01,9.8,9.8,9.8,9.8,9.8,9.8,9.8,9.8,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
17,2009-01-01,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
19,2010-01-01,8.8,8.8,8.8,8.8,8.8,8.8,8.8,8.8,8.8,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
20,2011-01-01,6.9,6.9,6.9,6.9,6.9,6.9,6.9,6.9,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
21,2012-01-01,6.3,6.3,6.3,6.3,6.3,6.3,6.3,6.3,6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
22,2013-01-01,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
23,2014-01-01,2.4,2.4,2.4,2.4,2.4,2.4,2.4,2.4,2.4,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
18,2015-01-01,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
24,2016-01-01,3.9,3.9,3.9,3.9,3.9,3.9,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
25,2017-01-01,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,...,0.0,0.0,0.0,0.4,0.4,0.0,NaN,NaN,NaN,2017
26,2018-01-01,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2018
28,2019-01-01,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2019
29,2020-01-01,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.0,-11.0,-11.0,...,0.1,0.1,0.1,0.1,0.0,0.0,0.0,0.0,0.0,2020
30,2021-01-01,13.3,13.3,13.3,13.5,13.5,13.5,13.6,13.6,13.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
14,2022-01-01,2.7,2.7,2.7,2.7,2.7,2.7,2.7,2.7,2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

In [19]:
df_filtered.columns

Index(['vintages_date', 'gdp_release_1', 'gdp_release_2', 'gdp_release_3',
       'gdp_release_4', 'gdp_release_5', 'gdp_release_6', 'gdp_release_7',
       'gdp_release_8', 'gdp_release_9',
       ...
       'r_30_gdp', 'r_31_gdp', 'r_32_gdp', 'r_33_gdp', 'r_34_gdp', 'r_35_gdp',
       'r_36_gdp', 'r_37_gdp', 'r_38_gdp', 'year'],
      dtype='object', length=704)

<div id="7">
   <!-- Contenido de la celda de destino -->
</div>

In [20]:
# Function to keep only 'vintages_date' and variables that start with 'r_'
def filter_revisions(df, frequency):
    # Determine the columns to keep based on the frequency
    if frequency in ['quarterly', 'monthly']:
        cols_to_keep = ['year_month'] + [col for col in df.columns if col.startswith('r_')]
    elif frequency == 'annual':
        cols_to_keep = ['year'] + [col for col in df.columns if col.startswith('r_')]
    else:
        raise ValueError("Invalid frequency value. Please use 'quarterly', 'monthly', or 'annual'.")

    return df[cols_to_keep]

In [21]:
df_filtered = filter_revisions(df_filtered, frequency)

In [23]:
def transponer_por_sector(df, frequency):
    # Verificar si usar 'year_month' o 'year' según la frecuencia
    if frequency in ['monthly', 'quarterly']:
        time_col = 'year_month'
    elif frequency == 'annual':
        time_col = 'year'
    else:
        raise ValueError("frequency debe ser 'monthly', 'quarterly' o 'annual'")
    
    # Obtener las categorías de sectores (ej. 'gdp', 'services', etc.)
    sectores = sorted(set(col.split('_')[2] for col in df.columns if col.startswith('r_')))
    
    # Crear un diccionario para almacenar las listas de valores de cada nueva columna
    data_transpuesta = {}
    
    # Para cada sector, agrupar todas las columnas correspondientes a ese sector
    for sector in sectores:
        # Filtrar las columnas correspondientes al sector actual
        cols_sector = [col for col in df.columns if f'_{sector}' in col]
        
        # Transponer las filas en columnas, usando los valores de 'year_month' o 'year' para el nombre
        for i, row in df.iterrows():
            time_value = row[time_col]
            
            # Convertir el valor de 'time_value' a entero si la frecuencia es anual
            if frequency == 'annual':
                time_value = int(time_value)
            
            sector_data = row[cols_sector]
            
            # Crear nombres de columna dinámicos con el formato "{sector}_{time_value}"
            for col, value in zip(cols_sector, sector_data):
                new_col_name = f"{sector}_{time_value}"
                
                # Si la columna aún no existe en el diccionario, se inicializa con NaN
                if new_col_name not in data_transpuesta:
                    data_transpuesta[new_col_name] = [value]
                else:
                    data_transpuesta[new_col_name].append(value)
    
    # Asegurarnos de que todas las listas en el diccionario tengan la misma longitud
    max_len = max(len(v) for v in data_transpuesta.values())
    for key in data_transpuesta:
        if len(data_transpuesta[key]) < max_len:
            data_transpuesta[key] += [np.nan] * (max_len - len(data_transpuesta[key]))
    
    # Convertir el diccionario en un dataframe
    df_transpuesto = pd.DataFrame(data_transpuesta)
    
    return df_transpuesto.reset_index(drop=True)

In [24]:
df_filtered_transposed = transponer_por_sector(df_filtered, frequency)
df_filtered_transposed

,agriculture_1993,agriculture_1994,agriculture_1995,agriculture_1996,agriculture_1997,agriculture_1998,agriculture_1999,agriculture_2000,agriculture_2001,agriculture_2002,...,services_2014,services_2015,services_2016,services_2017,services_2018,services_2019,services_2020,services_2021,services_2022,services_2023
0,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.1,-0.1,0.2,0.0,-0.1,0.0,0.2,-0.3,-0.1,0.0
1,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.1,-0.1,0.2,0.0,-0.1,0.0,0.2,-0.3,-0.1,0.0
2,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.1,-0.1,0.2,0.0,-0.1,0.0,0.2,-0.3,-0.1,-0.1
3,NaN,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.1,-0.1,0.2,0.1,-0.1,0.0,0.2,-0.4,-0.1,0.0
4,NaN,0.0,0.0,-0.3,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.1,-0.1,0.2,0.1,-0.1,0.0,0.2,-0.4,-0.1,0.0
5,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.1,-0.1,0.2,0.1,-0.1,0.0,0.2,-0.4,-0.1,NaN
6,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,-0.1,0.1,0.1,-0.1,0.0,0.2,-0.3,-0.1,NaN
7,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,-0.1,0.1,0.1,-0.1,0.0,0.2,-0.3,-0.1,NaN
8,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,-0.1,0.1,0.1,-0.1,0.0,0.2,-0.3,-0.1,NaN
9,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.0,-0.1,0.1,0.1,-0.2,0.0,0.2,-0.3,0.0,NaN
10,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.0,-0.1,0.1,0.1,-0.2,0.0,0.2,-0.3,0.0,NaN
11,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.0,-0.1,0.1,0.1,-0.2,0.0,0.2,-0.3,0.0,NaN
12,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.0,-0.1,0.1,0.1,-0.1,0.0,0.2,-0.4,0.0,NaN
13,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.0,-0.1,0.1,0.1,-0.1,0.0,0.2,-0.4,0.0,NaN
14,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.0,-0.1,0.1,0.1,-0.1,0.2,0.2,-0.4,0.0,NaN
15,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.0,-0.1,0.1,0.1,-0.1,0.2,0.3,0.1,0.0,NaN
16,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.3,...,0.0,-0.1,0.1,0.1,-0.1,0.2,0.3,0.1,0.0,NaN
17,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.3,...,0.0,-0.1,0.1,0.1,-0.1,0.2,0.3,0.1,NaN,NaN
18,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.1,0.0,-0.1,0.2,0.3,0.1,NaN,NaN
19,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.1,0.1,-0.1,0.2,0.3,0.1,NaN,NaN
20,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.1,0.1,-0.1,0.2,0.3,0.1,NaN,NaN
21,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.1,0.1,-0.1,0.2,0.3,0.0,NaN,NaN
22,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.1,0.1,-0.1,0.2,0.3,0.0,NaN,NaN
23,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.3,0.1,-0.1,0.2,0.3,0.0,NaN,NaN
24,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,NaN,0.0,0.1,-0.1,0.2,0.3,0.0,NaN,NaN
25,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,NaN,0.0,0.1,-0.1,0.2,0.3,0.0,NaN,NaN
26,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,0.0,NaN,0.0,0.1,-0.1,0.0,0.3,0.0,NaN,NaN
27,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0.1,-0.1,0.0,0.2,0.0,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0.1,-0.1,0.0,0.2,0.0,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0.1,-0.1,0.0,0.2,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.1,-0.1,0.0,0.2,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.1,-0.1,0.0,0.2,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.8,0.0,0.0,0.2,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.8,NaN,0.0,0.0,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [25]:
def add_horizon_target_time_trend(df):
    # Número de observaciones en el dataframe
    n = len(df)
    
    # Columna 'horizon' que va de 1 hasta n
    df['horizon'] = range(1, n + 1)
    
    # Columna 'target_date' que contiene el valor máximo (n)
    df['target_date'] = n
    
    # Columna 'time_trend' que es la diferencia entre target_date y horizon
    df['time_trend'] = df['target_date'] - df['horizon']
    
    # Convertir las columnas al tipo entero
    df['horizon'] = df['horizon'].astype(int)
    df['target_date'] = df['target_date'].astype(int)
    df['time_trend'] = df['time_trend'].astype(int)
    
    return df

In [26]:
fixed_events_df = add_horizon_target_time_trend(df_filtered_transposed)
fixed_events_df

,agriculture_1993,agriculture_1994,agriculture_1995,agriculture_1996,agriculture_1997,agriculture_1998,agriculture_1999,agriculture_2000,agriculture_2001,agriculture_2002,...,services_2017,services_2018,services_2019,services_2020,services_2021,services_2022,services_2023,horizon,target_date,time_trend
0,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,-0.1,0.0,0.2,-0.3,-0.1,0.0,1,38,37
1,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,-0.1,0.0,0.2,-0.3,-0.1,0.0,2,38,36
2,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,-0.1,0.0,0.2,-0.3,-0.1,-0.1,3,38,35
3,NaN,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.1,-0.1,0.0,0.2,-0.4,-0.1,0.0,4,38,34
4,NaN,0.0,0.0,-0.3,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.1,-0.1,0.0,0.2,-0.4,-0.1,0.0,5,38,33
5,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.1,-0.1,0.0,0.2,-0.4,-0.1,NaN,6,38,32
6,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.1,-0.1,0.0,0.2,-0.3,-0.1,NaN,7,38,31
7,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.1,-0.1,0.0,0.2,-0.3,-0.1,NaN,8,38,30
8,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.1,-0.1,0.0,0.2,-0.3,-0.1,NaN,9,38,29
9,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.1,-0.2,0.0,0.2,-0.3,0.0,NaN,10,38,28
10,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.1,-0.2,0.0,0.2,-0.3,0.0,NaN,11,38,27
11,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.1,-0.2,0.0,0.2,-0.3,0.0,NaN,12,38,26
12,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.1,-0.1,0.0,0.2,-0.4,0.0,NaN,13,38,25
13,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.1,-0.1,0.0,0.2,-0.4,0.0,NaN,14,38,24
14,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.1,-0.1,0.2,0.2,-0.4,0.0,NaN,15,38,23
15,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.1,-0.1,0.2,0.3,0.1,0.0,NaN,16,38,22
16,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.3,...,0.1,-0.1,0.2,0.3,0.1,0.0,NaN,17,38,21
17,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.3,...,0.1,-0.1,0.2,0.3,0.1,NaN,NaN,18,38,20
18,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,-0.1,0.2,0.3,0.1,NaN,NaN,19,38,19
19,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.1,-0.1,0.2,0.3,0.1,NaN,NaN,20,38,18
20,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.1,-0.1,0.2,0.3,0.1,NaN,NaN,21,38,17
21,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.1,-0.1,0.2,0.3,0.0,NaN,NaN,22,38,16
22,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.1,-0.1,0.2,0.3,0.0,NaN,NaN,23,38,15
23,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.1,-0.1,0.2,0.3,0.0,NaN,NaN,24,38,14
24,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.1,-0.1,0.2,0.3,0.0,NaN,NaN,25,38,13
25,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.1,-0.1,0.2,0.3,0.0,NaN,NaN,26,38,12
26,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,0.1,-0.1,0.0,0.3,0.0,NaN,NaN,27,38,11
27,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1,-0.1,0.0,0.2,0.0,NaN,NaN,28,38,10
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1,-0.1,0.0,0.2,0.0,NaN,NaN,29,38,9
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1,-0.1,0.0,0.2,NaN,NaN,NaN,30,38,8
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1,-0.1,0.0,0.2,NaN,NaN,NaN,31,38,7
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1,-0.1,0.0,0.2,NaN,NaN,NaN,32,38,6
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.8,0.0,0.0,0.2,NaN,NaN,NaN,33,38,5
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.8,NaN,0.0,0.0,NaN,NaN,NaN,34,38,4
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,35,38,3
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,36,38,2
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,37,38,1
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,38,38,0

In [27]:
fixed_events_df.columns

Index(['agriculture_1993', 'agriculture_1994', 'agriculture_1995',
       'agriculture_1996', 'agriculture_1997', 'agriculture_1998',
       'agriculture_1999', 'agriculture_2000', 'agriculture_2001',
       'agriculture_2002',
       ...
       'services_2017', 'services_2018', 'services_2019', 'services_2020',
       'services_2021', 'services_2022', 'services_2023', 'horizon',
       'target_date', 'time_trend'],
      dtype='object', length=282)

In [ ]:
pd.DataFrame(df_filtered_transposed.filter(like='gdp_'))

In [33]:
# Crear la variable dependiente (el cuadrado de 'services_2021')
fixed_events_df['services_2021_abs'] = fixed_events_df['services_2021'].abs()
fixed_events_df

,agriculture_1993,agriculture_1994,agriculture_1995,agriculture_1996,agriculture_1997,agriculture_1998,agriculture_1999,agriculture_2000,agriculture_2001,agriculture_2002,...,services_2019,services_2020,services_2021,services_2022,services_2023,horizon,target_date,time_trend,services_2021_squared,services_2021_abs
0,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,0.2,-0.3,-0.1,0.0,1,38,37,0.3,0.3
1,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,0.2,-0.3,-0.1,0.0,2,38,36,0.3,0.3
2,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,0.2,-0.3,-0.1,-0.1,3,38,35,0.3,0.3
3,NaN,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,0.2,-0.4,-0.1,0.0,4,38,34,0.4,0.4
4,NaN,0.0,0.0,-0.3,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,0.2,-0.4,-0.1,0.0,5,38,33,0.4,0.4
5,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,0.2,-0.4,-0.1,NaN,6,38,32,0.4,0.4
6,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,0.2,-0.3,-0.1,NaN,7,38,31,0.3,0.3
7,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,0.2,-0.3,-0.1,NaN,8,38,30,0.3,0.3
8,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,0.2,-0.3,-0.1,NaN,9,38,29,0.3,0.3
9,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.0,0.2,-0.3,0.0,NaN,10,38,28,0.3,0.3
10,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.0,0.2,-0.3,0.0,NaN,11,38,27,0.3,0.3
11,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.0,0.2,-0.3,0.0,NaN,12,38,26,0.3,0.3
12,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.0,0.2,-0.4,0.0,NaN,13,38,25,0.4,0.4
13,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.0,0.2,-0.4,0.0,NaN,14,38,24,0.4,0.4
14,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.2,0.2,-0.4,0.0,NaN,15,38,23,0.4,0.4
15,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.2,0.3,0.1,0.0,NaN,16,38,22,0.1,0.1
16,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.3,...,0.2,0.3,0.1,0.0,NaN,17,38,21,0.1,0.1
17,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.3,...,0.2,0.3,0.1,NaN,NaN,18,38,20,0.1,0.1
18,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.2,0.3,0.1,NaN,NaN,19,38,19,0.1,0.1
19,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.2,0.3,0.1,NaN,NaN,20,38,18,0.1,0.1
20,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.2,0.3,0.1,NaN,NaN,21,38,17,0.1,0.1
21,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.2,0.3,0.0,NaN,NaN,22,38,16,0.0,0.0
22,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.2,0.3,0.0,NaN,NaN,23,38,15,0.0,0.0
23,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.2,0.3,0.0,NaN,NaN,24,38,14,0.0,0.0
24,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.2,0.3,0.0,NaN,NaN,25,38,13,0.0,0.0
25,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.2,0.3,0.0,NaN,NaN,26,38,12,0.0,0.0
26,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,0.0,0.3,0.0,NaN,NaN,27,38,11,0.0,0.0
27,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.2,0.0,NaN,NaN,28,38,10,0.0,0.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.2,0.0,NaN,NaN,29,38,9,0.0,0.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.2,NaN,NaN,NaN,30,38,8,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.2,NaN,NaN,NaN,31,38,7,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.2,NaN,NaN,NaN,32,38,6,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.2,NaN,NaN,NaN,33,38,5,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,34,38,4,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,35,38,3,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,36,38,2,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,37,38,1,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,38,38,0,NaN,NaN

In [36]:
print(fixed_events_df[['services_2021_abs', 'time_trend']])

    services_2021_abs  time_trend
0                 0.3          37
1                 0.3          36
2                 0.3          35
3                 0.4          34
4                 0.4          33
5                 0.4          32
6                 0.3          31
7                 0.3          30
8                 0.3          29
9                 0.3          28
10                0.3          27
11                0.3          26
12                0.4          25
13                0.4          24
14                0.4          23
15                0.1          22
16                0.1          21
17                0.1          20
18                0.1          19
19                0.1          18
20                0.1          17
21                0.0          16
22                0.0          15
23                0.0          14
24                0.0          13
25                0.0          12
26                0.0          11
27                0.0          10
28                0.0           9
29                NaN           8
30                NaN           7
31                NaN           6
32                NaN           5
33                NaN           4
34                NaN           3
35                NaN           2
36                NaN           1
37                NaN           0

In [37]:
import statsmodels.api as sm

# Eliminar filas con NaN en las columnas necesarias para la regresión
clean_df = fixed_events_df[['services_2021_abs', 'time_trend']].dropna()

# Definir la variable independiente ('time_trend')
X = clean_df['time_trend']

# Agregar una constante para el término alpha (intercepto)
X = sm.add_constant(X)

# Definir la variable dependiente
y = clean_df['services_2021_abs']

# Ajustar el modelo de regresión
model = sm.OLS(y, X).fit()

# Imprimir los resultados del modelo
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      services_2021_abs   R-squared:                       0.742
Model:                            OLS   Adj. R-squared:                  0.733
Method:                 Least Squares   F-statistic:                     77.75
Date:                Tue, 01 Oct 2024   Prob (F-statistic):           1.96e-09
Time:                        14:32:13   Log-Likelihood:                 32.309
No. Observations:                  29   AIC:                            -60.62
Df Residuals:                      27   BIC:                            -57.88
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.1739      0.045     -3.890      0.001      -0.266      -0.082
time_trend     0.0161      0.002      8.818      0.000       0.012       0.020
==============================================================================
Omnibus:                        7.532   Durbin-Watson:                   0.698
Prob(Omnibus):                  0.023   Jarque-Bera (JB):                5.803
Skew:                           1.019   Prob(JB):                       0.0549
Kurtosis:                       3.806   Cond. No.                         71.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [39]:
df_filtered = fixed_events_df.iloc[:20]
df_filtered

,agriculture_1993,agriculture_1994,agriculture_1995,agriculture_1996,agriculture_1997,agriculture_1998,agriculture_1999,agriculture_2000,agriculture_2001,agriculture_2002,...,services_2019,services_2020,services_2021,services_2022,services_2023,horizon,target_date,time_trend,services_2021_squared,services_2021_abs
0,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,0.2,-0.3,-0.1,0.0,1,38,37,0.3,0.3
1,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,0.2,-0.3,-0.1,0.0,2,38,36,0.3,0.3
2,0.0,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,0.2,-0.3,-0.1,-0.1,3,38,35,0.3,0.3
3,NaN,0.0,0.0,-0.1,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,0.2,-0.4,-0.1,0.0,4,38,34,0.4,0.4
4,NaN,0.0,0.0,-0.3,0.0,0.0,0.0,-0.2,1.1,0.2,...,0.0,0.2,-0.4,-0.1,0.0,5,38,33,0.4,0.4
5,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,0.2,-0.4,-0.1,NaN,6,38,32,0.4,0.4
6,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,0.2,-0.3,-0.1,NaN,7,38,31,0.3,0.3
7,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,0.2,-0.3,-0.1,NaN,8,38,30,0.3,0.3
8,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.2,...,0.0,0.2,-0.3,-0.1,NaN,9,38,29,0.3,0.3
9,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.0,0.2,-0.3,0.0,NaN,10,38,28,0.3,0.3
10,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.0,0.2,-0.3,0.0,NaN,11,38,27,0.3,0.3
11,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,1.1,0.3,...,0.0,0.2,-0.3,0.0,NaN,12,38,26,0.3,0.3
12,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.0,0.2,-0.4,0.0,NaN,13,38,25,0.4,0.4
13,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.0,0.2,-0.4,0.0,NaN,14,38,24,0.4,0.4
14,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.2,0.2,-0.4,0.0,NaN,15,38,23,0.4,0.4
15,NaN,NaN,0.0,-0.3,0.0,0.0,NaN,0.0,0.0,0.3,...,0.2,0.3,0.1,0.0,NaN,16,38,22,0.1,0.1
16,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.3,...,0.2,0.3,0.1,0.0,NaN,17,38,21,0.1,0.1
17,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.3,...,0.2,0.3,0.1,NaN,NaN,18,38,20,0.1,0.1
18,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.2,0.3,0.1,NaN,NaN,19,38,19,0.1,0.1
19,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.2,0.3,0.1,NaN,NaN,20,38,18,0.1,0.1

In [40]:
import statsmodels.api as sm

# Eliminar filas con NaN en las columnas necesarias para la regresión
clean_df = df_filtered[['services_2021_abs', 'time_trend']].dropna()

# Definir la variable independiente ('time_trend')
X = clean_df['time_trend']

# Agregar una constante para el término alpha (intercepto)
X = sm.add_constant(X)

# Definir la variable dependiente
y = clean_df['services_2021_abs']

# Ajustar el modelo de regresión
model = sm.OLS(y, X).fit()

# Imprimir los resultados del modelo
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      services_2021_abs   R-squared:                       0.392
Model:                            OLS   Adj. R-squared:                  0.358
Method:                 Least Squares   F-statistic:                     11.58
Date:                Tue, 01 Oct 2024   Prob (F-statistic):            0.00317
Time:                        14:40:56   Log-Likelihood:                 20.330
No. Observations:                  20   AIC:                            -36.66
Df Residuals:                      18   BIC:                            -34.67
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0550      0.101     -0.547      0.591      -0.266       0.156
time_trend     0.0122      0.004      3.403      0.003       0.005       0.020
==============================================================================
Omnibus:                        1.832   Durbin-Watson:                   0.769
Prob(Omnibus):                  0.400   Jarque-Bera (JB):                1.553
Skew:                           0.589   Prob(JB):                        0.460
Kurtosis:                       2.310   Cond. No.                         137.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [41]:
def remove_nan_or_zero_float_columns(df):
    # Filtrar solo las columnas de tipo float
    float_columns = df.select_dtypes(include=['float'])
    
    # Identificar las columnas a eliminar (todas NaN, todas 0.0 o ambas)
    columns_to_drop = []
    for col in float_columns.columns:
        all_nan = float_columns[col].isna().all()         # Condición 1: todas NaN
        all_zero = (float_columns[col] == 0.0).all()      # Condición 2: todas 0.0
        nan_count = float_columns[col].isna().sum()        # Contar NaN
        zero_count = (float_columns[col] == 0.0).sum()     # Contar 0.0
        total_count = len(float_columns[col])               # Total de elementos en la columna
        
        # Condición 3: parte NaN y parte 0.0 y total debe ser igual a la longitud de la columna
        complementary_nan_and_zero = (nan_count + zero_count == total_count) and (nan_count > 0 and zero_count > 0)

        if all_nan or all_zero or complementary_nan_and_zero:
            columns_to_drop.append(col)
    
    # Eliminar las columnas identificadas
    df_filtered = df.drop(columns=columns_to_drop)
    
    return df_filtered

In [42]:
df_removed_columns = remove_nan_or_zero_float_columns(df_filtered)
df_removed_columns

,agriculture_1996,agriculture_2000,agriculture_2001,agriculture_2002,agriculture_2003,agriculture_2004,agriculture_2005,agriculture_2006,agriculture_2007,agriculture_2008,...,services_2019,services_2020,services_2021,services_2022,services_2023,horizon,target_date,time_trend,services_2021_squared,services_2021_abs
0,-0.1,-0.2,1.1,0.2,-0.2,2.8,0.2,1.2,0.1,0.5,...,0.0,0.2,-0.3,-0.1,0.0,1,38,37,0.3,0.3
1,-0.1,-0.2,1.1,0.2,-0.2,2.8,0.2,1.2,0.1,0.5,...,0.0,0.2,-0.3,-0.1,0.0,2,38,36,0.3,0.3
2,-0.1,-0.2,1.1,0.2,-0.2,2.8,0.2,1.2,0.1,0.5,...,0.0,0.2,-0.3,-0.1,-0.1,3,38,35,0.3,0.3
3,-0.1,-0.2,1.1,0.2,-0.1,2.8,-0.3,1.2,0.1,0.0,...,0.0,0.2,-0.4,-0.1,0.0,4,38,34,0.4,0.4
4,-0.3,-0.2,1.1,0.2,-0.1,2.8,0.0,1.2,-0.1,0.0,...,0.0,0.2,-0.4,-0.1,0.0,5,38,33,0.4,0.4
5,-0.3,0.0,1.1,0.2,-0.1,2.8,0.0,1.2,-0.1,0.0,...,0.0,0.2,-0.4,-0.1,NaN,6,38,32,0.4,0.4
6,-0.3,0.0,1.1,0.2,-0.2,2.8,0.0,1.0,-0.1,0.0,...,0.0,0.2,-0.3,-0.1,NaN,7,38,31,0.3,0.3
7,-0.3,0.0,1.1,0.2,-0.2,2.8,0.0,1.0,-0.1,0.0,...,0.0,0.2,-0.3,-0.1,NaN,8,38,30,0.3,0.3
8,-0.3,0.0,1.1,0.2,-0.2,2.8,0.0,1.0,-0.1,0.0,...,0.0,0.2,-0.3,-0.1,NaN,9,38,29,0.3,0.3
9,-0.3,0.0,1.1,0.3,-0.2,2.8,0.0,1.0,-0.1,0.0,...,0.0,0.2,-0.3,0.0,NaN,10,38,28,0.3,0.3
10,-0.3,0.0,1.1,0.3,-0.2,2.8,0.0,1.0,-0.1,0.0,...,0.0,0.2,-0.3,0.0,NaN,11,38,27,0.3,0.3
11,-0.3,0.0,1.1,0.3,-0.2,2.8,0.0,1.0,-0.1,0.0,...,0.0,0.2,-0.3,0.0,NaN,12,38,26,0.3,0.3
12,-0.3,0.0,0.0,0.3,-0.2,2.8,0.0,1.0,-0.1,0.0,...,0.0,0.2,-0.4,0.0,NaN,13,38,25,0.4,0.4
13,-0.3,0.0,0.0,0.3,-0.2,2.8,0.0,1.0,-0.1,0.0,...,0.0,0.2,-0.4,0.0,NaN,14,38,24,0.4,0.4
14,-0.3,0.0,0.0,0.3,-0.2,2.8,0.0,1.0,-0.1,0.0,...,0.2,0.2,-0.4,0.0,NaN,15,38,23,0.4,0.4
15,-0.3,0.0,0.0,0.3,0.0,2.8,0.0,1.0,-0.1,0.0,...,0.2,0.3,0.1,0.0,NaN,16,38,22,0.1,0.1
16,0.0,0.0,0.0,0.3,0.0,0.0,0.0,0.0,-0.1,0.0,...,0.2,0.3,0.1,0.0,NaN,17,38,21,0.1,0.1
17,0.0,0.0,0.0,0.3,0.0,0.0,0.0,0.0,-0.1,0.0,...,0.2,0.3,0.1,NaN,NaN,18,38,20,0.1,0.1
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.1,0.0,...,0.2,0.3,0.1,NaN,NaN,19,38,19,0.1,0.1
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.1,0.0,...,0.2,0.3,0.1,NaN,NaN,20,38,18,0.1,0.1

In [45]:
pd.DataFrame(df_removed_columns.filter(like='gdp_'))

,gdp_1995,gdp_1996,gdp_1997,gdp_1998,gdp_2000,gdp_2001,gdp_2002,gdp_2003,gdp_2004,gdp_2005,gdp_2006,gdp_2007,gdp_2016,gdp_2020,gdp_2021
0,0.2,-0.3,-0.5,-0.4,-0.5,0.1,-0.3,0.0,0.1,0.0,-0.3,-0.1,0.1,0.2,0.1
1,0.2,-0.3,-0.5,-0.4,-0.5,0.1,-0.3,0.0,0.1,0.0,-0.3,-0.1,0.1,0.2,0.1
2,0.2,-0.3,-0.5,-0.4,-0.5,0.1,-0.3,0.0,0.1,0.0,-0.3,-0.1,0.1,0.2,0.1
3,0.2,-0.3,-0.3,-0.4,-0.5,0.1,-0.4,-0.1,0.4,0.1,-0.3,-0.1,0.1,0.2,-0.1
4,0.2,-0.1,-0.3,-0.4,-0.5,0.1,-0.4,-0.1,0.4,0.3,-0.3,0.0,0.1,0.2,-0.1
5,0.0,-0.1,-0.3,0.0,0.0,0.1,-0.4,-0.1,0.4,0.3,-0.3,0.0,0.1,0.2,-0.1
6,0.0,-0.1,-0.3,0.0,0.0,0.1,-0.4,0.2,0.4,0.3,0.1,0.0,0.0,0.1,-0.2
7,0.0,-0.1,-0.3,0.0,0.0,0.1,-0.4,0.2,0.4,0.3,0.1,0.0,0.0,0.1,-0.2
8,0.0,-0.1,-0.3,0.0,0.0,0.1,-0.4,0.2,0.4,0.3,0.1,0.0,0.0,0.1,-0.2
9,0.0,-0.1,-0.3,0.0,0.0,0.1,0.0,0.2,0.4,0.3,0.1,0.0,0.0,0.1,-0.2
10,0.0,-0.1,-0.3,0.0,0.0,0.1,0.0,0.2,0.4,0.3,0.1,0.0,0.0,0.1,-0.2
11,0.0,-0.1,-0.3,0.0,0.0,0.1,0.0,0.2,0.4,0.3,0.1,0.0,0.0,0.1,-0.2
12,0.0,-0.1,-0.3,0.0,0.0,-0.3,0.0,0.2,0.4,0.3,0.1,0.0,0.0,0.1,-0.2
13,0.0,-0.1,-0.3,0.0,0.0,-0.3,0.0,0.2,0.4,0.3,0.1,0.0,0.0,0.1,-0.2
14,0.0,-0.1,-0.3,0.0,0.0,-0.3,0.0,0.2,0.4,0.3,0.1,0.0,0.0,0.1,-0.2
15,0.0,-0.1,-0.3,0.0,0.0,-0.3,0.0,0.0,0.4,0.2,0.1,0.0,0.0,0.1,0.1
16,0.0,0.0,0.0,0.0,0.0,-0.3,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.1,0.1
17,NaN,0.0,0.0,NaN,0.0,-0.3,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.1,0.1
18,NaN,0.0,0.0,NaN,0.0,-0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1
19,NaN,0.0,0.0,NaN,0.0,-0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1