<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
    <h1>
    Auxiliar Files to PostgresSQL
    </h1>
</div>

<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
    <h3>
        Documentation
        <br>
        ____________________
            </br>
    </h3>
</div>

<div style="text-align: center; font-family: 'PT Serif Pro Book'; color: rgb(0, 65, 75); font-size: 16px;">
    Jason Cruz
    <br>
    <a href="mailto:jj.cruza@up.edu.pe" style="color: rgb(0, 153, 123); font-size: 16px;">
        jj.cruza@up.edu.pe
    </a>
</div>

<div style="font-family: Amaya; text-align: left; color: rgb(0, 65, 75); font-size:16px">The following <b>outline is functional</b>. By utilising the provided buttons, users are able to enhance their experience by browsing this script.<div/>

<div id="outilne">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #292929; padding: 10px; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #E0E0E0;">
        Outline
    </h2>
    <br>
    <a href="#libraries" style="color: #94FFD8; font-size: 18px;">
        Libraries</a>
    <br>
    <a href="#setup" style="color: #94FFD8; font-size: 18px;">
        Initial set-up</a>
    <br>
    <a href="#1" style="color: #94FFD8; font-size: 18px;">
        1. Loading gdp_percentage_structure</a>
    <br>
    <a href="#2" style="color: #94FFD8; font-size: 18px;">
        2. Generate PDF input with key tables</a>
    <br>
    <a href="#3" style="color: #94FFD8; font-size: 18px;">    
        3. Load date, year, id and base year data</a>
    <br>
    <a href="#4" style="color: #94FFD8; font-size: 18px;">    
        4. Load dummies for raw data delivered by Central Bank</a>
    <br>
    <a href="#5" style="color: #94FFD8; font-size: 18px;">    
        5. Concatenate old_gdp_dataset with new_gdp_dataset</a>
    <br>
    <a href="#6" style="color: #94FFD8; font-size: 18px;">    
        6. Merge all the releases datasets</a>
    <br>
    <a href="#7" style="color: #94FFD8; font-size: 18px;">    
        7. Create cumulative revisions</a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Any questions or issues regarding the coding, please <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123)">email Jason Cruz
    </a>.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px"">
    If you don't have the libraries below, please use the following code (as example) to install the required libraries.
    <div/>

In [ ]:
#!pip install os # Comment this code with "#" if you have already installed this library.

<div id="libraries">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
import re

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="setup">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Initial set-up
    </h2>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

In [2]:
# Folder path to save the csv file of GDP percentage structure

gdp_perc_structure_folder = 'gdp_perc_structure'
if not os.path.exists(gdp_perc_structure_folder):
    os.makedirs(gdp_perc_structure_folder) # to create the folder (if it doesn't exist)

In [3]:
# Folder path to save the csv file of NS dates

ns_dates_folder = 'ns_dates'
if not os.path.exists(ns_dates_folder):
    os.makedirs(ns_dates_folder) # to create the folder (if it doesn't exist)

In [4]:
# Folder path to save the csv file of NS base year

ns_base_year_folder = 'ns_base_year'
if not os.path.exists(ns_base_year_folder):
    os.makedirs(ns_base_year_folder) # to create the folder (if it doesn't exist)

In [5]:
# Folder path to save the xlsx files delivered by Central Bank

data_delivered_folder = 'old_raw_data_delivered'
if not os.path.exists(data_delivered_folder):
    os.makedirs(data_delivered_folder) # to create the folder (if it doesn't exist)

<p style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following function will establish a connection to the <code>gdp_revisions_datasets</code> database in <code>PostgreSQL</code>. The <b>input data</b> used in this jupyter notebook will be loaded from this <code>PostgreSQL</code> database, and similarly, all <b>output data</b> generated by this jupyter notebook will be stored in that database. Ensure that you set the necessary parameters to access the server once you have obtained the required permissions.<p/>
    
<p style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
To request permissions, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"> <span style="font-size: 24px;">&#x2709;</span>
    </a>.
<p/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    Enter your user credentials to acces to SQL.
    <div/>

In [6]:
# Get environment variables
user = os.environ.get('CIUP_SQL_USER')
password = os.environ.get('CIUP_SQL_PASS')
host = os.environ.get('CIUP_SQL_HOST')
port = 5432
database = 'gdp_revisions_datasets'

# Check if all environment variables are defined
if not all([host, user, password]):
    raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

# Create connection string
connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Import all other functions required by this jupyter notebook.
    </span>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Please, check the script <code>gdp_revisions_datasets_functions.py</code> which contains all the functions required by this jupyter notebook. The functions there are ordered according to the <a href="#outilne" style="color: #3d30a2;">sections</a> of this jupyter notebok.<div/>

In [7]:
from gdp_revisions_datasets_functions import *

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading gdp_percentage_structure</span></h1>
    </div>

In [ ]:
# Loading csv data
gdp_percentage_structure = f'{gdp_perc_structure_folder}/gdp_percentage_structure.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
gdp_percentage_structure = pd.read_csv(gdp_percentage_structure, delimiter=';')
gdp_percentage_structure.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
gdp_percentage_structure.to_sql('gdp_percentage_structure', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">2.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Load date, year and id data</span></h1>
    </div>

In [ ]:
# Loading csv data
csv_file = f'{ns_dates_folder}/dates.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
dates = pd.read_csv(csv_file, delimiter=';')
dates.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Clean-up the dataframe columns.<div/>

In [ ]:
# Convert the 'date' column to datetime type without time
dates['date'] = pd.to_datetime(dates['date'], format='%d/%m/%Y', errors='coerce')

# Check the data type of the 'date' column after conversion
print(dates['date'].dtype)

# Check if there are NaT values in the 'date' column
print(dates['date'].isnull().sum())

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
dates.to_sql('dates_growth_rates', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">3.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Load date, year, id and base year data</span></h1>
    </div>

In [ ]:
# Loading csv data
csv_file = f'{ns_base_year_folder}/base_year.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
base_year = pd.read_csv(csv_file, delimiter=';')
base_year.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Clean-up the dataframe columns.<div/>

In [ ]:
# Convert the 'date' column to datetime type without time
base_year['date'] = pd.to_datetime(base_year['date'], format='%d/%m/%Y', errors='coerce')

# Check the data type of the 'date' column after conversion
print(base_year['date'].dtype)

# Check if there are NaT values in the 'date' column
print(base_year['date'].isnull().sum())

In [ ]:
# Change to str
base_year['year'] = base_year['year'].astype(str)
base_year['id_ns'] = base_year['id_ns'].apply(lambda x: f'{x:02}')
base_year['base_year'] = base_year['base_year'].astype(str)
base_year.head(10)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
base_year.to_sql('ns_base_year', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">4.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Load dummies for raw data delivered by Central Bank</span></h1>
    </div>

In [ ]:
# Loading csv data
delivered_data_dummies = f'{data_delivered_folder}/old_raw_data_delivered.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
delivered_data_dummies = pd.read_csv(delivered_data_dummies, delimiter=';')
delivered_data_dummies.head(5)

In [ ]:
delivered_data_dummies.to_sql('old_raw_data_delivered', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">5.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Concatenate old_gdp_dataset with new_gdp_dataset</span></h1>
    </div>

<div id="steps-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-5-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Select economic sector</a>
    <br>
    <a href="#step-5-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Select frequency</a>
    <br>
    <a href="#step-5-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Import dataframes from PostgresSQL</a>
    <br>
    <a href="#step-5-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Concatenate dataframes</a>
    <br>
    <a href="#step-5-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Load to PostgresSQL</a>
</div>

<div id="step-5-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Select economic sector</span>
  </div>

In [8]:
# Call the function to show the popup window
sector = show_option_window()
print("Selected economic sector:", sector)

Selected economic sector: gdp

<div id="step-5-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Select frequency</span>
  </div>

In [9]:
# Call the function to show the popup window
frequency = show_frequency_window()
print("Selected frequency:", frequency)

Selected frequency: monthly

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: #2C4E80; font-weight: bold;">
        <a href="#step-5-3" style="color: #2C4E80; text-decoration: none;">⮟</a>
    </span> 
    <a href="#step-5-3" style="color: #2C4E80; text-decoration: none;">Continue with Step <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> in <b>Section 5</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#6" style="color: #836FFF; text-decoration: none;">⮟</a>
    </span> 
    <a href="#6" style="color: #836FFF; text-decoration: none;">Go to <b>Section 6</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#7" style="color: #836FFF; text-decoration: none;">⮟</a>
    </span> 
    <a href="#7" style="color: #836FFF; text-decoration: none;">Go to <b>Section 7</b>.</a>
</div>

<div id="step-5-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Import dataframes from PostgresSQL</span>
  </div>

In [ ]:
# Crear un DataFrame de pandas desde la tabla
query_1 = f"SELECT * FROM old_{sector}_{frequency}_growth_rates;"
df_1 = pd.read_sql(query_1, engine)

In [ ]:
# Crear un DataFrame de pandas desde la tabla
query_2 = f"SELECT * FROM new_{sector}_{frequency}_growth_rates;"
df_2 = pd.read_sql(query_2, engine)

<div id="step-5-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> <span>Concatenate dataframes</span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Comment the code below if you want the default option (display rows and columns of the dataframe in a limited way)
    <div/>

In [ ]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Run the function to create concatenated dataframe
    <div/>

In [ ]:
def concatenate_dataframes(df1, df2):
    # Concatenate the dataframes
    concatenated_df = pd.concat([df1, df2], ignore_index=True)
    
    return concatenated_df

# Call the function
globals()[f'{sector}_{frequency}_growth_rates'] = concatenate_dataframes(df_1, df_2)
df = globals()[f'{sector}_{frequency}_growth_rates']

# Display the resulting dataframe
df.head(10)

<div id="step-5-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> <span>Load to PostgresSQL</span>
  </div>

In [ ]:
df.to_sql(f'{sector}_{frequency}_growth_rates', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-5" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
df.columns

In [ ]:
print(df['date'].dtype)

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">6.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Merge all the releases datasets</span></h1>
    </div>

<div id="steps-6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-6-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Import dataframes from PostgresSQL</a>
    <br>
    <a href="#step-6-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Merge dataframes</a>
    <br>
    <a href="#step-6-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Order by vintages_date</a>
    <br>
    <a href="#step-6-6" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> Load to PostgresSQL</a>
</div>

<div id="step-6-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Import dataframes from PostgresSQL</span>
  </div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_1 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_1 = pd.read_sql(query_1, engine)
df_1.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_2 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_2 = pd.read_sql(query_2, engine)
df_2.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_3 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_3 = pd.read_sql(query_3, engine)
df_3.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_4 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_4 = pd.read_sql(query_4, engine)
df_4.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_5 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_5 = pd.read_sql(query_5, engine)
df_5.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_6 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_6 = pd.read_sql(query_6, engine)
df_6.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_7 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_7 = pd.read_sql(query_7, engine)
df_7.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_8 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_8 = pd.read_sql(query_8, engine)
df_8.columns

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_9 = f"SELECT * FROM {sector}_{frequency}_releases;"
df_9 = pd.read_sql(query_9, engine)
df_9.columns

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Run the function to create merged dataframe for releases
    <div/>

<div id="step-6-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> <span>Merge dataframes</span>
  </div>

In [ ]:
def merge_dataframes_by_vintage(frequency, *dataframes):
    """
    Merges multiple dataframes on the 'vintages_date' column.

    Parameters:
    frequency (str): The frequency to be used in the resulting dataframe name.
    *dataframes (pd.DataFrame): DataFrames to be merged.

    Returns:
    pd.DataFrame: The merged dataframe with the name 'sectorial_gdp_{frequency}_releases'.
    """
    # Initialize the merged dataframe with the first dataframe
    merged_df = dataframes[0]

    # Merge each dataframe on 'vintages_date'
    for df in dataframes[1:]:
        merged_df = pd.merge(merged_df, df, on='vintages_date', how='outer')

    # Define the name of the resulting dataframe
    result_name = f'sectorial_gdp_{frequency}_releases'
    
    # Assign the name to the dataframe (this is for reference, actual DataFrame doesn't have a 'name' attribute)
    merged_df.name = result_name

    return merged_df

In [ ]:
merged_df = merge_dataframes_by_vintage('monthly', df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9)
merged_df.head(20)

In [ ]:
merged_df.columns

<div id="step-6-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> <span>Order by vintages_date</span>
  </div>

In [ ]:
def sort_by_vintages_date(df):
    """
    Sorts the DataFrame by the 'vintages_date' column in ascending order.

    Parameters:
    df (pd.DataFrame): Input DataFrame with a datetime64[ns] column named 'vintages_date'.

    Returns:
    pd.DataFrame: Sorted DataFrame.
    """
    if 'vintages_date' not in df.columns:
        raise ValueError("The DataFrame does not contain a 'vintages_date' column.")
    
    if not pd.api.types.is_datetime64_ns_dtype(df['vintages_date']):
        raise TypeError("'vintages_date' column is not of type datetime64[ns].")

    return df.sort_values(by='vintages_date').reset_index(drop=True)

In [ ]:
merged_df = sort_by_vintages_date(merged_df)
merged_df.head(10)

<div id="step-6-6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> <span>Load to PostgresSQL</span>
  </div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-6" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

In [ ]:
merged_df.to_sql(f'sectorial_gdp_{frequency}_releases', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-5-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="7">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">7.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create cumulative revisions</span></h1>
    </div>

In [84]:
# Create a pandas DataFrame from the SQL table
query_releases_1 = f"SELECT * FROM sectorial_{sector}_{frequency}_releases;"
df_releases_1 = pd.read_sql(query_releases_1, engine)
df_releases_1

,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,services_release_10,services_release_11,services_release_12,services_release_13,services_release_14,services_release_15,services_release_16,services_release_17,services_release_18,services_most_recent
0,1992-01-01,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,-7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,-5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2023-12-01,-0.7,-0.7,-0.7,-0.7,-0.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1
384,2024-01-01,1.4,1.4,1.5,1.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5
385,2024-02-01,2.8,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2
386,2024-03-01,-0.3,-0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6
387,2024-04-01,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.9

In [85]:
# Filter the dataframe for the desired date range
df_filtered_releases_1 = df_releases_1[(df_releases_1['vintages_date'] >= '1993-01-01') & (df_releases_1['vintages_date'] <= '2023-12-31')]

# Order the dataframe by the column 'vintages_date'
df_filtered_releases_1 = df_filtered_releases_1.sort_values(by='vintages_date')

In [86]:
df_filtered_releases_1.columns

Index(['vintages_date', 'gdp_release_1', 'gdp_release_2', 'gdp_release_3',
       'gdp_release_4', 'gdp_release_5', 'gdp_release_6', 'gdp_release_7',
       'gdp_release_8', 'gdp_release_9',
       ...
       'services_release_10', 'services_release_11', 'services_release_12',
       'services_release_13', 'services_release_14', 'services_release_15',
       'services_release_16', 'services_release_17', 'services_release_18',
       'services_most_recent'],
      dtype='object', length=175)

In [87]:
def calculate_cumulative_revisions(df):
    # Find the highest number following the pattern '_release_'
    release_numbers = []
    
    for col in df.columns:
        match = re.search(r'_release_(\d+)', col)
        if match:
            release_numbers.append(int(match.group(1)))
    
    # Determine the maximum release number
    max_release = max(release_numbers) if release_numbers else 0
    
    # Extract the names of variables with the specified suffixes
    variable_names = [col.replace(f'_release_{i}', '').replace('_most_recent', '') 
                      for i in range(1, max_release + 1)
                      for col in df.columns if f'_release_{i}' in col or '_most_recent' in col]
    
    # Remove duplicates from the variable names
    variable_names = list(set(variable_names))
    
    # Create a list to hold new columns
    new_columns = []
    
    # Create new revision variables for each found variable
    for variable in variable_names:
        for i in range(1, max_release + 1):
            release_col = f"{variable}_release_{i}"
            most_recent_col = f"{variable}_most_recent"
            if release_col in df.columns and most_recent_col in df.columns:
                new_column_name = f"r_{i}_{variable}"
                new_columns.append((new_column_name, df[most_recent_col] - df[release_col]))
    
    # Concatenate all new columns into the DataFrame at once
    if new_columns:
        df_new_columns = pd.DataFrame(dict(new_columns))
        df = pd.concat([df, df_new_columns], axis=1)

    # Return both the modified dataframe and the max_release value
    return df, max_release

In [88]:
# Apply the function to your dataframe and get max_release
df_filtered, max_release = calculate_cumulative_revisions(df_filtered_releases_1)

# Output the max_release for verification
print(f"The maximum release number found: {max_release}")

The maximum release number found: 19

In [89]:
df_filtered[['gdp_release_13', 'gdp_most_recent', 'r_13_gdp']]

     gdp_release_13  gdp_most_recent  r_13_gdp
12             -2.2             -2.1       0.1
13             -1.5             -1.5       0.0
14              5.0              5.0       0.0
15              5.9              5.9       0.0
16              4.0              4.0       0.0
..              ...              ...       ...
379             NaN             -0.4       NaN
380             NaN             -1.2       NaN
381             NaN             -0.7       NaN
382             NaN              0.3       NaN
383             NaN             -0.7       NaN

[372 rows x 3 columns]

In [90]:
# Function to extract year or year_month based on frequency
def add_date_column(df, frequency):
    # Check if 'vintages_date' column exists in the dataframe
    if 'vintages_date' not in df.columns:
        raise KeyError("'vintages_date' column not found in the dataframe.")
    
    # Convert the 'vintages_date' column to datetime if it's not already
    df['vintages_date'] = pd.to_datetime(df['vintages_date'], errors='coerce')
    
    # Determine what column to create based on the frequency argument
    if frequency == 'monthly' or frequency == 'quarterly':
        # Extract the year and month for 'year_month'
        year_month_column = pd.DataFrame({'year_month': df['vintages_date'].dt.to_period('M').astype(str)})
        df = pd.concat([df, year_month_column], axis=1)
    
    elif frequency == 'annual':
        # Extract only the year for 'year'
        year_column = pd.DataFrame({'year': df['vintages_date'].dt.year})
        df = pd.concat([df, year_column], axis=1)
    
    else:
        raise ValueError("Invalid frequency. Please choose 'annual', 'quarterly', or 'monthly'.")
    
    return df

In [91]:
# Applying above function
df_filtered = add_date_column(df_filtered, frequency)  # You can change 'quarterly' to 'annual' or 'monthly'

In [92]:
df_filtered.head(30)

,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,r_11_commerce,r_12_commerce,r_13_commerce,r_14_commerce,r_15_commerce,r_16_commerce,r_17_commerce,r_18_commerce,r_19_commerce,year_month
12,1993-01-01,1.2,1.3,1.3,1.3,-2.2,-2.2,-2.2,-2.2,-2.2,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-01
13,1993-02-01,0.1,0.2,0.1,0.2,-1.6,-1.6,-1.6,-1.6,-1.6,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-02
14,1993-03-01,5.7,5.8,5.9,5.9,5.0,5.0,5.0,5.0,4.9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-03
15,1993-04-01,7.2,7.2,7.3,7.3,6.0,6.0,6.0,6.0,6.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-04
16,1993-05-01,4.5,4.8,4.7,4.7,3.9,3.9,3.9,3.9,4.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-05
17,1993-06-01,7.6,8.2,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-06
19,1993-07-01,11.6,12.0,11.9,11.9,11.5,11.6,11.6,11.5,11.3,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-07
20,1993-08-01,11.2,11.8,11.8,11.8,12.5,12.5,12.5,12.5,12.6,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-08
21,1993-09-01,10.5,10.4,10.6,10.6,10.2,10.2,10.2,10.2,9.9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-09
22,1993-10-01,6.3,5.4,5.4,5.4,4.9,4.8,4.8,4.9,4.8,...,0.1,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-10
23,1993-11-01,7.5,9.0,9.0,9.0,9.6,9.6,9.6,9.6,9.7,...,-0.1,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1993-11
24,1993-12-01,7.7,8.7,8.7,9.3,9.3,9.3,9.3,9.4,9.4,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1993-12
25,1994-01-01,9.6,9.8,11.1,11.4,11.5,11.5,11.5,11.6,12.5,...,-1.5,-0.3,-0.3,-0.3,-0.3,0.0,0.0,0.0,0.0,1994-01
26,1994-02-01,6.5,6.5,6.7,6.7,6.7,6.6,6.9,7.3,7.0,...,-0.1,-0.1,-0.1,-0.1,0.0,0.0,0.0,0.0,NaN,1994-02
27,1994-03-01,8.3,10.6,10.6,10.7,11.0,11.1,12.3,12.2,12.2,...,-0.7,-0.7,-0.7,0.0,0.0,0.0,0.0,0.0,NaN,1994-03
28,1994-04-01,13.8,14.1,14.1,14.5,14.7,15.6,15.5,15.5,15.4,...,-0.1,-0.1,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1994-04
29,1994-05-01,16.3,16.9,16.7,16.7,17.7,17.6,17.6,17.4,17.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1994-05
30,1994-06-01,14.6,14.9,15.0,15.2,15.3,15.3,14.9,14.9,14.9,...,0.1,0.1,0.1,0.1,0.1,0.0,0.0,0.0,NaN,1994-06
31,1994-07-01,8.9,10.0,9.1,9.5,9.5,10.3,10.3,10.3,10.3,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.0,NaN,1994-07
32,1994-08-01,8.9,8.9,9.9,9.9,10.1,10.1,10.1,10.1,9.8,...,2.5,2.5,2.5,2.2,2.2,2.2,0.0,0.0,NaN,1994-08
33,1994-09-01,11.8,11.9,11.6,11.7,11.7,11.7,11.7,12.0,12.0,...,-0.4,-0.4,-0.2,-0.2,-0.2,0.0,0.0,0.0,NaN,1994-09
34,1994-10-01,18.3,17.7,17.4,17.4,17.4,17.4,17.3,17.2,17.2,...,0.2,0.2,0.2,0.2,0.0,0.0,0.0,0.0,NaN,1994-10
35,1994-11-01,14.9,15.6,15.6,15.6,15.6,15.9,15.9,15.9,15.9,...,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,0.0,NaN,1994-11
36,1994-12-01,9.6,9.6,9.6,9.6,10.9,10.9,10.9,10.9,10.9,...,0.4,0.4,0.1,0.1,0.1,0.1,0.0,0.0,NaN,1994-12
37,1995-01-01,12.4,12.4,13.5,13.3,13.3,13.1,13.1,13.1,13.1,...,7.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1995-01
38,1995-02-01,11.8,13.7,13.6,13.5,13.9,13.9,13.9,13.2,13.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1995-02
39,1995-03-01,5.9,6.8,6.3,6.3,6.3,6.3,6.0,6.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1995-03
40,1995-04-01,7.2,7.0,6.9,6.9,6.9,7.2,7.2,7.2,7.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1995-04
41,1995-05-01,10.1,10.9,10.9,10.9,11.4,11.4,11.4,12.3,12.3,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,1995-05
42,1995-06-01,5.6,5.5,5.5,6.0,6.3,6.3,6.9,6.9,6.9,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1995-06

In [93]:
df_filtered.columns

Index(['vintages_date', 'gdp_release_1', 'gdp_release_2', 'gdp_release_3',
       'gdp_release_4', 'gdp_release_5', 'gdp_release_6', 'gdp_release_7',
       'gdp_release_8', 'gdp_release_9',
       ...
       'r_11_commerce', 'r_12_commerce', 'r_13_commerce', 'r_14_commerce',
       'r_15_commerce', 'r_16_commerce', 'r_17_commerce', 'r_18_commerce',
       'r_19_commerce', 'year_month'],
      dtype='object', length=341)

<div id="7">
   <!-- Contenido de la celda de destino -->
</div>

In [94]:
# Function to keep only 'vintages_date' and variables that start with 'r_'
def filter_revisions(df, frequency):
    # Determine the columns to keep based on the frequency
    if frequency in ['quarterly', 'monthly']:
        cols_to_keep = ['year_month'] + [col for col in df.columns if col.startswith('r_')]
    elif frequency == 'annual':
        cols_to_keep = ['year'] + [col for col in df.columns if col.startswith('r_')]
    else:
        raise ValueError("Invalid frequency value. Please use 'quarterly', 'monthly', or 'annual'.")

    return df[cols_to_keep]

In [96]:
df_filtered = filter_revisions(df_filtered, frequency)

In [102]:
print(df_filtered.head(3))

   year_month  r_1_services  r_2_services  r_3_services  r_4_services  \
12    1993-01           NaN           NaN           NaN           NaN
13    1993-02           NaN           NaN           NaN           NaN
14    1993-03           NaN           NaN           NaN           NaN

    r_5_services  r_6_services  r_7_services  r_8_services  r_9_services  ...  \
12           NaN           NaN           NaN           NaN           NaN  ...
13           NaN           NaN           NaN           NaN           NaN  ...
14           NaN           NaN           NaN           NaN           NaN  ...

    r_10_commerce  r_11_commerce  r_12_commerce  r_13_commerce  r_14_commerce  \
12            0.1            0.0            0.0            0.0            0.0
13            0.0            0.0            0.0            0.0            0.0
14            0.0            0.0            0.0            0.0            0.0

    r_15_commerce  r_16_commerce  r_17_commerce  r_18_commerce  r_19_commerce
12            NaN            NaN            NaN            NaN            NaN
13            NaN            NaN            NaN            NaN            NaN
14            NaN            NaN            NaN            NaN            NaN

[3 rows x 166 columns]

In [98]:
pd.DataFrame(df_filtered[['year_month', 'r_1_gdp']])

    year_month  r_1_gdp
12     1993-01     -3.3
13     1993-02     -1.6
14     1993-03     -0.7
15     1993-04     -1.3
16     1993-05     -0.5
..         ...      ...
379    2023-08      0.2
380    2023-09      0.1
381    2023-10      0.1
382    2023-11      0.0
383    2023-12      0.0

[372 rows x 2 columns]

In [113]:
import pandas as pd
import numpy as np

def transponer_por_sector(df, frequency):
    # Verificar si usar 'year_month' o 'year' según la frecuencia
    if frequency in ['monthly', 'quarterly']:
        time_col = 'year_month'
    elif frequency == 'annual':
        time_col = 'year'
    else:
        raise ValueError("frequency debe ser 'monthly', 'quarterly' o 'annual'")
    
    # Obtener las categorías de sectores (ej. 'gdp', 'services', etc.)
    sectores = sorted(set(col.split('_')[2] for col in df.columns if col.startswith('r_')))
    
    # Crear un diccionario para almacenar las listas de valores de cada nueva columna
    data_transpuesta = {}
    
    # Para cada sector, agrupar todas las columnas correspondientes a ese sector
    for sector in sectores:
        # Filtrar las columnas correspondientes al sector actual
        cols_sector = [col for col in df.columns if f'_{sector}' in col]
        
        # Transponer las filas en columnas, usando los valores de 'year_month' o 'year' para el nombre
        for i, row in df.iterrows():
            time_value = row[time_col]
            sector_data = row[cols_sector]
            
            # Crear nombres de columna dinámicos con el formato "{sector}_{time_value}"
            for col, value in zip(cols_sector, sector_data):
                new_col_name = f"{sector}_{time_value}"
                
                # Si la columna aún no existe en el diccionario, se inicializa con NaN
                if new_col_name not in data_transpuesta:
                    data_transpuesta[new_col_name] = [value]
                else:
                    data_transpuesta[new_col_name].append(value)
    
    # Asegurarnos de que todas las listas en el diccionario tengan la misma longitud
    max_len = max(len(v) for v in data_transpuesta.values())
    for key in data_transpuesta:
        if len(data_transpuesta[key]) < max_len:
            data_transpuesta[key] += [np.nan] * (max_len - len(data_transpuesta[key]))
    
    # Convertir el diccionario en un dataframe
    df_transpuesto = pd.DataFrame(data_transpuesta)
    
    return df_transpuesto.reset_index(drop=True)

In [114]:
df_filtered_transposed = transponer_por_sector(df_filtered, frequency)
df_filtered_transposed

,agriculture_1993-01,agriculture_1993-02,agriculture_1993-03,agriculture_1993-04,agriculture_1993-05,agriculture_1993-06,agriculture_1993-07,agriculture_1993-08,agriculture_1993-09,agriculture_1993-10,...,services_2023-03,services_2023-04,services_2023-05,services_2023-06,services_2023-07,services_2023-08,services_2023-09,services_2023-10,services_2023-11,services_2023-12
0,0.6,0.5,0.8,0.7,0.5,0.1,-0.3,2.1,-0.5,0.7,...,0.0,0.2,0.1,0.2,0.1,-0.2,-0.2,-0.1,-0.5,0.0
1,0.6,0.5,0.8,0.7,0.5,0.1,-0.3,2.1,-0.5,0.7,...,0.0,0.2,0.1,0.2,0.1,-0.3,-0.2,-0.1,0.0,0.0
2,0.2,0.5,-0.6,-0.2,0.6,0.4,-0.6,1.3,-1.1,-0.7,...,0.0,0.1,0.1,0.2,0.1,-0.3,-0.2,0.2,0.0,0.0
3,0.2,0.0,-0.6,-0.2,0.6,0.4,-0.6,1.3,-1.1,-0.7,...,0.0,0.2,0.1,0.2,0.1,-0.3,-0.2,0.2,-0.7,0.0
4,0.2,0.4,-0.5,-0.2,0.6,0.4,-0.7,1.1,-1.3,-0.8,...,0.0,0.2,0.0,0.2,0.1,-0.4,-0.2,0.0,0.0,0.0
5,0.2,0.4,-0.5,-0.2,0.6,0.4,-0.7,1.1,-1.3,-0.8,...,0.0,0.1,0.0,0.2,0.0,-0.4,-0.2,0.0,0.0,NaN
6,0.2,0.4,-0.5,-0.2,0.6,0.4,-0.7,1.1,-1.3,-0.8,...,-0.1,0.1,0.0,0.2,0.0,-0.3,0.0,0.0,NaN,NaN
7,0.2,0.4,-0.5,-0.2,0.6,0.4,-0.7,1.1,-1.3,-0.8,...,-0.1,0.1,0.0,0.2,0.1,0.0,0.0,NaN,NaN,NaN
8,0.2,0.4,0.4,-0.1,-0.2,0.1,0.1,-0.1,0.7,0.0,...,-0.1,0.1,0.0,0.1,0.0,0.0,NaN,NaN,NaN,NaN
9,0.2,0.4,0.4,-0.1,-0.2,0.1,0.1,-0.1,0.7,0.0,...,-0.1,0.1,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.1,0.1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
df_filtered_transposed.columns

Index(['agriculture_1993-01', 'agriculture_1993-02', 'agriculture_1993-03',
       'agriculture_1993-04', 'agriculture_1993-05', 'agriculture_1993-06',
       'agriculture_1993-07', 'agriculture_1993-08', 'agriculture_1993-09',
       'agriculture_1993-10',
       ...
       'services_2023-03', 'services_2023-04', 'services_2023-05',
       'services_2023-06', 'services_2023-07', 'services_2023-08',
       'services_2023-09', 'services_2023-10', 'services_2023-11',
       'services_2023-12'],
      dtype='object', length=3348)