<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
    <h1>
    Auxiliar script for releases, revisions and more
    </h1>
</div>

<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
    <h3>
        Documentation
        <br>
        ____________________
            </br>
    </h3>
</div>

<div style="text-align: center; font-family: 'PT Serif Pro Book'; color: rgb(0, 65, 75); font-size: 16px;">
    Jason Cruz
    <br>
    <a href="mailto:jj.cruza@up.edu.pe" style="color: rgb(0, 153, 123); font-size: 16px;">
        jj.cruza@up.edu.pe
    </a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> This auxiliary script serves to load the main project’s input data into SQL, and to merge (concatenate) both the old and new GDP datasets, along with the release datasets. However, the most significant advancement lies in the creation of cumulative and ongoing revisions data, which is derived from the outputs of the main project scripts. Additionally, this script should be viewed as a non-trivial extension to the remaining project scripts.<div/>

<div style="font-family: Amaya; text-align: left; color: rgb(0, 65, 75); font-size:16px">The following <b>outline is functional</b>. By utilising the provided buttons, users are able to enhance their experience by browsing this script.<div/>

<div id="outilne">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #292929; padding: 10px; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #E0E0E0;">
        Outline
    </h2>
    <br>
    <a href="#libraries" style="color: #94FFD8; font-size: 18px;">
        Libraries</a>
    <br>
    <a href="#setup" style="color: #94FFD8; font-size: 18px;">
        Initial set-up</a>
    <br>
    <a href="#selector" style="color: #94FFD8; font-size: 18px;">
        Select <code>sector</code> and <code>frequency</code></a>
    <br>
    <a href="#1" style="color: #94FFD8; font-size: 18px;">
        1. Loading <code>gdp_percentage_structure.csv</code></a>
    <br>
    <a href="#2" style="color: #94FFD8; font-size: 18px;">
        2. Load <code>dates.csv</code> data</a>
    <br>
    <a href="#3" style="color: #94FFD8; font-size: 18px;">    
        3. Load <code>base_year</code> data</a>
    <br>
    <a href="#4" style="color: #94FFD8; font-size: 18px;">    
        4. Loading <code>old_raw_data_available.csv</code> data</a>
    <br>
    <a href="#5" style="color: #94FFD8; font-size: 18px;">    
        5. Load irregular calendar of revisions: <code>irregular_calendar_table_1.csv</code></a>
    <br>
    <a href="#6" style="color: #94FFD8; font-size: 18px;">    
        6. Concatenate <code>old_gdp_dataset</code> with <code>new_gdp_dataset</code></a>
    <br>
    <a href="#7" style="color: #94FFD8; font-size: 18px;">    
        7. Merge all the releases datasets</a>
    <br>
    <a href="#8" style="color: #94FFD8; font-size: 18px;">    
        8. Create nowcast errors</a>
    <br>
    <a href="#9" style="color: #94FFD8; font-size: 18px;">    
        9. Create revisions</a>
    <br>
    <a href="#10" style="color: #94FFD8; font-size: 18px;">    
        10. Merge both nowcast errors and revisions</a>
    <br>
    <a href="#11" style="color: #94FFD8; font-size: 18px;">    
        11. Merge revisions and releases</a>
    <br>
    <a href="#12" style="color: #94FFD8; font-size: 18px;">    
        12. Merge forecast errors and releases</a>
    <br>
    <a href="#13" style="color: #94FFD8; font-size: 18px;">    
        13. Create revision dummies</a>
    <br>
    <a href="#14" style="color: #94FFD8; font-size: 18px;">    
        14. Create base year dummies of revision</a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Any questions or issues regarding the coding, please <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123)">email Jason Cruz
    </a>.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px"">
    If you don't have the libraries below, please use the following code (as example) to install the required libraries.
    <div/>

In [ ]:
#!pip install os # Comment this code with "#" if you have already installed this library.

<div id="libraries">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [18]:
import pandas as pd
import os
from sqlalchemy import create_engine
import re

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="setup">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Initial set-up
    </h2>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

In [19]:
# Folder path to save the csv file of GDP percentage structure

gdp_perc_structure_folder = 'gdp_perc_structure'
if not os.path.exists(gdp_perc_structure_folder):
    os.makedirs(gdp_perc_structure_folder) # to create the folder (if it doesn't exist)

In [20]:
# Folder path to save the csv file of NS dates

ns_dates_folder = 'ns_dates'
if not os.path.exists(ns_dates_folder):
    os.makedirs(ns_dates_folder) # to create the folder (if it doesn't exist)

In [21]:
# Folder path to save the csv file of NS base year

ns_base_year_folder = 'ns_base_year'
if not os.path.exists(ns_base_year_folder):
    os.makedirs(ns_base_year_folder) # to create the folder (if it doesn't exist)

In [22]:
# Folder path to save specific xlsx files of Table 1 and 2 (those extracted by OCR or by hand)

old_raw_data_available_folder = 'old_raw_data_available'
if not os.path.exists(old_raw_data_available_folder):
    os.makedirs(old_raw_data_available_folder) # to create the folder (if it doesn't exist)

In [23]:
# Folder path to save the irregular calendar of revisions (.xlsx) files 

irregular_calendar_folder = 'revisions_irregular_calendar'
if not os.path.exists(irregular_calendar_folder):
    os.makedirs(irregular_calendar_folder) # to create the folder (if it doesn't exist)

<p style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following function will establish a connection to the <code>gdp_revisions_datasets</code> database in <code>PostgreSQL</code>. The <b>input data</b> used in this jupyter notebook will be loaded from this <code>PostgreSQL</code> database, and similarly, all <b>output data</b> generated by this jupyter notebook will be stored in that database. Ensure that you set the necessary parameters to access the server once you have obtained the required permissions.<p/>
    
<p style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
To request permissions, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"> <span style="font-size: 24px;">&#x2709;</span>
    </a>.
<p/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    Enter your user credentials to acces to SQL.
    <div/>

In [24]:
# Get environment variables
user = os.environ.get('CIUP_SQL_USER')
password = os.environ.get('CIUP_SQL_PASS')
host = os.environ.get('CIUP_SQL_HOST')
port = 5432
database = 'gdp_revisions_datasets'

# Check if all environment variables are defined
if not all([host, user, password]):
    raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

# Create connection string
connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Import all other functions required by this jupyter notebook.
    </span>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Please, check the script <code>aux_files_to_sql_functions.py</code> which contains all the functions required by this jupyter notebook. The functions there are ordered according to the <a href="#outilne" style="color: #3d30a2;">sections</a> of this jupyter notebok. Altough some functions are included in <code>gdp_revisions_datasets_functions.py</code>.<div/>

In [25]:
from aux_files_to_sql_functions import *
from gdp_revisions_datasets_functions import *

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="selector">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Select <code>variable</code>, <code>sector</code> and <code>frequency</code>
    </h2>
    <div/>

<div id="step-variable">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Select variable</span>
  </div>

In [26]:
# Call the function to show the popup window
variable = show_variable_window()
print("Selected variable:", variable)

Selected variable: r

<div id="step-sector">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Select economic sector</span>
  </div>

In [27]:
# Call the function to show the popup window
sector = show_sector_window()
print("Selected economic sector:", sector)

Selected economic sector: gdp

<div id="step-frequency">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Select frequency</span>
  </div>

In [28]:
# Call the function to show the popup window
frequency = show_frequency_window()
print("Selected frequency:", frequency)

Selected frequency: monthly

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: #2C4E80; font-weight: bold;">
        <a href="#step-6-3" style="color: #2C4E80; text-decoration: none;">⮟</a>
    </span> 
    <a href="#step-6-3" style="color: #2C4E80; text-decoration: none;">Continue with Step <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> in <b>Section 6</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#6" style="color: #3772ff; text-decoration: none;">⮟</a>
    </span> 
    <a href="#6" style="color: #3772ff; text-decoration: none;">Go to <b>Section 6</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: #2C4E80; font-weight: bold;">
        <a href="#step-7-3" style="color: #2C4E80; text-decoration: none;">⮟</a>
    </span> 
    <a href="#step-7-3" style="color: #2C4E80; text-decoration: none;">Continue with Step <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> in <b>Section 7</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#7" style="color: #3772ff; text-decoration: none;">⮟</a>
    </span> 
    <a href="#7" style="color: #3772ff; text-decoration: none;">Go to <b>Section 7</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: #2C4E80; font-weight: bold;">
        <a href="#step-8-3" style="color: #2C4E80; text-decoration: none;">⮟</a>
    </span> 
    <a href="#step-8-3" style="color: #2C4E80; text-decoration: none;">Continue with Step <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> in <b>Section 8</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#8" style="color: #3772ff; text-decoration: none;">⮟</a>
    </span> 
    <a href="#8" style="color: #3772ff; text-decoration: none;">Go to <b>Section 8</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: #2C4E80; font-weight: bold;">
        <a href="#step-9-3" style="color: #2C4E80; text-decoration: none;">⮟</a>
    </span> 
    <a href="#step-9-3" style="color: #2C4E80; text-decoration: none;">Continue with Step <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> in <b>Section 9</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#9" style="color: #3772ff; text-decoration: none;">⮟</a>
    </span> 
    <a href="#9" style="color: #3772ff; text-decoration: none;">Go to <b>Section 9</b>.</a>
</div>

<div id="1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading <code>gdp_percentage_structure.csv</code></span></h1>
    </div>

In [ ]:
# Loading csv data
#gdp_percentage_structure = f'{gdp_perc_structure_folder}/gdp_percentage_structure.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
#gdp_percentage_structure = pd.read_csv(gdp_percentage_structure, delimiter=';')
#gdp_percentage_structure.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
#gdp_percentage_structure.to_sql('gdp_percentage_structure', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">2.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Load <code>dates.csv</code> data</span></h1>
    </div>

In [ ]:
# Loading csv data
#csv_file = f'{ns_dates_folder}/dates.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
#dates = pd.read_csv(csv_file, delimiter=';')
#dates.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Clean-up the dataframe columns.<div/>

In [ ]:
# Convert the 'date' column to datetime type without time
#dates['date'] = pd.to_datetime(dates['date'], format='%d/%m/%Y', errors='coerce')

# Check the data type of the 'date' column after conversion
#print(dates['date'].dtype)

# Check if there are NaT values in the 'date' column
#print(dates['date'].isnull().sum())

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
#dates.to_sql('dates_growth_rates', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">3.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Load <code>base_year</code> data</span></h1>
    </div>

In [ ]:
# Loading csv data
#csv_file = f'{ns_base_year_folder}/base_year.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
#base_year = pd.read_csv(csv_file, delimiter=';')
#base_year.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Clean-up the dataframe columns.<div/>

In [ ]:
# Convert the 'date' column to datetime type without time
#base_year['date'] = pd.to_datetime(base_year['date'], format='%d/%m/%Y', errors='coerce')

# Check the data type of the 'date' column after conversion
#print(base_year['date'].dtype)

# Check if there are NaT values in the 'date' column
#print(base_year['date'].isnull().sum())

In [ ]:
# Change to str
#base_year['year'] = base_year['year'].astype(str)
#base_year['id_ns'] = base_year['id_ns'].apply(lambda x: f'{x:02}')
#base_year['base_year'] = base_year['base_year'].astype(str)
#base_year.head(10)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
#base_year.to_sql('ns_base_year', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">4.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading <code>old_raw_data_available.csv</code> data</span></h1>
    </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Dataset with dummy variable to identify if the old raw data of Table 1 and Table 2 is available
    <div/>

In [ ]:
# Loading csv data
#old_raw_data_dummies = f'{old_raw_data_available_folder}/old_raw_data_available.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
#old_raw_data_dummies = pd.read_csv(old_raw_data_dummies, delimiter=';')
#old_raw_data_dummies.head(5)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
        No additional cleaning is required. The original variable type will work perfectly when used in the <code>old_gdp_datasets</code> script.
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
#old_raw_data_dummies.to_sql('old_raw_data_available', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">5.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Load irregular calendar of revisions: <code>irregular_calendar_table_1.csv</code></span></h1>
    </div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:18px"><b>Loading irregular calendar of revisions for table 1.</b><div/>

In [ ]:
# Loading csv data
#irregular_calendar_1 = f'{irregular_calendar_folder}/irregular_calendar_table_1.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
#irregular_calendar_1 = pd.read_csv(irregular_calendar_1, delimiter=';')
#irregular_calendar_1.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Clean-up the dataframe columns.<div/>

In [ ]:
# Change to str
#irregular_calendar_1['year'] = irregular_calendar_1['year'].astype(str)
#irregular_calendar_1['id_ns'] = irregular_calendar_1['id_ns'].apply(lambda x: f'{x:02}')
#irregular_calendar_1['table_number'] = irregular_calendar_1['table_number'].astype(str)
#irregular_calendar_1.head(10)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
#irregular_calendar_1.to_sql(f'revisions_irregular_calendar_table_1', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:18px"><b>Loading irregular calendar of revisions for table 2.</b><div/>

In [ ]:
# Loading csv data
#irregular_calendar_2 = f'{irregular_calendar_folder}/irregular_calendar_table_2.csv'

# Reads the CSV file in a DataFrame, specifying that the delimiter is the comma
#irregular_calendar_2 = pd.read_csv(irregular_calendar_2, delimiter=';')
#irregular_calendar_2.head(5)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Clean-up the dataframe columns.<div/>

In [ ]:
# Change to str
#irregular_calendar_2['year'] = irregular_calendar_2['year'].astype(str)
#irregular_calendar_2['id_ns'] = irregular_calendar_2['id_ns'].apply(lambda x: f'{x:02}')
#irregular_calendar_2['table_number'] = irregular_calendar_2['table_number'].astype(str)
#irregular_calendar_2.head(10)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
#irregular_calendar_2.to_sql(f'revisions_irregular_calendar_table_2', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:18px"><b>Merging the irregular calendar of Table 1 and Table 2.</b><div/>

In [ ]:
#irregular_calendar_1_2 = pd.merge(irregular_calendar_1, irregular_calendar_2, on=['year', 'id_ns'], how='inner')

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">Keep key columns.<div/>

In [ ]:
#irregular_calendar_1_2 = irregular_calendar_1_2[['year', 'id_ns']]
#irregular_calendar_1_2

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Clean-up the dataframe columns.<div/>

In [ ]:
# Change to str
#irregular_calendar_1_2['year'] = irregular_calendar_1_2['year'].astype(str)
#irregular_calendar_1_2['id_ns'] = irregular_calendar_1_2['id_ns'].apply(lambda x: f'{x:02}')
#irregular_calendar_1_2.head(10)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Loading to SQL.<div/>

In [ ]:
#irregular_calendar_1_2.to_sql(f'revisions_irregular_calendar_merged', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">6.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Concatenate <code>old_gdp_dataset</code> with <code>new_gdp_dataset</code></span></h1>
    </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Function to concatenate datasets
    <div/>

In [11]:
def concatenate_old_new(df1, df2):
    
    concatenated_df = pd.concat([df1, df2], ignore_index=True) # Concatenate the dataframes
    
    return concatenated_df

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    List of sectors and frequencies to be used to create concatenated datasets
    <div/>

In [9]:
# List of sectors and frequencies
sectors = [
    "gdp", 
    "agriculture", 
    "fishing",
    "mining", 
    "manufacturing",
    "electricity", 
    "construction",
    "commerce",
    "services"
]

frequencies = ["monthly", "quarterly", "annual"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Function to process growth rates datasets: concatenate and load to SQL
    <div/>

In [12]:
def process_growth_rates(sector, frequency):
    # Create a DataFrame from the old growth rates table
    query_1 = f"SELECT * FROM old_{sector}_{frequency}_growth_rates;"
    df_1 = pd.read_sql(query_1, engine)

    # Create a DataFrame from the new growth rates table
    query_2 = f"SELECT * FROM new_{sector}_{frequency}_growth_rates;"
    df_2 = pd.read_sql(query_2, engine)

    # Call your custom function to concatenate the datasets
    result_df = concatenate_old_new(df_1, df_2)

    # Save the resulting DataFrame back to the database
    result_df.to_sql(f'{sector}_{frequency}_growth_rates', engine, index=False, if_exists='replace')

    return result_df

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Run the function to create concatenated old with new datasets for all sectors and frequencies and load to SQL
    <div/>

In [13]:
# Initialize counter
processed_datasets = 0

# Process all combinations
for sector in sectors:
    for frequency in frequencies:
        print(f"Processing {sector} - {frequency}")
        df = process_growth_rates(sector, frequency)
        display(df.head(10))  # Display the first 10 rows
        processed_datasets += 1  # Increment counter

# Display total number of processed datasets
print(f"Total datasets processed: {processed_datasets}")

Processing gdp - monthly

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994,06,1994-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1994,07,1994-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1994,08,1994-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1994,09,1994-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,10,1994-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing gdp - quarterly

,year,id_ns,date,1994_1,1994_2,1994_3,1994_4,1995_1,1995_2,1995_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,1997,01,1997-01-10,10.7,16.1,11.0,14.4,12.7,8.7,6.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,10.7,16.1,11.0,14.4,12.7,8.7,6.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,10.7,16.1,11.0,14.4,12.7,8.7,6.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,10.7,16.1,11.0,14.4,12.7,8.7,6.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,10.7,16.1,11.0,14.4,12.7,8.7,6.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,10.7,16.1,11.0,14.4,12.7,8.7,6.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,10.7,16.1,11.0,14.4,12.7,8.7,6.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,10.7,16.1,11.0,14.4,12.7,8.7,6.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,10.7,16.1,11.0,14.4,12.7,8.7,6.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,10.7,16.1,11.0,14.4,12.7,8.7,6.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing gdp - annual

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,01,1997-01-10,6.4,13.1,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,6.4,13.1,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,6.4,13.1,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,6.4,13.1,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,6.4,13.1,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,6.4,13.1,7.0,2.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,6.4,13.1,7.0,2.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,6.4,13.1,7.0,2.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,6.4,13.1,7.0,2.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,6.4,13.1,7.0,2.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing agriculture - monthly

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,3.7,3.6,-2.4,-6.6,-13.4,-10.7,-10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,3.7,3.6,-2.4,-6.6,-13.4,-10.7,-10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,3.7,3.6,-2.4,-6.6,-13.4,-10.7,-10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994,06,1994-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1994,07,1994-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1994,08,1994-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1994,09,1994-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,10,1994-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing agriculture - quarterly

,year,id_ns,date,1994_1,1994_2,1994_3,1994_4,1995_1,1995_2,1995_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,1997,01,1997-01-10,11.6,27.5,4.8,7.2,10.6,7.7,8.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,11.6,27.5,4.8,7.2,10.6,7.7,8.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,11.6,27.5,4.8,7.2,10.6,7.7,8.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,11.6,27.5,4.8,7.2,10.6,7.7,8.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,11.6,27.5,4.8,7.2,10.6,7.7,8.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,11.6,27.5,4.8,7.2,10.6,7.7,8.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,11.6,27.5,4.8,7.2,10.6,7.7,8.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,11.6,27.5,4.8,7.2,10.6,7.7,8.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,11.6,27.5,4.8,7.2,10.6,7.7,8.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,11.6,27.5,4.8,7.2,10.6,7.7,8.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing agriculture - annual

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,01,1997-01-10,8.5,13.7,7.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,8.5,13.7,7.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,8.5,13.7,7.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,8.5,13.7,7.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,8.5,13.7,7.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,8.5,13.7,7.6,5.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,8.5,13.7,7.6,5.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,8.5,13.7,7.6,5.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,8.5,13.7,7.6,5.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,8.5,13.7,7.6,5.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing fishing - monthly

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,-29.8,-26.4,-24.6,-43.0,-20.4,-20.3,25.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,-29.8,-26.4,-24.6,-43.0,-20.4,-20.3,25.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,-29.8,-26.4,-24.6,-43.0,-20.4,-20.3,25.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994,06,1994-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1994,07,1994-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1994,08,1994-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1994,09,1994-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,10,1994-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing fishing - quarterly

,year,id_ns,date,1994_1,1994_2,1994_3,1994_4,1995_1,1995_2,1995_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,1997,01,1997-01-10,14.6,37.4,16.0,20.8,0.5,-13.6,-24.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,14.6,37.4,16.0,20.8,0.5,-13.6,-24.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,14.6,37.4,16.0,20.8,0.5,-13.6,-24.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,14.6,37.4,16.0,20.8,0.5,-13.6,-24.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,14.6,37.4,16.0,20.8,0.5,-13.6,-24.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,14.6,37.4,16.0,20.8,0.5,-13.6,-24.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,14.6,37.4,16.0,20.8,0.5,-13.6,-24.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,14.6,37.4,16.0,20.8,0.5,-13.6,-24.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,14.6,37.4,16.0,20.8,0.5,-13.6,-24.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,14.6,37.4,16.0,20.8,0.5,-13.6,-24.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing fishing - annual

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,01,1997-01-10,21.0,23.1,-14.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,21.0,23.1,-14.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,21.0,23.1,-14.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,21.0,23.1,-14.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,21.0,23.1,-14.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,21.0,23.1,-14.6,5.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,21.0,23.1,-14.6,5.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,21.0,23.1,-14.6,5.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,21.0,23.1,-14.6,5.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,21.0,23.1,-14.6,5.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing mining - monthly

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,-1.4,-5.5,-11.1,-9.8,-12.3,-3.4,-8.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,-1.4,-5.5,-11.1,-9.8,-12.3,-3.4,-8.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,-1.4,-5.5,-11.1,-9.8,-12.3,-3.4,-8.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994,06,1994-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1994,07,1994-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1994,08,1994-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1994,09,1994-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,10,1994-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing mining - quarterly

,year,id_ns,date,1994_1,1994_2,1994_3,1994_4,1995_1,1995_2,1995_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,1997,01,1997-01-10,7.6,10.0,3.7,2.7,4.7,0.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,7.6,10.0,3.7,2.7,4.7,0.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,7.6,10.0,3.7,2.7,4.7,0.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,7.6,10.0,3.7,2.7,4.7,0.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,7.6,10.0,3.7,2.7,4.7,0.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,7.6,10.0,3.7,2.7,4.7,0.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,7.6,10.0,3.7,2.7,4.7,0.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,7.6,10.0,3.7,2.7,4.7,0.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,7.6,10.0,3.7,2.7,4.7,0.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,7.6,10.0,3.7,2.7,4.7,0.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing mining - annual

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,01,1997-01-10,9.0,5.9,3.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,9.0,5.9,3.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,9.0,5.9,3.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,9.0,5.9,3.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,9.0,5.9,3.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,9.0,5.9,3.1,3.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,9.0,5.9,3.1,3.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,9.0,5.9,3.1,3.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,9.0,5.9,3.1,3.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,9.0,5.9,3.1,3.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing manufacturing - monthly

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,-3.5,-2.3,3.2,-13.4,-8.4,-7.7,-15.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,-3.5,-2.3,3.2,-13.4,-8.4,-7.7,-15.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,-3.5,-2.3,3.2,-13.4,-8.4,-7.7,-15.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994,06,1994-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1994,07,1994-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1994,08,1994-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1994,09,1994-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,10,1994-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing manufacturing - quarterly

,year,id_ns,date,1994_1,1994_2,1994_3,1994_4,1995_1,1995_2,1995_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,1997,01,1997-01-10,11.3,16.2,16.3,19.0,10.8,5.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,11.3,16.2,16.3,19.0,10.8,5.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,11.3,16.2,16.3,19.0,10.8,5.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,11.3,16.2,16.3,19.0,10.8,5.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,11.3,16.2,16.3,19.0,10.8,5.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,11.3,16.2,16.3,19.0,10.8,5.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,11.3,16.2,16.3,19.0,10.8,5.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,11.3,16.2,16.3,19.0,10.8,5.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,11.3,16.2,16.3,19.0,10.8,5.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,11.3,16.2,16.3,19.0,10.8,5.9,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing manufacturing - annual

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,01,1997-01-10,4.8,15.7,4.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,4.8,15.7,4.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,4.8,15.7,4.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,4.8,15.7,4.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,4.8,15.7,4.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,4.8,15.7,4.5,2.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,4.8,15.7,4.5,2.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,4.8,15.7,4.5,2.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,4.8,15.7,4.5,2.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,4.8,15.7,4.5,2.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing electricity - monthly

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,2003,19,2003-05-23,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,20,2003-05-30,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,21,2003-06-06,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,22,2003-06-13,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,23,2003-06-20,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2003,24,2003-06-27,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2003,25,2003-07-04,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2003,26,2003-07-11,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2003,27,2003-07-18,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2003,28,2003-07-25,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing electricity - quarterly

,year,id_ns,date,1994_1,1994_2,1994_3,1994_4,1995_1,1995_2,1995_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,2003,19,2003-05-23,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,20,2003-05-30,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,21,2003-06-06,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,22,2003-06-13,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,23,2003-06-20,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2003,24,2003-06-27,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2003,25,2003-07-04,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2003,26,2003-07-11,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2003,27,2003-07-18,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2003,28,2003-07-25,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing electricity - annual

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,2003,19,2003-05-23,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,20,2003-05-30,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,21,2003-06-06,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,22,2003-06-13,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,23,2003-06-20,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2003,24,2003-06-27,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2003,25,2003-07-04,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2003,26,2003-07-11,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2003,27,2003-07-18,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2003,28,2003-07-25,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing construction - monthly

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,27.7,12.8,22.0,4.9,-3.7,-0.7,-9.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,27.7,12.8,22.0,4.9,-3.7,-0.7,-9.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,27.7,12.8,22.0,4.9,-3.7,-0.7,-9.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994,06,1994-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1994,07,1994-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1994,08,1994-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1994,09,1994-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,10,1994-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing construction - quarterly

,year,id_ns,date,1994_1,1994_2,1994_3,1994_4,1995_1,1995_2,1995_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,1997,01,1997-01-10,27.8,31.8,32.8,43.8,32.0,31.6,12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,27.8,31.8,32.8,43.8,32.0,31.6,12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,27.8,31.8,32.8,43.8,32.0,31.6,12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,27.8,31.8,32.8,43.8,32.0,31.6,12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,27.8,31.8,32.8,43.8,32.0,31.6,12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,27.8,31.8,32.8,43.8,32.0,31.6,12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,27.8,31.8,32.8,43.8,32.0,31.6,12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,27.8,31.8,32.8,43.8,32.0,31.6,12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,27.8,31.8,32.8,43.8,32.0,31.6,12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,27.8,31.8,32.8,43.8,32.0,31.6,12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing construction - annual

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,01,1997-01-10,14.1,34.6,17.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,14.1,34.6,17.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,14.1,34.6,17.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,14.1,34.6,17.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,14.1,34.6,17.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,14.1,34.6,17.5,-4.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,14.1,34.6,17.5,-4.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,14.1,34.6,17.5,-4.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,14.1,34.6,17.5,-4.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,14.1,34.6,17.5,-4.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing commerce - monthly

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1994,01,1994-01-10,4.2,11.2,13.6,-7.4,-3.3,-2.0,-7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,02,1994-01-17,4.2,11.2,13.6,-7.4,-3.3,-2.0,-7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,03,1994-01-24,4.2,11.2,13.6,-7.4,-3.3,-2.0,-7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,04,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,05,1994-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994,06,1994-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1994,07,1994-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1994,08,1994-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1994,09,1994-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,10,1994-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing commerce - quarterly

,year,id_ns,date,1994_1,1994_2,1994_3,1994_4,1995_1,1995_2,1995_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,1997,01,1997-01-10,15.1,17.3,16.7,18.9,21.2,15.6,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,15.1,17.3,16.7,18.9,21.2,15.6,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,15.1,17.3,16.7,18.9,21.2,15.6,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,15.1,17.3,16.7,18.9,21.2,15.6,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,15.1,17.3,16.7,18.9,21.2,15.6,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,15.1,17.3,16.7,18.9,21.2,15.6,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,15.1,17.3,16.7,18.9,21.2,15.6,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,15.1,17.3,16.7,18.9,21.2,15.6,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,15.1,17.3,16.7,18.9,21.2,15.6,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,15.1,17.3,16.7,18.9,21.2,15.6,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing commerce - annual

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,01,1997-01-10,3.5,17.0,12.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,02,1997-01-17,3.5,17.0,12.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,03,1997-01-24,3.5,17.0,12.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,04,1997-01-31,3.5,17.0,12.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,05,1997-02-07,3.5,17.0,12.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,06,1997-02-14,3.5,17.0,12.7,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,07,1997-02-21,3.5,17.0,12.7,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,08,1997-02-28,3.5,17.0,12.7,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,09,1997-03-07,3.5,17.0,12.7,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,10,1997-03-14,3.5,17.0,12.7,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing services - monthly

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,1997,25,1997-07-04,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,26,1997-07-11,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,27,1997-07-18,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,28,1997-07-25,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,29,1997-08-08,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,30,1997-08-15,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,31,1997-08-22,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,32,1997-08-29,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,33,1997-09-05,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,34,1997-09-12,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing services - quarterly

,year,id_ns,date,1994_1,1994_2,1994_3,1994_4,1995_1,1995_2,1995_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,1997,24,1997-06-27,None,None,None,None,10.9,8.1,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,25,1997-07-04,None,None,None,None,10.9,8.1,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,26,1997-07-11,None,None,None,None,10.9,8.1,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,27,1997-07-18,None,None,None,None,10.9,8.1,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,28,1997-07-25,None,None,None,None,10.9,8.1,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,29,1997-08-08,None,None,None,None,10.9,8.1,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,30,1997-08-15,None,None,None,None,10.9,8.1,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,31,1997-08-22,None,None,None,None,10.9,8.1,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,32,1997-08-29,None,None,None,None,10.9,8.1,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,33,1997-09-05,None,None,None,None,10.9,8.1,6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing services - annual

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,24,1997-06-27,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,25,1997-07-04,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,26,1997-07-11,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,27,1997-07-18,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,28,1997-07-25,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,29,1997-08-08,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,30,1997-08-15,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,31,1997-08-22,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,32,1997-08-29,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,33,1997-09-05,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Total datasets processed: 27

In [14]:
df.columns

Index(['year', 'id_ns', 'date', 'year_1993', 'year_1994', 'year_1995',
       'year_1996', 'year_1997', 'year_1998', 'year_1999', 'year_2000',
       'year_2001', 'year_2002', 'year_2003', 'year_2004', 'year_2005',
       'year_2006', 'year_2007', 'year_2008', 'year_2009', 'year_2010',
       'year_2011', 'year_2012', 'year_2013', 'year_2014', 'year_2015',
       'year_2016', 'year_2017', 'year_2018', 'year_2019', 'year_2020',
       'year_2021', 'year_2022', 'year_2023'],
      dtype='object')

In [15]:
print(df['date'].dtype)

datetime64[ns]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="7">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">7.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Merge all the releases datasets</span></h1>
    </div>

<div id="steps-7">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-7-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Import dataframes from PostgresSQL</a>
    <br>
    <a href="#step-7-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Merge dataframes</a>
    <br>
    <a href="#step-7-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Order by vintages_date</a>
    <br>
    <a href="#step-7-6" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> Load time-series dataset to PostgresSQL</a>
    <br>
    <a href="#step-7-7" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10128;</span> To panel</a>
    <br>
    <a href="#step-7-8" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10129;</span> Load panel dataset to PostgresSQL</a>
</div>

<div id="step-7-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Import dataframes from PostgresSQL</span>
  </div>

<div style="background-color: #F5F5F5; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #222831; font-size: 24px; margin: 10;">
        GDP
    </h2>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

In [29]:
# Loading from PostgresSQL
query_releases_gdp = f"SELECT * FROM {variable}_gdp_{frequency}_releases;"
query_releases_affected_gdp = f"SELECT * FROM {variable}_gdp_{frequency}_releases_affected;"
query_releases_base_year_dummies_gdp = f"SELECT * FROM {variable}_gdp_{frequency}_releases_base_year_dummies;"

# Create a pandas DataFrame from the SQL table
query_releases_gdp_df = pd.read_sql(query_releases_gdp, engine)
query_releases_affected_gdp_df = pd.read_sql(query_releases_affected_gdp, engine)
query_releases_base_year_dummies_gdp_df = pd.read_sql(query_releases_base_year_dummies_gdp, engine)

In [30]:
# Monthly Specific
if frequency == 'monthly':
    query_releases_seasonal_dummies_gdp = f"SELECT * FROM {variable}_gdp_{frequency}_releases_seasonal_dummies;"
    query_releases_seasonal_dummies_gdp_df = pd.read_sql(query_releases_seasonal_dummies_gdp, engine)
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="background-color: #F5F5F5; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #222831; font-size: 24px; margin: 10;">
        Agriculture
    </h2>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

In [31]:
# Loading from PostgreSQL
query_releases_agriculture = f"SELECT * FROM {variable}_agriculture_{frequency}_releases;"
query_releases_affected_agriculture = f"SELECT * FROM {variable}_agriculture_{frequency}_releases_affected;"
query_releases_base_year_dummies_agriculture = f"SELECT * FROM {variable}_agriculture_{frequency}_releases_base_year_dummies;"

# Create a pandas DataFrame from the SQL table
query_releases_agriculture_df = pd.read_sql(query_releases_agriculture, engine)
query_releases_affected_agriculture_df = pd.read_sql(query_releases_affected_agriculture, engine)
query_releases_base_year_dummies_agriculture_df = pd.read_sql(query_releases_base_year_dummies_agriculture, engine)

In [32]:
# Monthly Specific
if frequency == 'monthly':
    query_releases_seasonal_dummies_agriculture = f"SELECT * FROM {variable}_agriculture_{frequency}_releases_seasonal_dummies;"
    query_releases_seasonal_dummies_agriculture_df = pd.read_sql(query_releases_seasonal_dummies_agriculture, engine)
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="background-color: #F5F5F5; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #222831; font-size: 24px; margin: 10;">
        Fishing
    </h2>
</div>

In [33]:
# Loading from PostgreSQL
query_releases_fishing = f"SELECT * FROM {variable}_fishing_{frequency}_releases;"
query_releases_affected_fishing = f"SELECT * FROM {variable}_fishing_{frequency}_releases_affected;"
query_releases_base_year_dummies_fishing = f"SELECT * FROM {variable}_fishing_{frequency}_releases_base_year_dummies;"

# Create a pandas DataFrame from the SQL table
query_releases_fishing_df = pd.read_sql(query_releases_fishing, engine)
query_releases_affected_fishing_df = pd.read_sql(query_releases_affected_fishing, engine)
query_releases_base_year_dummies_fishing_df = pd.read_sql(query_releases_base_year_dummies_fishing, engine)

In [34]:
# Monthly Specific
if frequency == 'monthly':
    query_releases_seasonal_dummies_fishing = f"SELECT * FROM {variable}_fishing_{frequency}_releases_seasonal_dummies;"
    query_releases_seasonal_dummies_fishing_df = pd.read_sql(query_releases_seasonal_dummies_fishing, engine)
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="background-color: #F5F5F5; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #222831; font-size: 24px; margin: 10;">
        Mining
    </h2>
</div>

In [35]:
# Loading from PostgreSQL
query_releases_mining = f"SELECT * FROM {variable}_mining_{frequency}_releases;"
query_releases_affected_mining = f"SELECT * FROM {variable}_mining_{frequency}_releases_affected;"
query_releases_base_year_dummies_mining = f"SELECT * FROM {variable}_mining_{frequency}_releases_base_year_dummies;"

# Create a pandas DataFrame from the SQL table
query_releases_mining_df = pd.read_sql(query_releases_mining, engine)
query_releases_affected_mining_df = pd.read_sql(query_releases_affected_mining, engine)
query_releases_base_year_dummies_mining_df = pd.read_sql(query_releases_base_year_dummies_mining, engine)

In [36]:
# Monthly Specific
if frequency == 'monthly':
    query_releases_seasonal_dummies_mining = f"SELECT * FROM {variable}_mining_{frequency}_releases_seasonal_dummies;"
    query_releases_seasonal_dummies_mining_df = pd.read_sql(query_releases_seasonal_dummies_mining, engine)
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="background-color: #F5F5F5; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #222831; font-size: 24px; margin: 10;">
        Manufacturing
    </h2>
</div>

In [37]:
# Loading from PostgreSQL
query_releases_manufacturing = f"SELECT * FROM {variable}_manufacturing_{frequency}_releases;"
query_releases_affected_manufacturing = f"SELECT * FROM {variable}_manufacturing_{frequency}_releases_affected;"
query_releases_base_year_dummies_manufacturing = f"SELECT * FROM {variable}_manufacturing_{frequency}_releases_base_year_dummies;"

# Create a pandas DataFrame from the SQL table
query_releases_manufacturing_df = pd.read_sql(query_releases_manufacturing, engine)
query_releases_affected_manufacturing_df = pd.read_sql(query_releases_affected_manufacturing, engine)
query_releases_base_year_dummies_manufacturing_df = pd.read_sql(query_releases_base_year_dummies_manufacturing, engine)

In [38]:
# Monthly Specific
if frequency == 'monthly':
    query_releases_seasonal_dummies_manufacturing = f"SELECT * FROM {variable}_manufacturing_{frequency}_releases_seasonal_dummies;"
    query_releases_seasonal_dummies_manufacturing_df = pd.read_sql(query_releases_seasonal_dummies_manufacturing, engine)
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="background-color: #F5F5F5; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #222831; font-size: 24px; margin: 10;">
        Construction
    </h2>
</div>

In [39]:
# Loading from PostgreSQL
query_releases_construction = f"SELECT * FROM {variable}_construction_{frequency}_releases;"
query_releases_affected_construction = f"SELECT * FROM {variable}_construction_{frequency}_releases_affected;"
query_releases_base_year_dummies_construction = f"SELECT * FROM {variable}_construction_{frequency}_releases_base_year_dummies;"

# Create a pandas DataFrame from the SQL table
query_releases_construction_df = pd.read_sql(query_releases_construction, engine)
query_releases_affected_construction_df = pd.read_sql(query_releases_affected_construction, engine)
query_releases_base_year_dummies_construction_df = pd.read_sql(query_releases_base_year_dummies_construction, engine)

In [40]:
# Monthly Specific
if frequency == 'monthly':
    query_releases_seasonal_dummies_construction = f"SELECT * FROM {variable}_construction_{frequency}_releases_seasonal_dummies;"
    query_releases_seasonal_dummies_construction_df = pd.read_sql(query_releases_seasonal_dummies_construction, engine)
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="background-color: #F5F5F5; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #222831; font-size: 24px; margin: 10;">
        Commerce
    </h2>
</div>

In [41]:
# Loading from PostgreSQL
query_releases_commerce = f"SELECT * FROM {variable}_commerce_{frequency}_releases;"
query_releases_affected_commerce = f"SELECT * FROM {variable}_commerce_{frequency}_releases_affected;"
query_releases_base_year_dummies_commerce = f"SELECT * FROM {variable}_commerce_{frequency}_releases_base_year_dummies;"

# Create a pandas DataFrame from the SQL table
query_releases_commerce_df = pd.read_sql(query_releases_commerce, engine)
query_releases_affected_commerce_df = pd.read_sql(query_releases_affected_commerce, engine)
query_releases_base_year_dummies_commerce_df = pd.read_sql(query_releases_base_year_dummies_commerce, engine)

In [42]:
# Monthly Specific
if frequency == 'monthly':
    query_releases_seasonal_dummies_commerce = f"SELECT * FROM {variable}_commerce_{frequency}_releases_seasonal_dummies;"
    query_releases_seasonal_dummies_commerce_df = pd.read_sql(query_releases_seasonal_dummies_commerce, engine)
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="background-color: #F5F5F5; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #222831; font-size: 24px; margin: 10;">
        Electricity
    </h2>
</div>

In [43]:
# Loading from PostgreSQL
query_releases_electricity = f"SELECT * FROM {variable}_electricity_{frequency}_releases;"
query_releases_affected_electricity = f"SELECT * FROM {variable}_electricity_{frequency}_releases_affected;"
query_releases_base_year_dummies_electricity = f"SELECT * FROM {variable}_electricity_{frequency}_releases_base_year_dummies;"

# Create a pandas DataFrame from the SQL table
query_releases_electricity_df = pd.read_sql(query_releases_electricity, engine)
query_releases_affected_electricity_df = pd.read_sql(query_releases_affected_electricity, engine)
query_releases_base_year_dummies_electricity_df = pd.read_sql(query_releases_base_year_dummies_electricity, engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) no existe la relación «r_electricity_monthly_releases»
LINE 1: SELECT * FROM r_electricity_monthly_releases;
                      ^

[SQL: SELECT * FROM r_electricity_monthly_releases;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
# Monthly Specific
if frequency == 'monthly':
    query_releases_seasonal_dummies_electricity = f"SELECT * FROM {variable}_electricity_{frequency}_releases_seasonal_dummies;"
    query_releases_seasonal_dummies_electricity_df = pd.read_sql(query_releases_seasonal_dummies_electricity, engine)
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="background-color: #F5F5F5; padding: 6px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #222831; font-size: 24px; margin: 10;">
        Services
    </h2>
</div>

In [44]:
# Loading from PostgreSQL
query_releases_services = f"SELECT * FROM {variable}_services_{frequency}_releases;"
query_releases_affected_services = f"SELECT * FROM {variable}_services_{frequency}_releases_affected;"
query_releases_base_year_dummies_services = f"SELECT * FROM {variable}_services_{frequency}_releases_base_year_dummies;"

# Create a pandas DataFrame from the SQL table
query_releases_services_df = pd.read_sql(query_releases_services, engine)
query_releases_affected_services_df = pd.read_sql(query_releases_affected_services, engine)
query_releases_base_year_dummies_services_df = pd.read_sql(query_releases_base_year_dummies_services, engine)

In [45]:
# Monthly Specific
if frequency == 'monthly':
    query_releases_seasonal_dummies_services = f"SELECT * FROM {variable}_services_{frequency}_releases_seasonal_dummies;"
    query_releases_seasonal_dummies_services_df = pd.read_sql(query_releases_seasonal_dummies_services, engine)
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-7-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> <span>Merge dataframes</span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Run the function to create merged dataframe for releases
    <div/>

In [46]:
merged_releases = releases_datasets_merge(frequency,
                                          query_releases_gdp_df,
                                          query_releases_agriculture_df,
                                          query_releases_fishing_df,
                                          query_releases_mining_df,
                                          query_releases_manufacturing_df,
                                          query_releases_construction_df,
                                          query_releases_commerce_df,
                                          #query_releases_electricity_df,
                                          query_releases_services_df)

In [47]:
merged_releases_affected = releases_datasets_merge(frequency,
                                          query_releases_affected_gdp_df,
                                          query_releases_affected_agriculture_df,
                                          query_releases_affected_fishing_df,
                                          query_releases_affected_mining_df,
                                          query_releases_affected_manufacturing_df,
                                          query_releases_affected_construction_df,
                                          query_releases_affected_commerce_df,
                                          #query_releases_affected_electricity_df,
                                          query_releases_affected_services_df)

In [48]:
merged_releases_base_year_dummies = releases_datasets_merge(frequency,
                                          query_releases_base_year_dummies_gdp_df,
                                          query_releases_base_year_dummies_agriculture_df,
                                          query_releases_base_year_dummies_fishing_df,
                                          query_releases_base_year_dummies_mining_df,
                                          query_releases_base_year_dummies_manufacturing_df,
                                          query_releases_base_year_dummies_construction_df,
                                          query_releases_base_year_dummies_commerce_df,
                                          #query_releases_base_year_dummies_electricity_df,
                                          query_releases_base_year_dummies_services_df)

In [49]:
# Monthly Specific
if frequency == 'monthly':
    merged_releases_seasonal_dummies = releases_datasets_merge(frequency,
                                          query_releases_seasonal_dummies_gdp_df,
                                          query_releases_seasonal_dummies_agriculture_df,
                                          query_releases_seasonal_dummies_fishing_df,
                                          query_releases_seasonal_dummies_mining_df,
                                          query_releases_seasonal_dummies_manufacturing_df,
                                          query_releases_seasonal_dummies_construction_df,
                                          query_releases_seasonal_dummies_commerce_df,
                                          #query_releases_seasonal_dummies_electricity_df,
                                          query_releases_seasonal_dummies_services_df)
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div id="step-7-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> <span>Time Series (TS). </span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Order by <code>vintages_date</code>. 
    <div/>

In [50]:
releases_ts = sort_by_date(merged_releases)
releases_affected_ts = sort_by_date(merged_releases_affected)
releases_base_year_dummies_ts = sort_by_date(merged_releases_base_year_dummies)

In [51]:
# Monthly Specific
if frequency == 'monthly':
    releases_seasonal_dummies_ts = sort_by_date(merged_releases_seasonal_dummies)
else:
    print("The selected frequency is not monthly.")

In [52]:
releases_ts.head(5)

,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,services_release_10,services_release_11,services_release_12,services_release_13,services_release_14,services_release_15,services_release_16,services_release_17,services_release_18,services_most_recent
0,1992-01-01,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,-7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,-5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
releases_affected_ts.head(5)

,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,services_release_10,services_release_11,services_release_12,services_release_13,services_release_14,services_release_15,services_release_16,services_release_17,services_release_18,services_most_recent
0,1992-01-01,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,-7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,-5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
releases_base_year_dummies_ts.head(5)

,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,services_release_10,services_release_11,services_release_12,services_release_13,services_release_14,services_release_15,services_release_16,services_release_17,services_release_18,services_most_recent
0,1992-01-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# Monthly Specific
if frequency == 'monthly':
    display(releases_seasonal_dummies_ts.head(5))
else:
    print("The selected frequency is not monthly.")

,vintages_date,gdp_release_1,gdp_release_2,gdp_release_3,gdp_release_4,gdp_release_5,gdp_release_6,gdp_release_7,gdp_release_8,gdp_release_9,...,services_release_10,services_release_11,services_release_12,services_release_13,services_release_14,services_release_15,services_release_16,services_release_17,services_release_18,services_most_recent
0,1992-01-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

TO SQL

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Comment or uncomment depending on whether you want to work with releases of growth rates or releases of revision dummies.
    </span>
</div>

In [ ]:
releases_ts.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases', engine, index=False, if_exists='replace')

In [ ]:
releases_affected_ts.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_affected', engine, index=False, if_exists='replace')

In [ ]:
releases_base_year_dummies_ts.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_base_year_dummies', engine, index=False, if_exists='replace')

In [ ]:
# Monthly Specific
if frequency == 'monthly':
    releases_seasonal_dummies_ts.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_seasonal_dummies', engine, index=False, if_exists='replace') # quarter and monthly revisions
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div id="step-7-6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> <span>Panel</span>
  </div>

In [58]:
# Convert to panel
releases_panel = releases_convert_to_panel(releases_ts)
releases_affected_panel = releases_convert_to_panel(releases_affected_ts)
releases_base_year_dummies_panel = releases_convert_to_panel(releases_base_year_dummies_ts)

In [59]:
# Monthly Specific
if frequency == 'monthly':
    releases_seasonal_dummies_panel = releases_convert_to_panel(releases_seasonal_dummies_ts)
else:
    print("The selected frequency is not monthly.")

In [60]:
releases_panel.head(5)

,vintages_date,horizon,release_commerce,release_gdp,release_agriculture,release_construction,release_mining,release_manufacturing,release_fishing,release_services
0,1992-01-01,1,4.2,1.3,3.7,27.7,-1.4,-3.5,-29.8,NaN
1,1992-02-01,1,11.2,1.8,3.6,12.8,-5.5,-2.3,-26.4,NaN
2,1992-03-01,1,13.6,2.8,-2.4,22.0,-11.1,3.2,-24.6,NaN
3,1992-04-01,1,-7.4,-7.5,-6.6,4.9,-9.8,-13.4,-43.0,NaN
4,1992-05-01,1,-3.3,-5.7,-13.4,-3.7,-12.3,-8.4,-20.4,NaN

In [61]:
releases_affected_panel.head(5)

,vintages_date,horizon,release_commerce,release_gdp,release_agriculture,release_construction,release_mining,release_manufacturing,release_fishing,release_services
0,1992-01-01,1,4.2,1.3,3.7,27.7,-1.4,-3.5,-29.8,NaN
1,1992-02-01,1,11.2,1.8,3.6,12.8,-5.5,-2.3,-26.4,NaN
2,1992-03-01,1,13.6,2.8,-2.4,22.0,-11.1,3.2,-24.6,NaN
3,1992-04-01,1,-7.4,-7.5,-6.6,4.9,-9.8,-13.4,-43.0,NaN
4,1992-05-01,1,-3.3,-5.7,-13.4,-3.7,-12.3,-8.4,-20.4,NaN

In [62]:
releases_base_year_dummies_panel.head(5)

,vintages_date,horizon,release_commerce,release_gdp,release_agriculture,release_construction,release_mining,release_manufacturing,release_fishing,release_services
0,1992-01-01,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1992-02-01,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,1992-03-01,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1992-04-01,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,1992-05-01,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [63]:
# Monthly Specific
if frequency == 'monthly':
    display(releases_seasonal_dummies_panel.head(3))
else:
    print("The selected frequency is not monthly.")

,vintages_date,horizon,release_commerce,release_gdp,release_agriculture,release_construction,release_mining,release_manufacturing,release_fishing,release_services
0,1992-01-01,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1992-02-01,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,1992-03-01,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

TO SQL

In [ ]:
releases_panel.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_panel', engine, index=False, if_exists='replace')

In [ ]:
releases_affected_panel.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_affected_panel', engine, index=False, if_exists='replace')

In [ ]:
releases_base_year_dummies_panel.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_base_year_dummies_panel', engine, index=False, if_exists='replace')

In [ ]:
# Monthly Specific
if frequency == 'monthly':
    releases_seasonal_dummies_panel.to_sql(f'{variable}_sectorial_gdp_{frequency}_releases_seasonal_dummies_panel', engine, index=False, if_exists='replace')
else:
    print("The selected frequency is not monthly.")

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-frequency" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select frequency</b>.</a>
</div>

<div id="8">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">8.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Generate e from releases</span></h1>
    </div>

<div id="steps-8">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-8-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Import dataframes from PostgresSQL</a>
    <br>
    <a href="#step-8-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Compute cumulative revisions</a>
    <br>
    <a href="#step-8-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Keep cumulative revisions</a>
    <br>
    <a href="#step-8-6" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> Transpose dataframe in order to have nowcast error (cumulative revisions) of fixed events as columns</a>
</div>

<div id="step-8-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Import dataframes from PostgresSQL</span>
  </div>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Comment or uncomment depending on whether you want to work with <b>bench</b> or <b>no-bench</b> dataset.
    </span>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
#query_releases_1 = f"SELECT * FROM sectorial_gdp_{frequency}_releases;"
query_releases_1 = f"SELECT * FROM sectorial_gdp_{frequency}_releases_bench;"
df_releases_1 = pd.read_sql(query_releases_1, engine)
df_releases_1.head(10) # showing the first 10 obs

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Filter releases dataset
    <div/>

In [ ]:
# Set dataframe inn date range
df_releases_filtered_1 = df_releases_1[(df_releases_1['vintages_date'] >= '1993-01-01') & (df_releases_1['vintages_date'] <= '2023-12-31')]

# Order the dataframe by the column 'vintages_date'
df_releases_filtered_1 = df_releases_filtered_1.sort_values(by='vintages_date')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-8-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> <span>Compute cumulative revisions</span>
  </div>

In [ ]:
# Apply the function to your dataframe and get max_release
df_rev_cum, max_release = calculate_cumulative_revisions(df_releases_filtered_1)

# Output the max_release for verification
print(f"The maximum release number found: {max_release}")

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Inspect specific columns
    <div/>

In [ ]:
df_rev_cum.columns

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
#df_rev_cum.to_sql(f'sectorial_gdp_{frequency}_cum_revisions_releases', engine, index=False, if_exists='replace')
df_rev_cum.to_sql(f'sectorial_gdp_{frequency}_cum_revisions_releases_bench', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To data panel
    <div/>

In [ ]:
df_rev_cum.head(5)

In [ ]:
df_rev_cum_panel = cum_convert_to_panel(df_rev_cum)

In [ ]:
df_rev_cum_panel

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
#df_rev_cum_panel.to_sql(f'sectorial_gdp_{frequency}_cum_revisions_panel', engine, index=False, if_exists='replace')
df_rev_cum_panel.to_sql(f'sectorial_gdp_{frequency}_cum_revisions_panel_bench', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="9">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">9.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create revisions</span></h1>
    </div>

<div id="steps-9">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-9-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Import dataframes from PostgresSQL</a>
    <br>
    <a href="#step-9-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Compute intermediate revisions</a>
    <br>
    <a href="#step-9-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Keep intermediate revisions</a>
    <br>
    <a href="#step-9-6" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> Transpose dataframe in order to have nowcast error (intermediate revisions) of fixed events as columns</a>
</div>

<div id="step-9-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Import dataframes from PostgresSQL</span>
  </div>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Comment or uncomment depending on whether you want to work with <b>bench</b> or <b>no-bench</b> dataset.
    </span>
</div>

In [ ]:
# Create a pandas DataFrame from the SQL table
#query_releases_2 = f"SELECT * FROM sectorial_gdp_{frequency}_releases;"
query_releases_2 = f"SELECT * FROM sectorial_gdp_{frequency}_releases_bench;"
df_releases_2 = pd.read_sql(query_releases_2, engine)
df_releases_2.head(10) # showing the first 10 obs

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Filter releases dataset
    <div/>

In [ ]:
# Set dataframe inn date range
df_releases_filtered_2 = df_releases_2[(df_releases_2['vintages_date'] >= '1993-01-01') & (df_releases_2['vintages_date'] <= '2023-12-31')]

# Order the dataframe by the column 'vintages_date'
df_releases_filtered_2 = df_releases_filtered_2.sort_values(by='vintages_date')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-9-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> <span>Compute intermediate revisions</span>
  </div>

In [ ]:
# Apply the function to your dataframe and get max_release
df_rev_int, max_release = calculate_intermediate_revisions(df_releases_filtered_2)

# Output the max_release for verification
print(f"The maximum release number found: {max_release}")

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Computing specific intermediate revisions
    <div/>

In [ ]:
#df_rev_int = calculate_specific_intermediate_revisions(df_rev_int, frequency)
#df_rev_int

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Inspect specific columns
    <div/>

In [ ]:
df_rev_int[['vintages_date', 'agriculture_release_1', 'agriculture_release_2', 'r_2_agriculture']].head(5)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
#df_rev_int.to_sql(f'sectorial_gdp_{frequency}_int_revisions_releases', engine, index=False, if_exists='replace')
df_rev_int.to_sql(f'sectorial_gdp_{frequency}_int_revisions_releases_bench', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-9-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> <span>Keep intermediate revisions</span>
  </div>

In [ ]:
df_rev_int.head(10)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Keeping intermediate revisions and date column only 
    <div/>

In [ ]:
df_rev_int = keep_revisions(df_rev_int, frequency) # this is optional in order to compress dataframe columns

In [ ]:
df_rev_int.columns

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
#df_rev_int.to_sql(f'sectorial_gdp_{frequency}_int_revisions', engine, index=False, if_exists='replace')
df_rev_int.to_sql(f'sectorial_gdp_{frequency}_int_revisions_bench', engine, index=False, if_exists='replace')

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To data panel
    <div/>

In [ ]:
df_rev_int_panel = int_convert_to_panel(df_rev_int)
df_rev_int_panel

In [ ]:
df_rev_int_panel['vintages_date'].dtype

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
#df_rev_int_panel.to_sql(f'sectorial_gdp_{frequency}_int_revisions_panel', engine, index=False, if_exists='replace')
df_rev_int_panel.to_sql(f'sectorial_gdp_{frequency}_int_revisions_panel_bench', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="10">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">10.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Merge both nowcast errors and revisions</span></h1>
    </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Merge
    <div/>

In [ ]:
#df_rev_panel = pd.merge(df_rev_cum_panel, df_rev_int_panel, on=['vintages_date', 'horizon'], how='inner')

In [ ]:
#df_rev_panel

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
#df_rev_panel.to_sql(f'sectorial_gdp_{frequency}_revisions_panel', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="11">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">11.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Merge revisions and releases</span></h1>
    </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Import from SQL
    <div/>

In [ ]:
# Create a pandas DataFrame from the SQL table
#query_rel_panel = f"SELECT * FROM sectorial_gdp_{frequency}_releases_panel;"
#df_rel_panel = pd.read_sql(query_rel_panel, engine)
#df_rel_panel.head(10) # showing the first 10 obs

In [ ]:
# Create a pandas DataFrame from the SQL table
#query_rev_panel = f"SELECT * FROM sectorial_gdp_{frequency}_int_revisions_panel;"
#df_rev_panel = pd.read_sql(query_rev_panel, engine)
#df_rev_panel.head(10) # showing the first 10 obs

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Merge
    <div/>

In [ ]:
#df_releases_revisions_panel = pd.merge(df_rel_panel, df_rev_panel, on=['vintages_date', 'horizon'], how='inner')

In [ ]:
#df_releases_revisions_panel

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
#df_releases_revisions_panel.to_sql(f'sectorial_gdp_{frequency}_releases_revisions_panel', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="12">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">12.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Merge forecast errors and releases</span></h1>
    </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Import from SQL
    <div/>

In [ ]:
# Create a pandas DataFrame from the SQL table
#query_rel_panel = f"SELECT * FROM sectorial_gdp_{frequency}_releases_panel;"
#df_rel_panel = pd.read_sql(query_rel_panel, engine)
#df_rel_panel.head(10) # showing the first 10 obs

In [ ]:
# Create a pandas DataFrame from the SQL table
#query_cum_panel = f"SELECT * FROM sectorial_gdp_{frequency}_cum_revisions_panel;"
#df_cum_panel = pd.read_sql(query_cum_panel, engine)
#df_cum_panel.head(10) # showing the first 10 obs

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Merge
    <div/>

In [ ]:
#df_releases_errors_panel = pd.merge(df_rel_panel, df_cum_panel, on=['vintages_date', 'horizon'], how='inner')

In [ ]:
#df_releases_errors_panel

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
#df_releases_errors_panel.to_sql(f'sectorial_gdp_{frequency}_releases_errors_panel', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="13">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">13.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create revision dummies</span></h1>
    </div>

<div id="steps-13">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-13-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Import dataframes from PostgresSQL</a>
    <br>
    <a href="#step-13-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Compute intermediate revisions</a>
    <br>
    <a href="#step-13-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Keep intermediate revisions</a>
    <br>
    <a href="#step-13-6" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> Transpose dataframe in order to have nowcast error (intermediate revisions) of fixed events as columns</a>
</div>

<div id="step-13-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Import dataframes from PostgresSQL</span>
  </div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_releases_dummies_2 = f"SELECT * FROM sectorial_gdp_monthly_releases_dummies;"
df_releases_dummies_2 = pd.read_sql(query_releases_dummies_2, engine)
df_releases_dummies_2.head(10) # showing the first 10 obs

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Filter releases dataset
    <div/>

In [ ]:
# Set dataframe inn date range
df_releases_dummies_filtered_2 = df_releases_dummies_2[(df_releases_dummies_2['vintages_date'] >= '1993-01-01') & (df_releases_dummies_2['vintages_date'] <= '2023-12-31')]

# Order the dataframe by the column 'vintages_date'
df_releases_dummies_filtered_2 = df_releases_dummies_filtered_2.sort_values(by='vintages_date')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-13-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> <span>Compute intermediate revisions</span>
  </div>

In [ ]:
# Apply the function to your dataframe and get max_release
df_rev_int_dummies, max_release_dummies = calculate_intermediate_revisions_dummies(df_releases_dummies_filtered_2)

# Output the max_release for verification
print(f"The maximum release number found: {max_release_dummies}")

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Computing specific intermediate revisions
    <div/>

In [ ]:
#df_rev_int = calculate_specific_intermediate_revisions(df_rev_int, frequency)
#df_rev_int

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Inspect specific columns
    <div/>

In [ ]:
df_rev_int_dummies[['vintages_date', 'agriculture_release_1', 'agriculture_release_2', 'r_2_agriculture']]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-13-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> <span>Keep intermediate revisions</span>
  </div>

In [ ]:
df_rev_int_dummies.head(10)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Keeping intermediate revisions and date column only 
    <div/>

In [ ]:
df_rev_int_dummies = keep_revisions(df_rev_int_dummies, frequency) # this is optional in order to compress dataframe columns

In [ ]:
df_rev_int_dummies.columns

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
#df_rev_int_dummies.to_sql(f'sectorial_gdp_monthly_int_revisions_dummies', engine, index=False, if_exists='replace')

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To data panel
    <div/>

In [ ]:
df_rev_int_panel_dummies = dummies_int_convert_to_panel(df_rev_int_dummies)
df_rev_int_panel_dummies

In [ ]:
df_rev_int_panel_dummies['vintages_date'].dtype

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
df_rev_int_panel_dummies.to_sql(f'sectorial_gdp_monthly_int_revisions_panel_dummies', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="14">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">14.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create base year dummies of revisions</span></h1>
    </div>

<div id="steps-14">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-14-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Import dataframes from PostgresSQL</a>
    <br>
    <a href="#step-14-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Compute intermediate revisions</a>
    <br>
    <a href="#step-14-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Keep intermediate revisions</a>
    <br>
    <a href="#step-14-6" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10127;</span> Transpose dataframe in order to have nowcast error (intermediate revisions) of fixed events as columns</a>
</div>

<div id="step-14-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Import dataframes from PostgresSQL</span>
  </div>

In [ ]:
# Create a pandas DataFrame from the SQL table
query_releases_dummies_by = f"SELECT * FROM sectorial_gdp_{frequency}_releases_dummies_base_year;"
df_releases_dummies_by = pd.read_sql(query_releases_dummies_by, engine)
df_releases_dummies_by.head(10) # showing the first 10 obs

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Filter releases dataset
    <div/>

In [ ]:
# Set dataframe inn date range
df_releases_dummies_by_filtered = df_releases_dummies_by[(df_releases_dummies_by['vintages_date'] >= '1993-01-01') & (df_releases_dummies_by['vintages_date'] <= '2023-12-31')]

# Order the dataframe by the column 'vintages_date'
df_releases_dummies_by_filtered = df_releases_dummies_by.sort_values(by='vintages_date')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-14-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> <span>Compute intermediate revisions</span>
  </div>

In [ ]:
# Apply the function to your dataframe and get max_release
df_rev_int_dummies_by, max_release_dummies_by = calculate_intermediate_revisions_dummies(df_releases_dummies_by_filtered)

# Output the max_release for verification
print(f"The maximum release number found: {max_release_dummies_by}")

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Computing specific intermediate revisions
    <div/>

In [ ]:
#df_rev_int = calculate_specific_intermediate_revisions(df_rev_int, frequency)
#df_rev_int

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Inspect specific columns
    <div/>

In [ ]:
df_rev_int_dummies_by[['vintages_date', 'agriculture_release_1', 'agriculture_release_2', 'r_2_agriculture']]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div id="step-14-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> <span>Keep intermediate revisions</span>
  </div>

In [ ]:
df_rev_int_dummies_by.head(10)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Keeping intermediate revisions and date column only 
    <div/>

In [ ]:
df_rev_int_dummies_by = keep_revisions(df_rev_int_dummies_by, frequency) # this is optional in order to compress dataframe columns

In [ ]:
df_rev_int_dummies_by.columns

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
#df_rev_int_dummies.to_sql(f'sectorial_gdp_monthly_int_revisions_dummies', engine, index=False, if_exists='replace')

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To data panel
    <div/>

In [ ]:
df_rev_int_panel_dummies_by = dummies_int_convert_to_panel(df_rev_int_dummies_by)
df_rev_int_panel_dummies_by

In [ ]:
df_rev_int_panel_dummies_by['vintages_date'].dtype

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    To SQL
    <div/>

In [ ]:
df_rev_int_panel_dummies_by.to_sql(f'sectorial_gdp_{frequency}_int_revisions_panel_dummies_base_year', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>