<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
    <h1>
    GDP Vintages and Releases datasets
    </h1>
</div>

<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h3>
Documentation
<br>
____________________
<br>
</h3>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    This 
    <span style="color: rgb(0, 65, 75);">jupyter notebook</span>
    provides a step-by-step guide to <b>data building</b> regarding the project <b>'Revisiones y sesgos en las estimaciones preliminares del PBI en el Perú'</b>. This guide covers the creation of GDP mid-term revision dataset for each sector. A key step is the construction at par of what we will call “The ‘t+h’ structure”. This dataset is similar to that of the GDP growth vintages by sector, but instead of growth rate values, it contains values of type “t+h”, where h indicates how many months have passed since the preliminary growth rate was first published; that is, this jupyter notebook also covers the creation of vintages datasets of growth rates associated with a horizon (<b>h</b>).
</div>

<div style="text-align: center; font-family: 'PT Serif Pro Book'; color: rgb(0, 65, 75); font-size: 16px;">
    Jason Cruz
    <br>
    <a href="mailto:jj.cruza@up.edu.pe" style="color: rgb(0, 153, 123); font-size: 16px;">
        jj.cruza@up.edu.pe
    </a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;line-height: 1.5;">
<span style="font-size: 34px;">&#128452;</span> The 't+h' structure should be available for all sectors and frequencies.
    <br>
    <span style="font-size: 24px;">&#8987;</span> Available since <b>1994-2024</b> (Table 1) and since <b>1997-2024</b> (Table 2). 
    <br>
</div>

<div style="font-family: Amaya; text-align: left; color: rgb(0, 65, 75); font-size:16px">The following <b>outline is functional</b>. By utilising the provided buttons, users are able to enhance their experience by browsing this script.<div/>

<div id="outilne">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #292929; padding: 10px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #E0E0E0;">
        Outline
    </h2>
    <br>
    <a href="#libraries" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Libraries</a>
    <br>
    <a href="#setup" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Initial set-up</a>
    <br>
    <a href="#1" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        1. Economic sector selector</a>
    <br>
    <a href="#2" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        2. Create horizon datasets</a>
    <br>
    <a href="#2.1." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.1. Loading growth rate datasets from postgresql.</a>
    <br>
    <a href="#2.2." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.2. Creating horizon dataset step by step.</a> 
    <br>
    <a href="#3" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        3. Create base year datasets</a>
    <br>
    <a href="#3.1." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.1. Loading growth rate datasets from postgresql.</a>
    <br>
    <a href="#3.2." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.2. Creating base year dataset.</a> 
    <br>
    <a href="#4" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        4. Remove observations affected by base year</a>
    <br>
    <a href="#5" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        5. Create datasets with dummy-seasonal values of revisions</a>
    <br>
    <a href="#5.1." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.1. Loading merged irregular calendar dataset from <code>PostgresSQL</code></a>
    <br>
    <a href="#5.2." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.2. Creating datasets with dummy-seasonal values of revisions</a>
    <br>
    <a href="#6" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        6. Create growth rates by horizon dataset</a>
    <br>
    <a href="#7" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        7. Create vintages and releases datasets</a>
    <br>
    <a href="#8" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        8. Loading to SQL</a>
    <br>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Any questions or issues regarding the coding, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"><span style="font-size: 24px;">&#x2709;</span>
    </a>.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    If you don't have the libraries below, please use the following code (as example) to install the required libraries.
    <div/>

In [ ]:
#!pip install os # Comment this code with "#" if you have already installed this library.

<div id="libraries">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [1]:
# POSTGRESSQL
import os
from sqlalchemy import create_engine

# HORIZON DATASETS
import pandas as pd
import numpy as np
import re

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="setup">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Initial set-up
    </h2>
    <div/>

<p style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following function will establish a connection to the <code>gdp_revisions_datasets</code> database in <code>PostgreSQL</code>. The <b>input data</b> used in this jupyter notebook will be loaded from this <code>PostgreSQL</code> database, and similarly, all <b>output data</b> generated by this jupyter notebook will be stored in that database. Ensure that you set the necessary parameters to access the server once you have obtained the required permissions.<p/>
    
<p style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
To request permissions, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"> <span style="font-size: 24px;">&#x2709;</span>
    </a>.
<p/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    Enter your user credentials to acces to SQL.
    <div/>

In [2]:
def create_sqlalchemy_engine():
    """
    Function to create an SQLAlchemy engine using environment variables.
    
    Returns:
        engine: SQLAlchemy engine object.
    """
    # Get environment variables
    user = os.environ.get('CIUP_SQL_USER')  # Get the SQL user from environment variables
    password = os.environ.get('CIUP_SQL_PASS')  # Get the SQL password from environment variables
    host = os.environ.get('CIUP_SQL_HOST')  # Get the SQL host from environment variables
    port = 5432  # Set the SQL port to 5432
    database = 'gdp_revisions_datasets'  # Set the database name 'gdp_revisions_datasets' from SQL

    # Check if all environment variables are defined
    if not all([host, user, password]):
        raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

    # Create connection string
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

    # Create SQLAlchemy engine
    engine = create_engine(connection_string)
    
    return engine

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Import all other functions required by this jupyter notebook.
    </span>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Please, check the script <code>gdp_revisions_datasets_functions.py</code> which contains all the functions required by this jupyter notebook. The functions there are ordered according to the <a href="#outilne" style="color: #3d30a2;">sections</a> of this jupyter notebok.<div/>

In [3]:
from gdp_revisions_datasets_functions import *

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book; color: dark;">1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Economic sector and data frequency selector</span></h1>

<div id="steps-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-1-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Select economic sector</a>
    <br>
    <a href="#step-1-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Select frequency</a>
</div>

<div id="step-1-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Select economic sector</span>
  </div>

In [641]:
# Call the function to show the popup window
sector = show_option_window()
print("Selected economic sector:", sector)

Selected economic sector: services

<div id="step-1-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Select frequency</span>
  </div>

In [557]:
# Call the function to show the popup window
frequency = show_frequency_window()
print("Selected frequency:", frequency)

Selected frequency: annual

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-1" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-1" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book; color: dark;">2.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create horizon datasets</span></h1>

<div id="2.1.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1. </span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading growth rate datasets from <code>PostgresSQL</code></span></h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Connect to SQL.
    <div/>

In [642]:
# Connect to SQL
engine = create_sqlalchemy_engine()

# SQL Query
query = f"SELECT * FROM {sector}_{frequency}_growth_rates;" # Please change your query to PosgtresSQL as you see fit

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Comment the code below if you want the default option (display rows and columns of the dataframe in a limited way)
    <div/>

In [643]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check the loaded dataframe.
    <div/>

In [644]:
# Read growth rates dataset as DataFrame
globals()[f'{sector}_{frequency}_growth_rates'] = pd.read_sql(query, engine)
growth_rates = globals()[f'{sector}_{frequency}_growth_rates']
growth_rates_df = growth_rates.copy()
growth_rates_df.head(10)

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,24,1997-06-27,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,25,1997-07-04,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,26,1997-07-11,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,27,1997-07-18,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,28,1997-07-25,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,29,1997-08-08,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,30,1997-08-15,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,31,1997-08-22,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,32,1997-08-29,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,33,1997-09-05,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [645]:
# Find duplicates of id_ns within the same year
duplicated_rows = growth_rates_df[growth_rates_df.duplicated(subset=['year', 'id_ns'], keep=False)]
duplicated_rows

Empty DataFrame
Columns: [year, id_ns, date, year_1993, year_1994, year_1995, year_1996, year_1997, year_1998, year_1999, year_2000, year_2001, year_2002, year_2003, year_2004, year_2005, year_2006, year_2007, year_2008, year_2009, year_2010, year_2011, year_2012, year_2013, year_2014, year_2015, year_2016, year_2017, year_2018, year_2019, year_2020, year_2021, year_2022, year_2023]
Index: []

[0 rows x 34 columns]

In [646]:
growth_rates_df.iloc[:10,:5]

   year id_ns       date year_1993 year_1994
0  1997    24 1997-06-27      None      None
1  1997    25 1997-07-04      None      None
2  1997    26 1997-07-11      None      None
3  1997    27 1997-07-18      None      None
4  1997    28 1997-07-25      None      None
5  1997    29 1997-08-08      None      None
6  1997    30 1997-08-15      None      None
7  1997    31 1997-08-22      None      None
8  1997    32 1997-08-29      None      None
9  1997    33 1997-09-05      None      None

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2.2.">
   <!-- Contenido de la celda de destino -->
</div>

<div id="2.3.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Creating horizon dataset step by step
    </span>
    </h2>

<div id="steps-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-2-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Replace decimal values by “t+h” values only in the rows representing a new rung</a>
    <br>
    <a href="#step-2-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Concatenate first 3 columns: year, date, id_ns </a>
    <br>
    <a href="#step-2-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Convert columns to string type</a>
    <br>
    <a href="#step-2-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Spreads the "t+h" values over the remaining decimal values </a>
    <br>
    <a href="#step-2-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Exporting to excel file </a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
   <span>Set key variables to fill the growth_rates with 't+h' values</span>
  </div>

In [647]:
# Call the function to set h_initial
if frequency == "monthly":
    h_initial = 1
elif frequency == "quarterly":
    h_initial = 3
elif frequency == "annual":
    h_initial = 12
else:
    h_initial = None

print(h_initial)

# suggested: monthly (1), quarterly (3), annual (12)

12

In [648]:
# Call the function to show the start_row window
start_row = 0 # Change according your preferences

In [649]:
# Define the mapping of frequencies to h_counter values
frequency_mapping = {
    'monthly': 1,
    'quarterly': 3,
    'annual': 12
}

# Get the appropriate h_counter value based on the selected frequency
h_counter = frequency_mapping.get(frequency)
print("Selected h_counter:", h_counter)

Selected h_counter: 12

<div id="step-2-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Replace decimal values by “t+h” values only in the rows representing a new rung</span>
  </div>

In [650]:
horizon = replace_horizon(growth_rates_df.iloc[:, 3:], start_row, h_initial, h_counter)
horizon_df = horizon.copy()
horizon_df.head(10)

,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,year_2000,year_2001,year_2002,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,None,None,t+24,t+12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,None,7.0,2.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,None,7.0,2.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,None,7.0,2.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,None,7.0,2.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,None,None,7.0,2.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,None,None,7.0,2.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,None,None,7.0,2.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,None,None,7.0,2.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,None,None,7.0,2.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div id="step-2-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Concatenate first 3 columns: year, date, id_ns</span>
  </div>

In [651]:
# Get the first three columns of the original DataFrame
first_3_columns = growth_rates_df.iloc[:, :3]

# Concatenate the first three columns with h_{sector}_{frequency}_growth_rates
horizon_df = pd.concat([first_3_columns, horizon_df], axis=1)
horizon_df.head(20)

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,24,1997-06-27,None,None,t+24,t+12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,25,1997-07-04,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,26,1997-07-11,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,27,1997-07-18,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,28,1997-07-25,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,29,1997-08-08,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,30,1997-08-15,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,31,1997-08-22,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,32,1997-08-29,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,33,1997-09-05,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1997,34,1997-09-12,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1997,35,1997-09-19,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1997,36,1997-09-26,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1997,37,1997-10-03,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1997,38,1997-10-10,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1997,39,1997-10-17,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1997,40,1997-10-24,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1997,41,1997-10-31,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1997,42,1997-11-07,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1997,43,1997-11-14,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div id="step-2-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Convert columns to string type</span>
  </div>

In [652]:
horizon_df = columns_str(horizon_df)
horizon_df.head(20)

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,24,1997-06-27,,,t+24,t+12,,,,...,,,,,,,,,,
1,1997,25,1997-07-04,,,7.0,2.9,,,,...,,,,,,,,,,
2,1997,26,1997-07-11,,,7.0,2.9,,,,...,,,,,,,,,,
3,1997,27,1997-07-18,,,7.0,2.9,,,,...,,,,,,,,,,
4,1997,28,1997-07-25,,,7.0,2.9,,,,...,,,,,,,,,,
5,1997,29,1997-08-08,,,7.0,2.9,,,,...,,,,,,,,,,
6,1997,30,1997-08-15,,,7.0,2.9,,,,...,,,,,,,,,,
7,1997,31,1997-08-22,,,7.0,2.9,,,,...,,,,,,,,,,
8,1997,32,1997-08-29,,,7.0,2.9,,,,...,,,,,,,,,,
9,1997,33,1997-09-05,,,7.0,2.9,,,,...,,,,,,,,,,
10,1997,34,1997-09-12,,,7.0,2.9,,,,...,,,,,,,,,,
11,1997,35,1997-09-19,,,7.0,2.9,,,,...,,,,,,,,,,
12,1997,36,1997-09-26,,,7.0,2.9,,,,...,,,,,,,,,,
13,1997,37,1997-10-03,,,7.0,2.9,,,,...,,,,,,,,,,
14,1997,38,1997-10-10,,,7.0,2.9,,,,...,,,,,,,,,,
15,1997,39,1997-10-17,,,7.0,2.9,,,,...,,,,,,,,,,
16,1997,40,1997-10-24,,,7.0,2.9,,,,...,,,,,,,,,,
17,1997,41,1997-10-31,,,7.0,2.9,,,,...,,,,,,,,,,
18,1997,42,1997-11-07,,,7.0,2.9,,,,...,,,,,,,,,,
19,1997,43,1997-11-14,,,7.0,2.9,,,,...,,,,,,,,,,

<div id="step-2-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Spreads the "t+h" values over the remaining decimal values
  </div>

In [653]:
horizon_df = replace_horizon_1(horizon_df)
horizon_df.head(20)

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,24,1997-06-27,,,t+24,t+12,,,,...,,,,,,,,,,
1,1997,25,1997-07-04,,,t+25,t+13,,,,...,,,,,,,,,,
2,1997,26,1997-07-11,,,t+25,t+13,,,,...,,,,,,,,,,
3,1997,27,1997-07-18,,,t+25,t+13,,,,...,,,,,,,,,,
4,1997,28,1997-07-25,,,t+25,t+13,,,,...,,,,,,,,,,
5,1997,29,1997-08-08,,,t+26,t+14,,,,...,,,,,,,,,,
6,1997,30,1997-08-15,,,t+26,t+14,,,,...,,,,,,,,,,
7,1997,31,1997-08-22,,,t+26,t+14,,,,...,,,,,,,,,,
8,1997,32,1997-08-29,,,t+26,t+14,,,,...,,,,,,,,,,
9,1997,33,1997-09-05,,,t+27,t+15,,,,...,,,,,,,,,,
10,1997,34,1997-09-12,,,t+27,t+15,,,,...,,,,,,,,,,
11,1997,35,1997-09-19,,,t+27,t+15,,,,...,,,,,,,,,,
12,1997,36,1997-09-26,,,t+27,t+15,,,,...,,,,,,,,,,
13,1997,37,1997-10-03,,,t+28,t+16,,,,...,,,,,,,,,,
14,1997,38,1997-10-10,,,t+28,t+16,,,,...,,,,,,,,,,
15,1997,39,1997-10-17,,,t+28,t+16,,,,...,,,,,,,,,,
16,1997,40,1997-10-24,,,t+28,t+16,,,,...,,,,,,,,,,
17,1997,41,1997-10-31,,,t+28,t+16,,,,...,,,,,,,,,,
18,1997,42,1997-11-07,,,t+29,t+17,,,,...,,,,,,,,,,
19,1997,43,1997-11-14,,,t+29,t+17,,,,...,,,,,,,,,,

<div id="step-2-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Exporting to excel file
  </div>

In [654]:
# Export to excel file
#with pd.ExcelWriter('gdp_monthly_growth_rates_h.xlsx') as writer:
#    horizon_df.to_excel(writer, sheet_name='gdp_monthly_growth_rates_h', index=False) # this is an optional, to view data generated

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Create copies of <code>horizon_df</code> to be used as arguments in other functions later on
    <div/>

In [655]:
horizon_df_copy_1 = horizon_df.copy()
horizon_df_copy_2 = horizon_df.copy()

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-2" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-2" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create base year datasets</span></h1>

<div id="3.1.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.1. </span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading growth rate datasets from <code>PostgresSQL</code></span></h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Connect to SQL.
    <div/>

In [656]:
# Connect to SQL
engine = create_sqlalchemy_engine()

# SQL Query
query = f"SELECT * FROM ns_base_year;" # Please change your query to PosgtresSQL as you see fit

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check the loaded dataframe.
    <div/>

In [657]:
# Read growth rates dataset as DataFrame
ns_base_year = pd.read_sql(query, engine)
ns_base_year_df = ns_base_year.copy()
ns_base_year_df.head(10)

   year id_ns       date base_year
0  1994    01 1994-01-10      1990
1  1994    02 1994-01-17      1990
2  1994    03 1994-01-24      1990
3  1994    04 1994-02-01      1990
4  1994    05 1994-02-07      1990
5  1994    06 1994-02-14      1990
6  1994    07 1994-02-21      1990
7  1994    08 1994-02-28      1990
8  1994    09 1994-03-04      1990
9  1994    10 1994-03-14      1990

<div id="3.2.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Creating base year dataset
    </span>
    </h2>

In [658]:
base_year_df = replace_floats_with_base_year(ns_base_year_df, growth_rates_df)

In [659]:
base_year_df.head(10)

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,24,1997-06-27,None,None,1990,1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,25,1997-07-04,None,None,1990,1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,26,1997-07-11,None,None,1990,1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,27,1997-07-18,None,None,1990,1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,28,1997-07-25,None,None,1990,1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,29,1997-08-08,None,None,1990,1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,30,1997-08-15,None,None,1990,1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,31,1997-08-22,None,None,1990,1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,32,1997-08-29,None,None,1990,1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,33,1997-09-05,None,None,1990,1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Consider the code below as provisional. Actually, no data should be exported to the current directory folder, all data should be uploaded to SQL.
    <div/>

In [660]:
# Export to excel file
#with pd.ExcelWriter('base_year_df.xlsx') as writer:
#    base_year_df.to_excel(writer, sheet_name='base_year_df', index=False) # this is an optional, to view data generated

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Remove observations affected by base year</span></h1>

<div id="steps-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#st-4-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Generating a dictionary to match observations affected by base year</a>
    <br>
    <a href="#st-4-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Remove observations affected by base year</a>
    <br>
</div>

<div id="st-4-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Generating a dictionary to match observations affected by base year</span>
  </div>

In [661]:
base_year_dictionary = create_dic_base_year(base_year_df)

In [662]:
base_year_dictionary

{'year_1998': {152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192},
 'year_1999': {152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199,
  200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240},
 'year_2011': {824, 825, 826, 827, 828, 829, 830, 831},
 'year_2012': {824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859,
  860,
  861,
  862,
  863,
  864,
  865,
  866,
  867,
  868,
  869,
  870,
  871,
  872,
  873,
  874,
  875,
  876,
  877,
  878,
  879,
  880},
 'year_2013': {824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859,
  860,
  861,
  862,
  863,
  864,
  865,
  866,
  867,
  868,
  869,
  870,
  871,
  872,
  873,
  874,
  875,
  876,
  877,
  878,
  879,
  880,
  881,
  882,
  883,
  884,
  885,
  886,
  887,
  888,
  889,
  890,
  891,
  892,
  893,
  894,
  895,
  896,
  897,
  898,
  899,
  900,
  901,
  902,
  903,
  904,
  905,
  906,
  907,
  908,
  909,
  910,
  911,
  912,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  929}}

<div id="st-4-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Remove observations affected by base year</span>
  </div>

In [663]:
input_growth_rates_df = remove_base_year_affected_obs(base_year_dictionary, growth_rates_df)

In [664]:
input_growth_rates_df.head(30)

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,24,1997-06-27,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,25,1997-07-04,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,26,1997-07-11,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,27,1997-07-18,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,28,1997-07-25,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,29,1997-08-08,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,30,1997-08-15,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,31,1997-08-22,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,32,1997-08-29,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,33,1997-09-05,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1997,34,1997-09-12,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1997,35,1997-09-19,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1997,36,1997-09-26,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1997,37,1997-10-03,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1997,38,1997-10-10,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1997,39,1997-10-17,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1997,40,1997-10-24,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1997,41,1997-10-31,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1997,42,1997-11-07,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1997,43,1997-11-14,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1997,44,1997-11-21,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1997,45,1997-11-28,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1997,46,1997-12-05,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1997,47,1997-12-12,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1997,48,1997-12-19,None,None,7.0,2.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1997,49,1997-12-26,None,None,7.0,3.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1998,01,1998-01-09,None,None,7.0,3.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1998,02,1998-01-16,None,None,7.0,3.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1998,03,1998-01-23,None,None,7.0,3.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1998,04,1998-01-30,None,None,7.0,3.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Consider the code below as provisional. Actually, no data should be exported to the current directory folder, all data should be uploaded to SQL.
    <div/>

In [665]:
# Export to excel file
#with pd.ExcelWriter('input_growth_rates_df.xlsx') as writer:
#    input_growth_rates_df.to_excel(writer, sheet_name='input_growth_rates_df', index=False) # this is an optional, to view data generated

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-4" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="5">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create datasets with dummy-seasonal values of revisions</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    This section must be apllied only for <b>monthly</b> frequency
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    In this section we replace the GDP growth rates by 1 and 0. Since one row corresponds to a Weekly Note (WN), a row full of ones indicates that both Table 1 (monthly growth rates) and Table 2 (quarterly and annual growth rates) were revised in the same NS. 
    <div/>

<div id="5.1.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.1. </span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading merged irregular calendar dataset from <code>PostgresSQL</code></span></h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Connect to SQL.
    <div/>

In [666]:
# Connect to SQL
#engine = create_sqlalchemy_engine()

# SQL Query
#irregular_calendar_query = f"SELECT * FROM revisions_irregular_calendar_merged;"

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check the loaded dataframe.
    <div/>

In [667]:
# Read growth rates dataset as DataFrame
#irregular_calendar = pd.read_sql(irregular_calendar_query, engine)
#irregular_calendar = irregular_calendar.copy()
#irregular_calendar.head(10)

<div id="5.2.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Creating datasets with dummy-seasonal values of revisions
    </span>
    </h2>

In [668]:
#dummies_df = replace_strings_with_dummies(irregular_calendar, horizon_df_copy_1)

In [669]:
#dummies_df.head(10)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Convert columns to integer type
    <div/>

In [670]:
#input_dummies_df = convert_columns_to_float(dummies_df)
#input_dummies_df.head(10)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Consider the code below as provisional. Actually, no data should be exported to the current directory folder, all data should be uploaded to SQL.
    <div/>

In [671]:
# Export to excel file
#with pd.ExcelWriter('dummies_df.xlsx') as writer:
#    dummies_df.to_excel(writer, sheet_name='dummies_df', index=False) # this is an optional, to view data generated

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-5" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="6">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">6.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create growth rates by horizon dataset</span></h1>

<div id="steps-6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#st-6-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Generating a dictionary with the row indices and their t+h values</a>
    <br>
    <a href="#st-6-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Colapse growth rates by horizon ('t+h') </a>
    <br>
</div>

<div id="st-6-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Generating a dictionary with the row indices and their t+h values</span>
  </div>

In [672]:
horizon_df_copy_2.head(5) # Check horizon data

,year,id_ns,date,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,1997,24,1997-06-27,,,t+24,t+12,,,,...,,,,,,,,,,
1,1997,25,1997-07-04,,,t+25,t+13,,,,...,,,,,,,,,,
2,1997,26,1997-07-11,,,t+25,t+13,,,,...,,,,,,,,,,
3,1997,27,1997-07-18,,,t+25,t+13,,,,...,,,,,,,,,,
4,1997,28,1997-07-25,,,t+25,t+13,,,,...,,,,,,,,,,

In [673]:
horizon_dictionary = get_last_index_h(horizon_df_copy_2)
horizon_dictionary

{'year_1993': {},
 'year_1994': {},
 'year_1995': {'t+24': 0,
  't+25': 37,
  't+26': 41,
  't+27': 45,
  't+28': 46,
  't+29': 21,
  't+30': 25,
  't+31': 29,
  't+32': 33,
  't+33': 35},
 'year_1996': {'t+12': 0,
  't+13': 37,
  't+14': 41,
  't+15': 45,
  't+16': 49,
  't+17': 53,
  't+18': 57,
  't+19': 61,
  't+20': 66,
  't+21': 70,
  't+22': 74,
  't+23': 78,
  't+24': 81,
  't+25': 82,
  't+26': 86,
  't+27': 90,
  't+28': 94},
 'year_1997': {'t+1': 37,
  't+2': 41,
  't+3': 45,
  't+4': 49,
  't+5': 53,
  't+6': 57,
  't+7': 61,
  't+8': 66,
  't+9': 70,
  't+10': 74,
  't+11': 78,
  't+12': 81,
  't+13': 82,
  't+14': 86,
  't+15': 90,
  't+16': 94,
  't+17': 98,
  't+18': 102,
  't+19': 106,
  't+20': 110,
  't+21': 115,
  't+22': 119,
  't+23': 124,
  't+24': 128,
  't+25': 132,
  't+26': 137,
  't+27': 140,
  't+28': 143},
 'year_1998': {'t+1': 82,
  't+2': 86,
  't+3': 90,
  't+4': 94,
  't+5': 98,
  't+6': 102,
  't+7': 106,
  't+8': 110,
  't+9': 115,
  't+10': 119,
  't+11': 124,
  't+12': 128,
  't+13': 132,
  't+14': 137,
  't+15': 140,
  't+16': 144,
  't+17': 149,
  't+18': 152,
  't+19': 156,
  't+20': 161,
  't+21': 165,
  't+22': 169,
  't+23': 173,
  't+24': 177,
  't+25': 181,
  't+26': 186,
  't+27': 189,
  't+28': 192},
 'year_1999': {'t+1': 132,
  't+2': 137,
  't+3': 140,
  't+4': 144,
  't+5': 149,
  't+6': 152,
  't+7': 156,
  't+8': 161,
  't+9': 165,
  't+10': 169,
  't+11': 173,
  't+12': 177,
  't+13': 181,
  't+14': 186,
  't+15': 189,
  't+16': 193,
  't+17': 198,
  't+18': 201,
  't+19': 206,
  't+20': 210,
  't+21': 214,
  't+22': 218,
  't+23': 221,
  't+24': 225,
  't+25': 229,
  't+26': 233,
  't+27': 237,
  't+28': 240},
 'year_2000': {'t+1': 181,
  't+2': 186,
  't+3': 189,
  't+4': 193,
  't+5': 198,
  't+6': 201,
  't+7': 206,
  't+8': 210,
  't+9': 214,
  't+10': 218,
  't+11': 221,
  't+12': 225,
  't+13': 229,
  't+14': 233,
  't+15': 237,
  't+16': 242,
  't+17': 246,
  't+18': 250,
  't+19': 255,
  't+20': 259,
  't+21': 264,
  't+22': 268,
  't+23': 272,
  't+24': 276,
  't+25': 280,
  't+26': 284,
  't+27': 287,
  't+28': 290},
 'year_2001': {'t+1': 229,
  't+2': 233,
  't+3': 237,
  't+4': 242,
  't+5': 246,
  't+6': 250,
  't+7': 255,
  't+8': 259,
  't+9': 264,
  't+10': 268,
  't+11': 272,
  't+12': 276,
  't+13': 280,
  't+14': 284,
  't+15': 287,
  't+16': 292,
  't+17': 296,
  't+18': 300,
  't+19': 304,
  't+20': 308,
  't+21': 313,
  't+22': 317,
  't+23': 321,
  't+24': 325,
  't+25': 329,
  't+26': 333,
  't+27': 337,
  't+28': 339},
 'year_2002': {'t+1': 280,
  't+2': 284,
  't+3': 287,
  't+4': 292,
  't+5': 296,
  't+6': 300,
  't+7': 304,
  't+8': 308,
  't+9': 313,
  't+10': 317,
  't+11': 321,
  't+12': 325,
  't+13': 329,
  't+14': 333,
  't+15': 337,
  't+16': 341,
  't+17': 345,
  't+18': 349,
  't+19': 353,
  't+20': 357,
  't+21': 362,
  't+22': 366,
  't+23': 370,
  't+24': 374,
  't+25': 378,
  't+26': 381,
  't+27': 386,
  't+28': 388},
 'year_2003': {'t+1': 329,
  't+2': 333,
  't+3': 337,
  't+4': 341,
  't+5': 345,
  't+6': 349,
  't+7': 353,
  't+8': 357,
  't+9': 362,
  't+10': 366,
  't+11': 370,
  't+12': 374,
  't+13': 378,
  't+14': 381,
  't+15': 386,
  't+16': 390,
  't+17': 394,
  't+18': 398,
  't+19': 402,
  't+20': 407,
  't+21': 411,
  't+22': 415,
  't+23': 419,
  't+24': 423,
  't+25': 427,
  't+26': 432,
  't+27': 435,
  't+28': 437},
 'year_2004': {'t+1': 378,
  't+2': 381,
  't+3': 386,
  't+4': 390,
  't+5': 394,
  't+6': 398,
  't+7': 402,
  't+8': 407,
  't+9': 411,
  't+10': 415,
  't+11': 419,
  't+12': 423,
  't+13': 427,
  't+14': 432,
  't+15': 435,
  't+16': 439,
  't+17': 444,
  't+18': 447,
  't+19': 451,
  't+20': 456,
  't+21': 460,
  't+22': 464,
  't+23': 468,
  't+24': 472,
  't+25': 476,
  't+26': 481,
  't+27': 484,
  't+28': 487},
 'year_2005': {'t+1': 427,
  't+2': 432,
  't+3': 435,
  't+4': 439,
  't+5': 444,
  't+6': 447,
  't+7': 451,
  't+8': 456,
  't+9': 460,
  't+10': 464,
  't+11': 468,
  't+12': 472,
  't+13': 476,
  't+14': 481,
  't+15': 484,
  't+16': 488,
  't+17': 493,
  't+18': 496,
  't+19': 501,
  't+20': 505,
  't+21': 510,
  't+22': 514,
  't+23': 517,
  't+24': 521,
  't+25': 526,
  't+26': 529,
  't+27': 533,
  't+28': 537},
 'year_2006': {'t+1': 476,
  't+2': 481,
  't+3': 484,
  't+4': 488,
  't+5': 493,
  't+6': 496,
  't+7': 501,
  't+8': 505,
  't+9': 510,
  't+10': 514,
  't+11': 517,
  't+12': 521,
  't+13': 526,
  't+14': 529,
  't+15': 533,
  't+16': 538,
  't+17': 542,
  't+18': 546,
  't+19': 550,
  't+20': 554,
  't+21': 559,
  't+22': 563,
  't+23': 567,
  't+24': 571,
  't+25': 575,
  't+26': 579,
  't+27': 583,
  't+28': 586},
 'year_2007': {'t+1': 526,
  't+2': 529,
  't+3': 533,
  't+4': 538,
  't+5': 542,
  't+6': 546,
  't+7': 550,
  't+8': 554,
  't+9': 559,
  't+10': 563,
  't+11': 567,
  't+12': 571,
  't+13': 575,
  't+14': 579,
  't+15': 583,
  't+16': 587,
  't+17': 591,
  't+18': 595,
  't+19': 599,
  't+20': 603,
  't+21': 608,
  't+22': 612,
  't+23': 616,
  't+24': 620,
  't+25': 628,
  't+26': 632,
  't+27': 635},
 'year_2008': {'t+1': 575,
  't+2': 579,
  't+3': 583,
  't+4': 587,
  't+5': 591,
  't+6': 595,
  't+7': 599,
  't+8': 603,
  't+9': 608,
  't+10': 612,
  't+11': 616,
  't+12': 620,
  't+13': 628,
  't+14': 632,
  't+15': 636,
  't+16': 640,
  't+17': 644,
  't+18': 648,
  't+19': 652,
  't+20': 657,
  't+21': 661,
  't+22': 665,
  't+23': 669,
  't+24': 672,
  't+25': 673,
  't+26': 677,
  't+27': 681,
  't+28': 684},
 'year_2009': {'t+1': 628,
  't+2': 632,
  't+3': 636,
  't+4': 640,
  't+5': 644,
  't+6': 648,
  't+7': 652,
  't+8': 657,
  't+9': 661,
  't+10': 665,
  't+11': 669,
  't+12': 672,
  't+13': 673,
  't+14': 677,
  't+15': 681,
  't+16': 685,
  't+17': 689,
  't+18': 693,
  't+19': 697,
  't+20': 702,
  't+21': 706,
  't+22': 710,
  't+23': 714,
  't+24': 718,
  't+25': 722,
  't+26': 727,
  't+27': 730,
  't+28': 733},
 'year_2010': {'t+1': 673,
  't+2': 677,
  't+3': 681,
  't+4': 685,
  't+5': 689,
  't+6': 693,
  't+7': 697,
  't+8': 702,
  't+9': 706,
  't+10': 710,
  't+11': 714,
  't+12': 718,
  't+13': 722,
  't+14': 727,
  't+15': 730,
  't+16': 734,
  't+17': 739,
  't+18': 742,
  't+19': 747,
  't+20': 751,
  't+21': 755,
  't+22': 760,
  't+23': 763,
  't+24': 767,
  't+25': 771,
  't+26': 775,
  't+27': 779,
  't+28': 784,
  't+31': 796,
  't+32': 800,
  't+33': 805,
  't+34': 807},
 'year_2011': {'t+1': 722,
  't+2': 727,
  't+3': 730,
  't+4': 734,
  't+5': 739,
  't+6': 742,
  't+7': 747,
  't+8': 751,
  't+9': 755,
  't+10': 760,
  't+11': 763,
  't+12': 767,
  't+13': 771,
  't+14': 775,
  't+15': 779,
  't+16': 784,
  't+17': 788,
  't+18': 792,
  't+19': 796,
  't+20': 800,
  't+21': 805,
  't+22': 809,
  't+23': 813,
  't+24': 817,
  't+25': 821,
  't+26': 825,
  't+27': 828,
  't+28': 831},
 'year_2012': {'t+1': 771,
  't+2': 775,
  't+3': 779,
  't+4': 784,
  't+5': 788,
  't+6': 792,
  't+7': 796,
  't+8': 800,
  't+9': 805,
  't+10': 809,
  't+11': 813,
  't+12': 817,
  't+13': 821,
  't+14': 825,
  't+15': 828,
  't+16': 833,
  't+17': 837,
  't+18': 841,
  't+19': 845,
  't+20': 849,
  't+21': 854,
  't+22': 858,
  't+23': 862,
  't+24': 866,
  't+25': 870,
  't+26': 874,
  't+27': 878,
  't+28': 880},
 'year_2013': {'t+1': 821,
  't+2': 825,
  't+3': 828,
  't+4': 833,
  't+5': 837,
  't+6': 841,
  't+7': 845,
  't+8': 849,
  't+9': 854,
  't+10': 858,
  't+11': 862,
  't+12': 866,
  't+13': 870,
  't+14': 874,
  't+15': 878,
  't+16': 882,
  't+17': 886,
  't+18': 890,
  't+19': 894,
  't+20': 898,
  't+21': 902,
  't+22': 906,
  't+23': 910,
  't+24': 914,
  't+25': 929,
  't+26': 921,
  't+27': 926,
  't+28': 927},
 'year_2014': {'t+1': 870,
  't+2': 874,
  't+3': 878,
  't+4': 882,
  't+5': 886,
  't+6': 890,
  't+7': 894,
  't+8': 898,
  't+9': 902,
  't+10': 906,
  't+11': 910,
  't+12': 914,
  't+13': 931,
  't+14': 935,
  't+15': 939,
  't+16': 943,
  't+17': 948,
  't+18': 952,
  't+19': 955,
  't+20': 959,
  't+21': 963,
  't+22': 966,
  't+25': 967,
  't+26': 972,
  't+27': 975,
  't+28': 979,
  't+29': 984,
  't+30': 987,
  't+31': 990},
 'year_2015': {'t+1': 931,
  't+2': 935,
  't+3': 939,
  't+4': 943,
  't+5': 948,
  't+6': 952,
  't+7': 955,
  't+8': 959,
  't+9': 963,
  't+10': 966,
  't+13': 967,
  't+14': 972,
  't+15': 975,
  't+16': 979,
  't+17': 984,
  't+18': 987,
  't+19': 992,
  't+20': 996,
  't+21': 1000,
  't+22': 1005,
  't+23': 1008,
  't+24': 1011,
  't+25': 1014},
 'year_2016': {'t+13': 1015,
  't+1': 967,
  't+2': 972,
  't+3': 975,
  't+4': 979,
  't+5': 984,
  't+6': 987,
  't+7': 992,
  't+8': 996,
  't+9': 1000,
  't+10': 1005,
  't+11': 1008,
  't+12': 1011,
  't+14': 1019,
  't+15': 1023,
  't+16': 1028,
  't+17': 1032,
  't+18': 1036,
  't+19': 1041,
  't+20': 1045,
  't+21': 1048,
  't+22': 1053,
  't+23': 1056,
  't+31': 1082,
  't+32': 1084,
  't+34': 1092,
  't+35': 1095,
  't+36': 1098,
  't+37': 1100},
 'year_2017': {'t+1': 1015,
  't+2': 1019,
  't+3': 1023,
  't+4': 1028,
  't+5': 1032,
  't+6': 1036,
  't+7': 1041,
  't+8': 1045,
  't+9': 1048,
  't+10': 1053,
  't+11': 1056,
  't+12': 1060,
  't+13': 1063,
  't+14': 1066,
  't+15': 1069,
  't+16': 1073,
  't+17': 1076,
  't+18': 1079,
  't+19': 1082,
  't+20': 1085,
  't+21': 1089,
  't+22': 1092,
  't+23': 1095,
  't+24': 1098,
  't+25': 1102,
  't+26': 1106,
  't+27': 1111,
  't+28': 1115,
  't+29': 1119,
  't+34': 1138,
  't+35': 1142,
  't+36': 1146,
  't+37': 1150,
  't+38': 1154,
  't+39': 1158,
  't+40': 1160},
 'year_2018': {'t+1': 1063,
  't+2': 1066,
  't+3': 1069,
  't+4': 1073,
  't+5': 1076,
  't+6': 1079,
  't+7': 1082,
  't+8': 1085,
  't+9': 1089,
  't+10': 1092,
  't+11': 1095,
  't+12': 1098,
  't+13': 1102,
  't+14': 1106,
  't+15': 1111,
  't+16': 1115,
  't+17': 1119,
  't+18': 1123,
  't+19': 1127,
  't+20': 1131,
  't+21': 1134,
  't+22': 1138,
  't+23': 1142,
  't+24': 1146,
  't+25': 1150,
  't+26': 1154,
  't+27': 1158,
  't+28': 1162,
  't+29': 1166,
  't+30': 1169,
  't+31': 1171,
  't+37': 1196,
  't+38': 1200,
  't+39': 1204,
  't+40': 1206},
 'year_2019': {'t+1': 1102,
  't+2': 1106,
  't+3': 1111,
  't+4': 1115,
  't+5': 1119,
  't+6': 1123,
  't+7': 1127,
  't+8': 1131,
  't+9': 1134,
  't+10': 1138,
  't+11': 1142,
  't+12': 1146,
  't+13': 1150,
  't+14': 1154,
  't+15': 1158,
  't+16': 1162,
  't+17': 1166,
  't+18': 1169,
  't+19': 1173,
  't+20': 1176,
  't+21': 1180,
  't+22': 1184,
  't+23': 1188,
  't+24': 1192,
  't+25': 1196,
  't+26': 1200,
  't+27': 1204,
  't+28': 1208,
  't+29': 1211,
  't+30': 1214,
  't+31': 1218,
  't+32': 1221,
  't+33': 1225,
  't+34': 1229,
  't+35': 1232,
  't+36': 1236,
  't+37': 1239,
  't+40': 1248},
 'year_2020': {'t+1': 1150,
  't+2': 1154,
  't+3': 1158,
  't+4': 1162,
  't+5': 1166,
  't+6': 1169,
  't+7': 1173,
  't+8': 1176,
  't+9': 1180,
  't+10': 1184,
  't+11': 1188,
  't+12': 1192,
  't+13': 1196,
  't+14': 1200,
  't+15': 1204,
  't+16': 1208,
  't+17': 1211,
  't+18': 1214,
  't+19': 1218,
  't+20': 1221,
  't+21': 1225,
  't+22': 1229,
  't+23': 1232,
  't+24': 1236,
  't+25': 1240,
  't+26': 1243,
  't+27': 1246,
  't+28': 1250,
  't+29': 1254,
  't+30': 1257,
  't+31': 1261,
  't+32': 1264,
  't+33': 1268,
  't+34': 1272,
  't+35': 1275,
  't+36': 1279,
  't+37': 1283,
  't+38': 1286,
  't+39': 1290,
  't+40': 1293},
 'year_2021': {'t+1': 1196,
  't+2': 1200,
  't+3': 1204,
  't+4': 1208,
  't+5': 1211,
  't+6': 1214,
  't+7': 1218,
  't+8': 1221,
  't+9': 1225,
  't+10': 1229,
  't+11': 1232,
  't+12': 1236,
  't+13': 1240,
  't+14': 1243,
  't+15': 1246,
  't+16': 1250,
  't+17': 1254,
  't+18': 1257,
  't+19': 1261,
  't+20': 1264,
  't+21': 1268,
  't+22': 1272,
  't+23': 1275,
  't+24': 1279,
  't+25': 1283,
  't+26': 1286,
  't+27': 1290,
  't+28': 1294,
  't+29': 1298},
 'year_2022': {'t+1': 1240,
  't+2': 1243,
  't+3': 1246,
  't+4': 1250,
  't+5': 1254,
  't+6': 1257,
  't+7': 1261,
  't+8': 1264,
  't+9': 1268,
  't+10': 1272,
  't+11': 1275,
  't+12': 1279,
  't+13': 1283,
  't+14': 1286,
  't+15': 1290,
  't+16': 1294,
  't+17': 1298},
 'year_2023': {'t+1': 1283,
  't+2': 1286,
  't+3': 1290,
  't+4': 1294,
  't+5': 1298}}

<div id="st-6-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Colapse growth rates by horizon <code>'t+h'</code></span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Note that <code>'t+h'</code> is 'h' months after the target date.
    <div/>

In [674]:
filtered_h_df = filter_df_by_indices(growth_rates_df, horizon_dictionary)
filtered_h_df

,horizon,year_1993,year_1994,year_1995,year_1996,year_1997,year_1998,year_1999,year_2000,year_2001,...,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,t+1,NaN,NaN,7.0,2.9,6.3,2.1,1.5,2.8,0.4,...,4.9,4.2,4.0,3.4,4.4,3.8,-10.3,11.8,3.4,-0.4
1,t+2,NaN,NaN,7.0,3.2,6.3,2.1,1.5,2.8,0.4,...,4.9,4.2,3.9,3.4,4.4,3.8,-10.3,11.8,3.4,-0.4
2,t+3,NaN,NaN,7.0,3.2,6.3,2.1,1.5,2.8,0.4,...,4.9,4.2,3.9,3.4,4.4,3.8,-10.3,11.8,3.4,-0.3
3,t+4,NaN,NaN,7.0,3.2,6.6,2.1,1.5,2.8,0.4,...,4.9,4.2,3.9,3.3,4.4,3.8,-10.3,11.9,3.4,-0.4
4,t+5,NaN,NaN,7.0,3.2,6.6,2.1,1.5,2.8,0.4,...,4.9,4.2,3.9,3.3,4.4,3.8,-10.3,11.9,3.4,-0.4
5,t+6,NaN,NaN,7.0,3.2,6.6,1.6,NaN,1.8,0.4,...,4.9,4.2,3.9,3.3,4.4,3.8,-10.3,11.9,3.4,NaN
6,t+7,NaN,NaN,7.0,3.2,6.6,1.6,NaN,1.8,0.4,...,5.0,4.2,3.9,3.3,4.4,3.8,-10.3,11.8,3.4,NaN
7,t+8,NaN,NaN,7.0,3.2,6.6,1.6,NaN,1.8,0.4,...,5.0,4.2,4.0,3.3,4.4,3.8,-10.3,11.8,3.4,NaN
8,t+9,NaN,NaN,7.0,3.2,6.6,1.6,NaN,1.8,0.4,...,5.0,4.2,4.0,3.3,4.4,3.8,-10.3,11.8,3.4,NaN
9,t+10,NaN,NaN,7.0,3.2,6.6,1.6,NaN,1.8,0.4,...,5.0,4.2,4.0,3.3,4.5,3.8,-10.3,11.8,3.3,NaN
10,t+11,NaN,NaN,NaN,3.2,6.6,1.6,NaN,1.8,0.4,...,5.0,4.2,4.0,3.3,4.5,3.8,-10.3,11.8,3.3,NaN
11,t+12,NaN,NaN,NaN,3.2,6.6,1.6,NaN,1.8,0.4,...,5.0,4.2,4.0,3.3,4.5,3.8,-10.3,11.8,3.3,NaN
12,t+13,NaN,NaN,NaN,3.2,6.3,1.5,NaN,1.8,0.3,...,5.0,4.2,4.0,3.3,4.4,3.8,-10.3,11.9,3.3,NaN
13,t+14,NaN,NaN,NaN,3.2,6.3,1.5,NaN,1.8,0.3,...,5.0,4.2,4.0,3.3,4.4,3.8,-10.3,11.9,3.3,NaN
14,t+15,NaN,NaN,NaN,3.2,6.3,1.5,NaN,1.8,0.3,...,5.0,4.2,4.0,3.3,4.4,3.6,-10.3,11.9,3.3,NaN
15,t+16,NaN,NaN,NaN,3.2,6.3,1.5,NaN,1.8,0.5,...,5.0,4.2,4.0,3.3,4.4,3.6,-10.4,11.4,3.3,NaN
16,t+17,NaN,NaN,NaN,3.2,6.3,1.5,NaN,1.8,0.5,...,5.0,4.1,4.0,3.3,4.4,3.6,-10.4,11.4,3.3,NaN
17,t+18,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,0.5,...,5.0,4.1,4.0,3.3,4.4,3.6,-10.4,11.4,NaN,NaN
18,t+19,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,0.5,...,5.0,4.1,4.0,3.4,4.4,3.6,-10.4,11.4,NaN,NaN
19,t+20,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,0.5,...,5.0,4.1,4.0,3.3,4.4,3.6,-10.4,11.4,NaN,NaN
20,t+21,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,0.5,...,5.0,4.1,4.0,3.3,4.4,3.6,-10.4,11.4,NaN,NaN
21,t+22,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,-0.3,...,5.0,4.1,4.0,3.3,4.4,3.6,-10.4,11.5,NaN,NaN
22,t+23,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,-0.3,...,5.0,4.1,4.0,3.3,4.4,3.6,-10.4,11.5,NaN,NaN
23,t+24,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,-0.3,...,5.0,NaN,3.8,3.3,4.4,3.6,-10.4,11.5,NaN,NaN
24,t+25,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,-0.3,...,5.0,NaN,3.8,3.3,4.4,3.6,-10.4,11.5,NaN,NaN
25,t+26,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,-0.3,...,5.0,NaN,4.1,3.3,4.4,3.6,-10.4,11.5,NaN,NaN
26,t+27,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,-0.3,...,5.0,NaN,4.1,3.3,4.4,3.8,-10.4,11.5,NaN,NaN
27,t+28,NaN,NaN,NaN,NaN,5.3,NaN,NaN,1.8,-0.3,...,5.0,NaN,4.1,3.3,4.4,3.8,-10.3,11.5,NaN,NaN
28,t+29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,4.1,3.3,4.4,3.8,-10.3,11.5,NaN,NaN
29,t+30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.3,4.4,3.8,-10.3,NaN,NaN,NaN
30,t+31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.3,4.4,3.8,-10.3,NaN,NaN,NaN
31,t+32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.3,4.4,3.8,-10.3,NaN,NaN,NaN
32,t+33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.6,4.4,3.8,-10.3,NaN,NaN,NaN
33,t+34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.6,4.3,3.8,-10.1,NaN,NaN,NaN
34,t+35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.4,4.3,3.8,-10.1,NaN,NaN,NaN
35,t+36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.4,NaN,3.8,-10.1,NaN,NaN,NaN
36,t+37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.8,-10.1,NaN,NaN,NaN
37,t+38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.8,-10.1,NaN,NaN,NaN
38,t+39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-10.1,NaN,NaN,NaN
39,t+40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-10.1,NaN,NaN,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-6" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="7">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">7.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create vintages and releases datasets</span></h1>

<div id="steps-7">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#st-7-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Create vintages</a>
    <br>
    <a href="#st-7-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Clean-up vintages dataframe </a>
    <br>
    <a href="#st-7-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Create releases </a>
    <br>
</div>

<div id="st-7-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Create vintages</span>
  </div>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Change by <code>benchmark_growth_rates_df</code> to analyze on benchmark revisions.
    </span>
</div>

In [675]:
vintages = create_vintages(input_growth_rates_df)
#vintages = create_vintages(input_dummies_df) # To generate vintages with dummy values instead growth rates
#vintages = create_vintages(benchmark_growth_rates_df)
#vintages.head(10)

<div id="st-7-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Clean-up vintages dataframe</span>
  </div>

In [676]:
# Call the appropriate function based on frequency and sector
if frequency == 'monthly':
    vintages_df = process_monthly(vintages)
elif frequency == 'quarterly':
    vintages_df = process_quarterly(vintages)
elif frequency == 'annual':
    vintages_df = process_annual(vintages)

In [677]:
vintages_df.head(30)

aux,vintages_date,ns_1997m06,ns_1997m07,ns_1997m08,ns_1997m09,ns_1997m10,ns_1997m11,ns_1997m12,ns_1998m01,ns_1998m02,...,ns_2023m09,ns_2023m10,ns_2023m11,ns_2023m12,ns_2024m01,ns_2024m02,ns_2024m03,ns_2024m04,ns_2024m05,ns_2024m06
0,1993-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1995-01-01,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1996-01-01,2.9,2.9,2.9,2.9,2.9,2.9,3.2,3.2,3.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1998-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2001-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2003-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2004-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2005-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2006-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2007-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2008-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2009-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2014-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-10.3,-10.3,-10.1,-10.1,-10.1,-10.1,-10.1,-10.1,NaN,NaN
28,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.4,11.4,11.5,11.5,11.5,11.5,11.5,11.5,11.5,11.5
29,2022-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.4,3.4,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3

<div id="st-7-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Create releases</span>
  </div>

In [678]:
releases_df = create_releases(vintages_df, sector)
releases_df.head(30)

aux,vintages_date,services_release_1,services_release_2,services_release_3,services_release_4,services_release_5,services_release_6,services_release_7,services_release_8,services_release_9,...,services_release_31,services_release_32,services_release_33,services_release_34,services_release_35,services_release_36,services_release_37,services_release_38,services_release_39,services_most_recent
0,1993-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1995-01-01,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
3,1996-01-01,2.9,2.9,2.9,2.9,2.9,2.9,3.2,3.2,3.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.2
4,1997-01-01,6.3,6.3,6.3,6.6,6.6,6.6,6.6,6.6,6.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.3
5,1998-01-01,2.1,2.1,2.1,2.1,2.1,1.6,1.6,1.6,1.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5
6,1999-01-01,1.5,1.5,1.5,1.5,1.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5
7,2000-01-01,2.8,2.8,2.8,2.8,2.8,1.8,1.8,1.8,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8
8,2001-01-01,0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.3
9,2002-01-01,4.9,4.9,4.9,4.5,4.5,4.5,4.5,4.5,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.8
10,2003-01-01,4.4,4.4,4.4,4.5,4.5,4.5,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.6
11,2004-01-01,6.0,6.0,6.0,4.7,4.7,4.7,4.7,4.7,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.4
12,2005-01-01,6.8,6.8,6.8,6.2,6.4,6.3,6.3,6.3,6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.8
13,2006-01-01,8.2,8.2,8.2,8.2,8.2,8.2,7.0,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.8
14,2007-01-01,9.1,9.1,9.1,9.1,8.9,8.9,9.6,9.6,9.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
15,2008-01-01,9.5,9.5,9.5,9.3,9.3,9.3,9.3,9.3,9.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1
16,2009-01-01,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.1
17,2010-01-01,8.1,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,7.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.7
18,2011-01-01,8.3,8.3,8.3,8.3,8.3,8.3,8.3,8.3,8.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1
19,2012-01-01,7.2,7.2,7.2,7.3,7.3,7.3,7.0,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1
20,2013-01-01,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8
21,2014-01-01,4.9,4.9,4.9,4.9,4.9,4.9,5.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
22,2015-01-01,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1
23,2016-01-01,3.9,3.9,3.9,3.9,3.9,3.9,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1
24,2017-01-01,3.4,3.4,3.4,3.3,3.3,3.3,3.3,3.3,3.3,...,3.3,3.3,2.6,2.6,3.4,NaN,NaN,NaN,NaN,3.4
25,2018-01-01,4.4,4.4,4.4,4.4,4.4,4.4,4.4,4.4,4.4,...,4.4,4.4,4.3,NaN,NaN,NaN,NaN,NaN,NaN,4.3
26,2019-01-01,3.8,3.8,3.8,3.8,3.8,3.8,3.8,3.8,3.8,...,3.8,3.8,3.8,3.8,3.8,3.8,NaN,NaN,NaN,3.8
27,2020-01-01,-10.3,-10.3,-10.3,-10.3,-10.3,-10.3,-10.3,-10.3,-10.3,...,-10.3,-10.3,-10.3,-10.1,-10.1,-10.1,-10.1,-10.1,-10.1,-10.1
28,2021-01-01,11.8,11.8,11.8,11.9,11.9,11.9,11.8,11.8,11.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.5
29,2022-01-01,3.4,3.4,3.4,3.4,3.4,3.4,3.4,3.4,3.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.3

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

#### Check column type

In [679]:
print(releases_df[f'{sector}_release_1'].dtype)

float64

In [680]:
print(releases_df['vintages_date'].dtype)

datetime64[ns]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="8">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: charter;">8.</span>
    <span style = "color: dark; font-family: charter;">
    Loading to SQL
    </span>
    </h2>

In [681]:
horizon_df.to_sql(f'{sector}_{frequency}_growth_rates_horizon', engine, index=False, if_exists='replace')
#base_year_df.to_sql(f'{sector}_{frequency}_growth_rates_base_year', engine, index=False, if_exists='replace')
#filtered_h_df.to_sql(f'{sector}_{frequency}_h_benchmark', engine, index=False, if_exists='replace')
vintages_df.to_sql(f'{sector}_{frequency}_vintages', engine, index=False, if_exists='replace')
releases_df.to_sql(f'{sector}_{frequency}_releases', engine, index=False, if_exists='replace')

31

Loading to SQL releases of irregular calendar of revision dummies

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Run code below only if ypu want to generate releases in terms of dummies for irregular calendar of revisions
    </span>
</div>

In [682]:
#releases_df.to_sql(f'{sector}_{frequency}_releases_dummies', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-1-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-1-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>