<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
    <h1>
    GDP Vintages and Releases datasets
    </h1>
</div>

<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h3>
Documentation
<br>
____________________
<br>
</h3>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    This 
    <span style="color: rgb(0, 65, 75);">jupyter notebook</span>
    provides a step-by-step guide to <b>data building</b> regarding the project <b>'Revisiones y sesgos en las estimaciones preliminares del PBI en el Perú'</b>. This guide covers the creation of GDP mid-term revision dataset for each sector. A key step is the construction at par of what we will call “The ‘t+h’ structure”. This dataset is similar to that of the GDP growth vintages by sector, but instead of growth rate values, it contains values of type “t+h”, where h indicates how many months have passed since the preliminary growth rate was first published; that is, this jupyter notebook also covers the creation of vintages datasets of growth rates associated with a horizon (<b>h</b>).
</div>

<div style="text-align: center; font-family: 'PT Serif Pro Book'; color: rgb(0, 65, 75); font-size: 16px;">
    Jason Cruz
    <br>
    <a href="mailto:jj.cruza@up.edu.pe" style="color: rgb(0, 153, 123); font-size: 16px;">
        jj.cruza@up.edu.pe
    </a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;line-height: 1.5;">
<span style="font-size: 34px;">&#128452;</span> The 't+h' structure should be available for all sectors and frequencies.
    <br>
    <span style="font-size: 24px;">&#8987;</span> Available since <b>1994-2024</b> (Table 1) and since <b>1997-2024</b> (Table 2). 
    <br>
</div>

<div style="font-family: Amaya; text-align: left; color: rgb(0, 65, 75); font-size:16px">The following <b>outline is functional</b>. By utilising the provided buttons, users are able to enhance their experience by browsing this script.<div/>

<div id="outilne">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #292929; padding: 10px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #E0E0E0;">
        Outline
    </h2>
    <br>
    <a href="#libraries" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Libraries</a>
    <br>
    <a href="#setup" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Initial set-up</a>
    <br>
    <a href="#1" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        1. Economic sector selector</a>
    <br>
    <a href="#2" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        2. Create horizon datasets</a>
    <br>
    <a href="#2.1." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.1. Loading growth rate datasets from postgresql.</a>
    <br>
    <a href="#2.2." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.2. Creating horizon dataset step by step.</a> 
    <br>
    <a href="#3" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        3. Create base year datasets</a>
    <br>
    <a href="#3.1." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.1. Loading growth rate datasets from postgresql.</a>
    <br>
    <a href="#3.2." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.2. Creating base year dataset.</a> 
    <br>
    <a href="#4" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        4. Remove observations affected by base year</a>
    <br>
    <a href="#5" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        5. Create datasets with dummy-seasonal values of revisions</a>
    <br>
    <a href="#5.1." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.1. Loading merged irregular calendar dataset from <code>PostgresSQL</code></a>
    <br>
    <a href="#5.2." style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.2. Creating datasets with dummy-seasonal values of revisions</a>
    <br>
    <a href="#6" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        6. Create growth rates by horizon dataset</a>
    <br>
    <a href="#7" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        7. Create vintages and releases datasets</a>
    <br>
    <a href="#8" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        8. Loading to SQL</a>
    <br>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Any questions or issues regarding the coding, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"><span style="font-size: 24px;">&#x2709;</span>
    </a>.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    If you don't have the libraries below, please use the following code (as example) to install the required libraries.
    <div/>

In [ ]:
#!pip install os # Comment this code with "#" if you have already installed this library.

<div id="libraries">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [54]:
# POSTGRESSQL
import os
from sqlalchemy import create_engine

# HORIZON DATASETS
import pandas as pd
import numpy as np
import re

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="setup">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Initial set-up
    </h2>
    <div/>

<p style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following function will establish a connection to the <code>gdp_revisions_datasets</code> database in <code>PostgreSQL</code>. The <b>input data</b> used in this jupyter notebook will be loaded from this <code>PostgreSQL</code> database, and similarly, all <b>output data</b> generated by this jupyter notebook will be stored in that database. Ensure that you set the necessary parameters to access the server once you have obtained the required permissions.<p/>
    
<p style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
To request permissions, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"> <span style="font-size: 24px;">&#x2709;</span>
    </a>.
<p/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    Enter your user credentials to acces to SQL.
    <div/>

In [55]:
def create_sqlalchemy_engine():
    """
    Function to create an SQLAlchemy engine using environment variables.
    
    Returns:
        engine: SQLAlchemy engine object.
    """
    # Get environment variables
    user = os.environ.get('CIUP_SQL_USER')  # Get the SQL user from environment variables
    password = os.environ.get('CIUP_SQL_PASS')  # Get the SQL password from environment variables
    host = os.environ.get('CIUP_SQL_HOST')  # Get the SQL host from environment variables
    port = 5432  # Set the SQL port to 5432
    database = 'gdp_revisions_datasets'  # Set the database name 'gdp_revisions_datasets' from SQL

    # Check if all environment variables are defined
    if not all([host, user, password]):
        raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

    # Create connection string
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

    # Create SQLAlchemy engine
    engine = create_engine(connection_string)
    
    return engine

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Import all other functions required by this jupyter notebook.
    </span>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Please, check the script <code>gdp_revisions_datasets_functions.py</code> which contains all the functions required by this jupyter notebook. The functions there are ordered according to the <a href="#outilne" style="color: #3d30a2;">sections</a> of this jupyter notebok.<div/>

In [56]:
from gdp_revisions_datasets_functions import *

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book; color: dark;">1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Economic sector and data frequency selector</span></h1>

<div id="steps-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-1-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Select economic sector</a>
    <br>
    <a href="#step-1-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Select frequency</a>
</div>

<div id="step-1-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Select economic sector</span>
  </div>

In [359]:
# Call the function to show the popup window
sector = show_option_window()
print("Selected economic sector:", sector)

Selected economic sector: services

<div id="step-1-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Select frequency</span>
  </div>

In [360]:
# Call the function to show the popup window
frequency = show_frequency_window()
print("Selected frequency:", frequency)

Selected frequency: monthly

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-1" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-1" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book; color: dark;">2.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create horizon datasets</span></h1>

<div id="2.1.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1. </span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading growth rate datasets from <code>PostgresSQL</code></span></h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Connect to SQL.
    <div/>

In [361]:
# Connect to SQL
engine = create_sqlalchemy_engine()

# SQL Query
query = f"SELECT * FROM {sector}_{frequency}_growth_rates;" # Please change your query to PosgtresSQL as you see fit

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Comment the code below if you want the default option (display rows and columns of the dataframe in a limited way)
    <div/>

In [362]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check the loaded dataframe.
    <div/>

In [363]:
# Read growth rates dataset as DataFrame
globals()[f'{sector}_{frequency}_growth_rates'] = pd.read_sql(query, engine)
growth_rates = globals()[f'{sector}_{frequency}_growth_rates']
growth_rates_df = growth_rates.copy()
growth_rates_df.head(10)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,1997,25,1997-07-04,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,26,1997-07-11,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,27,1997-07-18,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,28,1997-07-25,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,29,1997-08-08,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,30,1997-08-15,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,31,1997-08-22,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,32,1997-08-29,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,33,1997-09-05,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,34,1997-09-12,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [364]:
# Find duplicates of id_ns within the same year
duplicated_rows = growth_rates_df[growth_rates_df.duplicated(subset=['year', 'id_ns'], keep=False)]
duplicated_rows

Empty DataFrame
Columns: [year, id_ns, date, ene_1992, feb_1992, mar_1992, abr_1992, may_1992, jun_1992, jul_1992, ago_1992, sep_1992, oct_1992, nov_1992, dic_1992, ene_1993, feb_1993, mar_1993, abr_1993, may_1993, jun_1993, jul_1993, ago_1993, sep_1993, oct_1993, nov_1993, dic_1993, ene_1994, feb_1994, mar_1994, abr_1994, may_1994, jun_1994, jul_1994, ago_1994, sep_1994, oct_1994, nov_1994, dic_1994, ene_1995, feb_1995, mar_1995, abr_1995, may_1995, jun_1995, jul_1995, ago_1995, sep_1995, oct_1995, nov_1995, dic_1995, ene_1996, feb_1996, mar_1996, abr_1996, may_1996, jun_1996, jul_1996, ago_1996, sep_1996, oct_1996, nov_1996, dic_1996, ene_1997, feb_1997, mar_1997, abr_1997, may_1997, jun_1997, jul_1997, ago_1997, sep_1997, oct_1997, nov_1997, dic_1997, ene_1998, feb_1998, mar_1998, abr_1998, may_1998, jun_1998, jul_1998, ago_1998, sep_1998, oct_1998, nov_1998, dic_1998, ene_1999, feb_1999, mar_1999, abr_1999, may_1999, jun_1999, jul_1999, ago_1999, sep_1999, oct_1999, nov_1999, dic_1999, ene_2000, ...]
Index: []

[0 rows x 391 columns]

In [365]:
growth_rates_df.iloc[:10,:5]

   year id_ns       date ene_1992 feb_1992
0  1997    25 1997-07-04     None     None
1  1997    26 1997-07-11     None     None
2  1997    27 1997-07-18     None     None
3  1997    28 1997-07-25     None     None
4  1997    29 1997-08-08     None     None
5  1997    30 1997-08-15     None     None
6  1997    31 1997-08-22     None     None
7  1997    32 1997-08-29     None     None
8  1997    33 1997-09-05     None     None
9  1997    34 1997-09-12     None     None

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2.2.">
   <!-- Contenido de la celda de destino -->
</div>

<div id="2.3.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Creating horizon dataset step by step
    </span>
    </h2>

<div id="steps-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#step-2-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Replace decimal values by “t+h” values only in the rows representing a new rung</a>
    <br>
    <a href="#step-2-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Concatenate first 3 columns: year, date, id_ns </a>
    <br>
    <a href="#step-2-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Convert columns to string type</a>
    <br>
    <a href="#step-2-4" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Spreads the "t+h" values over the remaining decimal values </a>
    <br>
    <a href="#step-2-5" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Exporting to excel file </a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
   <span>Set key variables to fill the growth_rates with 't+h' values</span>
  </div>

In [366]:
# Call the function to show the h_initial window
h_initial = show_h_initial_window()
print("Selected h_initial:", h_initial) # suggested: monthly (1), quarterly (3), annual (12)

Selected h_initial: 1

In [367]:
# Call the function to show the start_row window
start_row = show_start_row_window()
print("Selected start_row:", start_row)

Selected start_row: 0

In [368]:
# Define the mapping of frequencies to h_counter values
frequency_mapping = {
    'monthly': 1,
    'quarterly': 3,
    'annual': 12
}

# Get the appropriate h_counter value based on the selected frequency
h_counter = frequency_mapping.get(frequency)
print("Selected h_counter:", h_counter)

Selected h_counter: 1

<div id="step-2-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Replace decimal values by “t+h” values only in the rows representing a new rung</span>
  </div>

In [369]:
horizon = replace_horizon(growth_rates_df.iloc[:, 3:], start_row, h_initial, h_counter)
horizon_df = horizon.copy()
horizon_df.head(10)

,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,ago_1992,sep_1992,oct_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div id="step-2-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Concatenate first 3 columns: year, date, id_ns</span>
  </div>

In [370]:
# Get the first three columns of the original DataFrame
first_3_columns = growth_rates_df.iloc[:, :3]

# Concatenate the first three columns with h_{sector}_{frequency}_growth_rates
horizon_df = pd.concat([first_3_columns, horizon_df], axis=1)
horizon_df.head(20)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,1997,25,1997-07-04,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,26,1997-07-11,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,27,1997-07-18,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,28,1997-07-25,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,29,1997-08-08,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,30,1997-08-15,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,31,1997-08-22,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,32,1997-08-29,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,33,1997-09-05,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,34,1997-09-12,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1997,35,1997-09-19,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1997,36,1997-09-26,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1997,37,1997-10-03,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1997,38,1997-10-10,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1997,39,1997-10-17,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1997,40,1997-10-24,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1997,41,1997-10-31,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1997,42,1997-11-07,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1997,43,1997-11-14,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1997,44,1997-11-21,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div id="step-2-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Convert columns to string type</span>
  </div>

In [371]:
horizon_df = columns_str(horizon_df)
horizon_df.head(20)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,1997,25,1997-07-04,,,,,,,,...,,,,,,,,,,
1,1997,26,1997-07-11,,,,,,,,...,,,,,,,,,,
2,1997,27,1997-07-18,,,,,,,,...,,,,,,,,,,
3,1997,28,1997-07-25,,,,,,,,...,,,,,,,,,,
4,1997,29,1997-08-08,,,,,,,,...,,,,,,,,,,
5,1997,30,1997-08-15,,,,,,,,...,,,,,,,,,,
6,1997,31,1997-08-22,,,,,,,,...,,,,,,,,,,
7,1997,32,1997-08-29,,,,,,,,...,,,,,,,,,,
8,1997,33,1997-09-05,,,,,,,,...,,,,,,,,,,
9,1997,34,1997-09-12,,,,,,,,...,,,,,,,,,,
10,1997,35,1997-09-19,,,,,,,,...,,,,,,,,,,
11,1997,36,1997-09-26,,,,,,,,...,,,,,,,,,,
12,1997,37,1997-10-03,,,,,,,,...,,,,,,,,,,
13,1997,38,1997-10-10,,,,,,,,...,,,,,,,,,,
14,1997,39,1997-10-17,,,,,,,,...,,,,,,,,,,
15,1997,40,1997-10-24,,,,,,,,...,,,,,,,,,,
16,1997,41,1997-10-31,,,,,,,,...,,,,,,,,,,
17,1997,42,1997-11-07,,,,,,,,...,,,,,,,,,,
18,1997,43,1997-11-14,,,,,,,,...,,,,,,,,,,
19,1997,44,1997-11-21,,,,,,,,...,,,,,,,,,,

<div id="step-2-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10125;</span> Spreads the "t+h" values over the remaining decimal values
  </div>

In [372]:
horizon_df = replace_horizon_1(horizon_df)
horizon_df.head(20)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,1997,25,1997-07-04,,,,,,,,...,,,,,,,,,,
1,1997,26,1997-07-11,,,,,,,,...,,,,,,,,,,
2,1997,27,1997-07-18,,,,,,,,...,,,,,,,,,,
3,1997,28,1997-07-25,,,,,,,,...,,,,,,,,,,
4,1997,29,1997-08-08,,,,,,,,...,,,,,,,,,,
5,1997,30,1997-08-15,,,,,,,,...,,,,,,,,,,
6,1997,31,1997-08-22,,,,,,,,...,,,,,,,,,,
7,1997,32,1997-08-29,,,,,,,,...,,,,,,,,,,
8,1997,33,1997-09-05,,,,,,,,...,,,,,,,,,,
9,1997,34,1997-09-12,,,,,,,,...,,,,,,,,,,
10,1997,35,1997-09-19,,,,,,,,...,,,,,,,,,,
11,1997,36,1997-09-26,,,,,,,,...,,,,,,,,,,
12,1997,37,1997-10-03,,,,,,,,...,,,,,,,,,,
13,1997,38,1997-10-10,,,,,,,,...,,,,,,,,,,
14,1997,39,1997-10-17,,,,,,,,...,,,,,,,,,,
15,1997,40,1997-10-24,,,,,,,,...,,,,,,,,,,
16,1997,41,1997-10-31,,,,,,,,...,,,,,,,,,,
17,1997,42,1997-11-07,,,,,,,,...,,,,,,,,,,
18,1997,43,1997-11-14,,,,,,,,...,,,,,,,,,,
19,1997,44,1997-11-21,,,,,,,,...,,,,,,,,,,

<div id="step-2-5">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10126;</span> Exporting to excel file
  </div>

In [373]:
# Export to excel file
#with pd.ExcelWriter('gdp_monthly_growth_rates_h.xlsx') as writer:
#    horizon_df.to_excel(writer, sheet_name='gdp_monthly_growth_rates_h', index=False) # this is an optional, to view data generated

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Create copies of <code>horizon_df</code> to be used as arguments in other functions later on
    <div/>

In [374]:
horizon_df_copy_1 = horizon_df.copy()
horizon_df_copy_2 = horizon_df.copy()

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-2" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-2" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create base year datasets</span></h1>

<div id="3.1.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.1. </span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading growth rate datasets from <code>PostgresSQL</code></span></h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Connect to SQL.
    <div/>

In [375]:
# Connect to SQL
engine = create_sqlalchemy_engine()

# SQL Query
query = f"SELECT * FROM ns_base_year;" # Please change your query to PosgtresSQL as you see fit

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check the loaded dataframe.
    <div/>

In [376]:
# Read growth rates dataset as DataFrame
ns_base_year = pd.read_sql(query, engine)
ns_base_year_df = ns_base_year.copy()
ns_base_year_df.head(10)

   year id_ns       date base_year
0  1994    01 1994-01-10      1990
1  1994    02 1994-01-17      1990
2  1994    03 1994-01-24      1990
3  1994    04 1994-02-01      1990
4  1994    05 1994-02-07      1990
5  1994    06 1994-02-14      1990
6  1994    07 1994-02-21      1990
7  1994    08 1994-02-28      1990
8  1994    09 1994-03-04      1990
9  1994    10 1994-03-14      1990

<div id="3.2.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Creating base year dataset
    </span>
    </h2>

In [377]:
base_year_df = replace_floats_with_base_year(ns_base_year_df, growth_rates_df)

In [378]:
base_year_df.head(10)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,1997,25,1997-07-04,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,26,1997-07-11,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,27,1997-07-18,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,28,1997-07-25,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,29,1997-08-08,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,30,1997-08-15,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,31,1997-08-22,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,32,1997-08-29,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,33,1997-09-05,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,34,1997-09-12,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Consider the code below as provisional. Actually, no data should be exported to the current directory folder, all data should be uploaded to SQL.
    <div/>

In [379]:
# Export to excel file
#with pd.ExcelWriter('base_year_df.xlsx') as writer:
#    base_year_df.to_excel(writer, sheet_name='base_year_df', index=False) # this is an optional, to view data generated

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Remove observations affected by base year</span></h1>

<div id="steps-4">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#st-4-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Generating a dictionary to match observations affected by base year</a>
    <br>
    <a href="#st-4-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Remove observations affected by base year</a>
    <br>
</div>

<div id="st-4-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Generating a dictionary to match observations affected by base year</span>
  </div>

In [380]:
base_year_dictionary = create_dic_base_year(base_year_df)

In [381]:
base_year_dictionary

{'may_1999': {151, 152},
 'jun_1999': {151, 152, 153, 154, 155, 156, 157},
 'jul_1999': {151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161},
 'ago_1999': {151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165},
 'sep_1999': {151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169},
 'oct_1999': {151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173},
 'nov_1999': {151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177},
 'dic_1999': {151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181},
 'ene_2000': {151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189},
 'feb_2000': {151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189},
 'mar_2000': {151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193},
 'abr_2000': {151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197},
 'ene_2013': {823, 824, 825, 826},
 'feb_2013': {823, 824, 825, 826, 827, 828, 829, 830},
 'mar_2013': {823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834},
 'abr_2013': {823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838},
 'may_2013': {823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842},
 'jun_2013': {823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846},
 'jul_2013': {823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851},
 'ago_2013': {823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851,
  852,
  853,
  854,
  855},
 'sep_2013': {823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859},
 'oct_2013': {823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859,
  860,
  861,
  862,
  863},
 'nov_2013': {823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859,
  860,
  861,
  862,
  863,
  864,
  865,
  866,
  867},
 'dic_2013': {823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859,
  860,
  861,
  862,
  863,
  864,
  865,
  866,
  867,
  868,
  869,
  870,
  871}}

<div id="st-4-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Remove observations affected by base year</span>
  </div>

In [382]:
input_growth_rates_df = remove_base_year_affected_obs(base_year_dictionary, growth_rates_df)

In [383]:
input_growth_rates_df.head(30)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,1997,25,1997-07-04,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,26,1997-07-11,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,27,1997-07-18,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,28,1997-07-25,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,29,1997-08-08,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,30,1997-08-15,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,31,1997-08-22,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,32,1997-08-29,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,33,1997-09-05,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,34,1997-09-12,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1997,35,1997-09-19,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1997,36,1997-09-26,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1997,37,1997-10-03,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1997,38,1997-10-10,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1997,39,1997-10-17,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1997,40,1997-10-24,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1997,41,1997-10-31,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1997,42,1997-11-07,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1997,43,1997-11-14,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1997,44,1997-11-21,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1997,45,1997-11-28,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1997,46,1997-12-05,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1997,47,1997-12-12,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1997,48,1997-12-19,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1997,49,1997-12-26,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1998,01,1998-01-09,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1998,02,1998-01-16,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1998,03,1998-01-23,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1998,04,1998-01-30,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1998,05,1998-02-06,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Consider the code below as provisional. Actually, no data should be exported to the current directory folder, all data should be uploaded to SQL.
    <div/>

In [384]:
# Export to excel file
#with pd.ExcelWriter('input_growth_rates_df.xlsx') as writer:
#    input_growth_rates_df.to_excel(writer, sheet_name='input_growth_rates_df', index=False) # this is an optional, to view data generated

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-4" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="5">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create datasets with dummy-seasonal values of revisions</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    This section must be apllied only for monthly frequency
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    In this section we replace the GDP growth rates by 1 and 0. Since one row corresponds to a Weekly Note (WN), a row full of ones indicates that both Table 1 (monthly growth rates) and Table 2 (quarterly and annual growth rates) were revised in the same NS. 
    <div/>

<div id="5.1.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.1. </span> <span style = "color: dark; font-family: PT Serif Pro Book;">Loading merged irregular calendar dataset from <code>PostgresSQL</code></span></h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Connect to SQL.
    <div/>

In [385]:
# Connect to SQL
engine = create_sqlalchemy_engine()

# SQL Query
irregular_calendar_query = f"SELECT * FROM revisions_irregular_calendar_merged;"

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Check the loaded dataframe.
    <div/>

In [386]:
# Read growth rates dataset as DataFrame
irregular_calendar = pd.read_sql(irregular_calendar_query, engine)
irregular_calendar = irregular_calendar.copy()
irregular_calendar.head(10)

   year id_ns
0  1994    09
1  1994    12
2  1994    13
3  1994    25
4  1994    33
5  1994    37
6  1995    01
7  1995    44
8  1995    48
9  1996    10

<div id="5.2.">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Creating datasets with dummy-seasonal values of revisions
    </span>
    </h2>

In [387]:
dummies_df = replace_strings_with_dummies(irregular_calendar, horizon_df_copy_1)

In [388]:
dummies_df.head(10)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,1997,25,1997-07-04,,,,,,,,...,,,,,,,,,,
1,1997,26,1997-07-11,,,,,,,,...,,,,,,,,,,
2,1997,27,1997-07-18,,,,,,,,...,,,,,,,,,,
3,1997,28,1997-07-25,,,,,,,,...,,,,,,,,,,
4,1997,29,1997-08-08,,,,,,,,...,,,,,,,,,,
5,1997,30,1997-08-15,,,,,,,,...,,,,,,,,,,
6,1997,31,1997-08-22,,,,,,,,...,,,,,,,,,,
7,1997,32,1997-08-29,,,,,,,,...,,,,,,,,,,
8,1997,33,1997-09-05,,,,,,,,...,,,,,,,,,,
9,1997,34,1997-09-12,,,,,,,,...,,,,,,,,,,

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Convert columns to integer type
    <div/>

In [389]:
input_dummies_df = convert_columns_to_float(dummies_df)
input_dummies_df.head(10)

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,1997,25,1997-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,26,1997-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,27,1997-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,28,1997-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,29,1997-08-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1997,30,1997-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1997,31,1997-08-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,32,1997-08-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1997,33,1997-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1997,34,1997-09-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Consider the code below as provisional. Actually, no data should be exported to the current directory folder, all data should be uploaded to SQL.
    <div/>

In [390]:
# Export to excel file
#with pd.ExcelWriter('dummies_df.xlsx') as writer:
#    dummies_df.to_excel(writer, sheet_name='dummies_df', index=False) # this is an optional, to view data generated

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-5" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="6">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">6.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create growth rates by horizon dataset</span></h1>

<div id="steps-6">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#st-6-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Generating a dictionary with the row indices and their t+h values</a>
    <br>
    <a href="#st-6-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Colapse growth rates by horizon ('t+h') </a>
    <br>
</div>

<div id="st-6-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Generating a dictionary with the row indices and their t+h values</span>
  </div>

In [391]:
horizon_df_copy_2.head(5) # Check horizon data

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,1997,25,1997-07-04,,,,,,,,...,,,,,,,,,,
1,1997,26,1997-07-11,,,,,,,,...,,,,,,,,,,
2,1997,27,1997-07-18,,,,,,,,...,,,,,,,,,,
3,1997,28,1997-07-25,,,,,,,,...,,,,,,,,,,
4,1997,29,1997-08-08,,,,,,,,...,,,,,,,,,,

In [392]:
horizon_dictionary = get_last_index_h(horizon_df_copy_2)
horizon_dictionary

{'ene_1992': {},
 'feb_1992': {},
 'mar_1992': {},
 'abr_1992': {},
 'may_1992': {},
 'jun_1992': {},
 'jul_1992': {},
 'ago_1992': {},
 'sep_1992': {},
 'oct_1992': {},
 'nov_1992': {},
 'dic_1992': {},
 'ene_1993': {},
 'feb_1993': {},
 'mar_1993': {},
 'abr_1993': {},
 'may_1993': {},
 'jun_1993': {},
 'jul_1993': {},
 'ago_1993': {},
 'sep_1993': {},
 'oct_1993': {},
 'nov_1993': {},
 'dic_1993': {},
 'ene_1994': {},
 'feb_1994': {},
 'mar_1994': {},
 'abr_1994': {},
 'may_1994': {},
 'jun_1994': {},
 'jul_1994': {},
 'ago_1994': {},
 'sep_1994': {},
 'oct_1994': {},
 'nov_1994': {},
 'dic_1994': {},
 'ene_1995': {},
 'feb_1995': {},
 'mar_1995': {},
 'abr_1995': {},
 'may_1995': {},
 'jun_1995': {},
 'jul_1995': {},
 'ago_1995': {},
 'sep_1995': {},
 'oct_1995': {},
 'nov_1995': {},
 'dic_1995': {},
 'ene_1996': {'t+16': 0, 't+17': 2},
 'feb_1996': {'t+15': 0, 't+16': 2},
 'mar_1996': {'t+14': 0, 't+15': 2},
 'abr_1996': {'t+13': 0, 't+14': 2},
 'may_1996': {'t+12': 0, 't+13': 3},
 'jun_1996': {'t+11': 0, 't+12': 3, 't+13': 7},
 'jul_1996': {'t+10': 0, 't+11': 3, 't+12': 7, 't+13': 11, 't+14': 12},
 'ago_1996': {'t+9': 0, 't+10': 3, 't+11': 7, 't+12': 11, 't+13': 16},
 'sep_1996': {'t+8': 0,
  't+9': 3,
  't+10': 7,
  't+11': 11,
  't+12': 16,
  't+13': 20},
 'oct_1996': {'t+7': 0,
  't+8': 3,
  't+9': 7,
  't+10': 11,
  't+11': 16,
  't+12': 20,
  't+13': 24},
 'nov_1996': {'t+6': 0,
  't+7': 3,
  't+8': 7,
  't+9': 11,
  't+10': 16,
  't+11': 20,
  't+12': 24,
  't+13': 28,
  't+14': 29},
 'dic_1996': {'t+5': 0,
  't+6': 3,
  't+7': 7,
  't+8': 11,
  't+9': 16,
  't+10': 20,
  't+11': 24,
  't+12': 28,
  't+13': 32,
  't+14': 33},
 'ene_1997': {'t+4': 0,
  't+5': 3,
  't+6': 7,
  't+7': 11,
  't+8': 16,
  't+9': 20,
  't+10': 24,
  't+11': 28,
  't+12': 32,
  't+13': 36,
  't+14': 40,
  't+15': 44,
  't+16': 48,
  't+17': 52,
  't+18': 56,
  't+19': 60,
  't+20': 62},
 'feb_1997': {'t+3': 0,
  't+4': 3,
  't+5': 7,
  't+6': 11,
  't+7': 16,
  't+8': 20,
  't+9': 24,
  't+10': 28,
  't+11': 32,
  't+12': 36,
  't+13': 40,
  't+14': 44,
  't+15': 48,
  't+16': 52,
  't+17': 56,
  't+18': 60,
  't+19': 62},
 'mar_1997': {'t+2': 0,
  't+3': 3,
  't+4': 7,
  't+5': 11,
  't+6': 16,
  't+7': 20,
  't+8': 24,
  't+9': 28,
  't+10': 32,
  't+11': 36,
  't+12': 40,
  't+13': 44,
  't+14': 48,
  't+15': 52,
  't+16': 56,
  't+17': 60,
  't+18': 62},
 'abr_1997': {'t+1': 0,
  't+2': 3,
  't+3': 7,
  't+4': 11,
  't+5': 16,
  't+6': 20,
  't+7': 24,
  't+8': 28,
  't+9': 32,
  't+10': 36,
  't+11': 40,
  't+12': 44,
  't+13': 48,
  't+14': 52,
  't+15': 56,
  't+16': 60,
  't+17': 62},
 'may_1997': {'t+1': 3,
  't+2': 7,
  't+3': 11,
  't+4': 16,
  't+5': 20,
  't+6': 24,
  't+7': 28,
  't+8': 32,
  't+9': 36,
  't+10': 40,
  't+11': 44,
  't+12': 48,
  't+13': 52,
  't+14': 56,
  't+15': 60,
  't+16': 62},
 'jun_1997': {'t+1': 7,
  't+2': 11,
  't+3': 16,
  't+4': 20,
  't+5': 24,
  't+6': 28,
  't+7': 32,
  't+8': 36,
  't+9': 40,
  't+10': 44,
  't+11': 48,
  't+12': 52,
  't+13': 56,
  't+14': 60,
  't+15': 62},
 'jul_1997': {'t+1': 11,
  't+2': 16,
  't+3': 20,
  't+4': 24,
  't+5': 28,
  't+6': 32,
  't+7': 36,
  't+8': 40,
  't+9': 44,
  't+10': 48,
  't+11': 52,
  't+12': 56,
  't+13': 60,
  't+14': 62},
 'ago_1997': {'t+1': 16,
  't+2': 20,
  't+3': 24,
  't+4': 28,
  't+5': 32,
  't+6': 36,
  't+7': 40,
  't+8': 44,
  't+9': 48,
  't+10': 52,
  't+11': 56,
  't+12': 60,
  't+13': 65,
  't+14': 66},
 'sep_1997': {'t+1': 20,
  't+2': 24,
  't+3': 28,
  't+4': 32,
  't+5': 36,
  't+6': 40,
  't+7': 44,
  't+8': 48,
  't+9': 52,
  't+10': 56,
  't+11': 60,
  't+12': 65,
  't+13': 69,
  't+14': 70},
 'oct_1997': {'t+1': 24,
  't+2': 28,
  't+3': 32,
  't+4': 36,
  't+5': 40,
  't+6': 44,
  't+7': 48,
  't+8': 52,
  't+9': 56,
  't+10': 60,
  't+11': 65,
  't+12': 69,
  't+13': 73},
 'nov_1997': {'t+1': 28,
  't+2': 32,
  't+3': 36,
  't+4': 40,
  't+5': 44,
  't+6': 48,
  't+7': 52,
  't+8': 56,
  't+9': 60,
  't+10': 65,
  't+11': 69,
  't+12': 73,
  't+13': 77,
  't+14': 78},
 'dic_1997': {'t+1': 32,
  't+2': 36,
  't+3': 40,
  't+4': 44,
  't+5': 48,
  't+6': 52,
  't+7': 56,
  't+8': 60,
  't+9': 65,
  't+10': 69,
  't+11': 73,
  't+12': 77,
  't+13': 81,
  't+14': 82},
 'ene_1998': {'t+1': 36,
  't+2': 40,
  't+3': 44,
  't+4': 48,
  't+5': 52,
  't+6': 56,
  't+7': 60,
  't+8': 65,
  't+9': 69,
  't+10': 73,
  't+11': 77,
  't+12': 81,
  't+13': 85,
  't+14': 89,
  't+15': 93,
  't+16': 97,
  't+17': 101,
  't+18': 105,
  't+19': 106},
 'feb_1998': {'t+1': 40,
  't+2': 44,
  't+3': 48,
  't+4': 52,
  't+5': 56,
  't+6': 60,
  't+7': 65,
  't+8': 69,
  't+9': 73,
  't+10': 77,
  't+11': 81,
  't+12': 85,
  't+13': 89,
  't+14': 93,
  't+15': 97,
  't+16': 101,
  't+17': 105,
  't+18': 106},
 'mar_1998': {'t+1': 44,
  't+2': 48,
  't+3': 52,
  't+4': 56,
  't+5': 60,
  't+6': 65,
  't+7': 69,
  't+8': 73,
  't+9': 77,
  't+10': 81,
  't+11': 85,
  't+12': 89,
  't+13': 93,
  't+14': 97,
  't+15': 101,
  't+16': 105,
  't+17': 106},
 'abr_1998': {'t+1': 48,
  't+2': 52,
  't+3': 56,
  't+4': 60,
  't+5': 65,
  't+6': 69,
  't+7': 73,
  't+8': 77,
  't+9': 81,
  't+10': 85,
  't+11': 89,
  't+12': 93,
  't+13': 97,
  't+14': 101,
  't+15': 105,
  't+16': 106},
 'may_1998': {'t+1': 52,
  't+2': 56,
  't+3': 60,
  't+4': 65,
  't+5': 69,
  't+6': 73,
  't+7': 77,
  't+8': 81,
  't+9': 85,
  't+10': 89,
  't+11': 93,
  't+12': 97,
  't+13': 101,
  't+14': 105,
  't+15': 106},
 'jun_1998': {'t+1': 56,
  't+2': 60,
  't+3': 65,
  't+4': 69,
  't+5': 73,
  't+6': 77,
  't+7': 81,
  't+8': 85,
  't+9': 89,
  't+10': 93,
  't+11': 97,
  't+12': 101,
  't+13': 105,
  't+14': 106},
 'jul_1998': {'t+1': 60,
  't+2': 65,
  't+3': 69,
  't+4': 73,
  't+5': 77,
  't+6': 81,
  't+7': 85,
  't+8': 89,
  't+9': 93,
  't+10': 97,
  't+11': 101,
  't+12': 105,
  't+13': 109,
  't+14': 111},
 'ago_1998': {'t+1': 65,
  't+2': 69,
  't+3': 73,
  't+4': 77,
  't+5': 81,
  't+6': 85,
  't+7': 89,
  't+8': 93,
  't+9': 97,
  't+10': 101,
  't+11': 105,
  't+12': 109,
  't+13': 114,
  't+14': 115},
 'sep_1998': {'t+1': 69,
  't+2': 73,
  't+3': 77,
  't+4': 81,
  't+5': 85,
  't+6': 89,
  't+7': 93,
  't+8': 97,
  't+9': 101,
  't+10': 105,
  't+11': 109,
  't+12': 114,
  't+13': 118,
  't+14': 120},
 'oct_1998': {'t+1': 73,
  't+2': 77,
  't+3': 81,
  't+4': 85,
  't+5': 89,
  't+6': 93,
  't+7': 97,
  't+8': 101,
  't+9': 105,
  't+10': 109,
  't+11': 114,
  't+12': 118,
  't+13': 123,
  't+14': 124},
 'nov_1998': {'t+1': 77,
  't+2': 81,
  't+3': 85,
  't+4': 89,
  't+5': 93,
  't+6': 97,
  't+7': 101,
  't+8': 105,
  't+9': 109,
  't+10': 114,
  't+11': 118,
  't+12': 123,
  't+13': 127,
  't+14': 128},
 'dic_1998': {'t+1': 81,
  't+2': 85,
  't+3': 89,
  't+4': 93,
  't+5': 97,
  't+6': 101,
  't+7': 105,
  't+8': 109,
  't+9': 114,
  't+10': 118,
  't+11': 123,
  't+12': 127,
  't+13': 131,
  't+14': 132},
 'ene_1999': {'t+1': 85,
  't+2': 89,
  't+3': 93,
  't+4': 97,
  't+5': 101,
  't+6': 105,
  't+7': 109,
  't+8': 114,
  't+9': 118,
  't+10': 123,
  't+11': 127,
  't+12': 131,
  't+13': 136},
 'feb_1999': {'t+1': 89,
  't+2': 93,
  't+3': 97,
  't+4': 101,
  't+5': 105,
  't+6': 109,
  't+7': 114,
  't+8': 118,
  't+9': 123,
  't+10': 127,
  't+11': 131,
  't+12': 136,
  't+13': 139,
  't+14': 140},
 'mar_1999': {'t+1': 93,
  't+2': 97,
  't+3': 101,
  't+4': 105,
  't+5': 109,
  't+6': 114,
  't+7': 118,
  't+8': 123,
  't+9': 127,
  't+10': 131,
  't+11': 136,
  't+12': 139,
  't+13': 143,
  't+14': 144},
 'abr_1999': {'t+1': 97,
  't+2': 101,
  't+3': 105,
  't+4': 109,
  't+5': 114,
  't+6': 118,
  't+7': 123,
  't+8': 127,
  't+9': 131,
  't+10': 136,
  't+11': 139,
  't+12': 143,
  't+13': 148,
  't+14': 150},
 'may_1999': {'t+1': 101,
  't+2': 105,
  't+3': 109,
  't+4': 114,
  't+5': 118,
  't+6': 123,
  't+7': 127,
  't+8': 131,
  't+9': 136,
  't+10': 139,
  't+11': 143,
  't+12': 148,
  't+13': 151,
  't+14': 152},
 'jun_1999': {'t+1': 105,
  't+2': 109,
  't+3': 114,
  't+4': 118,
  't+5': 123,
  't+6': 127,
  't+7': 131,
  't+8': 136,
  't+9': 139,
  't+10': 143,
  't+11': 148,
  't+12': 151,
  't+13': 155,
  't+14': 157},
 'jul_1999': {'t+1': 109,
  't+2': 114,
  't+3': 118,
  't+4': 123,
  't+5': 127,
  't+6': 131,
  't+7': 136,
  't+8': 139,
  't+9': 143,
  't+10': 148,
  't+11': 151,
  't+12': 155,
  't+13': 160,
  't+14': 161},
 'ago_1999': {'t+1': 114,
  't+2': 118,
  't+3': 123,
  't+4': 127,
  't+5': 131,
  't+6': 136,
  't+7': 139,
  't+8': 143,
  't+9': 148,
  't+10': 151,
  't+11': 155,
  't+12': 160,
  't+13': 164,
  't+14': 165},
 'sep_1999': {'t+1': 118,
  't+2': 123,
  't+3': 127,
  't+4': 131,
  't+5': 136,
  't+6': 139,
  't+7': 143,
  't+8': 148,
  't+9': 151,
  't+10': 155,
  't+11': 160,
  't+12': 164,
  't+13': 168,
  't+14': 169},
 'oct_1999': {'t+1': 123,
  't+2': 127,
  't+3': 131,
  't+4': 136,
  't+5': 139,
  't+6': 143,
  't+7': 148,
  't+8': 151,
  't+9': 155,
  't+10': 160,
  't+11': 164,
  't+12': 168,
  't+13': 172,
  't+14': 173},
 'nov_1999': {'t+1': 127,
  't+2': 131,
  't+3': 136,
  't+4': 139,
  't+5': 143,
  't+6': 148,
  't+7': 151,
  't+8': 155,
  't+9': 160,
  't+10': 164,
  't+11': 168,
  't+12': 172,
  't+13': 176,
  't+14': 177},
 'dic_1999': {'t+1': 131,
  't+2': 136,
  't+3': 139,
  't+4': 143,
  't+5': 148,
  't+6': 151,
  't+7': 155,
  't+8': 160,
  't+9': 164,
  't+10': 168,
  't+11': 172,
  't+12': 176,
  't+13': 180,
  't+14': 181},
 'ene_2000': {'t+1': 136,
  't+2': 139,
  't+3': 143,
  't+4': 148,
  't+5': 151,
  't+6': 155,
  't+7': 160,
  't+8': 164,
  't+9': 168,
  't+10': 172,
  't+11': 176,
  't+12': 180,
  't+13': 185,
  't+14': 188,
  't+15': 189},
 'feb_2000': {'t+1': 139,
  't+2': 143,
  't+3': 148,
  't+4': 151,
  't+5': 155,
  't+6': 160,
  't+7': 164,
  't+8': 168,
  't+9': 172,
  't+10': 176,
  't+11': 180,
  't+12': 185,
  't+13': 188,
  't+14': 189},
 'mar_2000': {'t+1': 143,
  't+2': 148,
  't+3': 151,
  't+4': 155,
  't+5': 160,
  't+6': 164,
  't+7': 168,
  't+8': 172,
  't+9': 176,
  't+10': 180,
  't+11': 185,
  't+12': 188,
  't+13': 192,
  't+14': 193},
 'abr_2000': {'t+1': 148,
  't+2': 151,
  't+3': 155,
  't+4': 160,
  't+5': 164,
  't+6': 168,
  't+7': 172,
  't+8': 176,
  't+9': 180,
  't+10': 185,
  't+11': 188,
  't+12': 192,
  't+13': 197},
 'may_2000': {'t+1': 151,
  't+2': 155,
  't+3': 160,
  't+4': 164,
  't+5': 168,
  't+6': 172,
  't+7': 176,
  't+8': 180,
  't+9': 185,
  't+10': 188,
  't+11': 192,
  't+12': 197,
  't+13': 200,
  't+14': 201},
 'jun_2000': {'t+1': 155,
  't+2': 160,
  't+3': 164,
  't+4': 168,
  't+5': 172,
  't+6': 176,
  't+7': 180,
  't+8': 185,
  't+9': 188,
  't+10': 192,
  't+11': 197,
  't+12': 200,
  't+13': 205},
 'jul_2000': {'t+1': 160,
  't+2': 164,
  't+3': 168,
  't+4': 172,
  't+5': 176,
  't+6': 180,
  't+7': 185,
  't+8': 188,
  't+9': 192,
  't+10': 197,
  't+11': 200,
  't+12': 205,
  't+13': 209,
  't+14': 210},
 'ago_2000': {'t+1': 164,
  't+2': 168,
  't+3': 172,
  't+4': 176,
  't+5': 180,
  't+6': 185,
  't+7': 188,
  't+8': 192,
  't+9': 197,
  't+10': 200,
  't+11': 205,
  't+12': 209,
  't+13': 213,
  't+14': 214},
 'sep_2000': {'t+1': 168,
  't+2': 172,
  't+3': 176,
  't+4': 180,
  't+5': 185,
  't+6': 188,
  't+7': 192,
  't+8': 197,
  't+9': 200,
  't+10': 205,
  't+11': 209,
  't+12': 213,
  't+13': 217,
  't+14': 218},
 'oct_2000': {'t+1': 172,
  't+2': 176,
  't+3': 180,
  't+4': 185,
  't+5': 188,
  't+6': 192,
  't+7': 197,
  't+8': 200,
  't+9': 205,
  't+10': 209,
  't+11': 213,
  't+12': 217,
  't+13': 220,
  't+14': 221},
 'nov_2000': {'t+1': 176,
  't+2': 180,
  't+3': 185,
  't+4': 188,
  't+5': 192,
  't+6': 197,
  't+7': 200,
  't+8': 205,
  't+9': 209,
  't+10': 213,
  't+11': 217,
  't+12': 220,
  't+13': 224,
  't+14': 226},
 'dic_2000': {'t+1': 180,
  't+2': 185,
  't+3': 188,
  't+4': 192,
  't+5': 197,
  't+6': 200,
  't+7': 205,
  't+8': 209,
  't+9': 213,
  't+10': 217,
  't+11': 220,
  't+12': 224,
  't+13': 228,
  't+14': 230},
 'ene_2001': {'t+1': 185,
  't+2': 188,
  't+3': 192,
  't+4': 197,
  't+5': 200,
  't+6': 205,
  't+7': 209,
  't+8': 213,
  't+9': 217,
  't+10': 220,
  't+11': 224,
  't+12': 228,
  't+13': 232,
  't+14': 233},
 'feb_2001': {'t+1': 188,
  't+2': 192,
  't+3': 197,
  't+4': 200,
  't+5': 205,
  't+6': 209,
  't+7': 213,
  't+8': 217,
  't+9': 220,
  't+10': 224,
  't+11': 228,
  't+12': 232,
  't+13': 236,
  't+14': 237},
 'mar_2001': {'t+1': 192,
  't+2': 197,
  't+3': 200,
  't+4': 205,
  't+5': 209,
  't+6': 213,
  't+7': 217,
  't+8': 220,
  't+9': 224,
  't+10': 228,
  't+11': 232,
  't+12': 236,
  't+13': 241,
  't+14': 242},
 'abr_2001': {'t+1': 197,
  't+2': 200,
  't+3': 205,
  't+4': 209,
  't+5': 213,
  't+6': 217,
  't+7': 220,
  't+8': 224,
  't+9': 228,
  't+10': 232,
  't+11': 236,
  't+12': 241,
  't+13': 245,
  't+14': 246},
 'may_2001': {'t+1': 200,
  't+2': 205,
  't+3': 209,
  't+4': 213,
  't+5': 217,
  't+6': 220,
  't+7': 224,
  't+8': 228,
  't+9': 232,
  't+10': 236,
  't+11': 241,
  't+12': 245,
  't+13': 249,
  't+14': 250},
 'jun_2001': {'t+1': 205,
  't+2': 209,
  't+3': 213,
  't+4': 217,
  't+5': 220,
  't+6': 224,
  't+7': 228,
  't+8': 232,
  't+9': 236,
  't+10': 241,
  't+11': 245,
  't+12': 249,
  't+13': 254,
  't+14': 255},
 'jul_2001': {'t+1': 209,
  't+2': 213,
  't+3': 217,
  't+4': 220,
  't+5': 224,
  't+6': 228,
  't+7': 232,
  't+8': 236,
  't+9': 241,
  't+10': 245,
  't+11': 249,
  't+12': 254,
  't+13': 258,
  't+14': 259},
 'ago_2001': {'t+1': 213,
  't+2': 217,
  't+3': 220,
  't+4': 224,
  't+5': 228,
  't+6': 232,
  't+7': 236,
  't+8': 241,
  't+9': 245,
  't+10': 249,
  't+11': 254,
  't+12': 258,
  't+13': 263,
  't+14': 265},
 'sep_2001': {'t+1': 217,
  't+2': 220,
  't+3': 224,
  't+4': 228,
  't+5': 232,
  't+6': 236,
  't+7': 241,
  't+8': 245,
  't+9': 249,
  't+10': 254,
  't+11': 258,
  't+12': 263,
  't+13': 267,
  't+14': 268},
 'oct_2001': {'t+1': 220,
  't+2': 224,
  't+3': 228,
  't+4': 232,
  't+5': 236,
  't+6': 241,
  't+7': 245,
  't+8': 249,
  't+9': 254,
  't+10': 258,
  't+11': 263,
  't+12': 267,
  't+13': 271,
  't+14': 272},
 'nov_2001': {'t+1': 224,
  't+2': 228,
  't+3': 232,
  't+4': 236,
  't+5': 241,
  't+6': 245,
  't+7': 249,
  't+8': 254,
  't+9': 258,
  't+10': 263,
  't+11': 267,
  't+12': 271,
  't+13': 275,
  't+14': 277},
 'dic_2001': {'t+1': 228,
  't+2': 232,
  't+3': 236,
  't+4': 241,
  't+5': 245,
  't+6': 249,
  't+7': 254,
  't+8': 258,
  't+9': 263,
  't+10': 267,
  't+11': 271,
  't+12': 275,
  't+13': 279,
  't+14': 281},
 'ene_2002': {'t+1': 232,
  't+2': 236,
  't+3': 241,
  't+4': 245,
  't+5': 249,
  't+6': 254,
  't+7': 258,
  't+8': 263,
  't+9': 267,
  't+10': 271,
  't+11': 275,
  't+12': 279,
  't+13': 283,
  't+14': 285},
 'feb_2002': {'t+1': 236,
  't+2': 241,
  't+3': 245,
  't+4': 249,
  't+5': 254,
  't+6': 258,
  't+7': 263,
  't+8': 267,
  't+9': 271,
  't+10': 275,
  't+11': 279,
  't+12': 283,
  't+13': 286,
  't+14': 289},
 'mar_2002': {'t+1': 241,
  't+2': 245,
  't+3': 249,
  't+4': 254,
  't+5': 258,
  't+6': 263,
  't+7': 267,
  't+8': 271,
  't+9': 275,
  't+10': 279,
  't+11': 283,
  't+12': 286,
  't+13': 291,
  't+14': 293},
 'abr_2002': {'t+1': 245,
  't+2': 249,
  't+3': 254,
  't+4': 258,
  't+5': 263,
  't+6': 267,
  't+7': 271,
  't+8': 275,
  't+9': 279,
  't+10': 283,
  't+11': 286,
  't+12': 291,
  't+13': 295,
  't+14': 297},
 'may_2002': {'t+1': 249,
  't+2': 254,
  't+3': 258,
  't+4': 263,
  't+5': 267,
  't+6': 271,
  't+7': 275,
  't+8': 279,
  't+9': 283,
  't+10': 286,
  't+11': 291,
  't+12': 295,
  't+13': 299,
  't+14': 301},
 'jun_2002': {'t+1': 254,
  't+2': 258,
  't+3': 263,
  't+4': 267,
  't+5': 271,
  't+6': 275,
  't+7': 279,
  't+8': 283,
  't+9': 286,
  't+10': 291,
  't+11': 295,
  't+12': 299,
  't+13': 303,
  't+14': 305},
 'jul_2002': {'t+1': 258,
  't+2': 263,
  't+3': 267,
  't+4': 271,
  't+5': 275,
  't+6': 279,
  't+7': 283,
  't+8': 286,
  't+9': 291,
  't+10': 295,
  't+11': 299,
  't+12': 303,
  't+13': 307,
  't+14': 309},
 'ago_2002': {'t+1': 263,
  't+2': 267,
  't+3': 271,
  't+4': 275,
  't+5': 279,
  't+6': 283,
  't+7': 286,
  't+8': 291,
  't+9': 295,
  't+10': 299,
  't+11': 303,
  't+12': 307,
  't+13': 312,
  't+14': 314},
 'sep_2002': {'t+1': 267,
  't+2': 271,
  't+3': 275,
  't+4': 279,
  't+5': 283,
  't+6': 286,
  't+7': 291,
  't+8': 295,
  't+9': 299,
  't+10': 303,
  't+11': 307,
  't+12': 312,
  't+13': 316,
  't+14': 318},
 'oct_2002': {'t+1': 271,
  't+2': 275,
  't+3': 279,
  't+4': 283,
  't+5': 286,
  't+6': 291,
  't+7': 295,
  't+8': 299,
  't+9': 303,
  't+10': 307,
  't+11': 312,
  't+12': 316,
  't+13': 320,
  't+14': 322},
 'nov_2002': {'t+1': 275,
  't+2': 279,
  't+3': 283,
  't+4': 286,
  't+5': 291,
  't+6': 295,
  't+7': 299,
  't+8': 303,
  't+9': 307,
  't+10': 312,
  't+11': 316,
  't+12': 320,
  't+13': 324,
  't+14': 326},
 'dic_2002': {'t+1': 279,
  't+2': 283,
  't+3': 286,
  't+4': 291,
  't+5': 295,
  't+6': 299,
  't+7': 303,
  't+8': 307,
  't+9': 312,
  't+10': 316,
  't+11': 320,
  't+12': 324,
  't+13': 328,
  't+14': 330},
 'ene_2003': {'t+1': 283,
  't+2': 286,
  't+3': 291,
  't+4': 295,
  't+5': 299,
  't+6': 303,
  't+7': 307,
  't+8': 312,
  't+9': 316,
  't+10': 320,
  't+11': 324,
  't+12': 328,
  't+13': 332,
  't+14': 334},
 'feb_2003': {'t+1': 286,
  't+2': 291,
  't+3': 295,
  't+4': 299,
  't+5': 303,
  't+6': 307,
  't+7': 312,
  't+8': 316,
  't+9': 320,
  't+10': 324,
  't+11': 328,
  't+12': 332,
  't+13': 336,
  't+14': 338},
 'mar_2003': {'t+1': 291,
  't+2': 295,
  't+3': 299,
  't+4': 303,
  't+5': 307,
  't+6': 312,
  't+7': 316,
  't+8': 320,
  't+9': 324,
  't+10': 328,
  't+11': 332,
  't+12': 336,
  't+13': 340,
  't+14': 342},
 'abr_2003': {'t+1': 295,
  't+2': 299,
  't+3': 303,
  't+4': 307,
  't+5': 312,
  't+6': 316,
  't+7': 320,
  't+8': 324,
  't+9': 328,
  't+10': 332,
  't+11': 336,
  't+12': 340,
  't+13': 344,
  't+14': 347},
 'may_2003': {'t+1': 299,
  't+2': 303,
  't+3': 307,
  't+4': 312,
  't+5': 316,
  't+6': 320,
  't+7': 324,
  't+8': 328,
  't+9': 332,
  't+10': 336,
  't+11': 340,
  't+12': 344,
  't+13': 348,
  't+14': 350},
 'jun_2003': {'t+1': 303,
  't+2': 307,
  't+3': 312,
  't+4': 316,
  't+5': 320,
  't+6': 324,
  't+7': 328,
  't+8': 332,
  't+9': 336,
  't+10': 340,
  't+11': 344,
  't+12': 348,
  't+13': 352,
  't+14': 355},
 'jul_2003': {'t+1': 307,
  't+2': 312,
  't+3': 316,
  't+4': 320,
  't+5': 324,
  't+6': 328,
  't+7': 332,
  't+8': 336,
  't+9': 340,
  't+10': 344,
  't+11': 348,
  't+12': 352,
  't+13': 356,
  't+14': 359},
 'ago_2003': {'t+1': 312,
  't+2': 316,
  't+3': 320,
  't+4': 324,
  't+5': 328,
  't+6': 332,
  't+7': 336,
  't+8': 340,
  't+9': 344,
  't+10': 348,
  't+11': 352,
  't+12': 356,
  't+13': 361,
  't+14': 363},
 'sep_2003': {'t+1': 316,
  't+2': 320,
  't+3': 324,
  't+4': 328,
  't+5': 332,
  't+6': 336,
  't+7': 340,
  't+8': 344,
  't+9': 348,
  't+10': 352,
  't+11': 356,
  't+12': 361,
  't+13': 365,
  't+14': 368},
 'oct_2003': {'t+1': 320,
  't+2': 324,
  't+3': 328,
  't+4': 332,
  't+5': 336,
  't+6': 340,
  't+7': 344,
  't+8': 348,
  't+9': 352,
  't+10': 356,
  't+11': 361,
  't+12': 365,
  't+13': 369,
  't+14': 371},
 'nov_2003': {'t+1': 324,
  't+2': 328,
  't+3': 332,
  't+4': 336,
  't+5': 340,
  't+6': 344,
  't+7': 348,
  't+8': 352,
  't+9': 356,
  't+10': 361,
  't+11': 365,
  't+12': 369,
  't+13': 373,
  't+14': 375},
 'dic_2003': {'t+1': 328,
  't+2': 332,
  't+3': 336,
  't+4': 340,
  't+5': 344,
  't+6': 348,
  't+7': 352,
  't+8': 356,
  't+9': 361,
  't+10': 365,
  't+11': 369,
  't+12': 373,
  't+13': 377,
  't+14': 379},
 'ene_2004': {'t+1': 332,
  't+2': 336,
  't+3': 340,
  't+4': 344,
  't+5': 348,
  't+6': 352,
  't+7': 356,
  't+8': 361,
  't+9': 365,
  't+10': 369,
  't+11': 373,
  't+12': 377,
  't+13': 380,
  't+14': 383},
 'feb_2004': {'t+1': 336,
  't+2': 340,
  't+3': 344,

<div id="st-6-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Colapse growth rates by horizon <code>'t+h'</code></span>
  </div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Note that <code>'t+h'</code> is 'h' months after the target date.
    <div/>

In [393]:
filtered_h_df = filter_df_by_indices(growth_rates_df, horizon_dictionary)
filtered_h_df

,horizon,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,ago_1992,sep_1992,...,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024
0,t+1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3,-0.4,-0.7,-0.4,0.1,1.1,1.5,2.1,1.6,2.9
1,t+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3,-0.3,-0.7,-0.4,-0.4,1.1,1.5,2.2,1.6,NaN
2,t+3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3,-0.3,-0.7,-0.7,-0.4,1.1,1.5,2.2,NaN,NaN
3,t+4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3,-0.3,-0.7,-0.7,0.3,1.1,1.5,NaN,NaN,NaN
4,t+5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3,-0.2,-0.7,-0.5,-0.4,1.1,NaN,NaN,NaN,NaN
5,t+6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.4,-0.2,-0.7,-0.5,-0.4,NaN,NaN,NaN,NaN,NaN
6,t+7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.4,-0.3,-0.9,-0.5,NaN,NaN,NaN,NaN,NaN,NaN
7,t+8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3,-0.6,-0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,t+9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.4,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,t+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,t+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,t+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,t+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,t+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,t+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,t+16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,t+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,t+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,t+19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-5" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-6" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="7">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">7.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Create vintages and releases datasets</span></h1>

<div id="steps-7">
   <!-- Contenido de la celda de destino -->
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <a href="#st-7-1" style="text-decoration: none; color: #006769"> <span style="font-size: 24px; color: rgb(0, 65, 75);">&#10122;</span> Create vintages</a>
    <br>
    <a href="#st-7-2" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> Clean-up vintages dataframe </a>
    <br>
    <a href="#st-7-3" style="text-decoration: none; color: #006769"><span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> Create releases </a>
    <br>
</div>

<div id="st-7-1">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10122;</span> <span>Create vintages</span>
  </div>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Change by <code>benchmark_growth_rates_df</code> to analyze on benchmark revisions.
    </span>
</div>

In [394]:
#vintages = create_vintages(input_growth_rates_df)
vintages = create_vintages(input_dummies_df) # To generate vintages with dummy values instead growth rates
#vintages = create_vintages(benchmark_growth_rates_df)
vintages.head(10)

aux,vintages_date,ns_1997m07,ns_1997m08,ns_1997m09,ns_1997m10,ns_1997m11,ns_1997m12,ns_1998m01,ns_1998m02,ns_1998m03,...,ns_2023m09,ns_2023m10,ns_2023m11,ns_2023m12,ns_2024m01,ns_2024m02,ns_2024m03,ns_2024m04,ns_2024m05,ns_2024m06
0,ene_1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,feb_1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,mar_1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,abr_1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,may_1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,jun_1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,jul_1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ago_1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,sep_1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,oct_1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div id="st-7-2">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10123;</span> <span>Clean-up vintages dataframe</span>
  </div>

In [395]:
# Call the appropriate function based on frequency and sector
if frequency == 'monthly':
    vintages_df = process_monthly(vintages)
elif frequency == 'quarterly':
    vintages_df = process_quarterly(vintages)
elif frequency == 'annual':
    vintages_df = process_annual(vintages)

In [396]:
vintages_df.head(30)

aux,vintages_date,ns_1997m07,ns_1997m08,ns_1997m09,ns_1997m10,ns_1997m11,ns_1997m12,ns_1998m01,ns_1998m02,ns_1998m03,...,ns_2023m09,ns_2023m10,ns_2023m11,ns_2023m12,ns_2024m01,ns_2024m02,ns_2024m03,ns_2024m04,ns_2024m05,ns_2024m06
0,1992-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1992-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1992-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1992-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1992-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1992-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1992-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1992-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1993-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1993-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1993-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1993-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1993-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1993-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1993-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1993-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1993-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1993-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1993-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1993-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1994-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1994-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1994-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1994-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1994-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div id="st-7-3">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; font-size:22px">
    <span style="font-size: 24px; color: rgb(0, 65, 75)">&#10124;</span> <span>Create releases</span>
  </div>

In [397]:
releases_df = create_releases(vintages_df, sector)
releases_df.head(30)

aux,vintages_date,services_release_1,services_release_2,services_release_3,services_release_4,services_release_5,services_release_6,services_release_7,services_release_8,services_release_9,services_release_10,services_release_11,services_release_12,services_release_13,services_release_14,services_release_15,services_release_16,services_release_17,services_release_18,services_most_recent
0,1992-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1992-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1992-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1992-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1992-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1992-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1992-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1992-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1993-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1993-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1993-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1993-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1993-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1993-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1993-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1993-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1993-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1993-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1993-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1993-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1994-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1994-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1994-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1994-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1994-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1994-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#steps-6" style="color: #006769; text-decoration: none;">⮝</a>
    </span> 
    <a href="#steps-7" style="color: #006769; text-decoration: none;">Back to steps.</a>
</div>

#### Check column type

In [398]:
print(releases_df[f'{sector}_release_1'].dtype)

float64

In [399]:
print(releases_df['vintages_date'].dtype)

datetime64[ns]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="8">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: charter;">8.</span>
    <span style = "color: dark; font-family: charter;">
    Loading to SQL
    </span>
    </h2>

In [400]:
#horizon_df.to_sql(f'{sector}_{frequency}_growth_rates_horizon', engine, index=False, if_exists='replace')
#base_year_df.to_sql(f'{sector}_{frequency}_growth_rates_base_year', engine, index=False, if_exists='replace')
#filtered_h_df.to_sql(f'{sector}_{frequency}_h_benchmark', engine, index=False, if_exists='replace')
#vintages_df.to_sql(f'{sector}_{frequency}_vintages', engine, index=False, if_exists='replace')
#releases_df.to_sql(f'{sector}_{frequency}_releases', engine, index=False, if_exists='replace')

Loading to SQL releases of irregular calendar of revision dummies

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Run code below only if ypu want to generate releases in terms of dummies for irregular calendar of revisions
    </span>
</div>

In [401]:
releases_df.to_sql(f'{sector}_{frequency}_releases_dummies', engine, index=False, if_exists='replace')

388

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#step-1-1" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#step-1-1" style="color: rgb(255, 32, 78); text-decoration: none;">Back to <b>select economic sector</b>.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>