In [1]:
# 1. PDF downloader
#-------------------------------------------------------------------------------------------------------------------------------

import os  # For file and directory manipulation, for interacting with the operating system
import random  # To generate random numbers
from selenium import webdriver  # For automating web browsers
from selenium.webdriver.common.by import By  # To locate elements on a webpage
from selenium.webdriver.support.ui import WebDriverWait  # To wait until certain conditions are met on a webpage.
from selenium.webdriver.support import expected_conditions as EC  # To define expected conditions
from selenium.common.exceptions import StaleElementReferenceException  # To handle exceptions related to elements on the webpage that are no longer available.
import pygame # Allows you to handle graphics, sounds and input events.
from webdriver_manager.chrome import ChromeDriverManager # To avoid compatibility issues with the ChromeDrive version of ChromeDrive

import shutil # Used for high-level file operations, such as copying, moving, renaming, and deleting files and directories.


# 2. Generate PDF input with key tables
#-------------------------------------------------------------------------------------------------------------------------------

import fitz  # This library is used for working with PDF documents, including reading, writing, and modifying PDFs (PyMuPDF).
import tkinter as tk  # This library is used for creating graphical user interfaces (GUIs) in Python.


# 3. Data cleaning
#-------------------------------------------------------------------------------------------------------------------------------

# 3.1. A brief documentation on issus in the table information of the PDFs

from PIL import Image  # Used for opening, manipulating, and saving image files.
import matplotlib.pyplot as plt  # Used for creating static, animated, and interactive visualizations.

# 3.2. Extracting tables and data cleanup

import pdfplumber  # For extracting text and metadata from PDF files
import pandas as pd  # For data manipulation and analysis
import unicodedata  # For manipulating Unicode data
import re  # For regular expressions operations
from datetime import datetime  # For working with dates and times
import locale  # For locale-specific formatting of numbers, dates, and currencies

# 3.2.1. Table 1. Extraction and cleaning of data from tables on monthly real GDP growth rates.

import tabula  # Used to extract tables from PDF files into pandas DataFrames
from tkinter import Tk, messagebox, TOP, YES, NO  # Used for creating graphical user interfaces
from sqlalchemy import create_engine  # Used for connecting to and interacting with SQL databases

# 3.2.2. Table 2. Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.

import roman
from datetime import datetime


# 4. Real-time data of Peru's GDP growth rates
#-------------------------------------------------------------------------------------------------------------------------------

import psycopg2  # For interacting with PostgreSQL databases
from sqlalchemy import create_engine, text  # For creating and executing SQL queries using SQLAlchemy

pygame 2.5.2 (SDL 2.28.3, Python 3.12.1)
Hello from the pygame community. https://www.pygame.org/contribute.html

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

In [2]:
# Folder path to save downloaded PDF files

raw_pdf = 'raw_pdf' # to save raw data (.pdf).
if not os.path.exists(raw_pdf):
    os.mkdir(raw_pdf) # to create the folder (if it doesn't exist)

In [3]:
# Folder path to save text file with the names of already downloaded files

download_record = 'download_record'
if not os.path.exists(download_record):
    os.mkdir(download_record) # to create the folder (if it doesn't exist)

In [4]:
# Folder path to download the trimmed PDF files (these are PDF inputs for the extraction and cleanup code)

input_pdf = 'input_pdf'
if not os.path.exists(input_pdf):
    os.makedirs(input_pdf) # to create the folder (if it doesn't exist)

In [5]:
# Folder path to save PDF files containing only the pages of interest (where the GDP growth rate tables are located)

input_pdf_record = 'input_pdf_record'
if not os.path.exists(input_pdf_record):
    os.makedirs(input_pdf_record)

In [6]:
# Folder path to save dataframes generated record by year

dataframes_record = 'dataframes_record'
if not os.path.exists(dataframes_record):
    os.makedirs(dataframes_record) # to create the folder (if it doesn't exist)

In [7]:
# Folder path to save sound files

sound_folder = 'sound'
if not os.path.exists(sound_folder):
    os.makedirs(sound_folder) # to create the folder (if it doesn't exist)

In [8]:
# Folder path to save screenshots about issues in the table information

ns_issues_folder = 'ns_issues_folder'
if not os.path.exists(ns_issues_folder):
    os.makedirs(ns_issues_folder) # to create the folder (if it doesn't exist)

In [9]:
def create_sqlalchemy_engine():
    """
    Function to create an SQLAlchemy engine using environment variables.
    
    Returns:
        engine: SQLAlchemy engine object.
    """
    # Get environment variables
    user = os.environ.get('CIUP_SQL_USER')  # Get the SQL user from environment variables
    password = os.environ.get('CIUP_SQL_PASS')  # Get the SQL password from environment variables
    host = os.environ.get('CIUP_SQL_HOST')  # Get the SQL host from environment variables
    port = 5432  # Set the SQL port to 5432
    database = 'gdp_revisions_datasets'  # Set the database name 'gdp_revisions_datasets' from SQL

    # Check if all environment variables are defined
    if not all([host, user, password]):
        raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

    # Create connection string
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

    # Create SQLAlchemy engine
    engine = create_engine(connection_string)
    
    return engine

In [10]:
from new_gdp_datasets_functions import *

In [ ]:
# Setting the BCRP URL
bcrp_url = "https://www.bcrp.gob.pe/publicaciones/nota-semanal.html"  # Never replace this URL

In [ ]:
# Initialize pygame
pygame.mixer.init()

# List of available sound files
available_sounds = os.listdir(sound_folder)

# Select a random sound
random_sound = random.choice(available_sounds)

# Full path of the random sound
sound_path = os.path.join(sound_folder, random_sound)

# Load the selected sound
pygame.mixer.music.load(sound_path)

# List to keep track of successfully downloaded files
downloaded_files = []

# Load the list of previously downloaded files if it exists
if os.path.exists(os.path.join(download_record, "downloaded_files.txt")):
    with open(os.path.join(download_record, "downloaded_files.txt"), "r") as f:
        downloaded_files = f.read().splitlines()

# Web driver setup

'''
Nota: Download chrome.exe from 'https://googlechromelabs.github.io/chrome-for-testing/#stable'
and call in (1) the folder where you saved this application.
'''
driver = webdriver.Chrome(ChromeDriverManager().install())  # This automatically handles the correct ChromeDriver version

# Number of downloads per batch
downloads_per_batch = 5
# Total number of downloads
total_downloads = 5

try:
    # Open the test page
    driver.get(bcrp_url)
    print("Site opened successfully")

    # Wait for the container area to be present
    wait = WebDriverWait(driver, 60)
    container_area = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="rightside"]')))

    # Get all the links within the container area
    pdf_links = container_area.find_elements(By.XPATH, './/a')

    # Reverse the order of links
    pdf_links = list(reversed(pdf_links))

    # Initialize download counter
    download_counter = 0

    # Iterate over reversed links and download PDFs in batches
    for pdf_link in pdf_links:
        download_counter += 1

        # Get the file name from the URL
        new_url = pdf_link.get_attribute("href")
        file_name = new_url.split("/")[-1]

        # Check if the file has already been downloaded
        if file_name in downloaded_files:
            print(f"{download_counter}. The file {file_name} has already been downloaded previously. Skipping...")
            continue

        # Try to download the file
        try:
            download_pdf(driver, pdf_link, wait, download_counter, raw_pdf, download_record)

            # Update the list of downloaded files
            downloaded_files.append(file_name)

        except Exception as e:
            print(f"Error downloading the file {file_name}: {str(e)}")

        # If the download count reaches a multiple of batch size, notify
        if download_counter % downloads_per_batch == 0:
            print(f"Batch {download_counter // downloads_per_batch} of {downloads_per_batch} completed")

        # If the download count reaches a multiple of 25, ask the user if they want to continue
        if download_counter % 5 == 0: # after the fifth PDF downloaded, you'll listen a beautiful song
            play_sound()
            user_input = input("Do you want to continue downloading? (Enter 'y' to continue, any other key to stop): ")
            pygame.mixer.music.stop()
            if user_input.lower() != 'y':
                break

        # Random wait before the next iteration
        random_wait(5, 10)

        # If total downloads reached, break out of loop
        if download_counter == total_downloads:
            print(f"All downloads completed ({total_downloads} in total)")
            break

except StaleElementReferenceException:
    print("StaleElementReferenceException occurred. Retrying...")

finally:
    # Close the browser when finished
    driver.quit()

In [ ]:
# Get the list of files in the directory
files = os.listdir(raw_pdf)

# Call the function to organize files
organize_files_by_year(raw_pdf)

In [ ]:
# The code will reduce the number of pages of each PDF saved in the folder 'raw_pdf'.
if __name__ == "__main__":
    keywords = ["ECONOMIC SECTORS"] # Keywords to identify the 2 key tables or pages within the 100+ page PDF.
    root = tk.Tk()
    root.withdraw()  # Hide the main Tkinter window

    input_pdf_files = read_input_pdf_files()
    processing_counter = 1

    for folder in os.listdir(raw_pdf):
        folder_path = os.path.join(raw_pdf, folder)
        if os.path.isdir(folder_path):
            print("Processing folder:", folder)
            num_pdfs_trimmed = 0
            for filename in os.listdir(folder_path):
                if filename.endswith(".pdf"):
                    pdf_file = os.path.join(folder_path, filename)
                    if filename in input_pdf_files:
                        print(f"{processing_counter}. The PDF '{filename}' has already been trimmed and saved in '{input_pdf}'...")
                        processing_counter += 1
                        continue
                    print(f"{processing_counter}. Processing:", pdf_file)
                    
                    pages_with_keywords = search_keywords(pdf_file, keywords)
                    num_pages_new_pdf = trim_pdf(pdf_file, pages_with_keywords)
                    if num_pages_new_pdf > 0:
                        num_pdfs_trimmed += 1
                        input_pdf_files.add(filename)
                        processing_counter += 1
            
            write_input_pdf_files(input_pdf_files)

            message = f"{num_pdfs_trimmed} PDFs have been trimmed in folder {folder}. Do you want to continue?"
            popup = PopupWindow(root, message)
            root.wait_window(popup)
            if not popup.result:
                break
                
    print("Process completed for all PDFs in directory:", input_pdf)

In [ ]:
# Get the list of files in the directory
files = os.listdir(input_pdf)

# Call the function to organize files
organize_files_by_year(input_pdf)

In [12]:
# Set the locale to Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Dictionary to store generated DataFrames
new_dataframes_dict_1 = {}

# Path for the processed folders log file
record_path = 'dataframes_record/new_processed_folders_1.txt'

# Function to correct month names
def correct_month_name(month):
    months_mapping = {
        'setiembre': 'septiembre',
        # Add more mappings as needed for other month names
    }
    return months_mapping.get(month, month)

# Function to register processed folder
def register_processed_folder(folder, num_processed_files):
    with open(record_path, 'a') as file:
        file.write(f"{folder}:{num_processed_files}\n")

# Function to check if folder has been processed
def folder_processed(folder):
    if not os.path.exists(record_path):
        return False
    with open(record_path, 'r') as file:
        for line in file:
            if line.startswith(folder):
                return True
    return False

# Function to fetch date from database
def get_date(df, engine):
    id_ns = df['id_ns'].iloc[0]
    year = df['year'].iloc[0]
    query = f"SELECT date FROM dates_growth_rates WHERE id_ns = '{id_ns}' AND year = '{year}';"
    date_result = pd.read_sql(query, engine)
    return date_result.iloc[0, 0] if not date_result.empty else None

# Function to process PDF file
def process_pdf(pdf_path):
    new_tables_dict_1 = {}  # Local dictionary for each PDF
    table_counter = 1
    keyword_count = 0 

    filename = os.path.basename(pdf_path)
    id_ns_year_matches = re.findall(r'ns-(\d+)-(\d{4})', filename)
    if id_ns_year_matches:
        id_ns, year = id_ns_year_matches[0]
    else:
        print("No matches found for id_ns and year in filename:", filename)
        return None, None, None, None, None  # Return None for new_tables_dict_1 as well

    new_filename = os.path.splitext(os.path.basename(pdf_path))[0].replace('-', '_')

    with pdfplumber.open(pdf_path) as pdf:
        for i, page in enumerate(pdf.pages, 1):
            text = page.extract_text()
            if all(keyword in text for keyword in keywords):
                keyword_count += 1
                if keyword_count == 1:  # Process only the first occurrence
                    tables = tabula.read_pdf(pdf_path, pages=i, multiple_tables=False, stream=True) # Change stream to another option if desired
                    for j, table_df in enumerate(tables, start=1):
                        dataframe_name = f"{new_filename}_{keyword_count}"
                        new_tables_dict_1[dataframe_name] = table_df
                        table_counter += 1

                    break  # Exit loop after finding the first occurrence

    return id_ns, year, new_tables_dict_1, keyword_count

# Function to process folder
def process_folder(folder, engine):
    print(f"Processing folder {os.path.basename(folder)}")
    pdf_files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.pdf')]

    num_pdfs_processed = 0
    num_dataframes_generated = 0

    table_counter = 1  # Initialize table counter here
    new_tables_dict_1 = {}  # Declare new_tables_dict_1 outside main loop
    
    for pdf_file in pdf_files:
        id_ns, year, tables_dict_temp, keyword_count = process_pdf(pdf_file)

        if tables_dict_temp:
            for dataframe_name, df in tables_dict_temp.items():
                file_name = os.path.splitext(os.path.basename(pdf_file))[0].replace('-', '_')
                dataframe_name = f"{file_name}_{keyword_count}"
                
                # Store raw DataFrame in new_tables_dict_1
                new_tables_dict_1[dataframe_name] = df.copy()
                
                # Apply cleaning functions to a copy of the DataFrame
                df_clean = df.copy()

                if any(col.isdigit() and len(col) == 4 for col in df_clean.columns):
                    # If there is at least one column representing a year
                    df_clean = swap_nan_se(df_clean)
                    df_clean = split_column_by_pattern(df_clean)
                    df_clean = drop_rare_caracter_row(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = drop_nan_columns(df_clean)
                    df_clean = relocate_last_columns(df_clean)
                    df_clean = replace_first_dot(df_clean)
                    df_clean = swap_first_second_row(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = remove_digit_slash(df_clean)
                    df_clean = replace_var_perc_first_column(df_clean)
                    df_clean = replace_var_perc_last_columns(df_clean)
                    df_clean = replace_number_moving_average(df_clean)
                    df_clean = separate_text_digits(df_clean)
                    df_clean = exchange_values(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = find_year_column(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = get_months_sublist_list(df_clean, year_columns)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                else:
                    # If there are no columns representing years
                    df_clean = check_first_row(df_clean)
                    df_clean = check_first_row_1(df_clean)
                    df_clean = replace_first_row_with_columns(df_clean)
                    df_clean = swap_nan_se(df_clean)
                    df_clean = split_column_by_pattern(df_clean)
                    df_clean = drop_rare_caracter_row(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = drop_nan_columns(df_clean)
                    df_clean = relocate_last_columns(df_clean)
                    df_clean = swap_first_second_row(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = remove_digit_slash(df_clean)
                    df_clean = replace_var_perc_first_column(df_clean)
                    df_clean = replace_var_perc_last_columns(df_clean)
                    df_clean = replace_number_moving_average(df_clean)
                    df_clean = expand_column(df_clean)
                    df_clean = split_values_1(df_clean)
                    df_clean = split_values_2(df_clean)
                    df_clean = split_values_3(df_clean)
                    df_clean = separate_text_digits(df_clean)
                    df_clean = exchange_values(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = find_year_column(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = get_months_sublist_list(df_clean, year_columns)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_nan_with_previous_column_1(df_clean)
                    df_clean = replace_nan_with_previous_column_2(df_clean)
                    df_clean = replace_nan_with_previous_column_3(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                
                # Add 'year' column to cleaned DataFrame
                df_clean.insert(0, 'year', year)
                
                # Add 'id_ns' column to cleaned DataFrame
                df_clean.insert(1, 'id_ns', id_ns)
                
                # Get corresponding date from database
                date = get_date(df_clean, engine)
                if date:
                    # Add 'date' column to cleaned DataFrame
                    df_clean.insert(2, 'date', date)
                else:
                    print("Date not found in database for id_ns:", id_ns, "and year:", year)
                
                # Store cleaned DataFrame in new_dataframes_dict_1
                new_dataframes_dict_1[dataframe_name] = df_clean

                print(f'  {table_counter}. DataFrame generated for file {pdf_file}: {dataframe_name}')
                num_dataframes_generated += 1
                table_counter += 1  # Increment table counter here
        
        num_pdfs_processed += 1  # Increment number of processed PDFs for each PDF in folder

    return num_pdfs_processed, num_dataframes_generated, new_tables_dict_1

# Function to process folders
def process_folders():
    pdf_folder = 'input_pdf'
    folders = [os.path.join(pdf_folder, d) for d in os.listdir(pdf_folder) if os.path.isdir(os.path.join(pdf_folder, d))]
    
    new_tables_dict_1 = {}  # Initialize new_tables_dict_1 here
    
    for folder in folders:
        if folder_processed(folder):
            print(f"Folder {folder} has already been processed.")
            continue
        
        num_pdfs_processed, num_dataframes_generated, tables_dict_temp = process_folder(folder, engine)
        
        # Update new_tables_dict_1 with values returned from process_folder()
        new_tables_dict_1.update(tables_dict_temp)
        
        register_processed_folder(folder, num_pdfs_processed)

        # Ask user if they want to continue with next folder
        root = Tk()
        root.withdraw()
        root.attributes('-topmost', True)  # Ensure the messagebox is in front
        message = f"Process {folder} complete. Processed {num_pdfs_processed} PDF(s) and generated {num_dataframes_generated} DataFrame(s). Continue with next folder?"
        if not messagebox.askyesno("Continue?", message):
            break
            
    print("Processing completed for all folders.")  # Add a message to indicate completion
    
    return new_tables_dict_1

if __name__ == '__main__':
    engine = create_sqlalchemy_engine()
    new_tables_dict_1 = process_folders()

Processing folder 2013
  1. DataFrame generated for file input_pdf\2013\ns-01-2013.pdf: ns_01_2013_1
  2. DataFrame generated for file input_pdf\2013\ns-02-2013.pdf: ns_02_2013_1
  3. DataFrame generated for file input_pdf\2013\ns-03-2013.pdf: ns_03_2013_1
  4. DataFrame generated for file input_pdf\2013\ns-04-2013.pdf: ns_04_2013_1
  5. DataFrame generated for file input_pdf\2013\ns-05-2013.pdf: ns_05_2013_1
  6. DataFrame generated for file input_pdf\2013\ns-06-2013.pdf: ns_06_2013_1
  7. DataFrame generated for file input_pdf\2013\ns-07-2013.pdf: ns_07_2013_1
  8. DataFrame generated for file input_pdf\2013\ns-08-2013.pdf: ns_08_2013_1
  9. DataFrame generated for file input_pdf\2013\ns-09-2013.pdf: ns_09_2013_1
  10. DataFrame generated for file input_pdf\2013\ns-10-2013.pdf: ns_10_2013_1
  11. DataFrame generated for file input_pdf\2013\ns-11-2013.pdf: ns_11_2013_1
  12. DataFrame generated for file input_pdf\2013\ns-12-2013.pdf: ns_12_2013_1
  13. DataFrame generated for file input_pdf\2013\ns-13-2013.pdf: ns_13_2013_1
  14. DataFrame generated for file input_pdf\2013\ns-14-2013.pdf: ns_14_2013_1
  15. DataFrame generated for file input_pdf\2013\ns-15-2013.pdf: ns_15_2013_1
  16. DataFrame generated for file input_pdf\2013\ns-16-2013.pdf: ns_16_2013_1
  17. DataFrame generated for file input_pdf\2013\ns-17-2013.pdf: ns_17_2013_1
  18. DataFrame generated for file input_pdf\2013\ns-18-2013.pdf: ns_18_2013_1
  19. DataFrame generated for file input_pdf\2013\ns-19-2013.pdf: ns_19_2013_1
  20. DataFrame generated for file input_pdf\2013\ns-20-2013.pdf: ns_20_2013_1
  21. DataFrame generated for file input_pdf\2013\ns-21-2013.pdf: ns_21_2013_1
  22. DataFrame generated for file input_pdf\2013\ns-22-2013.pdf: ns_22_2013_1
  23. DataFrame generated for file input_pdf\2013\ns-23-2013.pdf: ns_23_2013_1
  24. DataFrame generated for file input_pdf\2013\ns-24-2013.pdf: ns_24_2013_1
  25. DataFrame generated for file input_pdf\2013\ns-25-2013.pdf: ns_25_2013_1
  26. DataFrame generated for file input_pdf\2013\ns-26-2013.pdf: ns_26_2013_1
  27. DataFrame generated for file input_pdf\2013\ns-27-2013.pdf: ns_27_2013_1
  28. DataFrame generated for file input_pdf\2013\ns-28-2013.pdf: ns_28_2013_1
  29. DataFrame generated for file input_pdf\2013\ns-29-2013.pdf: ns_29_2013_1
  30. DataFrame generated for file input_pdf\2013\ns-30-2013.pdf: ns_30_2013_1
  31. DataFrame generated for file input_pdf\2013\ns-31-2013.pdf: ns_31_2013_1
  32. DataFrame generated for file input_pdf\2013\ns-32-2013.pdf: ns_32_2013_1
  33. DataFrame generated for file input_pdf\2013\ns-33-2013.pdf: ns_33_2013_1
  34. DataFrame generated for file input_pdf\2013\ns-34-2013.pdf: ns_34_2013_1
  35. DataFrame generated for file input_pdf\2013\ns-35-2013.pdf: ns_35_2013_1
  36. DataFrame generated for file input_pdf\2013\ns-36-2013.pdf: ns_36_2013_1
  37. DataFrame generated for file input_pdf\2013\ns-37-2013.pdf: ns_37_2013_1
  38. DataFrame generated for file input_pdf\2013\ns-38-2013.pdf: ns_38_2013_1
  39. DataFrame generated for file input_pdf\2013\ns-39-2013.pdf: ns_39_2013_1
  40. DataFrame generated for file input_pdf\2013\ns-40-2013.pdf: ns_40_2013_1
  41. DataFrame generated for file input_pdf\2013\ns-41-2013.pdf: ns_41_2013_1
  42. DataFrame generated for file input_pdf\2013\ns-42-2013.pdf: ns_42_2013_1
  43. DataFrame generated for file input_pdf\2013\ns-43-2013.pdf: ns_43_2013_1
  44. DataFrame generated for file input_pdf\2013\ns-44-2013.pdf: ns_44_2013_1
  45. DataFrame generated for file input_pdf\2013\ns-45-2013.pdf: ns_45_2013_1
  46. DataFrame generated for file input_pdf\2013\ns-46-2013.pdf: ns_46_2013_1
  47. DataFrame generated for file input_pdf\2013\ns-47-2013.pdf: ns_47_2013_1
  48. DataFrame generated for file input_pdf\2013\ns-48-2013.pdf: ns_48_2013_1
  49. DataFrame generated for file input_pdf\2013\ns-49-2013.pdf: ns_49_2013_1
  50. DataFrame generated for file input_pdf\2013\ns-50-2013.pdf: ns_50_2013_1
Processing folder 2014
  1. DataFrame generated for file input_pdf\2014\ns-01-2014.pdf: ns_01_2014_1
  2. DataFrame generated for file input_pdf\2014\ns-02-2014.pdf: ns_02_2014_1
  3. DataFrame generated for file input_pdf\2014\ns-03-2014.pdf: ns_03_2014_1
  4. DataFrame generated for file input_pdf\2014\ns-04-2014.pdf: ns_04_2014_1
  5. DataFrame generated for file input_pdf\2014\ns-05-2014.pdf: ns_05_2014_1
  6. DataFrame generated for file input_pdf\2014\ns-06-2014.pdf: ns_06_2014_1
  7. DataFrame generated for file input_pdf\2014\ns-07-2014.pdf: ns_07_2014_1
  8. DataFrame generated for file input_pdf\2014\ns-08-2014.pdf: ns_08_2014_1
  9. DataFrame generated for file input_pdf\2014\ns-09-2014.pdf: ns_09_2014_1
  10. DataFrame generated for file input_pdf\2014\ns-10-2014.pdf: ns_10_2014_1
  11. DataFrame generated for file input_pdf\2014\ns-11-2014.pdf: ns_11_2014_1
  12. DataFrame generated for file input_pdf\2014\ns-12-2014.pdf: ns_12_2014_1
  13. DataFrame generated for file input_pdf\2014\ns-13-2014.pdf: ns_13_2014_1
  14. DataFrame generated for file input_pdf\2014\ns-14-2014.pdf: ns_14_2014_1
  15. DataFrame generated for file input_pdf\2014\ns-15-2014.pdf: ns_15_2014_1
  16. DataFrame generated for file input_pdf\2014\ns-16-2014.pdf: ns_16_2014_1
  17. DataFrame generated for file input_pdf\2014\ns-17-2014.pdf: ns_17_2014_1
  18. DataFrame generated for file input_pdf\2014\ns-18-2014.pdf: ns_18_2014_1
  19. DataFrame generated for file input_pdf\2014\ns-19-2014.pdf: ns_19_2014_1
  20. DataFrame generated for file input_pdf\2014\ns-20-2014.pdf: ns_20_2014_1
  21. DataFrame generated for file input_pdf\2014\ns-21-2014.pdf: ns_21_2014_1
  22. DataFrame generated for file input_pdf\2014\ns-22-2014.pdf: ns_22_2014_1
  23. DataFrame generated for file input_pdf\2014\ns-23-2014.pdf: ns_23_2014_1
  24. DataFrame generated for file input_pdf\2014\ns-24-2014.pdf: ns_24_2014_1
  25. DataFrame generated for file input_pdf\2014\ns-25-2014.pdf: ns_25_2014_1
  26. DataFrame generated for file input_pdf\2014\ns-26-2014.pdf: ns_26_2014_1
  27. DataFrame generated for file input_pdf\2014\ns-27-2014.pdf: ns_27_2014_1
  28. DataFrame generated for file input_pdf\2014\ns-28-2014.pdf: ns_28_2014_1
  29. DataFrame generated for file input_pdf\2014\ns-29-2014.pdf: ns_29_2014_1
  30. DataFrame generated for file input_pdf\2014\ns-30-2014.pdf: ns_30_2014_1
  31. DataFrame generated for file input_pdf\2014\ns-31-2014.pdf: ns_31_2014_1
  32. DataFrame generated for file input_pdf\2014\ns-32-2014.pdf: ns_32_2014_1
  33. DataFrame generated for file input_pdf\2014\ns-33-2014.pdf: ns_33_2014_1
  34. DataFrame generated for file input_pdf\2014\ns-34-2014.pdf: ns_34_2014_1
  35. DataFrame generated for file input_pdf\2014\ns-35-2014.pdf: ns_35_2014_1
  36. DataFrame generated for file input_pdf\2014\ns-36-2014.pdf: ns_36_2014_1
  37. DataFrame generated for file input_pdf\2014\ns-37-2014.pdf: ns_37_2014_1
  38. DataFrame generated for file input_pdf\2014\ns-38-2014.pdf: ns_38_2014_1
  39. DataFrame generated for file input_pdf\2014\ns-39-2014.pdf: ns_39_2014_1
  40. DataFrame generated for file input_pdf\2014\ns-40-2014.pdf: ns_40_2014_1
  41. DataFrame generated for file input_pdf\2014\ns-41-2014.pdf: ns_41_2014_1
  42. DataFrame generated for file input_pdf\2014\ns-42-2014.pdf: ns_42_2014_1
  43. DataFrame generated for file input_pdf\2014\ns-43-2014.pdf: ns_43_2014_1
  44. DataFrame generated for file input_pdf\2014\ns-44-2014.pdf: ns_44_2014_1
  45. DataFrame generated for file input_pdf\2014\ns-45-2014.pdf: ns_45_2014_1
  46. DataFrame generated for file input_pdf\2014\ns-46-2014.pdf: ns_46_2014_1
  47. DataFrame generated for file input_pdf\2014\ns-47-2014.pdf: ns_47_2014_1
  48. DataFrame generated for file input_pdf\2014\ns-48-2014.pdf: ns_48_2014_1
  49. DataFrame generated for file input_pdf\2014\ns-49-2014.pdf: ns_49_2014_1
Processing folder 2015
  1. DataFrame generated for file input_pdf\2015\ns-01-2015.pdf: ns_01_2015_1
  2. DataFrame generated for file input_pdf\2015\ns-02-2015.pdf: ns_02_2015_1
  3. DataFrame generated for file input_pdf\2015\ns-03-2015.pdf: ns_03_2015_1
  4. DataFrame generated for file input_pdf\2015\ns-04-2015.pdf: ns_04_2015_1
  5. DataFrame generated for file input_pdf\2015\ns-05-2015.pdf: ns_05_2015_1

  6. DataFrame generated for file input_pdf\2015\ns-06-2015.pdf: ns_06_2015_1
  7. DataFrame generated for file input_pdf\2015\ns-07-2015.pdf: ns_07_2015_1
  8. DataFrame generated for file input_pdf\2015\ns-08-2015.pdf: ns_08_2015_1
  9. DataFrame generated for file input_pdf\2015\ns-09-2015.pdf: ns_09_2015_1
  10. DataFrame generated for file input_pdf\2015\ns-10-2015.pdf: ns_10_2015_1
  11. DataFrame generated for file input_pdf\2015\ns-11-2015.pdf: ns_11_2015_1
  12. DataFrame generated for file input_pdf\2015\ns-12-2015.pdf: ns_12_2015_1
  13. DataFrame generated for file input_pdf\2015\ns-13-2015.pdf: ns_13_2015_1
  14. DataFrame generated for file input_pdf\2015\ns-14-2015.pdf: ns_14_2015_1
  15. DataFrame generated for file input_pdf\2015\ns-15-2015.pdf: ns_15_2015_1
  16. DataFrame generated for file input_pdf\2015\ns-16-2015.pdf: ns_16_2015_1
  17. DataFrame generated for file input_pdf\2015\ns-17-2015.pdf: ns_17_2015_1
  18. DataFrame generated for file input_pdf\2015\ns-18-2015.pdf: ns_18_2015_1
  19. DataFrame generated for file input_pdf\2015\ns-19-2015.pdf: ns_19_2015_1
  20. DataFrame generated for file input_pdf\2015\ns-20-2015.pdf: ns_20_2015_1
  21. DataFrame generated for file input_pdf\2015\ns-21-2015.pdf: ns_21_2015_1
  22. DataFrame generated for file input_pdf\2015\ns-22-2015.pdf: ns_22_2015_1
  23. DataFrame generated for file input_pdf\2015\ns-23-2015.pdf: ns_23_2015_1
  24. DataFrame generated for file input_pdf\2015\ns-24-2015.pdf: ns_24_2015_1
  25. DataFrame generated for file input_pdf\2015\ns-25-2015.pdf: ns_25_2015_1
  26. DataFrame generated for file input_pdf\2015\ns-26-2015.pdf: ns_26_2015_1
  27. DataFrame generated for file input_pdf\2015\ns-27-2015.pdf: ns_27_2015_1
  28. DataFrame generated for file input_pdf\2015\ns-28-2015.pdf: ns_28_2015_1
  29. DataFrame generated for file input_pdf\2015\ns-29-2015.pdf: ns_29_2015_1
  30. DataFrame generated for file input_pdf\2015\ns-30-2015.pdf: ns_30_2015_1
  31. DataFrame generated for file input_pdf\2015\ns-31-2015.pdf: ns_31_2015_1
  32. DataFrame generated for file input_pdf\2015\ns-32-2015.pdf: ns_32_2015_1
  33. DataFrame generated for file input_pdf\2015\ns-33-2015.pdf: ns_33_2015_1
  34. DataFrame generated for file input_pdf\2015\ns-34-2015.pdf: ns_34_2015_1
  35. DataFrame generated for file input_pdf\2015\ns-35-2015.pdf: ns_35_2015_1
  36. DataFrame generated for file input_pdf\2015\ns-36-2015.pdf: ns_36_2015_1
  37. DataFrame generated for file input_pdf\2015\ns-37-2015.pdf: ns_37_2015_1
  38. DataFrame generated for file input_pdf\2015\ns-38-2015.pdf: ns_38_2015_1
  39. DataFrame generated for file input_pdf\2015\ns-39-2015.pdf: ns_39_2015_1
  40. DataFrame generated for file input_pdf\2015\ns-40-2015.pdf: ns_40_2015_1
  41. DataFrame generated for file input_pdf\2015\ns-41-2015.pdf: ns_41_2015_1
  42. DataFrame generated for file input_pdf\2015\ns-42-2015.pdf: ns_42_2015_1
  43. DataFrame generated for file input_pdf\2015\ns-43-2015.pdf: ns_43_2015_1
  44. DataFrame generated for file input_pdf\2015\ns-44-2015.pdf: ns_44_2015_1
  45. DataFrame generated for file input_pdf\2015\ns-45-2015.pdf: ns_45_2015_1
  46. DataFrame generated for file input_pdf\2015\ns-46-2015.pdf: ns_46_2015_1
  47. DataFrame generated for file input_pdf\2015\ns-47-2015.pdf: ns_47_2015_1
  48. DataFrame generated for file input_pdf\2015\ns-48-2015.pdf: ns_48_2015_1
Processing folder 2016
  1. DataFrame generated for file input_pdf\2016\ns-01-2016.pdf: ns_01_2016_1
  2. DataFrame generated for file input_pdf\2016\ns-02-2016.pdf: ns_02_2016_1
  3. DataFrame generated for file input_pdf\2016\ns-03-2016.pdf: ns_03_2016_1
  4. DataFrame generated for file input_pdf\2016\ns-04-2016.pdf: ns_04_2016_1
  5. DataFrame generated for file input_pdf\2016\ns-05-2016.pdf: ns_05_2016_1
  6. DataFrame generated for file input_pdf\2016\ns-06-2016.pdf: ns_06_2016_1
  7. DataFrame generated for file input_pdf\2016\ns-07-2016.pdf: ns_07_2016_1
  8. DataFrame generated for file input_pdf\2016\ns-08-2016.pdf: ns_08_2016_1
  9. DataFrame generated for file input_pdf\2016\ns-09-2016.pdf: ns_09_2016_1
  10. DataFrame generated for file input_pdf\2016\ns-10-2016.pdf: ns_10_2016_1
  11. DataFrame generated for file input_pdf\2016\ns-11-2016.pdf: ns_11_2016_1
  12. DataFrame generated for file input_pdf\2016\ns-12-2016.pdf: ns_12_2016_1
  13. DataFrame generated for file input_pdf\2016\ns-13-2016.pdf: ns_13_2016_1
  14. DataFrame generated for file input_pdf\2016\ns-14-2016.pdf: ns_14_2016_1
  15. DataFrame generated for file input_pdf\2016\ns-15-2016.pdf: ns_15_2016_1
  16. DataFrame generated for file input_pdf\2016\ns-16-2016.pdf: ns_16_2016_1
  17. DataFrame generated for file input_pdf\2016\ns-17-2016.pdf: ns_17_2016_1
  18. DataFrame generated for file input_pdf\2016\ns-18-2016.pdf: ns_18_2016_1
  19. DataFrame generated for file input_pdf\2016\ns-19-2016.pdf: ns_19_2016_1
  20. DataFrame generated for file input_pdf\2016\ns-20-2016.pdf: ns_20_2016_1
  21. DataFrame generated for file input_pdf\2016\ns-21-2016.pdf: ns_21_2016_1
  22. DataFrame generated for file input_pdf\2016\ns-22-2016.pdf: ns_22_2016_1
  23. DataFrame generated for file input_pdf\2016\ns-23-2016.pdf: ns_23_2016_1
  24. DataFrame generated for file input_pdf\2016\ns-24-2016.pdf: ns_24_2016_1
  25. DataFrame generated for file input_pdf\2016\ns-25-2016.pdf: ns_25_2016_1
  26. DataFrame generated for file input_pdf\2016\ns-26-2016.pdf: ns_26_2016_1
  27. DataFrame generated for file input_pdf\2016\ns-27-2016.pdf: ns_27_2016_1
  28. DataFrame generated for file input_pdf\2016\ns-28-2016.pdf: ns_28_2016_1
  29. DataFrame generated for file input_pdf\2016\ns-29-2016.pdf: ns_29_2016_1
  30. DataFrame generated for file input_pdf\2016\ns-30-2016.pdf: ns_30_2016_1
  31. DataFrame generated for file input_pdf\2016\ns-31-2016.pdf: ns_31_2016_1
  32. DataFrame generated for file input_pdf\2016\ns-32-2016.pdf: ns_32_2016_1
  33. DataFrame generated for file input_pdf\2016\ns-33-2016.pdf: ns_33_2016_1
  34. DataFrame generated for file input_pdf\2016\ns-34-2016.pdf: ns_34_2016_1
  35. DataFrame generated for file input_pdf\2016\ns-35-2016.pdf: ns_35_2016_1
  36. DataFrame generated for file input_pdf\2016\ns-36-2016.pdf: ns_36_2016_1
  37. DataFrame generated for file input_pdf\2016\ns-37-2016.pdf: ns_37_2016_1
  38. DataFrame generated for file input_pdf\2016\ns-38-2016.pdf: ns_38_2016_1
  39. DataFrame generated for file input_pdf\2016\ns-39-2016.pdf: ns_39_2016_1
  40. DataFrame generated for file input_pdf\2016\ns-40-2016.pdf: ns_40_2016_1
  41. DataFrame generated for file input_pdf\2016\ns-41-2016.pdf: ns_41_2016_1
  42. DataFrame generated for file input_pdf\2016\ns-42-2016.pdf: ns_42_2016_1
  43. DataFrame generated for file input_pdf\2016\ns-43-2016.pdf: ns_43_2016_1
  44. DataFrame generated for file input_pdf\2016\ns-44-2016.pdf: ns_44_2016_1
  45. DataFrame generated for file input_pdf\2016\ns-45-2016.pdf: ns_45_2016_1
  46. DataFrame generated for file input_pdf\2016\ns-46-2016.pdf: ns_46_2016_1
  47. DataFrame generated for file input_pdf\2016\ns-47-2016.pdf: ns_47_2016_1
  48. DataFrame generated for file input_pdf\2016\ns-48-2016.pdf: ns_48_2016_1
Processing folder 2017
  1. DataFrame generated for file input_pdf\2017\ns-01-2017.pdf: ns_01_2017_1
  2. DataFrame generated for file input_pdf\2017\ns-02-2017.pdf: ns_02_2017_1
  3. DataFrame generated for file input_pdf\2017\ns-03-2017.pdf: ns_03_2017_1
  4. DataFrame generated for file input_pdf\2017\ns-04-2017.pdf: ns_04_2017_1
  5. DataFrame generated for file input_pdf\2017\ns-05-2017.pdf: ns_05_2017_1
  6. DataFrame generated for file input_pdf\2017\ns-06-2017.pdf: ns_06_2017_1
  7. DataFrame generated for file input_pdf\2017\ns-07-2017.pdf: ns_07_2017_1
  8. DataFrame generated for file input_pdf\2017\ns-08-2017.pdf: ns_08_2017_1
  9. DataFrame generated for file input_pdf\2017\ns-09-2017.pdf: ns_09_2017_1
  10. DataFrame generated for file input_pdf\2017\ns-10-2017.pdf: ns_10_2017_1
  11. DataFrame generated for file input_pdf\2017\ns-11-2017.pdf: ns_11_2017_1
  12. DataFrame generated for file input_pdf\2017\ns-12-2017.pdf: ns_12_2017_1
  13. DataFrame generated for file input_pdf\2017\ns-13-2017.pdf: ns_13_2017_1

  14. DataFrame generated for file input_pdf\2017\ns-14-2017.pdf: ns_14_2017_1
  15. DataFrame generated for file input_pdf\2017\ns-15-2017.pdf: ns_15_2017_1
  16. DataFrame generated for file input_pdf\2017\ns-16-2017.pdf: ns_16_2017_1
  17. DataFrame generated for file input_pdf\2017\ns-17-2017.pdf: ns_17_2017_1
  18. DataFrame generated for file input_pdf\2017\ns-18-2017.pdf: ns_18_2017_1
  19. DataFrame generated for file input_pdf\2017\ns-19-2017.pdf: ns_19_2017_1
  20. DataFrame generated for file input_pdf\2017\ns-20-2017.pdf: ns_20_2017_1
  21. DataFrame generated for file input_pdf\2017\ns-21-2017.pdf: ns_21_2017_1
  22. DataFrame generated for file input_pdf\2017\ns-22-2017.pdf: ns_22_2017_1
  23. DataFrame generated for file input_pdf\2017\ns-23-2017.pdf: ns_23_2017_1
  24. DataFrame generated for file input_pdf\2017\ns-24-2017.pdf: ns_24_2017_1
  25. DataFrame generated for file input_pdf\2017\ns-25-2017.pdf: ns_25_2017_1
  26. DataFrame generated for file input_pdf\2017\ns-26-2017.pdf: ns_26_2017_1
  27. DataFrame generated for file input_pdf\2017\ns-27-2017.pdf: ns_27_2017_1
  28. DataFrame generated for file input_pdf\2017\ns-28-2017.pdf: ns_28_2017_1
  29. DataFrame generated for file input_pdf\2017\ns-29-2017.pdf: ns_29_2017_1
  30. DataFrame generated for file input_pdf\2017\ns-30-2017.pdf: ns_30_2017_1
  31. DataFrame generated for file input_pdf\2017\ns-31-2017.pdf: ns_31_2017_1
  32. DataFrame generated for file input_pdf\2017\ns-32-2017.pdf: ns_32_2017_1
  33. DataFrame generated for file input_pdf\2017\ns-33-2017.pdf: ns_33_2017_1
  34. DataFrame generated for file input_pdf\2017\ns-34-2017.pdf: ns_34_2017_1
  35. DataFrame generated for file input_pdf\2017\ns-35-2017.pdf: ns_35_2017_1
  36. DataFrame generated for file input_pdf\2017\ns-36-2017.pdf: ns_36_2017_1
  37. DataFrame generated for file input_pdf\2017\ns-37-2017.pdf: ns_37_2017_1
  38. DataFrame generated for file input_pdf\2017\ns-38-2017.pdf: ns_38_2017_1
  39. DataFrame generated for file input_pdf\2017\ns-39-2017.pdf: ns_39_2017_1
  40. DataFrame generated for file input_pdf\2017\ns-40-2017.pdf: ns_40_2017_1
  41. DataFrame generated for file input_pdf\2017\ns-41-2017.pdf: ns_41_2017_1
  42. DataFrame generated for file input_pdf\2017\ns-42-2017.pdf: ns_42_2017_1
  43. DataFrame generated for file input_pdf\2017\ns-43-2017.pdf: ns_43_2017_1
  44. DataFrame generated for file input_pdf\2017\ns-44-2017.pdf: ns_44_2017_1
  45. DataFrame generated for file input_pdf\2017\ns-45-2017.pdf: ns_45_2017_1
  46. DataFrame generated for file input_pdf\2017\ns-46-2017.pdf: ns_46_2017_1
  47. DataFrame generated for file input_pdf\2017\ns-47-2017.pdf: ns_47_2017_1
  48. DataFrame generated for file input_pdf\2017\ns-48-2017.pdf: ns_48_2017_1
  49. DataFrame generated for file input_pdf\2017\ns-49-2017.pdf: ns_49_2017_1
Processing folder 2018
  1. DataFrame generated for file input_pdf\2018\ns-01-2018.pdf: ns_01_2018_1
  2. DataFrame generated for file input_pdf\2018\ns-02-2018.pdf: ns_02_2018_1
  3. DataFrame generated for file input_pdf\2018\ns-03-2018.pdf: ns_03_2018_1
  4. DataFrame generated for file input_pdf\2018\ns-04-2018.pdf: ns_04_2018_1
  5. DataFrame generated for file input_pdf\2018\ns-05-2018.pdf: ns_05_2018_1
  6. DataFrame generated for file input_pdf\2018\ns-06-2018.pdf: ns_06_2018_1
  7. DataFrame generated for file input_pdf\2018\ns-07-2018.pdf: ns_07_2018_1
  8. DataFrame generated for file input_pdf\2018\ns-08-2018.pdf: ns_08_2018_1
  9. DataFrame generated for file input_pdf\2018\ns-09-2018.pdf: ns_09_2018_1
  10. DataFrame generated for file input_pdf\2018\ns-10-2018.pdf: ns_10_2018_1
  11. DataFrame generated for file input_pdf\2018\ns-11-2018.pdf: ns_11_2018_1
  12. DataFrame generated for file input_pdf\2018\ns-12-2018.pdf: ns_12_2018_1
  13. DataFrame generated for file input_pdf\2018\ns-13-2018.pdf: ns_13_2018_1
  14. DataFrame generated for file input_pdf\2018\ns-14-2018.pdf: ns_14_2018_1
  15. DataFrame generated for file input_pdf\2018\ns-15-2018.pdf: ns_15_2018_1
  16. DataFrame generated for file input_pdf\2018\ns-16-2018.pdf: ns_16_2018_1
  17. DataFrame generated for file input_pdf\2018\ns-17-2018.pdf: ns_17_2018_1
  18. DataFrame generated for file input_pdf\2018\ns-18-2018.pdf: ns_18_2018_1
  19. DataFrame generated for file input_pdf\2018\ns-19-2018.pdf: ns_19_2018_1
  20. DataFrame generated for file input_pdf\2018\ns-20-2018.pdf: ns_20_2018_1
  21. DataFrame generated for file input_pdf\2018\ns-21-2018.pdf: ns_21_2018_1
  22. DataFrame generated for file input_pdf\2018\ns-22-2018.pdf: ns_22_2018_1
  23. DataFrame generated for file input_pdf\2018\ns-23-2018.pdf: ns_23_2018_1
  24. DataFrame generated for file input_pdf\2018\ns-24-2018.pdf: ns_24_2018_1
  25. DataFrame generated for file input_pdf\2018\ns-25-2018.pdf: ns_25_2018_1
  26. DataFrame generated for file input_pdf\2018\ns-26-2018.pdf: ns_26_2018_1
  27. DataFrame generated for file input_pdf\2018\ns-27-2018.pdf: ns_27_2018_1
  28. DataFrame generated for file input_pdf\2018\ns-28-2018.pdf: ns_28_2018_1
  29. DataFrame generated for file input_pdf\2018\ns-29-2018.pdf: ns_29_2018_1
  30. DataFrame generated for file input_pdf\2018\ns-30-2018.pdf: ns_30_2018_1
  31. DataFrame generated for file input_pdf\2018\ns-31-2018.pdf: ns_31_2018_1
  32. DataFrame generated for file input_pdf\2018\ns-32-2018.pdf: ns_32_2018_1
  33. DataFrame generated for file input_pdf\2018\ns-33-2018.pdf: ns_33_2018_1
  34. DataFrame generated for file input_pdf\2018\ns-34-2018.pdf: ns_34_2018_1
  35. DataFrame generated for file input_pdf\2018\ns-35-2018.pdf: ns_35_2018_1
  36. DataFrame generated for file input_pdf\2018\ns-36-2018.pdf: ns_36_2018_1
  37. DataFrame generated for file input_pdf\2018\ns-37-2018.pdf: ns_37_2018_1
  38. DataFrame generated for file input_pdf\2018\ns-38-2018.pdf: ns_38_2018_1
  39. DataFrame generated for file input_pdf\2018\ns-39-2018.pdf: ns_39_2018_1
  40. DataFrame generated for file input_pdf\2018\ns-40-2018.pdf: ns_40_2018_1
  41. DataFrame generated for file input_pdf\2018\ns-41-2018.pdf: ns_41_2018_1
  42. DataFrame generated for file input_pdf\2018\ns-42-2018.pdf: ns_42_2018_1
  43. DataFrame generated for file input_pdf\2018\ns-43-2018.pdf: ns_43_2018_1
  44. DataFrame generated for file input_pdf\2018\ns-44-2018.pdf: ns_44_2018_1
  45. DataFrame generated for file input_pdf\2018\ns-45-2018.pdf: ns_45_2018_1
  46. DataFrame generated for file input_pdf\2018\ns-46-2018.pdf: ns_46_2018_1
  47. DataFrame generated for file input_pdf\2018\ns-47-2018.pdf: ns_47_2018_1
  48. DataFrame generated for file input_pdf\2018\ns-48-2018.pdf: ns_48_2018_1
  49. DataFrame generated for file input_pdf\2018\ns-49-2018.pdf: ns_49_2018_1
Processing folder 2019
  1. DataFrame generated for file input_pdf\2019\ns-01-2019.pdf: ns_01_2019_1
  2. DataFrame generated for file input_pdf\2019\ns-02-2019.pdf: ns_02_2019_1
  3. DataFrame generated for file input_pdf\2019\ns-03-2019.pdf: ns_03_2019_1
  4. DataFrame generated for file input_pdf\2019\ns-04-2019.pdf: ns_04_2019_1
  5. DataFrame generated for file input_pdf\2019\ns-05-2019.pdf: ns_05_2019_1
  6. DataFrame generated for file input_pdf\2019\ns-06-2019.pdf: ns_06_2019_1
  7. DataFrame generated for file input_pdf\2019\ns-07-2019.pdf: ns_07_2019_1
  8. DataFrame generated for file input_pdf\2019\ns-08-2019.pdf: ns_08_2019_1
  9. DataFrame generated for file input_pdf\2019\ns-09-2019.pdf: ns_09_2019_1
  10. DataFrame generated for file input_pdf\2019\ns-10-2019.pdf: ns_10_2019_1
  11. DataFrame generated for file input_pdf\2019\ns-11-2019.pdf: ns_11_2019_1
  12. DataFrame generated for file input_pdf\2019\ns-12-2019.pdf: ns_12_2019_1
  13. DataFrame generated for file input_pdf\2019\ns-13-2019.pdf: ns_13_2019_1
  14. DataFrame generated for file input_pdf\2019\ns-14-2019.pdf: ns_14_2019_1
  15. DataFrame generated for file input_pdf\2019\ns-15-2019.pdf: ns_15_2019_1
  16. DataFrame generated for file input_pdf\2019\ns-16-2019.pdf: ns_16_2019_1
  17. DataFrame generated for file input_pdf\2019\ns-17-2019.pdf: ns_17_2019_1
  18. DataFrame generated for file input_pdf\2019\ns-18-2019.pdf: ns_18_2019_1
  19. DataFrame generated for file input_pdf\2019\ns-19-2019.pdf: ns_19_2019_1

  20. DataFrame generated for file input_pdf\2019\ns-20-2019.pdf: ns_20_2019_1
  21. DataFrame generated for file input_pdf\2019\ns-21-2019.pdf: ns_21_2019_1
  22. DataFrame generated for file input_pdf\2019\ns-22-2019.pdf: ns_22_2019_1
  23. DataFrame generated for file input_pdf\2019\ns-23-2019.pdf: ns_23_2019_1
  24. DataFrame generated for file input_pdf\2019\ns-24-2019.pdf: ns_24_2019_1
  25. DataFrame generated for file input_pdf\2019\ns-25-2019.pdf: ns_25_2019_1
  26. DataFrame generated for file input_pdf\2019\ns-26-2019.pdf: ns_26_2019_1
  27. DataFrame generated for file input_pdf\2019\ns-27-2019.pdf: ns_27_2019_1
  28. DataFrame generated for file input_pdf\2019\ns-28-2019.pdf: ns_28_2019_1
  29. DataFrame generated for file input_pdf\2019\ns-29-2019.pdf: ns_29_2019_1
  30. DataFrame generated for file input_pdf\2019\ns-30-2019.pdf: ns_30_2019_1
  31. DataFrame generated for file input_pdf\2019\ns-31-2019.pdf: ns_31_2019_1
  32. DataFrame generated for file input_pdf\2019\ns-32-2019.pdf: ns_32_2019_1
  33. DataFrame generated for file input_pdf\2019\ns-33-2019.pdf: ns_33_2019_1
  34. DataFrame generated for file input_pdf\2019\ns-34-2019.pdf: ns_34_2019_1
  35. DataFrame generated for file input_pdf\2019\ns-35-2019.pdf: ns_35_2019_1
  36. DataFrame generated for file input_pdf\2019\ns-36-2019.pdf: ns_36_2019_1
  37. DataFrame generated for file input_pdf\2019\ns-37-2019.pdf: ns_37_2019_1
  38. DataFrame generated for file input_pdf\2019\ns-38-2019.pdf: ns_38_2019_1
  39. DataFrame generated for file input_pdf\2019\ns-39-2019.pdf: ns_39_2019_1
Processing folder 2020
  1. DataFrame generated for file input_pdf\2020\ns-01-2020.pdf: ns_01_2020_1
  2. DataFrame generated for file input_pdf\2020\ns-02-2020.pdf: ns_02_2020_1
  3. DataFrame generated for file input_pdf\2020\ns-03-2020.pdf: ns_03_2020_1
  4. DataFrame generated for file input_pdf\2020\ns-04-2020.pdf: ns_04_2020_1
  5. DataFrame generated for file input_pdf\2020\ns-05-2020.pdf: ns_05_2020_1
  6. DataFrame generated for file input_pdf\2020\ns-06-2020.pdf: ns_06_2020_1
  7. DataFrame generated for file input_pdf\2020\ns-07-2020.pdf: ns_07_2020_1
  8. DataFrame generated for file input_pdf\2020\ns-08-2020.pdf: ns_08_2020_1
  9. DataFrame generated for file input_pdf\2020\ns-09-2020.pdf: ns_09_2020_1
  10. DataFrame generated for file input_pdf\2020\ns-10-2020.pdf: ns_10_2020_1
  11. DataFrame generated for file input_pdf\2020\ns-11-2020.pdf: ns_11_2020_1
  12. DataFrame generated for file input_pdf\2020\ns-12-2020.pdf: ns_12_2020_1
  13. DataFrame generated for file input_pdf\2020\ns-13-2020.pdf: ns_13_2020_1
  14. DataFrame generated for file input_pdf\2020\ns-14-2020.pdf: ns_14_2020_1
  15. DataFrame generated for file input_pdf\2020\ns-15-2020.pdf: ns_15_2020_1
  16. DataFrame generated for file input_pdf\2020\ns-16-2020.pdf: ns_16_2020_1
  17. DataFrame generated for file input_pdf\2020\ns-17-2020.pdf: ns_17_2020_1
  18. DataFrame generated for file input_pdf\2020\ns-18-2020.pdf: ns_18_2020_1
  19. DataFrame generated for file input_pdf\2020\ns-19-2020.pdf: ns_19_2020_1
  20. DataFrame generated for file input_pdf\2020\ns-20-2020.pdf: ns_20_2020_1
  21. DataFrame generated for file input_pdf\2020\ns-21-2020.pdf: ns_21_2020_1
  22. DataFrame generated for file input_pdf\2020\ns-22-2020.pdf: ns_22_2020_1
  23. DataFrame generated for file input_pdf\2020\ns-23-2020.pdf: ns_23_2020_1
  24. DataFrame generated for file input_pdf\2020\ns-24-2020.pdf: ns_24_2020_1
  25. DataFrame generated for file input_pdf\2020\ns-25-2020.pdf: ns_25_2020_1
  26. DataFrame generated for file input_pdf\2020\ns-26-2020.pdf: ns_26_2020_1
  27. DataFrame generated for file input_pdf\2020\ns-27-2020.pdf: ns_27_2020_1
  28. DataFrame generated for file input_pdf\2020\ns-28-2020.pdf: ns_28_2020_1
  29. DataFrame generated for file input_pdf\2020\ns-29-2020.pdf: ns_29_2020_1
  30. DataFrame generated for file input_pdf\2020\ns-30-2020.pdf: ns_30_2020_1
  31. DataFrame generated for file input_pdf\2020\ns-31-2020.pdf: ns_31_2020_1
  32. DataFrame generated for file input_pdf\2020\ns-32-2020.pdf: ns_32_2020_1
  33. DataFrame generated for file input_pdf\2020\ns-33-2020.pdf: ns_33_2020_1
  34. DataFrame generated for file input_pdf\2020\ns-34-2020.pdf: ns_34_2020_1
  35. DataFrame generated for file input_pdf\2020\ns-35-2020.pdf: ns_35_2020_1
  36. DataFrame generated for file input_pdf\2020\ns-36-2020.pdf: ns_36_2020_1
  37. DataFrame generated for file input_pdf\2020\ns-37-2020.pdf: ns_37_2020_1
  38. DataFrame generated for file input_pdf\2020\ns-38-2020.pdf: ns_38_2020_1
  39. DataFrame generated for file input_pdf\2020\ns-39-2020.pdf: ns_39_2020_1
  40. DataFrame generated for file input_pdf\2020\ns-40-2020.pdf: ns_40_2020_1
  41. DataFrame generated for file input_pdf\2020\ns-41-2020.pdf: ns_41_2020_1
  42. DataFrame generated for file input_pdf\2020\ns-42-2020.pdf: ns_42_2020_1
  43. DataFrame generated for file input_pdf\2020\ns-43-2020.pdf: ns_43_2020_1
  44. DataFrame generated for file input_pdf\2020\ns-44-2020.pdf: ns_44_2020_1
  45. DataFrame generated for file input_pdf\2020\ns-45-2020.pdf: ns_45_2020_1
  46. DataFrame generated for file input_pdf\2020\ns-46-2020.pdf: ns_46_2020_1
  47. DataFrame generated for file input_pdf\2020\ns-47-2020.pdf: ns_47_2020_1
Processing folder 2021
  1. DataFrame generated for file input_pdf\2021\ns-01-2021.pdf: ns_01_2021_1
  2. DataFrame generated for file input_pdf\2021\ns-02-2021.pdf: ns_02_2021_1
  3. DataFrame generated for file input_pdf\2021\ns-03-2021.pdf: ns_03_2021_1
  4. DataFrame generated for file input_pdf\2021\ns-04-2021.pdf: ns_04_2021_1
  5. DataFrame generated for file input_pdf\2021\ns-05-2021.pdf: ns_05_2021_1
  6. DataFrame generated for file input_pdf\2021\ns-06-2021.pdf: ns_06_2021_1
  7. DataFrame generated for file input_pdf\2021\ns-07-2021.pdf: ns_07_2021_1
  8. DataFrame generated for file input_pdf\2021\ns-08-2021.pdf: ns_08_2021_1
  9. DataFrame generated for file input_pdf\2021\ns-09-2021.pdf: ns_09_2021_1
  10. DataFrame generated for file input_pdf\2021\ns-10-2021.pdf: ns_10_2021_1
  11. DataFrame generated for file input_pdf\2021\ns-11-2021.pdf: ns_11_2021_1
  12. DataFrame generated for file input_pdf\2021\ns-12-2021.pdf: ns_12_2021_1
  13. DataFrame generated for file input_pdf\2021\ns-13-2021.pdf: ns_13_2021_1
  14. DataFrame generated for file input_pdf\2021\ns-14-2021.pdf: ns_14_2021_1
  15. DataFrame generated for file input_pdf\2021\ns-15-2021.pdf: ns_15_2021_1
  16. DataFrame generated for file input_pdf\2021\ns-16-2021.pdf: ns_16_2021_1
  17. DataFrame generated for file input_pdf\2021\ns-17-2021.pdf: ns_17_2021_1
  18. DataFrame generated for file input_pdf\2021\ns-18-2021.pdf: ns_18_2021_1
  19. DataFrame generated for file input_pdf\2021\ns-19-2021.pdf: ns_19_2021_1
  20. DataFrame generated for file input_pdf\2021\ns-20-2021.pdf: ns_20_2021_1
  21. DataFrame generated for file input_pdf\2021\ns-21-2021.pdf: ns_21_2021_1
  22. DataFrame generated for file input_pdf\2021\ns-22-2021.pdf: ns_22_2021_1
  23. DataFrame generated for file input_pdf\2021\ns-23-2021.pdf: ns_23_2021_1
  24. DataFrame generated for file input_pdf\2021\ns-24-2021.pdf: ns_24_2021_1
  25. DataFrame generated for file input_pdf\2021\ns-25-2021.pdf: ns_25_2021_1
  26. DataFrame generated for file input_pdf\2021\ns-26-2021.pdf: ns_26_2021_1
  27. DataFrame generated for file input_pdf\2021\ns-27-2021.pdf: ns_27_2021_1
  28. DataFrame generated for file input_pdf\2021\ns-28-2021.pdf: ns_28_2021_1
  29. DataFrame generated for file input_pdf\2021\ns-29-2021.pdf: ns_29_2021_1
  30. DataFrame generated for file input_pdf\2021\ns-30-2021.pdf: ns_30_2021_1
  31. DataFrame generated for file input_pdf\2021\ns-31-2021.pdf: ns_31_2021_1
  32. DataFrame generated for file input_pdf\2021\ns-32-2021.pdf: ns_32_2021_1
  33. DataFrame generated for file input_pdf\2021\ns-33-2021.pdf: ns_33_2021_1
  34. DataFrame generated for file input_pdf\2021\ns-34-2021.pdf: ns_34_2021_1
  35. DataFrame generated for file input_pdf\2021\ns-35-2021.pdf: ns_35_2021_1
  36. DataFrame generated for file input_pdf\2021\ns-36-2021.pdf: ns_36_2021_1
  37. DataFrame generated for file input_pdf\2021\ns-37-2021.pdf: ns_37_2021_1

  38. DataFrame generated for file input_pdf\2021\ns-38-2021.pdf: ns_38_2021_1
  39. DataFrame generated for file input_pdf\2021\ns-39-2021.pdf: ns_39_2021_1
  40. DataFrame generated for file input_pdf\2021\ns-40-2021.pdf: ns_40_2021_1
  41. DataFrame generated for file input_pdf\2021\ns-41-2021.pdf: ns_41_2021_1
  42. DataFrame generated for file input_pdf\2021\ns-42-2021.pdf: ns_42_2021_1
  43. DataFrame generated for file input_pdf\2021\ns-43-2021.pdf: ns_43_2021_1
  44. DataFrame generated for file input_pdf\2021\ns-44-2021.pdf: ns_44_2021_1
  45. DataFrame generated for file input_pdf\2021\ns-45-2021.pdf: ns_45_2021_1
  46. DataFrame generated for file input_pdf\2021\ns-46-2021.pdf: ns_46_2021_1
Processing folder 2022
  1. DataFrame generated for file input_pdf\2022\ns-01-2022.pdf: ns_01_2022_1
  2. DataFrame generated for file input_pdf\2022\ns-02-2022.pdf: ns_02_2022_1
  3. DataFrame generated for file input_pdf\2022\ns-03-2022.pdf: ns_03_2022_1
  4. DataFrame generated for file input_pdf\2022\ns-04-2022.pdf: ns_04_2022_1
  5. DataFrame generated for file input_pdf\2022\ns-05-2022.pdf: ns_05_2022_1
  6. DataFrame generated for file input_pdf\2022\ns-06-2022.pdf: ns_06_2022_1
  7. DataFrame generated for file input_pdf\2022\ns-07-2022.pdf: ns_07_2022_1
  8. DataFrame generated for file input_pdf\2022\ns-08-2022.pdf: ns_08_2022_1
  9. DataFrame generated for file input_pdf\2022\ns-09-2022.pdf: ns_09_2022_1
  10. DataFrame generated for file input_pdf\2022\ns-10-2022.pdf: ns_10_2022_1
  11. DataFrame generated for file input_pdf\2022\ns-11-2022.pdf: ns_11_2022_1
  12. DataFrame generated for file input_pdf\2022\ns-12-2022.pdf: ns_12_2022_1
  13. DataFrame generated for file input_pdf\2022\ns-13-2022.pdf: ns_13_2022_1
  14. DataFrame generated for file input_pdf\2022\ns-14-2022.pdf: ns_14_2022_1
  15. DataFrame generated for file input_pdf\2022\ns-15-2022.pdf: ns_15_2022_1
  16. DataFrame generated for file input_pdf\2022\ns-16-2022.pdf: ns_16_2022_1
  17. DataFrame generated for file input_pdf\2022\ns-17-2022.pdf: ns_17_2022_1
  18. DataFrame generated for file input_pdf\2022\ns-18-2022.pdf: ns_18_2022_1
  19. DataFrame generated for file input_pdf\2022\ns-19-2022.pdf: ns_19_2022_1
  20. DataFrame generated for file input_pdf\2022\ns-20-2022.pdf: ns_20_2022_1
  21. DataFrame generated for file input_pdf\2022\ns-21-2022.pdf: ns_21_2022_1
  22. DataFrame generated for file input_pdf\2022\ns-22-2022.pdf: ns_22_2022_1
  23. DataFrame generated for file input_pdf\2022\ns-23-2022.pdf: ns_23_2022_1
  24. DataFrame generated for file input_pdf\2022\ns-24-2022.pdf: ns_24_2022_1
  25. DataFrame generated for file input_pdf\2022\ns-25-2022.pdf: ns_25_2022_1
  26. DataFrame generated for file input_pdf\2022\ns-26-2022.pdf: ns_26_2022_1
  27. DataFrame generated for file input_pdf\2022\ns-27-2022.pdf: ns_27_2022_1
  28. DataFrame generated for file input_pdf\2022\ns-28-2022.pdf: ns_28_2022_1
  29. DataFrame generated for file input_pdf\2022\ns-29-2022.pdf: ns_29_2022_1
  30. DataFrame generated for file input_pdf\2022\ns-30-2022.pdf: ns_30_2022_1
  31. DataFrame generated for file input_pdf\2022\ns-31-2022.pdf: ns_31_2022_1
  32. DataFrame generated for file input_pdf\2022\ns-32-2022.pdf: ns_32_2022_1
  33. DataFrame generated for file input_pdf\2022\ns-33-2022.pdf: ns_33_2022_1
  34. DataFrame generated for file input_pdf\2022\ns-34-2022.pdf: ns_34_2022_1
  35. DataFrame generated for file input_pdf\2022\ns-35-2022.pdf: ns_35_2022_1
  36. DataFrame generated for file input_pdf\2022\ns-36-2022.pdf: ns_36_2022_1
  37. DataFrame generated for file input_pdf\2022\ns-37-2022.pdf: ns_37_2022_1
  38. DataFrame generated for file input_pdf\2022\ns-38-2022.pdf: ns_38_2022_1
  39. DataFrame generated for file input_pdf\2022\ns-39-2022.pdf: ns_39_2022_1
  40. DataFrame generated for file input_pdf\2022\ns-40-2022.pdf: ns_40_2022_1
  41. DataFrame generated for file input_pdf\2022\ns-41-2022.pdf: ns_41_2022_1
  42. DataFrame generated for file input_pdf\2022\ns-42-2022.pdf: ns_42_2022_1
  43. DataFrame generated for file input_pdf\2022\ns-43-2022.pdf: ns_43_2022_1
  44. DataFrame generated for file input_pdf\2022\ns-44-2022.pdf: ns_44_2022_1
Processing folder 2023
  1. DataFrame generated for file input_pdf\2023\ns-01-2023.pdf: ns_01_2023_1
  2. DataFrame generated for file input_pdf\2023\ns-02-2023.pdf: ns_02_2023_1
  3. DataFrame generated for file input_pdf\2023\ns-03-2023.pdf: ns_03_2023_1
  4. DataFrame generated for file input_pdf\2023\ns-04-2023.pdf: ns_04_2023_1
  5. DataFrame generated for file input_pdf\2023\ns-05-2023.pdf: ns_05_2023_1
  6. DataFrame generated for file input_pdf\2023\ns-06-2023.pdf: ns_06_2023_1
  7. DataFrame generated for file input_pdf\2023\ns-07-2023.pdf: ns_07_2023_1
  8. DataFrame generated for file input_pdf\2023\ns-08-2023.pdf: ns_08_2023_1
  9. DataFrame generated for file input_pdf\2023\ns-09-2023.pdf: ns_09_2023_1
  10. DataFrame generated for file input_pdf\2023\ns-10-2023.pdf: ns_10_2023_1
  11. DataFrame generated for file input_pdf\2023\ns-11-2023.pdf: ns_11_2023_1
  12. DataFrame generated for file input_pdf\2023\ns-12-2023.pdf: ns_12_2023_1
  13. DataFrame generated for file input_pdf\2023\ns-13-2023.pdf: ns_13_2023_1
  14. DataFrame generated for file input_pdf\2023\ns-14-2023.pdf: ns_14_2023_1
  15. DataFrame generated for file input_pdf\2023\ns-15-2023.pdf: ns_15_2023_1
  16. DataFrame generated for file input_pdf\2023\ns-16-2023.pdf: ns_16_2023_1
  17. DataFrame generated for file input_pdf\2023\ns-17-2023.pdf: ns_17_2023_1
  18. DataFrame generated for file input_pdf\2023\ns-18-2023.pdf: ns_18_2023_1
  19. DataFrame generated for file input_pdf\2023\ns-19-2023.pdf: ns_19_2023_1
  20. DataFrame generated for file input_pdf\2023\ns-20-2023.pdf: ns_20_2023_1
  21. DataFrame generated for file input_pdf\2023\ns-21-2023.pdf: ns_21_2023_1
  22. DataFrame generated for file input_pdf\2023\ns-22-2023.pdf: ns_22_2023_1
  23. DataFrame generated for file input_pdf\2023\ns-23-2023.pdf: ns_23_2023_1
  24. DataFrame generated for file input_pdf\2023\ns-24-2023.pdf: ns_24_2023_1
  25. DataFrame generated for file input_pdf\2023\ns-25-2023.pdf: ns_25_2023_1
  26. DataFrame generated for file input_pdf\2023\ns-26-2023.pdf: ns_26_2023_1
  27. DataFrame generated for file input_pdf\2023\ns-27-2023.pdf: ns_27_2023_1
  28. DataFrame generated for file input_pdf\2023\ns-28-2023.pdf: ns_28_2023_1
  29. DataFrame generated for file input_pdf\2023\ns-29-2023.pdf: ns_29_2023_1
  30. DataFrame generated for file input_pdf\2023\ns-30-2023.pdf: ns_30_2023_1
  31. DataFrame generated for file input_pdf\2023\ns-31-2023.pdf: ns_31_2023_1
  32. DataFrame generated for file input_pdf\2023\ns-32-2023.pdf: ns_32_2023_1
  33. DataFrame generated for file input_pdf\2023\ns-33-2023.pdf: ns_33_2023_1
  34. DataFrame generated for file input_pdf\2023\ns-34-2023.pdf: ns_34_2023_1
  35. DataFrame generated for file input_pdf\2023\ns-35-2023.pdf: ns_35_2023_1
  36. DataFrame generated for file input_pdf\2023\ns-36-2023.pdf: ns_36_2023_1
  37. DataFrame generated for file input_pdf\2023\ns-37-2023.pdf: ns_37_2023_1
  38. DataFrame generated for file input_pdf\2023\ns-38-2023.pdf: ns_38_2023_1
  39. DataFrame generated for file input_pdf\2023\ns-39-2023.pdf: ns_39_2023_1
  40. DataFrame generated for file input_pdf\2023\ns-40-2023.pdf: ns_40_2023_1
  41. DataFrame generated for file input_pdf\2023\ns-41-2023.pdf: ns_41_2023_1
  42. DataFrame generated for file input_pdf\2023\ns-42-2023.pdf: ns_42_2023_1
  43. DataFrame generated for file input_pdf\2023\ns-43-2023.pdf: ns_43_2023_1
Processing folder 2024
  1. DataFrame generated for file input_pdf\2024\ns-01-2024.pdf: ns_01_2024_1
  2. DataFrame generated for file input_pdf\2024\ns-02-2024.pdf: ns_02_2024_1
  3. DataFrame generated for file input_pdf\2024\ns-03-2024.pdf: ns_03_2024_1
  4. DataFrame generated for file input_pdf\2024\ns-04-2024.pdf: ns_04_2024_1
  5. DataFrame generated for file input_pdf\2024\ns-05-2024.pdf: ns_05_2024_1
  6. DataFrame generated for file input_pdf\2024\ns-06-2024.pdf: ns_06_2024_1
  7. DataFrame generated for file input_pdf\2024\ns-07-2024.pdf: ns_07_2024_1
  8. DataFrame generated for file input_pdf\2024\ns-08-2024.pdf: ns_08_2024_1

  9. DataFrame generated for file input_pdf\2024\ns-09-2024.pdf: ns_09_2024_1
  10. DataFrame generated for file input_pdf\2024\ns-10-2024.pdf: ns_10_2024_1
  11. DataFrame generated for file input_pdf\2024\ns-11-2024.pdf: ns_11_2024_1
  12. DataFrame generated for file input_pdf\2024\ns-12-2024.pdf: ns_12_2024_1
  13. DataFrame generated for file input_pdf\2024\ns-13-2024.pdf: ns_13_2024_1
  14. DataFrame generated for file input_pdf\2024\ns-14-2024.pdf: ns_14_2024_1
  15. DataFrame generated for file input_pdf\2024\ns-15-2024.pdf: ns_15_2024_1
  16. DataFrame generated for file input_pdf\2024\ns-16-2024.pdf: ns_16_2024_1
  17. DataFrame generated for file input_pdf\2024\ns-17-2024.pdf: ns_17_2024_1
  18. DataFrame generated for file input_pdf\2024\ns-18-2024.pdf: ns_18_2024_1
  19. DataFrame generated for file input_pdf\2024\ns-19-2024.pdf: ns_19_2024_1
  20. DataFrame generated for file input_pdf\2024\ns-20-2024.pdf: ns_20_2024_1
  21. DataFrame generated for file input_pdf\2024\ns-21-2024.pdf: ns_21_2024_1
  22. DataFrame generated for file input_pdf\2024\ns-22-2024.pdf: ns_22_2024_1
  23. DataFrame generated for file input_pdf\2024\ns-23-2024.pdf: ns_23_2024_1
  24. DataFrame generated for file input_pdf\2024\ns-24-2024.pdf: ns_24_2024_1
  25. DataFrame generated for file input_pdf\2024\ns-25-2024.pdf: ns_25_2024_1
  26. DataFrame generated for file input_pdf\2024\ns-26-2024.pdf: ns_26_2024_1
  27. DataFrame generated for file input_pdf\2024\ns-27-2024.pdf: ns_27_2024_1
  28. DataFrame generated for file input_pdf\2024\ns-28-2024.pdf: ns_28_2024_1
  29. DataFrame generated for file input_pdf\2024\ns-29-2024.pdf: ns_29_2024_1
  30. DataFrame generated for file input_pdf\2024\ns-30-2024.pdf: ns_30_2024_1
  31. DataFrame generated for file input_pdf\2024\ns-31-2024.pdf: ns_31_2024_1
  32. DataFrame generated for file input_pdf\2024\ns-32-2024.pdf: ns_32_2024_1
  33. DataFrame generated for file input_pdf\2024\ns-33-2024.pdf: ns_33_2024_1
  34. DataFrame generated for file input_pdf\2024\ns-34-2024.pdf: ns_34_2024_1
  35. DataFrame generated for file input_pdf\2024\ns-35-2024.pdf: ns_35_2024_1
  36. DataFrame generated for file input_pdf\2024\ns-36-2024.pdf: ns_36_2024_1
  37. DataFrame generated for file input_pdf\2024\ns-37-2024.pdf: ns_37_2024_1
  38. DataFrame generated for file input_pdf\2024\ns-38-2024.pdf: ns_38_2024_1
  39. DataFrame generated for file input_pdf\2024\ns-39-2024.pdf: ns_39_2024_1
  40. DataFrame generated for file input_pdf\2024\ns-40-2024.pdf: ns_40_2024_1
  41. DataFrame generated for file input_pdf\2024\ns-41-2024.pdf: ns_41_2024_1
  42. DataFrame generated for file input_pdf\2024\ns-42-2024.pdf: ns_42_2024_1
  43. DataFrame generated for file input_pdf\2024\ns-43-2024.pdf: ns_43_2024_1
Processing completed for all folders.

In [13]:
new_tables_dict_1.keys()

dict_keys(['ns_01_2013_1', 'ns_02_2013_1', 'ns_03_2013_1', 'ns_04_2013_1', 'ns_05_2013_1', 'ns_06_2013_1', 'ns_07_2013_1', 'ns_08_2013_1', 'ns_09_2013_1', 'ns_10_2013_1', 'ns_11_2013_1', 'ns_12_2013_1', 'ns_13_2013_1', 'ns_14_2013_1', 'ns_15_2013_1', 'ns_16_2013_1', 'ns_17_2013_1', 'ns_18_2013_1', 'ns_19_2013_1', 'ns_20_2013_1', 'ns_21_2013_1', 'ns_22_2013_1', 'ns_23_2013_1', 'ns_24_2013_1', 'ns_25_2013_1', 'ns_26_2013_1', 'ns_27_2013_1', 'ns_28_2013_1', 'ns_29_2013_1', 'ns_30_2013_1', 'ns_31_2013_1', 'ns_32_2013_1', 'ns_33_2013_1', 'ns_34_2013_1', 'ns_35_2013_1', 'ns_36_2013_1', 'ns_37_2013_1', 'ns_38_2013_1', 'ns_39_2013_1', 'ns_40_2013_1', 'ns_41_2013_1', 'ns_42_2013_1', 'ns_43_2013_1', 'ns_44_2013_1', 'ns_45_2013_1', 'ns_46_2013_1', 'ns_47_2013_1', 'ns_48_2013_1', 'ns_49_2013_1', 'ns_50_2013_1', 'ns_01_2014_1', 'ns_02_2014_1', 'ns_03_2014_1', 'ns_04_2014_1', 'ns_05_2014_1', 'ns_06_2014_1', 'ns_07_2014_1', 'ns_08_2014_1', 'ns_09_2014_1', 'ns_10_2014_1', 'ns_11_2014_1', 'ns_12_2014_1', 'ns_13_2014_1', 'ns_14_2014_1', 'ns_15_2014_1', 'ns_16_2014_1', 'ns_17_2014_1', 'ns_18_2014_1', 'ns_19_2014_1', 'ns_20_2014_1', 'ns_21_2014_1', 'ns_22_2014_1', 'ns_23_2014_1', 'ns_24_2014_1', 'ns_25_2014_1', 'ns_26_2014_1', 'ns_27_2014_1', 'ns_28_2014_1', 'ns_29_2014_1', 'ns_30_2014_1', 'ns_31_2014_1', 'ns_32_2014_1', 'ns_33_2014_1', 'ns_34_2014_1', 'ns_35_2014_1', 'ns_36_2014_1', 'ns_37_2014_1', 'ns_38_2014_1', 'ns_39_2014_1', 'ns_40_2014_1', 'ns_41_2014_1', 'ns_42_2014_1', 'ns_43_2014_1', 'ns_44_2014_1', 'ns_45_2014_1', 'ns_46_2014_1', 'ns_47_2014_1', 'ns_48_2014_1', 'ns_49_2014_1', 'ns_01_2015_1', 'ns_02_2015_1', 'ns_03_2015_1', 'ns_04_2015_1', 'ns_05_2015_1', 'ns_06_2015_1', 'ns_07_2015_1', 'ns_08_2015_1', 'ns_09_2015_1', 'ns_10_2015_1', 'ns_11_2015_1', 'ns_12_2015_1', 'ns_13_2015_1', 'ns_14_2015_1', 'ns_15_2015_1', 'ns_16_2015_1', 'ns_17_2015_1', 'ns_18_2015_1', 'ns_19_2015_1', 'ns_20_2015_1', 'ns_21_2015_1', 'ns_22_2015_1', 'ns_23_2015_1', 'ns_24_2015_1', 'ns_25_2015_1', 'ns_26_2015_1', 'ns_27_2015_1', 'ns_28_2015_1', 'ns_29_2015_1', 'ns_30_2015_1', 'ns_31_2015_1', 'ns_32_2015_1', 'ns_33_2015_1', 'ns_34_2015_1', 'ns_35_2015_1', 'ns_36_2015_1', 'ns_37_2015_1', 'ns_38_2015_1', 'ns_39_2015_1', 'ns_40_2015_1', 'ns_41_2015_1', 'ns_42_2015_1', 'ns_43_2015_1', 'ns_44_2015_1', 'ns_45_2015_1', 'ns_46_2015_1', 'ns_47_2015_1', 'ns_48_2015_1', 'ns_01_2016_1', 'ns_02_2016_1', 'ns_03_2016_1', 'ns_04_2016_1', 'ns_05_2016_1', 'ns_06_2016_1', 'ns_07_2016_1', 'ns_08_2016_1', 'ns_09_2016_1', 'ns_10_2016_1', 'ns_11_2016_1', 'ns_12_2016_1', 'ns_13_2016_1', 'ns_14_2016_1', 'ns_15_2016_1', 'ns_16_2016_1', 'ns_17_2016_1', 'ns_18_2016_1', 'ns_19_2016_1', 'ns_20_2016_1', 'ns_21_2016_1', 'ns_22_2016_1', 'ns_23_2016_1', 'ns_24_2016_1', 'ns_25_2016_1', 'ns_26_2016_1', 'ns_27_2016_1', 'ns_28_2016_1', 'ns_29_2016_1', 'ns_30_2016_1', 'ns_31_2016_1', 'ns_32_2016_1', 'ns_33_2016_1', 'ns_34_2016_1', 'ns_35_2016_1', 'ns_36_2016_1', 'ns_37_2016_1', 'ns_38_2016_1', 'ns_39_2016_1', 'ns_40_2016_1', 'ns_41_2016_1', 'ns_42_2016_1', 'ns_43_2016_1', 'ns_44_2016_1', 'ns_45_2016_1', 'ns_46_2016_1', 'ns_47_2016_1', 'ns_48_2016_1', 'ns_01_2017_1', 'ns_02_2017_1', 'ns_03_2017_1', 'ns_04_2017_1', 'ns_05_2017_1', 'ns_06_2017_1', 'ns_07_2017_1', 'ns_08_2017_1', 'ns_09_2017_1', 'ns_10_2017_1', 'ns_11_2017_1', 'ns_12_2017_1', 'ns_13_2017_1', 'ns_14_2017_1', 'ns_15_2017_1', 'ns_16_2017_1', 'ns_17_2017_1', 'ns_18_2017_1', 'ns_19_2017_1', 'ns_20_2017_1', 'ns_21_2017_1', 'ns_22_2017_1', 'ns_23_2017_1', 'ns_24_2017_1', 'ns_25_2017_1', 'ns_26_2017_1', 'ns_27_2017_1', 'ns_28_2017_1', 'ns_29_2017_1', 'ns_30_2017_1', 'ns_31_2017_1', 'ns_32_2017_1', 'ns_33_2017_1', 'ns_34_2017_1', 'ns_35_2017_1', 'ns_36_2017_1', 'ns_37_2017_1', 'ns_38_2017_1', 'ns_39_2017_1', 'ns_40_2017_1', 'ns_41_2017_1', 'ns_42_2017_1', 'ns_43_2017_1', 'ns_44_2017_1', 'ns_45_2017_1', 'ns_46_2017_1', 'ns_47_2017_1', 'ns_48_2017_1', 'ns_49_2017_1', 'ns_01_2018_1', 'ns_02_2018_1', 'ns_03_2018_1', 'ns_04_2018_1', 'ns_05_2018_1', 'ns_06_2018_1', 'ns_07_2018_1', 'ns_08_2018_1', 'ns_09_2018_1', 'ns_10_2018_1', 'ns_11_2018_1', 'ns_12_2018_1', 'ns_13_2018_1', 'ns_14_2018_1', 'ns_15_2018_1', 'ns_16_2018_1', 'ns_17_2018_1', 'ns_18_2018_1', 'ns_19_2018_1', 'ns_20_2018_1', 'ns_21_2018_1', 'ns_22_2018_1', 'ns_23_2018_1', 'ns_24_2018_1', 'ns_25_2018_1', 'ns_26_2018_1', 'ns_27_2018_1', 'ns_28_2018_1', 'ns_29_2018_1', 'ns_30_2018_1', 'ns_31_2018_1', 'ns_32_2018_1', 'ns_33_2018_1', 'ns_34_2018_1', 'ns_35_2018_1', 'ns_36_2018_1', 'ns_37_2018_1', 'ns_38_2018_1', 'ns_39_2018_1', 'ns_40_2018_1', 'ns_41_2018_1', 'ns_42_2018_1', 'ns_43_2018_1', 'ns_44_2018_1', 'ns_45_2018_1', 'ns_46_2018_1', 'ns_47_2018_1', 'ns_48_2018_1', 'ns_49_2018_1', 'ns_01_2019_1', 'ns_02_2019_1', 'ns_03_2019_1', 'ns_04_2019_1', 'ns_05_2019_1', 'ns_06_2019_1', 'ns_07_2019_1', 'ns_08_2019_1', 'ns_09_2019_1', 'ns_10_2019_1', 'ns_11_2019_1', 'ns_12_2019_1', 'ns_13_2019_1', 'ns_14_2019_1', 'ns_15_2019_1', 'ns_16_2019_1', 'ns_17_2019_1', 'ns_18_2019_1', 'ns_19_2019_1', 'ns_20_2019_1', 'ns_21_2019_1', 'ns_22_2019_1', 'ns_23_2019_1', 'ns_24_2019_1', 'ns_25_2019_1', 'ns_26_2019_1', 'ns_27_2019_1', 'ns_28_2019_1', 'ns_29_2019_1', 'ns_30_2019_1', 'ns_31_2019_1', 'ns_32_2019_1', 'ns_33_2019_1', 'ns_34_2019_1', 'ns_35_2019_1', 'ns_36_2019_1', 'ns_37_2019_1', 'ns_38_2019_1', 'ns_39_2019_1', 'ns_01_2020_1', 'ns_02_2020_1', 'ns_03_2020_1', 'ns_04_2020_1', 'ns_05_2020_1', 'ns_06_2020_1', 'ns_07_2020_1', 'ns_08_2020_1', 'ns_09_2020_1', 'ns_10_2020_1', 'ns_11_2020_1', 'ns_12_2020_1', 'ns_13_2020_1', 'ns_14_2020_1', 'ns_15_2020_1', 'ns_16_2020_1', 'ns_17_2020_1', 'ns_18_2020_1', 'ns_19_2020_1', 'ns_20_2020_1', 'ns_21_2020_1', 'ns_22_2020_1', 'ns_23_2020_1', 'ns_24_2020_1', 'ns_25_2020_1', 'ns_26_2020_1', 'ns_27_2020_1', 'ns_28_2020_1', 'ns_29_2020_1', 'ns_30_2020_1', 'ns_31_2020_1', 'ns_32_2020_1', 'ns_33_2020_1', 'ns_34_2020_1', 'ns_35_2020_1', 'ns_36_2020_1', 'ns_37_2020_1', 'ns_38_2020_1', 'ns_39_2020_1', 'ns_40_2020_1', 'ns_41_2020_1', 'ns_42_2020_1', 'ns_43_2020_1', 'ns_44_2020_1', 'ns_45_2020_1', 'ns_46_2020_1', 'ns_47_2020_1', 'ns_01_2021_1', 'ns_02_2021_1', 'ns_03_2021_1', 'ns_04_2021_1', 'ns_05_2021_1', 'ns_06_2021_1', 'ns_07_2021_1', 'ns_08_2021_1', 'ns_09_2021_1', 'ns_10_2021_1', 'ns_11_2021_1', 'ns_12_2021_1', 'ns_13_2021_1', 'ns_14_2021_1', 'ns_15_2021_1', 'ns_16_2021_1', 'ns_17_2021_1', 'ns_18_2021_1', 'ns_19_2021_1', 'ns_20_2021_1', 'ns_21_2021_1', 'ns_22_2021_1', 'ns_23_2021_1', 'ns_24_2021_1', 'ns_25_2021_1', 'ns_26_2021_1', 'ns_27_2021_1', 'ns_28_2021_1', 'ns_29_2021_1', 'ns_30_2021_1', 'ns_31_2021_1', 'ns_32_2021_1', 'ns_33_2021_1', 'ns_34_2021_1', 'ns_35_2021_1', 'ns_36_2021_1', 'ns_37_2021_1', 'ns_38_2021_1', 'ns_39_2021_1', 'ns_40_2021_1', 'ns_41_2021_1', 'ns_42_2021_1', 'ns_43_2021_1', 'ns_44_2021_1', 'ns_45_2021_1', 'ns_46_2021_1', 'ns_01_2022_1', 'ns_02_2022_1', 'ns_03_2022_1', 'ns_04_2022_1', 'ns_05_2022_1', 'ns_06_2022_1', 'ns_07_2022_1', 'ns_08_2022_1', 'ns_09_2022_1', 'ns_10_2022_1', 'ns_11_2022_1', 'ns_12_2022_1', 'ns_13_2022_1', 'ns_14_2022_1', 'ns_15_2022_1', 'ns_16_2022_1', 'ns_17_2022_1', 'ns_18_2022_1', 'ns_19_2022_1', 'ns_20_2022_1', 'ns_21_2022_1', 'ns_22_2022_1', 'ns_23_2022_1', 'ns_24_2022_1', 'ns_25_2022_1', 'ns_26_2022_1', 'ns_27_2022_1', 'ns_28_2022_1', 'ns_29_2022_1', 'ns_30_2022_1', 'ns_31_2022_1', 'ns_32_2022_1', 'ns_33_2022_1', 'ns_34_2022_1', 'ns_35_2022_1', 'ns_36_2022_1', 'ns_37_2022_1', 'ns_38_2022_1', 'ns_39_2022_1', 'ns_40_2022_1', 'ns_41_2022_1', 'ns_42_2022_1', 'ns_43_2022_1', 'ns_44_2022_1', 'ns_01_2023_1', 'ns_02_2023_1', 'ns_03_2023_1', 'ns_04_2023_1', 'ns_05_2023_1', 'ns_06_2023_1', 'ns_07_2023_1', 'ns_08_2023_1', 'ns_09_2023_1', 'ns_10_2023_1', 'ns_11_2023_1', 'ns_12_2023_1', 'ns_13_2023_1', 'ns_14_2023_1', 'ns_15_2023_1', 'ns_16_2023_1', 'ns_17_2023_1', 'ns_18_2023_1', 'ns_19_2023_1', 'ns_20_2023_1', 'ns_21_2023_1', 'ns_22_2023_1', 'ns_23_2023_1', 'ns_24_2023_1', 'ns_25_2023_1', 'ns_26_2023_1', 'ns_27_2023_1', 'ns_28_2023_1', 'ns_29_2023_1', 'ns_30_2023_1', 'ns_31_2023_1', 'ns_32_2023_1', 'ns_33_2023_1', 'ns_34_2023_1', 'ns_35_2023_1', 'ns_36_2023_1', 'ns_37_2023_1', 'ns_38_2023_1', 'ns_39_2023_1', 'ns_40_2023_1', 'ns_41_2023_1', 'ns_42_2023_1', 'ns_43_2023_1', 'ns_01_2024_1', 'ns_02_2024_1', 'ns_03_2024_1', 'ns_04_2024_1', 'ns_05_2024_1', 'ns_06_2024_1', 'ns_07_2024_1', 'ns_08_2024_1', 'ns_09_2024_1', 'ns_10_2024_1', 'ns_11_2024_1', 'ns_12_2024_1', 'ns_13_2024_1', 'ns_14_2024_1', 'ns_15_2024_1', 'ns_16_2024_1', 'ns_17_2024_1', 'ns_18_2024_1', 'ns_19_2024_1', 'ns_20_2024_1', 'ns_21_2024_1', 'ns_22_2024_1', 'ns_23_2024_1', 'ns_24_2024_1', 'ns_25_2024_1', 'ns_26_2024_1', 'ns_27_2024_1', 'ns_28_2024_1', 'ns_29_2024_1', 'ns_30_2024_1', 'ns_31_2024_1', 'ns_32_2024_1', 'ns_33_2024_1', 'ns_34_2024_1', 'ns_35_2024_1', 'ns_36_2024_1', 'ns_37_2024_1', 'ns_38_2024_1', 'ns_39_2024_1', 'ns_40_2024_1', 'ns_41_2024_1', 'ns_42_2024_1', 'ns_43_2024_1'])

In [14]:
new_dataframes_dict_1.keys()

dict_keys(['ns_01_2013_1', 'ns_02_2013_1', 'ns_03_2013_1', 'ns_04_2013_1', 'ns_05_2013_1', 'ns_06_2013_1', 'ns_07_2013_1', 'ns_08_2013_1', 'ns_09_2013_1', 'ns_10_2013_1', 'ns_11_2013_1', 'ns_12_2013_1', 'ns_13_2013_1', 'ns_14_2013_1', 'ns_15_2013_1', 'ns_16_2013_1', 'ns_17_2013_1', 'ns_18_2013_1', 'ns_19_2013_1', 'ns_20_2013_1', 'ns_21_2013_1', 'ns_22_2013_1', 'ns_23_2013_1', 'ns_24_2013_1', 'ns_25_2013_1', 'ns_26_2013_1', 'ns_27_2013_1', 'ns_28_2013_1', 'ns_29_2013_1', 'ns_30_2013_1', 'ns_31_2013_1', 'ns_32_2013_1', 'ns_33_2013_1', 'ns_34_2013_1', 'ns_35_2013_1', 'ns_36_2013_1', 'ns_37_2013_1', 'ns_38_2013_1', 'ns_39_2013_1', 'ns_40_2013_1', 'ns_41_2013_1', 'ns_42_2013_1', 'ns_43_2013_1', 'ns_44_2013_1', 'ns_45_2013_1', 'ns_46_2013_1', 'ns_47_2013_1', 'ns_48_2013_1', 'ns_49_2013_1', 'ns_50_2013_1', 'ns_01_2014_1', 'ns_02_2014_1', 'ns_03_2014_1', 'ns_04_2014_1', 'ns_05_2014_1', 'ns_06_2014_1', 'ns_07_2014_1', 'ns_08_2014_1', 'ns_09_2014_1', 'ns_10_2014_1', 'ns_11_2014_1', 'ns_12_2014_1', 'ns_13_2014_1', 'ns_14_2014_1', 'ns_15_2014_1', 'ns_16_2014_1', 'ns_17_2014_1', 'ns_18_2014_1', 'ns_19_2014_1', 'ns_20_2014_1', 'ns_21_2014_1', 'ns_22_2014_1', 'ns_23_2014_1', 'ns_24_2014_1', 'ns_25_2014_1', 'ns_26_2014_1', 'ns_27_2014_1', 'ns_28_2014_1', 'ns_29_2014_1', 'ns_30_2014_1', 'ns_31_2014_1', 'ns_32_2014_1', 'ns_33_2014_1', 'ns_34_2014_1', 'ns_35_2014_1', 'ns_36_2014_1', 'ns_37_2014_1', 'ns_38_2014_1', 'ns_39_2014_1', 'ns_40_2014_1', 'ns_41_2014_1', 'ns_42_2014_1', 'ns_43_2014_1', 'ns_44_2014_1', 'ns_45_2014_1', 'ns_46_2014_1', 'ns_47_2014_1', 'ns_48_2014_1', 'ns_49_2014_1', 'ns_01_2015_1', 'ns_02_2015_1', 'ns_03_2015_1', 'ns_04_2015_1', 'ns_05_2015_1', 'ns_06_2015_1', 'ns_07_2015_1', 'ns_08_2015_1', 'ns_09_2015_1', 'ns_10_2015_1', 'ns_11_2015_1', 'ns_12_2015_1', 'ns_13_2015_1', 'ns_14_2015_1', 'ns_15_2015_1', 'ns_16_2015_1', 'ns_17_2015_1', 'ns_18_2015_1', 'ns_19_2015_1', 'ns_20_2015_1', 'ns_21_2015_1', 'ns_22_2015_1', 'ns_23_2015_1', 'ns_24_2015_1', 'ns_25_2015_1', 'ns_26_2015_1', 'ns_27_2015_1', 'ns_28_2015_1', 'ns_29_2015_1', 'ns_30_2015_1', 'ns_31_2015_1', 'ns_32_2015_1', 'ns_33_2015_1', 'ns_34_2015_1', 'ns_35_2015_1', 'ns_36_2015_1', 'ns_37_2015_1', 'ns_38_2015_1', 'ns_39_2015_1', 'ns_40_2015_1', 'ns_41_2015_1', 'ns_42_2015_1', 'ns_43_2015_1', 'ns_44_2015_1', 'ns_45_2015_1', 'ns_46_2015_1', 'ns_47_2015_1', 'ns_48_2015_1', 'ns_01_2016_1', 'ns_02_2016_1', 'ns_03_2016_1', 'ns_04_2016_1', 'ns_05_2016_1', 'ns_06_2016_1', 'ns_07_2016_1', 'ns_08_2016_1', 'ns_09_2016_1', 'ns_10_2016_1', 'ns_11_2016_1', 'ns_12_2016_1', 'ns_13_2016_1', 'ns_14_2016_1', 'ns_15_2016_1', 'ns_16_2016_1', 'ns_17_2016_1', 'ns_18_2016_1', 'ns_19_2016_1', 'ns_20_2016_1', 'ns_21_2016_1', 'ns_22_2016_1', 'ns_23_2016_1', 'ns_24_2016_1', 'ns_25_2016_1', 'ns_26_2016_1', 'ns_27_2016_1', 'ns_28_2016_1', 'ns_29_2016_1', 'ns_30_2016_1', 'ns_31_2016_1', 'ns_32_2016_1', 'ns_33_2016_1', 'ns_34_2016_1', 'ns_35_2016_1', 'ns_36_2016_1', 'ns_37_2016_1', 'ns_38_2016_1', 'ns_39_2016_1', 'ns_40_2016_1', 'ns_41_2016_1', 'ns_42_2016_1', 'ns_43_2016_1', 'ns_44_2016_1', 'ns_45_2016_1', 'ns_46_2016_1', 'ns_47_2016_1', 'ns_48_2016_1', 'ns_01_2017_1', 'ns_02_2017_1', 'ns_03_2017_1', 'ns_04_2017_1', 'ns_05_2017_1', 'ns_06_2017_1', 'ns_07_2017_1', 'ns_08_2017_1', 'ns_09_2017_1', 'ns_10_2017_1', 'ns_11_2017_1', 'ns_12_2017_1', 'ns_13_2017_1', 'ns_14_2017_1', 'ns_15_2017_1', 'ns_16_2017_1', 'ns_17_2017_1', 'ns_18_2017_1', 'ns_19_2017_1', 'ns_20_2017_1', 'ns_21_2017_1', 'ns_22_2017_1', 'ns_23_2017_1', 'ns_24_2017_1', 'ns_25_2017_1', 'ns_26_2017_1', 'ns_27_2017_1', 'ns_28_2017_1', 'ns_29_2017_1', 'ns_30_2017_1', 'ns_31_2017_1', 'ns_32_2017_1', 'ns_33_2017_1', 'ns_34_2017_1', 'ns_35_2017_1', 'ns_36_2017_1', 'ns_37_2017_1', 'ns_38_2017_1', 'ns_39_2017_1', 'ns_40_2017_1', 'ns_41_2017_1', 'ns_42_2017_1', 'ns_43_2017_1', 'ns_44_2017_1', 'ns_45_2017_1', 'ns_46_2017_1', 'ns_47_2017_1', 'ns_48_2017_1', 'ns_49_2017_1', 'ns_01_2018_1', 'ns_02_2018_1', 'ns_03_2018_1', 'ns_04_2018_1', 'ns_05_2018_1', 'ns_06_2018_1', 'ns_07_2018_1', 'ns_08_2018_1', 'ns_09_2018_1', 'ns_10_2018_1', 'ns_11_2018_1', 'ns_12_2018_1', 'ns_13_2018_1', 'ns_14_2018_1', 'ns_15_2018_1', 'ns_16_2018_1', 'ns_17_2018_1', 'ns_18_2018_1', 'ns_19_2018_1', 'ns_20_2018_1', 'ns_21_2018_1', 'ns_22_2018_1', 'ns_23_2018_1', 'ns_24_2018_1', 'ns_25_2018_1', 'ns_26_2018_1', 'ns_27_2018_1', 'ns_28_2018_1', 'ns_29_2018_1', 'ns_30_2018_1', 'ns_31_2018_1', 'ns_32_2018_1', 'ns_33_2018_1', 'ns_34_2018_1', 'ns_35_2018_1', 'ns_36_2018_1', 'ns_37_2018_1', 'ns_38_2018_1', 'ns_39_2018_1', 'ns_40_2018_1', 'ns_41_2018_1', 'ns_42_2018_1', 'ns_43_2018_1', 'ns_44_2018_1', 'ns_45_2018_1', 'ns_46_2018_1', 'ns_47_2018_1', 'ns_48_2018_1', 'ns_49_2018_1', 'ns_01_2019_1', 'ns_02_2019_1', 'ns_03_2019_1', 'ns_04_2019_1', 'ns_05_2019_1', 'ns_06_2019_1', 'ns_07_2019_1', 'ns_08_2019_1', 'ns_09_2019_1', 'ns_10_2019_1', 'ns_11_2019_1', 'ns_12_2019_1', 'ns_13_2019_1', 'ns_14_2019_1', 'ns_15_2019_1', 'ns_16_2019_1', 'ns_17_2019_1', 'ns_18_2019_1', 'ns_19_2019_1', 'ns_20_2019_1', 'ns_21_2019_1', 'ns_22_2019_1', 'ns_23_2019_1', 'ns_24_2019_1', 'ns_25_2019_1', 'ns_26_2019_1', 'ns_27_2019_1', 'ns_28_2019_1', 'ns_29_2019_1', 'ns_30_2019_1', 'ns_31_2019_1', 'ns_32_2019_1', 'ns_33_2019_1', 'ns_34_2019_1', 'ns_35_2019_1', 'ns_36_2019_1', 'ns_37_2019_1', 'ns_38_2019_1', 'ns_39_2019_1', 'ns_01_2020_1', 'ns_02_2020_1', 'ns_03_2020_1', 'ns_04_2020_1', 'ns_05_2020_1', 'ns_06_2020_1', 'ns_07_2020_1', 'ns_08_2020_1', 'ns_09_2020_1', 'ns_10_2020_1', 'ns_11_2020_1', 'ns_12_2020_1', 'ns_13_2020_1', 'ns_14_2020_1', 'ns_15_2020_1', 'ns_16_2020_1', 'ns_17_2020_1', 'ns_18_2020_1', 'ns_19_2020_1', 'ns_20_2020_1', 'ns_21_2020_1', 'ns_22_2020_1', 'ns_23_2020_1', 'ns_24_2020_1', 'ns_25_2020_1', 'ns_26_2020_1', 'ns_27_2020_1', 'ns_28_2020_1', 'ns_29_2020_1', 'ns_30_2020_1', 'ns_31_2020_1', 'ns_32_2020_1', 'ns_33_2020_1', 'ns_34_2020_1', 'ns_35_2020_1', 'ns_36_2020_1', 'ns_37_2020_1', 'ns_38_2020_1', 'ns_39_2020_1', 'ns_40_2020_1', 'ns_41_2020_1', 'ns_42_2020_1', 'ns_43_2020_1', 'ns_44_2020_1', 'ns_45_2020_1', 'ns_46_2020_1', 'ns_47_2020_1', 'ns_01_2021_1', 'ns_02_2021_1', 'ns_03_2021_1', 'ns_04_2021_1', 'ns_05_2021_1', 'ns_06_2021_1', 'ns_07_2021_1', 'ns_08_2021_1', 'ns_09_2021_1', 'ns_10_2021_1', 'ns_11_2021_1', 'ns_12_2021_1', 'ns_13_2021_1', 'ns_14_2021_1', 'ns_15_2021_1', 'ns_16_2021_1', 'ns_17_2021_1', 'ns_18_2021_1', 'ns_19_2021_1', 'ns_20_2021_1', 'ns_21_2021_1', 'ns_22_2021_1', 'ns_23_2021_1', 'ns_24_2021_1', 'ns_25_2021_1', 'ns_26_2021_1', 'ns_27_2021_1', 'ns_28_2021_1', 'ns_29_2021_1', 'ns_30_2021_1', 'ns_31_2021_1', 'ns_32_2021_1', 'ns_33_2021_1', 'ns_34_2021_1', 'ns_35_2021_1', 'ns_36_2021_1', 'ns_37_2021_1', 'ns_38_2021_1', 'ns_39_2021_1', 'ns_40_2021_1', 'ns_41_2021_1', 'ns_42_2021_1', 'ns_43_2021_1', 'ns_44_2021_1', 'ns_45_2021_1', 'ns_46_2021_1', 'ns_01_2022_1', 'ns_02_2022_1', 'ns_03_2022_1', 'ns_04_2022_1', 'ns_05_2022_1', 'ns_06_2022_1', 'ns_07_2022_1', 'ns_08_2022_1', 'ns_09_2022_1', 'ns_10_2022_1', 'ns_11_2022_1', 'ns_12_2022_1', 'ns_13_2022_1', 'ns_14_2022_1', 'ns_15_2022_1', 'ns_16_2022_1', 'ns_17_2022_1', 'ns_18_2022_1', 'ns_19_2022_1', 'ns_20_2022_1', 'ns_21_2022_1', 'ns_22_2022_1', 'ns_23_2022_1', 'ns_24_2022_1', 'ns_25_2022_1', 'ns_26_2022_1', 'ns_27_2022_1', 'ns_28_2022_1', 'ns_29_2022_1', 'ns_30_2022_1', 'ns_31_2022_1', 'ns_32_2022_1', 'ns_33_2022_1', 'ns_34_2022_1', 'ns_35_2022_1', 'ns_36_2022_1', 'ns_37_2022_1', 'ns_38_2022_1', 'ns_39_2022_1', 'ns_40_2022_1', 'ns_41_2022_1', 'ns_42_2022_1', 'ns_43_2022_1', 'ns_44_2022_1', 'ns_01_2023_1', 'ns_02_2023_1', 'ns_03_2023_1', 'ns_04_2023_1', 'ns_05_2023_1', 'ns_06_2023_1', 'ns_07_2023_1', 'ns_08_2023_1', 'ns_09_2023_1', 'ns_10_2023_1', 'ns_11_2023_1', 'ns_12_2023_1', 'ns_13_2023_1', 'ns_14_2023_1', 'ns_15_2023_1', 'ns_16_2023_1', 'ns_17_2023_1', 'ns_18_2023_1', 'ns_19_2023_1', 'ns_20_2023_1', 'ns_21_2023_1', 'ns_22_2023_1', 'ns_23_2023_1', 'ns_24_2023_1', 'ns_25_2023_1', 'ns_26_2023_1', 'ns_27_2023_1', 'ns_28_2023_1', 'ns_29_2023_1', 'ns_30_2023_1', 'ns_31_2023_1', 'ns_32_2023_1', 'ns_33_2023_1', 'ns_34_2023_1', 'ns_35_2023_1', 'ns_36_2023_1', 'ns_37_2023_1', 'ns_38_2023_1', 'ns_39_2023_1', 'ns_40_2023_1', 'ns_41_2023_1', 'ns_42_2023_1', 'ns_43_2023_1', 'ns_01_2024_1', 'ns_02_2024_1', 'ns_03_2024_1', 'ns_04_2024_1', 'ns_05_2024_1', 'ns_06_2024_1', 'ns_07_2024_1', 'ns_08_2024_1', 'ns_09_2024_1', 'ns_10_2024_1', 'ns_11_2024_1', 'ns_12_2024_1', 'ns_13_2024_1', 'ns_14_2024_1', 'ns_15_2024_1', 'ns_16_2024_1', 'ns_17_2024_1', 'ns_18_2024_1', 'ns_19_2024_1', 'ns_20_2024_1', 'ns_21_2024_1', 'ns_22_2024_1', 'ns_23_2024_1', 'ns_24_2024_1', 'ns_25_2024_1', 'ns_26_2024_1', 'ns_27_2024_1', 'ns_28_2024_1', 'ns_29_2024_1', 'ns_30_2024_1', 'ns_31_2024_1', 'ns_32_2024_1', 'ns_33_2024_1', 'ns_34_2024_1', 'ns_35_2024_1', 'ns_36_2024_1', 'ns_37_2024_1', 'ns_38_2024_1', 'ns_39_2024_1', 'ns_40_2024_1', 'ns_41_2024_1', 'ns_42_2024_1', 'ns_43_2024_1'])

In [15]:
new_tables_dict_1['ns_43_2024_1'].head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2023,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,2024,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,SECTORES ECONMICOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ECONOMIC SECTORS
1,NaN,Sep.,Oct.,Nov.,Dic.,Ao,Ene.,Feb.,Mar.,Abr.,May.,Jun.,Jul.,Ago.,Sep.,Ene.-Sep.,NaN
2,Agropecuario 2/,"-7,6","-5,2","3,2","0,6","-2,4","-2,4","-0,2","1,2","24,0","4,8","-0,8","-3,4","-1,8","1,1","2,8 Agriculture and Livestock 2/",NaN
3,Agrcola,"-12,5","-8,8","5,5","0,7","-3,8","-3,7","-0,1","2,2","36,2","6,1","-1,8","-6,2","-4,4","0,4","3,8",Agriculture
4,Pecuario,"0,0","0,4","-0,1","0,5","-0,1","-0,5","-0,3","-0,3","1,1","1,6","1,4","1,6","1,9","2,1","1,0",Livestock

In [16]:
df_1 = new_dataframes_dict_1['ns_43_2024_1']
df_1

,year,id_ns,date,sectores_economicos,economic_sectors,2023_sep,2023_oct,2023_nov,2023_dic,2023_year,2024_ene,2024_feb,2024_mar,2024_abr,2024_may,2024_jun,2024_jul,2024_ago,2024_sep,2024_ene_sep
1,2024,43,2024-11-28,agropecuario,agriculture and livestock,-7.6,-5.2,3.2,0.6,-2.4,-2.4,-0.2,1.2,24.0,4.8,-0.8,-3.4,-1.8,1.1,2.8
2,2024,43,2024-11-28,agricola,agriculture,-12.5,-8.8,5.5,0.7,-3.8,-3.7,-0.1,2.2,36.2,6.1,-1.8,-6.2,-4.4,0.4,3.8
3,2024,43,2024-11-28,pecuario,livestock,0.0,0.4,-0.1,0.5,-0.1,-0.5,-0.3,-0.3,1.1,1.6,1.4,1.6,1.9,2.1,1.0
4,2024,43,2024-11-28,pesca,fishing,11.2,50.4,55.6,-53.4,-21.2,-25.2,-31.5,-35.4,144.1,363.5,56.8,14.9,-27.8,-14.6,29.6
5,2024,43,2024-11-28,mineria e hidrocarburos,mining and fuel,8.8,3.4,7.5,3.7,8.1,4.9,17.3,3.2,-4.0,2.1,-7.2,3.3,8.8,1.1,2.9
6,2024,43,2024-11-28,mineria metalica,metals,7.3,3.5,10.1,4.2,9.3,5.7,18.7,4.7,-4.1,2.7,-7.8,0.9,8.8,1.7,3.1
7,2024,43,2024-11-28,hidrocarburos,fuel,19.6,2.8,-8.6,-0.1,0.7,0.6,8.8,-5.3,-3.6,-1.7,-3.5,21.6,9.0,-3.3,1.9
8,2024,43,2024-11-28,manufactura,manufacturing,-8.5,-3.8,-0.5,-11.6,-6.5,-4.4,-4.2,-10.2,12.1,18.1,0.0,10.9,2.9,2.7,2.9
9,2024,43,2024-11-28,procesadores recursos primarios,based on raw materials,8.9,9.6,10.9,-28.1,-2.3,-16.0,-22.7,-13.6,30.7,68.5,12.0,12.6,-1.0,-2.6,6.4
10,2024,43,2024-11-28,manufactura no primaria,nonprimary,-12.9,-7.6,-4.4,-3.7,-8.0,0.5,3.1,-9.1,5.5,0.8,-4.1,10.3,4.2,4.3,1.6
11,2024,43,2024-11-28,electricidad y agua,electricity and water,2.9,2.6,0.7,1.1,3.7,3.5,8.0,0.0,2.5,1.5,0.1,3.0,2.1,1.4,2.4
12,2024,43,2024-11-28,construccion,construction,-9.0,-7.5,-6.3,-0.8,-7.8,13.0,6.4,-3.6,6.9,5.6,-2.8,7.4,4.2,2.9,4.2
13,2024,43,2024-11-28,comercio,commerce,1.9,1.4,1.3,2.0,2.4,2.4,3.0,1.8,3.1,2.1,2.3,3.4,2.9,3.5,2.7
14,2024,43,2024-11-28,otros servicios,other services,-0.5,-0.5,0.5,1.1,0.3,1.5,2.2,1.6,2.9,2.5,3.7,3.9,3.5,4.5,3.0
15,2024,43,2024-11-28,derechos de importacion y otros impuestos,import duties and other taxes,0.3,0.6,-5.0,-1.8,-2.2,2.3,0.9,-0.8,6.5,2.3,-4.8,7.6,4.0,1.9,2.2
16,2024,43,2024-11-28,pbi,gdp,-1.0,-0.7,0.7,-0.8,-0.4,1.5,3.2,-0.4,5.4,5.3,0.3,4.6,3.7,3.2,3.0
17,2024,43,2024-11-28,sectores primarios,primary sectors,4.2,2.4,7.8,-4.7,2.9,-1.4,5.1,-0.6,10.7,14.4,-2.3,2.6,4.1,0.4,3.8
18,2024,43,2024-11-28,sectores no primarios,non primary sectors,-2.2,-1.2,-1.0,0.6,-1.2,2.4,2.7,-0.3,3.9,2.5,1.1,5.1,3.6,3.9,2.8
19,2024,43,2024-11-28,pbi desestacionalizado,seasonally adjusted gdp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2024,43,2024-11-28,variacion porcentual mensual,monthly percent change,0.0,-0.4,1.2,-0.9,NaN,0.5,-0.3,1.0,1.7,0.6,-3.2,2.7,1.2,-0.8,NaN
21,2024,43,2024-11-28,variacion porcentual promedio movil meses,threemonth moving average percent change,0.2,0.3,0.3,0.0,NaN,0.3,-0.2,0.4,0.8,1.1,-0.3,0.0,0.2,1.0,NaN
22,2024,43,2024-11-28,indicadores de demanda,domestic demand indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2024,43,2024-11-28,demanda interna sin inventarios,domestic demand without inventories,-1.2,1.4,1.1,1.9,-0.6,5.4,2.4,-0.3,5.3,2.7,0.3,4.8,4.3,4.1,3.2
24,2024,43,2024-11-28,demanda interna,domestic demand,-0.5,0.6,-1.8,-1.2,-2.0,1.9,2.0,1.9,12.0,4.1,-0.8,3.0,2.8,2.6,3.3

In [17]:
df_1[(df_1['sectores_economicos'] == 'agropecuario') | (df_1['economic_sectors'] == 'agriculture and livestock')]

,year,id_ns,date,sectores_economicos,economic_sectors,2023_sep,2023_oct,2023_nov,2023_dic,2023_year,2024_ene,2024_feb,2024_mar,2024_abr,2024_may,2024_jun,2024_jul,2024_ago,2024_sep,2024_ene_sep
1,2024,43,2024-11-28,agropecuario,agriculture and livestock,-7.6,-5.2,3.2,0.6,-2.4,-2.4,-0.2,1.2,24.0,4.8,-0.8,-3.4,-1.8,1.1,2.8

In [18]:
# Keywords to search in the page text
keywords = ["ECONOMIC SECTORS"]

In [19]:
# Set the locale to Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Dictionary to store generated DataFrames
new_dataframes_dict_2 = {}

# Path for the processed folders log file
record_path = 'dataframes_record/new_processed_folders_2.txt'

# Function to correct month names
def correct_month_name(month):
    months_mapping = {
        'setiembre': 'septiembre',
        # Add more mappings as needed for other month names
    }
    return months_mapping.get(month, month)

# Function to register processed folder
def register_processed_folder(folder, num_processed_files):
    with open(record_path, 'a') as file:
        file.write(f"{folder}:{num_processed_files}\n")
        
# Function to check if folder has been processed
def folder_processed(folder):
    if not os.path.exists(record_path):
        return False
    with open(record_path, 'r') as file:
        for line in file:
            if line.startswith(folder):
                return True
    return False

# Function to fetch date from database
def get_date(df, engine):
    id_ns = df['id_ns'].iloc[0]
    year = df['year'].iloc[0]
    query = f"SELECT date FROM dates_growth_rates WHERE id_ns = '{id_ns}' AND year = '{year}';"
    date_result = pd.read_sql(query, engine)
    return date_result.iloc[0, 0] if not date_result.empty else None

# Function to process PDF file
def process_pdf(pdf_path):
    new_tables_dict_2 = {}  # Local dictionary for each PDF
    table_counter = 1
    keyword_count = 0 

    filename = os.path.basename(pdf_path)
    id_ns_year_matches = re.findall(r'ns-(\d+)-(\d{4})', filename)
    if id_ns_year_matches:
        id_ns, year = id_ns_year_matches[0]
    else:
        print("No matches found for id_ns and year in filename:", filename)
        return None, None, None, None

    new_filename = os.path.splitext(os.path.basename(pdf_path))[0].replace('-', '_')

    with pdfplumber.open(pdf_path) as pdf:
        for i, page in enumerate(pdf.pages, 1):
            text = page.extract_text()
            if all(keyword in text for keyword in keywords):
                keyword_count += 1
                if keyword_count == 2:
                    tables = tabula.read_pdf(pdf_path, pages=i, multiple_tables=False)
                    for j, table_df in enumerate(tables, start=1):
                        dataframe_name = f"{new_filename}_{keyword_count}"
                        new_tables_dict_2[dataframe_name] = table_df
                        table_counter += 1

    return id_ns, year, new_tables_dict_2, keyword_count


def process_folder(folder, engine):
    print(f"Processing folder {os.path.basename(folder)}")
    pdf_files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.pdf')]

    num_pdfs_processed = 0
    num_dataframes_generated = 0

    table_counter = 1  # Initialize table counter here
    new_tables_dict_2 = {}  # Declare tables_dict outside main loop
    
    for pdf_file in pdf_files:
        id_ns, year, tables_dict_temp, keyword_count = process_pdf(pdf_file)

        if tables_dict_temp:
            for dataframe_name, df in tables_dict_temp.items():
                file_name = os.path.splitext(os.path.basename(pdf_file))[0].replace('-', '_')
                dataframe_name = f"{file_name}_{keyword_count}"

                # Store raw DataFrame in tables_dict
                new_tables_dict_2[dataframe_name] = df.copy()

                # Apply 20 lines of cleaning functions to a copy of the DataFrame
                df_clean = df.copy()
                if df_clean.iloc[0, 0] is np.nan:
                    # Apply 20 lines of cleaning
                    df_clean = drop_nan_columns(df_clean)
                    df_clean = separate_years(df_clean)
                    df_clean = relocate_roman_numerals(df_clean)
                    df_clean = extract_mixed_values(df_clean)
                    df_clean = replace_first_row_nan(df_clean)
                    df_clean = first_row_columns(df_clean)
                    df_clean = swap_first_second_row(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = drop_nan_row(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = split_values(df_clean)
                    df_clean = separate_text_digits(df_clean)
                    df_clean = roman_arabic(df_clean)
                    df_clean = fix_duplicates(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = get_quarters_sublist_list(df_clean, year_columns)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                else:
                    # Apply 15 lines of cleaning
                    df_clean = exchange_roman_nan(df_clean)
                    df_clean = exchange_columns(df_clean)
                    df_clean = drop_nan_columns(df_clean)
                    df_clean = remove_digit_slash(df_clean)
                    df_clean = last_column_es(df_clean)
                    df_clean = swap_first_second_row(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = reset_index(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = separate_text_digits(df_clean)
                    df_clean = roman_arabic(df_clean)
                    df_clean = fix_duplicates(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = get_quarters_sublist_list(df_clean, year_columns)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)

                # Add 'year' column to cleaned DataFrame
                df_clean.insert(0, 'year', year)
                
                # Add 'id_ns' column to cleaned DataFrame
                df_clean.insert(1, 'id_ns', id_ns)
                
                # Get corresponding date from database
                date = get_date(df_clean, engine)
                if date:
                    # Add 'date' column to cleaned DataFrame
                    df_clean.insert(2, 'date', date)
                else:
                    print("Date not found in database for id_ns:", id_ns, "and year:", year)

                # Store cleaned DataFrame in new_dataframes_dict
                new_dataframes_dict_2[dataframe_name] = df_clean

                print(f'  {table_counter}. DataFrame generated for file {pdf_file}: {dataframe_name}')
                num_dataframes_generated += 1
                table_counter += 1  # Increment table counter here
                    
        num_pdfs_processed += 1  # Increment number of PDFs processed for each PDF in folder

    return num_pdfs_processed, num_dataframes_generated, new_tables_dict_2
        
def process_folders():
    pdf_folder = 'input_pdf'
    folders = [os.path.join(pdf_folder, d) for d in os.listdir(pdf_folder) if os.path.isdir(os.path.join(pdf_folder, d))]

    new_tables_dict_2 = {}  # Initialize tables_dict here
    
    for folder in folders:
        if folder_processed(folder):
            print(f"Folder {folder} has already been processed.")
            continue
        
        num_pdfs_processed, num_dataframes_generated, tables_dict_temp = process_folder(folder, engine)
        
        # Update tables_dict with values returned from process_folder()
        new_tables_dict_2.update(tables_dict_temp)
        
        register_processed_folder(folder, num_pdfs_processed)
        
        # Ask user if they want to continue with next folder
        root = Tk()
        root.withdraw()
        root.attributes('-topmost', True)  # Ensure the messagebox is in front
        message = f"Process {folder} complete. Processed {num_pdfs_processed} PDF(s) and generated {num_dataframes_generated} dataframes. Continue with next folder?"
        if not messagebox.askyesno("Continue?", message):
            break
            
    print("Processing completed for all folders.")  # Add a message to indicate completion

    return new_tables_dict_2  # Return tables_dict at the end of the function
    
if __name__ == "__main__":
    engine = create_sqlalchemy_engine() # Creates the SQL connection to merge the date, year and id from a SQL database to dataframes
    new_tables_dict_2 = process_folders()  # Capture the returned value from process_folders

Processing folder 2013
  1. DataFrame generated for file input_pdf\2013\ns-01-2013.pdf: ns_01_2013_2
  2. DataFrame generated for file input_pdf\2013\ns-02-2013.pdf: ns_02_2013_2
  3. DataFrame generated for file input_pdf\2013\ns-03-2013.pdf: ns_03_2013_2
  4. DataFrame generated for file input_pdf\2013\ns-04-2013.pdf: ns_04_2013_2
  5. DataFrame generated for file input_pdf\2013\ns-05-2013.pdf: ns_05_2013_2
  6. DataFrame generated for file input_pdf\2013\ns-06-2013.pdf: ns_06_2013_2
  7. DataFrame generated for file input_pdf\2013\ns-07-2013.pdf: ns_07_2013_2
  8. DataFrame generated for file input_pdf\2013\ns-08-2013.pdf: ns_08_2013_2
  9. DataFrame generated for file input_pdf\2013\ns-09-2013.pdf: ns_09_2013_2
  10. DataFrame generated for file input_pdf\2013\ns-10-2013.pdf: ns_10_2013_2
  11. DataFrame generated for file input_pdf\2013\ns-11-2013.pdf: ns_11_2013_2
  12. DataFrame generated for file input_pdf\2013\ns-12-2013.pdf: ns_12_2013_2
  13. DataFrame generated for file input_pdf\2013\ns-13-2013.pdf: ns_13_2013_2
  14. DataFrame generated for file input_pdf\2013\ns-14-2013.pdf: ns_14_2013_2
  15. DataFrame generated for file input_pdf\2013\ns-15-2013.pdf: ns_15_2013_2
  16. DataFrame generated for file input_pdf\2013\ns-16-2013.pdf: ns_16_2013_2
  17. DataFrame generated for file input_pdf\2013\ns-17-2013.pdf: ns_17_2013_2
  18. DataFrame generated for file input_pdf\2013\ns-18-2013.pdf: ns_18_2013_2
  19. DataFrame generated for file input_pdf\2013\ns-19-2013.pdf: ns_19_2013_2
  20. DataFrame generated for file input_pdf\2013\ns-20-2013.pdf: ns_20_2013_2
  21. DataFrame generated for file input_pdf\2013\ns-21-2013.pdf: ns_21_2013_2
  22. DataFrame generated for file input_pdf\2013\ns-22-2013.pdf: ns_22_2013_2
  23. DataFrame generated for file input_pdf\2013\ns-23-2013.pdf: ns_23_2013_2
  24. DataFrame generated for file input_pdf\2013\ns-24-2013.pdf: ns_24_2013_2
  25. DataFrame generated for file input_pdf\2013\ns-25-2013.pdf: ns_25_2013_2
  26. DataFrame generated for file input_pdf\2013\ns-26-2013.pdf: ns_26_2013_2
  27. DataFrame generated for file input_pdf\2013\ns-27-2013.pdf: ns_27_2013_2
  28. DataFrame generated for file input_pdf\2013\ns-28-2013.pdf: ns_28_2013_2
  29. DataFrame generated for file input_pdf\2013\ns-29-2013.pdf: ns_29_2013_2
  30. DataFrame generated for file input_pdf\2013\ns-30-2013.pdf: ns_30_2013_2
  31. DataFrame generated for file input_pdf\2013\ns-31-2013.pdf: ns_31_2013_2
  32. DataFrame generated for file input_pdf\2013\ns-32-2013.pdf: ns_32_2013_2
  33. DataFrame generated for file input_pdf\2013\ns-33-2013.pdf: ns_33_2013_2
  34. DataFrame generated for file input_pdf\2013\ns-34-2013.pdf: ns_34_2013_2
  35. DataFrame generated for file input_pdf\2013\ns-35-2013.pdf: ns_35_2013_2
  36. DataFrame generated for file input_pdf\2013\ns-36-2013.pdf: ns_36_2013_2
  37. DataFrame generated for file input_pdf\2013\ns-37-2013.pdf: ns_37_2013_2
  38. DataFrame generated for file input_pdf\2013\ns-38-2013.pdf: ns_38_2013_2
  39. DataFrame generated for file input_pdf\2013\ns-39-2013.pdf: ns_39_2013_2
  40. DataFrame generated for file input_pdf\2013\ns-40-2013.pdf: ns_40_2013_2
  41. DataFrame generated for file input_pdf\2013\ns-41-2013.pdf: ns_41_2013_2
  42. DataFrame generated for file input_pdf\2013\ns-42-2013.pdf: ns_42_2013_2
  43. DataFrame generated for file input_pdf\2013\ns-43-2013.pdf: ns_43_2013_2
  44. DataFrame generated for file input_pdf\2013\ns-44-2013.pdf: ns_44_2013_2
  45. DataFrame generated for file input_pdf\2013\ns-45-2013.pdf: ns_45_2013_2
  46. DataFrame generated for file input_pdf\2013\ns-46-2013.pdf: ns_46_2013_2
  47. DataFrame generated for file input_pdf\2013\ns-47-2013.pdf: ns_47_2013_2
  48. DataFrame generated for file input_pdf\2013\ns-48-2013.pdf: ns_48_2013_2
  49. DataFrame generated for file input_pdf\2013\ns-49-2013.pdf: ns_49_2013_2
  50. DataFrame generated for file input_pdf\2013\ns-50-2013.pdf: ns_50_2013_2
Processing folder 2014
  1. DataFrame generated for file input_pdf\2014\ns-01-2014.pdf: ns_01_2014_2
  2. DataFrame generated for file input_pdf\2014\ns-02-2014.pdf: ns_02_2014_2
  3. DataFrame generated for file input_pdf\2014\ns-03-2014.pdf: ns_03_2014_2
  4. DataFrame generated for file input_pdf\2014\ns-04-2014.pdf: ns_04_2014_2
  5. DataFrame generated for file input_pdf\2014\ns-05-2014.pdf: ns_05_2014_2
  6. DataFrame generated for file input_pdf\2014\ns-06-2014.pdf: ns_06_2014_2
  7. DataFrame generated for file input_pdf\2014\ns-07-2014.pdf: ns_07_2014_2
  8. DataFrame generated for file input_pdf\2014\ns-08-2014.pdf: ns_08_2014_2
  9. DataFrame generated for file input_pdf\2014\ns-09-2014.pdf: ns_09_2014_2
  10. DataFrame generated for file input_pdf\2014\ns-10-2014.pdf: ns_10_2014_2
  11. DataFrame generated for file input_pdf\2014\ns-11-2014.pdf: ns_11_2014_2
  12. DataFrame generated for file input_pdf\2014\ns-12-2014.pdf: ns_12_2014_2
  13. DataFrame generated for file input_pdf\2014\ns-13-2014.pdf: ns_13_2014_2
  14. DataFrame generated for file input_pdf\2014\ns-14-2014.pdf: ns_14_2014_2
  15. DataFrame generated for file input_pdf\2014\ns-15-2014.pdf: ns_15_2014_2
  16. DataFrame generated for file input_pdf\2014\ns-16-2014.pdf: ns_16_2014_2
  17. DataFrame generated for file input_pdf\2014\ns-17-2014.pdf: ns_17_2014_2
  18. DataFrame generated for file input_pdf\2014\ns-18-2014.pdf: ns_18_2014_2
  19. DataFrame generated for file input_pdf\2014\ns-19-2014.pdf: ns_19_2014_2
  20. DataFrame generated for file input_pdf\2014\ns-20-2014.pdf: ns_20_2014_2
  21. DataFrame generated for file input_pdf\2014\ns-21-2014.pdf: ns_21_2014_2
  22. DataFrame generated for file input_pdf\2014\ns-22-2014.pdf: ns_22_2014_2
  23. DataFrame generated for file input_pdf\2014\ns-23-2014.pdf: ns_23_2014_2
  24. DataFrame generated for file input_pdf\2014\ns-24-2014.pdf: ns_24_2014_2
  25. DataFrame generated for file input_pdf\2014\ns-25-2014.pdf: ns_25_2014_2
  26. DataFrame generated for file input_pdf\2014\ns-26-2014.pdf: ns_26_2014_2
  27. DataFrame generated for file input_pdf\2014\ns-27-2014.pdf: ns_27_2014_2
  28. DataFrame generated for file input_pdf\2014\ns-28-2014.pdf: ns_28_2014_2
  29. DataFrame generated for file input_pdf\2014\ns-29-2014.pdf: ns_29_2014_2
  30. DataFrame generated for file input_pdf\2014\ns-30-2014.pdf: ns_30_2014_2
  31. DataFrame generated for file input_pdf\2014\ns-31-2014.pdf: ns_31_2014_2
  32. DataFrame generated for file input_pdf\2014\ns-32-2014.pdf: ns_32_2014_2
  33. DataFrame generated for file input_pdf\2014\ns-33-2014.pdf: ns_33_2014_2
  34. DataFrame generated for file input_pdf\2014\ns-34-2014.pdf: ns_34_2014_2
  35. DataFrame generated for file input_pdf\2014\ns-35-2014.pdf: ns_35_2014_2
  36. DataFrame generated for file input_pdf\2014\ns-36-2014.pdf: ns_36_2014_2
  37. DataFrame generated for file input_pdf\2014\ns-37-2014.pdf: ns_37_2014_2
  38. DataFrame generated for file input_pdf\2014\ns-38-2014.pdf: ns_38_2014_2
  39. DataFrame generated for file input_pdf\2014\ns-39-2014.pdf: ns_39_2014_2
  40. DataFrame generated for file input_pdf\2014\ns-40-2014.pdf: ns_40_2014_2
  41. DataFrame generated for file input_pdf\2014\ns-41-2014.pdf: ns_41_2014_2
  42. DataFrame generated for file input_pdf\2014\ns-42-2014.pdf: ns_42_2014_2
  43. DataFrame generated for file input_pdf\2014\ns-43-2014.pdf: ns_43_2014_2
  44. DataFrame generated for file input_pdf\2014\ns-44-2014.pdf: ns_44_2014_2
  45. DataFrame generated for file input_pdf\2014\ns-45-2014.pdf: ns_45_2014_2
  46. DataFrame generated for file input_pdf\2014\ns-46-2014.pdf: ns_46_2014_2
  47. DataFrame generated for file input_pdf\2014\ns-47-2014.pdf: ns_47_2014_2
  48. DataFrame generated for file input_pdf\2014\ns-48-2014.pdf: ns_48_2014_2
  49. DataFrame generated for file input_pdf\2014\ns-49-2014.pdf: ns_49_2014_2
Processing folder 2015
  1. DataFrame generated for file input_pdf\2015\ns-01-2015.pdf: ns_01_2015_2
  2. DataFrame generated for file input_pdf\2015\ns-02-2015.pdf: ns_02_2015_2
  3. DataFrame generated for file input_pdf\2015\ns-03-2015.pdf: ns_03_2015_2
  4. DataFrame generated for file input_pdf\2015\ns-04-2015.pdf: ns_04_2015_2
  5. DataFrame generated for file input_pdf\2015\ns-05-2015.pdf: ns_05_2015_2

  6. DataFrame generated for file input_pdf\2015\ns-06-2015.pdf: ns_06_2015_2
  7. DataFrame generated for file input_pdf\2015\ns-07-2015.pdf: ns_07_2015_2
  8. DataFrame generated for file input_pdf\2015\ns-08-2015.pdf: ns_08_2015_2
  9. DataFrame generated for file input_pdf\2015\ns-09-2015.pdf: ns_09_2015_2
  10. DataFrame generated for file input_pdf\2015\ns-10-2015.pdf: ns_10_2015_2
  11. DataFrame generated for file input_pdf\2015\ns-11-2015.pdf: ns_11_2015_2
  12. DataFrame generated for file input_pdf\2015\ns-12-2015.pdf: ns_12_2015_2
  13. DataFrame generated for file input_pdf\2015\ns-13-2015.pdf: ns_13_2015_2
  14. DataFrame generated for file input_pdf\2015\ns-14-2015.pdf: ns_14_2015_2
  15. DataFrame generated for file input_pdf\2015\ns-15-2015.pdf: ns_15_2015_2
  16. DataFrame generated for file input_pdf\2015\ns-16-2015.pdf: ns_16_2015_2
  17. DataFrame generated for file input_pdf\2015\ns-17-2015.pdf: ns_17_2015_2
  18. DataFrame generated for file input_pdf\2015\ns-18-2015.pdf: ns_18_2015_2
  19. DataFrame generated for file input_pdf\2015\ns-19-2015.pdf: ns_19_2015_2
  20. DataFrame generated for file input_pdf\2015\ns-20-2015.pdf: ns_20_2015_2
  21. DataFrame generated for file input_pdf\2015\ns-21-2015.pdf: ns_21_2015_2
  22. DataFrame generated for file input_pdf\2015\ns-22-2015.pdf: ns_22_2015_2
  23. DataFrame generated for file input_pdf\2015\ns-23-2015.pdf: ns_23_2015_2
  24. DataFrame generated for file input_pdf\2015\ns-24-2015.pdf: ns_24_2015_2
  25. DataFrame generated for file input_pdf\2015\ns-25-2015.pdf: ns_25_2015_2
  26. DataFrame generated for file input_pdf\2015\ns-26-2015.pdf: ns_26_2015_2
  27. DataFrame generated for file input_pdf\2015\ns-27-2015.pdf: ns_27_2015_2
  28. DataFrame generated for file input_pdf\2015\ns-28-2015.pdf: ns_28_2015_2
  29. DataFrame generated for file input_pdf\2015\ns-29-2015.pdf: ns_29_2015_2
  30. DataFrame generated for file input_pdf\2015\ns-30-2015.pdf: ns_30_2015_2
  31. DataFrame generated for file input_pdf\2015\ns-31-2015.pdf: ns_31_2015_2
  32. DataFrame generated for file input_pdf\2015\ns-32-2015.pdf: ns_32_2015_2
  33. DataFrame generated for file input_pdf\2015\ns-33-2015.pdf: ns_33_2015_2
  34. DataFrame generated for file input_pdf\2015\ns-34-2015.pdf: ns_34_2015_2
  35. DataFrame generated for file input_pdf\2015\ns-35-2015.pdf: ns_35_2015_2
  36. DataFrame generated for file input_pdf\2015\ns-36-2015.pdf: ns_36_2015_2
  37. DataFrame generated for file input_pdf\2015\ns-37-2015.pdf: ns_37_2015_2
  38. DataFrame generated for file input_pdf\2015\ns-38-2015.pdf: ns_38_2015_2
  39. DataFrame generated for file input_pdf\2015\ns-39-2015.pdf: ns_39_2015_2
  40. DataFrame generated for file input_pdf\2015\ns-40-2015.pdf: ns_40_2015_2
  41. DataFrame generated for file input_pdf\2015\ns-41-2015.pdf: ns_41_2015_2
  42. DataFrame generated for file input_pdf\2015\ns-42-2015.pdf: ns_42_2015_2
  43. DataFrame generated for file input_pdf\2015\ns-43-2015.pdf: ns_43_2015_2
  44. DataFrame generated for file input_pdf\2015\ns-44-2015.pdf: ns_44_2015_2
  45. DataFrame generated for file input_pdf\2015\ns-45-2015.pdf: ns_45_2015_2
  46. DataFrame generated for file input_pdf\2015\ns-46-2015.pdf: ns_46_2015_2
  47. DataFrame generated for file input_pdf\2015\ns-47-2015.pdf: ns_47_2015_2
  48. DataFrame generated for file input_pdf\2015\ns-48-2015.pdf: ns_48_2015_2
Processing folder 2016
  1. DataFrame generated for file input_pdf\2016\ns-01-2016.pdf: ns_01_2016_2
  2. DataFrame generated for file input_pdf\2016\ns-02-2016.pdf: ns_02_2016_2
  3. DataFrame generated for file input_pdf\2016\ns-03-2016.pdf: ns_03_2016_2
  4. DataFrame generated for file input_pdf\2016\ns-04-2016.pdf: ns_04_2016_2
  5. DataFrame generated for file input_pdf\2016\ns-05-2016.pdf: ns_05_2016_2
  6. DataFrame generated for file input_pdf\2016\ns-06-2016.pdf: ns_06_2016_2
  7. DataFrame generated for file input_pdf\2016\ns-07-2016.pdf: ns_07_2016_2
  8. DataFrame generated for file input_pdf\2016\ns-08-2016.pdf: ns_08_2016_2
  9. DataFrame generated for file input_pdf\2016\ns-09-2016.pdf: ns_09_2016_2
  10. DataFrame generated for file input_pdf\2016\ns-10-2016.pdf: ns_10_2016_2
  11. DataFrame generated for file input_pdf\2016\ns-11-2016.pdf: ns_11_2016_2
  12. DataFrame generated for file input_pdf\2016\ns-12-2016.pdf: ns_12_2016_2
  13. DataFrame generated for file input_pdf\2016\ns-13-2016.pdf: ns_13_2016_2
  14. DataFrame generated for file input_pdf\2016\ns-14-2016.pdf: ns_14_2016_2
  15. DataFrame generated for file input_pdf\2016\ns-15-2016.pdf: ns_15_2016_2
  16. DataFrame generated for file input_pdf\2016\ns-16-2016.pdf: ns_16_2016_2
  17. DataFrame generated for file input_pdf\2016\ns-17-2016.pdf: ns_17_2016_2
  18. DataFrame generated for file input_pdf\2016\ns-18-2016.pdf: ns_18_2016_2
  19. DataFrame generated for file input_pdf\2016\ns-19-2016.pdf: ns_19_2016_2
  20. DataFrame generated for file input_pdf\2016\ns-20-2016.pdf: ns_20_2016_2
  21. DataFrame generated for file input_pdf\2016\ns-21-2016.pdf: ns_21_2016_2
  22. DataFrame generated for file input_pdf\2016\ns-22-2016.pdf: ns_22_2016_2
  23. DataFrame generated for file input_pdf\2016\ns-23-2016.pdf: ns_23_2016_2
  24. DataFrame generated for file input_pdf\2016\ns-24-2016.pdf: ns_24_2016_2
  25. DataFrame generated for file input_pdf\2016\ns-25-2016.pdf: ns_25_2016_2
  26. DataFrame generated for file input_pdf\2016\ns-26-2016.pdf: ns_26_2016_2
  27. DataFrame generated for file input_pdf\2016\ns-27-2016.pdf: ns_27_2016_2
  28. DataFrame generated for file input_pdf\2016\ns-28-2016.pdf: ns_28_2016_2
  29. DataFrame generated for file input_pdf\2016\ns-29-2016.pdf: ns_29_2016_2
  30. DataFrame generated for file input_pdf\2016\ns-30-2016.pdf: ns_30_2016_2
  31. DataFrame generated for file input_pdf\2016\ns-31-2016.pdf: ns_31_2016_2
  32. DataFrame generated for file input_pdf\2016\ns-32-2016.pdf: ns_32_2016_2
  33. DataFrame generated for file input_pdf\2016\ns-33-2016.pdf: ns_33_2016_2
  34. DataFrame generated for file input_pdf\2016\ns-34-2016.pdf: ns_34_2016_2
  35. DataFrame generated for file input_pdf\2016\ns-35-2016.pdf: ns_35_2016_2
  36. DataFrame generated for file input_pdf\2016\ns-36-2016.pdf: ns_36_2016_2
  37. DataFrame generated for file input_pdf\2016\ns-37-2016.pdf: ns_37_2016_2
  38. DataFrame generated for file input_pdf\2016\ns-38-2016.pdf: ns_38_2016_2
  39. DataFrame generated for file input_pdf\2016\ns-39-2016.pdf: ns_39_2016_2
  40. DataFrame generated for file input_pdf\2016\ns-40-2016.pdf: ns_40_2016_2
  41. DataFrame generated for file input_pdf\2016\ns-41-2016.pdf: ns_41_2016_2
  42. DataFrame generated for file input_pdf\2016\ns-42-2016.pdf: ns_42_2016_2
  43. DataFrame generated for file input_pdf\2016\ns-43-2016.pdf: ns_43_2016_2
  44. DataFrame generated for file input_pdf\2016\ns-44-2016.pdf: ns_44_2016_2
  45. DataFrame generated for file input_pdf\2016\ns-45-2016.pdf: ns_45_2016_2
  46. DataFrame generated for file input_pdf\2016\ns-46-2016.pdf: ns_46_2016_2
  47. DataFrame generated for file input_pdf\2016\ns-47-2016.pdf: ns_47_2016_2
  48. DataFrame generated for file input_pdf\2016\ns-48-2016.pdf: ns_48_2016_2
Processing folder 2017
  1. DataFrame generated for file input_pdf\2017\ns-01-2017.pdf: ns_01_2017_2
  2. DataFrame generated for file input_pdf\2017\ns-02-2017.pdf: ns_02_2017_2
  3. DataFrame generated for file input_pdf\2017\ns-03-2017.pdf: ns_03_2017_2
  4. DataFrame generated for file input_pdf\2017\ns-04-2017.pdf: ns_04_2017_2
  5. DataFrame generated for file input_pdf\2017\ns-05-2017.pdf: ns_05_2017_2
  6. DataFrame generated for file input_pdf\2017\ns-06-2017.pdf: ns_06_2017_2
  7. DataFrame generated for file input_pdf\2017\ns-07-2017.pdf: ns_07_2017_2
  8. DataFrame generated for file input_pdf\2017\ns-08-2017.pdf: ns_08_2017_2
  9. DataFrame generated for file input_pdf\2017\ns-09-2017.pdf: ns_09_2017_2
  10. DataFrame generated for file input_pdf\2017\ns-10-2017.pdf: ns_10_2017_2
  11. DataFrame generated for file input_pdf\2017\ns-11-2017.pdf: ns_11_2017_2
  12. DataFrame generated for file input_pdf\2017\ns-12-2017.pdf: ns_12_2017_2
  13. DataFrame generated for file input_pdf\2017\ns-13-2017.pdf: ns_13_2017_2

  14. DataFrame generated for file input_pdf\2017\ns-14-2017.pdf: ns_14_2017_2
  15. DataFrame generated for file input_pdf\2017\ns-15-2017.pdf: ns_15_2017_2
  16. DataFrame generated for file input_pdf\2017\ns-16-2017.pdf: ns_16_2017_2
  17. DataFrame generated for file input_pdf\2017\ns-17-2017.pdf: ns_17_2017_2
  18. DataFrame generated for file input_pdf\2017\ns-18-2017.pdf: ns_18_2017_2
  19. DataFrame generated for file input_pdf\2017\ns-19-2017.pdf: ns_19_2017_2
  20. DataFrame generated for file input_pdf\2017\ns-20-2017.pdf: ns_20_2017_2
  21. DataFrame generated for file input_pdf\2017\ns-21-2017.pdf: ns_21_2017_2
  22. DataFrame generated for file input_pdf\2017\ns-22-2017.pdf: ns_22_2017_2
  23. DataFrame generated for file input_pdf\2017\ns-23-2017.pdf: ns_23_2017_2
  24. DataFrame generated for file input_pdf\2017\ns-24-2017.pdf: ns_24_2017_2
  25. DataFrame generated for file input_pdf\2017\ns-25-2017.pdf: ns_25_2017_2
  26. DataFrame generated for file input_pdf\2017\ns-26-2017.pdf: ns_26_2017_2
  27. DataFrame generated for file input_pdf\2017\ns-27-2017.pdf: ns_27_2017_2
  28. DataFrame generated for file input_pdf\2017\ns-28-2017.pdf: ns_28_2017_2
  29. DataFrame generated for file input_pdf\2017\ns-29-2017.pdf: ns_29_2017_2
  30. DataFrame generated for file input_pdf\2017\ns-30-2017.pdf: ns_30_2017_2
  31. DataFrame generated for file input_pdf\2017\ns-31-2017.pdf: ns_31_2017_2
  32. DataFrame generated for file input_pdf\2017\ns-32-2017.pdf: ns_32_2017_2
  33. DataFrame generated for file input_pdf\2017\ns-33-2017.pdf: ns_33_2017_2
  34. DataFrame generated for file input_pdf\2017\ns-34-2017.pdf: ns_34_2017_2
  35. DataFrame generated for file input_pdf\2017\ns-35-2017.pdf: ns_35_2017_2
  36. DataFrame generated for file input_pdf\2017\ns-36-2017.pdf: ns_36_2017_2
  37. DataFrame generated for file input_pdf\2017\ns-37-2017.pdf: ns_37_2017_2
  38. DataFrame generated for file input_pdf\2017\ns-38-2017.pdf: ns_38_2017_2
  39. DataFrame generated for file input_pdf\2017\ns-39-2017.pdf: ns_39_2017_2
  40. DataFrame generated for file input_pdf\2017\ns-40-2017.pdf: ns_40_2017_2
  41. DataFrame generated for file input_pdf\2017\ns-41-2017.pdf: ns_41_2017_2
  42. DataFrame generated for file input_pdf\2017\ns-42-2017.pdf: ns_42_2017_2
  43. DataFrame generated for file input_pdf\2017\ns-43-2017.pdf: ns_43_2017_2
  44. DataFrame generated for file input_pdf\2017\ns-44-2017.pdf: ns_44_2017_2
  45. DataFrame generated for file input_pdf\2017\ns-45-2017.pdf: ns_45_2017_2
  46. DataFrame generated for file input_pdf\2017\ns-46-2017.pdf: ns_46_2017_2
  47. DataFrame generated for file input_pdf\2017\ns-47-2017.pdf: ns_47_2017_2
  48. DataFrame generated for file input_pdf\2017\ns-48-2017.pdf: ns_48_2017_2
  49. DataFrame generated for file input_pdf\2017\ns-49-2017.pdf: ns_49_2017_2
Processing folder 2018
  1. DataFrame generated for file input_pdf\2018\ns-01-2018.pdf: ns_01_2018_2
  2. DataFrame generated for file input_pdf\2018\ns-02-2018.pdf: ns_02_2018_2
  3. DataFrame generated for file input_pdf\2018\ns-03-2018.pdf: ns_03_2018_2
  4. DataFrame generated for file input_pdf\2018\ns-04-2018.pdf: ns_04_2018_2
  5. DataFrame generated for file input_pdf\2018\ns-05-2018.pdf: ns_05_2018_2
  6. DataFrame generated for file input_pdf\2018\ns-06-2018.pdf: ns_06_2018_2
  7. DataFrame generated for file input_pdf\2018\ns-07-2018.pdf: ns_07_2018_2
  8. DataFrame generated for file input_pdf\2018\ns-08-2018.pdf: ns_08_2018_2
  9. DataFrame generated for file input_pdf\2018\ns-09-2018.pdf: ns_09_2018_2
  10. DataFrame generated for file input_pdf\2018\ns-10-2018.pdf: ns_10_2018_2
  11. DataFrame generated for file input_pdf\2018\ns-11-2018.pdf: ns_11_2018_2
  12. DataFrame generated for file input_pdf\2018\ns-12-2018.pdf: ns_12_2018_2
  13. DataFrame generated for file input_pdf\2018\ns-13-2018.pdf: ns_13_2018_2
  14. DataFrame generated for file input_pdf\2018\ns-14-2018.pdf: ns_14_2018_2
  15. DataFrame generated for file input_pdf\2018\ns-15-2018.pdf: ns_15_2018_2
  16. DataFrame generated for file input_pdf\2018\ns-16-2018.pdf: ns_16_2018_2
  17. DataFrame generated for file input_pdf\2018\ns-17-2018.pdf: ns_17_2018_2
  18. DataFrame generated for file input_pdf\2018\ns-18-2018.pdf: ns_18_2018_2
  19. DataFrame generated for file input_pdf\2018\ns-19-2018.pdf: ns_19_2018_2
  20. DataFrame generated for file input_pdf\2018\ns-20-2018.pdf: ns_20_2018_2
  21. DataFrame generated for file input_pdf\2018\ns-21-2018.pdf: ns_21_2018_2
  22. DataFrame generated for file input_pdf\2018\ns-22-2018.pdf: ns_22_2018_2
  23. DataFrame generated for file input_pdf\2018\ns-23-2018.pdf: ns_23_2018_2
  24. DataFrame generated for file input_pdf\2018\ns-24-2018.pdf: ns_24_2018_2
  25. DataFrame generated for file input_pdf\2018\ns-25-2018.pdf: ns_25_2018_2
  26. DataFrame generated for file input_pdf\2018\ns-26-2018.pdf: ns_26_2018_2
  27. DataFrame generated for file input_pdf\2018\ns-27-2018.pdf: ns_27_2018_2
  28. DataFrame generated for file input_pdf\2018\ns-28-2018.pdf: ns_28_2018_2
  29. DataFrame generated for file input_pdf\2018\ns-29-2018.pdf: ns_29_2018_2
  30. DataFrame generated for file input_pdf\2018\ns-30-2018.pdf: ns_30_2018_2
  31. DataFrame generated for file input_pdf\2018\ns-31-2018.pdf: ns_31_2018_2
  32. DataFrame generated for file input_pdf\2018\ns-32-2018.pdf: ns_32_2018_2
  33. DataFrame generated for file input_pdf\2018\ns-33-2018.pdf: ns_33_2018_2
  34. DataFrame generated for file input_pdf\2018\ns-34-2018.pdf: ns_34_2018_2
  35. DataFrame generated for file input_pdf\2018\ns-35-2018.pdf: ns_35_2018_2
  36. DataFrame generated for file input_pdf\2018\ns-36-2018.pdf: ns_36_2018_2
  37. DataFrame generated for file input_pdf\2018\ns-37-2018.pdf: ns_37_2018_2
  38. DataFrame generated for file input_pdf\2018\ns-38-2018.pdf: ns_38_2018_2
  39. DataFrame generated for file input_pdf\2018\ns-39-2018.pdf: ns_39_2018_2
  40. DataFrame generated for file input_pdf\2018\ns-40-2018.pdf: ns_40_2018_2
  41. DataFrame generated for file input_pdf\2018\ns-41-2018.pdf: ns_41_2018_2
  42. DataFrame generated for file input_pdf\2018\ns-42-2018.pdf: ns_42_2018_2
  43. DataFrame generated for file input_pdf\2018\ns-43-2018.pdf: ns_43_2018_2
  44. DataFrame generated for file input_pdf\2018\ns-44-2018.pdf: ns_44_2018_2
  45. DataFrame generated for file input_pdf\2018\ns-45-2018.pdf: ns_45_2018_2
  46. DataFrame generated for file input_pdf\2018\ns-46-2018.pdf: ns_46_2018_2
  47. DataFrame generated for file input_pdf\2018\ns-47-2018.pdf: ns_47_2018_2
  48. DataFrame generated for file input_pdf\2018\ns-48-2018.pdf: ns_48_2018_2
  49. DataFrame generated for file input_pdf\2018\ns-49-2018.pdf: ns_49_2018_2
Processing folder 2019
  1. DataFrame generated for file input_pdf\2019\ns-01-2019.pdf: ns_01_2019_2
  2. DataFrame generated for file input_pdf\2019\ns-02-2019.pdf: ns_02_2019_2
  3. DataFrame generated for file input_pdf\2019\ns-03-2019.pdf: ns_03_2019_2
  4. DataFrame generated for file input_pdf\2019\ns-04-2019.pdf: ns_04_2019_2
  5. DataFrame generated for file input_pdf\2019\ns-05-2019.pdf: ns_05_2019_2
  6. DataFrame generated for file input_pdf\2019\ns-06-2019.pdf: ns_06_2019_2
  7. DataFrame generated for file input_pdf\2019\ns-07-2019.pdf: ns_07_2019_2
  8. DataFrame generated for file input_pdf\2019\ns-08-2019.pdf: ns_08_2019_2
  9. DataFrame generated for file input_pdf\2019\ns-09-2019.pdf: ns_09_2019_2
  10. DataFrame generated for file input_pdf\2019\ns-10-2019.pdf: ns_10_2019_2
  11. DataFrame generated for file input_pdf\2019\ns-11-2019.pdf: ns_11_2019_2
  12. DataFrame generated for file input_pdf\2019\ns-12-2019.pdf: ns_12_2019_2
  13. DataFrame generated for file input_pdf\2019\ns-13-2019.pdf: ns_13_2019_2
  14. DataFrame generated for file input_pdf\2019\ns-14-2019.pdf: ns_14_2019_2
  15. DataFrame generated for file input_pdf\2019\ns-15-2019.pdf: ns_15_2019_2
  16. DataFrame generated for file input_pdf\2019\ns-16-2019.pdf: ns_16_2019_2
  17. DataFrame generated for file input_pdf\2019\ns-17-2019.pdf: ns_17_2019_2
  18. DataFrame generated for file input_pdf\2019\ns-18-2019.pdf: ns_18_2019_2
  19. DataFrame generated for file input_pdf\2019\ns-19-2019.pdf: ns_19_2019_2

  20. DataFrame generated for file input_pdf\2019\ns-20-2019.pdf: ns_20_2019_2
  21. DataFrame generated for file input_pdf\2019\ns-21-2019.pdf: ns_21_2019_2
  22. DataFrame generated for file input_pdf\2019\ns-22-2019.pdf: ns_22_2019_2
  23. DataFrame generated for file input_pdf\2019\ns-23-2019.pdf: ns_23_2019_2
  24. DataFrame generated for file input_pdf\2019\ns-24-2019.pdf: ns_24_2019_2
  25. DataFrame generated for file input_pdf\2019\ns-25-2019.pdf: ns_25_2019_2
  26. DataFrame generated for file input_pdf\2019\ns-26-2019.pdf: ns_26_2019_2
  27. DataFrame generated for file input_pdf\2019\ns-27-2019.pdf: ns_27_2019_2
  28. DataFrame generated for file input_pdf\2019\ns-28-2019.pdf: ns_28_2019_2
  29. DataFrame generated for file input_pdf\2019\ns-29-2019.pdf: ns_29_2019_2
  30. DataFrame generated for file input_pdf\2019\ns-30-2019.pdf: ns_30_2019_2
  31. DataFrame generated for file input_pdf\2019\ns-31-2019.pdf: ns_31_2019_2
  32. DataFrame generated for file input_pdf\2019\ns-32-2019.pdf: ns_32_2019_2
  33. DataFrame generated for file input_pdf\2019\ns-33-2019.pdf: ns_33_2019_2
  34. DataFrame generated for file input_pdf\2019\ns-34-2019.pdf: ns_34_2019_2
  35. DataFrame generated for file input_pdf\2019\ns-35-2019.pdf: ns_35_2019_2
  36. DataFrame generated for file input_pdf\2019\ns-36-2019.pdf: ns_36_2019_2
  37. DataFrame generated for file input_pdf\2019\ns-37-2019.pdf: ns_37_2019_2
  38. DataFrame generated for file input_pdf\2019\ns-38-2019.pdf: ns_38_2019_2
  39. DataFrame generated for file input_pdf\2019\ns-39-2019.pdf: ns_39_2019_2
Processing folder 2020
  1. DataFrame generated for file input_pdf\2020\ns-01-2020.pdf: ns_01_2020_2
  2. DataFrame generated for file input_pdf\2020\ns-02-2020.pdf: ns_02_2020_2
  3. DataFrame generated for file input_pdf\2020\ns-03-2020.pdf: ns_03_2020_2
  4. DataFrame generated for file input_pdf\2020\ns-04-2020.pdf: ns_04_2020_2
  5. DataFrame generated for file input_pdf\2020\ns-05-2020.pdf: ns_05_2020_2
  6. DataFrame generated for file input_pdf\2020\ns-06-2020.pdf: ns_06_2020_2
  7. DataFrame generated for file input_pdf\2020\ns-07-2020.pdf: ns_07_2020_2
  8. DataFrame generated for file input_pdf\2020\ns-08-2020.pdf: ns_08_2020_2
  9. DataFrame generated for file input_pdf\2020\ns-09-2020.pdf: ns_09_2020_2
  10. DataFrame generated for file input_pdf\2020\ns-10-2020.pdf: ns_10_2020_2
  11. DataFrame generated for file input_pdf\2020\ns-11-2020.pdf: ns_11_2020_2
  12. DataFrame generated for file input_pdf\2020\ns-12-2020.pdf: ns_12_2020_2
  13. DataFrame generated for file input_pdf\2020\ns-13-2020.pdf: ns_13_2020_2
  14. DataFrame generated for file input_pdf\2020\ns-14-2020.pdf: ns_14_2020_2
  15. DataFrame generated for file input_pdf\2020\ns-15-2020.pdf: ns_15_2020_2
  16. DataFrame generated for file input_pdf\2020\ns-16-2020.pdf: ns_16_2020_2
  17. DataFrame generated for file input_pdf\2020\ns-17-2020.pdf: ns_17_2020_2
  18. DataFrame generated for file input_pdf\2020\ns-18-2020.pdf: ns_18_2020_2
  19. DataFrame generated for file input_pdf\2020\ns-19-2020.pdf: ns_19_2020_2
  20. DataFrame generated for file input_pdf\2020\ns-20-2020.pdf: ns_20_2020_2
  21. DataFrame generated for file input_pdf\2020\ns-21-2020.pdf: ns_21_2020_2
  22. DataFrame generated for file input_pdf\2020\ns-22-2020.pdf: ns_22_2020_2
  23. DataFrame generated for file input_pdf\2020\ns-23-2020.pdf: ns_23_2020_2
  24. DataFrame generated for file input_pdf\2020\ns-24-2020.pdf: ns_24_2020_2
  25. DataFrame generated for file input_pdf\2020\ns-25-2020.pdf: ns_25_2020_2
  26. DataFrame generated for file input_pdf\2020\ns-26-2020.pdf: ns_26_2020_2
  27. DataFrame generated for file input_pdf\2020\ns-27-2020.pdf: ns_27_2020_2
  28. DataFrame generated for file input_pdf\2020\ns-28-2020.pdf: ns_28_2020_2
  29. DataFrame generated for file input_pdf\2020\ns-29-2020.pdf: ns_29_2020_2
  30. DataFrame generated for file input_pdf\2020\ns-30-2020.pdf: ns_30_2020_2
  31. DataFrame generated for file input_pdf\2020\ns-31-2020.pdf: ns_31_2020_2
  32. DataFrame generated for file input_pdf\2020\ns-32-2020.pdf: ns_32_2020_2
  33. DataFrame generated for file input_pdf\2020\ns-33-2020.pdf: ns_33_2020_2
  34. DataFrame generated for file input_pdf\2020\ns-34-2020.pdf: ns_34_2020_2
  35. DataFrame generated for file input_pdf\2020\ns-35-2020.pdf: ns_35_2020_2
  36. DataFrame generated for file input_pdf\2020\ns-36-2020.pdf: ns_36_2020_2
  37. DataFrame generated for file input_pdf\2020\ns-37-2020.pdf: ns_37_2020_2
  38. DataFrame generated for file input_pdf\2020\ns-38-2020.pdf: ns_38_2020_2
  39. DataFrame generated for file input_pdf\2020\ns-39-2020.pdf: ns_39_2020_2
  40. DataFrame generated for file input_pdf\2020\ns-40-2020.pdf: ns_40_2020_2
  41. DataFrame generated for file input_pdf\2020\ns-41-2020.pdf: ns_41_2020_2
  42. DataFrame generated for file input_pdf\2020\ns-42-2020.pdf: ns_42_2020_2
  43. DataFrame generated for file input_pdf\2020\ns-43-2020.pdf: ns_43_2020_2
  44. DataFrame generated for file input_pdf\2020\ns-44-2020.pdf: ns_44_2020_2
  45. DataFrame generated for file input_pdf\2020\ns-45-2020.pdf: ns_45_2020_2
  46. DataFrame generated for file input_pdf\2020\ns-46-2020.pdf: ns_46_2020_2
  47. DataFrame generated for file input_pdf\2020\ns-47-2020.pdf: ns_47_2020_2
Processing folder 2021
  1. DataFrame generated for file input_pdf\2021\ns-01-2021.pdf: ns_01_2021_2
  2. DataFrame generated for file input_pdf\2021\ns-02-2021.pdf: ns_02_2021_2
  3. DataFrame generated for file input_pdf\2021\ns-03-2021.pdf: ns_03_2021_2
  4. DataFrame generated for file input_pdf\2021\ns-04-2021.pdf: ns_04_2021_2
  5. DataFrame generated for file input_pdf\2021\ns-05-2021.pdf: ns_05_2021_2
  6. DataFrame generated for file input_pdf\2021\ns-06-2021.pdf: ns_06_2021_2
  7. DataFrame generated for file input_pdf\2021\ns-07-2021.pdf: ns_07_2021_2
  8. DataFrame generated for file input_pdf\2021\ns-08-2021.pdf: ns_08_2021_2
  9. DataFrame generated for file input_pdf\2021\ns-09-2021.pdf: ns_09_2021_2
  10. DataFrame generated for file input_pdf\2021\ns-10-2021.pdf: ns_10_2021_2
  11. DataFrame generated for file input_pdf\2021\ns-11-2021.pdf: ns_11_2021_2
  12. DataFrame generated for file input_pdf\2021\ns-12-2021.pdf: ns_12_2021_2
  13. DataFrame generated for file input_pdf\2021\ns-13-2021.pdf: ns_13_2021_2
  14. DataFrame generated for file input_pdf\2021\ns-14-2021.pdf: ns_14_2021_2
  15. DataFrame generated for file input_pdf\2021\ns-15-2021.pdf: ns_15_2021_2
  16. DataFrame generated for file input_pdf\2021\ns-16-2021.pdf: ns_16_2021_2
  17. DataFrame generated for file input_pdf\2021\ns-17-2021.pdf: ns_17_2021_2
  18. DataFrame generated for file input_pdf\2021\ns-18-2021.pdf: ns_18_2021_2
  19. DataFrame generated for file input_pdf\2021\ns-19-2021.pdf: ns_19_2021_2
  20. DataFrame generated for file input_pdf\2021\ns-20-2021.pdf: ns_20_2021_2
  21. DataFrame generated for file input_pdf\2021\ns-21-2021.pdf: ns_21_2021_2
  22. DataFrame generated for file input_pdf\2021\ns-22-2021.pdf: ns_22_2021_2
  23. DataFrame generated for file input_pdf\2021\ns-23-2021.pdf: ns_23_2021_2
  24. DataFrame generated for file input_pdf\2021\ns-24-2021.pdf: ns_24_2021_2
  25. DataFrame generated for file input_pdf\2021\ns-25-2021.pdf: ns_25_2021_2
  26. DataFrame generated for file input_pdf\2021\ns-26-2021.pdf: ns_26_2021_2
  27. DataFrame generated for file input_pdf\2021\ns-27-2021.pdf: ns_27_2021_2
  28. DataFrame generated for file input_pdf\2021\ns-28-2021.pdf: ns_28_2021_2
  29. DataFrame generated for file input_pdf\2021\ns-29-2021.pdf: ns_29_2021_2
  30. DataFrame generated for file input_pdf\2021\ns-30-2021.pdf: ns_30_2021_2
  31. DataFrame generated for file input_pdf\2021\ns-31-2021.pdf: ns_31_2021_2
  32. DataFrame generated for file input_pdf\2021\ns-32-2021.pdf: ns_32_2021_2
  33. DataFrame generated for file input_pdf\2021\ns-33-2021.pdf: ns_33_2021_2
  34. DataFrame generated for file input_pdf\2021\ns-34-2021.pdf: ns_34_2021_2
  35. DataFrame generated for file input_pdf\2021\ns-35-2021.pdf: ns_35_2021_2
  36. DataFrame generated for file input_pdf\2021\ns-36-2021.pdf: ns_36_2021_2
  37. DataFrame generated for file input_pdf\2021\ns-37-2021.pdf: ns_37_2021_2

  38. DataFrame generated for file input_pdf\2021\ns-38-2021.pdf: ns_38_2021_2
  39. DataFrame generated for file input_pdf\2021\ns-39-2021.pdf: ns_39_2021_2
  40. DataFrame generated for file input_pdf\2021\ns-40-2021.pdf: ns_40_2021_2
  41. DataFrame generated for file input_pdf\2021\ns-41-2021.pdf: ns_41_2021_2
  42. DataFrame generated for file input_pdf\2021\ns-42-2021.pdf: ns_42_2021_2
  43. DataFrame generated for file input_pdf\2021\ns-43-2021.pdf: ns_43_2021_2
  44. DataFrame generated for file input_pdf\2021\ns-44-2021.pdf: ns_44_2021_2
  45. DataFrame generated for file input_pdf\2021\ns-45-2021.pdf: ns_45_2021_2
  46. DataFrame generated for file input_pdf\2021\ns-46-2021.pdf: ns_46_2021_2
Processing folder 2022
  1. DataFrame generated for file input_pdf\2022\ns-01-2022.pdf: ns_01_2022_2
  2. DataFrame generated for file input_pdf\2022\ns-02-2022.pdf: ns_02_2022_2
  3. DataFrame generated for file input_pdf\2022\ns-03-2022.pdf: ns_03_2022_2
  4. DataFrame generated for file input_pdf\2022\ns-04-2022.pdf: ns_04_2022_2
  5. DataFrame generated for file input_pdf\2022\ns-05-2022.pdf: ns_05_2022_2
  6. DataFrame generated for file input_pdf\2022\ns-06-2022.pdf: ns_06_2022_2
  7. DataFrame generated for file input_pdf\2022\ns-07-2022.pdf: ns_07_2022_2
  8. DataFrame generated for file input_pdf\2022\ns-08-2022.pdf: ns_08_2022_2
  9. DataFrame generated for file input_pdf\2022\ns-09-2022.pdf: ns_09_2022_2
  10. DataFrame generated for file input_pdf\2022\ns-10-2022.pdf: ns_10_2022_2
  11. DataFrame generated for file input_pdf\2022\ns-11-2022.pdf: ns_11_2022_2
  12. DataFrame generated for file input_pdf\2022\ns-12-2022.pdf: ns_12_2022_2
  13. DataFrame generated for file input_pdf\2022\ns-13-2022.pdf: ns_13_2022_2
  14. DataFrame generated for file input_pdf\2022\ns-14-2022.pdf: ns_14_2022_2
  15. DataFrame generated for file input_pdf\2022\ns-15-2022.pdf: ns_15_2022_2
  16. DataFrame generated for file input_pdf\2022\ns-16-2022.pdf: ns_16_2022_2
  17. DataFrame generated for file input_pdf\2022\ns-17-2022.pdf: ns_17_2022_2
  18. DataFrame generated for file input_pdf\2022\ns-18-2022.pdf: ns_18_2022_2
  19. DataFrame generated for file input_pdf\2022\ns-19-2022.pdf: ns_19_2022_2
  20. DataFrame generated for file input_pdf\2022\ns-20-2022.pdf: ns_20_2022_2
  21. DataFrame generated for file input_pdf\2022\ns-21-2022.pdf: ns_21_2022_2
  22. DataFrame generated for file input_pdf\2022\ns-22-2022.pdf: ns_22_2022_2
  23. DataFrame generated for file input_pdf\2022\ns-23-2022.pdf: ns_23_2022_2
  24. DataFrame generated for file input_pdf\2022\ns-24-2022.pdf: ns_24_2022_2
  25. DataFrame generated for file input_pdf\2022\ns-25-2022.pdf: ns_25_2022_2
  26. DataFrame generated for file input_pdf\2022\ns-26-2022.pdf: ns_26_2022_2
  27. DataFrame generated for file input_pdf\2022\ns-27-2022.pdf: ns_27_2022_2
  28. DataFrame generated for file input_pdf\2022\ns-28-2022.pdf: ns_28_2022_2
  29. DataFrame generated for file input_pdf\2022\ns-29-2022.pdf: ns_29_2022_2
  30. DataFrame generated for file input_pdf\2022\ns-30-2022.pdf: ns_30_2022_2
  31. DataFrame generated for file input_pdf\2022\ns-31-2022.pdf: ns_31_2022_2
  32. DataFrame generated for file input_pdf\2022\ns-32-2022.pdf: ns_32_2022_2
  33. DataFrame generated for file input_pdf\2022\ns-33-2022.pdf: ns_33_2022_2
  34. DataFrame generated for file input_pdf\2022\ns-34-2022.pdf: ns_34_2022_2
  35. DataFrame generated for file input_pdf\2022\ns-35-2022.pdf: ns_35_2022_2
  36. DataFrame generated for file input_pdf\2022\ns-36-2022.pdf: ns_36_2022_2
  37. DataFrame generated for file input_pdf\2022\ns-37-2022.pdf: ns_37_2022_2
  38. DataFrame generated for file input_pdf\2022\ns-38-2022.pdf: ns_38_2022_2
  39. DataFrame generated for file input_pdf\2022\ns-39-2022.pdf: ns_39_2022_2
  40. DataFrame generated for file input_pdf\2022\ns-40-2022.pdf: ns_40_2022_2
  41. DataFrame generated for file input_pdf\2022\ns-41-2022.pdf: ns_41_2022_2
  42. DataFrame generated for file input_pdf\2022\ns-42-2022.pdf: ns_42_2022_2
  43. DataFrame generated for file input_pdf\2022\ns-43-2022.pdf: ns_43_2022_2
  44. DataFrame generated for file input_pdf\2022\ns-44-2022.pdf: ns_44_2022_2
Processing folder 2023
  1. DataFrame generated for file input_pdf\2023\ns-01-2023.pdf: ns_01_2023_2
  2. DataFrame generated for file input_pdf\2023\ns-02-2023.pdf: ns_02_2023_2
  3. DataFrame generated for file input_pdf\2023\ns-03-2023.pdf: ns_03_2023_2
  4. DataFrame generated for file input_pdf\2023\ns-04-2023.pdf: ns_04_2023_2
  5. DataFrame generated for file input_pdf\2023\ns-05-2023.pdf: ns_05_2023_2
  6. DataFrame generated for file input_pdf\2023\ns-06-2023.pdf: ns_06_2023_2
  7. DataFrame generated for file input_pdf\2023\ns-07-2023.pdf: ns_07_2023_2
  8. DataFrame generated for file input_pdf\2023\ns-08-2023.pdf: ns_08_2023_2
  9. DataFrame generated for file input_pdf\2023\ns-09-2023.pdf: ns_09_2023_2
  10. DataFrame generated for file input_pdf\2023\ns-10-2023.pdf: ns_10_2023_2
  11. DataFrame generated for file input_pdf\2023\ns-11-2023.pdf: ns_11_2023_2
  12. DataFrame generated for file input_pdf\2023\ns-12-2023.pdf: ns_12_2023_2
  13. DataFrame generated for file input_pdf\2023\ns-13-2023.pdf: ns_13_2023_2
  14. DataFrame generated for file input_pdf\2023\ns-14-2023.pdf: ns_14_2023_2
  15. DataFrame generated for file input_pdf\2023\ns-15-2023.pdf: ns_15_2023_2
  16. DataFrame generated for file input_pdf\2023\ns-16-2023.pdf: ns_16_2023_2
  17. DataFrame generated for file input_pdf\2023\ns-17-2023.pdf: ns_17_2023_2
  18. DataFrame generated for file input_pdf\2023\ns-18-2023.pdf: ns_18_2023_2
  19. DataFrame generated for file input_pdf\2023\ns-19-2023.pdf: ns_19_2023_2
  20. DataFrame generated for file input_pdf\2023\ns-20-2023.pdf: ns_20_2023_2
  21. DataFrame generated for file input_pdf\2023\ns-21-2023.pdf: ns_21_2023_2
  22. DataFrame generated for file input_pdf\2023\ns-22-2023.pdf: ns_22_2023_2
  23. DataFrame generated for file input_pdf\2023\ns-23-2023.pdf: ns_23_2023_2
  24. DataFrame generated for file input_pdf\2023\ns-24-2023.pdf: ns_24_2023_2
  25. DataFrame generated for file input_pdf\2023\ns-25-2023.pdf: ns_25_2023_2
  26. DataFrame generated for file input_pdf\2023\ns-26-2023.pdf: ns_26_2023_2
  27. DataFrame generated for file input_pdf\2023\ns-27-2023.pdf: ns_27_2023_2
  28. DataFrame generated for file input_pdf\2023\ns-28-2023.pdf: ns_28_2023_2
  29. DataFrame generated for file input_pdf\2023\ns-29-2023.pdf: ns_29_2023_2
  30. DataFrame generated for file input_pdf\2023\ns-30-2023.pdf: ns_30_2023_2
  31. DataFrame generated for file input_pdf\2023\ns-31-2023.pdf: ns_31_2023_2
  32. DataFrame generated for file input_pdf\2023\ns-32-2023.pdf: ns_32_2023_2
  33. DataFrame generated for file input_pdf\2023\ns-33-2023.pdf: ns_33_2023_2
  34. DataFrame generated for file input_pdf\2023\ns-34-2023.pdf: ns_34_2023_2
  35. DataFrame generated for file input_pdf\2023\ns-35-2023.pdf: ns_35_2023_2
  36. DataFrame generated for file input_pdf\2023\ns-36-2023.pdf: ns_36_2023_2
  37. DataFrame generated for file input_pdf\2023\ns-37-2023.pdf: ns_37_2023_2
  38. DataFrame generated for file input_pdf\2023\ns-38-2023.pdf: ns_38_2023_2
  39. DataFrame generated for file input_pdf\2023\ns-39-2023.pdf: ns_39_2023_2
  40. DataFrame generated for file input_pdf\2023\ns-40-2023.pdf: ns_40_2023_2
  41. DataFrame generated for file input_pdf\2023\ns-41-2023.pdf: ns_41_2023_2
  42. DataFrame generated for file input_pdf\2023\ns-42-2023.pdf: ns_42_2023_2
  43. DataFrame generated for file input_pdf\2023\ns-43-2023.pdf: ns_43_2023_2
Processing folder 2024
  1. DataFrame generated for file input_pdf\2024\ns-01-2024.pdf: ns_01_2024_2
  2. DataFrame generated for file input_pdf\2024\ns-02-2024.pdf: ns_02_2024_2
  3. DataFrame generated for file input_pdf\2024\ns-03-2024.pdf: ns_03_2024_2
  4. DataFrame generated for file input_pdf\2024\ns-04-2024.pdf: ns_04_2024_2
  5. DataFrame generated for file input_pdf\2024\ns-05-2024.pdf: ns_05_2024_2
  6. DataFrame generated for file input_pdf\2024\ns-06-2024.pdf: ns_06_2024_2
  7. DataFrame generated for file input_pdf\2024\ns-07-2024.pdf: ns_07_2024_2
  8. DataFrame generated for file input_pdf\2024\ns-08-2024.pdf: ns_08_2024_2

  9. DataFrame generated for file input_pdf\2024\ns-09-2024.pdf: ns_09_2024_2
  10. DataFrame generated for file input_pdf\2024\ns-10-2024.pdf: ns_10_2024_2
  11. DataFrame generated for file input_pdf\2024\ns-11-2024.pdf: ns_11_2024_2
  12. DataFrame generated for file input_pdf\2024\ns-12-2024.pdf: ns_12_2024_2
  13. DataFrame generated for file input_pdf\2024\ns-13-2024.pdf: ns_13_2024_2
  14. DataFrame generated for file input_pdf\2024\ns-14-2024.pdf: ns_14_2024_2
  15. DataFrame generated for file input_pdf\2024\ns-15-2024.pdf: ns_15_2024_2
  16. DataFrame generated for file input_pdf\2024\ns-16-2024.pdf: ns_16_2024_2
  17. DataFrame generated for file input_pdf\2024\ns-17-2024.pdf: ns_17_2024_2
  18. DataFrame generated for file input_pdf\2024\ns-18-2024.pdf: ns_18_2024_2
  19. DataFrame generated for file input_pdf\2024\ns-19-2024.pdf: ns_19_2024_2
  20. DataFrame generated for file input_pdf\2024\ns-20-2024.pdf: ns_20_2024_2
  21. DataFrame generated for file input_pdf\2024\ns-21-2024.pdf: ns_21_2024_2
  22. DataFrame generated for file input_pdf\2024\ns-22-2024.pdf: ns_22_2024_2
  23. DataFrame generated for file input_pdf\2024\ns-23-2024.pdf: ns_23_2024_2
  24. DataFrame generated for file input_pdf\2024\ns-24-2024.pdf: ns_24_2024_2
  25. DataFrame generated for file input_pdf\2024\ns-25-2024.pdf: ns_25_2024_2
  26. DataFrame generated for file input_pdf\2024\ns-26-2024.pdf: ns_26_2024_2
  27. DataFrame generated for file input_pdf\2024\ns-27-2024.pdf: ns_27_2024_2
  28. DataFrame generated for file input_pdf\2024\ns-28-2024.pdf: ns_28_2024_2
  29. DataFrame generated for file input_pdf\2024\ns-29-2024.pdf: ns_29_2024_2
  30. DataFrame generated for file input_pdf\2024\ns-30-2024.pdf: ns_30_2024_2
  31. DataFrame generated for file input_pdf\2024\ns-31-2024.pdf: ns_31_2024_2
  32. DataFrame generated for file input_pdf\2024\ns-32-2024.pdf: ns_32_2024_2
  33. DataFrame generated for file input_pdf\2024\ns-33-2024.pdf: ns_33_2024_2
  34. DataFrame generated for file input_pdf\2024\ns-34-2024.pdf: ns_34_2024_2
  35. DataFrame generated for file input_pdf\2024\ns-35-2024.pdf: ns_35_2024_2
  36. DataFrame generated for file input_pdf\2024\ns-36-2024.pdf: ns_36_2024_2
  37. DataFrame generated for file input_pdf\2024\ns-37-2024.pdf: ns_37_2024_2
  38. DataFrame generated for file input_pdf\2024\ns-38-2024.pdf: ns_38_2024_2
  39. DataFrame generated for file input_pdf\2024\ns-39-2024.pdf: ns_39_2024_2
  40. DataFrame generated for file input_pdf\2024\ns-40-2024.pdf: ns_40_2024_2
  41. DataFrame generated for file input_pdf\2024\ns-41-2024.pdf: ns_41_2024_2
  42. DataFrame generated for file input_pdf\2024\ns-42-2024.pdf: ns_42_2024_2
  43. DataFrame generated for file input_pdf\2024\ns-43-2024.pdf: ns_43_2024_2
Processing completed for all folders.

In [20]:
new_tables_dict_2.keys()

dict_keys(['ns_01_2013_2', 'ns_02_2013_2', 'ns_03_2013_2', 'ns_04_2013_2', 'ns_05_2013_2', 'ns_06_2013_2', 'ns_07_2013_2', 'ns_08_2013_2', 'ns_09_2013_2', 'ns_10_2013_2', 'ns_11_2013_2', 'ns_12_2013_2', 'ns_13_2013_2', 'ns_14_2013_2', 'ns_15_2013_2', 'ns_16_2013_2', 'ns_17_2013_2', 'ns_18_2013_2', 'ns_19_2013_2', 'ns_20_2013_2', 'ns_21_2013_2', 'ns_22_2013_2', 'ns_23_2013_2', 'ns_24_2013_2', 'ns_25_2013_2', 'ns_26_2013_2', 'ns_27_2013_2', 'ns_28_2013_2', 'ns_29_2013_2', 'ns_30_2013_2', 'ns_31_2013_2', 'ns_32_2013_2', 'ns_33_2013_2', 'ns_34_2013_2', 'ns_35_2013_2', 'ns_36_2013_2', 'ns_37_2013_2', 'ns_38_2013_2', 'ns_39_2013_2', 'ns_40_2013_2', 'ns_41_2013_2', 'ns_42_2013_2', 'ns_43_2013_2', 'ns_44_2013_2', 'ns_45_2013_2', 'ns_46_2013_2', 'ns_47_2013_2', 'ns_48_2013_2', 'ns_49_2013_2', 'ns_50_2013_2', 'ns_01_2014_2', 'ns_02_2014_2', 'ns_03_2014_2', 'ns_04_2014_2', 'ns_05_2014_2', 'ns_06_2014_2', 'ns_07_2014_2', 'ns_08_2014_2', 'ns_09_2014_2', 'ns_10_2014_2', 'ns_11_2014_2', 'ns_12_2014_2', 'ns_13_2014_2', 'ns_14_2014_2', 'ns_15_2014_2', 'ns_16_2014_2', 'ns_17_2014_2', 'ns_18_2014_2', 'ns_19_2014_2', 'ns_20_2014_2', 'ns_21_2014_2', 'ns_22_2014_2', 'ns_23_2014_2', 'ns_24_2014_2', 'ns_25_2014_2', 'ns_26_2014_2', 'ns_27_2014_2', 'ns_28_2014_2', 'ns_29_2014_2', 'ns_30_2014_2', 'ns_31_2014_2', 'ns_32_2014_2', 'ns_33_2014_2', 'ns_34_2014_2', 'ns_35_2014_2', 'ns_36_2014_2', 'ns_37_2014_2', 'ns_38_2014_2', 'ns_39_2014_2', 'ns_40_2014_2', 'ns_41_2014_2', 'ns_42_2014_2', 'ns_43_2014_2', 'ns_44_2014_2', 'ns_45_2014_2', 'ns_46_2014_2', 'ns_47_2014_2', 'ns_48_2014_2', 'ns_49_2014_2', 'ns_01_2015_2', 'ns_02_2015_2', 'ns_03_2015_2', 'ns_04_2015_2', 'ns_05_2015_2', 'ns_06_2015_2', 'ns_07_2015_2', 'ns_08_2015_2', 'ns_09_2015_2', 'ns_10_2015_2', 'ns_11_2015_2', 'ns_12_2015_2', 'ns_13_2015_2', 'ns_14_2015_2', 'ns_15_2015_2', 'ns_16_2015_2', 'ns_17_2015_2', 'ns_18_2015_2', 'ns_19_2015_2', 'ns_20_2015_2', 'ns_21_2015_2', 'ns_22_2015_2', 'ns_23_2015_2', 'ns_24_2015_2', 'ns_25_2015_2', 'ns_26_2015_2', 'ns_27_2015_2', 'ns_28_2015_2', 'ns_29_2015_2', 'ns_30_2015_2', 'ns_31_2015_2', 'ns_32_2015_2', 'ns_33_2015_2', 'ns_34_2015_2', 'ns_35_2015_2', 'ns_36_2015_2', 'ns_37_2015_2', 'ns_38_2015_2', 'ns_39_2015_2', 'ns_40_2015_2', 'ns_41_2015_2', 'ns_42_2015_2', 'ns_43_2015_2', 'ns_44_2015_2', 'ns_45_2015_2', 'ns_46_2015_2', 'ns_47_2015_2', 'ns_48_2015_2', 'ns_01_2016_2', 'ns_02_2016_2', 'ns_03_2016_2', 'ns_04_2016_2', 'ns_05_2016_2', 'ns_06_2016_2', 'ns_07_2016_2', 'ns_08_2016_2', 'ns_09_2016_2', 'ns_10_2016_2', 'ns_11_2016_2', 'ns_12_2016_2', 'ns_13_2016_2', 'ns_14_2016_2', 'ns_15_2016_2', 'ns_16_2016_2', 'ns_17_2016_2', 'ns_18_2016_2', 'ns_19_2016_2', 'ns_20_2016_2', 'ns_21_2016_2', 'ns_22_2016_2', 'ns_23_2016_2', 'ns_24_2016_2', 'ns_25_2016_2', 'ns_26_2016_2', 'ns_27_2016_2', 'ns_28_2016_2', 'ns_29_2016_2', 'ns_30_2016_2', 'ns_31_2016_2', 'ns_32_2016_2', 'ns_33_2016_2', 'ns_34_2016_2', 'ns_35_2016_2', 'ns_36_2016_2', 'ns_37_2016_2', 'ns_38_2016_2', 'ns_39_2016_2', 'ns_40_2016_2', 'ns_41_2016_2', 'ns_42_2016_2', 'ns_43_2016_2', 'ns_44_2016_2', 'ns_45_2016_2', 'ns_46_2016_2', 'ns_47_2016_2', 'ns_48_2016_2', 'ns_01_2017_2', 'ns_02_2017_2', 'ns_03_2017_2', 'ns_04_2017_2', 'ns_05_2017_2', 'ns_06_2017_2', 'ns_07_2017_2', 'ns_08_2017_2', 'ns_09_2017_2', 'ns_10_2017_2', 'ns_11_2017_2', 'ns_12_2017_2', 'ns_13_2017_2', 'ns_14_2017_2', 'ns_15_2017_2', 'ns_16_2017_2', 'ns_17_2017_2', 'ns_18_2017_2', 'ns_19_2017_2', 'ns_20_2017_2', 'ns_21_2017_2', 'ns_22_2017_2', 'ns_23_2017_2', 'ns_24_2017_2', 'ns_25_2017_2', 'ns_26_2017_2', 'ns_27_2017_2', 'ns_28_2017_2', 'ns_29_2017_2', 'ns_30_2017_2', 'ns_31_2017_2', 'ns_32_2017_2', 'ns_33_2017_2', 'ns_34_2017_2', 'ns_35_2017_2', 'ns_36_2017_2', 'ns_37_2017_2', 'ns_38_2017_2', 'ns_39_2017_2', 'ns_40_2017_2', 'ns_41_2017_2', 'ns_42_2017_2', 'ns_43_2017_2', 'ns_44_2017_2', 'ns_45_2017_2', 'ns_46_2017_2', 'ns_47_2017_2', 'ns_48_2017_2', 'ns_49_2017_2', 'ns_01_2018_2', 'ns_02_2018_2', 'ns_03_2018_2', 'ns_04_2018_2', 'ns_05_2018_2', 'ns_06_2018_2', 'ns_07_2018_2', 'ns_08_2018_2', 'ns_09_2018_2', 'ns_10_2018_2', 'ns_11_2018_2', 'ns_12_2018_2', 'ns_13_2018_2', 'ns_14_2018_2', 'ns_15_2018_2', 'ns_16_2018_2', 'ns_17_2018_2', 'ns_18_2018_2', 'ns_19_2018_2', 'ns_20_2018_2', 'ns_21_2018_2', 'ns_22_2018_2', 'ns_23_2018_2', 'ns_24_2018_2', 'ns_25_2018_2', 'ns_26_2018_2', 'ns_27_2018_2', 'ns_28_2018_2', 'ns_29_2018_2', 'ns_30_2018_2', 'ns_31_2018_2', 'ns_32_2018_2', 'ns_33_2018_2', 'ns_34_2018_2', 'ns_35_2018_2', 'ns_36_2018_2', 'ns_37_2018_2', 'ns_38_2018_2', 'ns_39_2018_2', 'ns_40_2018_2', 'ns_41_2018_2', 'ns_42_2018_2', 'ns_43_2018_2', 'ns_44_2018_2', 'ns_45_2018_2', 'ns_46_2018_2', 'ns_47_2018_2', 'ns_48_2018_2', 'ns_49_2018_2', 'ns_01_2019_2', 'ns_02_2019_2', 'ns_03_2019_2', 'ns_04_2019_2', 'ns_05_2019_2', 'ns_06_2019_2', 'ns_07_2019_2', 'ns_08_2019_2', 'ns_09_2019_2', 'ns_10_2019_2', 'ns_11_2019_2', 'ns_12_2019_2', 'ns_13_2019_2', 'ns_14_2019_2', 'ns_15_2019_2', 'ns_16_2019_2', 'ns_17_2019_2', 'ns_18_2019_2', 'ns_19_2019_2', 'ns_20_2019_2', 'ns_21_2019_2', 'ns_22_2019_2', 'ns_23_2019_2', 'ns_24_2019_2', 'ns_25_2019_2', 'ns_26_2019_2', 'ns_27_2019_2', 'ns_28_2019_2', 'ns_29_2019_2', 'ns_30_2019_2', 'ns_31_2019_2', 'ns_32_2019_2', 'ns_33_2019_2', 'ns_34_2019_2', 'ns_35_2019_2', 'ns_36_2019_2', 'ns_37_2019_2', 'ns_38_2019_2', 'ns_39_2019_2', 'ns_01_2020_2', 'ns_02_2020_2', 'ns_03_2020_2', 'ns_04_2020_2', 'ns_05_2020_2', 'ns_06_2020_2', 'ns_07_2020_2', 'ns_08_2020_2', 'ns_09_2020_2', 'ns_10_2020_2', 'ns_11_2020_2', 'ns_12_2020_2', 'ns_13_2020_2', 'ns_14_2020_2', 'ns_15_2020_2', 'ns_16_2020_2', 'ns_17_2020_2', 'ns_18_2020_2', 'ns_19_2020_2', 'ns_20_2020_2', 'ns_21_2020_2', 'ns_22_2020_2', 'ns_23_2020_2', 'ns_24_2020_2', 'ns_25_2020_2', 'ns_26_2020_2', 'ns_27_2020_2', 'ns_28_2020_2', 'ns_29_2020_2', 'ns_30_2020_2', 'ns_31_2020_2', 'ns_32_2020_2', 'ns_33_2020_2', 'ns_34_2020_2', 'ns_35_2020_2', 'ns_36_2020_2', 'ns_37_2020_2', 'ns_38_2020_2', 'ns_39_2020_2', 'ns_40_2020_2', 'ns_41_2020_2', 'ns_42_2020_2', 'ns_43_2020_2', 'ns_44_2020_2', 'ns_45_2020_2', 'ns_46_2020_2', 'ns_47_2020_2', 'ns_01_2021_2', 'ns_02_2021_2', 'ns_03_2021_2', 'ns_04_2021_2', 'ns_05_2021_2', 'ns_06_2021_2', 'ns_07_2021_2', 'ns_08_2021_2', 'ns_09_2021_2', 'ns_10_2021_2', 'ns_11_2021_2', 'ns_12_2021_2', 'ns_13_2021_2', 'ns_14_2021_2', 'ns_15_2021_2', 'ns_16_2021_2', 'ns_17_2021_2', 'ns_18_2021_2', 'ns_19_2021_2', 'ns_20_2021_2', 'ns_21_2021_2', 'ns_22_2021_2', 'ns_23_2021_2', 'ns_24_2021_2', 'ns_25_2021_2', 'ns_26_2021_2', 'ns_27_2021_2', 'ns_28_2021_2', 'ns_29_2021_2', 'ns_30_2021_2', 'ns_31_2021_2', 'ns_32_2021_2', 'ns_33_2021_2', 'ns_34_2021_2', 'ns_35_2021_2', 'ns_36_2021_2', 'ns_37_2021_2', 'ns_38_2021_2', 'ns_39_2021_2', 'ns_40_2021_2', 'ns_41_2021_2', 'ns_42_2021_2', 'ns_43_2021_2', 'ns_44_2021_2', 'ns_45_2021_2', 'ns_46_2021_2', 'ns_01_2022_2', 'ns_02_2022_2', 'ns_03_2022_2', 'ns_04_2022_2', 'ns_05_2022_2', 'ns_06_2022_2', 'ns_07_2022_2', 'ns_08_2022_2', 'ns_09_2022_2', 'ns_10_2022_2', 'ns_11_2022_2', 'ns_12_2022_2', 'ns_13_2022_2', 'ns_14_2022_2', 'ns_15_2022_2', 'ns_16_2022_2', 'ns_17_2022_2', 'ns_18_2022_2', 'ns_19_2022_2', 'ns_20_2022_2', 'ns_21_2022_2', 'ns_22_2022_2', 'ns_23_2022_2', 'ns_24_2022_2', 'ns_25_2022_2', 'ns_26_2022_2', 'ns_27_2022_2', 'ns_28_2022_2', 'ns_29_2022_2', 'ns_30_2022_2', 'ns_31_2022_2', 'ns_32_2022_2', 'ns_33_2022_2', 'ns_34_2022_2', 'ns_35_2022_2', 'ns_36_2022_2', 'ns_37_2022_2', 'ns_38_2022_2', 'ns_39_2022_2', 'ns_40_2022_2', 'ns_41_2022_2', 'ns_42_2022_2', 'ns_43_2022_2', 'ns_44_2022_2', 'ns_01_2023_2', 'ns_02_2023_2', 'ns_03_2023_2', 'ns_04_2023_2', 'ns_05_2023_2', 'ns_06_2023_2', 'ns_07_2023_2', 'ns_08_2023_2', 'ns_09_2023_2', 'ns_10_2023_2', 'ns_11_2023_2', 'ns_12_2023_2', 'ns_13_2023_2', 'ns_14_2023_2', 'ns_15_2023_2', 'ns_16_2023_2', 'ns_17_2023_2', 'ns_18_2023_2', 'ns_19_2023_2', 'ns_20_2023_2', 'ns_21_2023_2', 'ns_22_2023_2', 'ns_23_2023_2', 'ns_24_2023_2', 'ns_25_2023_2', 'ns_26_2023_2', 'ns_27_2023_2', 'ns_28_2023_2', 'ns_29_2023_2', 'ns_30_2023_2', 'ns_31_2023_2', 'ns_32_2023_2', 'ns_33_2023_2', 'ns_34_2023_2', 'ns_35_2023_2', 'ns_36_2023_2', 'ns_37_2023_2', 'ns_38_2023_2', 'ns_39_2023_2', 'ns_40_2023_2', 'ns_41_2023_2', 'ns_42_2023_2', 'ns_43_2023_2', 'ns_01_2024_2', 'ns_02_2024_2', 'ns_03_2024_2', 'ns_04_2024_2', 'ns_05_2024_2', 'ns_06_2024_2', 'ns_07_2024_2', 'ns_08_2024_2', 'ns_09_2024_2', 'ns_10_2024_2', 'ns_11_2024_2', 'ns_12_2024_2', 'ns_13_2024_2', 'ns_14_2024_2', 'ns_15_2024_2', 'ns_16_2024_2', 'ns_17_2024_2', 'ns_18_2024_2', 'ns_19_2024_2', 'ns_20_2024_2', 'ns_21_2024_2', 'ns_22_2024_2', 'ns_23_2024_2', 'ns_24_2024_2', 'ns_25_2024_2', 'ns_26_2024_2', 'ns_27_2024_2', 'ns_28_2024_2', 'ns_29_2024_2', 'ns_30_2024_2', 'ns_31_2024_2', 'ns_32_2024_2', 'ns_33_2024_2', 'ns_34_2024_2', 'ns_35_2024_2', 'ns_36_2024_2', 'ns_37_2024_2', 'ns_38_2024_2', 'ns_39_2024_2', 'ns_40_2024_2', 'ns_41_2024_2', 'ns_42_2024_2', 'ns_43_2024_2'])

In [21]:
new_dataframes_dict_2.keys()

dict_keys(['ns_01_2013_2', 'ns_02_2013_2', 'ns_03_2013_2', 'ns_04_2013_2', 'ns_05_2013_2', 'ns_06_2013_2', 'ns_07_2013_2', 'ns_08_2013_2', 'ns_09_2013_2', 'ns_10_2013_2', 'ns_11_2013_2', 'ns_12_2013_2', 'ns_13_2013_2', 'ns_14_2013_2', 'ns_15_2013_2', 'ns_16_2013_2', 'ns_17_2013_2', 'ns_18_2013_2', 'ns_19_2013_2', 'ns_20_2013_2', 'ns_21_2013_2', 'ns_22_2013_2', 'ns_23_2013_2', 'ns_24_2013_2', 'ns_25_2013_2', 'ns_26_2013_2', 'ns_27_2013_2', 'ns_28_2013_2', 'ns_29_2013_2', 'ns_30_2013_2', 'ns_31_2013_2', 'ns_32_2013_2', 'ns_33_2013_2', 'ns_34_2013_2', 'ns_35_2013_2', 'ns_36_2013_2', 'ns_37_2013_2', 'ns_38_2013_2', 'ns_39_2013_2', 'ns_40_2013_2', 'ns_41_2013_2', 'ns_42_2013_2', 'ns_43_2013_2', 'ns_44_2013_2', 'ns_45_2013_2', 'ns_46_2013_2', 'ns_47_2013_2', 'ns_48_2013_2', 'ns_49_2013_2', 'ns_50_2013_2', 'ns_01_2014_2', 'ns_02_2014_2', 'ns_03_2014_2', 'ns_04_2014_2', 'ns_05_2014_2', 'ns_06_2014_2', 'ns_07_2014_2', 'ns_08_2014_2', 'ns_09_2014_2', 'ns_10_2014_2', 'ns_11_2014_2', 'ns_12_2014_2', 'ns_13_2014_2', 'ns_14_2014_2', 'ns_15_2014_2', 'ns_16_2014_2', 'ns_17_2014_2', 'ns_18_2014_2', 'ns_19_2014_2', 'ns_20_2014_2', 'ns_21_2014_2', 'ns_22_2014_2', 'ns_23_2014_2', 'ns_24_2014_2', 'ns_25_2014_2', 'ns_26_2014_2', 'ns_27_2014_2', 'ns_28_2014_2', 'ns_29_2014_2', 'ns_30_2014_2', 'ns_31_2014_2', 'ns_32_2014_2', 'ns_33_2014_2', 'ns_34_2014_2', 'ns_35_2014_2', 'ns_36_2014_2', 'ns_37_2014_2', 'ns_38_2014_2', 'ns_39_2014_2', 'ns_40_2014_2', 'ns_41_2014_2', 'ns_42_2014_2', 'ns_43_2014_2', 'ns_44_2014_2', 'ns_45_2014_2', 'ns_46_2014_2', 'ns_47_2014_2', 'ns_48_2014_2', 'ns_49_2014_2', 'ns_01_2015_2', 'ns_02_2015_2', 'ns_03_2015_2', 'ns_04_2015_2', 'ns_05_2015_2', 'ns_06_2015_2', 'ns_07_2015_2', 'ns_08_2015_2', 'ns_09_2015_2', 'ns_10_2015_2', 'ns_11_2015_2', 'ns_12_2015_2', 'ns_13_2015_2', 'ns_14_2015_2', 'ns_15_2015_2', 'ns_16_2015_2', 'ns_17_2015_2', 'ns_18_2015_2', 'ns_19_2015_2', 'ns_20_2015_2', 'ns_21_2015_2', 'ns_22_2015_2', 'ns_23_2015_2', 'ns_24_2015_2', 'ns_25_2015_2', 'ns_26_2015_2', 'ns_27_2015_2', 'ns_28_2015_2', 'ns_29_2015_2', 'ns_30_2015_2', 'ns_31_2015_2', 'ns_32_2015_2', 'ns_33_2015_2', 'ns_34_2015_2', 'ns_35_2015_2', 'ns_36_2015_2', 'ns_37_2015_2', 'ns_38_2015_2', 'ns_39_2015_2', 'ns_40_2015_2', 'ns_41_2015_2', 'ns_42_2015_2', 'ns_43_2015_2', 'ns_44_2015_2', 'ns_45_2015_2', 'ns_46_2015_2', 'ns_47_2015_2', 'ns_48_2015_2', 'ns_01_2016_2', 'ns_02_2016_2', 'ns_03_2016_2', 'ns_04_2016_2', 'ns_05_2016_2', 'ns_06_2016_2', 'ns_07_2016_2', 'ns_08_2016_2', 'ns_09_2016_2', 'ns_10_2016_2', 'ns_11_2016_2', 'ns_12_2016_2', 'ns_13_2016_2', 'ns_14_2016_2', 'ns_15_2016_2', 'ns_16_2016_2', 'ns_17_2016_2', 'ns_18_2016_2', 'ns_19_2016_2', 'ns_20_2016_2', 'ns_21_2016_2', 'ns_22_2016_2', 'ns_23_2016_2', 'ns_24_2016_2', 'ns_25_2016_2', 'ns_26_2016_2', 'ns_27_2016_2', 'ns_28_2016_2', 'ns_29_2016_2', 'ns_30_2016_2', 'ns_31_2016_2', 'ns_32_2016_2', 'ns_33_2016_2', 'ns_34_2016_2', 'ns_35_2016_2', 'ns_36_2016_2', 'ns_37_2016_2', 'ns_38_2016_2', 'ns_39_2016_2', 'ns_40_2016_2', 'ns_41_2016_2', 'ns_42_2016_2', 'ns_43_2016_2', 'ns_44_2016_2', 'ns_45_2016_2', 'ns_46_2016_2', 'ns_47_2016_2', 'ns_48_2016_2', 'ns_01_2017_2', 'ns_02_2017_2', 'ns_03_2017_2', 'ns_04_2017_2', 'ns_05_2017_2', 'ns_06_2017_2', 'ns_07_2017_2', 'ns_08_2017_2', 'ns_09_2017_2', 'ns_10_2017_2', 'ns_11_2017_2', 'ns_12_2017_2', 'ns_13_2017_2', 'ns_14_2017_2', 'ns_15_2017_2', 'ns_16_2017_2', 'ns_17_2017_2', 'ns_18_2017_2', 'ns_19_2017_2', 'ns_20_2017_2', 'ns_21_2017_2', 'ns_22_2017_2', 'ns_23_2017_2', 'ns_24_2017_2', 'ns_25_2017_2', 'ns_26_2017_2', 'ns_27_2017_2', 'ns_28_2017_2', 'ns_29_2017_2', 'ns_30_2017_2', 'ns_31_2017_2', 'ns_32_2017_2', 'ns_33_2017_2', 'ns_34_2017_2', 'ns_35_2017_2', 'ns_36_2017_2', 'ns_37_2017_2', 'ns_38_2017_2', 'ns_39_2017_2', 'ns_40_2017_2', 'ns_41_2017_2', 'ns_42_2017_2', 'ns_43_2017_2', 'ns_44_2017_2', 'ns_45_2017_2', 'ns_46_2017_2', 'ns_47_2017_2', 'ns_48_2017_2', 'ns_49_2017_2', 'ns_01_2018_2', 'ns_02_2018_2', 'ns_03_2018_2', 'ns_04_2018_2', 'ns_05_2018_2', 'ns_06_2018_2', 'ns_07_2018_2', 'ns_08_2018_2', 'ns_09_2018_2', 'ns_10_2018_2', 'ns_11_2018_2', 'ns_12_2018_2', 'ns_13_2018_2', 'ns_14_2018_2', 'ns_15_2018_2', 'ns_16_2018_2', 'ns_17_2018_2', 'ns_18_2018_2', 'ns_19_2018_2', 'ns_20_2018_2', 'ns_21_2018_2', 'ns_22_2018_2', 'ns_23_2018_2', 'ns_24_2018_2', 'ns_25_2018_2', 'ns_26_2018_2', 'ns_27_2018_2', 'ns_28_2018_2', 'ns_29_2018_2', 'ns_30_2018_2', 'ns_31_2018_2', 'ns_32_2018_2', 'ns_33_2018_2', 'ns_34_2018_2', 'ns_35_2018_2', 'ns_36_2018_2', 'ns_37_2018_2', 'ns_38_2018_2', 'ns_39_2018_2', 'ns_40_2018_2', 'ns_41_2018_2', 'ns_42_2018_2', 'ns_43_2018_2', 'ns_44_2018_2', 'ns_45_2018_2', 'ns_46_2018_2', 'ns_47_2018_2', 'ns_48_2018_2', 'ns_49_2018_2', 'ns_01_2019_2', 'ns_02_2019_2', 'ns_03_2019_2', 'ns_04_2019_2', 'ns_05_2019_2', 'ns_06_2019_2', 'ns_07_2019_2', 'ns_08_2019_2', 'ns_09_2019_2', 'ns_10_2019_2', 'ns_11_2019_2', 'ns_12_2019_2', 'ns_13_2019_2', 'ns_14_2019_2', 'ns_15_2019_2', 'ns_16_2019_2', 'ns_17_2019_2', 'ns_18_2019_2', 'ns_19_2019_2', 'ns_20_2019_2', 'ns_21_2019_2', 'ns_22_2019_2', 'ns_23_2019_2', 'ns_24_2019_2', 'ns_25_2019_2', 'ns_26_2019_2', 'ns_27_2019_2', 'ns_28_2019_2', 'ns_29_2019_2', 'ns_30_2019_2', 'ns_31_2019_2', 'ns_32_2019_2', 'ns_33_2019_2', 'ns_34_2019_2', 'ns_35_2019_2', 'ns_36_2019_2', 'ns_37_2019_2', 'ns_38_2019_2', 'ns_39_2019_2', 'ns_01_2020_2', 'ns_02_2020_2', 'ns_03_2020_2', 'ns_04_2020_2', 'ns_05_2020_2', 'ns_06_2020_2', 'ns_07_2020_2', 'ns_08_2020_2', 'ns_09_2020_2', 'ns_10_2020_2', 'ns_11_2020_2', 'ns_12_2020_2', 'ns_13_2020_2', 'ns_14_2020_2', 'ns_15_2020_2', 'ns_16_2020_2', 'ns_17_2020_2', 'ns_18_2020_2', 'ns_19_2020_2', 'ns_20_2020_2', 'ns_21_2020_2', 'ns_22_2020_2', 'ns_23_2020_2', 'ns_24_2020_2', 'ns_25_2020_2', 'ns_26_2020_2', 'ns_27_2020_2', 'ns_28_2020_2', 'ns_29_2020_2', 'ns_30_2020_2', 'ns_31_2020_2', 'ns_32_2020_2', 'ns_33_2020_2', 'ns_34_2020_2', 'ns_35_2020_2', 'ns_36_2020_2', 'ns_37_2020_2', 'ns_38_2020_2', 'ns_39_2020_2', 'ns_40_2020_2', 'ns_41_2020_2', 'ns_42_2020_2', 'ns_43_2020_2', 'ns_44_2020_2', 'ns_45_2020_2', 'ns_46_2020_2', 'ns_47_2020_2', 'ns_01_2021_2', 'ns_02_2021_2', 'ns_03_2021_2', 'ns_04_2021_2', 'ns_05_2021_2', 'ns_06_2021_2', 'ns_07_2021_2', 'ns_08_2021_2', 'ns_09_2021_2', 'ns_10_2021_2', 'ns_11_2021_2', 'ns_12_2021_2', 'ns_13_2021_2', 'ns_14_2021_2', 'ns_15_2021_2', 'ns_16_2021_2', 'ns_17_2021_2', 'ns_18_2021_2', 'ns_19_2021_2', 'ns_20_2021_2', 'ns_21_2021_2', 'ns_22_2021_2', 'ns_23_2021_2', 'ns_24_2021_2', 'ns_25_2021_2', 'ns_26_2021_2', 'ns_27_2021_2', 'ns_28_2021_2', 'ns_29_2021_2', 'ns_30_2021_2', 'ns_31_2021_2', 'ns_32_2021_2', 'ns_33_2021_2', 'ns_34_2021_2', 'ns_35_2021_2', 'ns_36_2021_2', 'ns_37_2021_2', 'ns_38_2021_2', 'ns_39_2021_2', 'ns_40_2021_2', 'ns_41_2021_2', 'ns_42_2021_2', 'ns_43_2021_2', 'ns_44_2021_2', 'ns_45_2021_2', 'ns_46_2021_2', 'ns_01_2022_2', 'ns_02_2022_2', 'ns_03_2022_2', 'ns_04_2022_2', 'ns_05_2022_2', 'ns_06_2022_2', 'ns_07_2022_2', 'ns_08_2022_2', 'ns_09_2022_2', 'ns_10_2022_2', 'ns_11_2022_2', 'ns_12_2022_2', 'ns_13_2022_2', 'ns_14_2022_2', 'ns_15_2022_2', 'ns_16_2022_2', 'ns_17_2022_2', 'ns_18_2022_2', 'ns_19_2022_2', 'ns_20_2022_2', 'ns_21_2022_2', 'ns_22_2022_2', 'ns_23_2022_2', 'ns_24_2022_2', 'ns_25_2022_2', 'ns_26_2022_2', 'ns_27_2022_2', 'ns_28_2022_2', 'ns_29_2022_2', 'ns_30_2022_2', 'ns_31_2022_2', 'ns_32_2022_2', 'ns_33_2022_2', 'ns_34_2022_2', 'ns_35_2022_2', 'ns_36_2022_2', 'ns_37_2022_2', 'ns_38_2022_2', 'ns_39_2022_2', 'ns_40_2022_2', 'ns_41_2022_2', 'ns_42_2022_2', 'ns_43_2022_2', 'ns_44_2022_2', 'ns_01_2023_2', 'ns_02_2023_2', 'ns_03_2023_2', 'ns_04_2023_2', 'ns_05_2023_2', 'ns_06_2023_2', 'ns_07_2023_2', 'ns_08_2023_2', 'ns_09_2023_2', 'ns_10_2023_2', 'ns_11_2023_2', 'ns_12_2023_2', 'ns_13_2023_2', 'ns_14_2023_2', 'ns_15_2023_2', 'ns_16_2023_2', 'ns_17_2023_2', 'ns_18_2023_2', 'ns_19_2023_2', 'ns_20_2023_2', 'ns_21_2023_2', 'ns_22_2023_2', 'ns_23_2023_2', 'ns_24_2023_2', 'ns_25_2023_2', 'ns_26_2023_2', 'ns_27_2023_2', 'ns_28_2023_2', 'ns_29_2023_2', 'ns_30_2023_2', 'ns_31_2023_2', 'ns_32_2023_2', 'ns_33_2023_2', 'ns_34_2023_2', 'ns_35_2023_2', 'ns_36_2023_2', 'ns_37_2023_2', 'ns_38_2023_2', 'ns_39_2023_2', 'ns_40_2023_2', 'ns_41_2023_2', 'ns_42_2023_2', 'ns_43_2023_2', 'ns_01_2024_2', 'ns_02_2024_2', 'ns_03_2024_2', 'ns_04_2024_2', 'ns_05_2024_2', 'ns_06_2024_2', 'ns_07_2024_2', 'ns_08_2024_2', 'ns_09_2024_2', 'ns_10_2024_2', 'ns_11_2024_2', 'ns_12_2024_2', 'ns_13_2024_2', 'ns_14_2024_2', 'ns_15_2024_2', 'ns_16_2024_2', 'ns_17_2024_2', 'ns_18_2024_2', 'ns_19_2024_2', 'ns_20_2024_2', 'ns_21_2024_2', 'ns_22_2024_2', 'ns_23_2024_2', 'ns_24_2024_2', 'ns_25_2024_2', 'ns_26_2024_2', 'ns_27_2024_2', 'ns_28_2024_2', 'ns_29_2024_2', 'ns_30_2024_2', 'ns_31_2024_2', 'ns_32_2024_2', 'ns_33_2024_2', 'ns_34_2024_2', 'ns_35_2024_2', 'ns_36_2024_2', 'ns_37_2024_2', 'ns_38_2024_2', 'ns_39_2024_2', 'ns_40_2024_2', 'ns_41_2024_2', 'ns_42_2024_2', 'ns_43_2024_2'])

In [22]:
new_tables_dict_2['ns_43_2024_2'].head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,2022,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,2023,Unnamed: 10,Unnamed: 11,Unnamed: 12,2024,Unnamed: 14,Unnamed: 15
0,SECTORES ECONMICOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ECONOMIC SECTORS
1,NaN,I,NaN,II,III,IV,AO,I,II,III,IV,AO,I,II,III,NaN
2,Agropecuario,"4,7",NaN,"4,9","5,4","3,1","4,6","1,4","-5,6","-3,3","-0,5","-2,4","-0,5","8,5","-1,5 Agriculture and Livestock",NaN
3,Pesca,"-22,7",NaN,"-7,8","17,4","-17,7","-11,4","16,3","-61,5","-11,9","-6,4","-21,2","-29,8","184,2","-11,1 Fishing",NaN
4,Minera e hidrocarburos,"1,3",NaN,"-1,1","-4,2","6,0","0,5","2,6","16,5","8,8","4,8","8,1","8,2","-3,1","4,4 Mining and fuel",NaN

In [23]:
new_dataframes_dict_2['ns_43_2024_2']

,year,id_ns,date,sectores_economicos,economic_sectors,2022_1,2022_2,2022_3,2022_4,2022_year,2023_1,2023_2,2023_3,2023_4,2023_year,2024_1,2024_2,2024_3
0,2024,43,2024-11-28,agropecuario,agriculture and livestock,4.7,4.9,5.4,3.1,4.6,1.4,-5.6,-3.3,-0.5,-2.4,-0.5,8.5,-1.5
1,2024,43,2024-11-28,pesca,fishing,-22.7,-7.8,17.4,-17.7,-11.4,16.3,-61.5,-11.9,-6.4,-21.2,-29.8,184.2,-11.1
2,2024,43,2024-11-28,mineria e hidrocarburos,mining and fuel,1.3,-1.1,-4.2,6.0,0.5,2.6,16.5,8.8,4.8,8.1,8.2,-3.1,4.4
3,2024,43,2024-11-28,manufactura,manufacturing,1.6,3.4,1.2,-2.2,1.0,-0.4,-11.7,-8.3,-5.4,-6.5,-6.4,10.0,5.3
4,2024,43,2024-11-28,electricidad y agua,electricity and water,3.4,2.6,4.3,5.2,3.9,4.6,5.8,3.0,1.5,3.7,3.7,1.4,2.2
5,2024,43,2024-11-28,construccion,construction,-0.4,3.4,3.6,5.1,3.1,-11.4,-7.2,-9.1,-4.5,-7.8,4.6,3.1,4.7
6,2024,43,2024-11-28,comercio,commerce,5.9,2.6,2.4,2.5,3.3,2.2,3.1,2.6,1.6,2.4,2.4,2.5,3.2
7,2024,43,2024-11-28,otros servicios,other services,5.4,4.6,2.9,1.6,3.6,-0.3,0.2,-0.3,0.0,-0.1,1.6,2.7,4.1
8,2024,43,2024-11-28,pbi global,gdp,3.9,3.4,2.0,2.0,2.8,-0.1,-0.5,-0.7,-0.3,-0.4,1.4,3.6,3.8
9,2024,43,2024-11-28,sectores primarios,primary sectors,-0.1,0.0,-0.3,4.0,0.9,5.1,1.3,3.9,1.6,2.9,0.9,7.5,2.4
10,2024,43,2024-11-28,sectores no primarios,nonprimary sectors,5.0,4.5,2.6,1.5,3.3,-1.5,-1.0,-1.8,-0.8,-1.3,1.5,2.5,4.2

In [ ]:
# Call the function to set the counter
if frequency == "monthly":
    counter = 1
elif frequency == "quarterly":
    counter = 2
elif frequency == "annual":
    counter = 2
else:
    counter = None 

print(counter)

In [ ]:
# Dynamically construct the function name and dictionary name
function_name = f"concatenate_{frequency}_df"
dataframe_dict_name = f"new_dataframes_dict_{counter}"

# Check that both the function and dictionary exist in the global scope
if function_name in globals() and dataframe_dict_name in globals():
    # Call the function using its reference from globals()
    globals()[f"new_{sector}_{frequency}_growth_rates"] = globals()[function_name](
        globals()[dataframe_dict_name], selected_spanish, selected_english
    )
else:
    print(f"Error: {function_name} or {dataframe_dict_name} does not exist in the global scope.")

In [ ]:
engine = create_sqlalchemy_engine()

In [ ]:
globals()[f"new_{sector}_{frequency}_growth_rates"].to_sql(f'new_{sector}_{frequency}_growth_rates', engine, index=False, if_exists='replace')

In [24]:
frequencies = [
        "monthly", 
        "quarterly",
        "annual"
    ]

In [25]:
def process_new_datasets_to_sql(sector, frequency):
    # Initialize counter for loaded DataFrames
    total_loaded = 0

    # Set counter based on frequency
    if frequency == "monthly":
        counter = 1
    elif frequency in ["quarterly", "annual"]:
        counter = 2
    else:
        print(f"Unknown frequency: {frequency}")
        return None

    # Dynamically build function and dictionary names
    function_name = f"concatenate_{frequency}_df"
    dataframe_dict_name = f"new_dataframes_dict_{counter}"

    if function_name in globals() and dataframe_dict_name in globals():
        # Generate the DataFrame
        df_name = f"new_{sector}_{frequency}_growth_rates"
        globals()[df_name] = globals()[function_name](
            globals()[dataframe_dict_name], option_mapping[sector][0], option_mapping[sector][1]
        )

        # Load to SQL
        engine = create_sqlalchemy_engine()
        globals()[df_name].to_sql(df_name, engine, index=False, if_exists='replace')

        return globals()[df_name]
    else:
        print(f"Error: {function_name} or {dataframe_dict_name} does not exist in the global scope.")
        return None

In [26]:
# Initialize counter
processed_datasets = 0

# Process all combinations
for sector in option_mapping.keys():
    for frequency in frequencies:
        print(f"Processing {sector} - {frequency}")
        df = process_new_datasets_to_sql(sector, frequency)
        if df is not None:
            display(df.head(10))  # Display the first 10 rows
            processed_datasets += 1  # Increment counter

# Display total number of processed datasets
print(f"Total datasets processed: {processed_datasets}")

Processing gdp - monthly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,sep_2011,oct_2011,nov_2011,dic_2011,ene_2012,feb_2012,mar_2012,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,2013,01,2013-01-04,5.9,5.3,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,5.9,5.3,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,NaN,NaN,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,NaN,NaN,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,NaN,NaN,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,NaN,NaN,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,NaN,NaN,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,NaN,NaN,NaN,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,NaN,NaN,NaN,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,NaN,NaN,NaN,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing gdp - quarterly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,2010_1,2010_2,2010_3,2010_4,2011_1,2011_2,2011_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,2013,01,2013-01-04,6.2,10.0,9.6,9.2,8.8,6.9,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,6.2,10.0,9.6,9.2,8.8,6.9,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,6.2,10.0,9.6,9.2,8.8,6.9,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,6.2,10.0,9.6,9.2,8.8,6.9,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,6.2,10.0,9.6,9.2,8.8,6.9,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,6.2,10.0,9.6,9.2,8.8,6.9,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,6.2,10.0,9.6,9.2,8.8,6.9,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,6.2,10.0,9.6,9.2,8.8,6.9,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,6.2,10.0,9.6,9.2,8.8,6.9,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,6.2,10.0,9.6,9.2,8.8,6.9,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing gdp - annual
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,2013,01,2013-01-04,8.8,6.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,8.8,6.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,8.8,6.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,8.8,6.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,8.8,6.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,8.8,6.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,8.8,6.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,8.8,6.9,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,8.8,6.9,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,8.8,6.9,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing agriculture - monthly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,sep_2011,oct_2011,nov_2011,dic_2011,ene_2012,feb_2012,mar_2012,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,2013,01,2013-01-04,3.4,4.4,4.1,-1.3,2.9,2.9,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,3.4,4.4,4.1,-1.3,2.9,2.9,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,NaN,NaN,4.1,-1.3,2.9,2.9,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,NaN,NaN,4.1,-1.3,2.9,2.9,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,NaN,NaN,4.1,-1.3,2.9,2.9,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,NaN,NaN,4.1,-1.3,2.9,2.9,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,NaN,NaN,4.1,-1.3,2.9,2.9,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,NaN,NaN,NaN,-1.3,2.4,3.1,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,NaN,NaN,NaN,-1.3,2.4,3.1,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,NaN,NaN,NaN,-1.3,2.4,3.1,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing agriculture - quarterly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,2010_1,2010_2,2010_3,2010_4,2011_1,2011_2,2011_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,2013,01,2013-01-04,3.8,4.4,2.4,6.6,3.0,2.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,3.8,4.4,2.4,6.6,3.0,2.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,3.8,4.4,2.4,6.6,3.0,2.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,3.8,4.4,2.4,6.6,3.0,2.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,3.8,4.4,2.4,6.6,3.0,2.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,3.8,4.4,2.4,6.6,3.0,2.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,3.8,4.4,2.4,6.6,3.0,2.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,3.8,4.4,2.4,6.6,3.0,2.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,3.8,4.4,2.4,6.6,3.0,2.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,3.8,4.4,2.4,6.6,3.0,2.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing agriculture - annual
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,2013,01,2013-01-04,4.3,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,4.3,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,4.3,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,4.3,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,4.3,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,4.3,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,4.3,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,4.3,3.8,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,4.3,3.8,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,4.3,3.8,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing fishing - monthly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,sep_2011,oct_2011,nov_2011,dic_2011,ene_2012,feb_2012,mar_2012,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,2013,01,2013-01-04,30.1,35.1,0.3,74.5,-15.5,-10.9,-4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,30.1,35.1,0.3,74.5,-15.5,-10.9,-4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,NaN,NaN,0.3,74.5,-15.5,-10.9,-4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,NaN,NaN,0.3,74.5,-15.5,-10.9,-4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,NaN,NaN,0.3,74.5,-15.5,-10.9,-4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,NaN,NaN,0.3,74.5,-15.5,-10.9,-4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,NaN,NaN,0.3,74.5,-15.5,-10.9,-4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,NaN,NaN,NaN,74.5,-15.5,-10.9,-4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,NaN,NaN,NaN,74.5,-15.5,-10.9,-4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,NaN,NaN,NaN,74.5,-15.5,-10.9,-4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing fishing - quarterly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,2010_1,2010_2,2010_3,2010_4,2011_1,2011_2,2011_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,2013,01,2013-01-04,-8.2,-9.7,-27.0,-25.3,12.3,20.8,65.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,-8.2,-9.7,-27.0,-25.3,12.3,20.8,65.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,-8.2,-9.7,-27.0,-25.3,12.3,20.8,65.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,-8.2,-9.7,-27.0,-25.3,12.3,20.8,65.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,-8.2,-9.7,-27.0,-25.3,12.3,20.8,65.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,-8.2,-9.7,-27.0,-25.3,12.3,20.8,65.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,-8.2,-9.7,-27.0,-25.3,12.3,20.8,65.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,-8.2,-9.7,-27.0,-25.3,12.3,20.8,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,-8.2,-9.7,-27.0,-25.3,12.3,20.8,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,-8.2,-9.7,-27.0,-25.3,12.3,20.8,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing fishing - annual
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,2013,01,2013-01-04,-16.4,29.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,-16.4,29.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,-16.4,29.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,-16.4,29.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,-16.4,29.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,-16.4,29.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,-16.4,29.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,-16.4,29.7,-11.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,-16.4,29.7,-11.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,-16.4,29.7,-11.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing mining - monthly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,sep_2011,oct_2011,nov_2011,dic_2011,ene_2012,feb_2012,mar_2012,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,2013,01,2013-01-04,0.7,-0.5,-1.1,4.2,-0.3,3.7,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,0.7,-0.5,-1.1,4.2,-0.3,3.7,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,NaN,NaN,-1.1,4.2,-0.3,3.7,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,NaN,NaN,-1.1,4.2,-0.3,3.7,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,NaN,NaN,-1.1,4.2,-0.3,3.7,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,NaN,NaN,-1.1,4.2,-0.3,3.7,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,NaN,NaN,-1.1,4.2,-0.3,3.7,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,NaN,NaN,NaN,4.2,-0.9,3.7,7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,NaN,NaN,NaN,4.2,-0.9,3.7,7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,NaN,NaN,NaN,4.2,-0.9,3.7,7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing mining - quarterly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,2010_1,2010_2,2010_3,2010_4,2011_1,2011_2,2011_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,2013,01,2013-01-04,1.1,1.7,-2.3,-1.0,-0.3,-2.3,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,1.1,1.7,-2.3,-1.0,-0.3,-2.3,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,1.1,1.7,-2.3,-1.0,-0.3,-2.3,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,1.1,1.7,-2.3,-1.0,-0.3,-2.3,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,1.1,1.7,-2.3,-1.0,-0.3,-2.3,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,1.1,1.7,-2.3,-1.0,-0.3,-2.3,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,1.1,1.7,-2.3,-1.0,-0.3,-2.3,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,1.1,1.7,-2.3,-1.0,-0.3,-2.3,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,1.1,1.7,-2.3,-1.0,-0.3,-2.3,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,1.1,1.7,-2.3,-1.0,-0.3,-2.3,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing mining - annual
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,2013,01,2013-01-04,-0.1,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,-0.1,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,-0.1,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,-0.1,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,-0.1,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,-0.1,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,-0.1,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,-0.1,-0.2,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,-0.1,-0.2,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,-0.1,-0.2,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing manufacturing - monthly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,sep_2011,oct_2011,nov_2011,dic_2011,ene_2012,feb_2012,mar_2012,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,2013,01,2013-01-04,1.8,-0.4,-0.2,3.7,-1.0,1.8,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,1.8,-0.4,-0.2,3.7,-1.0,1.8,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,NaN,NaN,-0.2,3.7,-1.0,1.8,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,NaN,NaN,-0.2,3.7,-1.0,1.8,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,NaN,NaN,-0.2,3.7,-1.0,1.8,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,NaN,NaN,-0.2,3.7,-1.0,1.8,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,NaN,NaN,-0.2,3.7,-1.0,1.8,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,NaN,NaN,NaN,3.7,-0.9,1.7,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,NaN,NaN,NaN,3.7,-0.9,1.7,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,NaN,NaN,NaN,3.7,-0.9,1.7,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing manufacturing - quarterly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,2010_1,2010_2,2010_3,2010_4,2011_1,2011_2,2011_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,2013,01,2013-01-04,7.5,16.8,17.4,13.0,12.3,6.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,7.5,16.8,17.4,13.0,12.3,6.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,7.5,16.8,17.4,13.0,12.3,6.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,7.5,16.8,17.4,13.0,12.3,6.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,7.5,16.8,17.4,13.0,12.3,6.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,7.5,16.8,17.4,13.0,12.3,6.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,7.5,16.8,17.4,13.0,12.3,6.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,7.5,16.8,17.4,13.0,12.3,6.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,7.5,16.8,17.4,13.0,12.3,6.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,7.5,16.8,17.4,13.0,12.3,6.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing manufacturing - annual
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,2013,01,2013-01-04,13.6,5.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,13.6,5.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,13.6,5.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,13.6,5.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,13.6,5.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,13.6,5.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,13.6,5.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,13.6,5.6,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,13.6,5.6,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,13.6,5.6,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing electricity - monthly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,sep_2011,oct_2011,nov_2011,dic_2011,ene_2012,feb_2012,mar_2012,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,2013,01,2013-01-04,7.6,7.3,6.9,7.3,5.7,7.4,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,7.6,7.3,6.9,7.3,5.7,7.4,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,NaN,NaN,6.9,7.3,5.7,7.4,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,NaN,NaN,6.9,7.3,5.7,7.4,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,NaN,NaN,6.9,7.3,5.7,7.4,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,NaN,NaN,6.9,7.3,5.7,7.4,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,NaN,NaN,6.9,7.3,5.7,7.4,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,NaN,NaN,NaN,7.3,5.7,7.4,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,NaN,NaN,NaN,7.3,5.7,7.4,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,NaN,NaN,NaN,7.3,5.7,7.4,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing electricity - quarterly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,2010_1,2010_2,2010_3,2010_4,2011_1,2011_2,2011_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,2013,01,2013-01-04,6.5,8.6,8.4,7.3,7.3,7.4,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,6.5,8.6,8.4,7.3,7.3,7.4,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,6.5,8.6,8.4,7.3,7.3,7.4,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,6.5,8.6,8.4,7.3,7.3,7.4,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,6.5,8.6,8.4,7.3,7.3,7.4,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,6.5,8.6,8.4,7.3,7.3,7.4,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,6.5,8.6,8.4,7.3,7.3,7.4,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,6.5,8.6,8.4,7.3,7.3,7.4,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,6.5,8.6,8.4,7.3,7.3,7.4,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,6.5,8.6,8.4,7.3,7.3,7.4,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing electricity - annual
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,2013,01,2013-01-04,7.7,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,7.7,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,7.7,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,7.7,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,7.7,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,7.7,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,7.7,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,7.7,7.4,5.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,7.7,7.4,5.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,7.7,7.4,5.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing construction - monthly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,sep_2011,oct_2011,nov_2011,dic_2011,ene_2012,feb_2012,mar_2012,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,2013,01,2013-01-04,1.6,4.4,3.2,3.8,12.5,10.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,1.6,4.4,3.2,3.8,12.5,10.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,NaN,NaN,3.2,3.8,12.5,10.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,NaN,NaN,3.2,3.8,12.5,10.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,NaN,NaN,3.2,3.8,12.5,10.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,NaN,NaN,3.2,3.8,12.5,10.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,NaN,NaN,3.2,3.8,12.5,10.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,NaN,NaN,NaN,3.8,12.5,10.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,NaN,NaN,NaN,3.8,12.5,10.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,NaN,NaN,NaN,3.8,12.5,10.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing construction - quarterly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,2010_1,2010_2,2010_3,2010_4,2011_1,2011_2,2011_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,2013,01,2013-01-04,16.8,21.5,16.6,15.5,8.1,0.4,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,16.8,21.5,16.6,15.5,8.1,0.4,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,16.8,21.5,16.6,15.5,8.1,0.4,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,16.8,21.5,16.6,15.5,8.1,0.4,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,16.8,21.5,16.6,15.5,8.1,0.4,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,16.8,21.5,16.6,15.5,8.1,0.4,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,16.8,21.5,16.6,15.5,8.1,0.4,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,16.8,21.5,16.6,15.5,8.1,0.4,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,16.8,21.5,16.6,15.5,8.1,0.4,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,16.8,21.5,16.6,15.5,8.1,0.4,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing construction - annual
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,2013,01,2013-01-04,17.4,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,17.4,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,17.4,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,17.4,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,17.4,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,17.4,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,17.4,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,17.4,3.4,15.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,17.4,3.4,15.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,17.4,3.4,15.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing commerce - monthly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,sep_2011,oct_2011,nov_2011,dic_2011,ene_2012,feb_2012,mar_2012,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,2013,01,2013-01-04,8.8,8.7,7.0,7.0,7.7,8.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,8.8,8.7,7.0,7.0,7.7,8.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,NaN,NaN,7.0,7.0,7.7,8.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,NaN,NaN,7.0,7.0,7.7,8.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,NaN,NaN,7.0,7.0,7.7,8.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,NaN,NaN,7.0,7.0,7.7,8.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,NaN,NaN,7.0,7.0,7.7,8.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,NaN,NaN,NaN,7.0,7.7,8.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,NaN,NaN,NaN,7.0,7.7,8.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,NaN,NaN,NaN,7.0,7.7,8.9,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing commerce - quarterly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,2010_1,2010_2,2010_3,2010_4,2011_1,2011_2,2011_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,2013,01,2013-01-04,8.1,11.0,9.6,9.9,10.3,8.8,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,8.1,11.0,9.6,9.9,10.3,8.8,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,8.1,11.0,9.6,9.9,10.3,8.8,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,8.1,11.0,9.6,9.9,10.3,8.8,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,8.1,11.0,9.6,9.9,10.3,8.8,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,8.1,11.0,9.6,9.9,10.3,8.8,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,8.1,11.0,9.6,9.9,10.3,8.8,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,8.1,11.0,9.6,9.9,10.3,8.8,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,8.1,11.0,9.6,9.9,10.3,8.8,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,8.1,11.0,9.6,9.9,10.3,8.8,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing commerce - annual
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,2013,01,2013-01-04,9.7,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,9.7,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,9.7,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,9.7,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,9.7,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,9.7,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,9.7,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,9.7,8.8,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,9.7,8.8,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,9.7,8.8,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing services - monthly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,sep_2011,oct_2011,nov_2011,dic_2011,ene_2012,feb_2012,mar_2012,...,dic_2023,ene_2024,feb_2024,mar_2024,abr_2024,may_2024,jun_2024,jul_2024,ago_2024,sep_2024
0,2013,01,2013-01-04,7.7,6.8,7.4,7.2,7.1,8.6,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,7.7,6.8,7.4,7.2,7.1,8.6,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,NaN,NaN,7.4,7.2,7.1,8.6,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,NaN,NaN,7.4,7.2,7.1,8.6,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,NaN,NaN,7.4,7.2,7.1,8.6,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,NaN,NaN,7.4,7.2,7.1,8.6,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,NaN,NaN,7.4,7.2,7.1,8.6,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,NaN,NaN,NaN,7.2,7.1,8.6,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,NaN,NaN,NaN,7.2,7.1,8.6,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,NaN,NaN,NaN,7.2,7.1,8.6,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing services - quarterly
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,2010_1,2010_2,2010_3,2010_4,2011_1,2011_2,2011_3,...,2022_2,2022_3,2022_4,2023_1,2023_2,2023_3,2023_4,2024_1,2024_2,2024_3
0,2013,01,2013-01-04,4.9,8.8,9.3,8.9,9.3,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,4.9,8.8,9.3,8.9,9.3,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,4.9,8.8,9.3,8.9,9.3,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,4.9,8.8,9.3,8.9,9.3,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,4.9,8.8,9.3,8.9,9.3,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,4.9,8.8,9.3,8.9,9.3,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,4.9,8.8,9.3,8.9,9.3,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,4.9,8.8,9.3,8.9,9.3,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,4.9,8.8,9.3,8.9,9.3,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,4.9,8.8,9.3,8.9,9.3,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing services - annual
Number of rows in the concatenated dataframe: 555

,year,id_ns,date,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,2013,01,2013-01-04,8.0,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,8.0,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,8.0,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,8.0,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,8.0,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013,06,2013-02-08,8.0,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,07,2013-02-15,8.0,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013,08,2013-02-22,8.0,8.3,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013,09,2013-03-01,8.0,8.3,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013,10,2013-03-08,8.0,8.3,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Total datasets processed: 27

---
---