<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h1>
Old GDP Revisions Datasets
</h1>
</div>

<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h3>
Documentation
<br>
____________________
<br>
</h3>
</div>

<div style="text-align: center; font-family: 'PT Serif Pro Book'; color: rgb(0, 65, 75); font-size: 16px;">
    Jason Cruz
    <br>
    <a href="mailto:jj.cruza@up.edu.pe" style="color: rgb(0, 153, 123); font-size: 16px;">
        jj.cruza@up.edu.pe
    </a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
This <span style="color: rgb(0, 65, 75);">jupyter notebook</span> documents step-by-step the <b>construction of old datasets</b> for the project <b>'Revisions and Biases in Preliminary GDP Estimates in Peru'</b>.

This jupyter notebook goes from the cleaning of the tables (Weekly Reports, WR) provided confidentially by the Central Bank to the construction of the <b>vintages</b> and <b>revisions</b> datasets from 1994-2024.
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;line-height: 1.5;">
<span style="font-size: 24px;">&#128196;</span> The Weekly Report/<i>Nota Semanal</i> (WR/<i>NS</i>) of the Central Bank.
    <br>
    <span style="font-size: 24px;">&#8987;</span> Available since <b>1994-2012</b> (Table 1) and since <b>1997-2012</b> (Table 2). 
    <br>
</div>

<div style="font-family: Amaya; text-align: left; color: rgb(0, 65, 75); font-size:16px">The following <b>outline is functional</b>. By utilising the provided buttons, users are able to enhance their experience by browsing this script.<div/>

<div id="outilne">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #292929; padding: 10px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #E0E0E0;">
        Outline
    </h2>
    <br>
    <a href="#libraries" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Libraries</a>
    <br>
    <a href="#setup" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Initial set-up</a>
    <br>
    <a href="#1" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        1. Duplicate tables for all other NS ids</a>
    <br>
    <a href="#1-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        1.1. Table 1.</a>
    <br>
    <a href="#1-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        1.2. Table 2.</a>
    <br>
    <a href="#2" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        2. Data cleaning</a>
    <br>
    <a href="#2-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.1. Extracting tables and data cleanup.</a>
    <br>
    <a href="#2-1-1" style="color: #94FFD8; font-size: 14px; margin-left: 40px;">
        2.1.1. Table 1. Extraction and cleaning of data from tables on monthly real GDP growth rates.</a>
    <br>
    <a href="#2-1-2" style="color: #94FFD8; font-size: 14px; margin-left: 40px;">
        2.1.2. Table 2. Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.</a>
    <br>
    <a href="#3" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">3. Real-time data of Peru's GDP growth rates</a>
    <br>
    <a href="#3-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.1. Annual vintages concatenation.</a>
    <br>
    <a href="#3-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.2. Quarterly vintages concatenation.</a>
    <br>
    <a href="#3-3" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.3. Monthly vintages concatenation.</a>
    <br>
    <a href="#4" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">4. GDP final revision dataset</a>
    <br>
    <a href="#4-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.1. Annual revisions.</a>
    <br>
    <a href="#4-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.2. Quarterly revisions.</a>
    <br>
    <a href="#4-3" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.3. Monthly revisions.</a>
    <br>
    <a href="#5" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">5. Uploading data to SQL</a>
    <br>
    <a href="#5-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.1. Vintages.</a>
    <br>
    <a href="#5-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.2. Revisions.</a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Any questions or issues regarding the coding, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"><span style="font-size: 24px;">&#x2709;</span>
    </a>.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    If you don't have the libraries below, please use the following code (as example) to install the required libraries.
    <div/>

In [ ]:
#!pip install os # Comment this code with "#" if you have already installed this library.

<div id="libraries">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'charter'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [1]:
# 1. Duplicate tables for all other NS ids
#-------------------------------------------------------------------------------------------------------------------------------
# 1.1. Table 1

import os
import shutil
import psycopg2
import pandas as pd



# 2. Data cleaning
#-------------------------------------------------------------------------------------------------------------------------------

# 2.2. Extracting tables and data cleanup

import pandas as pd  # For data manipulation and analysis
import unicodedata  # For manipulating Unicode data
import re  # For regular expressions operations
from datetime import datetime  # For working with dates and times
import locale  # For locale-specific formatting of numbers, dates, and currencies
import numpy as np
import unidecode

# 2.2.1. Table 1. Extraction and cleaning of data from tables on monthly real GDP growth rates.

import tabula  # Used to extract tables from PDF files into pandas DataFrames
from tkinter import Tk, messagebox, TOP, YES, NO  # Used for creating graphical user interfaces
from sqlalchemy import create_engine  # Used for connecting to and interacting with SQL databases

# 2.2.2. Table 2. Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.

import roman
from datetime import datetime


# 3. Real-time data of Peru's GDP growth rates
#-------------------------------------------------------------------------------------------------------------------------------

import psycopg2  # For interacting with PostgreSQL databases
from sqlalchemy import create_engine, text  # For creating and executing SQL queries using SQLAlchemy

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="setup">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Initial set-up
    </h2>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Setting the base path. <div/>

In [2]:
# Ask the user for the base path
base_path = input("Please enter your base path to set your main working directory, then press enter: \n")

# Check if the path is valid
if os.path.isdir(base_path):
    print(f"Correctly defined base path.")
    os.chdir(base_path)
else:
    print("The entered path is not valid. Please try again.")

Please enter your base path to set your main working directory, then press enter:
C:\Users\Jason Cruz\OneDrive\Documentos\Research Assistant\CIUP\GDP Revisions\gdp_revisions\old_database
Correctly defined base path.

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    Download the <code>.zip</code> files of <code>table_1</code> and <code>table_2</code> and paste them into <code>raw_data</code> and <code>input_data</code> paths set below. 
    <p>
     Note that the missing data will be filled in <code>input_data</code> in <a href="#1" style="color: rgb(0, 153, 123); font-size: 16px;">Section 1</a>. Then the changes will actually occur in the <code>input_data</code> folder. However, we created <code>raw_data</code> to map the tables as they were delivered by the Central Bank, i.e. the raw data delivered (without any transformation).
       </p>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

In [3]:
# Folder path to save csv files delivered by Central Bank 
raw_data = 'raw_data' # to save raw data (.csv).
if not os.path.exists(raw_data):
    os.mkdir(raw_data) # to create the folder (if it doesn't exist)

In [4]:
# Folder path to save csv files delivered by Central Bank as inputs (duplicated for all NS id) 
input_data = 'input_data' # to save input data (.csv).
if not os.path.exists(input_data):
    os.mkdir(input_data) # to create the folder (if it doesn't exist)

In [5]:
# Folder path to save csv files delivered by Central Bank (Table 1)
table_1_folder = os.path.join(input_data, 'table_1') # to save raw data (.csv).
if not os.path.exists(table_1_folder):
    os.mkdir(table_1_folder) # to create the folder (if it doesn't exist)

In [6]:
# Folder path to save csv files delivered by Central Bank (Table 2)
table_2_folder = os.path.join(input_data, 'table_2') # to save raw data (.csv).
if not os.path.exists(table_2_folder):
    os.mkdir(table_2_folder) # to create the folder (if it doesn't exist)

In [7]:
# Folder path to save dataframes generated record by year

dataframes_record = 'dataframes_record'
if not os.path.exists(dataframes_record):
    os.makedirs(dataframes_record) # to create the folder (if it doesn't exist)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

<p style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following function will establish a connection to the <code>gdp_revisions_datasets</code> database in <code>PostgreSQL</code>. The <b>input data</b> used in this jupyter notebook will be loaded from this <code>PostgreSQL</code> database, and similarly, all <b>output data</b> generated by this jupyter notebook will be stored in that database. Ensure that you set the necessary parameters to access the server once you have obtained the required permissions.<p/>
    
<p style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
To request permissions, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"> <span style="font-size: 24px;">&#x2709;</span>
    </a>.
<p/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    Enter your user credentials to acces to SQL.
    <div/>

In [8]:
def create_sqlalchemy_engine():
    """
    Function to create an SQLAlchemy engine using environment variables.
    
    Returns:
        engine: SQLAlchemy engine object.
    """
    # Get environment variables
    user = os.environ.get('CIUP_SQL_USER')  # Get the SQL user from environment variables
    password = os.environ.get('CIUP_SQL_PASS')  # Get the SQL password from environment variables
    host = os.environ.get('CIUP_SQL_HOST')  # Get the SQL host from environment variables
    port = 5432  # Set the SQL port to 5432
    database = 'gdp_revisions_datasets'  # Set the database name 'gdp_revisions_datasets' from SQL

    # Check if all environment variables are defined
    if not all([host, user, password]):
        raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

    # Create connection string
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

    # Create SQLAlchemy engine
    engine = create_engine(connection_string)
    
    return engine

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Import all other functions required by this jupyter notebook.
    </span>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Please, check the script <code>old_gdp_datasets_functions.py</code> and <code>new_gdp_datasets_functions.py</code> which contains all the functions required by this jupyter notebook. The functions there are ordered according to the <a href="#outilne" style="color: #3d30a2;">sections</a> of this jupyter notebok.<div/>

In [9]:
from old_gdp_datasets_functions import *
from new_gdp_datasets_functions import *

pygame 2.5.2 (SDL 2.28.3, Python 3.12.1)
Hello from the pygame community. https://www.pygame.org/contribute.html

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;; color: dark;">1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Duplicate tables for all other NS ids</span></h1>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
    <p>The Central Bank has provided us with confidential data for Table 1 (1994-2012) and Table 2 (1997-2012). However, in each year we have been provided from the tables where the revisions occurred or, more generally, where the Central Bank has received from INEI the updated information of all NS tables.</p>
    
   <p>So, we will duplicate these tables to complete the total NS per year (50 approximately due to the number of weeks per year).</p>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
The following code imports the data containing the dummies of the tables that were delivered by the Central Bank (1 if the table was delivered and 0 if it was not) from SQL 
    <div/>

In [10]:
# Connect to PostgresSQL
engine = create_sqlalchemy_engine()

# Define SQL query to import data
query = f"SELECT * FROM old_raw_data_delivered"

# Importing data into a pandas DataFrame
df = pd.read_sql(query, engine)

<div id="1-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">1.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Table 1
    </span>
    </h2>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please change your preferred year range
    </span>
</div>

In [ ]:
# Process each year
for year in range(1994, 2013): # Please change your preferred year range (the last year + 1)
    df_year = df[df['year'] == year]
    duplicate_files_table_1(year, df_year, table_1_folder)

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">1.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Table 2
    </span>
    </h2>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please change your preferred year range
    </span>
</div>

In [ ]:
# Process each year
for year in range(2011, 2012): # Please change your preferred year range
    df_year = df[df['year'] == year]
    duplicate_files_table_2(year, df_year, table_2_folder)

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;; color: dark;">2.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Data cleaning</span></h1>

<div id="2-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Extracting tables and data cleanup
    </span>
    </h2>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
<p>     
PENDING
</p>
<div/>

<div id="2-1-1">
   <!-- Contenido de la celda de destino -->
</div>

<h3><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    <span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">Table 1.</span> Extraction and cleaning of data from tables on monthly real GDP growth rates.
    </span>
    </h3>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please check that the flat file <b>"ns_dates.csv"</b> is updated with the dates, years and ids for the newly downloaded PDF <span style="font-size: 24px;">&#128462;</span> (WR). That file is located in the <b>"ns_dates"</b> folder and is uploaded to SQL from the jupyeter notebook <code>aux_files_to_sql.ipynb</code>
    </span>
</div>

In [11]:
# Set the locale to Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Dictionary to store generated DataFrames
old_dataframes_dict_1 = {}

# Path for the processed folders log file
record_path = 'dataframes_record/old_processed_folders_1.txt'

# Function to correct month names
def correct_month_name(month):
    months_mapping = {
        'setiembre': 'septiembre',
        # Add more mappings as needed for other month names
    }
    return months_mapping.get(month, month)

# Function to register processed folder
def register_processed_folder(folder, num_processed_files):
    with open(record_path, 'a') as file:
        file.write(f"{folder}:{num_processed_files}\n")

# Function to check if folder has been processed
def folder_processed(folder):
    if not os.path.exists(record_path):
        return False
    with open(record_path, 'r') as file:
        for line in file:
            if line.startswith(folder):
                return True
    return False

# Function to fetch date from database
def get_date(df, engine):
    id_ns = df['id_ns'].iloc[0]
    year = df['year'].iloc[0]
    query = f"SELECT date FROM dates_growth_rates WHERE id_ns = '{id_ns}' AND year = '{year}';"
    date_result = pd.read_sql(query, engine)
    return date_result.iloc[0, 0] if not date_result.empty else None

def process_csv(csv_path, engine):
    old_tables_dict_1 = {}  # Local dictionary for each CSV
    table_counter = 1

    filename = os.path.basename(csv_path)
    id_ns_year_matches = re.findall(r'ns-(\d+)-(\d{4})', filename)
    if id_ns_year_matches:
        id_ns, year = id_ns_year_matches[0]
    else:
        print("No matches found for id_ns and year in filename:", filename)
        return None, None, None, None # Return None for tables_dict_1 as well

    new_filename = os.path.splitext(os.path.basename(csv_path))[0].replace('-', '_')

    df = pd.read_csv(csv_path, delimiter=';')
    
    dataframe_name = f"{new_filename}_{table_counter}"
    old_tables_dict_1[dataframe_name] = df.copy()

    # Apply cleanup functions to a copy of the DataFrame
    df_clean = df.copy()

    # Conditional cleaning based on the first column
    if df_clean.columns[1] == 'economic_sectors':
        df_clean = drop_nan_rows(df_clean)
        df_clean = drop_nan_columns(df_clean)
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_mineria(df_clean)
        df_clean = replace_mining(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)
    else:
        # Cleaning functions (set as required)
        df_clean = clean_column_names(df_clean)
        df_clean = adjust_column_names(df_clean)
        df_clean = drop_rare_caracter_row(df_clean)
        df_clean = drop_nan_rows(df_clean)
        df_clean = drop_nan_columns(df_clean)
        df_clean = reset_index(df_clean)
        df_clean = remove_digit_slash(df_clean)
        df_clean = replace_var_perc_first_column(df_clean)
        df_clean = replace_var_perc_last_columns(df_clean)
        df_clean = replace_number_moving_average(df_clean)
        df_clean = relocate_last_column(df_clean)
        df_clean = clean_first_row(df_clean)
        df_clean = find_year_column(df_clean)
        year_columns = extract_years(df_clean)
        df_clean = get_months_sublist_list(df_clean, year_columns)
        df_clean = first_row_columns(df_clean)
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_mineria(df_clean)
        df_clean = replace_mining(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)

    # Add the column 'year' to the clean DataFrame
    df_clean.insert(0, 'year', year)
    
    # Add the column 'id_ns' to the clean DataFrame
    df_clean.insert(1, 'id_ns', id_ns)
    
    # Get corresponding date from database
    date = get_date(df_clean, engine)
    if date:
        # Add 'date' column to cleaned DataFrame
        df_clean.insert(2, 'date', date)
    else:
        print("Date not found in database for id_ns:", id_ns, "and year:", year)

    # Store cleaned DataFrame in old_dataframes_dict_1
    old_dataframes_dict_1[dataframe_name] = df_clean

    return id_ns, year, old_tables_dict_1

# Function to process folder
def process_folder(folder, engine):
    print(f"Processing folder {os.path.basename(folder)}")
    csv_files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.csv')]

    num_csv_processed = 0
    num_dataframes_generated = 0

    table_counter = 1  # Initialize table counter here
    old_tables_dict_1 = {}  # Declare old_tables_dict_1 outside main loop
    
    for csv_file in csv_files:
        id_ns, year, tables_dict_temp = process_csv(csv_file, engine)

        if tables_dict_temp:
            for dataframe_name, df in tables_dict_temp.items():
                file_name = os.path.splitext(os.path.basename(csv_file))[0].replace('-', '_')
                dataframe_name = f"{file_name}_{table_counter}"
                
                # Store raw DataFrame in old_tables_dict_1
                old_tables_dict_1[dataframe_name] = df.copy()
                
                # Apply cleanup functions to a copy of the DataFrame
                df_clean = df.copy()

                # Conditional cleaning based on the first column
                if df_clean.columns[1] == 'economic_sectors':
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = drop_nan_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                else:
                    # Cleaning functions (set as required)
                    df_clean = clean_column_names(df_clean)
                    df_clean = adjust_column_names(df_clean)
                    df_clean = drop_rare_caracter_row(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = drop_nan_columns(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = remove_digit_slash(df_clean)
                    df_clean = replace_var_perc_first_column(df_clean)
                    df_clean = replace_var_perc_last_columns(df_clean)
                    df_clean = replace_number_moving_average(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = find_year_column(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = get_months_sublist_list(df_clean, year_columns)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)

                # Add the column 'year' to the clean DataFrame
                df_clean.insert(0, 'year', year)

                # Add the column 'id_ns' to the clean DataFrame
                df_clean.insert(1, 'id_ns', id_ns)

                # Get corresponding date from database
                date = get_date(df_clean, engine)
                if date:
                    # Add 'date' column to cleaned DataFrame
                    df_clean.insert(2, 'date', date)
                else:
                    print("Date not found in database for id_ns:", id_ns, "and year:", year)

                # Store cleaned DataFrame in old_dataframes_dict_1
                old_dataframes_dict_1[dataframe_name] = df_clean

                print(f'  {table_counter}. The dataframe generated for the {csv_file} file is: {dataframe_name}')
                num_dataframes_generated += 1
                table_counter = 1  # Increment table counter here
        
        num_csv_processed += 1  # Increment number of processed CSV for each CSV in folder

    return num_csv_processed, num_dataframes_generated, old_tables_dict_1

def process_folders():
    csv_folder = table_1_folder
    folders = [os.path.join(csv_folder, d) for d in os.listdir(csv_folder) if os.path.isdir(os.path.join(csv_folder, d)) and re.match(r'\d{4}', d)]
    
    old_tables_dict_1 = {}  # Initialize old_tables_dict_1 here
    
    for folder in folders:
        if folder_processed(folder):
            print(f"Folder {folder} has already been processed.")
            continue
        
        num_csv_processed, num_dataframes_generated, tables_dict_temp = process_folder(folder, engine)
        
        # Update old_tables_dict_1 with values returned from process_folder()
        old_tables_dict_1.update(tables_dict_temp)
        
        register_processed_folder(folder, num_csv_processed)

        # Ask user if they want to continue with next folder
        root = Tk()
        root.withdraw()
        root.attributes('-topmost', True)  # Ensure the messagebox is in front
        message = f"Process {folder} complete. Processed {num_csv_processed} CSV(s) and generated {num_dataframes_generated} DataFrame(s). Continue with next folder?"
        if not messagebox.askyesno("Continue?", message):
            break
            
    print("Processing completed for all folders.")  # Add a message to indicate completion
    
    return old_tables_dict_1

if __name__ == "__main__":
    engine = create_sqlalchemy_engine()
    old_tables_dict_1 = process_folders()

Processing folder 1994
  1. The dataframe generated for the input_data\table_1\1994\ns-01-1994.csv file is: ns_01_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-02-1994.csv file is: ns_02_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-03-1994.csv file is: ns_03_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-04-1994.csv file is: ns_04_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-05-1994.csv file is: ns_05_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-06-1994.csv file is: ns_06_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-07-1994.csv file is: ns_07_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-08-1994.csv file is: ns_08_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-09-1994.csv file is: ns_09_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-10-1994.csv file is: ns_10_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-11-1994.csv file is: ns_11_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-12-1994.csv file is: ns_12_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-13-1994.csv file is: ns_13_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-14-1994.csv file is: ns_14_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-15-1994.csv file is: ns_15_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-16-1994.csv file is: ns_16_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-17-1994.csv file is: ns_17_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-18-1994.csv file is: ns_18_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-19-1994.csv file is: ns_19_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-20-1994.csv file is: ns_20_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-21-1994.csv file is: ns_21_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-22-1994.csv file is: ns_22_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-23-1994.csv file is: ns_23_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-24-1994.csv file is: ns_24_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-25-1994.csv file is: ns_25_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-26-1994.csv file is: ns_26_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-27-1994.csv file is: ns_27_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-28-1994.csv file is: ns_28_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-29-1994.csv file is: ns_29_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-30-1994.csv file is: ns_30_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-31-1994.csv file is: ns_31_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-32-1994.csv file is: ns_32_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-33-1994.csv file is: ns_33_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-34-1994.csv file is: ns_34_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-35-1994.csv file is: ns_35_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-36-1994.csv file is: ns_36_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-37-1994.csv file is: ns_37_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-38-1994.csv file is: ns_38_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-39-1994.csv file is: ns_39_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-40-1994.csv file is: ns_40_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-41-1994.csv file is: ns_41_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-42-1994.csv file is: ns_42_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-43-1994.csv file is: ns_43_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-44-1994.csv file is: ns_44_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-45-1994.csv file is: ns_45_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-46-1994.csv file is: ns_46_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-47-1994.csv file is: ns_47_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-48-1994.csv file is: ns_48_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-49-1994.csv file is: ns_49_1994_1
Processing folder 1995
  1. The dataframe generated for the input_data\table_1\1995\ns-01-1995.csv file is: ns_01_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-02-1995.csv file is: ns_02_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-03-1995.csv file is: ns_03_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-04-1995.csv file is: ns_04_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-05-1995.csv file is: ns_05_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-06-1995.csv file is: ns_06_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-07-1995.csv file is: ns_07_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-08-1995.csv file is: ns_08_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-09-1995.csv file is: ns_09_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-10-1995.csv file is: ns_10_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-11-1995.csv file is: ns_11_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-12-1995.csv file is: ns_12_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-13-1995.csv file is: ns_13_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-14-1995.csv file is: ns_14_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-15-1995.csv file is: ns_15_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-16-1995.csv file is: ns_16_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-17-1995.csv file is: ns_17_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-18-1995.csv file is: ns_18_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-19-1995.csv file is: ns_19_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-20-1995.csv file is: ns_20_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-21-1995.csv file is: ns_21_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-22-1995.csv file is: ns_22_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-23-1995.csv file is: ns_23_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-24-1995.csv file is: ns_24_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-25-1995.csv file is: ns_25_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-26-1995.csv file is: ns_26_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-27-1995.csv file is: ns_27_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-28-1995.csv file is: ns_28_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-29-1995.csv file is: ns_29_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-30-1995.csv file is: ns_30_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-31-1995.csv file is: ns_31_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-32-1995.csv file is: ns_32_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-33-1995.csv file is: ns_33_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-34-1995.csv file is: ns_34_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-35-1995.csv file is: ns_35_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-36-1995.csv file is: ns_36_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-37-1995.csv file is: ns_37_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-38-1995.csv file is: ns_38_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-39-1995.csv file is: ns_39_1995_1

  1. The dataframe generated for the input_data\table_1\1995\ns-40-1995.csv file is: ns_40_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-41-1995.csv file is: ns_41_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-42-1995.csv file is: ns_42_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-43-1995.csv file is: ns_43_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-44-1995.csv file is: ns_44_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-45-1995.csv file is: ns_45_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-46-1995.csv file is: ns_46_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-47-1995.csv file is: ns_47_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-48-1995.csv file is: ns_48_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-49-1995.csv file is: ns_49_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-50-1995.csv file is: ns_50_1995_1
  1. The dataframe generated for the input_data\table_1\1995\ns-51-1995.csv file is: ns_51_1995_1
Processing folder 1996
  1. The dataframe generated for the input_data\table_1\1996\ns-01-1996.csv file is: ns_01_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-02-1996.csv file is: ns_02_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-03-1996.csv file is: ns_03_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-04-1996.csv file is: ns_04_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-05-1996.csv file is: ns_05_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-06-1996.csv file is: ns_06_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-07-1996.csv file is: ns_07_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-08-1996.csv file is: ns_08_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-09-1996.csv file is: ns_09_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-10-1996.csv file is: ns_10_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-11-1996.csv file is: ns_11_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-12-1996.csv file is: ns_12_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-13-1996.csv file is: ns_13_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-14-1996.csv file is: ns_14_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-15-1996.csv file is: ns_15_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-16-1996.csv file is: ns_16_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-17-1996.csv file is: ns_17_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-18-1996.csv file is: ns_18_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-19-1996.csv file is: ns_19_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-20-1996.csv file is: ns_20_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-21-1996.csv file is: ns_21_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-22-1996.csv file is: ns_22_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-23-1996.csv file is: ns_23_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-24-1996.csv file is: ns_24_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-25-1996.csv file is: ns_25_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-26-1996.csv file is: ns_26_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-27-1996.csv file is: ns_27_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-28-1996.csv file is: ns_28_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-29-1996.csv file is: ns_29_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-30-1996.csv file is: ns_30_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-31-1996.csv file is: ns_31_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-32-1996.csv file is: ns_32_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-33-1996.csv file is: ns_33_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-34-1996.csv file is: ns_34_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-35-1996.csv file is: ns_35_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-36-1996.csv file is: ns_36_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-37-1996.csv file is: ns_37_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-38-1996.csv file is: ns_38_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-39-1996.csv file is: ns_39_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-40-1996.csv file is: ns_40_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-41-1996.csv file is: ns_41_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-42-1996.csv file is: ns_42_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-43-1996.csv file is: ns_43_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-44-1996.csv file is: ns_44_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-45-1996.csv file is: ns_45_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-46-1996.csv file is: ns_46_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-47-1996.csv file is: ns_47_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-48-1996.csv file is: ns_48_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-49-1996.csv file is: ns_49_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-50-1996.csv file is: ns_50_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-51-1996.csv file is: ns_51_1996_1
  1. The dataframe generated for the input_data\table_1\1996\ns-52-1996.csv file is: ns_52_1996_1
Processing folder 1997
  1. The dataframe generated for the input_data\table_1\1997\ns-01-1997.csv file is: ns_01_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-02-1997.csv file is: ns_02_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-03-1997.csv file is: ns_03_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-04-1997.csv file is: ns_04_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-05-1997.csv file is: ns_05_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-06-1997.csv file is: ns_06_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-07-1997.csv file is: ns_07_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-08-1997.csv file is: ns_08_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-09-1997.csv file is: ns_09_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-10-1997.csv file is: ns_10_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-11-1997.csv file is: ns_11_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-12-1997.csv file is: ns_12_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-13-1997.csv file is: ns_13_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-14-1997.csv file is: ns_14_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-15-1997.csv file is: ns_15_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-16-1997.csv file is: ns_16_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-17-1997.csv file is: ns_17_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-18-1997.csv file is: ns_18_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-19-1997.csv file is: ns_19_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-20-1997.csv file is: ns_20_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-21-1997.csv file is: ns_21_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-22-1997.csv file is: ns_22_1997_1

  1. The dataframe generated for the input_data\table_1\1997\ns-23-1997.csv file is: ns_23_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-24-1997.csv file is: ns_24_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-25-1997.csv file is: ns_25_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-26-1997.csv file is: ns_26_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-27-1997.csv file is: ns_27_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-28-1997.csv file is: ns_28_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-29-1997.csv file is: ns_29_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-30-1997.csv file is: ns_30_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-31-1997.csv file is: ns_31_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-32-1997.csv file is: ns_32_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-33-1997.csv file is: ns_33_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-34-1997.csv file is: ns_34_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-35-1997.csv file is: ns_35_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-36-1997.csv file is: ns_36_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-37-1997.csv file is: ns_37_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-38-1997.csv file is: ns_38_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-39-1997.csv file is: ns_39_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-40-1997.csv file is: ns_40_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-41-1997.csv file is: ns_41_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-42-1997.csv file is: ns_42_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-43-1997.csv file is: ns_43_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-44-1997.csv file is: ns_44_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-45-1997.csv file is: ns_45_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-46-1997.csv file is: ns_46_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-47-1997.csv file is: ns_47_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-48-1997.csv file is: ns_48_1997_1
  1. The dataframe generated for the input_data\table_1\1997\ns-49-1997.csv file is: ns_49_1997_1
Processing folder 1998
  1. The dataframe generated for the input_data\table_1\1998\ns-01-1998.csv file is: ns_01_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-02-1998.csv file is: ns_02_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-03-1998.csv file is: ns_03_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-04-1998.csv file is: ns_04_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-05-1998.csv file is: ns_05_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-06-1998.csv file is: ns_06_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-07-1998.csv file is: ns_07_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-08-1998.csv file is: ns_08_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-09-1998.csv file is: ns_09_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-10-1998.csv file is: ns_10_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-11-1998.csv file is: ns_11_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-12-1998.csv file is: ns_12_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-13-1998.csv file is: ns_13_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-14-1998.csv file is: ns_14_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-15-1998.csv file is: ns_15_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-16-1998.csv file is: ns_16_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-17-1998.csv file is: ns_17_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-18-1998.csv file is: ns_18_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-19-1998.csv file is: ns_19_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-20-1998.csv file is: ns_20_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-21-1998.csv file is: ns_21_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-22-1998.csv file is: ns_22_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-23-1998.csv file is: ns_23_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-24-1998.csv file is: ns_24_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-25-1998.csv file is: ns_25_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-26-1998.csv file is: ns_26_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-27-1998.csv file is: ns_27_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-28-1998.csv file is: ns_28_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-29-1998.csv file is: ns_29_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-30-1998.csv file is: ns_30_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-31-1998.csv file is: ns_31_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-32-1998.csv file is: ns_32_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-33-1998.csv file is: ns_33_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-34-1998.csv file is: ns_34_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-35-1998.csv file is: ns_35_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-36-1998.csv file is: ns_36_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-37-1998.csv file is: ns_37_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-38-1998.csv file is: ns_38_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-39-1998.csv file is: ns_39_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-40-1998.csv file is: ns_40_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-41-1998.csv file is: ns_41_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-42-1998.csv file is: ns_42_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-43-1998.csv file is: ns_43_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-44-1998.csv file is: ns_44_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-45-1998.csv file is: ns_45_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-46-1998.csv file is: ns_46_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-47-1998.csv file is: ns_47_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-48-1998.csv file is: ns_48_1998_1
  1. The dataframe generated for the input_data\table_1\1998\ns-49-1998.csv file is: ns_49_1998_1
Processing folder 1999
  1. The dataframe generated for the input_data\table_1\1999\ns-01-1999.csv file is: ns_01_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-02-1999.csv file is: ns_02_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-03-1999.csv file is: ns_03_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-04-1999.csv file is: ns_04_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-05-1999.csv file is: ns_05_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-06-1999.csv file is: ns_06_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-07-1999.csv file is: ns_07_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-08-1999.csv file is: ns_08_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-09-1999.csv file is: ns_09_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-10-1999.csv file is: ns_10_1999_1

  1. The dataframe generated for the input_data\table_1\1999\ns-11-1999.csv file is: ns_11_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-12-1999.csv file is: ns_12_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-13-1999.csv file is: ns_13_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-14-1999.csv file is: ns_14_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-15-1999.csv file is: ns_15_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-16-1999.csv file is: ns_16_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-17-1999.csv file is: ns_17_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-18-1999.csv file is: ns_18_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-19-1999.csv file is: ns_19_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-20-1999.csv file is: ns_20_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-21-1999.csv file is: ns_21_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-22-1999.csv file is: ns_22_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-23-1999.csv file is: ns_23_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-24-1999.csv file is: ns_24_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-25-1999.csv file is: ns_25_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-26-1999.csv file is: ns_26_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-27-1999.csv file is: ns_27_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-28-1999.csv file is: ns_28_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-29-1999.csv file is: ns_29_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-30-1999.csv file is: ns_30_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-31-1999.csv file is: ns_31_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-32-1999.csv file is: ns_32_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-33-1999.csv file is: ns_33_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-34-1999.csv file is: ns_34_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-35-1999.csv file is: ns_35_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-36-1999.csv file is: ns_36_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-37-1999.csv file is: ns_37_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-38-1999.csv file is: ns_38_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-39-1999.csv file is: ns_39_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-40-1999.csv file is: ns_40_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-41-1999.csv file is: ns_41_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-42-1999.csv file is: ns_42_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-43-1999.csv file is: ns_43_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-44-1999.csv file is: ns_44_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-45-1999.csv file is: ns_45_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-46-1999.csv file is: ns_46_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-47-1999.csv file is: ns_47_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-48-1999.csv file is: ns_48_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-49-1999.csv file is: ns_49_1999_1
  1. The dataframe generated for the input_data\table_1\1999\ns-50-1999.csv file is: ns_50_1999_1
Processing folder 2000
  1. The dataframe generated for the input_data\table_1\2000\ns-01-2000.csv file is: ns_01_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-02-2000.csv file is: ns_02_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-03-2000.csv file is: ns_03_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-04-2000.csv file is: ns_04_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-05-2000.csv file is: ns_05_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-06-2000.csv file is: ns_06_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-07-2000.csv file is: ns_07_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-08-2000.csv file is: ns_08_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-09-2000.csv file is: ns_09_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-10-2000.csv file is: ns_10_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-11-2000.csv file is: ns_11_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-12-2000.csv file is: ns_12_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-13-2000.csv file is: ns_13_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-14-2000.csv file is: ns_14_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-15-2000.csv file is: ns_15_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-16-2000.csv file is: ns_16_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-17-2000.csv file is: ns_17_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-18-2000.csv file is: ns_18_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-19-2000.csv file is: ns_19_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-20-2000.csv file is: ns_20_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-21-2000.csv file is: ns_21_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-22-2000.csv file is: ns_22_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-23-2000.csv file is: ns_23_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-24-2000.csv file is: ns_24_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-25-2000.csv file is: ns_25_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-26-2000.csv file is: ns_26_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-27-2000.csv file is: ns_27_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-28-2000.csv file is: ns_28_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-29-2000.csv file is: ns_29_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-30-2000.csv file is: ns_30_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-31-2000.csv file is: ns_31_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-32-2000.csv file is: ns_32_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-33-2000.csv file is: ns_33_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-34-2000.csv file is: ns_34_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-35-2000.csv file is: ns_35_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-36-2000.csv file is: ns_36_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-37-2000.csv file is: ns_37_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-38-2000.csv file is: ns_38_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-39-2000.csv file is: ns_39_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-40-2000.csv file is: ns_40_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-41-2000.csv file is: ns_41_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-42-2000.csv file is: ns_42_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-43-2000.csv file is: ns_43_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-44-2000.csv file is: ns_44_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-45-2000.csv file is: ns_45_2000_1

  1. The dataframe generated for the input_data\table_1\2000\ns-46-2000.csv file is: ns_46_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-47-2000.csv file is: ns_47_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-48-2000.csv file is: ns_48_2000_1
  1. The dataframe generated for the input_data\table_1\2000\ns-49-2000.csv file is: ns_49_2000_1
Processing folder 2001
  1. The dataframe generated for the input_data\table_1\2001\ns-01-2001.csv file is: ns_01_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-02-2001.csv file is: ns_02_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-03-2001.csv file is: ns_03_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-04-2001.csv file is: ns_04_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-05-2001.csv file is: ns_05_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-06-2001.csv file is: ns_06_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-07-2001.csv file is: ns_07_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-08-2001.csv file is: ns_08_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-09-2001.csv file is: ns_09_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-10-2001.csv file is: ns_10_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-11-2001.csv file is: ns_11_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-12-2001.csv file is: ns_12_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-13-2001.csv file is: ns_13_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-14-2001.csv file is: ns_14_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-15-2001.csv file is: ns_15_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-16-2001.csv file is: ns_16_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-17-2001.csv file is: ns_17_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-18-2001.csv file is: ns_18_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-19-2001.csv file is: ns_19_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-20-2001.csv file is: ns_20_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-21-2001.csv file is: ns_21_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-22-2001.csv file is: ns_22_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-23-2001.csv file is: ns_23_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-24-2001.csv file is: ns_24_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-25-2001.csv file is: ns_25_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-26-2001.csv file is: ns_26_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-27-2001.csv file is: ns_27_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-28-2001.csv file is: ns_28_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-29-2001.csv file is: ns_29_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-30-2001.csv file is: ns_30_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-31-2001.csv file is: ns_31_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-32-2001.csv file is: ns_32_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-33-2001.csv file is: ns_33_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-34-2001.csv file is: ns_34_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-35-2001.csv file is: ns_35_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-36-2001.csv file is: ns_36_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-37-2001.csv file is: ns_37_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-38-2001.csv file is: ns_38_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-39-2001.csv file is: ns_39_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-40-2001.csv file is: ns_40_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-41-2001.csv file is: ns_41_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-42-2001.csv file is: ns_42_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-43-2001.csv file is: ns_43_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-44-2001.csv file is: ns_44_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-45-2001.csv file is: ns_45_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-46-2001.csv file is: ns_46_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-47-2001.csv file is: ns_47_2001_1
  1. The dataframe generated for the input_data\table_1\2001\ns-48-2001.csv file is: ns_48_2001_1
Processing folder 2002
  1. The dataframe generated for the input_data\table_1\2002\ns-01-2002.csv file is: ns_01_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-02-2002.csv file is: ns_02_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-03-2002.csv file is: ns_03_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-04-2002.csv file is: ns_04_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-05-2002.csv file is: ns_05_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-06-2002.csv file is: ns_06_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-07-2002.csv file is: ns_07_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-08-2002.csv file is: ns_08_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-09-2002.csv file is: ns_09_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-10-2002.csv file is: ns_10_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-11-2002.csv file is: ns_11_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-12-2002.csv file is: ns_12_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-13-2002.csv file is: ns_13_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-14-2002.csv file is: ns_14_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-15-2002.csv file is: ns_15_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-16-2002.csv file is: ns_16_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-17-2002.csv file is: ns_17_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-18-2002.csv file is: ns_18_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-19-2002.csv file is: ns_19_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-20-2002.csv file is: ns_20_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-21-2002.csv file is: ns_21_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-22-2002.csv file is: ns_22_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-23-2002.csv file is: ns_23_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-24-2002.csv file is: ns_24_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-25-2002.csv file is: ns_25_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-26-2002.csv file is: ns_26_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-27-2002.csv file is: ns_27_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-28-2002.csv file is: ns_28_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-29-2002.csv file is: ns_29_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-30-2002.csv file is: ns_30_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-31-2002.csv file is: ns_31_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-32-2002.csv file is: ns_32_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-33-2002.csv file is: ns_33_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-34-2002.csv file is: ns_34_2002_1

  1. The dataframe generated for the input_data\table_1\2002\ns-35-2002.csv file is: ns_35_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-36-2002.csv file is: ns_36_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-37-2002.csv file is: ns_37_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-38-2002.csv file is: ns_38_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-39-2002.csv file is: ns_39_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-40-2002.csv file is: ns_40_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-41-2002.csv file is: ns_41_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-42-2002.csv file is: ns_42_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-43-2002.csv file is: ns_43_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-44-2002.csv file is: ns_44_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-45-2002.csv file is: ns_45_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-46-2002.csv file is: ns_46_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-47-2002.csv file is: ns_47_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-48-2002.csv file is: ns_48_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-49-2002.csv file is: ns_49_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-50-2002.csv file is: ns_50_2002_1
  1. The dataframe generated for the input_data\table_1\2002\ns-51-2002.csv file is: ns_51_2002_1
Processing folder 2003
  1. The dataframe generated for the input_data\table_1\2003\ns-01-2003.csv file is: ns_01_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-02-2003.csv file is: ns_02_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-03-2003.csv file is: ns_03_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-04-2003.csv file is: ns_04_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-05-2003.csv file is: ns_05_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-06-2003.csv file is: ns_06_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-07-2003.csv file is: ns_07_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-08-2003.csv file is: ns_08_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-09-2003.csv file is: ns_09_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-10-2003.csv file is: ns_10_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-11-2003.csv file is: ns_11_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-12-2003.csv file is: ns_12_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-13-2003.csv file is: ns_13_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-14-2003.csv file is: ns_14_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-15-2003.csv file is: ns_15_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-16-2003.csv file is: ns_16_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-17-2003.csv file is: ns_17_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-18-2003.csv file is: ns_18_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-19-2003.csv file is: ns_19_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-20-2003.csv file is: ns_20_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-21-2003.csv file is: ns_21_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-22-2003.csv file is: ns_22_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-23-2003.csv file is: ns_23_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-24-2003.csv file is: ns_24_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-25-2003.csv file is: ns_25_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-26-2003.csv file is: ns_26_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-27-2003.csv file is: ns_27_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-28-2003.csv file is: ns_28_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-29-2003.csv file is: ns_29_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-30-2003.csv file is: ns_30_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-31-2003.csv file is: ns_31_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-32-2003.csv file is: ns_32_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-33-2003.csv file is: ns_33_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-34-2003.csv file is: ns_34_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-35-2003.csv file is: ns_35_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-36-2003.csv file is: ns_36_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-37-2003.csv file is: ns_37_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-38-2003.csv file is: ns_38_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-39-2003.csv file is: ns_39_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-40-2003.csv file is: ns_40_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-41-2003.csv file is: ns_41_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-42-2003.csv file is: ns_42_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-43-2003.csv file is: ns_43_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-44-2003.csv file is: ns_44_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-45-2003.csv file is: ns_45_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-46-2003.csv file is: ns_46_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-47-2003.csv file is: ns_47_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-48-2003.csv file is: ns_48_2003_1
  1. The dataframe generated for the input_data\table_1\2003\ns-49-2003.csv file is: ns_49_2003_1
Processing folder 2004
  1. The dataframe generated for the input_data\table_1\2004\ns-01-2004.csv file is: ns_01_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-02-2004.csv file is: ns_02_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-03-2004.csv file is: ns_03_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-04-2004.csv file is: ns_04_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-05-2004.csv file is: ns_05_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-06-2004.csv file is: ns_06_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-07-2004.csv file is: ns_07_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-08-2004.csv file is: ns_08_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-09-2004.csv file is: ns_09_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-10-2004.csv file is: ns_10_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-11-2004.csv file is: ns_11_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-12-2004.csv file is: ns_12_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-13-2004.csv file is: ns_13_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-14-2004.csv file is: ns_14_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-15-2004.csv file is: ns_15_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-16-2004.csv file is: ns_16_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-17-2004.csv file is: ns_17_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-18-2004.csv file is: ns_18_2004_1

  1. The dataframe generated for the input_data\table_1\2004\ns-19-2004.csv file is: ns_19_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-20-2004.csv file is: ns_20_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-21-2004.csv file is: ns_21_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-22-2004.csv file is: ns_22_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-23-2004.csv file is: ns_23_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-24-2004.csv file is: ns_24_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-25-2004.csv file is: ns_25_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-26-2004.csv file is: ns_26_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-27-2004.csv file is: ns_27_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-28-2004.csv file is: ns_28_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-29-2004.csv file is: ns_29_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-30-2004.csv file is: ns_30_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-31-2004.csv file is: ns_31_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-32-2004.csv file is: ns_32_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-33-2004.csv file is: ns_33_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-34-2004.csv file is: ns_34_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-35-2004.csv file is: ns_35_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-36-2004.csv file is: ns_36_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-37-2004.csv file is: ns_37_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-38-2004.csv file is: ns_38_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-39-2004.csv file is: ns_39_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-40-2004.csv file is: ns_40_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-41-2004.csv file is: ns_41_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-42-2004.csv file is: ns_42_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-43-2004.csv file is: ns_43_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-44-2004.csv file is: ns_44_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-45-2004.csv file is: ns_45_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-46-2004.csv file is: ns_46_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-47-2004.csv file is: ns_47_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-48-2004.csv file is: ns_48_2004_1
  1. The dataframe generated for the input_data\table_1\2004\ns-49-2004.csv file is: ns_49_2004_1
Processing folder 2005
  1. The dataframe generated for the input_data\table_1\2005\ns-01-2005.csv file is: ns_01_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-02-2005.csv file is: ns_02_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-03-2005.csv file is: ns_03_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-04-2005.csv file is: ns_04_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-05-2005.csv file is: ns_05_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-06-2005.csv file is: ns_06_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-07-2005.csv file is: ns_07_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-08-2005.csv file is: ns_08_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-09-2005.csv file is: ns_09_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-10-2005.csv file is: ns_10_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-11-2005.csv file is: ns_11_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-12-2005.csv file is: ns_12_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-13-2005.csv file is: ns_13_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-14-2005.csv file is: ns_14_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-15-2005.csv file is: ns_15_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-16-2005.csv file is: ns_16_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-17-2005.csv file is: ns_17_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-18-2005.csv file is: ns_18_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-19-2005.csv file is: ns_19_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-20-2005.csv file is: ns_20_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-21-2005.csv file is: ns_21_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-22-2005.csv file is: ns_22_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-23-2005.csv file is: ns_23_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-24-2005.csv file is: ns_24_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-25-2005.csv file is: ns_25_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-26-2005.csv file is: ns_26_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-27-2005.csv file is: ns_27_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-28-2005.csv file is: ns_28_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-29-2005.csv file is: ns_29_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-30-2005.csv file is: ns_30_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-31-2005.csv file is: ns_31_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-32-2005.csv file is: ns_32_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-33-2005.csv file is: ns_33_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-34-2005.csv file is: ns_34_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-35-2005.csv file is: ns_35_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-36-2005.csv file is: ns_36_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-37-2005.csv file is: ns_37_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-38-2005.csv file is: ns_38_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-39-2005.csv file is: ns_39_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-40-2005.csv file is: ns_40_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-41-2005.csv file is: ns_41_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-42-2005.csv file is: ns_42_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-43-2005.csv file is: ns_43_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-44-2005.csv file is: ns_44_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-45-2005.csv file is: ns_45_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-46-2005.csv file is: ns_46_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-47-2005.csv file is: ns_47_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-48-2005.csv file is: ns_48_2005_1
  1. The dataframe generated for the input_data\table_1\2005\ns-49-2005.csv file is: ns_49_2005_1
Processing folder 2006
  1. The dataframe generated for the input_data\table_1\2006\ns-01-2006.csv file is: ns_01_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-02-2006.csv file is: ns_02_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-03-2006.csv file is: ns_03_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-04-2006.csv file is: ns_04_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-05-2006.csv file is: ns_05_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-06-2006.csv file is: ns_06_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-07-2006.csv file is: ns_07_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-08-2006.csv file is: ns_08_2006_1

  1. The dataframe generated for the input_data\table_1\2006\ns-09-2006.csv file is: ns_09_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-10-2006.csv file is: ns_10_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-11-2006.csv file is: ns_11_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-12-2006.csv file is: ns_12_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-13-2006.csv file is: ns_13_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-14-2006.csv file is: ns_14_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-15-2006.csv file is: ns_15_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-16-2006.csv file is: ns_16_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-17-2006.csv file is: ns_17_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-18-2006.csv file is: ns_18_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-19-2006.csv file is: ns_19_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-20-2006.csv file is: ns_20_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-21-2006.csv file is: ns_21_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-22-2006.csv file is: ns_22_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-23-2006.csv file is: ns_23_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-24-2006.csv file is: ns_24_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-25-2006.csv file is: ns_25_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-26-2006.csv file is: ns_26_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-27-2006.csv file is: ns_27_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-28-2006.csv file is: ns_28_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-29-2006.csv file is: ns_29_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-30-2006.csv file is: ns_30_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-31-2006.csv file is: ns_31_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-32-2006.csv file is: ns_32_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-33-2006.csv file is: ns_33_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-34-2006.csv file is: ns_34_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-35-2006.csv file is: ns_35_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-36-2006.csv file is: ns_36_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-37-2006.csv file is: ns_37_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-38-2006.csv file is: ns_38_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-39-2006.csv file is: ns_39_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-40-2006.csv file is: ns_40_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-41-2006.csv file is: ns_41_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-42-2006.csv file is: ns_42_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-43-2006.csv file is: ns_43_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-44-2006.csv file is: ns_44_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-45-2006.csv file is: ns_45_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-46-2006.csv file is: ns_46_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-47-2006.csv file is: ns_47_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-48-2006.csv file is: ns_48_2006_1
  1. The dataframe generated for the input_data\table_1\2006\ns-49-2006.csv file is: ns_49_2006_1
Processing folder 2007
  1. The dataframe generated for the input_data\table_1\2007\ns-01-2007.csv file is: ns_01_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-02-2007.csv file is: ns_02_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-03-2007.csv file is: ns_03_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-04-2007.csv file is: ns_04_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-05-2007.csv file is: ns_05_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-06-2007.csv file is: ns_06_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-07-2007.csv file is: ns_07_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-08-2007.csv file is: ns_08_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-09-2007.csv file is: ns_09_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-10-2007.csv file is: ns_10_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-11-2007.csv file is: ns_11_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-12-2007.csv file is: ns_12_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-13-2007.csv file is: ns_13_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-14-2007.csv file is: ns_14_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-15-2007.csv file is: ns_15_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-16-2007.csv file is: ns_16_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-17-2007.csv file is: ns_17_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-18-2007.csv file is: ns_18_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-19-2007.csv file is: ns_19_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-20-2007.csv file is: ns_20_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-21-2007.csv file is: ns_21_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-22-2007.csv file is: ns_22_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-23-2007.csv file is: ns_23_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-24-2007.csv file is: ns_24_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-25-2007.csv file is: ns_25_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-26-2007.csv file is: ns_26_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-27-2007.csv file is: ns_27_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-28-2007.csv file is: ns_28_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-29-2007.csv file is: ns_29_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-30-2007.csv file is: ns_30_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-31-2007.csv file is: ns_31_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-32-2007.csv file is: ns_32_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-33-2007.csv file is: ns_33_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-34-2007.csv file is: ns_34_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-35-2007.csv file is: ns_35_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-36-2007.csv file is: ns_36_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-37-2007.csv file is: ns_37_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-38-2007.csv file is: ns_38_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-39-2007.csv file is: ns_39_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-40-2007.csv file is: ns_40_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-41-2007.csv file is: ns_41_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-42-2007.csv file is: ns_42_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-43-2007.csv file is: ns_43_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-44-2007.csv file is: ns_44_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-45-2007.csv file is: ns_45_2007_1

  1. The dataframe generated for the input_data\table_1\2007\ns-46-2007.csv file is: ns_46_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-47-2007.csv file is: ns_47_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-48-2007.csv file is: ns_48_2007_1
  1. The dataframe generated for the input_data\table_1\2007\ns-49-2007.csv file is: ns_49_2007_1
Processing folder 2008
  1. The dataframe generated for the input_data\table_1\2008\ns-01-2008.csv file is: ns_01_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-02-2008.csv file is: ns_02_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-03-2008.csv file is: ns_03_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-04-2008.csv file is: ns_04_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-05-2008.csv file is: ns_05_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-06-2008.csv file is: ns_06_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-07-2008.csv file is: ns_07_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-08-2008.csv file is: ns_08_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-09-2008.csv file is: ns_09_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-10-2008.csv file is: ns_10_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-11-2008.csv file is: ns_11_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-12-2008.csv file is: ns_12_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-13-2008.csv file is: ns_13_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-14-2008.csv file is: ns_14_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-15-2008.csv file is: ns_15_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-16-2008.csv file is: ns_16_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-17-2008.csv file is: ns_17_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-18-2008.csv file is: ns_18_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-19-2008.csv file is: ns_19_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-20-2008.csv file is: ns_20_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-21-2008.csv file is: ns_21_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-22-2008.csv file is: ns_22_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-23-2008.csv file is: ns_23_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-24-2008.csv file is: ns_24_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-25-2008.csv file is: ns_25_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-26-2008.csv file is: ns_26_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-27-2008.csv file is: ns_27_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-28-2008.csv file is: ns_28_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-29-2008.csv file is: ns_29_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-30-2008.csv file is: ns_30_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-31-2008.csv file is: ns_31_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-32-2008.csv file is: ns_32_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-33-2008.csv file is: ns_33_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-34-2008.csv file is: ns_34_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-35-2008.csv file is: ns_35_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-36-2008.csv file is: ns_36_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-37-2008.csv file is: ns_37_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-38-2008.csv file is: ns_38_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-39-2008.csv file is: ns_39_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-40-2008.csv file is: ns_40_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-41-2008.csv file is: ns_41_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-42-2008.csv file is: ns_42_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-43-2008.csv file is: ns_43_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-44-2008.csv file is: ns_44_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-45-2008.csv file is: ns_45_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-46-2008.csv file is: ns_46_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-47-2008.csv file is: ns_47_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-48-2008.csv file is: ns_48_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-49-2008.csv file is: ns_49_2008_1
  1. The dataframe generated for the input_data\table_1\2008\ns-50-2008.csv file is: ns_50_2008_1
Processing folder 2009
  1. The dataframe generated for the input_data\table_1\2009\ns-01-2009.csv file is: ns_01_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-02-2009.csv file is: ns_02_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-03-2009.csv file is: ns_03_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-04-2009.csv file is: ns_04_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-05-2009.csv file is: ns_05_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-06-2009.csv file is: ns_06_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-07-2009.csv file is: ns_07_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-08-2009.csv file is: ns_08_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-09-2009.csv file is: ns_09_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-10-2009.csv file is: ns_10_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-11-2009.csv file is: ns_11_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-12-2009.csv file is: ns_12_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-13-2009.csv file is: ns_13_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-14-2009.csv file is: ns_14_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-15-2009.csv file is: ns_15_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-16-2009.csv file is: ns_16_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-17-2009.csv file is: ns_17_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-18-2009.csv file is: ns_18_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-19-2009.csv file is: ns_19_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-20-2009.csv file is: ns_20_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-21-2009.csv file is: ns_21_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-22-2009.csv file is: ns_22_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-23-2009.csv file is: ns_23_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-24-2009.csv file is: ns_24_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-25-2009.csv file is: ns_25_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-26-2009.csv file is: ns_26_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-27-2009.csv file is: ns_27_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-28-2009.csv file is: ns_28_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-29-2009.csv file is: ns_29_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-30-2009.csv file is: ns_30_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-31-2009.csv file is: ns_31_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-32-2009.csv file is: ns_32_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-33-2009.csv file is: ns_33_2009_1

  1. The dataframe generated for the input_data\table_1\2009\ns-34-2009.csv file is: ns_34_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-35-2009.csv file is: ns_35_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-36-2009.csv file is: ns_36_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-37-2009.csv file is: ns_37_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-38-2009.csv file is: ns_38_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-39-2009.csv file is: ns_39_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-40-2009.csv file is: ns_40_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-41-2009.csv file is: ns_41_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-42-2009.csv file is: ns_42_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-43-2009.csv file is: ns_43_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-44-2009.csv file is: ns_44_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-45-2009.csv file is: ns_45_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-46-2009.csv file is: ns_46_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-47-2009.csv file is: ns_47_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-48-2009.csv file is: ns_48_2009_1
  1. The dataframe generated for the input_data\table_1\2009\ns-49-2009.csv file is: ns_49_2009_1
Processing folder 2010
  1. The dataframe generated for the input_data\table_1\2010\ns-01-2010.csv file is: ns_01_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-02-2010.csv file is: ns_02_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-03-2010.csv file is: ns_03_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-04-2010.csv file is: ns_04_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-05-2010.csv file is: ns_05_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-06-2010.csv file is: ns_06_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-07-2010.csv file is: ns_07_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-08-2010.csv file is: ns_08_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-09-2010.csv file is: ns_09_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-10-2010.csv file is: ns_10_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-11-2010.csv file is: ns_11_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-12-2010.csv file is: ns_12_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-13-2010.csv file is: ns_13_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-14-2010.csv file is: ns_14_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-15-2010.csv file is: ns_15_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-16-2010.csv file is: ns_16_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-17-2010.csv file is: ns_17_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-18-2010.csv file is: ns_18_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-19-2010.csv file is: ns_19_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-20-2010.csv file is: ns_20_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-21-2010.csv file is: ns_21_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-22-2010.csv file is: ns_22_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-23-2010.csv file is: ns_23_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-24-2010.csv file is: ns_24_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-25-2010.csv file is: ns_25_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-26-2010.csv file is: ns_26_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-27-2010.csv file is: ns_27_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-28-2010.csv file is: ns_28_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-29-2010.csv file is: ns_29_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-30-2010.csv file is: ns_30_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-31-2010.csv file is: ns_31_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-32-2010.csv file is: ns_32_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-33-2010.csv file is: ns_33_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-34-2010.csv file is: ns_34_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-35-2010.csv file is: ns_35_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-36-2010.csv file is: ns_36_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-37-2010.csv file is: ns_37_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-38-2010.csv file is: ns_38_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-39-2010.csv file is: ns_39_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-40-2010.csv file is: ns_40_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-41-2010.csv file is: ns_41_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-42-2010.csv file is: ns_42_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-43-2010.csv file is: ns_43_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-44-2010.csv file is: ns_44_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-45-2010.csv file is: ns_45_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-46-2010.csv file is: ns_46_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-47-2010.csv file is: ns_47_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-48-2010.csv file is: ns_48_2010_1
  1. The dataframe generated for the input_data\table_1\2010\ns-49-2010.csv file is: ns_49_2010_1
Processing folder 2011
  1. The dataframe generated for the input_data\table_1\2011\ns-01-2011.csv file is: ns_01_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-02-2011.csv file is: ns_02_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-03-2011.csv file is: ns_03_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-04-2011.csv file is: ns_04_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-05-2011.csv file is: ns_05_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-06-2011.csv file is: ns_06_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-07-2011.csv file is: ns_07_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-08-2011.csv file is: ns_08_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-09-2011.csv file is: ns_09_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-10-2011.csv file is: ns_10_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-11-2011.csv file is: ns_11_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-12-2011.csv file is: ns_12_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-13-2011.csv file is: ns_13_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-14-2011.csv file is: ns_14_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-15-2011.csv file is: ns_15_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-16-2011.csv file is: ns_16_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-17-2011.csv file is: ns_17_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-18-2011.csv file is: ns_18_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-19-2011.csv file is: ns_19_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-20-2011.csv file is: ns_20_2011_1

  1. The dataframe generated for the input_data\table_1\2011\ns-21-2011.csv file is: ns_21_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-22-2011.csv file is: ns_22_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-23-2011.csv file is: ns_23_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-24-2011.csv file is: ns_24_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-25-2011.csv file is: ns_25_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-26-2011.csv file is: ns_26_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-27-2011.csv file is: ns_27_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-28-2011.csv file is: ns_28_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-29-2011.csv file is: ns_29_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-30-2011.csv file is: ns_30_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-31-2011.csv file is: ns_31_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-32-2011.csv file is: ns_32_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-33-2011.csv file is: ns_33_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-34-2011.csv file is: ns_34_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-35-2011.csv file is: ns_35_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-36-2011.csv file is: ns_36_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-37-2011.csv file is: ns_37_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-38-2011.csv file is: ns_38_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-39-2011.csv file is: ns_39_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-40-2011.csv file is: ns_40_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-41-2011.csv file is: ns_41_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-42-2011.csv file is: ns_42_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-43-2011.csv file is: ns_43_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-44-2011.csv file is: ns_44_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-45-2011.csv file is: ns_45_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-46-2011.csv file is: ns_46_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-47-2011.csv file is: ns_47_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-48-2011.csv file is: ns_48_2011_1
  1. The dataframe generated for the input_data\table_1\2011\ns-49-2011.csv file is: ns_49_2011_1
Processing folder 2012
  1. The dataframe generated for the input_data\table_1\2012\ns-01-2012.csv file is: ns_01_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-02-2012.csv file is: ns_02_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-03-2012.csv file is: ns_03_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-04-2012.csv file is: ns_04_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-05-2012.csv file is: ns_05_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-06-2012.csv file is: ns_06_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-07-2012.csv file is: ns_07_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-08-2012.csv file is: ns_08_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-09-2012.csv file is: ns_09_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-10-2012.csv file is: ns_10_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-11-2012.csv file is: ns_11_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-12-2012.csv file is: ns_12_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-13-2012.csv file is: ns_13_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-14-2012.csv file is: ns_14_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-15-2012.csv file is: ns_15_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-16-2012.csv file is: ns_16_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-17-2012.csv file is: ns_17_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-18-2012.csv file is: ns_18_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-19-2012.csv file is: ns_19_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-20-2012.csv file is: ns_20_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-21-2012.csv file is: ns_21_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-22-2012.csv file is: ns_22_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-23-2012.csv file is: ns_23_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-24-2012.csv file is: ns_24_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-25-2012.csv file is: ns_25_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-26-2012.csv file is: ns_26_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-27-2012.csv file is: ns_27_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-28-2012.csv file is: ns_28_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-29-2012.csv file is: ns_29_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-30-2012.csv file is: ns_30_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-31-2012.csv file is: ns_31_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-32-2012.csv file is: ns_32_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-33-2012.csv file is: ns_33_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-34-2012.csv file is: ns_34_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-35-2012.csv file is: ns_35_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-36-2012.csv file is: ns_36_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-37-2012.csv file is: ns_37_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-38-2012.csv file is: ns_38_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-39-2012.csv file is: ns_39_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-40-2012.csv file is: ns_40_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-41-2012.csv file is: ns_41_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-42-2012.csv file is: ns_42_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-43-2012.csv file is: ns_43_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-44-2012.csv file is: ns_44_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-45-2012.csv file is: ns_45_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-46-2012.csv file is: ns_46_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-47-2012.csv file is: ns_47_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-48-2012.csv file is: ns_48_2012_1
  1. The dataframe generated for the input_data\table_1\2012\ns-49-2012.csv file is: ns_49_2012_1
Processing completed for all folders.

In [12]:
old_tables_dict_1['ns_11_1997_1'].head(30)

,sectores_economicos,economic_sectors,1995_nov,1995_dic,1995_year,1996_ene,1996_feb,1996_mar,1996_abr,1996_may,1996_jun,1996_jul,1996_ago,1996_sep,1996_oct,1996_nov,1996_dic,1996_ene_dic,1997_ene
0,agropecuario,agriculture and livestock,-0.1,3.5,7.6,-3.6,0.3,2.3,7.2,2.8,14.4,3.8,9.8,3.3,4.7,5.4,9.3,5.6,17.1
1,agricola,agriculture,-7.8,1.7,6.1,-7.4,1.6,2.3,8.4,2.5,17.2,3.9,15.0,7.6,10.3,15.2,17.1,8.1,32.1
2,pecuario,livestock,9.5,5.6,10.6,0.9,-1.3,2.4,4.0,4.0,4.5,3.8,-0.1,-3.1,-2.2,-5.1,0.0,0.6,1.3
3,pesca,fishing,-27.0,-23.6,-14.6,-30.9,30.7,-32.7,2.0,15.3,17.8,17.5,-7.6,-11.1,-52.3,49.0,77.6,5.2,-17.3
4,mineria,mining and fuel,4.4,1.7,3.1,-0.3,3.3,1.7,1.8,2.5,4.0,7.3,2.9,2.0,7.0,1.9,3.0,3.1,0.7
5,mineria metalica,metals,10.4,3.9,8.3,3.3,6.7,5.4,6.2,8.3,8.7,12.2,6.4,-0.1,7.0,2.3,2.5,5.7,0.1
6,petroleo crudo,fuels,-5.0,-2.0,-4.4,-5.8,-2.3,-4.2,-4.9,-5.7,-3.4,-1.0,-3.0,5.5,6.9,1.3,3.9,-1.2,1.8
7,manufactura,manufacturing,-3.0,-3.9,4.5,-3.7,9.0,-1.6,0.3,2.9,2.2,7.4,-0.2,0.3,-3.9,8.1,11.8,2.6,2.4
8,procesadores recursos primarios,based on raw materials,-10.7,-9.0,-6.1,-19.3,16.5,-6.6,-0.2,5.9,9.7,13.0,4.8,7.1,-12.5,22.5,32.6,5.3,-1.9
9,resto industria,non primary,0.8,-1.7,9.5,5.6,6.5,-0.1,0.6,1.5,-0.9,5.5,-1.8,-1.8,-0.4,1.8,3.2,1.6,4.3
10,construccion,construction,2.6,-5.3,17.5,-2.1,-2.8,-7.6,-9.6,-9.8,-12.0,-0.4,-6.7,-5.6,-3.7,-0.2,5.1,-4.6,11.1
11,gobierno,government,2.5,2.5,2.5,0.5,3.5,0.6,0.1,0.1,1.3,0.0,0.4,1.2,-1.5,-0.2,0.5,0.4,0.5
12,otros,others,1.2,-1.6,8.4,-0.3,3.9,-1.4,3.4,4.8,4.7,8.2,1.8,2.0,4.7,6.0,8.1,3.8,3.9
13,comercio,commerce,2.6,-1.3,12.7,-2.3,3.2,-3.2,5.3,6.8,1.5,7.2,-0.5,1.4,3.8,4.8,7.4,3.0,5.3
14,resto,remaining,0.5,-1.7,6.2,1.0,4.3,-0.4,2.1,3.7,6.5,8.7,3.0,2.4,5.1,6.6,8.5,4.3,3.0
15,pbi,gdp,0.1,-1.7,7.0,-2.3,4.2,-1.5,1.8,2.5,4.4,6.2,1.5,0.9,1.1,5.5,8.5,2.8,4.5
16,pbi promedio de ultimos doce meses,average gdp for the last twelve months,8.1,7.0,NaN,5.5,4.7,4.0,3.6,2.7,2.5,2.5,2.0,1.7,1.5,1.9,2.8,NaN,3.3
17,pbi desestacionalizado,seasonally adjusted gdp,-1.2,-1.8,NaN,-0.7,2.0,-0.1,0.9,1.4,3.1,1.7,-1.5,-0.8,-1.5,0.1,0.6,NaN,0.4

In [13]:
old_dataframes_dict_1['ns_11_1997_1'].head(30)

,year,id_ns,date,sectores_economicos,economic_sectors,1995_nov,1995_dic,1995_year,1996_ene,1996_feb,...,1996_may,1996_jun,1996_jul,1996_ago,1996_sep,1996_oct,1996_nov,1996_dic,1996_ene_dic,1997_ene
0,1997,11,1997-03-21,agropecuario,agriculture and livestock,-0.1,3.5,7.6,-3.6,0.3,...,2.8,14.4,3.8,9.8,3.3,4.7,5.4,9.3,5.6,17.1
1,1997,11,1997-03-21,agricola,agriculture,-7.8,1.7,6.1,-7.4,1.6,...,2.5,17.2,3.9,15.0,7.6,10.3,15.2,17.1,8.1,32.1
2,1997,11,1997-03-21,pecuario,livestock,9.5,5.6,10.6,0.9,-1.3,...,4.0,4.5,3.8,-0.1,-3.1,-2.2,-5.1,0.0,0.6,1.3
3,1997,11,1997-03-21,pesca,fishing,-27.0,-23.6,-14.6,-30.9,30.7,...,15.3,17.8,17.5,-7.6,-11.1,-52.3,49.0,77.6,5.2,-17.3
4,1997,11,1997-03-21,mineria e hidrocarburos,mining and fuel,4.4,1.7,3.1,-0.3,3.3,...,2.5,4.0,7.3,2.9,2.0,7.0,1.9,3.0,3.1,0.7
5,1997,11,1997-03-21,mineria metalica,metals,10.4,3.9,8.3,3.3,6.7,...,8.3,8.7,12.2,6.4,-0.1,7.0,2.3,2.5,5.7,0.1
6,1997,11,1997-03-21,petroleo crudo,fuels,-5.0,-2.0,-4.4,-5.8,-2.3,...,-5.7,-3.4,-1.0,-3.0,5.5,6.9,1.3,3.9,-1.2,1.8
7,1997,11,1997-03-21,manufactura,manufacturing,-3.0,-3.9,4.5,-3.7,9.0,...,2.9,2.2,7.4,-0.2,0.3,-3.9,8.1,11.8,2.6,2.4
8,1997,11,1997-03-21,procesadores recursos primarios,based on raw materials,-10.7,-9.0,-6.1,-19.3,16.5,...,5.9,9.7,13.0,4.8,7.1,-12.5,22.5,32.6,5.3,-1.9
9,1997,11,1997-03-21,resto industria,non primary,0.8,-1.7,9.5,5.6,6.5,...,1.5,-0.9,5.5,-1.8,-1.8,-0.4,1.8,3.2,1.6,4.3
10,1997,11,1997-03-21,construccion,construction,2.6,-5.3,17.5,-2.1,-2.8,...,-9.8,-12.0,-0.4,-6.7,-5.6,-3.7,-0.2,5.1,-4.6,11.1
11,1997,11,1997-03-21,gobierno,government,2.5,2.5,2.5,0.5,3.5,...,0.1,1.3,0.0,0.4,1.2,-1.5,-0.2,0.5,0.4,0.5
12,1997,11,1997-03-21,otros,others,1.2,-1.6,8.4,-0.3,3.9,...,4.8,4.7,8.2,1.8,2.0,4.7,6.0,8.1,3.8,3.9
13,1997,11,1997-03-21,comercio,commerce,2.6,-1.3,12.7,-2.3,3.2,...,6.8,1.5,7.2,-0.5,1.4,3.8,4.8,7.4,3.0,5.3
14,1997,11,1997-03-21,resto,remaining,0.5,-1.7,6.2,1.0,4.3,...,3.7,6.5,8.7,3.0,2.4,5.1,6.6,8.5,4.3,3.0
15,1997,11,1997-03-21,pbi,gdp,0.1,-1.7,7.0,-2.3,4.2,...,2.5,4.4,6.2,1.5,0.9,1.1,5.5,8.5,2.8,4.5
16,1997,11,1997-03-21,pbi promedio de ultimos doce meses,average gdp for the last twelve months,8.1,7.0,NaN,5.5,4.7,...,2.7,2.5,2.5,2.0,1.7,1.5,1.9,2.8,NaN,3.3
17,1997,11,1997-03-21,pbi desestacionalizado,seasonally adjusted gdp,-1.2,-1.8,NaN,-0.7,2.0,...,1.4,3.1,1.7,-1.5,-0.8,-1.5,0.1,0.6,NaN,0.4

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2-1-2">
   <!-- Contenido de la celda de destino -->
</div>

<h3><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    <span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">Table 2.</span> Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.
    </span>
    </h3>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please check that the flat file <b>"ns_dates.csv"</b> is updated with the dates, years and ids for the newly downloaded PDF <span style="font-size: 24px;">&#128462;</span> (WR). That file is located in the <b>"ns_dates"</b> folder and is uploaded to SQL from the jupyeter notebook <code>aux_files_to_sql.ipynb</code>
    </span>
</div>

In [ ]:
# Set the locale to Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Dictionary to store generated DataFrames
old_dataframes_dict_2 = {}

# Path for the processed folders log file
record_path = 'dataframes_record/old_processed_folders_2.txt'

# Function to correct month names
def correct_month_name(month):
    months_mapping = {
        'setiembre': 'septiembre',
        # Add more mappings as needed for other month names
    }
    return months_mapping.get(month, month)

# Function to register processed folder
def register_processed_folder(folder, num_processed_files):
    with open(record_path, 'a') as file:
        file.write(f"{folder}:{num_processed_files}\n")

# Function to check if folder has been processed
def folder_processed(folder):
    if not os.path.exists(record_path):
        return False
    with open(record_path, 'r') as file:
        for line in file:
            if line.startswith(folder):
                return True
    return False

# Function to fetch date from database
def get_date(df, engine):
    id_ns = df['id_ns'].iloc[0]
    year = df['year'].iloc[0]
    query = f"SELECT date FROM dates_growth_rates WHERE id_ns = '{id_ns}' AND year = '{year}';"
    date_result = pd.read_sql(query, engine)
    return date_result.iloc[0, 0] if not date_result.empty else None

def process_csv(csv_path, engine):
    old_tables_dict_2 = {}  # Local dictionary for each CSV
    table_counter = 2

    filename = os.path.basename(csv_path)
    id_ns_year_matches = re.findall(r'ns-(\d+)-(\d{4})', filename)
    if id_ns_year_matches:
        id_ns, year = id_ns_year_matches[0]
    else:
        print("No matches found for id_ns and year in filename:", filename)
        return None, None, None, None # Return None for tables_dict_1 as well

    new_filename = os.path.splitext(os.path.basename(csv_path))[0].replace('-', '_')

    df = pd.read_csv(csv_path, delimiter=';')
    
    dataframe_name = f"{new_filename}_{table_counter}"
    old_tables_dict_2[dataframe_name] = df.copy()

    # Apply cleanup functions to a copy of the DataFrame
    df_clean = df.copy()

    # Conditional cleaning based on the first column
    if df_clean.columns[1] == 'economic_sectors':
        df_clean = drop_nan_rows(df_clean)
        df_clean = drop_nan_columns(df_clean)
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = replace_mineria(df_clean)
        df_clean = replace_mining(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)
    else:
        # Cleaning functions (set as required)
        df_clean = replace_total_with_year(df_clean)
        df_clean = drop_nan_rows(df_clean)
        df_clean = drop_nan_columns(df_clean)
        year_columns = extract_years(df_clean)
        df_clean = roman_arabic(df_clean)
        df_clean = fix_duplicates(df_clean)
        df_clean = relocate_last_column(df_clean)
        df_clean = replace_first_row_nan(df_clean)
        df_clean = clean_first_row(df_clean)
        df_clean = get_quarters_sublist_list(df_clean, year_columns)
        df_clean = reset_index(df_clean)
        df_clean = first_row_columns(df_clean)
        df_clean = clean_columns_values(df_clean)
        df_clean = reset_index(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = replace_mineria(df_clean)
        df_clean = replace_mining(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)

    # Add the column 'year' to the clean DataFrame
    df_clean.insert(0, 'year', year)
    
    # Add the column 'id_ns' to the clean DataFrame
    df_clean.insert(1, 'id_ns', id_ns)
    
    # Get corresponding date from database
    date = get_date(df_clean, engine)
    if date:
        # Add 'date' column to cleaned DataFrame
        df_clean.insert(2, 'date', date)
    else:
        print("Date not found in database for id_ns:", id_ns, "and year:", year)

    # Store cleaned DataFrame in old_dataframes_dict_2
    old_dataframes_dict_2[dataframe_name] = df_clean

    return id_ns, year, old_tables_dict_2

# Function to process folder
def process_folder(folder, engine):
    print(f"Processing folder {os.path.basename(folder)}")
    csv_files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.csv')]

    num_csv_processed = 0
    num_dataframes_generated = 0

    table_counter = 2  # Initialize table counter here
    old_tables_dict_2 = {}  # Declare old_tables_dict_1 outside main loop
    
    for csv_file in csv_files:
        id_ns, year, tables_dict_temp = process_csv(csv_file, engine)

        if tables_dict_temp:
            for dataframe_name, df in tables_dict_temp.items():
                file_name = os.path.splitext(os.path.basename(csv_file))[0].replace('-', '_')
                dataframe_name = f"{file_name}_{table_counter}"
                
                # Store raw DataFrame in old_tables_dict_2
                old_tables_dict_2[dataframe_name] = df.copy()
                
                # Procesar y limpiar el DataFrame
                df_clean = df.copy()
                
                # Conditional cleaning based on the first column
                if df_clean.columns[1] == 'economic_sectors':
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = drop_nan_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                else:
                    # Cleaning functions (set as required)
                    df_clean = replace_total_with_year(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = drop_nan_columns(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = roman_arabic(df_clean)
                    df_clean = fix_duplicates(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = replace_first_row_nan(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = get_quarters_sublist_list(df_clean, year_columns)
                    df_clean = reset_index(df_clean)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                
                # Add the column 'year' to the clean DataFrame
                df_clean.insert(0, 'year', year)

                # Add the column 'id_ns' to the clean DataFrame
                df_clean.insert(1, 'id_ns', id_ns)

                # Get corresponding date from database
                date = get_date(df_clean, engine)
                if date:
                    # Add 'date' column to cleaned DataFrame
                    df_clean.insert(2, 'date', date)
                else:
                    print("Date not found in database for id_ns:", id_ns, "and year:", year)

                # Store cleaned DataFrame in old_dataframes_dict_2
                old_dataframes_dict_2[dataframe_name] = df_clean

                print(f'  {table_counter}. The dataframe generated for the {csv_file} file is: {dataframe_name}')
                num_dataframes_generated += 1
                table_counter = 2  # Increment table counter here
        
        num_csv_processed += 1  # Increment number of processed CSV for each CSV in folder

    return num_csv_processed, num_dataframes_generated, old_tables_dict_2

def process_folders():
    csv_folder = table_2_folder
    folders = [os.path.join(csv_folder, d) for d in os.listdir(csv_folder) if os.path.isdir(os.path.join(csv_folder, d)) and re.match(r'\d{4}', d)]
    
    old_tables_dict_2 = {}  # Initialize old_tables_dict_1 here
    
    for folder in folders:
        if folder_processed(folder):
            print(f"Folder {folder} has already been processed.")
            continue
        
        num_csv_processed, num_dataframes_generated, tables_dict_temp = process_folder(folder, engine)
        
        # Update old_tables_dict_2 with values returned from process_folder()
        old_tables_dict_2.update(tables_dict_temp)
        
        register_processed_folder(folder, num_csv_processed)

        # Ask user if they want to continue with next folder
        root = Tk()
        root.withdraw()
        root.attributes('-topmost', True)  # Ensure the messagebox is in front
        message = f"Process {folder} complete. Processed {num_csv_processed} CSV(s) and generated {num_dataframes_generated} DataFrame(s). Continue with next folder?"
        if not messagebox.askyesno("Continue?", message):
            break

    print("Processing completed for all folders.")  # Add a message to indicate completion

    return old_tables_dict_2
    
if __name__ == "__main__":
    engine = create_sqlalchemy_engine()
    old_tables_dict_2 = process_folders()

In [ ]:
old_tables_dict_2['ns_02_1997_2']

In [ ]:
old_dataframes_dict_2['ns_02_1997_2']

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Real-time data of Peru's GDP growth rates</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
This section creates the GDP growth rate vintages for Peru using <a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 1</a> and <a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 2</a>, which were extracted and cleaned in the previous section. Each table from each WR (CSV <span style="font-size: 24px;">&#128452;</span>) was extracted and cleaned individually in the previous section. Here, we will concatenate all the tables for a specific economic sector, thus creating a vintage dataset of (real) GDP growth by economic sector from <b>1994</b> to <b>2012</b> (<a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 1</a>) and <b>1997</b> to <b>2012</b> (<a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 2</a>).
<div/>

<div id="select">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">$\bullet$</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Select <code>sector_economico</code> and <code>economic_sector</code></span></h1>
    </div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
<p>     
When executing the following code, a window will be displayed with options in <b>Spanish</b> and <b>English</b> to select <b>economic sectors</b>. Choose them to concatenate Peru GDP growth rates (annual, quarterly or monthly) by sector.
</p>
<div/>

In [21]:
# Call the function with the Spanish options list to display the window
selected_spanish, selected_english = select_economic_sector(spanish_options, english_options)

# Display the values selected by the user
print(f"You have selected sector_economico = {selected_spanish} and economic_sector = {selected_english}.")

You have selected sector_economico = otros servicios and economic_sector = other services.

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">$\bullet$</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Select the dataset name prefix</span></h1>
    </div>

In [22]:
# Call the function to show the popup window
sector = show_option_window()
print("Selected economic sector:", sector)

Selected economic sector: services

<div id="3-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Annual vintages concatenation
    </span>
    </h2>

In [ ]:
globals()[f"old_{sector}_annual_growth_rates"] = concatenate_annual_df(old_dataframes_dict_2, selected_spanish, selected_english)

In [ ]:
pd.set_option('display.max_rows', None)
globals()[f"old_{sector}_annual_growth_rates"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Quarterly vintages concatenation
    </span>
    </h2>

In [ ]:
globals()[f"old_{sector}_quarterly_growth_rates"] = concatenate_quarterly_df(old_dataframes_dict_2, selected_spanish, selected_english)

In [ ]:
pd.set_option('display.max_rows', None)
globals()[f"old_{sector}_quarterly_growth_rates"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3-3">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.3.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Monthly vintages concatenation
    </span>
    </h2>

In [23]:
globals()[f"old_{sector}_monthly_growth_rates"] = concatenate_monthly_df(old_dataframes_dict_1, selected_spanish, selected_english)

DataFrames ending with '_1' that will be concatenated:
ns_01_1994_1
ns_02_1994_1
ns_03_1994_1
ns_04_1994_1
ns_05_1994_1
ns_06_1994_1
ns_07_1994_1
ns_08_1994_1
ns_09_1994_1
ns_10_1994_1
ns_11_1994_1
ns_12_1994_1
ns_13_1994_1
ns_14_1994_1
ns_15_1994_1
ns_16_1994_1
ns_17_1994_1
ns_18_1994_1
ns_19_1994_1
ns_20_1994_1
ns_21_1994_1
ns_22_1994_1
ns_23_1994_1
ns_24_1994_1
ns_25_1994_1
ns_26_1994_1
ns_27_1994_1
ns_28_1994_1
ns_29_1994_1
ns_30_1994_1
ns_31_1994_1
ns_32_1994_1
ns_33_1994_1
ns_34_1994_1
ns_35_1994_1
ns_36_1994_1
ns_37_1994_1
ns_38_1994_1
ns_39_1994_1
ns_40_1994_1
ns_41_1994_1
ns_42_1994_1
ns_43_1994_1
ns_44_1994_1
ns_45_1994_1
ns_46_1994_1
ns_47_1994_1
ns_48_1994_1
ns_49_1994_1
ns_01_1995_1
ns_02_1995_1
ns_03_1995_1
ns_04_1995_1
ns_05_1995_1
ns_06_1995_1
ns_07_1995_1
ns_08_1995_1
ns_09_1995_1
ns_10_1995_1
ns_11_1995_1
ns_12_1995_1
ns_13_1995_1
ns_14_1995_1
ns_15_1995_1
ns_16_1995_1
ns_17_1995_1
ns_18_1995_1
ns_19_1995_1
ns_20_1995_1
ns_21_1995_1
ns_22_1995_1
ns_23_1995_1
ns_24_1995_1
ns_25_1995_1
ns_26_1995_1
ns_27_1995_1
ns_28_1995_1
ns_29_1995_1
ns_30_1995_1
ns_31_1995_1
ns_32_1995_1
ns_33_1995_1
ns_34_1995_1
ns_35_1995_1
ns_36_1995_1
ns_37_1995_1
ns_38_1995_1
ns_39_1995_1
ns_40_1995_1
ns_41_1995_1
ns_42_1995_1
ns_43_1995_1
ns_44_1995_1
ns_45_1995_1
ns_46_1995_1
ns_47_1995_1
ns_48_1995_1
ns_49_1995_1
ns_50_1995_1
ns_51_1995_1
ns_01_1996_1
ns_02_1996_1
ns_03_1996_1
ns_04_1996_1
ns_05_1996_1
ns_06_1996_1
ns_07_1996_1
ns_08_1996_1
ns_09_1996_1
ns_10_1996_1
ns_11_1996_1
ns_12_1996_1
ns_13_1996_1
ns_14_1996_1
ns_15_1996_1
ns_16_1996_1
ns_17_1996_1
ns_18_1996_1
ns_19_1996_1
ns_20_1996_1
ns_21_1996_1
ns_22_1996_1
ns_23_1996_1
ns_24_1996_1
ns_25_1996_1
ns_26_1996_1
ns_27_1996_1
ns_28_1996_1
ns_29_1996_1
ns_30_1996_1
ns_31_1996_1
ns_32_1996_1
ns_33_1996_1
ns_34_1996_1
ns_35_1996_1
ns_36_1996_1
ns_37_1996_1
ns_38_1996_1
ns_39_1996_1
ns_40_1996_1
ns_41_1996_1
ns_42_1996_1
ns_43_1996_1
ns_44_1996_1
ns_45_1996_1
ns_46_1996_1
ns_47_1996_1
ns_48_1996_1
ns_49_1996_1
ns_50_1996_1
ns_51_1996_1
ns_52_1996_1
ns_01_1997_1
ns_02_1997_1
ns_03_1997_1
ns_04_1997_1
ns_05_1997_1
ns_06_1997_1
ns_07_1997_1
ns_08_1997_1
ns_09_1997_1
ns_10_1997_1
ns_11_1997_1
ns_12_1997_1
ns_13_1997_1
ns_14_1997_1
ns_15_1997_1
ns_16_1997_1
ns_17_1997_1
ns_18_1997_1
ns_19_1997_1
ns_20_1997_1
ns_21_1997_1
ns_22_1997_1
ns_23_1997_1
ns_24_1997_1
ns_25_1997_1
ns_26_1997_1
ns_27_1997_1
ns_28_1997_1
ns_29_1997_1
ns_30_1997_1
ns_31_1997_1
ns_32_1997_1
ns_33_1997_1
ns_34_1997_1
ns_35_1997_1
ns_36_1997_1
ns_37_1997_1
ns_38_1997_1
ns_39_1997_1
ns_40_1997_1
ns_41_1997_1
ns_42_1997_1
ns_43_1997_1
ns_44_1997_1
ns_45_1997_1
ns_46_1997_1
ns_47_1997_1
ns_48_1997_1
ns_49_1997_1
ns_01_1998_1
ns_02_1998_1
ns_03_1998_1
ns_04_1998_1
ns_05_1998_1
ns_06_1998_1
ns_07_1998_1
ns_08_1998_1
ns_09_1998_1
ns_10_1998_1
ns_11_1998_1
ns_12_1998_1
ns_13_1998_1
ns_14_1998_1
ns_15_1998_1
ns_16_1998_1
ns_17_1998_1
ns_18_1998_1
ns_19_1998_1
ns_20_1998_1
ns_21_1998_1
ns_22_1998_1
ns_23_1998_1
ns_24_1998_1
ns_25_1998_1
ns_26_1998_1
ns_27_1998_1
ns_28_1998_1
ns_29_1998_1
ns_30_1998_1
ns_31_1998_1
ns_32_1998_1
ns_33_1998_1
ns_34_1998_1
ns_35_1998_1
ns_36_1998_1
ns_37_1998_1
ns_38_1998_1
ns_39_1998_1
ns_40_1998_1
ns_41_1998_1
ns_42_1998_1
ns_43_1998_1
ns_44_1998_1
ns_45_1998_1
ns_46_1998_1
ns_47_1998_1
ns_48_1998_1
ns_49_1998_1
ns_01_1999_1
ns_02_1999_1
ns_03_1999_1
ns_04_1999_1
ns_05_1999_1
ns_06_1999_1
ns_07_1999_1
ns_08_1999_1
ns_09_1999_1
ns_10_1999_1
ns_11_1999_1
ns_12_1999_1
ns_13_1999_1
ns_14_1999_1
ns_15_1999_1
ns_16_1999_1
ns_17_1999_1
ns_18_1999_1
ns_19_1999_1
ns_20_1999_1
ns_21_1999_1
ns_22_1999_1
ns_23_1999_1
ns_24_1999_1
ns_25_1999_1
ns_26_1999_1
ns_27_1999_1
ns_28_1999_1
ns_29_1999_1
ns_30_1999_1
ns_31_1999_1
ns_32_1999_1
ns_33_1999_1
ns_34_1999_1
ns_35_1999_1
ns_36_1999_1
ns_37_1999_1
ns_38_1999_1
ns_39_1999_1
ns_40_1999_1
ns_41_1999_1
ns_42_1999_1
ns_43_1999_1
ns_44_1999_1
ns_45_1999_1
ns_46_1999_1
ns_47_1999_1
ns_48_1999_1
ns_49_1999_1
ns_50_1999_1
ns_01_2000_1
ns_02_2000_1
ns_03_2000_1
ns_04_2000_1
ns_05_2000_1
ns_06_2000_1
ns_07_2000_1
ns_08_2000_1
ns_09_2000_1
ns_10_2000_1
ns_11_2000_1
ns_12_2000_1
ns_13_2000_1
ns_14_2000_1
ns_15_2000_1
ns_16_2000_1
ns_17_2000_1
ns_18_2000_1
ns_19_2000_1
ns_20_2000_1
ns_21_2000_1
ns_22_2000_1
ns_23_2000_1
ns_24_2000_1
ns_25_2000_1
ns_26_2000_1
ns_27_2000_1
ns_28_2000_1
ns_29_2000_1
ns_30_2000_1
ns_31_2000_1
ns_32_2000_1
ns_33_2000_1
ns_34_2000_1
ns_35_2000_1
ns_36_2000_1
ns_37_2000_1
ns_38_2000_1
ns_39_2000_1
ns_40_2000_1
ns_41_2000_1
ns_42_2000_1
ns_43_2000_1
ns_44_2000_1
ns_45_2000_1
ns_46_2000_1
ns_47_2000_1
ns_48_2000_1
ns_49_2000_1
ns_01_2001_1
ns_02_2001_1
ns_03_2001_1
ns_04_2001_1
ns_05_2001_1
ns_06_2001_1
ns_07_2001_1
ns_08_2001_1
ns_09_2001_1
ns_10_2001_1
ns_11_2001_1
ns_12_2001_1
ns_13_2001_1
ns_14_2001_1
ns_15_2001_1
ns_16_2001_1
ns_17_2001_1
ns_18_2001_1
ns_19_2001_1
ns_20_2001_1
ns_21_2001_1
ns_22_2001_1
ns_23_2001_1
ns_24_2001_1
ns_25_2001_1
ns_26_2001_1
ns_27_2001_1
ns_28_2001_1
ns_29_2001_1
ns_30_2001_1
ns_31_2001_1
ns_32_2001_1
ns_33_2001_1
ns_34_2001_1
ns_35_2001_1
ns_36_2001_1
ns_37_2001_1
ns_38_2001_1
ns_39_2001_1
ns_40_2001_1
ns_41_2001_1
ns_42_2001_1
ns_43_2001_1
ns_44_2001_1
ns_45_2001_1
ns_46_2001_1
ns_47_2001_1
ns_48_2001_1
ns_01_2002_1
ns_02_2002_1
ns_03_2002_1
ns_04_2002_1
ns_05_2002_1
ns_06_2002_1
ns_07_2002_1
ns_08_2002_1
ns_09_2002_1
ns_10_2002_1
ns_11_2002_1
ns_12_2002_1
ns_13_2002_1
ns_14_2002_1
ns_15_2002_1
ns_16_2002_1
ns_17_2002_1
ns_18_2002_1
ns_19_2002_1
ns_20_2002_1
ns_21_2002_1
ns_22_2002_1
ns_23_2002_1
ns_24_2002_1
ns_25_2002_1
ns_26_2002_1
ns_27_2002_1
ns_28_2002_1
ns_29_2002_1
ns_30_2002_1
ns_31_2002_1
ns_32_2002_1
ns_33_2002_1
ns_34_2002_1
ns_35_2002_1
ns_36_2002_1
ns_37_2002_1
ns_38_2002_1
ns_39_2002_1
ns_40_2002_1
ns_41_2002_1
ns_42_2002_1
ns_43_2002_1
ns_44_2002_1
ns_45_2002_1
ns_46_2002_1
ns_47_2002_1
ns_48_2002_1
ns_49_2002_1
ns_50_2002_1
ns_51_2002_1
ns_01_2003_1
ns_02_2003_1
ns_03_2003_1
ns_04_2003_1
ns_05_2003_1
ns_06_2003_1
ns_07_2003_1
ns_08_2003_1
ns_09_2003_1
ns_10_2003_1
ns_11_2003_1
ns_12_2003_1
ns_13_2003_1
ns_14_2003_1
ns_15_2003_1
ns_16_2003_1
ns_17_2003_1
ns_18_2003_1
ns_19_2003_1
ns_20_2003_1
ns_21_2003_1
ns_22_2003_1
ns_23_2003_1
ns_24_2003_1
ns_25_2003_1
ns_26_2003_1
ns_27_2003_1
ns_28_2003_1
ns_29_2003_1
ns_30_2003_1
ns_31_2003_1
ns_32_2003_1
ns_33_2003_1
ns_34_2003_1
ns_35_2003_1
ns_36_2003_1
ns_37_2003_1
ns_38_2003_1
ns_39_2003_1
ns_40_2003_1
ns_41_2003_1
ns_42_2003_1
ns_43_2003_1
ns_44_2003_1
ns_45_2003_1
ns_46_2003_1
ns_47_2003_1
ns_48_2003_1
ns_49_2003_1
ns_01_2004_1
ns_02_2004_1
ns_03_2004_1
ns_04_2004_1
ns_05_2004_1
ns_06_2004_1
ns_07_2004_1
ns_08_2004_1
ns_09_2004_1
ns_10_2004_1
ns_11_2004_1
ns_12_2004_1
ns_13_2004_1
ns_14_2004_1
ns_15_2004_1
ns_16_2004_1
ns_17_2004_1
ns_18_2004_1
ns_19_2004_1
ns_20_2004_1
ns_21_2004_1
ns_22_2004_1
ns_23_2004_1
ns_24_2004_1
ns_25_2004_1
ns_26_2004_1
ns_27_2004_1
ns_28_2004_1
ns_29_2004_1
ns_30_2004_1
ns_31_2004_1
ns_32_2004_1
ns_33_2004_1
ns_34_2004_1
ns_35_2004_1
ns_36_2004_1
ns_37_2004_1
ns_38_2004_1
ns_39_2004_1
ns_40_2004_1
ns_41_2004_1
ns_42_2004_1
ns_43_2004_1
ns_44_2004_1
ns_45_2004_1
ns_46_2004_1
ns_47_2004_1
ns_48_2004_1
ns_49_2004_1
ns_01_2005_1
ns_02_2005_1
ns_03_2005_1
ns_04_2005_1
ns_05_2005_1
ns_06_2005_1
ns_07_2005_1
ns_08_2005_1
ns_09_2005_1
ns_10_2005_1
ns_11_2005_1
ns_12_2005_1
ns_13_2005_1
ns_14_2005_1
ns_15_2005_1
ns_16_2005_1
ns_17_2005_1
ns_18_2005_1
ns_19_2005_1
ns_20_2005_1
ns_21_2005_1
ns_22_2005_1
ns_23_2005_1
ns_24_2005_1
ns_25_2005_1
ns_26_2005_1
ns_27_2005_1
ns_28_2005_1
ns_29_2005_1
ns_30_2005_1
ns_31_2005_1
ns_32_2005_1
ns_33_2005_1
ns_34_2005_1
ns_35_2005_1
ns_36_2005_1
ns_37_2005_1
ns_38_2005_1
ns_39_2005_1
ns_40_2005_1
ns_41_2005_1
ns_42_2005_1
ns_43_2005_1
ns_44_2005_1
ns_45_2005_1
ns_46_2005_1
ns_47_2005_1
ns_48_2005_1
ns_49_2005_1
ns_01_2006_1
ns_02_2006_1
ns_03_2006_1
ns_04_2006_1
ns_05_2006_1
ns_06_2006_1
ns_07_2006_1
ns_08_2006_1
ns_09_2006_1
ns_10_2006_1
ns_11_2006_1
ns_12_2006_1
ns_13_2006_1
ns_14_2006_1
ns_15_2006_1
ns_16_2006_1
ns_17_2006_1
ns_18_2006_1
ns_19_2006_1
ns_20_2006_1
ns_21_2006_1
ns_22_2006_1
ns_23_2006_1
ns_24_2006_1
ns_25_2006_1
ns_26_2006_1
ns_27_2006_1
ns_28_2006_1
ns_29_2006_1
ns_30_2006_1
ns_31_2006_1
ns_32_2006_1
ns_33_2006_1
ns_34_2006_1
ns_35_2006_1
ns_36_2006_1
ns_37_2006_1
ns_38_2006_1
ns_39_2006_1
ns_40_2006_1
ns_41_2006_1
ns_42_2006_1
ns_43_2006_1
ns_44_2006_1
ns_45_2006_1
ns_46_2006_1
ns_47_2006_1
ns_48_2006_1
ns_49_2006_1
ns_01_2007_1
ns_02_2007_1
ns_03_2007_1
ns_04_2007_1
ns_05_2007_1
ns_06_2007_1
ns_07_2007_1
ns_08_2007_1
ns_09_2007_1
ns_10_2007_1
ns_11_2007_1
ns_12_2007_1
ns_13_2007_1
ns_14_2007_1
ns_15_2007_1
ns_16_2007_1
ns_17_2007_1
ns_18_2007_1
ns_19_2007_1
ns_20_2007_1
ns_21_2007_1
ns_22_2007_1
ns_23_2007_1
ns_24_2007_1
ns_25_2007_1
ns_26_2007_1
ns_27_2007_1
ns_28_2007_1
ns_29_2007_1
ns_30_2007_1
ns_31_2007_1
ns_32_2007_1
ns_33_2007_1
ns_34_2007_1
ns_35_2007_1
ns_36_2007_1
ns_37_2007_1
ns_38_2007_1
ns_39_2007_1
ns_40_2007_1
ns_41_2007_1
ns_42_2007_1
ns_43_2007_1
ns_44_2007_1
ns_45_2007_1
ns_46_2007_1
ns_47_2007_1
ns_48_2007_1
ns_49_2007_1
ns_01_2008_1
ns_02_2008_1
ns_03_2008_1
ns_04_2008_1
ns_05_2008_1
ns_06_2008_1
ns_07_2008_1
ns_08_2008_1
ns_09_2008_1
ns_10_2008_1
ns_11_2008_1
ns_12_2008_1
ns_13_2008_1
ns_14_2008_1
ns_15_2008_1
ns_16_2008_1
ns_17_2008_1
ns_18_2008_1
ns_19_2008_1
ns_20_2008_1
ns_21_2008_1
ns_22_2008_1
ns_23_2008_1
ns_24_2008_1
ns_25_2008_1
ns_26_2008_1
ns_27_2008_1
ns_28_2008_1
ns_29_2008_1
ns_30_2008_1
ns_31_2008_1
ns_32_2008_1
ns_33_2008_1
ns_34_2008_1
ns_35_2008_1
ns_36_2008_1
ns_37_2008_1
ns_38_2008_1
ns_39_2008_1
ns_40_2008_1
ns_41_2008_1
ns_42_2008_1
ns_43_2008_1
ns_44_2008_1
ns_45_2008_1
ns_46_2008_1
ns_47_2008_1
ns_48_2008_1
ns_49_2008_1
ns_50_2008_1
ns_01_2009_1
ns_02_2009_1
ns_03_2009_1
ns_04_2009_1
ns_05_2009_1
ns_06_2009_1
ns_07_2009_1
ns_08_2009_1
ns_09_2009_1
ns_10_2009_1
ns_11_2009_1
ns_12_2009_1
ns_13_2009_1
ns_14_2009_1
ns_15_2009_1
ns_16_2009_1
ns_17_2009_1
ns_18_2009_1
ns_19_2009_1
ns_20_2009_1
ns_21_2009_1
ns_22_2009_1
ns_23_2009_1
ns_24_2009_1
ns_25_2009_1
ns_26_2009_1
ns_27_2009_1
ns_28_2009_1
ns_29_2009_1
ns_30_2009_1
ns_31_2009_1
ns_32_2009_1
ns_33_2009_1
ns_34_2009_1
ns_35_2009_1
ns_36_2009_1
ns_37_2009_1
ns_38_2009_1
ns_39_2009_1
ns_40_2009_1
ns_41_2009_1
ns_42_2009_1
ns_43_2009_1
ns_44_2009_1
ns_45_2009_1
ns_46_2009_1
ns_47_2009_1
ns_48_2009_1
ns_49_2009_1
ns_01_2010_1
ns_02_2010_1
ns_03_2010_1
ns_04_2010_1
ns_05_2010_1
ns_06_2010_1
ns_07_2010_1
ns_08_2010_1
ns_09_2010_1
ns_10_2010_1
ns_11_2010_1
ns_12_2010_1
ns_13_2010_1
ns_14_2010_1
ns_15_2010_1
ns_16_2010_1
ns_17_2010_1
ns_18_2010_1
ns_19_2010_1
ns_20_2010_1
ns_21_2010_1
ns_22_2010_1
ns_23_2010_1
ns_24_2010_1
ns_25_2010_1
ns_26_2010_1
ns_27_2010_1
ns_28_2010_1
ns_29_2010_1
ns_30_2010_1
ns_31_2010_1
ns_32_2010_1
ns_33_2010_1
ns_34_2010_1
ns_35_2010_1
ns_36_2010_1
ns_37_2010_1
ns_38_2010_1
ns_39_2010_1
ns_40_2010_1
ns_41_2010_1
ns_42_2010_1
ns_43_2010_1
ns_44_2010_1
ns_45_2010_1
ns_46_2010_1
ns_47_2010_1
ns_48_2010_1
ns_49_2010_1
ns_01_2011_1
ns_02_2011_1
ns_03_2011_1
ns_04_2011_1
ns_05_2011_1
ns_06_2011_1
ns_07_2011_1
ns_08_2011_1
ns_09_2011_1
ns_10_2011_1
ns_11_2011_1
ns_12_2011_1
ns_13_2011_1
ns_14_2011_1
ns_15_2011_1
ns_16_2011_1
ns_17_2011_1
ns_18_2011_1
ns_19_2011_1
ns_20_2011_1
ns_21_2011_1
ns_22_2011_1
ns_23_2011_1
ns_24_2011_1
ns_25_2011_1
ns_26_2011_1
ns_27_2011_1
ns_28_2011_1
ns_29_2011_1
ns_30_2011_1
ns_31_2011_1
ns_32_2011_1
ns_33_2011_1
ns_34_2011_1
ns_35_2011_1
ns_36_2011_1
ns_37_2011_1
ns_38_2011_1
ns_39_2011_1
ns_40_2011_1
ns_41_2011_1
ns_42_2011_1
ns_43_2011_1
ns_44_2011_1
ns_45_2011_1
ns_46_2011_1
ns_47_2011_1
ns_48_2011_1
ns_49_2011_1
ns_01_2012_1
ns_02_2012_1
ns_03_2012_1
ns_04_2012_1
ns_05_2012_1
ns_06_2012_1
ns_07_2012_1
ns_08_2012_1
ns_09_2012_1
ns_10_2012_1
ns_11_2012_1
ns_12_2012_1
ns_13_2012_1
ns_14_2012_1
ns_15_2012_1
ns_16_2012_1
ns_17_2012_1
ns_18_2012_1
ns_19_2012_1
ns_20_2012_1
ns_21_2012_1
ns_22_2012_1
ns_23_2012_1
ns_24_2012_1
ns_25_2012_1
ns_26_2012_1
ns_27_2012_1
ns_28_2012_1
ns_29_2012_1
ns_30_2012_1
ns_31_2012_1
ns_32_2012_1
ns_33_2012_1
ns_34_2012_1
ns_35_2012_1
ns_36_2012_1
ns_37_2012_1
ns_38_2012_1
ns_39_2012_1
ns_40_2012_1
ns_41_2012_1
ns_42_2012_1
ns_43_2012_1
ns_44_2012_1
ns_45_2012_1
ns_46_2012_1
ns_47_2012_1
ns_48_2012_1
ns_49_2012_1

Number of rows in the concatenated dataframe: 763

In [24]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
globals()[f"old_{sector}_monthly_growth_rates"]

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,ene_2012,feb_2012,mar_2012,abr_2012,may_2012,jun_2012,jul_2012,ago_2012,sep_2012,oct_2012
0,1997,25,1997-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,26,1997-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,27,1997-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,28,1997-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,29,1997-08-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,2012,45,2012-11-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,8.6,7.1,6.6,7.4,7.5,7.8,6.5,5.9,NaN
759,2012,46,2012-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,8.6,7.1,6.6,7.4,7.5,7.8,6.5,5.9,NaN
760,2012,47,2012-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,8.6,7.1,6.6,7.4,7.5,7.8,6.5,5.9,NaN
761,2012,48,2012-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,8.6,7.1,6.6,7.4,7.5,7.8,6.5,5.9,NaN
762,2012,49,2012-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,8.6,7.1,6.6,7.4,7.5,7.8,6.5,5.9,7.8

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">GDP final revision dataset</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
This section creates the final revisions dataset of Peru's GDP growth.
<div/>

<div id="4-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Annual revisions
    </span>
    </h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
We calculate the <b>final revision</b> as the <b>difference</b> between the <b>last annual release</b> and the <b>first annual release</b> of the GDP growth rate.
<div/>

In [ ]:
# Calculate the difference between the last and the first non-NaN value for each column, except 'year', 'ns_id' and 'date'.
#revision = globals()[f"old_{sector}_annual_growth_rates"].drop(columns=['year', 'id_ns', 'date']).apply(lambda x: x.loc[x.last_valid_index()] - x.loc[x.first_valid_index()])

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Annual revisions as dataframe
<div/>

In [ ]:
# Set the columns name
#globals()[f"old_{sector}_annual_revisions"] = pd.DataFrame({'revision_date': revision.index, f'{sector}_revision': revision.values})
#globals()[f"old_{sector}_annual_revisions"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Clean-up the revision_date column
<div/>

In [ ]:
# Extract the year from the string and convert it to an integer type
#globals()[f"old_{sector}_annual_revisions"]['year'] = globals()[f"old_{sector}_annual_revisions"]['revision_date'].str.extract(r'(\d+)')

# Create an auxiliary column to generate the values extracted from the year
#globals()[f"old_{sector}_annual_revisions"]['year'] = globals()[f"old_{sector}_annual_revisions"]['year'].astype(int)

# Convert revision_date column values as dates
#globals()[f"old_{sector}_annual_revisions"]['revision_date'] = pd.to_datetime(globals()[f"old_{sector}_annual_revisions"]['year'], format='%Y')

# Delete the auxiliary column 'year'
#globals()[f"old_{sector}_annual_revisions"].drop(columns=['year'], inplace=True)

# Display the result
#globals()[f"old_{sector}_annual_revisions"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Quarterly revisions
    </span>
    </h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
We calculate the <b>final revision</b> as the <b>difference</b> between the <b>last quarterly release</b> and the <b>first quarterly release</b> of the GDP growth rate.
<div/>

In [ ]:
# Calculate the difference between the last and the first non-NaN value for each column, except 'year', 'ns_id' and 'date'.
#revision = globals()[f"old_{sector}_quarterly_growth_rates"].drop(columns=['year', 'id_ns', 'date']).apply(lambda x: x.loc[x.last_valid_index()] - x.loc[x.first_valid_index()])

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Quarterly revisions as dataframe
<div/>

In [ ]:
# Set the columns name
#globals()[f"old_{sector}_quarterly_revisions"] = pd.DataFrame({'revision_date': revision.index, f'{sector}_revision': revision.values})
#globals()[f"old_{sector}_quarterly_revisions"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Clean-up the revision_date column
<div/>

In [ ]:
# Convert column 'revision_date' to date data type
#globals()[f"old_{sector}_quarterly_revisions"]['revision_date'] = pd.to_datetime(globals()[f"old_{sector}_quarterly_revisions"]['revision_date'], format='%Y_%m')

# Display the result
#globals()[f"old_{sector}_quarterly_revisions"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4-3">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.3.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Monthly revisions
    </span>
    </h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
We calculate the <b>final revision</b> as the <b>difference</b> between the <b>last monthly release</b> and the <b>first monthly release</b> of the GDP growth rate.
<div/>

In [ ]:
# Calculate the difference between the last and the first non-NaN value for each column, except 'year', 'ns_id' and 'date'.
#revision = globals()[f"old_{sector}_monthly_growth_rates"].drop(columns=['year', 'id_ns', 'date']).apply(lambda x: x.loc[x.last_valid_index()] - x.loc[x.first_valid_index()])

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Monthly revisions as dataframe
<div/>

In [ ]:
# Set the columns name
#globals()[f"old_{sector}_monthly_revisions"] = pd.DataFrame({'revision_date': revision.index, f'{sector}_revision': revision.values})
#globals()[f"old_{sector}_monthly_revisions"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Clean-up dataframe
<div/>

In [ ]:
# Extract the month and year from the column 'revision_date'
#globals()[f"old_{sector}_monthly_revisions"]['month'] = globals()[f"old_{sector}_monthly_revisions"]['revision_date'].str.split('_').str[0]
#globals()[f"old_{sector}_monthly_revisions"]['year'] = globals()[f"old_{sector}_monthly_revisions"]['revision_date'].str.split('_').str[1]

# Match the names of the months to their respective numbers
#month_mapping = {
#    'ene': '01', 'feb': '02', 'mar': '03', 'abr': '04',
#    'may': '05', 'jun': '06', 'jul': '07', 'ago': '08',
#    'sep': '09', 'oct': '10', 'nov': '11', 'dic': '12'
#}

#globals()[f"old_{sector}_monthly_revisions"]['month'] = globals()[f"old_{sector}_monthly_revisions"]['month'].map(month_mapping)

# Create a new column with the date in YYYYY-MM-DD format
#globals()[f"old_{sector}_monthly_revisions"]['revision_date'] = globals()[f"old_{sector}_monthly_revisions"]['year'] + '-' + globals()[f"old_{sector}_monthly_revisions"]['month']

# Convert column 'revision_date' to date data type
#globals()[f"old_{sector}_monthly_revisions"]['revision_date'] = pd.to_datetime(globals()[f"old_{sector}_monthly_revisions"]['revision_date'], format='%Y-%m')

# Remove temporary columns 'month' and 'year'
#globals()[f"old_{sector}_monthly_revisions"].drop(['month', 'year'], axis=1, inplace=True)

# Display the result
#globals()[f"old_{sector}_monthly_revisions"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="5">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Uploading data to SQL</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Finally, we upload all the datasets generated in this jupyter notebook to the <code>'gdp_revisions_datasets'</code> database of <code>PostgresSQL</code>.
<div/>

In [25]:
engine = create_sqlalchemy_engine()

<div id="5-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Vintages
    </span>
    </h2>

In [ ]:
#globals()[f"old_{sector}_annual_growth_rates"].to_sql(f'old_{sector}_annual_growth_rates', engine, index=False, if_exists='replace')

In [ ]:
#globals()[f"old_{sector}_quarterly_growth_rates"].to_sql(f'old_{sector}_quarterly_growth_rates', engine, index=False, if_exists='replace')

In [26]:
globals()[f"old_{sector}_monthly_growth_rates"].to_sql(f'old_{sector}_monthly_growth_rates', engine, index=False, if_exists='replace')

118

<div id="5-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Revisions
    </span>
    </h2>

In [ ]:
#globals()[f"old_{sector}_annual_revisions"].to_sql(f'old_{sector}_annual_revisions', engine, index=False, if_exists='replace')

In [ ]:
#globals()[f"old_{sector}_quarterly_revisions"].to_sql(f'old_{sector}_quarterly_revisions', engine, index=False, if_exists='replace')

In [ ]:
#globals()[f"old_{sector}_monthly_revisions"].to_sql(f'old_{sector}_monthly_revisions', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#select" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#select" style="color: rgb(255, 32, 78); text-decoration: none;">Back to economic sectors.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

---