<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h1>
Old GDP Revisions Datasets
</h1>
</div>

<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h3>
Documentation
<br>
____________________
<br>
</h3>
</div>

<div style="text-align: center; font-family: 'PT Serif Pro Book'; color: rgb(0, 65, 75); font-size: 16px;">
    Jason Cruz
    <br>
    <a href="mailto:jj.cruza@up.edu.pe" style="color: rgb(0, 153, 123); font-size: 16px;">
        jj.cruza@up.edu.pe
    </a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
This <span style="color: rgb(0, 65, 75);">jupyter notebook</span> documents step-by-step the <b>construction of old datasets</b> for the project <b>'Revisions and Biases in Preliminary GDP Estimates in Peru'</b>.

This jupyter notebook goes from the cleaning of the tables (Weekly Reports, WR) provided confidentially by the Central Bank to the construction of the <b>vintages</b> and <b>revisions</b> datasets from 1994-2024.
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;line-height: 1.5;">
<span style="font-size: 24px;">&#128196;</span> The Weekly Report/<i>Nota Semanal</i> (WR/<i>NS</i>) of the Central Bank.
    <br>
    <span style="font-size: 24px;">&#8987;</span> Available since <b>1994-2012</b> (Table 1) and since <b>1997-2012</b> (Table 2). 
    <br>
</div>

<div style="font-family: Amaya; text-align: left; color: rgb(0, 65, 75); font-size:16px">The following <b>outline is functional</b>. By utilising the provided buttons, users are able to enhance their experience by browsing this script.<div/>

<div id="outilne">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #292929; padding: 10px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #E0E0E0;">
        Outline
    </h2>
    <br>
    <a href="#libraries" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Libraries</a>
    <br>
    <a href="#setup" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Initial set-up</a>
    <br>
    <a href="#1" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        1. Duplicate tables for all other NS ids</a>
    <br>
    <a href="#1-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        1.1. Table 1.</a>
    <br>
    <a href="#1-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        1.2. Table 2.</a>
    <br>
    <a href="#2" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        2. Data cleaning</a>
    <br>
    <a href="#2-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.1. Extracting tables and data cleanup.</a>
    <br>
    <a href="#2-1-1" style="color: #94FFD8; font-size: 14px; margin-left: 40px;">
        2.1.1. Table 1. Extraction and cleaning of data from tables on monthly real GDP growth rates.</a>
    <br>
    <a href="#2-1-2" style="color: #94FFD8; font-size: 14px; margin-left: 40px;">
        2.1.2. Table 2. Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.</a>
    <br>
    <a href="#3" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">3. Real-time data of Peru's GDP growth rates</a>
    <br>
    <a href="#3-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.1. Annual vintages concatenation.</a>
    <br>
    <a href="#3-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.2. Quarterly vintages concatenation.</a>
    <br>
    <a href="#3-3" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.3. Monthly vintages concatenation.</a>
    <br>
    <a href="#3-4" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.4. Loading SQL.</a>
    <br>
    <a href="#4" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">4. GDP final revision dataset</a>
    <br>
    <a href="#4-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.1. Annual revisions.</a>
    <br>
    <a href="#4-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.2. Quarterly revisions.</a>
    <br>
    <a href="#4-3" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.3. Monthly revisions.</a>
    <br>
    <a href="#5" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">5. Uploading data to SQL</a>
    <br>
    <a href="#5-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.1. Vintages.</a>
    <br>
    <a href="#5-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.2. Revisions.</a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Any questions or issues regarding the coding, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"><span style="font-size: 24px;">&#x2709;</span>
    </a>.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    If you don't have the libraries below, please use the following code (as example) to install the required libraries.
    <div/>

In [ ]:
#!pip install os # Comment this code with "#" if you have already installed this library.

<div id="libraries">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'charter'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [1]:
# 1. Duplicate tables for all other NS ids
#-------------------------------------------------------------------------------------------------------------------------------
# 1.1. Table 1

import os
import shutil
import psycopg2
import pandas as pd



# 2. Data cleaning
#-------------------------------------------------------------------------------------------------------------------------------

# 2.2. Extracting tables and data cleanup

import pandas as pd  # For data manipulation and analysis
import unicodedata  # For manipulating Unicode data
import re  # For regular expressions operations
from datetime import datetime  # For working with dates and times
import locale  # For locale-specific formatting of numbers, dates, and currencies
import numpy as np
import unidecode

# 2.2.1. Table 1. Extraction and cleaning of data from tables on monthly real GDP growth rates.

import tabula  # Used to extract tables from PDF files into pandas DataFrames
from tkinter import Tk, messagebox, TOP, YES, NO  # Used for creating graphical user interfaces
from sqlalchemy import create_engine  # Used for connecting to and interacting with SQL databases

# 2.2.2. Table 2. Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.

import roman
from datetime import datetime


# 3. Real-time data of Peru's GDP growth rates
#-------------------------------------------------------------------------------------------------------------------------------

import psycopg2  # For interacting with PostgreSQL databases
from sqlalchemy import create_engine, text  # For creating and executing SQL queries using SQLAlchemy

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="setup">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Initial set-up
    </h2>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Setting the base path. <div/>

In [42]:
# Ask the user for the base path
base_path = input("Please enter your base path to set your main working directory, then press enter: \n")

# Check if the path is valid
if os.path.isdir(base_path):
    print(f"Correctly defined base path.")
    os.chdir(base_path)
else:
    print("The entered path is not valid. Please try again.")

Please enter your base path to set your main working directory, then press enter:
C:\Users\Jason Cruz\OneDrive\Documentos\Research Assistant\CIUP\GDP Revisions\gdp_revisions\old_database
Correctly defined base path.

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    Download the <code>.zip</code> files of <code>table_1</code> and <code>table_2</code> and paste them into <code>raw_data</code> and <code>input_data</code> paths set below. 
    <p>
     Note that the missing data will be filled in <code>input_data</code> in <a href="#1" style="color: rgb(0, 153, 123); font-size: 16px;">Section 1</a>. Then the changes will actually occur in the <code>input_data</code> folder. However, we created <code>raw_data</code> to map the tables as they were delivered by the Central Bank, i.e. the raw data delivered (without any transformation).
       </p>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

In [43]:
# Folder path to save csv files delivered by Central Bank 
raw_data = 'raw_data' # to save raw data (.csv).
if not os.path.exists(raw_data):
    os.mkdir(raw_data) # to create the folder (if it doesn't exist)

In [44]:
# Folder path to save csv files delivered by Central Bank as inputs (duplicated for all NS id) 
input_data = 'input_data' # to save input data (.csv).
if not os.path.exists(input_data):
    os.mkdir(input_data) # to create the folder (if it doesn't exist)

In [45]:
# Folder path to save csv files delivered by Central Bank (Table 1)
table_1_folder = os.path.join(input_data, 'table_1') # to save raw data (.csv).
if not os.path.exists(table_1_folder):
    os.mkdir(table_1_folder) # to create the folder (if it doesn't exist)

In [46]:
# Folder path to save csv files delivered by Central Bank (Table 2)
table_2_folder = os.path.join(input_data, 'table_2') # to save raw data (.csv).
if not os.path.exists(table_2_folder):
    os.mkdir(table_2_folder) # to create the folder (if it doesn't exist)

In [47]:
# Folder path to save dataframes generated record by year

dataframes_record = 'dataframes_record'
if not os.path.exists(dataframes_record):
    os.makedirs(dataframes_record) # to create the folder (if it doesn't exist)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

<p style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following function will establish a connection to the <code>gdp_revisions_datasets</code> database in <code>PostgreSQL</code>. The <b>input data</b> used in this jupyter notebook will be loaded from this <code>PostgreSQL</code> database, and similarly, all <b>output data</b> generated by this jupyter notebook will be stored in that database. Ensure that you set the necessary parameters to access the server once you have obtained the required permissions.<p/>
    
<p style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
To request permissions, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"> <span style="font-size: 24px;">&#x2709;</span>
    </a>.
<p/>

In [7]:
def create_sqlalchemy_engine():
    """
    Function to create an SQLAlchemy engine using environment variables.
    
    Returns:
        engine: SQLAlchemy engine object.
    """
    # Get environment variables
    user = os.environ.get('CIUP_SQL_USER')  # Get the SQL user from environment variables
    password = os.environ.get('CIUP_SQL_PASS')  # Get the SQL password from environment variables
    host = os.environ.get('CIUP_SQL_HOST')  # Get the SQL host from environment variables
    port = 5432  # Set the SQL port to 5432
    database = 'gdp_revisions_datasets'  # Set the database name 'gdp_revisions_datasets' from SQL

    # Check if all environment variables are defined
    if not all([host, user, password]):
        raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

    # Create connection string
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

    # Create SQLAlchemy engine
    engine = create_engine(connection_string)
    
    return engine

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Import all other functions required by this jupyter notebook.
    </span>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Please, check the script <code>gdp_revisions_datasets_functions.py</code> which contains all the functions required by this jupyter notebook. The functions there are ordered according to the <a href="#outilne" style="color: #3d30a2;">sections</a> of this jupyter notebok.<div/>

In [8]:
from old_gdp_revisions_datasets_functions import *
from gdp_revisions_datasets_functions import *

pygame 2.5.2 (SDL 2.28.3, Python 3.12.1)
Hello from the pygame community. https://www.pygame.org/contribute.html

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;; color: dark;">1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Duplicate tables for all other NS ids</span></h1>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
    <p>The Central Bank has provided us with confidential data for Table 1 (1994-2012) and Table 2 (1997-2012). However, in each year we have been provided from the tables where the revisions occurred or, more generally, where the Central Bank has received from INEI the updated information of all NS tables.</p>
    
   <p>So, we will duplicate these tables to complete the total NS per year (50 approximately due to the number of weeks per year).</p>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
The following code imports the data containing the dummies of the tables that were delivered by the Central Bank (1 if the table was delivered and 0 if it was not) from SQL 
    <div/>

In [18]:
# Connect to PostgresSQL
engine = create_sqlalchemy_engine()

# Define SQL query to import data
query = f"SELECT * FROM old_raw_data_delivered"

# Importing data into a pandas DataFrame
df = pd.read_sql(query, engine)

<div id="1-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">1.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Table 1
    </span>
    </h2>

In [19]:
# Process each year
for year in range(2010, 2013): # Please change your preferred year range
    df_year = df[df['year'] == year]
    duplicate_files_table_1(year, df_year, table_1_folder)

No existing file to duplicate for ns-01-2010.csv
No existing file to duplicate for ns-02-2010.csv
Duplicated ns-04-2010.csv to ns-05-2010.csv
Duplicated ns-04-2010.csv to ns-06-2010.csv
Duplicated ns-08-2010.csv to ns-09-2010.csv
Duplicated ns-08-2010.csv to ns-10-2010.csv
Duplicated ns-11-2010.csv to ns-12-2010.csv
Duplicated ns-11-2010.csv to ns-13-2010.csv
Duplicated ns-11-2010.csv to ns-14-2010.csv
Duplicated ns-15-2010.csv to ns-16-2010.csv
Duplicated ns-15-2010.csv to ns-17-2010.csv
Duplicated ns-15-2010.csv to ns-18-2010.csv
Duplicated ns-19-2010.csv to ns-20-2010.csv
Duplicated ns-19-2010.csv to ns-21-2010.csv
Duplicated ns-19-2010.csv to ns-22-2010.csv
Duplicated ns-23-2010.csv to ns-24-2010.csv
Duplicated ns-23-2010.csv to ns-25-2010.csv
Duplicated ns-23-2010.csv to ns-26-2010.csv
Duplicated ns-23-2010.csv to ns-27-2010.csv
Duplicated ns-28-2010.csv to ns-29-2010.csv
Duplicated ns-28-2010.csv to ns-30-2010.csv
Duplicated ns-31-2010.csv to ns-32-2010.csv
Duplicated ns-31-2010.csv to ns-33-2010.csv
Duplicated ns-31-2010.csv to ns-34-2010.csv
Duplicated ns-31-2010.csv to ns-35-2010.csv
Duplicated ns-36-2010.csv to ns-37-2010.csv
Duplicated ns-36-2010.csv to ns-38-2010.csv
Duplicated ns-36-2010.csv to ns-39-2010.csv
Duplicated ns-40-2010.csv to ns-41-2010.csv
Duplicated ns-40-2010.csv to ns-42-2010.csv
Duplicated ns-40-2010.csv to ns-43-2010.csv
Duplicated ns-44-2010.csv to ns-45-2010.csv
Duplicated ns-44-2010.csv to ns-46-2010.csv
Duplicated ns-44-2010.csv to ns-47-2010.csv
Duplicated ns-48-2010.csv to ns-49-2010.csv
Duplicated ns-49-2010.csv to ns-01-2011.csv
Duplicated ns-49-2010.csv to ns-02-2011.csv
Duplicated ns-03-2011.csv to ns-04-2011.csv
Duplicated ns-03-2011.csv to ns-05-2011.csv
Duplicated ns-03-2011.csv to ns-06-2011.csv
Duplicated ns-08-2011.csv to ns-09-2011.csv
Duplicated ns-08-2011.csv to ns-10-2011.csv
Duplicated ns-11-2011.csv to ns-12-2011.csv
Duplicated ns-11-2011.csv to ns-13-2011.csv
Duplicated ns-11-2011.csv to ns-14-2011.csv
Duplicated ns-11-2011.csv to ns-15-2011.csv
Duplicated ns-16-2011.csv to ns-17-2011.csv
Duplicated ns-16-2011.csv to ns-18-2011.csv
Duplicated ns-19-2011.csv to ns-20-2011.csv
Duplicated ns-19-2011.csv to ns-21-2011.csv
Duplicated ns-19-2011.csv to ns-22-2011.csv
Duplicated ns-24-2011.csv to ns-25-2011.csv
Duplicated ns-24-2011.csv to ns-26-2011.csv
Duplicated ns-24-2011.csv to ns-27-2011.csv
Duplicated ns-28-2011.csv to ns-29-2011.csv
Duplicated ns-28-2011.csv to ns-30-2011.csv
Duplicated ns-31-2011.csv to ns-32-2011.csv
Duplicated ns-31-2011.csv to ns-33-2011.csv
Duplicated ns-31-2011.csv to ns-34-2011.csv
Duplicated ns-31-2011.csv to ns-35-2011.csv
Duplicated ns-36-2011.csv to ns-37-2011.csv
Duplicated ns-36-2011.csv to ns-38-2011.csv
Duplicated ns-36-2011.csv to ns-39-2011.csv
Duplicated ns-40-2011.csv to ns-41-2011.csv
Duplicated ns-40-2011.csv to ns-42-2011.csv
Duplicated ns-40-2011.csv to ns-43-2011.csv
Duplicated ns-44-2011.csv to ns-45-2011.csv
Duplicated ns-44-2011.csv to ns-46-2011.csv
Duplicated ns-44-2011.csv to ns-47-2011.csv
Duplicated ns-44-2011.csv to ns-48-2011.csv
Duplicated ns-49-2011.csv to ns-01-2012.csv
Duplicated ns-49-2011.csv to ns-02-2012.csv
Duplicated ns-03-2012.csv to ns-04-2012.csv
Duplicated ns-03-2012.csv to ns-05-2012.csv
Duplicated ns-03-2012.csv to ns-06-2012.csv
Duplicated ns-03-2012.csv to ns-07-2012.csv
Duplicated ns-08-2012.csv to ns-09-2012.csv
Duplicated ns-08-2012.csv to ns-10-2012.csv
Duplicated ns-08-2012.csv to ns-11-2012.csv
Duplicated ns-12-2012.csv to ns-13-2012.csv
Duplicated ns-12-2012.csv to ns-14-2012.csv
Duplicated ns-15-2012.csv to ns-16-2012.csv
Duplicated ns-15-2012.csv to ns-17-2012.csv
Duplicated ns-15-2012.csv to ns-18-2012.csv
Duplicated ns-19-2012.csv to ns-20-2012.csv
Duplicated ns-19-2012.csv to ns-21-2012.csv
Duplicated ns-19-2012.csv to ns-22-2012.csv
Duplicated ns-19-2012.csv to ns-23-2012.csv
Duplicated ns-25-2012.csv to ns-26-2012.csv
Duplicated ns-25-2012.csv to ns-27-2012.csv
Duplicated ns-28-2012.csv to ns-29-2012.csv
Duplicated ns-28-2012.csv to ns-30-2012.csv
Duplicated ns-31-2012.csv to ns-32-2012.csv
Duplicated ns-31-2012.csv to ns-33-2012.csv
Duplicated ns-31-2012.csv to ns-34-2012.csv
Duplicated ns-31-2012.csv to ns-35-2012.csv
Duplicated ns-36-2012.csv to ns-37-2012.csv
Duplicated ns-36-2012.csv to ns-38-2012.csv
Duplicated ns-36-2012.csv to ns-39-2012.csv
Duplicated ns-40-2012.csv to ns-41-2012.csv
Duplicated ns-40-2012.csv to ns-42-2012.csv
Duplicated ns-40-2012.csv to ns-43-2012.csv
Duplicated ns-40-2012.csv to ns-44-2012.csv
Duplicated ns-45-2012.csv to ns-46-2012.csv
Duplicated ns-45-2012.csv to ns-47-2012.csv
Duplicated ns-45-2012.csv to ns-48-2012.csv

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">1.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Table 2
    </span>
    </h2>

In [20]:
# Process each year
for year in range(2011, 2012): # Please change your preferred year range
    df_year = df[df['year'] == year]
    duplicate_files_table_2(year, df_year, table_2_folder)

Duplicated ns-45-2010.csv to ns-01-2011.csv
Duplicated ns-45-2010.csv to ns-02-2011.csv
Duplicated ns-45-2010.csv to ns-03-2011.csv
Duplicated ns-45-2010.csv to ns-04-2011.csv
Duplicated ns-45-2010.csv to ns-05-2011.csv
Duplicated ns-45-2010.csv to ns-06-2011.csv
Duplicated ns-45-2010.csv to ns-07-2011.csv
Duplicated ns-08-2011.csv to ns-09-2011.csv
Duplicated ns-08-2011.csv to ns-10-2011.csv
Duplicated ns-11-2011.csv to ns-12-2011.csv
Duplicated ns-11-2011.csv to ns-13-2011.csv
Duplicated ns-11-2011.csv to ns-14-2011.csv
Duplicated ns-11-2011.csv to ns-15-2011.csv
Duplicated ns-11-2011.csv to ns-16-2011.csv
Duplicated ns-11-2011.csv to ns-17-2011.csv
Duplicated ns-11-2011.csv to ns-18-2011.csv
Duplicated ns-11-2011.csv to ns-19-2011.csv
Duplicated ns-20-2011.csv to ns-21-2011.csv
Duplicated ns-20-2011.csv to ns-22-2011.csv
Duplicated ns-23-2011.csv to ns-24-2011.csv
Duplicated ns-23-2011.csv to ns-25-2011.csv
Duplicated ns-23-2011.csv to ns-26-2011.csv
Duplicated ns-23-2011.csv to ns-27-2011.csv
Duplicated ns-23-2011.csv to ns-28-2011.csv
Duplicated ns-23-2011.csv to ns-29-2011.csv
Duplicated ns-23-2011.csv to ns-30-2011.csv
Duplicated ns-23-2011.csv to ns-31-2011.csv
Duplicated ns-32-2011.csv to ns-33-2011.csv
Duplicated ns-32-2011.csv to ns-34-2011.csv
Duplicated ns-32-2011.csv to ns-35-2011.csv
Duplicated ns-32-2011.csv to ns-36-2011.csv
Duplicated ns-32-2011.csv to ns-37-2011.csv
Duplicated ns-32-2011.csv to ns-38-2011.csv
Duplicated ns-32-2011.csv to ns-39-2011.csv
Duplicated ns-32-2011.csv to ns-40-2011.csv
Duplicated ns-32-2011.csv to ns-41-2011.csv
Duplicated ns-32-2011.csv to ns-42-2011.csv
Duplicated ns-32-2011.csv to ns-43-2011.csv
Duplicated ns-32-2011.csv to ns-44-2011.csv
Duplicated ns-45-2011.csv to ns-46-2011.csv
Duplicated ns-45-2011.csv to ns-47-2011.csv
Duplicated ns-45-2011.csv to ns-48-2011.csv
Duplicated ns-45-2011.csv to ns-49-2011.csv

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;; color: dark;">2.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Data cleaning</span></h1>

<div id="2-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Extracting tables and data cleanup
    </span>
    </h2>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
<p>     
PENDING
</p>
<div/>

<div id="2-1-1">
   <!-- Contenido de la celda de destino -->
</div>

<h3><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    <span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">Table 1.</span> Extraction and cleaning of data from tables on monthly real GDP growth rates.
    </span>
    </h3>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please check that the flat file <b>"ns_dates.csv"</b> is updated with the dates, years and ids for the newly downloaded PDF <span style="font-size: 24px;">&#128462;</span> (WR). That file is located in the <b>"ns_dates"</b> folder and is uploaded to SQL from the jupyeter notebook <code>aux_files_to_sql.ipynb</code>
    </span>
</div>

In [65]:
# Lee el archivo CSV con el delimitador ';'
df = pd.read_csv('C:\\Users\\Jason Cruz\\OneDrive\\Documentos\\Research Assistant\\CIUP\\GDP Revisions\\gdp_revisions\\old_database\\input_data\\table_1\\1994\\ns-03-1994.csv', delimiter=';')
df.columns[1]

'economic_sectors'

In [48]:
# Set the locale to Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Dictionary to store generated DataFrames
old_dataframes_dict_1 = {}

# Path for the processed folders log file
record_path = 'dataframes_record/old_processed_folders_1.txt'

# Function to correct month names
def correct_month_name(month):
    months_mapping = {
        'setiembre': 'septiembre',
        # Add more mappings as needed for other month names
    }
    return months_mapping.get(month, month)

# Function to register processed folder
def register_processed_folder(folder, num_processed_files):
    with open(record_path, 'a') as file:
        file.write(f"{folder}:{num_processed_files}\n")

# Function to check if folder has been processed
def folder_processed(folder):
    if not os.path.exists(record_path):
        return False
    with open(record_path, 'r') as file:
        for line in file:
            if line.startswith(folder):
                return True
    return False

# Function to fetch date from database
def get_date(df, engine):
    id_ns = df['id_ns'].iloc[0]
    year = df['year'].iloc[0]
    query = f"SELECT date FROM dates_growth_rates WHERE id_ns = '{id_ns}' AND year = '{year}';"
    date_result = pd.read_sql(query, engine)
    return date_result.iloc[0, 0] if not date_result.empty else None

def process_csv(csv_path, engine):
    old_tables_dict_1 = {}  # Local dictionary for each CSV
    table_counter = 1

    filename = os.path.basename(csv_path)
    id_ns_year_matches = re.findall(r'ns-(\d+)-(\d{4})', filename)
    if id_ns_year_matches:
        id_ns, year = id_ns_year_matches[0]
    else:
        print("No matches found for id_ns and year in filename:", filename)
        return None, None, None, None # Return None for tables_dict_1 as well

    new_filename = os.path.splitext(os.path.basename(csv_path))[0].replace('-', '_')

    df = pd.read_csv(csv_path, delimiter=';')
    
    dataframe_name = f"{new_filename}_{table_counter}"
    old_tables_dict_1[dataframe_name] = df.copy()

    # Apply cleanup functions to a copy of the DataFrame
    df_clean = df.copy()

    # Conditional cleaning based on the first column
    if df_clean.columns[1] == 'economic_sectors':
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)
    else:
        # Cleaning functions (set as required)
        df_clean = clean_column_names(df_clean)
        df_clean = adjust_column_names(df_clean)
        df_clean = drop_rare_caracter_row(df_clean)
        df_clean = drop_nan_rows(df_clean)
        df_clean = drop_nan_columns(df_clean)
        df_clean = reset_index(df_clean)
        df_clean = remove_digit_slash(df_clean)
        df_clean = replace_var_perc_first_column(df_clean)
        df_clean = replace_var_perc_last_columns(df_clean)
        df_clean = replace_number_moving_average(df_clean)
        df_clean = relocate_last_column(df_clean)
        df_clean = clean_first_row(df_clean)
        df_clean = find_year_column(df_clean)
        year_columns = extract_years(df_clean)
        df_clean = get_months_sublist_list(df_clean, year_columns)
        df_clean = first_row_columns(df_clean)
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)

    # Add the column 'year' to the clean DataFrame
    df_clean.insert(0, 'year', year)
    
    # Add the column 'id_ns' to the clean DataFrame
    df_clean.insert(1, 'id_ns', id_ns)
    
    # Get corresponding date from database
    date = get_date(df_clean, engine)
    if date:
        # Add 'date' column to cleaned DataFrame
        df_clean.insert(2, 'date', date)
    else:
        print("Date not found in database for id_ns:", id_ns, "and year:", year)

    # Store cleaned DataFrame in old_dataframes_dict_1
    old_dataframes_dict_1[dataframe_name] = df_clean

    return id_ns, year, old_tables_dict_1

# Function to process folder
def process_folder(folder, engine):
    print(f"Processing folder {os.path.basename(folder)}")
    csv_files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.csv')]

    num_csv_processed = 0
    num_dataframes_generated = 0

    table_counter = 1  # Initialize table counter here
    old_tables_dict_1 = {}  # Declare old_tables_dict_1 outside main loop
    
    for csv_file in csv_files:
        id_ns, year, tables_dict_temp = process_csv(csv_file, engine)

        if tables_dict_temp:
            for dataframe_name, df in tables_dict_temp.items():
                file_name = os.path.splitext(os.path.basename(csv_file))[0].replace('-', '_')
                dataframe_name = f"{file_name}_{table_counter}"
                
                # Store raw DataFrame in old_tables_dict_1
                old_tables_dict_1[dataframe_name] = df.copy()
                
                # Apply cleanup functions to a copy of the DataFrame
                df_clean = df.copy()

                # Conditional cleaning based on the first column
                if df_clean.columns[1] == 'economic_sectors':
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                else:
                    # Cleaning functions (set as required)
                    df_clean = clean_column_names(df_clean)
                    df_clean = adjust_column_names(df_clean)
                    df_clean = drop_rare_caracter_row(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = drop_nan_columns(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = remove_digit_slash(df_clean)
                    df_clean = replace_var_perc_first_column(df_clean)
                    df_clean = replace_var_perc_last_columns(df_clean)
                    df_clean = replace_number_moving_average(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = find_year_column(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = get_months_sublist_list(df_clean, year_columns)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)

                # Add the column 'year' to the clean DataFrame
                df_clean.insert(0, 'year', year)

                # Add the column 'id_ns' to the clean DataFrame
                df_clean.insert(1, 'id_ns', id_ns)

                # Get corresponding date from database
                date = get_date(df_clean, engine)
                if date:
                    # Add 'date' column to cleaned DataFrame
                    df_clean.insert(2, 'date', date)
                else:
                    print("Date not found in database for id_ns:", id_ns, "and year:", year)

                # Store cleaned DataFrame in old_dataframes_dict_1
                old_dataframes_dict_1[dataframe_name] = df_clean

                print(f'  {table_counter}. The dataframe generated for the {csv_file} file is: {dataframe_name}')
                num_dataframes_generated += 1
                table_counter += 1  # Increment table counter here
        
        num_csv_processed += 1  # Increment number of processed CSV for each CSV in folder

    return num_csv_processed, num_dataframes_generated, old_tables_dict_1

def process_folders():
    csv_folder = table_1_folder
    folders = [os.path.join(csv_folder, d) for d in os.listdir(csv_folder) if os.path.isdir(os.path.join(csv_folder, d)) and re.match(r'\d{4}', d)]
    
    old_tables_dict_1 = {}  # Initialize old_tables_dict_1 here
    
    for folder in folders:
        if folder_processed(folder):
            print(f"Folder {folder} has already been processed.")
            continue
        
        num_csv_processed, num_dataframes_generated, tables_dict_temp = process_folder(folder, engine)
        
        # Update old_tables_dict_1 with values returned from process_folder()
        old_tables_dict_1.update(tables_dict_temp)
        
        register_processed_folder(folder, num_csv_processed)

        # Ask user if they want to continue with next folder
        root = Tk()
        root.withdraw()
        root.attributes('-topmost', True)  # Ensure the messagebox is in front
        message = f"Process {folder} complete. Processed {num_csv_processed} CSV(s) and generated {num_dataframes_generated} DataFrame(s). Continue with next folder?"
        if not messagebox.askyesno("Continue?", message):
            break
            
    print("Processing completed for all folders.")  # Add a message to indicate completion
    
    return old_tables_dict_1

if __name__ == "__main__":
    engine = create_sqlalchemy_engine()
    old_tables_dict_1 = process_folders()

Processing folder 1994
  1. El dataframe generado para el archivo input_data\table_1\1994\ns-03-1994.csv es: ns_03_1994_1
  2. El dataframe generado para el archivo input_data\table_1\1994\ns-06-1994.csv es: ns_06_1994_2
  3. El dataframe generado para el archivo input_data\table_1\1994\ns-09-1994.csv es: ns_09_1994_3
  4. El dataframe generado para el archivo input_data\table_1\1994\ns-13-1994.csv es: ns_13_1994_4
  5. El dataframe generado para el archivo input_data\table_1\1994\ns-20-1994.csv es: ns_20_1994_5
  6. El dataframe generado para el archivo input_data\table_1\1994\ns-22-1994.csv es: ns_22_1994_6
  7. El dataframe generado para el archivo input_data\table_1\1994\ns-25-1994.csv es: ns_25_1994_7
  8. El dataframe generado para el archivo input_data\table_1\1994\ns-31-1994.csv es: ns_31_1994_8
  9. El dataframe generado para el archivo input_data\table_1\1994\ns-33-1994.csv es: ns_33_1994_9
  10. El dataframe generado para el archivo input_data\table_1\1994\ns-37-1994.csv es: ns_37_1994_10
  11. El dataframe generado para el archivo input_data\table_1\1994\ns-43-1994.csv es: ns_43_1994_11
  12. El dataframe generado para el archivo input_data\table_1\1994\ns-49-1994.csv es: ns_49_1994_12
Processing folder 1995
  1. El dataframe generado para el archivo input_data\table_1\1995\ns-01-1995.csv es: ns_01_1995_1
  2. El dataframe generado para el archivo input_data\table_1\1995\ns-07-1995.csv es: ns_07_1995_2
  3. El dataframe generado para el archivo input_data\table_1\1995\ns-13-1995.csv es: ns_13_1995_3
  4. El dataframe generado para el archivo input_data\table_1\1995\ns-16-1995.csv es: ns_16_1995_4
  5. El dataframe generado para el archivo input_data\table_1\1995\ns-20-1995.csv es: ns_20_1995_5
  6. El dataframe generado para el archivo input_data\table_1\1995\ns-25-1995.csv es: ns_25_1995_6
  7. El dataframe generado para el archivo input_data\table_1\1995\ns-27-1995.csv es: ns_27_1995_7
  8. El dataframe generado para el archivo input_data\table_1\1995\ns-31-1995.csv es: ns_31_1995_8
  9. El dataframe generado para el archivo input_data\table_1\1995\ns-38-1995.csv es: ns_38_1995_9
  10. El dataframe generado para el archivo input_data\table_1\1995\ns-43-1995.csv es: ns_43_1995_10
  11. El dataframe generado para el archivo input_data\table_1\1995\ns-44-1995.csv es: ns_44_1995_11
  12. El dataframe generado para el archivo input_data\table_1\1995\ns-48-1995.csv es: ns_48_1995_12
Processing folder 1996
  1. El dataframe generado para el archivo input_data\table_1\1996\ns-05-1996.csv es: ns_05_1996_1
  2. El dataframe generado para el archivo input_data\table_1\1996\ns-09-1996.csv es: ns_09_1996_2
  3. El dataframe generado para el archivo input_data\table_1\1996\ns-10-1996.csv es: ns_10_1996_3
  4. El dataframe generado para el archivo input_data\table_1\1996\ns-15-1996.csv es: ns_15_1996_4
  5. El dataframe generado para el archivo input_data\table_1\1996\ns-18-1996.csv es: ns_18_1996_5
  6. El dataframe generado para el archivo input_data\table_1\1996\ns-22-1996.csv es: ns_22_1996_6
  7. El dataframe generado para el archivo input_data\table_1\1996\ns-27-1996.csv es: ns_27_1996_7
  8. El dataframe generado para el archivo input_data\table_1\1996\ns-35-1996.csv es: ns_35_1996_8
  9. El dataframe generado para el archivo input_data\table_1\1996\ns-39-1996.csv es: ns_39_1996_9
  10. El dataframe generado para el archivo input_data\table_1\1996\ns-41-1996.csv es: ns_41_1996_10
  11. El dataframe generado para el archivo input_data\table_1\1996\ns-44-1996.csv es: ns_44_1996_11
  12. El dataframe generado para el archivo input_data\table_1\1996\ns-49-1996.csv es: ns_49_1996_12
Processing folder 1997
  1. El dataframe generado para el archivo input_data\table_1\1997\ns-02-1997.csv es: ns_02_1997_1
  2. El dataframe generado para el archivo input_data\table_1\1997\ns-06-1997.csv es: ns_06_1997_2
  3. El dataframe generado para el archivo input_data\table_1\1997\ns-10-1997.csv es: ns_10_1997_3
  4. El dataframe generado para el archivo input_data\table_1\1997\ns-11-1997.csv es: ns_11_1997_4
  5. El dataframe generado para el archivo input_data\table_1\1997\ns-15-1997.csv es: ns_15_1997_5
  6. El dataframe generado para el archivo input_data\table_1\1997\ns-19-1997.csv es: ns_19_1997_6
  7. El dataframe generado para el archivo input_data\table_1\1997\ns-25-1997.csv es: ns_25_1997_7
  8. El dataframe generado para el archivo input_data\table_1\1997\ns-26-1997.csv es: ns_26_1997_8
  9. El dataframe generado para el archivo input_data\table_1\1997\ns-32-1997.csv es: ns_32_1997_9
  10. El dataframe generado para el archivo input_data\table_1\1997\ns-37-1997.csv es: ns_37_1997_10
  11. El dataframe generado para el archivo input_data\table_1\1997\ns-38-1997.csv es: ns_38_1997_11
  12. El dataframe generado para el archivo input_data\table_1\1997\ns-42-1997.csv es: ns_42_1997_12
  13. El dataframe generado para el archivo input_data\table_1\1997\ns-48-1997.csv es: ns_48_1997_13
Processing folder 1998
  1. El dataframe generado para el archivo input_data\table_1\1998\ns-04-1998.csv es: ns_04_1998_1
  2. El dataframe generado para el archivo input_data\table_1\1998\ns-06-1998.csv es: ns_06_1998_2
  3. El dataframe generado para el archivo input_data\table_1\1998\ns-13-1998.csv es: ns_13_1998_3
  4. El dataframe generado para el archivo input_data\table_1\1998\ns-14-1998.csv es: ns_14_1998_4
  5. El dataframe generado para el archivo input_data\table_1\1998\ns-20-1998.csv es: ns_20_1998_5
  6. El dataframe generado para el archivo input_data\table_1\1998\ns-24-1998.csv es: ns_24_1998_6
  7. El dataframe generado para el archivo input_data\table_1\1998\ns-29-1998.csv es: ns_29_1998_7
  8. El dataframe generado para el archivo input_data\table_1\1998\ns-31-1998.csv es: ns_31_1998_8
  9. El dataframe generado para el archivo input_data\table_1\1998\ns-35-1998.csv es: ns_35_1998_9
  10. El dataframe generado para el archivo input_data\table_1\1998\ns-42-1998.csv es: ns_42_1998_10
  11. El dataframe generado para el archivo input_data\table_1\1998\ns-45-1998.csv es: ns_45_1998_11
  12. El dataframe generado para el archivo input_data\table_1\1998\ns-47-1998.csv es: ns_47_1998_12
Processing folder 1999
  1. El dataframe generado para el archivo input_data\table_1\1999\ns-05-1999.csv es: ns_05_1999_1
  2. El dataframe generado para el archivo input_data\table_1\1999\ns-09-1999.csv es: ns_09_1999_2
  3. El dataframe generado para el archivo input_data\table_1\1999\ns-13-1999.csv es: ns_13_1999_3
  4. El dataframe generado para el archivo input_data\table_1\1999\ns-17-1999.csv es: ns_17_1999_4
  5. El dataframe generado para el archivo input_data\table_1\1999\ns-18-1999.csv es: ns_18_1999_5
  6. El dataframe generado para el archivo input_data\table_1\1999\ns-25-1999.csv es: ns_25_1999_6
  7. El dataframe generado para el archivo input_data\table_1\1999\ns-29-1999.csv es: ns_29_1999_7
  8. El dataframe generado para el archivo input_data\table_1\1999\ns-30-1999.csv es: ns_30_1999_8
  9. El dataframe generado para el archivo input_data\table_1\1999\ns-37-1999.csv es: ns_37_1999_9
  10. El dataframe generado para el archivo input_data\table_1\1999\ns-38-1999.csv es: ns_38_1999_10
  11. El dataframe generado para el archivo input_data\table_1\1999\ns-39-1999.csv es: ns_39_1999_11
  12. El dataframe generado para el archivo input_data\table_1\1999\ns-44-1999.csv es: ns_44_1999_12
  13. El dataframe generado para el archivo input_data\table_1\1999\ns-46-1999.csv es: ns_46_1999_13
  14. El dataframe generado para el archivo input_data\table_1\1999\ns-47-1999.csv es: ns_47_1999_14
  15. El dataframe generado para el archivo input_data\table_1\1999\ns-48-1999.csv es: ns_48_1999_15
Processing folder 2000
  1. El dataframe generado para el archivo input_data\table_1\2000\ns-01-2000.csv es: ns_01_2000_1
  2. El dataframe generado para el archivo input_data\table_1\2000\ns-04-2000.csv es: ns_04_2000_2
  3. El dataframe generado para el archivo input_data\table_1\2000\ns-07-2000.csv es: ns_07_2000_3
  4. El dataframe generado para el archivo input_data\table_1\2000\ns-11-2000.csv es: ns_11_2000_4
  5. El dataframe generado para el archivo input_data\table_1\2000\ns-14-2000.csv es: ns_14_2000_5

  6. El dataframe generado para el archivo input_data\table_1\2000\ns-19-2000.csv es: ns_19_2000_6
  7. El dataframe generado para el archivo input_data\table_1\2000\ns-22-2000.csv es: ns_22_2000_7
  8. El dataframe generado para el archivo input_data\table_1\2000\ns-28-2000.csv es: ns_28_2000_8
  9. El dataframe generado para el archivo input_data\table_1\2000\ns-32-2000.csv es: ns_32_2000_9
  10. El dataframe generado para el archivo input_data\table_1\2000\ns-38-2000.csv es: ns_38_2000_10
  11. El dataframe generado para el archivo input_data\table_1\2000\ns-42-2000.csv es: ns_42_2000_11
  12. El dataframe generado para el archivo input_data\table_1\2000\ns-46-2000.csv es: ns_46_2000_12
  13. El dataframe generado para el archivo input_data\table_1\2000\ns-49-2000.csv es: ns_49_2000_13
Processing folder 2001
  1. El dataframe generado para el archivo input_data\table_1\2001\ns-01-2001.csv es: ns_01_2001_1
  2. El dataframe generado para el archivo input_data\table_1\2001\ns-05-2001.csv es: ns_05_2001_2
  3. El dataframe generado para el archivo input_data\table_1\2001\ns-08-2001.csv es: ns_08_2001_3
  4. El dataframe generado para el archivo input_data\table_1\2001\ns-10-2001.csv es: ns_10_2001_4
  5. El dataframe generado para el archivo input_data\table_1\2001\ns-16-2001.csv es: ns_16_2001_5
  6. El dataframe generado para el archivo input_data\table_1\2001\ns-18-2001.csv es: ns_18_2001_6
  7. El dataframe generado para el archivo input_data\table_1\2001\ns-25-2001.csv es: ns_25_2001_7
  8. El dataframe generado para el archivo input_data\table_1\2001\ns-26-2001.csv es: ns_26_2001_8
  9. El dataframe generado para el archivo input_data\table_1\2001\ns-32-2001.csv es: ns_32_2001_9
  10. El dataframe generado para el archivo input_data\table_1\2001\ns-34-2001.csv es: ns_34_2001_10
  11. El dataframe generado para el archivo input_data\table_1\2001\ns-39-2001.csv es: ns_39_2001_11
  12. El dataframe generado para el archivo input_data\table_1\2001\ns-43-2001.csv es: ns_43_2001_12
  13. El dataframe generado para el archivo input_data\table_1\2001\ns-48-2001.csv es: ns_48_2001_13
Processing folder 2009
Folder input_data\table_1\2010 has already been processed.
Folder input_data\table_1\2011 has already been processed.
Folder input_data\table_1\2012 has already been processed.
Processing completed for all folders.

In [49]:
old_tables_dict_1['ns_04_1998_1']

,sectores_economicos,economic_sectors,1996_nov,1996_dic,1996_ene_dic,1997_ene,1997_feb,1997_mar,1997_abr,1997_may,1997_jun,1997_jul,1997_ago,1997_sep,1997_oct,1997_nov,1997_ene_nov
0,agropecuario,agriculture and livestock,8.2,9.3,5.8,21.8,12.6,14.2,7.9,6.5,-3.2,-3.3,-8.0,0.5,3.2,10.4,4.2
1,agricola,agriculture,19.2,17.1,8.3,38.9,16.4,19.7,8.7,7.6,-4.5,-6.0,-14.7,-4.9,-2.2,7.3,3.1
2,pecuario,livestock,-3.5,0.0,0.6,3.0,7.5,4.5,5.7,2.6,2.2,4.5,7.6,9.5,11.0,14.6,6.6
3,pesca,fishing,44.1,75.0,-0.5,-18.9,-20.0,31.2,45.3,29.0,-11.4,-1.3,33.6,37.0,43.1,-51.9,1.3
4,mineria,mining and fuel,2.0,2.0,2.8,3.2,5.0,5.9,7.9,8.7,4.7,1.6,7.8,7.4,3.7,4.7,5.5
5,mineria metalica,metals,2.4,0.8,5.3,4.0,8.7,7.0,9.4,12.2,8.5,5.0,14.2,16.0,9.9,10.0,9.5
6,petroleo crudo,fuels,1.3,3.9,-1.2,1.8,-1.3,4.1,5.5,3.2,-1.6,-4.7,-3.8,-6.4,-6.9,-4.8,-1.4
7,manufactura,manufacturing,7.2,11.8,2.7,3.4,0.1,5.5,20.4,7.5,9.6,5.6,6.9,12.0,13.8,-0.8,7.5
8,procesadores recursos primarios,based on raw materials,19.3,32.6,5.5,-1.8,-10.8,9.5,28.2,12.4,1.1,3.1,7.1,18.0,14.3,-16.2,5.2
9,resto industria,non primary,1.8,3.2,1.6,5.8,4.1,4.3,16.7,5.1,13.5,6.5,6.8,10.1,13.6,7.3,8.4
10,construccion,construction,-0.2,5.1,-4.6,10.7,15.3,3.1,22.5,16.4,34.6,37.6,15.2,35.7,28.8,20.2,21.9
11,comercio,commerce,4.8,7.2,3.0,5.8,3.0,5.6,17.3,4.7,5.8,4.5,9.2,12.5,9.7,6.1,7.7
12,otros servicios,other services,4.2,5.3,3.2,3.6,3.2,3.8,9.2,4.6,8.3,5.5,7.3,9.1,5.5,6.3,6.1
13,pbi,gdp,5.2,7.8,2.6,5.7,4.5,6.0,14.1,7.2,7.4,6.2,6.3,11.7,10.0,5.0,7.6
14,pbi promedio de ultimos doce meses,average gdp for the last twelve months,1.8,2.6,NaN,3.2,3.2,3.8,4.8,5.3,5.6,5.7,6.1,6.9,7.7,7.7,NaN
15,pbi desestacionalizado,seasonally adjusted gdp,-0.1,0.7,NaN,1.7,2.4,-5.4,14.7,-1.6,-2.4,0.6,-3.9,5.3,-1.1,-4.6,NaN

In [61]:
old_dataframes_dict_1['ns_04_1998_1']

,year,id_ns,date,sectores_economicos,economic_sectors,1996_nov,1996_dic,1996_ene_dic,1997_ene,1997_feb,1997_mar,1997_abr,1997_may,1997_jun,1997_jul,1997_ago,1997_sep,1997_oct,1997_nov,1997_ene_nov
0,1998,04,1998-01-30,agropecuario,agriculture and livestock,8.2,9.3,5.8,21.8,12.6,14.2,7.9,6.5,-3.2,-3.3,-8.0,0.5,3.2,10.4,4.2
1,1998,04,1998-01-30,agricola,agriculture,19.2,17.1,8.3,38.9,16.4,19.7,8.7,7.6,-4.5,-6.0,-14.7,-4.9,-2.2,7.3,3.1
2,1998,04,1998-01-30,pecuario,livestock,-3.5,0.0,0.6,3.0,7.5,4.5,5.7,2.6,2.2,4.5,7.6,9.5,11.0,14.6,6.6
3,1998,04,1998-01-30,pesca,fishing,44.1,75.0,-0.5,-18.9,-20.0,31.2,45.3,29.0,-11.4,-1.3,33.6,37.0,43.1,-51.9,1.3
4,1998,04,1998-01-30,mineria,mining and fuel,2.0,2.0,2.8,3.2,5.0,5.9,7.9,8.7,4.7,1.6,7.8,7.4,3.7,4.7,5.5
5,1998,04,1998-01-30,mineria metalica,metals,2.4,0.8,5.3,4.0,8.7,7.0,9.4,12.2,8.5,5.0,14.2,16.0,9.9,10.0,9.5
6,1998,04,1998-01-30,petroleo crudo,fuels,1.3,3.9,-1.2,1.8,-1.3,4.1,5.5,3.2,-1.6,-4.7,-3.8,-6.4,-6.9,-4.8,-1.4
7,1998,04,1998-01-30,manufactura,manufacturing,7.2,11.8,2.7,3.4,0.1,5.5,20.4,7.5,9.6,5.6,6.9,12.0,13.8,-0.8,7.5
8,1998,04,1998-01-30,procesadores recursos primarios,based on raw materials,19.3,32.6,5.5,-1.8,-10.8,9.5,28.2,12.4,1.1,3.1,7.1,18.0,14.3,-16.2,5.2
9,1998,04,1998-01-30,resto industria,non primary,1.8,3.2,1.6,5.8,4.1,4.3,16.7,5.1,13.5,6.5,6.8,10.1,13.6,7.3,8.4
10,1998,04,1998-01-30,construccion,construction,-0.2,5.1,-4.6,10.7,15.3,3.1,22.5,16.4,34.6,37.6,15.2,35.7,28.8,20.2,21.9
11,1998,04,1998-01-30,comercio,commerce,4.8,7.2,3.0,5.8,3.0,5.6,17.3,4.7,5.8,4.5,9.2,12.5,9.7,6.1,7.7
12,1998,04,1998-01-30,otros servicios,other services,4.2,5.3,3.2,3.6,3.2,3.8,9.2,4.6,8.3,5.5,7.3,9.1,5.5,6.3,6.1
13,1998,04,1998-01-30,pbi,gdp,5.2,7.8,2.6,5.7,4.5,6.0,14.1,7.2,7.4,6.2,6.3,11.7,10.0,5.0,7.6
14,1998,04,1998-01-30,pbi promedio de ultimos doce meses,average gdp for the last twelve months,1.8,2.6,NaN,3.2,3.2,3.8,4.8,5.3,5.6,5.7,6.1,6.9,7.7,7.7,NaN
15,1998,04,1998-01-30,pbi desestacionalizado,seasonally adjusted gdp,-0.1,0.7,NaN,1.7,2.4,-5.4,14.7,-1.6,-2.4,0.6,-3.9,5.3,-1.1,-4.6,NaN

<div id="2-1-2">
   <!-- Contenido de la celda de destino -->
</div>

<h3><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    <span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">Table 2.</span> Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.
    </span>
    </h3>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please check that the flat file <b>"ns_dates.csv"</b> is updated with the dates, years and ids for the newly downloaded PDF <span style="font-size: 24px;">&#128462;</span> (WR). That file is located in the <b>"ns_dates"</b> folder and is uploaded to SQL from the jupyeter notebook <code>aux_files_to_sql.ipynb</code>
    </span>
</div>

In [63]:
# Set the locale to Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Dictionary to store generated DataFrames
old_dataframes_dict_2 = {}

# Path for the processed folders log file
record_path = 'dataframes_record/old_processed_folders_2.txt'

# Function to correct month names
def correct_month_name(month):
    months_mapping = {
        'setiembre': 'septiembre',
        # Add more mappings as needed for other month names
    }
    return months_mapping.get(month, month)

# Function to register processed folder
def register_processed_folder(folder, num_processed_files):
    with open(record_path, 'a') as file:
        file.write(f"{folder}:{num_processed_files}\n")

# Function to check if folder has been processed
def folder_processed(folder):
    if not os.path.exists(record_path):
        return False
    with open(record_path, 'r') as file:
        for line in file:
            if line.startswith(folder):
                return True
    return False

# Function to fetch date from database
def get_date(df, engine):
    id_ns = df['id_ns'].iloc[0]
    year = df['year'].iloc[0]
    query = f"SELECT date FROM dates_growth_rates WHERE id_ns = '{id_ns}' AND year = '{year}';"
    date_result = pd.read_sql(query, engine)
    return date_result.iloc[0, 0] if not date_result.empty else None

def process_csv(csv_path, engine):
    old_tables_dict_2 = {}  # Local dictionary for each CSV
    table_counter = 1

    filename = os.path.basename(csv_path)
    id_ns_year_matches = re.findall(r'ns-(\d+)-(\d{4})', filename)
    if id_ns_year_matches:
        id_ns, year = id_ns_year_matches[0]
    else:
        print("No matches found for id_ns and year in filename:", filename)
        return None, None, None, None # Return None for tables_dict_1 as well

    new_filename = os.path.splitext(os.path.basename(csv_path))[0].replace('-', '_')

    df = pd.read_csv(csv_path, delimiter=';')
    
    dataframe_name = f"{new_filename}_{table_counter}"
    old_tables_dict_2[dataframe_name] = df.copy()

    # Apply cleanup functions to a copy of the DataFrame
    df_clean = df.copy()

    # Conditional cleaning based on the first column
    if df_clean.columns[1] == 'sectores_economicos':
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)
    else:
        # Cleaning functions (set as required)
        df_clean = replace_total_with_year(df_clean)
        df_clean = drop_nan_rows(df_clean)
        year_columns = extract_years(df_clean)
        df_clean = roman_arabic(df_clean)
        df_clean = fix_duplicates(df_clean)
        df_clean = relocate_last_column(df_clean)
        df_clean = replace_first_row_nan(df_clean)
        df_clean = clean_first_row(df_clean)
        df_clean = get_quarters_sublist_list(df_clean, year_columns)
        df_clean = reset_index(df_clean)
        df_clean = first_row_columns(df_clean)
        df_clean = clean_columns_values(df_clean)
        df_clean = reset_index(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)

    # Add the column 'year' to the clean DataFrame
    df_clean.insert(0, 'year', year)
    
    # Add the column 'id_ns' to the clean DataFrame
    df_clean.insert(1, 'id_ns', id_ns)
    
    # Get corresponding date from database
    date = get_date(df_clean, engine)
    if date:
        # Add 'date' column to cleaned DataFrame
        df_clean.insert(2, 'date', date)
    else:
        print("Date not found in database for id_ns:", id_ns, "and year:", year)

    # Store cleaned DataFrame in old_dataframes_dict_2
    old_dataframes_dict_2[dataframe_name] = df_clean

    return id_ns, year, old_tables_dict_2

# Function to process folder
def process_folder(folder, engine):
    print(f"Processing folder {os.path.basename(folder)}")
    csv_files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.csv')]

    num_csv_processed = 0
    num_dataframes_generated = 0

    table_counter = 1  # Initialize table counter here
    old_tables_dict_2 = {}  # Declare old_tables_dict_1 outside main loop
    
    for csv_file in csv_files:
        id_ns, year, tables_dict_temp = process_csv(csv_file, engine)

        if tables_dict_temp:
            for dataframe_name, df in tables_dict_temp.items():
                file_name = os.path.splitext(os.path.basename(csv_file))[0].replace('-', '_')
                dataframe_name = f"{file_name}_{table_counter}"
                
                # Store raw DataFrame in old_tables_dict_2
                old_tables_dict_2[dataframe_name] = df.copy()
                
                # Procesar y limpiar el DataFrame
                df_clean = df.copy()
                
                # Conditional cleaning based on the first column
                if df_clean.columns[1] == 'sectores_economicos':
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                else:
                    # Cleaning functions (set as required)
                    df_clean = replace_total_with_year(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = roman_arabic(df_clean)
                    df_clean = fix_duplicates(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = replace_first_row_nan(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = get_quarters_sublist_list(df_clean, year_columns)
                    df_clean = reset_index(df_clean)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                
                # Add the column 'year' to the clean DataFrame
                df_clean.insert(0, 'year', year)

                # Add the column 'id_ns' to the clean DataFrame
                df_clean.insert(1, 'id_ns', id_ns)

                # Get corresponding date from database
                date = get_date(df_clean, engine)
                if date:
                    # Add 'date' column to cleaned DataFrame
                    df_clean.insert(2, 'date', date)
                else:
                    print("Date not found in database for id_ns:", id_ns, "and year:", year)

                # Store cleaned DataFrame in old_dataframes_dict_2
                old_dataframes_dict_2[dataframe_name] = df_clean

                print(f'  {table_counter}. The dataframe generated for the {csv_file} file is: {dataframe_name}')
                num_dataframes_generated += 1
                table_counter += 1  # Increment table counter here
        
        num_csv_processed += 1  # Increment number of processed CSV for each CSV in folder

    return num_csv_processed, num_dataframes_generated, old_tables_dict_2

def process_folders():
    csv_folder = table_2_folder
    folders = [os.path.join(csv_folder, d) for d in os.listdir(csv_folder) if os.path.isdir(os.path.join(csv_folder, d)) and re.match(r'\d{4}', d)]
    
    old_tables_dict_2 = {}  # Initialize old_tables_dict_1 here
    
    for folder in folders:
        if folder_processed(folder):
            print(f"Folder {folder} has already been processed.")
            continue
        
        num_csv_processed, num_dataframes_generated, tables_dict_temp = process_folder(folder, engine)
        
        # Update old_tables_dict_2 with values returned from process_folder()
        old_tables_dict_2.update(tables_dict_temp)
        
        register_processed_folder(folder, num_csv_processed)

        # Ask user if they want to continue with next folder
        root = Tk()
        root.withdraw()
        root.attributes('-topmost', True)  # Ensure the messagebox is in front
        message = f"Process {folder} complete. Processed {num_csv_processed} CSV(s) and generated {num_dataframes_generated} DataFrame(s). Continue with next folder?"
        if not messagebox.askyesno("Continue?", message):
            break

    print("Processing completed for all folders.")  # Add a message to indicate completion

    return old_tables_dict_2
    
if __name__ == "__main__":
    engine = create_sqlalchemy_engine()
    old_tables_dict_2 = process_folders()

La carpeta C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2009 ya ha sido procesada.
Procesando la carpeta 2010
  1. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-04-2010.csv es: ns_04_2010_1
  2. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-05-2010.csv es: ns_05_2010_2
  3. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-06-2010.csv es: ns_06_2010_3
  4. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-07-2010.csv es: ns_07_2010_4
  5. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-08-2010.csv es: ns_08_2010_5
  6. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-09-2010.csv es: ns_09_2010_6
  7. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-10-2010.csv es: ns_10_2010_7
  8. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-11-2010.csv es: ns_11_2010_8
  9. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-12-2010.csv es: ns_12_2010_9
  10. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-13-2010.csv es: ns_13_2010_10
  11. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-14-2010.csv es: ns_14_2010_11
  12. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-15-2010.csv es: ns_15_2010_12
  13. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-16-2010.csv es: ns_16_2010_13
  14. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-17-2010.csv es: ns_17_2010_14
  15. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-18-2010.csv es: ns_18_2010_15
  16. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-19-2010.csv es: ns_19_2010_16
  17. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-20-2010.csv es: ns_20_2010_17
  18. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-21-2010.csv es: ns_21_2010_18
  19. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-22-2010.csv es: ns_22_2010_19
  20. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-23-2010.csv es: ns_23_2010_20
  21. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-24-2010.csv es: ns_24_2010_21
  22. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-25-2010.csv es: ns_25_2010_22
  23. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-26-2010.csv es: ns_26_2010_23
  24. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-27-2010.csv es: ns_27_2010_24
  25. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-28-2010.csv es: ns_28_2010_25
  26. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-29-2010.csv es: ns_29_2010_26
  27. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-30-2010.csv es: ns_30_2010_27
  28. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-31-2010.csv es: ns_31_2010_28
  29. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-32-2010.csv es: ns_32_2010_29
  30. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-33-2010.csv es: ns_33_2010_30
  31. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-34-2010.csv es: ns_34_2010_31
  32. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-35-2010.csv es: ns_35_2010_32
  33. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-36-2010.csv es: ns_36_2010_33
  34. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-37-2010.csv es: ns_37_2010_34
  35. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-38-2010.csv es: ns_38_2010_35
  36. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-39-2010.csv es: ns_39_2010_36
  37. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-40-2010.csv es: ns_40_2010_37
  38. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-41-2010.csv es: ns_41_2010_38
  39. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-42-2010.csv es: ns_42_2010_39
  40. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-43-2010.csv es: ns_43_2010_40
  41. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-44-2010.csv es: ns_44_2010_41
  42. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-45-2010.csv es: ns_45_2010_42
  43. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-46-2010.csv es: ns_46_2010_43
  44. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-47-2010.csv es: ns_47_2010_44
  45. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-48-2010.csv es: ns_48_2010_45
  46. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2010\ns-49-2010.csv es: ns_49_2010_46
Procesando la carpeta 2011
  1. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-01-2011.csv es: ns_01_2011_1
  2. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-02-2011.csv es: ns_02_2011_2
  3. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-03-2011.csv es: ns_03_2011_3
  4. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-04-2011.csv es: ns_04_2011_4

  5. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-05-2011.csv es: ns_05_2011_5
  6. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-06-2011.csv es: ns_06_2011_6
  7. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-07-2011.csv es: ns_07_2011_7
  8. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-08-2011.csv es: ns_08_2011_8
  9. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-09-2011.csv es: ns_09_2011_9
  10. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-10-2011.csv es: ns_10_2011_10
  11. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-11-2011.csv es: ns_11_2011_11
  12. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-12-2011.csv es: ns_12_2011_12
  13. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-13-2011.csv es: ns_13_2011_13
  14. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-14-2011.csv es: ns_14_2011_14
  15. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-15-2011.csv es: ns_15_2011_15
  16. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-16-2011.csv es: ns_16_2011_16
  17. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-17-2011.csv es: ns_17_2011_17
  18. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-18-2011.csv es: ns_18_2011_18
  19. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-19-2011.csv es: ns_19_2011_19
  20. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-20-2011.csv es: ns_20_2011_20
  21. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-21-2011.csv es: ns_21_2011_21
  22. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-22-2011.csv es: ns_22_2011_22
  23. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-23-2011.csv es: ns_23_2011_23
  24. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-24-2011.csv es: ns_24_2011_24
  25. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-25-2011.csv es: ns_25_2011_25
  26. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-26-2011.csv es: ns_26_2011_26
  27. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-27-2011.csv es: ns_27_2011_27
  28. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-28-2011.csv es: ns_28_2011_28
  29. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-29-2011.csv es: ns_29_2011_29
  30. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-30-2011.csv es: ns_30_2011_30
  31. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-31-2011.csv es: ns_31_2011_31
  32. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-32-2011.csv es: ns_32_2011_32
  33. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-33-2011.csv es: ns_33_2011_33
  34. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-34-2011.csv es: ns_34_2011_34
  35. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-35-2011.csv es: ns_35_2011_35
  36. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-36-2011.csv es: ns_36_2011_36
  37. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-37-2011.csv es: ns_37_2011_37
  38. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-38-2011.csv es: ns_38_2011_38
  39. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-39-2011.csv es: ns_39_2011_39
  40. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-40-2011.csv es: ns_40_2011_40
  41. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-41-2011.csv es: ns_41_2011_41
  42. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-42-2011.csv es: ns_42_2011_42
  43. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-43-2011.csv es: ns_43_2011_43
  44. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-44-2011.csv es: ns_44_2011_44
  45. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-45-2011.csv es: ns_45_2011_45
  46. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-46-2011.csv es: ns_46_2011_46
  47. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-47-2011.csv es: ns_47_2011_47
  48. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-48-2011.csv es: ns_48_2011_48
  49. El dataframe generado para el archivo C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 2\2011\ns-49-2011.csv es: ns_49_2011_49
Procesamiento detenido por el usuario.
Procesamiento completado para todas las carpetas.

In [ ]:
old_tables_dict_2['ns_04_2010_1']

In [ ]:
old_dataframes_dict_2['ns_32_2010_1']

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>