<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h1>
Old GDP Revisions Datasets
</h1>
</div>

<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h3>
Documentation
<br>
____________________
<br>
</h3>
</div>

<div style="text-align: center; font-family: 'PT Serif Pro Book'; color: rgb(0, 65, 75); font-size: 16px;">
    Jason Cruz
    <br>
    <a href="mailto:jj.cruza@up.edu.pe" style="color: rgb(0, 153, 123); font-size: 16px;">
        jj.cruza@up.edu.pe
    </a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
This <span style="color: rgb(0, 65, 75);">jupyter notebook</span> documents step-by-step the <b>construction of old datasets</b> for the project <b>'Revisions and Biases in Preliminary GDP Estimates in Peru'</b>.

This jupyter notebook goes from the cleaning of the tables (Weekly Reports, WR) provided confidentially by the Central Bank to the construction of the <b>vintages</b> and <b>revisions</b> datasets from 1994-2024.
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;line-height: 1.5;">
<span style="font-size: 24px;">&#128196;</span> The Weekly Report/<i>Nota Semanal</i> (WR/<i>NS</i>) of the Central Bank.
    <br>
    <span style="font-size: 24px;">&#8987;</span> Available since <b>1994-2012</b> (Table 1) and since <b>1997-2012</b> (Table 2). 
    <br>
</div>

<div style="font-family: Amaya; text-align: left; color: rgb(0, 65, 75); font-size:16px">The following <b>outline is functional</b>. By utilising the provided buttons, users are able to enhance their experience by browsing this script.<div/>

<div id="outilne">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #292929; padding: 10px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #E0E0E0;">
        Outline
    </h2>
    <br>
    <a href="#libraries" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Libraries</a>
    <br>
    <a href="#setup" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Initial set-up</a>
    <br>
    <a href="#1" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        1. Duplicate tables for all other NS ids</a>
    <br>
    <a href="#1-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        1.1. Table 1.</a>
    <br>
    <a href="#1-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        1.2. Table 2.</a>
    <br>
    <a href="#2" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        2. Data cleaning</a>
    <br>
    <a href="#2-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.1. Extracting tables and data cleanup.</a>
    <br>
    <a href="#2-1-1" style="color: #94FFD8; font-size: 14px; margin-left: 40px;">
        2.1.1. Table 1. Extraction and cleaning of data from tables on monthly real GDP growth rates.</a>
    <br>
    <a href="#2-1-2" style="color: #94FFD8; font-size: 14px; margin-left: 40px;">
        2.1.2. Table 2. Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.</a>
    <br>
    <a href="#3" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">3. Real-time data of Peru's GDP growth rates</a>
    <br>
    <a href="#3-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.1. Annual vintages concatenation.</a>
    <br>
    <a href="#3-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.2. Quarterly vintages concatenation.</a>
    <br>
    <a href="#3-3" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.3. Monthly vintages concatenation.</a>
    <br>
    <a href="#4" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">4. GDP final revision dataset</a>
    <br>
    <a href="#4-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.1. Annual revisions.</a>
    <br>
    <a href="#4-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.2. Quarterly revisions.</a>
    <br>
    <a href="#4-3" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.3. Monthly revisions.</a>
    <br>
    <a href="#5" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">5. Uploading data to SQL</a>
    <br>
    <a href="#5-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.1. Vintages.</a>
    <br>
    <a href="#5-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.2. Revisions.</a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Any questions or issues regarding the coding, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"><span style="font-size: 24px;">&#x2709;</span>
    </a>.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    If you don't have the libraries below, please use the following code (as example) to install the required libraries.
    <div/>

In [ ]:
#!pip install os # Comment this code with "#" if you have already installed this library.

<div id="libraries">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'charter'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [1]:
# 1. Duplicate tables for all other NS ids
#-------------------------------------------------------------------------------------------------------------------------------
# 1.1. Table 1

import os
import shutil
import psycopg2
import pandas as pd



# 2. Data cleaning
#-------------------------------------------------------------------------------------------------------------------------------

# 2.2. Extracting tables and data cleanup

import pandas as pd  # For data manipulation and analysis
import unicodedata  # For manipulating Unicode data
import re  # For regular expressions operations
from datetime import datetime  # For working with dates and times
import locale  # For locale-specific formatting of numbers, dates, and currencies
import numpy as np
import unidecode

# 2.2.1. Table 1. Extraction and cleaning of data from tables on monthly real GDP growth rates.

import tabula  # Used to extract tables from PDF files into pandas DataFrames
from tkinter import Tk, messagebox, TOP, YES, NO  # Used for creating graphical user interfaces
from sqlalchemy import create_engine  # Used for connecting to and interacting with SQL databases

# 2.2.2. Table 2. Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.

import roman
from datetime import datetime


# 3. Real-time data of Peru's GDP growth rates
#-------------------------------------------------------------------------------------------------------------------------------

import psycopg2  # For interacting with PostgreSQL databases
from sqlalchemy import create_engine, text  # For creating and executing SQL queries using SQLAlchemy

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="setup">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Initial set-up
    </h2>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Setting the base path. <div/>

In [3]:
# Ask the user for the base path
base_path = input("Please enter your base path to set your main working directory, then press enter: \n")

# Check if the path is valid
if os.path.isdir(base_path):
    print(f"Correctly defined base path.")
    os.chdir(base_path)
else:
    print("The entered path is not valid. Please try again.")

Please enter your base path to set your main working directory, then press enter:
C:\Users\Jason Cruz\OneDrive\Documentos\Research Assistant\CIUP\GDP Revisions\gdp_revisions\old_database
Correctly defined base path.

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    Download the <code>.zip</code> files of <code>table_1</code> and <code>table_2</code> and paste them into <code>raw_data</code> and <code>input_data</code> paths set below. 
    <p>
     Note that the missing data will be filled in <code>input_data</code> in <a href="#1" style="color: rgb(0, 153, 123); font-size: 16px;">Section 1</a>. Then the changes will actually occur in the <code>input_data</code> folder. However, we created <code>raw_data</code> to map the tables as they were delivered by the Central Bank, i.e. the raw data delivered (without any transformation).
       </p>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

In [4]:
# Folder path to save csv files delivered by Central Bank 
raw_data = 'raw_data' # to save raw data (.csv).
if not os.path.exists(raw_data):
    os.mkdir(raw_data) # to create the folder (if it doesn't exist)

In [5]:
# Folder path to save csv files delivered by Central Bank as inputs (duplicated for all NS id) 
input_data = 'input_data' # to save input data (.csv).
if not os.path.exists(input_data):
    os.mkdir(input_data) # to create the folder (if it doesn't exist)

In [6]:
# Folder path to save csv files delivered by Central Bank (Table 1)
table_1_folder = os.path.join(input_data, 'table_1') # to save raw data (.csv).
if not os.path.exists(table_1_folder):
    os.mkdir(table_1_folder) # to create the folder (if it doesn't exist)

In [7]:
# Folder path to save csv files delivered by Central Bank (Table 2)
table_2_folder = os.path.join(input_data, 'table_2') # to save raw data (.csv).
if not os.path.exists(table_2_folder):
    os.mkdir(table_2_folder) # to create the folder (if it doesn't exist)

In [8]:
# Folder path to save dataframes generated record by year

dataframes_record = 'dataframes_record'
if not os.path.exists(dataframes_record):
    os.makedirs(dataframes_record) # to create the folder (if it doesn't exist)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

<p style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following function will establish a connection to the <code>gdp_revisions_datasets</code> database in <code>PostgreSQL</code>. The <b>input data</b> used in this jupyter notebook will be loaded from this <code>PostgreSQL</code> database, and similarly, all <b>output data</b> generated by this jupyter notebook will be stored in that database. Ensure that you set the necessary parameters to access the server once you have obtained the required permissions.<p/>
    
<p style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
To request permissions, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"> <span style="font-size: 24px;">&#x2709;</span>
    </a>.
<p/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    Enter your user credentials to acces to SQL.
    <div/>

In [9]:
def create_sqlalchemy_engine():
    """
    Function to create an SQLAlchemy engine using environment variables.
    
    Returns:
        engine: SQLAlchemy engine object.
    """
    # Get environment variables
    user = os.environ.get('CIUP_SQL_USER')  # Get the SQL user from environment variables
    password = os.environ.get('CIUP_SQL_PASS')  # Get the SQL password from environment variables
    host = os.environ.get('CIUP_SQL_HOST')  # Get the SQL host from environment variables
    port = 5432  # Set the SQL port to 5432
    database = 'gdp_revisions_datasets'  # Set the database name 'gdp_revisions_datasets' from SQL

    # Check if all environment variables are defined
    if not all([host, user, password]):
        raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

    # Create connection string
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

    # Create SQLAlchemy engine
    engine = create_engine(connection_string)
    
    return engine

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Import all other functions required by this jupyter notebook.
    </span>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Please, check the script <code>old_gdp_datasets_functions.py</code> and <code>new_gdp_datasets_functions.py</code> which contains all the functions required by this jupyter notebook. The functions there are ordered according to the <a href="#outilne" style="color: #3d30a2;">sections</a> of this jupyter notebok.<div/>

In [10]:
from old_gdp_datasets_functions import *
from new_gdp_datasets_functions import *

pygame 2.5.2 (SDL 2.28.3, Python 3.12.1)
Hello from the pygame community. https://www.pygame.org/contribute.html

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;; color: dark;">1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Duplicate tables for all other NS ids</span></h1>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
    <p>The Central Bank has provided us with confidential data for Table 1 (1994-2012) and Table 2 (1997-2012). However, in each year we have been provided from the tables where the revisions occurred or, more generally, where the Central Bank has received from INEI the updated information of all NS tables.</p>
    
   <p>So, we will duplicate these tables to complete the total NS per year (50 approximately due to the number of weeks per year).</p>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
The following code imports the data containing the dummies of the tables that were delivered by the Central Bank (1 if the table was delivered and 0 if it was not) from SQL 
    <div/>

In [10]:
# Connect to PostgresSQL
engine = create_sqlalchemy_engine()

# Define SQL query to import data
query = f"SELECT * FROM old_raw_data_delivered"

# Importing data into a pandas DataFrame
df = pd.read_sql(query, engine)

<div id="1-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">1.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Table 1
    </span>
    </h2>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please change your preferred year range
    </span>
</div>

In [11]:
# Process each year
for year in range(2010, 2013): # Please change your preferred year range
    df_year = df[df['year'] == year]
    duplicate_files_table_1(year, df_year, table_1_folder)

No existing file to duplicate for ns-01-2010.csv
No existing file to duplicate for ns-02-2010.csv
Duplicated ns-04-2010.csv to ns-05-2010.csv
Duplicated ns-04-2010.csv to ns-06-2010.csv
Duplicated ns-08-2010.csv to ns-09-2010.csv
Duplicated ns-08-2010.csv to ns-10-2010.csv
Duplicated ns-11-2010.csv to ns-12-2010.csv
Duplicated ns-11-2010.csv to ns-13-2010.csv
Duplicated ns-11-2010.csv to ns-14-2010.csv
Duplicated ns-15-2010.csv to ns-16-2010.csv
Duplicated ns-15-2010.csv to ns-17-2010.csv
Duplicated ns-15-2010.csv to ns-18-2010.csv
Duplicated ns-19-2010.csv to ns-20-2010.csv
Duplicated ns-19-2010.csv to ns-21-2010.csv
Duplicated ns-19-2010.csv to ns-22-2010.csv
Duplicated ns-23-2010.csv to ns-24-2010.csv
Duplicated ns-23-2010.csv to ns-25-2010.csv
Duplicated ns-23-2010.csv to ns-26-2010.csv
Duplicated ns-23-2010.csv to ns-27-2010.csv
Duplicated ns-28-2010.csv to ns-29-2010.csv
Duplicated ns-28-2010.csv to ns-30-2010.csv
Duplicated ns-31-2010.csv to ns-32-2010.csv
Duplicated ns-31-2010.csv to ns-33-2010.csv
Duplicated ns-31-2010.csv to ns-34-2010.csv
Duplicated ns-31-2010.csv to ns-35-2010.csv
Duplicated ns-36-2010.csv to ns-37-2010.csv
Duplicated ns-36-2010.csv to ns-38-2010.csv
Duplicated ns-36-2010.csv to ns-39-2010.csv
Duplicated ns-40-2010.csv to ns-41-2010.csv
Duplicated ns-40-2010.csv to ns-42-2010.csv
Duplicated ns-40-2010.csv to ns-43-2010.csv
Duplicated ns-44-2010.csv to ns-45-2010.csv
Duplicated ns-44-2010.csv to ns-46-2010.csv
Duplicated ns-44-2010.csv to ns-47-2010.csv
Duplicated ns-48-2010.csv to ns-49-2010.csv
Duplicated ns-49-2010.csv to ns-01-2011.csv
Duplicated ns-49-2010.csv to ns-02-2011.csv
Duplicated ns-03-2011.csv to ns-04-2011.csv
Duplicated ns-03-2011.csv to ns-05-2011.csv
Duplicated ns-03-2011.csv to ns-06-2011.csv
Duplicated ns-08-2011.csv to ns-09-2011.csv
Duplicated ns-08-2011.csv to ns-10-2011.csv
Duplicated ns-11-2011.csv to ns-12-2011.csv
Duplicated ns-11-2011.csv to ns-13-2011.csv
Duplicated ns-11-2011.csv to ns-14-2011.csv
Duplicated ns-11-2011.csv to ns-15-2011.csv
Duplicated ns-16-2011.csv to ns-17-2011.csv
Duplicated ns-16-2011.csv to ns-18-2011.csv
Duplicated ns-19-2011.csv to ns-20-2011.csv
Duplicated ns-19-2011.csv to ns-21-2011.csv
Duplicated ns-19-2011.csv to ns-22-2011.csv
Duplicated ns-24-2011.csv to ns-25-2011.csv
Duplicated ns-24-2011.csv to ns-26-2011.csv
Duplicated ns-24-2011.csv to ns-27-2011.csv
Duplicated ns-28-2011.csv to ns-29-2011.csv
Duplicated ns-28-2011.csv to ns-30-2011.csv
Duplicated ns-31-2011.csv to ns-32-2011.csv
Duplicated ns-31-2011.csv to ns-33-2011.csv
Duplicated ns-31-2011.csv to ns-34-2011.csv
Duplicated ns-31-2011.csv to ns-35-2011.csv
Duplicated ns-36-2011.csv to ns-37-2011.csv
Duplicated ns-36-2011.csv to ns-38-2011.csv
Duplicated ns-36-2011.csv to ns-39-2011.csv
Duplicated ns-40-2011.csv to ns-41-2011.csv
Duplicated ns-40-2011.csv to ns-42-2011.csv
Duplicated ns-40-2011.csv to ns-43-2011.csv
Duplicated ns-44-2011.csv to ns-45-2011.csv
Duplicated ns-44-2011.csv to ns-46-2011.csv
Duplicated ns-44-2011.csv to ns-47-2011.csv
Duplicated ns-44-2011.csv to ns-48-2011.csv
Duplicated ns-49-2011.csv to ns-01-2012.csv
Duplicated ns-49-2011.csv to ns-02-2012.csv
Duplicated ns-03-2012.csv to ns-04-2012.csv
Duplicated ns-03-2012.csv to ns-05-2012.csv
Duplicated ns-03-2012.csv to ns-06-2012.csv
Duplicated ns-03-2012.csv to ns-07-2012.csv
Duplicated ns-08-2012.csv to ns-09-2012.csv
Duplicated ns-08-2012.csv to ns-10-2012.csv
Duplicated ns-08-2012.csv to ns-11-2012.csv
Duplicated ns-12-2012.csv to ns-13-2012.csv
Duplicated ns-12-2012.csv to ns-14-2012.csv
Duplicated ns-15-2012.csv to ns-16-2012.csv
Duplicated ns-15-2012.csv to ns-17-2012.csv
Duplicated ns-15-2012.csv to ns-18-2012.csv
Duplicated ns-19-2012.csv to ns-20-2012.csv
Duplicated ns-19-2012.csv to ns-21-2012.csv
Duplicated ns-19-2012.csv to ns-22-2012.csv
Duplicated ns-19-2012.csv to ns-23-2012.csv
Duplicated ns-25-2012.csv to ns-26-2012.csv
Duplicated ns-25-2012.csv to ns-27-2012.csv
Duplicated ns-28-2012.csv to ns-29-2012.csv
Duplicated ns-28-2012.csv to ns-30-2012.csv
Duplicated ns-31-2012.csv to ns-32-2012.csv
Duplicated ns-31-2012.csv to ns-33-2012.csv
Duplicated ns-31-2012.csv to ns-34-2012.csv
Duplicated ns-31-2012.csv to ns-35-2012.csv
Duplicated ns-36-2012.csv to ns-37-2012.csv
Duplicated ns-36-2012.csv to ns-38-2012.csv
Duplicated ns-36-2012.csv to ns-39-2012.csv
Duplicated ns-40-2012.csv to ns-41-2012.csv
Duplicated ns-40-2012.csv to ns-42-2012.csv
Duplicated ns-40-2012.csv to ns-43-2012.csv
Duplicated ns-40-2012.csv to ns-44-2012.csv
Duplicated ns-45-2012.csv to ns-46-2012.csv
Duplicated ns-45-2012.csv to ns-47-2012.csv
Duplicated ns-45-2012.csv to ns-48-2012.csv

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">1.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Table 2
    </span>
    </h2>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please change your preferred year range
    </span>
</div>

In [12]:
# Process each year
for year in range(2011, 2012): # Please change your preferred year range
    df_year = df[df['year'] == year]
    duplicate_files_table_2(year, df_year, table_2_folder)

Duplicated ns-45-2010.csv to ns-01-2011.csv
Duplicated ns-45-2010.csv to ns-02-2011.csv
Duplicated ns-45-2010.csv to ns-03-2011.csv
Duplicated ns-45-2010.csv to ns-04-2011.csv
Duplicated ns-45-2010.csv to ns-05-2011.csv
Duplicated ns-45-2010.csv to ns-06-2011.csv
Duplicated ns-45-2010.csv to ns-07-2011.csv
Duplicated ns-08-2011.csv to ns-09-2011.csv
Duplicated ns-08-2011.csv to ns-10-2011.csv
Duplicated ns-11-2011.csv to ns-12-2011.csv
Duplicated ns-11-2011.csv to ns-13-2011.csv
Duplicated ns-11-2011.csv to ns-14-2011.csv
Duplicated ns-11-2011.csv to ns-15-2011.csv
Duplicated ns-11-2011.csv to ns-16-2011.csv
Duplicated ns-11-2011.csv to ns-17-2011.csv
Duplicated ns-11-2011.csv to ns-18-2011.csv
Duplicated ns-11-2011.csv to ns-19-2011.csv
Duplicated ns-20-2011.csv to ns-21-2011.csv
Duplicated ns-20-2011.csv to ns-22-2011.csv
Duplicated ns-23-2011.csv to ns-24-2011.csv
Duplicated ns-23-2011.csv to ns-25-2011.csv
Duplicated ns-23-2011.csv to ns-26-2011.csv
Duplicated ns-23-2011.csv to ns-27-2011.csv
Duplicated ns-23-2011.csv to ns-28-2011.csv
Duplicated ns-23-2011.csv to ns-29-2011.csv
Duplicated ns-23-2011.csv to ns-30-2011.csv
Duplicated ns-23-2011.csv to ns-31-2011.csv
Duplicated ns-32-2011.csv to ns-33-2011.csv
Duplicated ns-32-2011.csv to ns-34-2011.csv
Duplicated ns-32-2011.csv to ns-35-2011.csv
Duplicated ns-32-2011.csv to ns-36-2011.csv
Duplicated ns-32-2011.csv to ns-37-2011.csv
Duplicated ns-32-2011.csv to ns-38-2011.csv
Duplicated ns-32-2011.csv to ns-39-2011.csv
Duplicated ns-32-2011.csv to ns-40-2011.csv
Duplicated ns-32-2011.csv to ns-41-2011.csv
Duplicated ns-32-2011.csv to ns-42-2011.csv
Duplicated ns-32-2011.csv to ns-43-2011.csv
Duplicated ns-32-2011.csv to ns-44-2011.csv
Duplicated ns-45-2011.csv to ns-46-2011.csv
Duplicated ns-45-2011.csv to ns-47-2011.csv
Duplicated ns-45-2011.csv to ns-48-2011.csv
Duplicated ns-45-2011.csv to ns-49-2011.csv

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;; color: dark;">2.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Data cleaning</span></h1>

<div id="2-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Extracting tables and data cleanup
    </span>
    </h2>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
<p>     
PENDING
</p>
<div/>

<div id="2-1-1">
   <!-- Contenido de la celda de destino -->
</div>

<h3><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    <span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">Table 1.</span> Extraction and cleaning of data from tables on monthly real GDP growth rates.
    </span>
    </h3>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please check that the flat file <b>"ns_dates.csv"</b> is updated with the dates, years and ids for the newly downloaded PDF <span style="font-size: 24px;">&#128462;</span> (WR). That file is located in the <b>"ns_dates"</b> folder and is uploaded to SQL from the jupyeter notebook <code>aux_files_to_sql.ipynb</code>
    </span>
</div>

In [12]:
# Set the locale to Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Dictionary to store generated DataFrames
old_dataframes_dict_1 = {}

# Path for the processed folders log file
record_path = 'dataframes_record/old_processed_folders_1.txt'

# Function to correct month names
def correct_month_name(month):
    months_mapping = {
        'setiembre': 'septiembre',
        # Add more mappings as needed for other month names
    }
    return months_mapping.get(month, month)

# Function to register processed folder
def register_processed_folder(folder, num_processed_files):
    with open(record_path, 'a') as file:
        file.write(f"{folder}:{num_processed_files}\n")

# Function to check if folder has been processed
def folder_processed(folder):
    if not os.path.exists(record_path):
        return False
    with open(record_path, 'r') as file:
        for line in file:
            if line.startswith(folder):
                return True
    return False

# Function to fetch date from database
def get_date(df, engine):
    id_ns = df['id_ns'].iloc[0]
    year = df['year'].iloc[0]
    query = f"SELECT date FROM dates_growth_rates WHERE id_ns = '{id_ns}' AND year = '{year}';"
    date_result = pd.read_sql(query, engine)
    return date_result.iloc[0, 0] if not date_result.empty else None

def process_csv(csv_path, engine):
    old_tables_dict_1 = {}  # Local dictionary for each CSV
    table_counter = 1

    filename = os.path.basename(csv_path)
    id_ns_year_matches = re.findall(r'ns-(\d+)-(\d{4})', filename)
    if id_ns_year_matches:
        id_ns, year = id_ns_year_matches[0]
    else:
        print("No matches found for id_ns and year in filename:", filename)
        return None, None, None, None # Return None for tables_dict_1 as well

    new_filename = os.path.splitext(os.path.basename(csv_path))[0].replace('-', '_')

    df = pd.read_csv(csv_path, delimiter=';')
    
    dataframe_name = f"{new_filename}_{table_counter}"
    old_tables_dict_1[dataframe_name] = df.copy()

    # Apply cleanup functions to a copy of the DataFrame
    df_clean = df.copy()

    # Conditional cleaning based on the first column
    if df_clean.columns[1] == 'economic_sectors':
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)
    else:
        # Cleaning functions (set as required)
        df_clean = clean_column_names(df_clean)
        df_clean = adjust_column_names(df_clean)
        df_clean = drop_rare_caracter_row(df_clean)
        df_clean = drop_nan_rows(df_clean)
        df_clean = drop_nan_columns(df_clean)
        df_clean = reset_index(df_clean)
        df_clean = remove_digit_slash(df_clean)
        df_clean = replace_var_perc_first_column(df_clean)
        df_clean = replace_var_perc_last_columns(df_clean)
        df_clean = replace_number_moving_average(df_clean)
        df_clean = relocate_last_column(df_clean)
        df_clean = clean_first_row(df_clean)
        df_clean = find_year_column(df_clean)
        year_columns = extract_years(df_clean)
        df_clean = get_months_sublist_list(df_clean, year_columns)
        df_clean = first_row_columns(df_clean)
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)

    # Add the column 'year' to the clean DataFrame
    df_clean.insert(0, 'year', year)
    
    # Add the column 'id_ns' to the clean DataFrame
    df_clean.insert(1, 'id_ns', id_ns)
    
    # Get corresponding date from database
    date = get_date(df_clean, engine)
    if date:
        # Add 'date' column to cleaned DataFrame
        df_clean.insert(2, 'date', date)
    else:
        print("Date not found in database for id_ns:", id_ns, "and year:", year)

    # Store cleaned DataFrame in old_dataframes_dict_1
    old_dataframes_dict_1[dataframe_name] = df_clean

    return id_ns, year, old_tables_dict_1

# Function to process folder
def process_folder(folder, engine):
    print(f"Processing folder {os.path.basename(folder)}")
    csv_files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.csv')]

    num_csv_processed = 0
    num_dataframes_generated = 0

    table_counter = 1  # Initialize table counter here
    old_tables_dict_1 = {}  # Declare old_tables_dict_1 outside main loop
    
    for csv_file in csv_files:
        id_ns, year, tables_dict_temp = process_csv(csv_file, engine)

        if tables_dict_temp:
            for dataframe_name, df in tables_dict_temp.items():
                file_name = os.path.splitext(os.path.basename(csv_file))[0].replace('-', '_')
                dataframe_name = f"{file_name}_{table_counter}"
                
                # Store raw DataFrame in old_tables_dict_1
                old_tables_dict_1[dataframe_name] = df.copy()
                
                # Apply cleanup functions to a copy of the DataFrame
                df_clean = df.copy()

                # Conditional cleaning based on the first column
                if df_clean.columns[1] == 'economic_sectors':
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                else:
                    # Cleaning functions (set as required)
                    df_clean = clean_column_names(df_clean)
                    df_clean = adjust_column_names(df_clean)
                    df_clean = drop_rare_caracter_row(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = drop_nan_columns(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = remove_digit_slash(df_clean)
                    df_clean = replace_var_perc_first_column(df_clean)
                    df_clean = replace_var_perc_last_columns(df_clean)
                    df_clean = replace_number_moving_average(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = find_year_column(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = get_months_sublist_list(df_clean, year_columns)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)

                # Add the column 'year' to the clean DataFrame
                df_clean.insert(0, 'year', year)

                # Add the column 'id_ns' to the clean DataFrame
                df_clean.insert(1, 'id_ns', id_ns)

                # Get corresponding date from database
                date = get_date(df_clean, engine)
                if date:
                    # Add 'date' column to cleaned DataFrame
                    df_clean.insert(2, 'date', date)
                else:
                    print("Date not found in database for id_ns:", id_ns, "and year:", year)

                # Store cleaned DataFrame in old_dataframes_dict_1
                old_dataframes_dict_1[dataframe_name] = df_clean

                print(f'  {table_counter}. The dataframe generated for the {csv_file} file is: {dataframe_name}')
                num_dataframes_generated += 1
                table_counter += 1  # Increment table counter here
        
        num_csv_processed += 1  # Increment number of processed CSV for each CSV in folder

    return num_csv_processed, num_dataframes_generated, old_tables_dict_1

def process_folders():
    csv_folder = table_1_folder
    folders = [os.path.join(csv_folder, d) for d in os.listdir(csv_folder) if os.path.isdir(os.path.join(csv_folder, d)) and re.match(r'\d{4}', d)]
    
    old_tables_dict_1 = {}  # Initialize old_tables_dict_1 here
    
    for folder in folders:
        if folder_processed(folder):
            print(f"Folder {folder} has already been processed.")
            continue
        
        num_csv_processed, num_dataframes_generated, tables_dict_temp = process_folder(folder, engine)
        
        # Update old_tables_dict_1 with values returned from process_folder()
        old_tables_dict_1.update(tables_dict_temp)
        
        register_processed_folder(folder, num_csv_processed)

        # Ask user if they want to continue with next folder
        root = Tk()
        root.withdraw()
        root.attributes('-topmost', True)  # Ensure the messagebox is in front
        message = f"Process {folder} complete. Processed {num_csv_processed} CSV(s) and generated {num_dataframes_generated} DataFrame(s). Continue with next folder?"
        if not messagebox.askyesno("Continue?", message):
            break
            
    print("Processing completed for all folders.")  # Add a message to indicate completion
    
    return old_tables_dict_1

if __name__ == "__main__":
    engine = create_sqlalchemy_engine()
    old_tables_dict_1 = process_folders()

Processing folder 1994
  1. The dataframe generated for the input_data\table_1\1994\ns-03-1994.csv file is: ns_03_1994_1
  2. The dataframe generated for the input_data\table_1\1994\ns-06-1994.csv file is: ns_06_1994_2
  3. The dataframe generated for the input_data\table_1\1994\ns-09-1994.csv file is: ns_09_1994_3
  4. The dataframe generated for the input_data\table_1\1994\ns-13-1994.csv file is: ns_13_1994_4
  5. The dataframe generated for the input_data\table_1\1994\ns-20-1994.csv file is: ns_20_1994_5
  6. The dataframe generated for the input_data\table_1\1994\ns-22-1994.csv file is: ns_22_1994_6
  7. The dataframe generated for the input_data\table_1\1994\ns-25-1994.csv file is: ns_25_1994_7
  8. The dataframe generated for the input_data\table_1\1994\ns-31-1994.csv file is: ns_31_1994_8
  9. The dataframe generated for the input_data\table_1\1994\ns-33-1994.csv file is: ns_33_1994_9
  10. The dataframe generated for the input_data\table_1\1994\ns-37-1994.csv file is: ns_37_1994_10
  11. The dataframe generated for the input_data\table_1\1994\ns-43-1994.csv file is: ns_43_1994_11
  12. The dataframe generated for the input_data\table_1\1994\ns-49-1994.csv file is: ns_49_1994_12
Processing folder 1995
  1. The dataframe generated for the input_data\table_1\1995\ns-01-1995.csv file is: ns_01_1995_1
  2. The dataframe generated for the input_data\table_1\1995\ns-07-1995.csv file is: ns_07_1995_2
  3. The dataframe generated for the input_data\table_1\1995\ns-13-1995.csv file is: ns_13_1995_3
  4. The dataframe generated for the input_data\table_1\1995\ns-16-1995.csv file is: ns_16_1995_4
  5. The dataframe generated for the input_data\table_1\1995\ns-20-1995.csv file is: ns_20_1995_5
  6. The dataframe generated for the input_data\table_1\1995\ns-25-1995.csv file is: ns_25_1995_6
  7. The dataframe generated for the input_data\table_1\1995\ns-27-1995.csv file is: ns_27_1995_7
  8. The dataframe generated for the input_data\table_1\1995\ns-31-1995.csv file is: ns_31_1995_8
  9. The dataframe generated for the input_data\table_1\1995\ns-38-1995.csv file is: ns_38_1995_9
  10. The dataframe generated for the input_data\table_1\1995\ns-43-1995.csv file is: ns_43_1995_10
  11. The dataframe generated for the input_data\table_1\1995\ns-44-1995.csv file is: ns_44_1995_11
  12. The dataframe generated for the input_data\table_1\1995\ns-48-1995.csv file is: ns_48_1995_12
Processing folder 1996
  1. The dataframe generated for the input_data\table_1\1996\ns-05-1996.csv file is: ns_05_1996_1
  2. The dataframe generated for the input_data\table_1\1996\ns-09-1996.csv file is: ns_09_1996_2
  3. The dataframe generated for the input_data\table_1\1996\ns-10-1996.csv file is: ns_10_1996_3
  4. The dataframe generated for the input_data\table_1\1996\ns-15-1996.csv file is: ns_15_1996_4
  5. The dataframe generated for the input_data\table_1\1996\ns-18-1996.csv file is: ns_18_1996_5
  6. The dataframe generated for the input_data\table_1\1996\ns-22-1996.csv file is: ns_22_1996_6
  7. The dataframe generated for the input_data\table_1\1996\ns-27-1996.csv file is: ns_27_1996_7
  8. The dataframe generated for the input_data\table_1\1996\ns-35-1996.csv file is: ns_35_1996_8
  9. The dataframe generated for the input_data\table_1\1996\ns-39-1996.csv file is: ns_39_1996_9
  10. The dataframe generated for the input_data\table_1\1996\ns-41-1996.csv file is: ns_41_1996_10
  11. The dataframe generated for the input_data\table_1\1996\ns-44-1996.csv file is: ns_44_1996_11
  12. The dataframe generated for the input_data\table_1\1996\ns-49-1996.csv file is: ns_49_1996_12
Processing folder 1997
  1. The dataframe generated for the input_data\table_1\1997\ns-02-1997.csv file is: ns_02_1997_1
  2. The dataframe generated for the input_data\table_1\1997\ns-06-1997.csv file is: ns_06_1997_2
  3. The dataframe generated for the input_data\table_1\1997\ns-10-1997.csv file is: ns_10_1997_3
  4. The dataframe generated for the input_data\table_1\1997\ns-11-1997.csv file is: ns_11_1997_4
  5. The dataframe generated for the input_data\table_1\1997\ns-15-1997.csv file is: ns_15_1997_5
  6. The dataframe generated for the input_data\table_1\1997\ns-19-1997.csv file is: ns_19_1997_6
  7. The dataframe generated for the input_data\table_1\1997\ns-25-1997.csv file is: ns_25_1997_7
  8. The dataframe generated for the input_data\table_1\1997\ns-26-1997.csv file is: ns_26_1997_8
  9. The dataframe generated for the input_data\table_1\1997\ns-32-1997.csv file is: ns_32_1997_9
  10. The dataframe generated for the input_data\table_1\1997\ns-37-1997.csv file is: ns_37_1997_10
  11. The dataframe generated for the input_data\table_1\1997\ns-38-1997.csv file is: ns_38_1997_11
  12. The dataframe generated for the input_data\table_1\1997\ns-42-1997.csv file is: ns_42_1997_12
  13. The dataframe generated for the input_data\table_1\1997\ns-48-1997.csv file is: ns_48_1997_13
Processing folder 1998
  1. The dataframe generated for the input_data\table_1\1998\ns-04-1998.csv file is: ns_04_1998_1
  2. The dataframe generated for the input_data\table_1\1998\ns-06-1998.csv file is: ns_06_1998_2
  3. The dataframe generated for the input_data\table_1\1998\ns-13-1998.csv file is: ns_13_1998_3
  4. The dataframe generated for the input_data\table_1\1998\ns-14-1998.csv file is: ns_14_1998_4
  5. The dataframe generated for the input_data\table_1\1998\ns-20-1998.csv file is: ns_20_1998_5
  6. The dataframe generated for the input_data\table_1\1998\ns-24-1998.csv file is: ns_24_1998_6
  7. The dataframe generated for the input_data\table_1\1998\ns-29-1998.csv file is: ns_29_1998_7
  8. The dataframe generated for the input_data\table_1\1998\ns-31-1998.csv file is: ns_31_1998_8
  9. The dataframe generated for the input_data\table_1\1998\ns-35-1998.csv file is: ns_35_1998_9
  10. The dataframe generated for the input_data\table_1\1998\ns-42-1998.csv file is: ns_42_1998_10
  11. The dataframe generated for the input_data\table_1\1998\ns-45-1998.csv file is: ns_45_1998_11
  12. The dataframe generated for the input_data\table_1\1998\ns-47-1998.csv file is: ns_47_1998_12
Processing folder 1999
  1. The dataframe generated for the input_data\table_1\1999\ns-05-1999.csv file is: ns_05_1999_1
  2. The dataframe generated for the input_data\table_1\1999\ns-09-1999.csv file is: ns_09_1999_2
  3. The dataframe generated for the input_data\table_1\1999\ns-13-1999.csv file is: ns_13_1999_3
  4. The dataframe generated for the input_data\table_1\1999\ns-17-1999.csv file is: ns_17_1999_4
  5. The dataframe generated for the input_data\table_1\1999\ns-18-1999.csv file is: ns_18_1999_5
  6. The dataframe generated for the input_data\table_1\1999\ns-25-1999.csv file is: ns_25_1999_6
  7. The dataframe generated for the input_data\table_1\1999\ns-29-1999.csv file is: ns_29_1999_7
  8. The dataframe generated for the input_data\table_1\1999\ns-30-1999.csv file is: ns_30_1999_8
  9. The dataframe generated for the input_data\table_1\1999\ns-37-1999.csv file is: ns_37_1999_9
  10. The dataframe generated for the input_data\table_1\1999\ns-38-1999.csv file is: ns_38_1999_10
  11. The dataframe generated for the input_data\table_1\1999\ns-39-1999.csv file is: ns_39_1999_11
  12. The dataframe generated for the input_data\table_1\1999\ns-44-1999.csv file is: ns_44_1999_12
  13. The dataframe generated for the input_data\table_1\1999\ns-46-1999.csv file is: ns_46_1999_13
  14. The dataframe generated for the input_data\table_1\1999\ns-47-1999.csv file is: ns_47_1999_14
  15. The dataframe generated for the input_data\table_1\1999\ns-48-1999.csv file is: ns_48_1999_15
Processing folder 2000
  1. The dataframe generated for the input_data\table_1\2000\ns-01-2000.csv file is: ns_01_2000_1
  2. The dataframe generated for the input_data\table_1\2000\ns-04-2000.csv file is: ns_04_2000_2
  3. The dataframe generated for the input_data\table_1\2000\ns-07-2000.csv file is: ns_07_2000_3
  4. The dataframe generated for the input_data\table_1\2000\ns-11-2000.csv file is: ns_11_2000_4
  5. The dataframe generated for the input_data\table_1\2000\ns-14-2000.csv file is: ns_14_2000_5
  6. The dataframe generated for the input_data\table_1\2000\ns-19-2000.csv file is: ns_19_2000_6
  7. The dataframe generated for the input_data\table_1\2000\ns-22-2000.csv file is: ns_22_2000_7
  8. The dataframe generated for the input_data\table_1\2000\ns-28-2000.csv file is: ns_28_2000_8
  9. The dataframe generated for the input_data\table_1\2000\ns-32-2000.csv file is: ns_32_2000_9
  10. The dataframe generated for the input_data\table_1\2000\ns-38-2000.csv file is: ns_38_2000_10

  11. The dataframe generated for the input_data\table_1\2000\ns-42-2000.csv file is: ns_42_2000_11
  12. The dataframe generated for the input_data\table_1\2000\ns-46-2000.csv file is: ns_46_2000_12
  13. The dataframe generated for the input_data\table_1\2000\ns-49-2000.csv file is: ns_49_2000_13
Processing folder 2001
  1. The dataframe generated for the input_data\table_1\2001\ns-01-2001.csv file is: ns_01_2001_1
  2. The dataframe generated for the input_data\table_1\2001\ns-05-2001.csv file is: ns_05_2001_2
  3. The dataframe generated for the input_data\table_1\2001\ns-08-2001.csv file is: ns_08_2001_3
  4. The dataframe generated for the input_data\table_1\2001\ns-10-2001.csv file is: ns_10_2001_4
  5. The dataframe generated for the input_data\table_1\2001\ns-16-2001.csv file is: ns_16_2001_5
  6. The dataframe generated for the input_data\table_1\2001\ns-18-2001.csv file is: ns_18_2001_6
  7. The dataframe generated for the input_data\table_1\2001\ns-25-2001.csv file is: ns_25_2001_7
  8. The dataframe generated for the input_data\table_1\2001\ns-26-2001.csv file is: ns_26_2001_8
  9. The dataframe generated for the input_data\table_1\2001\ns-32-2001.csv file is: ns_32_2001_9
  10. The dataframe generated for the input_data\table_1\2001\ns-34-2001.csv file is: ns_34_2001_10
  11. The dataframe generated for the input_data\table_1\2001\ns-39-2001.csv file is: ns_39_2001_11
  12. The dataframe generated for the input_data\table_1\2001\ns-43-2001.csv file is: ns_43_2001_12
  13. The dataframe generated for the input_data\table_1\2001\ns-48-2001.csv file is: ns_48_2001_13
Processing folder 2009
Processing folder 2010
  1. The dataframe generated for the input_data\table_1\2010\ns-03-2010.csv file is: ns_03_2010_1
  2. The dataframe generated for the input_data\table_1\2010\ns-04-2010.csv file is: ns_04_2010_2
  3. The dataframe generated for the input_data\table_1\2010\ns-05-2010.csv file is: ns_05_2010_3
  4. The dataframe generated for the input_data\table_1\2010\ns-06-2010.csv file is: ns_06_2010_4
  5. The dataframe generated for the input_data\table_1\2010\ns-07-2010.csv file is: ns_07_2010_5
  6. The dataframe generated for the input_data\table_1\2010\ns-08-2010.csv file is: ns_08_2010_6
  7. The dataframe generated for the input_data\table_1\2010\ns-09-2010.csv file is: ns_09_2010_7
  8. The dataframe generated for the input_data\table_1\2010\ns-10-2010.csv file is: ns_10_2010_8
  9. The dataframe generated for the input_data\table_1\2010\ns-11-2010.csv file is: ns_11_2010_9
  10. The dataframe generated for the input_data\table_1\2010\ns-12-2010.csv file is: ns_12_2010_10
  11. The dataframe generated for the input_data\table_1\2010\ns-13-2010.csv file is: ns_13_2010_11
  12. The dataframe generated for the input_data\table_1\2010\ns-14-2010.csv file is: ns_14_2010_12
  13. The dataframe generated for the input_data\table_1\2010\ns-15-2010.csv file is: ns_15_2010_13
  14. The dataframe generated for the input_data\table_1\2010\ns-16-2010.csv file is: ns_16_2010_14
  15. The dataframe generated for the input_data\table_1\2010\ns-17-2010.csv file is: ns_17_2010_15
  16. The dataframe generated for the input_data\table_1\2010\ns-18-2010.csv file is: ns_18_2010_16
  17. The dataframe generated for the input_data\table_1\2010\ns-19-2010.csv file is: ns_19_2010_17
  18. The dataframe generated for the input_data\table_1\2010\ns-20-2010.csv file is: ns_20_2010_18
  19. The dataframe generated for the input_data\table_1\2010\ns-21-2010.csv file is: ns_21_2010_19
  20. The dataframe generated for the input_data\table_1\2010\ns-22-2010.csv file is: ns_22_2010_20
  21. The dataframe generated for the input_data\table_1\2010\ns-23-2010.csv file is: ns_23_2010_21
  22. The dataframe generated for the input_data\table_1\2010\ns-24-2010.csv file is: ns_24_2010_22
  23. The dataframe generated for the input_data\table_1\2010\ns-25-2010.csv file is: ns_25_2010_23
  24. The dataframe generated for the input_data\table_1\2010\ns-26-2010.csv file is: ns_26_2010_24
  25. The dataframe generated for the input_data\table_1\2010\ns-27-2010.csv file is: ns_27_2010_25
  26. The dataframe generated for the input_data\table_1\2010\ns-28-2010.csv file is: ns_28_2010_26
  27. The dataframe generated for the input_data\table_1\2010\ns-29-2010.csv file is: ns_29_2010_27
  28. The dataframe generated for the input_data\table_1\2010\ns-30-2010.csv file is: ns_30_2010_28
  29. The dataframe generated for the input_data\table_1\2010\ns-31-2010.csv file is: ns_31_2010_29
  30. The dataframe generated for the input_data\table_1\2010\ns-32-2010.csv file is: ns_32_2010_30
  31. The dataframe generated for the input_data\table_1\2010\ns-33-2010.csv file is: ns_33_2010_31
  32. The dataframe generated for the input_data\table_1\2010\ns-34-2010.csv file is: ns_34_2010_32
  33. The dataframe generated for the input_data\table_1\2010\ns-35-2010.csv file is: ns_35_2010_33
  34. The dataframe generated for the input_data\table_1\2010\ns-36-2010.csv file is: ns_36_2010_34
  35. The dataframe generated for the input_data\table_1\2010\ns-37-2010.csv file is: ns_37_2010_35
  36. The dataframe generated for the input_data\table_1\2010\ns-38-2010.csv file is: ns_38_2010_36
  37. The dataframe generated for the input_data\table_1\2010\ns-39-2010.csv file is: ns_39_2010_37
  38. The dataframe generated for the input_data\table_1\2010\ns-40-2010.csv file is: ns_40_2010_38
  39. The dataframe generated for the input_data\table_1\2010\ns-41-2010.csv file is: ns_41_2010_39
  40. The dataframe generated for the input_data\table_1\2010\ns-42-2010.csv file is: ns_42_2010_40
  41. The dataframe generated for the input_data\table_1\2010\ns-43-2010.csv file is: ns_43_2010_41
  42. The dataframe generated for the input_data\table_1\2010\ns-44-2010.csv file is: ns_44_2010_42
  43. The dataframe generated for the input_data\table_1\2010\ns-45-2010.csv file is: ns_45_2010_43
  44. The dataframe generated for the input_data\table_1\2010\ns-46-2010.csv file is: ns_46_2010_44
  45. The dataframe generated for the input_data\table_1\2010\ns-47-2010.csv file is: ns_47_2010_45
  46. The dataframe generated for the input_data\table_1\2010\ns-48-2010.csv file is: ns_48_2010_46
  47. The dataframe generated for the input_data\table_1\2010\ns-49-2010.csv file is: ns_49_2010_47
Processing folder 2011
  1. The dataframe generated for the input_data\table_1\2011\ns-01-2011.csv file is: ns_01_2011_1
  2. The dataframe generated for the input_data\table_1\2011\ns-02-2011.csv file is: ns_02_2011_2
  3. The dataframe generated for the input_data\table_1\2011\ns-03-2011.csv file is: ns_03_2011_3
  4. The dataframe generated for the input_data\table_1\2011\ns-04-2011.csv file is: ns_04_2011_4
  5. The dataframe generated for the input_data\table_1\2011\ns-05-2011.csv file is: ns_05_2011_5
  6. The dataframe generated for the input_data\table_1\2011\ns-06-2011.csv file is: ns_06_2011_6
  7. The dataframe generated for the input_data\table_1\2011\ns-07-2011.csv file is: ns_07_2011_7
  8. The dataframe generated for the input_data\table_1\2011\ns-08-2011.csv file is: ns_08_2011_8
  9. The dataframe generated for the input_data\table_1\2011\ns-09-2011.csv file is: ns_09_2011_9
  10. The dataframe generated for the input_data\table_1\2011\ns-10-2011.csv file is: ns_10_2011_10
  11. The dataframe generated for the input_data\table_1\2011\ns-11-2011.csv file is: ns_11_2011_11
  12. The dataframe generated for the input_data\table_1\2011\ns-12-2011.csv file is: ns_12_2011_12
  13. The dataframe generated for the input_data\table_1\2011\ns-13-2011.csv file is: ns_13_2011_13
  14. The dataframe generated for the input_data\table_1\2011\ns-14-2011.csv file is: ns_14_2011_14
  15. The dataframe generated for the input_data\table_1\2011\ns-15-2011.csv file is: ns_15_2011_15
  16. The dataframe generated for the input_data\table_1\2011\ns-16-2011.csv file is: ns_16_2011_16
  17. The dataframe generated for the input_data\table_1\2011\ns-17-2011.csv file is: ns_17_2011_17
  18. The dataframe generated for the input_data\table_1\2011\ns-18-2011.csv file is: ns_18_2011_18
  19. The dataframe generated for the input_data\table_1\2011\ns-19-2011.csv file is: ns_19_2011_19
  20. The dataframe generated for the input_data\table_1\2011\ns-20-2011.csv file is: ns_20_2011_20
  21. The dataframe generated for the input_data\table_1\2011\ns-21-2011.csv file is: ns_21_2011_21
  22. The dataframe generated for the input_data\table_1\2011\ns-22-2011.csv file is: ns_22_2011_22

  23. The dataframe generated for the input_data\table_1\2011\ns-23-2011.csv file is: ns_23_2011_23
  24. The dataframe generated for the input_data\table_1\2011\ns-24-2011.csv file is: ns_24_2011_24
  25. The dataframe generated for the input_data\table_1\2011\ns-25-2011.csv file is: ns_25_2011_25
  26. The dataframe generated for the input_data\table_1\2011\ns-26-2011.csv file is: ns_26_2011_26
  27. The dataframe generated for the input_data\table_1\2011\ns-27-2011.csv file is: ns_27_2011_27
  28. The dataframe generated for the input_data\table_1\2011\ns-28-2011.csv file is: ns_28_2011_28
  29. The dataframe generated for the input_data\table_1\2011\ns-29-2011.csv file is: ns_29_2011_29
  30. The dataframe generated for the input_data\table_1\2011\ns-30-2011.csv file is: ns_30_2011_30
  31. The dataframe generated for the input_data\table_1\2011\ns-31-2011.csv file is: ns_31_2011_31
  32. The dataframe generated for the input_data\table_1\2011\ns-32-2011.csv file is: ns_32_2011_32
  33. The dataframe generated for the input_data\table_1\2011\ns-33-2011.csv file is: ns_33_2011_33
  34. The dataframe generated for the input_data\table_1\2011\ns-34-2011.csv file is: ns_34_2011_34
  35. The dataframe generated for the input_data\table_1\2011\ns-35-2011.csv file is: ns_35_2011_35
  36. The dataframe generated for the input_data\table_1\2011\ns-36-2011.csv file is: ns_36_2011_36
  37. The dataframe generated for the input_data\table_1\2011\ns-37-2011.csv file is: ns_37_2011_37
  38. The dataframe generated for the input_data\table_1\2011\ns-38-2011.csv file is: ns_38_2011_38
  39. The dataframe generated for the input_data\table_1\2011\ns-39-2011.csv file is: ns_39_2011_39
  40. The dataframe generated for the input_data\table_1\2011\ns-40-2011.csv file is: ns_40_2011_40
  41. The dataframe generated for the input_data\table_1\2011\ns-41-2011.csv file is: ns_41_2011_41
  42. The dataframe generated for the input_data\table_1\2011\ns-42-2011.csv file is: ns_42_2011_42
  43. The dataframe generated for the input_data\table_1\2011\ns-43-2011.csv file is: ns_43_2011_43
  44. The dataframe generated for the input_data\table_1\2011\ns-44-2011.csv file is: ns_44_2011_44
  45. The dataframe generated for the input_data\table_1\2011\ns-45-2011.csv file is: ns_45_2011_45
  46. The dataframe generated for the input_data\table_1\2011\ns-46-2011.csv file is: ns_46_2011_46
  47. The dataframe generated for the input_data\table_1\2011\ns-47-2011.csv file is: ns_47_2011_47
  48. The dataframe generated for the input_data\table_1\2011\ns-48-2011.csv file is: ns_48_2011_48
  49. The dataframe generated for the input_data\table_1\2011\ns-49-2011.csv file is: ns_49_2011_49
Processing folder 2012
  1. The dataframe generated for the input_data\table_1\2012\ns-01-2012.csv file is: ns_01_2012_1
  2. The dataframe generated for the input_data\table_1\2012\ns-02-2012.csv file is: ns_02_2012_2
  3. The dataframe generated for the input_data\table_1\2012\ns-03-2012.csv file is: ns_03_2012_3
  4. The dataframe generated for the input_data\table_1\2012\ns-04-2012.csv file is: ns_04_2012_4
  5. The dataframe generated for the input_data\table_1\2012\ns-05-2012.csv file is: ns_05_2012_5
  6. The dataframe generated for the input_data\table_1\2012\ns-06-2012.csv file is: ns_06_2012_6
  7. The dataframe generated for the input_data\table_1\2012\ns-07-2012.csv file is: ns_07_2012_7
  8. The dataframe generated for the input_data\table_1\2012\ns-08-2012.csv file is: ns_08_2012_8
  9. The dataframe generated for the input_data\table_1\2012\ns-09-2012.csv file is: ns_09_2012_9
  10. The dataframe generated for the input_data\table_1\2012\ns-10-2012.csv file is: ns_10_2012_10
  11. The dataframe generated for the input_data\table_1\2012\ns-11-2012.csv file is: ns_11_2012_11
  12. The dataframe generated for the input_data\table_1\2012\ns-12-2012.csv file is: ns_12_2012_12
  13. The dataframe generated for the input_data\table_1\2012\ns-13-2012.csv file is: ns_13_2012_13
  14. The dataframe generated for the input_data\table_1\2012\ns-14-2012.csv file is: ns_14_2012_14
  15. The dataframe generated for the input_data\table_1\2012\ns-15-2012.csv file is: ns_15_2012_15
  16. The dataframe generated for the input_data\table_1\2012\ns-16-2012.csv file is: ns_16_2012_16
  17. The dataframe generated for the input_data\table_1\2012\ns-17-2012.csv file is: ns_17_2012_17
  18. The dataframe generated for the input_data\table_1\2012\ns-18-2012.csv file is: ns_18_2012_18
  19. The dataframe generated for the input_data\table_1\2012\ns-19-2012.csv file is: ns_19_2012_19
  20. The dataframe generated for the input_data\table_1\2012\ns-20-2012.csv file is: ns_20_2012_20
  21. The dataframe generated for the input_data\table_1\2012\ns-21-2012.csv file is: ns_21_2012_21
  22. The dataframe generated for the input_data\table_1\2012\ns-22-2012.csv file is: ns_22_2012_22
  23. The dataframe generated for the input_data\table_1\2012\ns-23-2012.csv file is: ns_23_2012_23
  24. The dataframe generated for the input_data\table_1\2012\ns-24-2012.csv file is: ns_24_2012_24
  25. The dataframe generated for the input_data\table_1\2012\ns-25-2012.csv file is: ns_25_2012_25
  26. The dataframe generated for the input_data\table_1\2012\ns-26-2012.csv file is: ns_26_2012_26
  27. The dataframe generated for the input_data\table_1\2012\ns-27-2012.csv file is: ns_27_2012_27
  28. The dataframe generated for the input_data\table_1\2012\ns-28-2012.csv file is: ns_28_2012_28
  29. The dataframe generated for the input_data\table_1\2012\ns-29-2012.csv file is: ns_29_2012_29
  30. The dataframe generated for the input_data\table_1\2012\ns-30-2012.csv file is: ns_30_2012_30
  31. The dataframe generated for the input_data\table_1\2012\ns-31-2012.csv file is: ns_31_2012_31
  32. The dataframe generated for the input_data\table_1\2012\ns-32-2012.csv file is: ns_32_2012_32
  33. The dataframe generated for the input_data\table_1\2012\ns-33-2012.csv file is: ns_33_2012_33
  34. The dataframe generated for the input_data\table_1\2012\ns-34-2012.csv file is: ns_34_2012_34
  35. The dataframe generated for the input_data\table_1\2012\ns-35-2012.csv file is: ns_35_2012_35
  36. The dataframe generated for the input_data\table_1\2012\ns-36-2012.csv file is: ns_36_2012_36
  37. The dataframe generated for the input_data\table_1\2012\ns-37-2012.csv file is: ns_37_2012_37
  38. The dataframe generated for the input_data\table_1\2012\ns-38-2012.csv file is: ns_38_2012_38
  39. The dataframe generated for the input_data\table_1\2012\ns-39-2012.csv file is: ns_39_2012_39
  40. The dataframe generated for the input_data\table_1\2012\ns-40-2012.csv file is: ns_40_2012_40
  41. The dataframe generated for the input_data\table_1\2012\ns-41-2012.csv file is: ns_41_2012_41
  42. The dataframe generated for the input_data\table_1\2012\ns-42-2012.csv file is: ns_42_2012_42
  43. The dataframe generated for the input_data\table_1\2012\ns-43-2012.csv file is: ns_43_2012_43
  44. The dataframe generated for the input_data\table_1\2012\ns-44-2012.csv file is: ns_44_2012_44
  45. The dataframe generated for the input_data\table_1\2012\ns-45-2012.csv file is: ns_45_2012_45
  46. The dataframe generated for the input_data\table_1\2012\ns-46-2012.csv file is: ns_46_2012_46
  47. The dataframe generated for the input_data\table_1\2012\ns-47-2012.csv file is: ns_47_2012_47
  48. The dataframe generated for the input_data\table_1\2012\ns-48-2012.csv file is: ns_48_2012_48
  49. The dataframe generated for the input_data\table_1\2012\ns-49-2012.csv file is: ns_49_2012_49
Processing completed for all folders.

In [13]:
old_tables_dict_1['ns_04_1998_1']

,sectores_economicos,economic_sectors,1996_nov,1996_dic,1996_ene_dic,1997_ene,1997_feb,1997_mar,1997_abr,1997_may,1997_jun,1997_jul,1997_ago,1997_sep,1997_oct,1997_nov,1997_ene_nov
0,agropecuario,agriculture and livestock,8.2,9.3,5.8,21.8,12.6,14.2,7.9,6.5,-3.2,-3.3,-8.0,0.5,3.2,10.4,4.2
1,agricola,agriculture,19.2,17.1,8.3,38.9,16.4,19.7,8.7,7.6,-4.5,-6.0,-14.7,-4.9,-2.2,7.3,3.1
2,pecuario,livestock,-3.5,0.0,0.6,3.0,7.5,4.5,5.7,2.6,2.2,4.5,7.6,9.5,11.0,14.6,6.6
3,pesca,fishing,44.1,75.0,-0.5,-18.9,-20.0,31.2,45.3,29.0,-11.4,-1.3,33.6,37.0,43.1,-51.9,1.3
4,mineria,mining and fuel,2.0,2.0,2.8,3.2,5.0,5.9,7.9,8.7,4.7,1.6,7.8,7.4,3.7,4.7,5.5
5,mineria metalica,metals,2.4,0.8,5.3,4.0,8.7,7.0,9.4,12.2,8.5,5.0,14.2,16.0,9.9,10.0,9.5
6,petroleo crudo,fuels,1.3,3.9,-1.2,1.8,-1.3,4.1,5.5,3.2,-1.6,-4.7,-3.8,-6.4,-6.9,-4.8,-1.4
7,manufactura,manufacturing,7.2,11.8,2.7,3.4,0.1,5.5,20.4,7.5,9.6,5.6,6.9,12.0,13.8,-0.8,7.5
8,procesadores recursos primarios,based on raw materials,19.3,32.6,5.5,-1.8,-10.8,9.5,28.2,12.4,1.1,3.1,7.1,18.0,14.3,-16.2,5.2
9,resto industria,non primary,1.8,3.2,1.6,5.8,4.1,4.3,16.7,5.1,13.5,6.5,6.8,10.1,13.6,7.3,8.4
10,construccion,construction,-0.2,5.1,-4.6,10.7,15.3,3.1,22.5,16.4,34.6,37.6,15.2,35.7,28.8,20.2,21.9
11,comercio,commerce,4.8,7.2,3.0,5.8,3.0,5.6,17.3,4.7,5.8,4.5,9.2,12.5,9.7,6.1,7.7
12,otros servicios,other services,4.2,5.3,3.2,3.6,3.2,3.8,9.2,4.6,8.3,5.5,7.3,9.1,5.5,6.3,6.1
13,pbi,gdp,5.2,7.8,2.6,5.7,4.5,6.0,14.1,7.2,7.4,6.2,6.3,11.7,10.0,5.0,7.6
14,pbi promedio de ultimos doce meses,average gdp for the last twelve months,1.8,2.6,NaN,3.2,3.2,3.8,4.8,5.3,5.6,5.7,6.1,6.9,7.7,7.7,NaN
15,pbi desestacionalizado,seasonally adjusted gdp,-0.1,0.7,NaN,1.7,2.4,-5.4,14.7,-1.6,-2.4,0.6,-3.9,5.3,-1.1,-4.6,NaN

In [14]:
old_dataframes_dict_1['ns_04_1998_1']

,year,id_ns,date,sectores_economicos,economic_sectors,1996_nov,1996_dic,1996_ene_dic,1997_ene,1997_feb,1997_mar,1997_abr,1997_may,1997_jun,1997_jul,1997_ago,1997_sep,1997_oct,1997_nov,1997_ene_nov
0,1998,04,1998-01-30,agropecuario,agriculture and livestock,8.2,9.3,5.8,21.8,12.6,14.2,7.9,6.5,-3.2,-3.3,-8.0,0.5,3.2,10.4,4.2
1,1998,04,1998-01-30,agricola,agriculture,19.2,17.1,8.3,38.9,16.4,19.7,8.7,7.6,-4.5,-6.0,-14.7,-4.9,-2.2,7.3,3.1
2,1998,04,1998-01-30,pecuario,livestock,-3.5,0.0,0.6,3.0,7.5,4.5,5.7,2.6,2.2,4.5,7.6,9.5,11.0,14.6,6.6
3,1998,04,1998-01-30,pesca,fishing,44.1,75.0,-0.5,-18.9,-20.0,31.2,45.3,29.0,-11.4,-1.3,33.6,37.0,43.1,-51.9,1.3
4,1998,04,1998-01-30,mineria,mining and fuel,2.0,2.0,2.8,3.2,5.0,5.9,7.9,8.7,4.7,1.6,7.8,7.4,3.7,4.7,5.5
5,1998,04,1998-01-30,mineria metalica,metals,2.4,0.8,5.3,4.0,8.7,7.0,9.4,12.2,8.5,5.0,14.2,16.0,9.9,10.0,9.5
6,1998,04,1998-01-30,petroleo crudo,fuels,1.3,3.9,-1.2,1.8,-1.3,4.1,5.5,3.2,-1.6,-4.7,-3.8,-6.4,-6.9,-4.8,-1.4
7,1998,04,1998-01-30,manufactura,manufacturing,7.2,11.8,2.7,3.4,0.1,5.5,20.4,7.5,9.6,5.6,6.9,12.0,13.8,-0.8,7.5
8,1998,04,1998-01-30,procesadores recursos primarios,based on raw materials,19.3,32.6,5.5,-1.8,-10.8,9.5,28.2,12.4,1.1,3.1,7.1,18.0,14.3,-16.2,5.2
9,1998,04,1998-01-30,resto industria,non primary,1.8,3.2,1.6,5.8,4.1,4.3,16.7,5.1,13.5,6.5,6.8,10.1,13.6,7.3,8.4
10,1998,04,1998-01-30,construccion,construction,-0.2,5.1,-4.6,10.7,15.3,3.1,22.5,16.4,34.6,37.6,15.2,35.7,28.8,20.2,21.9
11,1998,04,1998-01-30,comercio,commerce,4.8,7.2,3.0,5.8,3.0,5.6,17.3,4.7,5.8,4.5,9.2,12.5,9.7,6.1,7.7
12,1998,04,1998-01-30,otros servicios,other services,4.2,5.3,3.2,3.6,3.2,3.8,9.2,4.6,8.3,5.5,7.3,9.1,5.5,6.3,6.1
13,1998,04,1998-01-30,pbi,gdp,5.2,7.8,2.6,5.7,4.5,6.0,14.1,7.2,7.4,6.2,6.3,11.7,10.0,5.0,7.6
14,1998,04,1998-01-30,pbi promedio de ultimos doce meses,average gdp for the last twelve months,1.8,2.6,NaN,3.2,3.2,3.8,4.8,5.3,5.6,5.7,6.1,6.9,7.7,7.7,NaN
15,1998,04,1998-01-30,pbi desestacionalizado,seasonally adjusted gdp,-0.1,0.7,NaN,1.7,2.4,-5.4,14.7,-1.6,-2.4,0.6,-3.9,5.3,-1.1,-4.6,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2-1-2">
   <!-- Contenido de la celda de destino -->
</div>

<h3><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    <span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">Table 2.</span> Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.
    </span>
    </h3>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please check that the flat file <b>"ns_dates.csv"</b> is updated with the dates, years and ids for the newly downloaded PDF <span style="font-size: 24px;">&#128462;</span> (WR). That file is located in the <b>"ns_dates"</b> folder and is uploaded to SQL from the jupyeter notebook <code>aux_files_to_sql.ipynb</code>
    </span>
</div>

In [17]:
# Set the locale to Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Dictionary to store generated DataFrames
old_dataframes_dict_2 = {}

# Path for the processed folders log file
record_path = 'dataframes_record/old_processed_folders_2.txt'

# Function to correct month names
def correct_month_name(month):
    months_mapping = {
        'setiembre': 'septiembre',
        # Add more mappings as needed for other month names
    }
    return months_mapping.get(month, month)

# Function to register processed folder
def register_processed_folder(folder, num_processed_files):
    with open(record_path, 'a') as file:
        file.write(f"{folder}:{num_processed_files}\n")

# Function to check if folder has been processed
def folder_processed(folder):
    if not os.path.exists(record_path):
        return False
    with open(record_path, 'r') as file:
        for line in file:
            if line.startswith(folder):
                return True
    return False

# Function to fetch date from database
def get_date(df, engine):
    id_ns = df['id_ns'].iloc[0]
    year = df['year'].iloc[0]
    query = f"SELECT date FROM dates_growth_rates WHERE id_ns = '{id_ns}' AND year = '{year}';"
    date_result = pd.read_sql(query, engine)
    return date_result.iloc[0, 0] if not date_result.empty else None

def process_csv(csv_path, engine):
    old_tables_dict_2 = {}  # Local dictionary for each CSV
    table_counter = 1

    filename = os.path.basename(csv_path)
    id_ns_year_matches = re.findall(r'ns-(\d+)-(\d{4})', filename)
    if id_ns_year_matches:
        id_ns, year = id_ns_year_matches[0]
    else:
        print("No matches found for id_ns and year in filename:", filename)
        return None, None, None, None # Return None for tables_dict_1 as well

    new_filename = os.path.splitext(os.path.basename(csv_path))[0].replace('-', '_')

    df = pd.read_csv(csv_path, delimiter=';')
    
    dataframe_name = f"{new_filename}_{table_counter}"
    old_tables_dict_2[dataframe_name] = df.copy()

    # Apply cleanup functions to a copy of the DataFrame
    df_clean = df.copy()

    # Conditional cleaning based on the first column
    if df_clean.columns[1] == 'economic_sectors':
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)
    else:
        # Cleaning functions (set as required)
        df_clean = replace_total_with_year(df_clean)
        df_clean = drop_nan_rows(df_clean)
        year_columns = extract_years(df_clean)
        df_clean = roman_arabic(df_clean)
        df_clean = fix_duplicates(df_clean)
        df_clean = relocate_last_column(df_clean)
        df_clean = replace_first_row_nan(df_clean)
        df_clean = clean_first_row(df_clean)
        df_clean = get_quarters_sublist_list(df_clean, year_columns)
        df_clean = reset_index(df_clean)
        df_clean = first_row_columns(df_clean)
        df_clean = clean_columns_values(df_clean)
        df_clean = reset_index(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)

    # Add the column 'year' to the clean DataFrame
    df_clean.insert(0, 'year', year)
    
    # Add the column 'id_ns' to the clean DataFrame
    df_clean.insert(1, 'id_ns', id_ns)
    
    # Get corresponding date from database
    date = get_date(df_clean, engine)
    if date:
        # Add 'date' column to cleaned DataFrame
        df_clean.insert(2, 'date', date)
    else:
        print("Date not found in database for id_ns:", id_ns, "and year:", year)

    # Store cleaned DataFrame in old_dataframes_dict_2
    old_dataframes_dict_2[dataframe_name] = df_clean

    return id_ns, year, old_tables_dict_2

# Function to process folder
def process_folder(folder, engine):
    print(f"Processing folder {os.path.basename(folder)}")
    csv_files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.csv')]

    num_csv_processed = 0
    num_dataframes_generated = 0

    table_counter = 1  # Initialize table counter here
    old_tables_dict_2 = {}  # Declare old_tables_dict_1 outside main loop
    
    for csv_file in csv_files:
        id_ns, year, tables_dict_temp = process_csv(csv_file, engine)

        if tables_dict_temp:
            for dataframe_name, df in tables_dict_temp.items():
                file_name = os.path.splitext(os.path.basename(csv_file))[0].replace('-', '_')
                dataframe_name = f"{file_name}_{table_counter}"
                
                # Store raw DataFrame in old_tables_dict_2
                old_tables_dict_2[dataframe_name] = df.copy()
                
                # Procesar y limpiar el DataFrame
                df_clean = df.copy()
                
                # Conditional cleaning based on the first column
                if df_clean.columns[1] == 'economic_sectors':
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                else:
                    # Cleaning functions (set as required)
                    df_clean = replace_total_with_year(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = roman_arabic(df_clean)
                    df_clean = fix_duplicates(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = replace_first_row_nan(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = get_quarters_sublist_list(df_clean, year_columns)
                    df_clean = reset_index(df_clean)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                
                # Add the column 'year' to the clean DataFrame
                df_clean.insert(0, 'year', year)

                # Add the column 'id_ns' to the clean DataFrame
                df_clean.insert(1, 'id_ns', id_ns)

                # Get corresponding date from database
                date = get_date(df_clean, engine)
                if date:
                    # Add 'date' column to cleaned DataFrame
                    df_clean.insert(2, 'date', date)
                else:
                    print("Date not found in database for id_ns:", id_ns, "and year:", year)

                # Store cleaned DataFrame in old_dataframes_dict_2
                old_dataframes_dict_2[dataframe_name] = df_clean

                print(f'  {table_counter}. The dataframe generated for the {csv_file} file is: {dataframe_name}')
                num_dataframes_generated += 1
                table_counter += 1  # Increment table counter here
        
        num_csv_processed += 1  # Increment number of processed CSV for each CSV in folder

    return num_csv_processed, num_dataframes_generated, old_tables_dict_2

def process_folders():
    csv_folder = table_2_folder
    folders = [os.path.join(csv_folder, d) for d in os.listdir(csv_folder) if os.path.isdir(os.path.join(csv_folder, d)) and re.match(r'\d{4}', d)]
    
    old_tables_dict_2 = {}  # Initialize old_tables_dict_1 here
    
    for folder in folders:
        if folder_processed(folder):
            print(f"Folder {folder} has already been processed.")
            continue
        
        num_csv_processed, num_dataframes_generated, tables_dict_temp = process_folder(folder, engine)
        
        # Update old_tables_dict_2 with values returned from process_folder()
        old_tables_dict_2.update(tables_dict_temp)
        
        register_processed_folder(folder, num_csv_processed)

        # Ask user if they want to continue with next folder
        root = Tk()
        root.withdraw()
        root.attributes('-topmost', True)  # Ensure the messagebox is in front
        message = f"Process {folder} complete. Processed {num_csv_processed} CSV(s) and generated {num_dataframes_generated} DataFrame(s). Continue with next folder?"
        if not messagebox.askyesno("Continue?", message):
            break

    print("Processing completed for all folders.")  # Add a message to indicate completion

    return old_tables_dict_2
    
if __name__ == "__main__":
    engine = create_sqlalchemy_engine()
    old_tables_dict_2 = process_folders()

Processing folder 1997
  1. The dataframe generated for the input_data\table_2\1997\ns-02-1997.csv file is: ns_02_1997_1
  2. The dataframe generated for the input_data\table_2\1997\ns-13-1997.csv file is: ns_13_1997_2
  3. The dataframe generated for the input_data\table_2\1997\ns-17-1997.csv file is: ns_17_1997_3
  4. The dataframe generated for the input_data\table_2\1997\ns-21-1997.csv file is: ns_21_1997_4
  5. The dataframe generated for the input_data\table_2\1997\ns-24-1997.csv file is: ns_24_1997_5
  6. The dataframe generated for the input_data\table_2\1997\ns-32-1997.csv file is: ns_32_1997_6
  7. The dataframe generated for the input_data\table_2\1997\ns-48-1997.csv file is: ns_48_1997_7
  8. The dataframe generated for the input_data\table_2\1997\ns-49-1997.csv file is: ns_49_1997_8
Processing folder 1998
  1. The dataframe generated for the input_data\table_2\1998\ns-04-1998.csv file is: ns_04_1998_1
  2. The dataframe generated for the input_data\table_2\1998\ns-21-1998.csv file is: ns_21_1998_2
  3. The dataframe generated for the input_data\table_2\1998\ns-22-1998.csv file is: ns_22_1998_3
  4. The dataframe generated for the input_data\table_2\1998\ns-35-1998.csv file is: ns_35_1998_4
  5. The dataframe generated for the input_data\table_2\1998\ns-48-1998.csv file is: ns_48_1998_5
Processing folder 1999
  1. The dataframe generated for the input_data\table_2\1999\ns-06-1999.csv file is: ns_06_1999_1
  2. The dataframe generated for the input_data\table_2\1999\ns-08-1999.csv file is: ns_08_1999_2
  3. The dataframe generated for the input_data\table_2\1999\ns-20-1999.csv file is: ns_20_1999_3
  4. The dataframe generated for the input_data\table_2\1999\ns-21-1999.csv file is: ns_21_1999_4
  5. The dataframe generated for the input_data\table_2\1999\ns-22-1999.csv file is: ns_22_1999_5
  6. The dataframe generated for the input_data\table_2\1999\ns-24-1999.csv file is: ns_24_1999_6
  7. The dataframe generated for the input_data\table_2\1999\ns-25-1999.csv file is: ns_25_1999_7
  8. The dataframe generated for the input_data\table_2\1999\ns-31-1999.csv file is: ns_31_1999_8
  9. The dataframe generated for the input_data\table_2\1999\ns-45-1999.csv file is: ns_45_1999_9
Processing folder 2000
  1. The dataframe generated for the input_data\table_2\2000\ns-07-2000.csv file is: ns_07_2000_1
  2. The dataframe generated for the input_data\table_2\2000\ns-19-2000.csv file is: ns_19_2000_2
  3. The dataframe generated for the input_data\table_2\2000\ns-20-2000.csv file is: ns_20_2000_3
  4. The dataframe generated for the input_data\table_2\2000\ns-32-2000.csv file is: ns_32_2000_4
  5. The dataframe generated for the input_data\table_2\2000\ns-48-2000.csv file is: ns_48_2000_5
Processing folder 2001
  1. The dataframe generated for the input_data\table_2\2001\ns-07-2001.csv file is: ns_07_2001_1
  2. The dataframe generated for the input_data\table_2\2001\ns-19-2001.csv file is: ns_19_2001_2
  3. The dataframe generated for the input_data\table_2\2001\ns-25-2001.csv file is: ns_25_2001_3
  4. The dataframe generated for the input_data\table_2\2001\ns-26-2001.csv file is: ns_26_2001_4
  5. The dataframe generated for the input_data\table_2\2001\ns-32-2001.csv file is: ns_32_2001_5
  6. The dataframe generated for the input_data\table_2\2001\ns-44-2001.csv file is: ns_44_2001_6
Processing folder 2002
  1. The dataframe generated for the input_data\table_2\2002\ns-01-2002.csv file is: ns_01_2002_1
Processing folder 2009
Processing folder 2010
  1. The dataframe generated for the input_data\table_2\2010\ns-04-2010.csv file is: ns_04_2010_1
  2. The dataframe generated for the input_data\table_2\2010\ns-08-2010.csv file is: ns_08_2010_2
  3. The dataframe generated for the input_data\table_2\2010\ns-20-2010.csv file is: ns_20_2010_3
  4. The dataframe generated for the input_data\table_2\2010\ns-32-2010.csv file is: ns_32_2010_4
  5. The dataframe generated for the input_data\table_2\2010\ns-45-2010.csv file is: ns_45_2010_5
Processing folder 2011
  1. The dataframe generated for the input_data\table_2\2011\ns-01-2011.csv file is: ns_01_2011_1
  2. The dataframe generated for the input_data\table_2\2011\ns-02-2011.csv file is: ns_02_2011_2
  3. The dataframe generated for the input_data\table_2\2011\ns-03-2011.csv file is: ns_03_2011_3
  4. The dataframe generated for the input_data\table_2\2011\ns-04-2011.csv file is: ns_04_2011_4
  5. The dataframe generated for the input_data\table_2\2011\ns-05-2011.csv file is: ns_05_2011_5
  6. The dataframe generated for the input_data\table_2\2011\ns-06-2011.csv file is: ns_06_2011_6
  7. The dataframe generated for the input_data\table_2\2011\ns-07-2011.csv file is: ns_07_2011_7
  8. The dataframe generated for the input_data\table_2\2011\ns-08-2011.csv file is: ns_08_2011_8
  9. The dataframe generated for the input_data\table_2\2011\ns-09-2011.csv file is: ns_09_2011_9
  10. The dataframe generated for the input_data\table_2\2011\ns-10-2011.csv file is: ns_10_2011_10
  11. The dataframe generated for the input_data\table_2\2011\ns-11-2011.csv file is: ns_11_2011_11
  12. The dataframe generated for the input_data\table_2\2011\ns-12-2011.csv file is: ns_12_2011_12
  13. The dataframe generated for the input_data\table_2\2011\ns-13-2011.csv file is: ns_13_2011_13
  14. The dataframe generated for the input_data\table_2\2011\ns-14-2011.csv file is: ns_14_2011_14
  15. The dataframe generated for the input_data\table_2\2011\ns-15-2011.csv file is: ns_15_2011_15
  16. The dataframe generated for the input_data\table_2\2011\ns-16-2011.csv file is: ns_16_2011_16
  17. The dataframe generated for the input_data\table_2\2011\ns-17-2011.csv file is: ns_17_2011_17
  18. The dataframe generated for the input_data\table_2\2011\ns-18-2011.csv file is: ns_18_2011_18
  19. The dataframe generated for the input_data\table_2\2011\ns-19-2011.csv file is: ns_19_2011_19
  20. The dataframe generated for the input_data\table_2\2011\ns-20-2011.csv file is: ns_20_2011_20
  21. The dataframe generated for the input_data\table_2\2011\ns-21-2011.csv file is: ns_21_2011_21
  22. The dataframe generated for the input_data\table_2\2011\ns-22-2011.csv file is: ns_22_2011_22
  23. The dataframe generated for the input_data\table_2\2011\ns-23-2011.csv file is: ns_23_2011_23
  24. The dataframe generated for the input_data\table_2\2011\ns-24-2011.csv file is: ns_24_2011_24
  25. The dataframe generated for the input_data\table_2\2011\ns-25-2011.csv file is: ns_25_2011_25
  26. The dataframe generated for the input_data\table_2\2011\ns-26-2011.csv file is: ns_26_2011_26
  27. The dataframe generated for the input_data\table_2\2011\ns-27-2011.csv file is: ns_27_2011_27
  28. The dataframe generated for the input_data\table_2\2011\ns-28-2011.csv file is: ns_28_2011_28
  29. The dataframe generated for the input_data\table_2\2011\ns-29-2011.csv file is: ns_29_2011_29
  30. The dataframe generated for the input_data\table_2\2011\ns-30-2011.csv file is: ns_30_2011_30
  31. The dataframe generated for the input_data\table_2\2011\ns-31-2011.csv file is: ns_31_2011_31
  32. The dataframe generated for the input_data\table_2\2011\ns-32-2011.csv file is: ns_32_2011_32
  33. The dataframe generated for the input_data\table_2\2011\ns-33-2011.csv file is: ns_33_2011_33
  34. The dataframe generated for the input_data\table_2\2011\ns-34-2011.csv file is: ns_34_2011_34
  35. The dataframe generated for the input_data\table_2\2011\ns-35-2011.csv file is: ns_35_2011_35
  36. The dataframe generated for the input_data\table_2\2011\ns-36-2011.csv file is: ns_36_2011_36
  37. The dataframe generated for the input_data\table_2\2011\ns-37-2011.csv file is: ns_37_2011_37
  38. The dataframe generated for the input_data\table_2\2011\ns-38-2011.csv file is: ns_38_2011_38
  39. The dataframe generated for the input_data\table_2\2011\ns-39-2011.csv file is: ns_39_2011_39
  40. The dataframe generated for the input_data\table_2\2011\ns-40-2011.csv file is: ns_40_2011_40
  41. The dataframe generated for the input_data\table_2\2011\ns-41-2011.csv file is: ns_41_2011_41
  42. The dataframe generated for the input_data\table_2\2011\ns-42-2011.csv file is: ns_42_2011_42

  43. The dataframe generated for the input_data\table_2\2011\ns-43-2011.csv file is: ns_43_2011_43
  44. The dataframe generated for the input_data\table_2\2011\ns-44-2011.csv file is: ns_44_2011_44
  45. The dataframe generated for the input_data\table_2\2011\ns-45-2011.csv file is: ns_45_2011_45
  46. The dataframe generated for the input_data\table_2\2011\ns-46-2011.csv file is: ns_46_2011_46
  47. The dataframe generated for the input_data\table_2\2011\ns-47-2011.csv file is: ns_47_2011_47
  48. The dataframe generated for the input_data\table_2\2011\ns-48-2011.csv file is: ns_48_2011_48
  49. The dataframe generated for the input_data\table_2\2011\ns-49-2011.csv file is: ns_49_2011_49
Processing folder 2012
  1. The dataframe generated for the input_data\table_2\2012\ns-08-2012.csv file is: ns_08_2012_1
  2. The dataframe generated for the input_data\table_2\2012\ns-09-2012.csv file is: ns_09_2012_2
  3. The dataframe generated for the input_data\table_2\2012\ns-20-2012.csv file is: ns_20_2012_3
  4. The dataframe generated for the input_data\table_2\2012\ns-21-2012.csv file is: ns_21_2012_4
  5. The dataframe generated for the input_data\table_2\2012\ns-32-2012.csv file is: ns_32_2012_5
  6. The dataframe generated for the input_data\table_2\2012\ns-45-2012.csv file is: ns_45_2012_6
Processing completed for all folders.

In [22]:
old_tables_dict_2['ns_20_1999_3']

,sectores_económicos,economic_sectors,1996_1,1996_2,1996_3,1996_4,1996_year,1997_1,1997_2,1997_3,1997_4,1997_year,1998_1,1998_2,1998_3,1998_4,1998_year
0,agropecuario,agriculture and livestock,1.2,7.8,3.9,8.1,5.5,17.1,4.2,-3.9,6.5,4.9,4.5,-2.1,2.1,15.4,3.6
1,agrícola,agriculture,1.8,9.0,6.1,17.0,8.2,25.5,4.2,-9.5,1.8,3.5,3.5,-4.6,-1.5,23.0,2.0
2,pecuario,livestock,0.5,3.6,-0.9,-2.1,0.2,5.5,4.3,9.0,13.0,8.0,6.2,6.7,9.0,6.0,7.0
3,pesca,fishing,-19.0,1.2,-13.6,23.5,-0.7,-11.8,24.9,7.6,-55.9,-12.2,-63.5,-64.2,0.6,52.3,-35.7
4,minería,mining and fuel,1.4,2.7,3.2,4.2,2.9,4.6,7.3,6.3,4.9,5.8,3.5,-1.4,7.1,9.8,4.8
5,minería metálica,metals,4.9,7.4,5.2,4.5,5.5,6.8,10.5,12.3,10.2,10.0,7.7,0.7,7.1,11.7,6.8
6,minería no metálica,fuel,-4.4,-4.8,-0.1,3.8,-1.4,0.8,1.5,-4.4,-4.7,-1.8,-4.6,-5.5,7.2,5.5,0.6
7,manufactura,manufacturing,0.9,1.4,2.0,5.7,2.5,2.9,12.2,7.6,3.7,6.6,1.2,-10.3,2.0,-4.1,-3.0
8,procesadores recursos primarios,based on raw materials,-1.6,4.9,8.0,12.2,5.9,-4.6,16.6,8.4,-14.0,1.2,-20.1,-33.5,2.4,13.3,-11.0
9,resto industria,non primary,2.0,-0.1,0.0,2.9,1.2,5.9,10.2,7.3,11.9,8.9,8.9,1.1,1.9,-10.3,0.2
10,construcción,construction,-2.2,-12.5,-6.3,2.7,-4.5,9.0,17.1,23.5,25.0,18.9,8.6,7.5,7.7,-11.2,2.3
11,comercio,commerce,-0.1,4.2,2.5,4.2,2.7,4.9,8.9,7.6,7.5,7.3,2.2,-1.2,-0.2,-5.9,-1.3
12,otros servicios,other services,1.1,4.0,3.6,4.0,3.2,4.4,7.3,7.1,6.3,6.3,3.2,2.2,2.8,0.2,2.1
13,pbi,gdp,0.3,2.5,2.1,4.9,2.5,5.7,9.0,7.2,6.6,7.2,2.7,-2.5,3.1,-0.1,0.7
14,pbi desestacionalizado,seasonally adjusted gdp,-4.5,1.0,6.5,1.4,NaN,13.2,4.7,-1.0,1.2,NaN,-2.1,-0.7,4.9,-2.0,NaN

In [23]:
old_dataframes_dict_2['ns_20_1999_3']

,year,id_ns,date,sectores_economicos,economic_sectors,1996_1,1996_2,1996_3,1996_4,1996_year,1997_1,1997_2,1997_3,1997_4,1997_year,1998_1,1998_2,1998_3,1998_4,1998_year
0,1999,20,1999-05-28,agropecuario,agriculture and livestock,1.2,7.8,3.9,8.1,5.5,17.1,4.2,-3.9,6.5,4.9,4.5,-2.1,2.1,15.4,3.6
1,1999,20,1999-05-28,agricola,agriculture,1.8,9.0,6.1,17.0,8.2,25.5,4.2,-9.5,1.8,3.5,3.5,-4.6,-1.5,23.0,2.0
2,1999,20,1999-05-28,pecuario,livestock,0.5,3.6,-0.9,-2.1,0.2,5.5,4.3,9.0,13.0,8.0,6.2,6.7,9.0,6.0,7.0
3,1999,20,1999-05-28,pesca,fishing,-19.0,1.2,-13.6,23.5,-0.7,-11.8,24.9,7.6,-55.9,-12.2,-63.5,-64.2,0.6,52.3,-35.7
4,1999,20,1999-05-28,mineria,mining and fuel,1.4,2.7,3.2,4.2,2.9,4.6,7.3,6.3,4.9,5.8,3.5,-1.4,7.1,9.8,4.8
5,1999,20,1999-05-28,mineria metalica,metals,4.9,7.4,5.2,4.5,5.5,6.8,10.5,12.3,10.2,10.0,7.7,0.7,7.1,11.7,6.8
6,1999,20,1999-05-28,mineria no metalica,fuel,-4.4,-4.8,-0.1,3.8,-1.4,0.8,1.5,-4.4,-4.7,-1.8,-4.6,-5.5,7.2,5.5,0.6
7,1999,20,1999-05-28,manufactura,manufacturing,0.9,1.4,2.0,5.7,2.5,2.9,12.2,7.6,3.7,6.6,1.2,-10.3,2.0,-4.1,-3.0
8,1999,20,1999-05-28,procesadores recursos primarios,based on raw materials,-1.6,4.9,8.0,12.2,5.9,-4.6,16.6,8.4,-14.0,1.2,-20.1,-33.5,2.4,13.3,-11.0
9,1999,20,1999-05-28,resto industria,non primary,2.0,-0.1,0.0,2.9,1.2,5.9,10.2,7.3,11.9,8.9,8.9,1.1,1.9,-10.3,0.2
10,1999,20,1999-05-28,construccion,construction,-2.2,-12.5,-6.3,2.7,-4.5,9.0,17.1,23.5,25.0,18.9,8.6,7.5,7.7,-11.2,2.3
11,1999,20,1999-05-28,comercio,commerce,-0.1,4.2,2.5,4.2,2.7,4.9,8.9,7.6,7.5,7.3,2.2,-1.2,-0.2,-5.9,-1.3
12,1999,20,1999-05-28,otros servicios,other services,1.1,4.0,3.6,4.0,3.2,4.4,7.3,7.1,6.3,6.3,3.2,2.2,2.8,0.2,2.1
13,1999,20,1999-05-28,pbi,gdp,0.3,2.5,2.1,4.9,2.5,5.7,9.0,7.2,6.6,7.2,2.7,-2.5,3.1,-0.1,0.7
14,1999,20,1999-05-28,pbi desestacionalizado,seasonally adjusted gdp,-4.5,1.0,6.5,1.4,NaN,13.2,4.7,-1.0,1.2,NaN,-2.1,-0.7,4.9,-2.0,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Real-time data of Peru's GDP growth rates</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
This section creates the GDP growth rate vintages for Peru using <a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 1</a> and <a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 2</a>, which were extracted and cleaned in the previous section. Each table from each WR (CSV <span style="font-size: 24px;">&#128452;</span>) was extracted and cleaned individually in the previous section. Here, we will concatenate all the tables for a specific economic sector, thus creating a vintage dataset of (real) GDP growth by economic sector from <b>1994</b> to <b>2012</b> (<a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 1</a>) and <b>1997</b> to <b>2012</b> (<a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 2</a>).
<div/>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">$\bullet$</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Select <code>sector_economico</code> and <code>economic_sector</code></span></h1>
    </div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
<p>     
When executing the following code, a window will be displayed with options in <b>Spanish</b> and <b>English</b> to select <b>economic sectors</b>. Choose them to concatenate Peru GDP growth rates (annual, quarterly or monthly) by sector.
</p>
<div/>

In [20]:
# Call the function with the Spanish options list to display the window
selected_spanish, selected_english = select_economic_sector(spanish_options, english_options)

# Display the values selected by the user
print(f"You have selected sector_economico = {selected_spanish} and economic_sector = {selected_english}.")

You have selected sector_economico = pbi and economic_sector = gdp.

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">$\bullet$</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Select the dataset name prefix</span></h1>
    </div>

In [16]:
root = tk.Tk()   # Create a main window
root.withdraw()  # Hide the main window

# Ask the user to enter the value of economic_sector
sector = simpledialog.askstring("Economic Sector", "Enter the value of the sector:")

# Display the value entered by the user
print("Sector value:", sector)

Sector value: gdp

<div id="3-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Annual vintages concatenation
    </span>
    </h2>

In [ ]:
globals()[f"old_{sector}_annual_growth_rates"] = concatenate_annual_df(dataframes_dict_2, selected_spanish, selected_english)

In [ ]:
pd.set_option('display.max_rows', None)
globals()[f"old_{sector}_annual_growth_rates"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Quarterly vintages concatenation
    </span>
    </h2>

In [ ]:
globals()[f"old_{sector}_quarterly_growth_rates"] = concatenate_quarterly_df(dataframes_dict_2, selected_spanish, selected_english)

In [ ]:
pd.set_option('display.max_rows', None)
globals()[f"old_{sector}_quarterly_growth_rates"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3-3">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.3.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Monthly vintages concatenation
    </span>
    </h2>

In [18]:
globals()[f"old_{sector}_monthly_growth_rates"] = concatenate_monthly_df(old_dataframes_dict_1, selected_spanish, selected_english)

DataFrames ending with '_1' that will be concatenated:
ns_03_1994_1
ns_06_1994_1
ns_09_1994_1
ns_13_1994_1
ns_20_1994_1
ns_22_1994_1
ns_25_1994_1
ns_31_1994_1
ns_33_1994_1
ns_37_1994_1
ns_43_1994_1
ns_49_1994_1
ns_01_1995_1
ns_07_1995_1
ns_13_1995_1
ns_16_1995_1
ns_20_1995_1
ns_25_1995_1
ns_27_1995_1
ns_31_1995_1
ns_38_1995_1
ns_43_1995_1
ns_44_1995_1
ns_48_1995_1
ns_05_1996_1
ns_09_1996_1
ns_10_1996_1
ns_15_1996_1
ns_18_1996_1
ns_22_1996_1
ns_27_1996_1
ns_35_1996_1
ns_39_1996_1
ns_41_1996_1
ns_44_1996_1
ns_49_1996_1
ns_02_1997_1
ns_06_1997_1
ns_10_1997_1
ns_11_1997_1
ns_15_1997_1
ns_19_1997_1
ns_25_1997_1
ns_26_1997_1
ns_32_1997_1
ns_37_1997_1
ns_38_1997_1
ns_42_1997_1
ns_48_1997_1
ns_04_1998_1
ns_06_1998_1
ns_13_1998_1
ns_14_1998_1
ns_20_1998_1
ns_24_1998_1
ns_29_1998_1
ns_31_1998_1
ns_35_1998_1
ns_42_1998_1
ns_45_1998_1
ns_47_1998_1
ns_05_1999_1
ns_09_1999_1
ns_13_1999_1
ns_17_1999_1
ns_18_1999_1
ns_25_1999_1
ns_29_1999_1
ns_30_1999_1
ns_37_1999_1
ns_38_1999_1
ns_39_1999_1
ns_44_1999_1
ns_46_1999_1
ns_47_1999_1
ns_48_1999_1
ns_01_2000_1
ns_04_2000_1
ns_07_2000_1
ns_11_2000_1
ns_14_2000_1
ns_19_2000_1
ns_22_2000_1
ns_28_2000_1
ns_32_2000_1
ns_38_2000_1
ns_42_2000_1
ns_46_2000_1
ns_49_2000_1
ns_01_2001_1
ns_05_2001_1
ns_08_2001_1
ns_10_2001_1
ns_16_2001_1
ns_18_2001_1
ns_25_2001_1
ns_26_2001_1
ns_32_2001_1
ns_34_2001_1
ns_39_2001_1
ns_43_2001_1
ns_48_2001_1
ns_03_2010_1
ns_04_2010_1
ns_05_2010_1
ns_06_2010_1
ns_07_2010_1
ns_08_2010_1
ns_09_2010_1
ns_10_2010_1
ns_11_2010_1
ns_12_2010_1
ns_13_2010_1
ns_14_2010_1
ns_15_2010_1
ns_16_2010_1
ns_17_2010_1
ns_18_2010_1
ns_19_2010_1
ns_20_2010_1
ns_21_2010_1
ns_22_2010_1
ns_23_2010_1
ns_24_2010_1
ns_25_2010_1
ns_26_2010_1
ns_27_2010_1
ns_28_2010_1
ns_29_2010_1
ns_30_2010_1
ns_31_2010_1
ns_32_2010_1
ns_33_2010_1
ns_34_2010_1
ns_35_2010_1
ns_36_2010_1
ns_37_2010_1
ns_38_2010_1
ns_39_2010_1
ns_40_2010_1
ns_41_2010_1
ns_42_2010_1
ns_43_2010_1
ns_44_2010_1
ns_45_2010_1
ns_46_2010_1
ns_47_2010_1
ns_48_2010_1
ns_49_2010_1
ns_01_2011_1
ns_02_2011_1
ns_03_2011_1
ns_04_2011_1
ns_05_2011_1
ns_06_2011_1
ns_07_2011_1
ns_08_2011_1
ns_09_2011_1
ns_10_2011_1
ns_11_2011_1
ns_12_2011_1
ns_13_2011_1
ns_14_2011_1
ns_15_2011_1
ns_16_2011_1
ns_17_2011_1
ns_18_2011_1
ns_19_2011_1
ns_20_2011_1
ns_21_2011_1
ns_22_2011_1
ns_23_2011_1
ns_24_2011_1
ns_25_2011_1
ns_26_2011_1
ns_27_2011_1
ns_28_2011_1
ns_29_2011_1
ns_30_2011_1
ns_31_2011_1
ns_32_2011_1
ns_33_2011_1
ns_34_2011_1
ns_35_2011_1
ns_36_2011_1
ns_37_2011_1
ns_38_2011_1
ns_39_2011_1
ns_40_2011_1
ns_41_2011_1
ns_42_2011_1
ns_43_2011_1
ns_44_2011_1
ns_45_2011_1
ns_46_2011_1
ns_47_2011_1
ns_48_2011_1
ns_49_2011_1
ns_01_2012_1
ns_02_2012_1
ns_03_2012_1
ns_04_2012_1
ns_05_2012_1
ns_06_2012_1
ns_07_2012_1
ns_08_2012_1
ns_09_2012_1
ns_10_2012_1
ns_11_2012_1
ns_12_2012_1
ns_13_2012_1
ns_14_2012_1
ns_15_2012_1
ns_16_2012_1
ns_17_2012_1
ns_18_2012_1
ns_19_2012_1
ns_20_2012_1
ns_21_2012_1
ns_22_2012_1
ns_23_2012_1
ns_24_2012_1
ns_25_2012_1
ns_26_2012_1
ns_27_2012_1
ns_28_2012_1
ns_29_2012_1
ns_30_2012_1
ns_31_2012_1
ns_32_2012_1
ns_33_2012_1
ns_34_2012_1
ns_35_2012_1
ns_36_2012_1
ns_37_2012_1
ns_38_2012_1
ns_39_2012_1
ns_40_2012_1
ns_41_2012_1
ns_42_2012_1
ns_43_2012_1
ns_44_2012_1
ns_45_2012_1
ns_46_2012_1
ns_47_2012_1
ns_48_2012_1
ns_49_2012_1
Number of rows in the concatenated dataframe: 247

In [19]:
pd.set_option('display.max_rows', None)
globals()[f"old_{sector}_monthly_growth_rates"]

,year,id_ns,date,ene_1992,feb_1992,mar_1992,abr_1992,may_1992,jun_1992,jul_1992,...,ene_2012,feb_2012,mar_2012,abr_2012,may_2012,jun_2012,jul_2012,ago_2012,sep_2012,oct_2012
0,1994,03,1994-01-24,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,06,1994-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,09,1994-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,13,1994-04-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,20,1994-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994,22,1994-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1994,25,1994-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1994,31,1994-08-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1994,33,1994-09-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,37,1994-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1994,43,1994-11-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1994,49,1994-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1995,01,1995-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1995,07,1995-02-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1995,13,1995-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1995,16,1995-04-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1995,20,1995-05-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1995,25,1995-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1995,27,1995-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1995,31,1995-08-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1995,38,1995-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1995,43,1995-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1995,44,1995-11-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1995,48,1995-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1996,05,1996-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1996,09,1996-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1996,10,1996-03-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1996,15,1996-04-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1996,18,1996-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1996,22,1996-06-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1996,27,1996-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1996,35,1996-09-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,1996,39,1996-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,1996,41,1996-10-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,1996,44,1996-11-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,1996,49,1996-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1997,02,1997-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1997,06,1997-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1997,10,1997-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1997,11,1997-03-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,1997,15,1997-04-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,1997,19,1997-05-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,1997,25,1997-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1997,26,1997-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,1997,32,1997-08-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,1997,37,1997-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,1997,38,1997-10-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,1997,42,1997-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,1997,48,1997-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,1998,04,1998-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,1998,06,1998-02-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,1998,13,1998-04-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,1998,14,1998-04-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,1998,20,1998-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,1998,24,1998-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,1998,29,1998-08-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,1998,31,1998-08-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,1998,35,1998-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,1998,42,1998-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,1998,45,1998-11-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,1998,47,1998-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,1999,05,1999-02-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,1999,09,1999-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,1999,13,1999-04-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,1999,17,1999-05-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,1999,18,1999-05-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,1999,25,1999-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,1999,29,1999-08-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,1999,30,1999-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,1999,37,1999-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,1999,38,1999-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,1999,39,1999-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,1999,44,1999-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,1999,46,1999-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,1999,47,1999-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,1999,48,1999-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2000,01,2000-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2000,04,2000-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,2000,07,2000-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,2000,11,2000-03-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,2000,14,2000-04-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,2000,19,2000-05-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,2000,22,2000-06-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,2000,28,2000-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,2000,32,2000-08-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,2000,38,2000-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,2000,42,2000-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2000,46,2000-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2000,49,2000-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2001,01,2001-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2001,05,2001-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,2001,08,2001-02-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,2001,10,2001-03-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,2001,16,2001-04-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,2001,18,2001-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2001,25,2001-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2001,26,2001-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2001,32,2001-08-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2001,34,2001-09-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2001,39,2001-10-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2001,43,2001-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2001,48,2001-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,2010,03,2010-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,2010,04,2010-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,2010,05,2010-02-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,2010,06,2010-02-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,2010,07,2010-02-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,2010,08,2010-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,2010,09,2010-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,2010,10,2010-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,2010,11,2010-03-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,2010,12,2010-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,2010,13,2010-04-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,2010,14,2010-04-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,2010,15,2010-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,2010,16,2010-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,2010,17,2010-05-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,2010,18,2010-05-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,2010,19,2010-05-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,2010,20,2010-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,2010,21,2010-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,2010,22,2010-06-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,2010,23,2010-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,2010,24,2010-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,2010,25,2010-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,2010,26,2010-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,2010,27,2010-07-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,2010,28,2010-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,2010,29,2010-08-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,2010,30,2010-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,2010,31,2010-08-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,2010,32,2010-08-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,2010,33,2010-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2010,34,2010-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,2010,35,2010-09-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,2010,36,2010-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,2010,37,2010-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,2010,38,2010-10-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,2010,39,2010-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,2010,40,2010-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,2010,41,2010-10-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,2010,42,2010-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,2010,43,2010-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,2010,44,2010-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,2010,45,2010-11-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,2010,46,2010-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,2010,47,2010-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,2010,48,2010-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,2010,49,2010-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,2011,01,2011-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,2011,02,2011-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,2011,03,2011-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,2011,04,2011-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,2011,05,2011-02-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,2011,06,2011-02-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,2011,07,2011-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,2011,08,2011-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,2011,09,2011-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,2011,10,2011-03-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,2011,11,2011-03-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,2011,12,2011-03-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,2011,13,2011-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,2011,14,2011-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,2011,15,2011-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,2011,16,2011-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,2011,17,2011-05-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,2011,18,2011-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,2011,19,2011-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,2011,20,2011-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,2011,21,2011-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,2011,22,2011-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,2011,23,2011-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,2011,24,2011-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,2011,25,2011-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,2011,26,2011-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,2011,27,2011-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,2011,28,2011-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,2011,29,2011-08-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,2011,30,2011-08-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,2011,31,2011-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,2011,32,2011-08-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,2011,33,2011-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,2011,34,2011-09-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,2011,35,2011-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,2011,36,2011-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,2011,37,2011-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,2011,38,2011-10-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,2011,39,2011-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,2011,40,2011-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,2011,41,2011-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,2011,42,2011-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,2011,43,2011-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,2011,44,2011-11-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,2011,45,2011-11-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,2011,46,2011-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,2011,47,2011-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,2011,48,2011-12-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,2011,49,2011-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,2012,01,2012-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,2012,02,2012-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,2012,03,2012-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,2012,04,2012-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,2012,05,2012-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,2012,06,2012-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,2012,07,2012-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,2012,08,2012-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,2012,09,2012-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,2012,10,2012-03-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,2012,11,2012-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">GDP final revision dataset</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
This section creates the final revisions dataset of Peru's GDP growth.
<div/>

<div id="4-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Annual revisions
    </span>
    </h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
We calculate the <b>final revision</b> as the <b>difference</b> between the <b>last annual release</b> and the <b>first annual release</b> of the GDP growth rate.
<div/>

In [ ]:
# Calculate the difference between the last and the first non-NaN value for each column, except 'year', 'ns_id' and 'date'.
revision = globals()[f"old_{sector}_annual_growth_rates"].drop(columns=['year', 'id_ns', 'date']).apply(lambda x: x.loc[x.last_valid_index()] - x.loc[x.first_valid_index()])

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Annual revisions as dataframe
<div/>

In [ ]:
# Set the columns name
globals()[f"old_{sector}_annual_revisions"] = pd.DataFrame({'revision_date': revision.index, f'{sector}_revision': revision.values})
globals()[f"old_{sector}_annual_revisions"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Clean-up the revision_date column
<div/>

In [ ]:
# Extract the year from the string and convert it to an integer type
globals()[f"old_{sector}_annual_revisions"]['year'] = globals()[f"old_{sector}_annual_revisions"]['revision_date'].str.extract(r'(\d+)')

# Create an auxiliary column to generate the values extracted from the year
globals()[f"old_{sector}_annual_revisions"]['year'] = globals()[f"old_{sector}_annual_revisions"]['year'].astype(int)

# Convert revision_date column values as dates
globals()[f"old_{sector}_annual_revisions"]['revision_date'] = pd.to_datetime(globals()[f"old_{sector}_annual_revisions"]['year'], format='%Y')

# Delete the auxiliary column 'year'
globals()[f"old_{sector}_annual_revisions"].drop(columns=['year'], inplace=True)

# Display the result
globals()[f"old_{sector}_annual_revisions"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Quarterly revisions
    </span>
    </h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
We calculate the <b>final revision</b> as the <b>difference</b> between the <b>last quarterly release</b> and the <b>first quarterly release</b> of the GDP growth rate.
<div/>

In [ ]:
# Calculate the difference between the last and the first non-NaN value for each column, except 'year', 'ns_id' and 'date'.
revision = globals()[f"old_{sector}_quarterly_growth_rates"].drop(columns=['year', 'id_ns', 'date']).apply(lambda x: x.loc[x.last_valid_index()] - x.loc[x.first_valid_index()])

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Quarterly revisions as dataframe
<div/>

In [ ]:
# Set the columns name
globals()[f"old_{sector}_quarterly_revisions"] = pd.DataFrame({'revision_date': revision.index, f'{sector}_revision': revision.values})
globals()[f"old_{sector}_quarterly_revisions"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Clean-up the revision_date column
<div/>

In [ ]:
# Convert column 'revision_date' to date data type
globals()[f"old_{sector}_quarterly_revisions"]['revision_date'] = pd.to_datetime(globals()[f"old_{sector}_quarterly_revisions"]['revision_date'], format='%Y_%m')

# Display the result
globals()[f"old_{sector}_quarterly_revisions"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4-3">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.3.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Monthly revisions
    </span>
    </h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
We calculate the <b>final revision</b> as the <b>difference</b> between the <b>last monthly release</b> and the <b>first monthly release</b> of the GDP growth rate.
<div/>

In [ ]:
# Calculate the difference between the last and the first non-NaN value for each column, except 'year', 'ns_id' and 'date'.
revision = globals()[f"old_{sector}_monthly_growth_rates"].drop(columns=['year', 'id_ns', 'date']).apply(lambda x: x.loc[x.last_valid_index()] - x.loc[x.first_valid_index()])

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Monthly revisions as dataframe
<div/>

In [ ]:
# Set the columns name
globals()[f"old_{sector}_monthly_revisions"] = pd.DataFrame({'revision_date': revision.index, f'{sector}_revision': revision.values})
globals()[f"old_{sector}_monthly_revisions"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Clean-up dataframe
<div/>

In [ ]:
# Extract the month and year from the column 'revision_date'
globals()[f"old_{sector}_monthly_revisions"]['month'] = globals()[f"old_{sector}_monthly_revisions"]['revision_date'].str.split('_').str[0]
globals()[f"old_{sector}_monthly_revisions"]['year'] = globals()[f"old_{sector}_monthly_revisions"]['revision_date'].str.split('_').str[1]

# Match the names of the months to their respective numbers
month_mapping = {
    'ene': '01', 'feb': '02', 'mar': '03', 'abr': '04',
    'may': '05', 'jun': '06', 'jul': '07', 'ago': '08',
    'sep': '09', 'oct': '10', 'nov': '11', 'dic': '12'
}

globals()[f"old_{sector}_monthly_revisions"]['month'] = globals()[f"old_{sector}_monthly_revisions"]['month'].map(month_mapping)

# Create a new column with the date in YYYYY-MM-DD format
globals()[f"old_{sector}_monthly_revisions"]['revision_date'] = globals()[f"old_{sector}_monthly_revisions"]['year'] + '-' + globals()[f"old_{sector}_monthly_revisions"]['month']

# Convert column 'revision_date' to date data type
globals()[f"old_{sector}_monthly_revisions"]['revision_date'] = pd.to_datetime(globals()[f"old_{sector}_monthly_revisions"]['revision_date'], format='%Y-%m')

# Remove temporary columns 'month' and 'year'
globals()[f"old_{sector}_monthly_revisions"].drop(['month', 'year'], axis=1, inplace=True)

# Display the result
globals()[f"old_{sector}_monthly_revisions"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="5">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Uploading data to SQL</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Finally, we upload all the datasets generated in this jupyter notebook to the <code>'gdp_revisions_datasets'</code> database of <code>PostgresSQL</code>.
<div/>

In [ ]:
engine = create_sqlalchemy_engine()

<div id="5-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Vintages
    </span>
    </h2>

In [ ]:
#globals()[f"old_{sector}_annual_growth_rates"].to_sql(f'old_{sector}_annual_growth_rates', engine, index=False, if_exists='replace')

In [ ]:
#globals()[f"old_{sector}_quarterly_growth_rates"].to_sql(f'old_{sector}_quarterly_growth_rates', engine, index=False, if_exists='replace')

In [ ]:
globals()[f"old_{sector}_monthly_growth_rates"].to_sql(f'old_{sector}_monthly_growth_rates', engine, index=False, if_exists='replace')

<div id="5-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Revisions
    </span>
    </h2>

In [ ]:
#globals()[f"old_{sector}_annual_revisions"].to_sql(f'old_{sector}_annual_revisions', engine, index=False, if_exists='replace')

In [ ]:
#globals()[f"old_{sector}_quarterly_revisions"].to_sql(f'old_{sector}_quarterly_revisions', engine, index=False, if_exists='replace')

In [ ]:
globals()[f"old_{sector}_monthly_revisions"].to_sql(f'old_{sector}_monthly_revisions', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#select" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#select" style="color: rgb(255, 32, 78); text-decoration: none;">Back to economic sectors.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

---