<div style="text-align: left; font-family: 'charter'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [1]:
# PDF Downloader

import os  # for file and directory manipulation
import random  # to generate random numbers
import time  # to manage time and take breaks in the script
import requests  # to make HTTP requests to web servers
from selenium import webdriver  # for automating web browsers
from selenium.webdriver.common.by import By  # to locate elements on a webpage
from selenium.webdriver.support.ui import WebDriverWait  # to wait until certain conditions are met on a webpage.
from selenium.webdriver.support import expected_conditions as EC  # to define expected conditions
from selenium.common.exceptions import StaleElementReferenceException  # To handle exceptions related to elements on the webpage that are no longer available.


# Extracting Tables (and data cleaning)

import pdfplumber  # for extracting text and metadata from PDF files
import pandas as pd  # for data manipulation and analysis
import os  # for interacting with the operating system
import unicodedata  # for manipulating Unicode data
import re  # for regular expressions operations
from datetime import datetime  # for working with dates and times
import locale  # for locale-specific formatting of numbers, dates, and currencies


# SQL tables

import psycopg2  # for interacting with PostgreSQL databases
from sqlalchemy import create_engine, text  # for creating and executing SQL queries using SQLAlchemy

In [2]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import unidecode

In [3]:
# Obtener variables de entorno
user = os.environ.get('CIUP_SQL_USER')
password = os.environ.get('CIUP_SQL_PASS')
host = os.environ.get('CIUP_SQL_HOST')
port = 5432
database = 'gdp_revisions_datasets'

# Verificar si todas las variables de entorno están definidas
if not all([host, user, password]):
    raise ValueError("Faltan algunas variables de entorno (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

# Crear la cadena de conexión
connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

# Crear el motor de SQLAlchemy
engine = create_engine(connection_string)

# Definir la consulta SQL para importar datos
sector = 'gdp'  # Define el sector según tus necesidades
query = f"SELECT * FROM {sector}_monthly_growth_rates"

# Importar los datos a un DataFrame de pandas
df = pd.read_sql(query, engine)

# Ahora 'df' contiene los datos importados desde la base de datos
df.head() # Muestra las primeras filas del DataFrame para verificar

,year,id_ns,date,sep_2011,oct_2011,nov_2011,dic_2011,ene_2012,feb_2012,mar_2012,...,mar_2023,abr_2023,may_2023,jun_2023,jul_2023,ago_2023,sep_2023,oct_2023,nov_2023,dic_2023
0,2013,01,2013-01-04,5.9,5.3,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,02,2013-01-11,5.9,5.3,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,03,2013-01-18,NaN,NaN,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,04,2013-01-25,NaN,NaN,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,05,2013-02-01,NaN,NaN,5.1,6.0,5.5,6.9,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(df['sep_2011'].dtype)

float64

# Cargando desde excel

In [46]:
import pandas as pd

# Substitua 'arquivo.csv' pelo caminho do seu arquivo CSV
path = r'C:\Users\Jason Cruz\OneDrive\Documentos\coding_training\old_dataset\raw_data\tabla 1\2012\ns-03-2012.csv'

# Carrega o arquivo CSV para um DataFrame
df = pd.read_csv(path, delimiter=';')

# Exibe as primeiras linhas do DataFrame para verificar se os dados foram carregados corretamente
df.head(5)

,SECTORES ECONÓMICOS,2010,Unnamed: 2,Unnamed: 3,2011,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,ECONOMIC SECTORS
0,NaN,Nov.,Dic.,Año,Ene.,Feb.,Mar.,Abr.,May.,Jun.,Jul.,Ago.,Set.,Oct.,Nov.,Ene.-Nov.,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Agropecuario,6.758289944,7.854083094,4.286827564,5.073320478,5.66303992,0.555226023,2.994131764,1.092354006,3.920237783,9.651790326,6.526110054,1.552485163,2.088563401,2.652158412,3.683887321,Agriculture and Livestock
3,Agrícola,5.519857659,9.003014667,4.176112876,2.009846689,3.416731053,-3.614204424,2.325479421,-0.752698213,1.957355682,12.2149653,9.279213875,0.820505358,0.002176966,0.824622991,2.39628981,Agriculture
4,Pecuario,8.22452649,6.553299455,4.437536655,8.746806431,8.294074219,6.73700271,4.501741053,5.292663002,7.662908109,5.897703746,3.441686465,2.310622855,4.397153123,4.770432583,5.612185849,Livestock

# Data clean-up

### Auxiliares

In [7]:
def remove_rare_characters_first_row(texto):
    texto = re.sub(r'\s*-\s*', '-', texto)  # Remueve espacios alrededor de guiones
    texto = re.sub(r'[^a-zA-Z0-9\s-]', '', texto)  # Remueve caracteres raros excepto letras, dígitos y guiones
    return texto

def remove_rare_characters(texto):
    return re.sub(r'[^a-zA-Z\s]', '', texto)

def remove_tildes(texto):
    return ''.join((c for c in unicodedata.normalize('NFD', texto) if unicodedata.category(c) != 'Mn'))

### Común

In [8]:
# 0.
def drop_nan_rows(df):
    df = df.dropna(how='all')
    return df

# 1. 
def drop_nan_columns(df):
    return df.dropna(axis=1, how='all')

# 2.
def swap_first_second_row(df):
    temp = df.iloc[0, 0]
    df.iloc[0, 0] = df.iloc[1, 0]
    df.iloc[1, 0] = temp

    temp = df.iloc[0, -1]
    df.iloc[0, -1] = df.iloc[1, -1]
    df.iloc[1, -1] = temp
    return df

# 8. 
def reset_index(df):
    df.reset_index(drop=True, inplace=True)
    return df

# 5.
def remove_digit_slash(df):
    # Aplica la función de reemplazo a la primera columna y a las dos últimas columnas
    df.iloc[:, [0, -2, -1]] = df.iloc[:, [0, -2, -1]].apply(lambda x: x.str.replace(r'\d+/', '', regex=True))
    return df

# 9. AUX (ROBUSTO)

def separate_text_digits(df):
    for index, row in df.iterrows():
        if any(char.isdigit() for char in str(row.iloc[-2])) and any(char.isalpha() for char in str(row.iloc[-2])):
            if pd.isnull(row.iloc[-1]):
                df.loc[index, df.columns[-1]] = ''.join(filter(lambda x: x.isalpha() or x == ' ', str(row.iloc[-2])))
                df.loc[index, df.columns[-2]] = ''.join(filter(lambda x: not (x.isalpha() or x == ' '), str(row.iloc[-2])))
            
            # Check if comma or dot is used as decimal separator
            if ',' in str(row.iloc[-2]):
                split_values = str(row.iloc[-2]).split(',')
            elif '.' in str(row.iloc[-2]):
                split_values = str(row.iloc[-2]).split('.')
            else:
                # If neither comma nor dot found, assume no decimal part
                split_values = [str(row.iloc[-2]), '']
                
            cleaned_integer = ''.join(filter(lambda x: x.isdigit() or x == '-', split_values[0]))
            cleaned_decimal = ''.join(filter(lambda x: x.isdigit(), split_values[1]))
            if cleaned_decimal:
                # Use comma as decimal separator
                cleaned_numeric = cleaned_integer + ',' + cleaned_decimal
            else:
                cleaned_numeric = cleaned_integer
            df.loc[index, df.columns[-2]] = cleaned_numeric
    return df


# 4. 
def extract_years(df):
    year_columns = [col for col in df.columns if re.match(r'\b\d{4}\b', col)]
    #print("Años (4 dígitos) extraídos:")
    #print(year_columns)
    return year_columns

# 6. 
def first_row_columns(df):
    df.columns = df.iloc[0]
    df = df.drop(df.index[0])
    return df

# 15.
def clean_columns_values(df):
    df.columns = df.columns.str.lower()
    # Only normalize string column names
    df.columns = [unicodedata.normalize('NFKD', col).encode('ASCII', 'ignore').decode('utf-8') if isinstance(col, str) else col for col in df.columns]
    df.columns = df.columns.str.replace(' ', '_').str.replace('ano', 'year').str.replace('-', '_')
    
    text_columns = df.select_dtypes(include='object').columns
    for col in df.columns:
        df.loc[:, col] = df[col].apply(lambda x: remove_tildes(x) if isinstance(x, str) else x)
        df.loc[:, col] = df[col].apply(lambda x: str(x).replace(',', '.') if isinstance(x, (int, float, str)) else x)
    df.loc[:, 'sectores_economicos'] = df['sectores_economicos'].str.lower()
    df.loc[:, 'economic_sectors'] = df['economic_sectors'].str.lower()
    df.loc[:, 'sectores_economicos'] = df['sectores_economicos'].apply(remove_rare_characters)
    df.loc[:, 'economic_sectors'] = df['economic_sectors'].apply(remove_rare_characters)
    return df

# 16.
def convertir_float(df):
    excluded_columns = ['sectores_economicos', 'economic_sectors']
    columns_to_convert = [col for col in df.columns if col not in excluded_columns]
    df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce')
    return df

# 15.
def relocate_last_column(df):
    last_column = df.pop(df.columns[-1])
    df.insert(1, last_column.name, last_column)
    return df

### Exclusiva Tabla 1

In [9]:
# ATIPIC LAST COLUMNS
def relocate_last_columns(df):
    if not pd.isna(df.iloc[1, -1]):
        # Create a new column with NaN
        new_column = 'col_' + ''.join(map(str, np.random.randint(1, 5, size=1)))
        df[new_column] = np.nan
        
        # Get 'ECONOMIC SECTORS' and relocate
        insert_value_1 = df.iloc[0, -2]
        # Convert the value to string before assignment
        insert_value_1 = str(insert_value_1)
        # Ensure the dtype of the last column is object (string) to accommodate string values
        df.iloc[:, -1] = df.iloc[:, -1].astype('object')
        df.iloc[0, -1] = insert_value_1
        
        # NaN first obs
        df.iloc[0,-2] = np.nan
    return df

# Extraer meses

def get_months_sublist_list(df, year_columns):
    first_row = df.iloc[0]
    # Initialize the list of sublists
    months_sublist_list = []

    # Initialize the current sublist
    months_sublist = []

    # Iterate over the elements of the first row
    for item in first_row:
        # Check if the item meets the requirements
        if len(str(item)) == 3:
            months_sublist.append(item)
        elif '-' in item or str(item) == 'year':
            months_sublist.append(item)
            months_sublist_list.append(months_sublist)
            months_sublist = []

    # Add the last sublist if it's not empty
    if months_sublist:
        months_sublist_list.append(months_sublist)

    new_elements = []

    # Check if year_columns is not empty
    if year_columns:
        for i, year in enumerate(year_columns):
            # Check if index i is valid for quarters_sublist_list
            if i < len(months_sublist_list):
                for element in months_sublist_list[i]:
                    new_elements.append(f"{year}_{element}")
                    
    two_first_elements = df.iloc[0][:2].tolist()

    # Ensure that the two_first_elements are added if they are not in new_elements
    for index in range(len(two_first_elements) - 1, -1, -1):
        if two_first_elements[index] not in new_elements:
            new_elements.insert(0, two_first_elements[index])

    # Ensure that the length of new_elements matches the number of columns in df
    while len(new_elements) < len(df.columns):
        new_elements.append(None)

    temp_df = pd.DataFrame([new_elements], columns=df.columns)
    df.iloc[0] = temp_df.iloc[0]

    return df


def find_year_column(df):
    # List to store the found years
    found_years = []

    # Iterating over the column names of the DataFrame
    for column in df.columns:
        # Checking if the column name is a year (4 digits)
        if column.isdigit() and len(column) == 4:
            found_years.append(column)

    # If more than one year is found, do nothing
    if len(found_years) > 1:
        pass
    # If exactly one year is found, implement additional code
    elif len(found_years) == 1:
        # Getting the name of the found year
        year_name = found_years[0]
        print("The name of the column representing the year is:", year_name)

        # Getting the first row of the DataFrame
        first_row = df.iloc[0]

        # Searching for the first column containing the word "year" or some hyphen-separated expression
        column_contains_year = first_row[first_row.astype(str).str.contains(r'\byear\b')]

        if not column_contains_year.empty:
            # Getting the name of the first column containing 'year' or some hyphen-separated expression in the first row
            column_contains_year_name = column_contains_year.index[0]
            print("The name of the first column containing 'year' or some hyphen-separated expression in the first row is:", column_contains_year_name)

            # Getting the indices of the columns
            column_contains_year_index = df.columns.get_loc(column_contains_year_name)
            year_name_index = df.columns.get_loc(year_name)
            print("The index of the column containing 'year' is:", column_contains_year_index)
            print("The index of the column representing the year is:", year_name_index)

            # Checking if the column representing the year is to the right or to the left of column_contains_year
            if column_contains_year_index < year_name_index:
                print("The year column is to the right of the column containing 'year'.")
                # Adding one to the year
                new_year = str(int(year_name) - 1)
                # Renaming the column containing 'year' with the new year
                df.rename(columns={column_contains_year_name: new_year}, inplace=True)
                print(f"The column containing 'year' is now named '{new_year}'.")
            elif column_contains_year_index > year_name_index:
                print("The year column is to the left of the column containing 'year'.")
                # Subtracting one from the year
                new_year = str(int(year_name) + 1)
                # Renaming the year column with the new year
                df.rename(columns={column_contains_year_name: new_year}, inplace=True)
                print(f"The column containing 'year' is now named '{new_year}'.")
            else:
                print("The year column is in the same position as the column containing 'year'.")
        else:
            print("No columns containing 'year' were found in the first row.")
    # If no year is found, print a message
    else:
        print("No years were found in the column names.")
    
    return df


#

def clean_first_row(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            if isinstance(df.at[0, col], str):
                df.at[0, col] = df.at[0, col].lower()  # Convertir a minúsculas solo si es un objeto
                df.at[0, col] = remove_tildes(df.at[0, col])
                df.at[0, col] = remove_rare_characters_first_row(df.at[0, col])
                # Reemplazar 'ano' por 'year'
                df.at[0, col] = df.at[0, col].replace('ano', 'year')

    return df


def intercambiar_valores(df):
    # Verificar si hay al menos dos columnas en el DataFrame
    if len(df.columns) < 2:
        print("El DataFrame tiene menos de dos columnas. No se pueden intercambiar valores.")
        return df

    # Verificar si hay valores NaN en la última columna
    if df.iloc[:, -1].isnull().any():
        # Obtener índice de filas con NaN en la última columna
        last_column_rows_nan = df[df.iloc[:, -1].isnull()].index

        # Iterar sobre las filas con NaN en la última columna
        for idx in last_column_rows_nan:
            # Verificar si el índice está dentro del rango de las columnas
            if -2 >= -len(df.columns):
                # Intercambiar los valores de la última columna y la penúltima columna
                df.iloc[idx, -1], df.iloc[idx, -2] = df.iloc[idx, -2], df.iloc[idx, -1]
            else:
                print(f"Índice fuera de rango para la fila {idx}. No se pueden intercambiar valores.")

    return df



def replace_var_perc_first_column(df):
    # Regular expression to search for "Var. %" or "Var.%"
    regex = re.compile(r'Var\. ?%')

    # Iterate over the rows of the dataframe
    for index, row in df.iterrows():
        # Convert the value in the first column to a string
        value = str(row.iloc[0])

        # Check if the value matches the regular expression
        if regex.search(value):
            # Replace only the characters that match the regular expression
            df.at[index, df.columns[0]] = regex.sub("variacion porcentual", value)
    
    return df


# 8.
number_moving_average = 'three' # Keep a space at the end

def replace_number_moving_average(df):
    for index, row in df.iterrows():
        # Buscar la expresión regular en la penúltima o última columna
        if pd.notnull(row.iloc[-1]) and re.search(r'(\d\s*-)', str(row.iloc[-1])):
            df.at[index, df.columns[-1]] = re.sub(r'(\d\s*-)', f'{number_moving_average}-', str(row.iloc[-1]))
        #elif pd.notnull(row.iloc[-2]) and re.search(r'(\d\s*-)', str(row.iloc[-2])):
        #   df.at[index, df.columns[-2]] = re.sub(r'(\d\s*-)', f'{number_moving_average}-', str(row.iloc[-2]))
    return df


# 7.
def replace_var_perc_last_columns(df):
    # Expresión regular para buscar "Var. %" o "Var.%"
    regex = re.compile(r'(Var\. ?%)(.*)')

    # Iterar sobre las filas del dataframe
    for index, row in df.iterrows():
        # Verificar si el valor en la penúltima columna es una cadena no nula
        if isinstance(row.iloc[-2], str) and regex.search(row.iloc[-2]):
            # Realizar el reemplazo al final del valor de la penúltima columna
            replaced_text = regex.sub(r'\2 percent change', row.iloc[-2])
            df.at[index, df.columns[-2]] = replaced_text.strip()
        
        # Verificar si el valor en la última columna es una cadena no nula
        if isinstance(row.iloc[-1], str) and regex.search(row.iloc[-1]):
            # Realizar el reemplazo al final del valor de la última columna
            replaced_text = regex.sub(r'\2 percent change', row.iloc[-1])
            df.at[index, df.columns[-1]] = replaced_text.strip()
    
    return df

# Función para buscar y reemplazar en la segunda fila del DataFrame
def replace_first_dot(df):
    second_row = df.iloc[1]  # Segunda fila del DataFrame
    
    # Verificar si al menos una observación cumple con el patrón
    if any(isinstance(cell, str) and re.match(r'^\w+\.\s?\w+', cell) for cell in second_row):
        for col in df.columns:
            if isinstance(second_row[col], str):  # Verificar si el valor es una cadena
                if re.match(r'^\w+\.\s?\w+', second_row[col]):  # Verificar si cumple con el patrón Xxx.Xxx o Xxx. Xxx.
                    df.at[1, col] = re.sub(r'(\w+)\.(\s?\w+)', r'\1-\2', second_row[col], count=1)  # Reemplazar solo el primer punto
    return df

def drop_rare_caracter_row(df):
    # Buscar el caracter solitario "}" en cada fila y obtener un booleano para cada fila
    rare_caracter_row = df.apply(lambda row: '}' in row.values, axis=1)
    
    # Filtrar el DataFrame para eliminar las filas con el caracter solitario "}"
    df = df[~rare_caracter_row]
    
    return df

def split_column_by_pattern(df):
    # Iteramos sobre las columnas del dataframe
    for col in df.columns:
        # Verificamos si la segunda fila de la columna contiene el patrón
        if re.match(r'^[A-Z][a-z]+\.?\s[A-Z][a-z]+\.?$', str(df.iloc[1][col])):
            # Realizamos el split de la columna usando como criterio el espacio
            split_values = df[col].str.split(expand=True)
            # Guardamos los primeros valores en la columna original
            df[col] = split_values[0]
            # Guardamos los segundos valores en una nueva columna con el sufijo "_split"
            new_col_name = col + '_split'
            df.insert(df.columns.get_loc(col) + 1, new_col_name, split_values[1])
    return df

$\Large{\color{blue}{ns\_2014\_07}}$

se: sectores económicos

In [10]:
def swap_nan_se(df):
    # Check if the first observation of the first column is NaN
    if pd.isna(df.iloc[0, 0]) and df.iloc[0, 1] == "SECTORES ECONÓMICOS":
        # Create a temporary copy of the values
        column_1_value = df.iloc[0, 1]
        # Swap values in the original row
        df.iloc[0, 0] = column_1_value
        df.iloc[0, 1] = np.nan
        # Drop the second column
        df = df.drop(df.columns[1], axis=1)
    return df

$\Large{\color{blue}{set \ by \ sep}}$

In [11]:
def replace_set_sep(df):
    # Get the column names of the DataFrame
    columns = df.columns
    
    # Iterate over the columns
    for column in columns:
        # Check if the column contains the expression 'set'
        if 'set' in column:
            # Replace 'set' with 'sep' in the column name
            new_column = column.replace('set', 'sep')
            # Rename the column in the DataFrame
            df.rename(columns={column: new_column}, inplace=True)
    
    return df

$\Large{\color{blue}{strip}}$

In [12]:
def spaces_se_es(df):
    # Aplicar strip a las columnas 'sectores_economicos' y 'economic_sectors'
    df['sectores_economicos'] = df['sectores_economicos'].str.strip()
    df['economic_sectors'] = df['economic_sectors'].str.strip()
    return df

$\Large{\color{blue}{Replace \ other \ services}}$

In [13]:
def replace_services(df):
    # Verificamos si se encuentran los valores 'otros servicios' y 'other services'
    if ('servicios' in df['sectores_economicos'].values) and ('services' in df['economic_sectors'].values):
        # Reemplazamos los valores
        df['sectores_economicos'].replace({'servicios': 'otros servicios'}, inplace=True)
        df['economic_sectors'].replace({'services': 'other services'}, inplace=True)
    return df

# Exclusivas para tablas entregadas por el BCRP

In [14]:
# 1.

In [15]:
def limpiar_nombres_columnas(df):
    # Eliminar tildes y convertir a minúsculas los nombres de las columnas
    df.columns = [unidecode.unidecode(col).lower() for col in df.columns]
    df.columns = df.columns.str.replace(' ', '')
    return df

In [16]:
# 2.

In [17]:
def ajustar_nombres_columnas(df):
    # Comprobar que la primera observación de la primera columna sea NaN
    if pd.isna(df.iloc[0, 0]) and pd.isna(df.iloc[0, -1]):
        # Verificar los nombres de las columnas
        if df.columns[0] == "sectoreseconomicos" and df.columns[-1] == "economicsectors":
            # Reemplazar NaN por los nombres de las columnas correspondientes
            df.iloc[0, 0] = "sectores economicos"
            df.iloc[0, -1] = "economic sectors"
    return df

In [18]:
# 3.

In [19]:
def redondear_valores(df, decimales=1):
    # Iterar sobre todas las columnas del DataFrame
    for col in df.columns:
        # Verificar si la columna es de tipo float
        if df[col].dtype == 'float64':
            # Redondear los valores de la columna al número de decimales especificado
            df[col] = df[col].round(decimales)
    return df

# Test

In [47]:
df = limpiar_nombres_columnas(df)
df = ajustar_nombres_columnas(df)
df = drop_rare_caracter_row(df)
df = drop_nan_rows(df)
df = drop_nan_columns(df)
df = reset_index(df)
df = remove_digit_slash(df)
df = replace_var_perc_first_column(df)
df = replace_var_perc_last_columns(df)
df = replace_number_moving_average(df)
df = relocate_last_column(df)
df = clean_first_row(df)
df = find_year_column(df)
year_columns = extract_years(df)
year_columns
df = get_months_sublist_list(df, year_columns)
df = first_row_columns(df)
df = clean_columns_values(df)
df = convertir_float(df)
df = replace_set_sep(df)
df = spaces_se_es(df)
df = replace_services(df)
df = redondear_valores(df, decimales=1)
df

,sectores_economicos,economic_sectors,2010_nov,2010_dic,2010_year,2011_ene,2011_feb,2011_mar,2011_abr,2011_may,2011_jun,2011_jul,2011_ago,2011_sep,2011_oct,2011_nov,2011_ene_nov
1,agropecuario,agriculture and livestock,6.8,7.9,4.3,5.1,5.7,0.6,3.0,1.1,3.9,9.7,6.5,1.6,2.1,2.7,3.7
2,agricola,agriculture,5.5,9.0,4.2,2.0,3.4,-3.6,2.3,-0.8,2.0,12.2,9.3,0.8,0.0,0.8,2.4
3,pecuario,livestock,8.2,6.6,4.4,8.7,8.3,6.7,4.5,5.3,7.7,5.9,3.4,2.3,4.4,4.8,5.6
4,pesca,fishing,-33.9,-21.5,-16.4,18.0,10.7,7.9,106.7,1.4,-14.7,76.4,84.1,32.5,32.5,1.3,25.6
5,mineria e hidrocarburos,mining and fuel,-3.6,1.3,-0.1,0.0,-3.5,2.4,-3.9,2.8,-5.6,-1.1,3.1,0.7,-0.7,-1.0,-0.6
6,mineria metalica,metals,-10.8,-5.0,-4.9,-6.1,-9.6,-1.1,-10.6,-3.0,-9.5,-4.5,2.2,-0.9,-2.2,-1.7,-4.3
7,hidrocarburos,fuel,45.8,44.9,29.5,42.0,37.5,24.7,39.4,39.1,18.1,15.9,7.2,8.3,6.2,1.9,19.7
8,manufactura,manufacturing,14.7,9.5,13.6,15.1,11.4,10.8,9.6,5.6,2.5,3.9,5.3,1.8,-0.8,-0.7,5.6
9,de recursos primarios,based on raw materials,-5.8,-11.8,-2.3,13.6,10.2,13.0,37.3,5.5,-3.8,11.5,21.3,10.9,-0.6,-1.2,10.1
10,no primaria,nonprimary,18.9,14.0,16.9,15.3,11.6,10.4,4.9,5.6,3.8,2.6,3.0,0.4,-0.8,-0.7,4.8
11,electricidad y agua,electricity and water,7.5,6.2,7.7,7.6,7.7,6.7,6.6,8.1,7.4,7.5,8.2,7.6,7.3,6.9,7.4
12,construccion,construction,23.8,12.5,17.4,16.2,4.9,3.6,0.1,3.7,-2.8,-3.0,6.6,1.6,4.4,3.2,3.4
13,comercio,commerce,10.8,10.9,9.7,10.4,11.1,9.6,9.3,8.8,8.4,8.5,8.5,8.8,8.7,7.0,9.0
14,otros servicios,other services,9.4,9.0,8.0,9.7,9.0,9.3,8.9,9.7,8.2,7.7,8.4,7.8,6.8,7.3,8.4
15,pbi,gdp,10.2,8.9,8.8,10.2,8.5,8.1,7.6,7.4,5.5,6.4,7.6,5.8,5.1,5.0,7.0
16,sectores primarios,primary sectors,-0.6,1.1,1.1,4.9,3.2,3.4,7.9,2.2,-0.8,7.5,8.6,3.2,1.1,0.6,3.8
17,sectores no primarios,non primary sectors,12.3,10.3,10.3,11.1,9.4,9.0,7.6,8.5,6.8,6.2,7.4,6.2,5.8,5.7,7.5
18,pbi desestacionalizado,seasonally adjusted gdp,0.6,0.3,NaN,1.0,-0.1,0.7,0.8,-0.1,0.2,1.0,0.4,0.3,0.1,0.3,NaN
19,indicador de demanda interna,domestic demand indicator,14.2,12.2,12.8,12.5,11.4,8.3,9.8,7.1,7.3,5.0,6.7,7.2,4.4,7.2,7.8
20,indicador de demanda interna desestacionalizada,seasonally adjusted domestic demand indicator,-0.0,0.6,NaN,1.1,-0.3,0.0,2.2,-1.3,1.2,0.4,-0.1,1.8,-1.0,2.5,NaN