<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h1>
Old GDP Revisions Datasets
</h1>
</div>

<div style="text-align: center; font-family: 'charter bt pro roman'; color: rgb(0, 65, 75);">
<h3>
Documentation
<br>
____________________
<br>
</h3>
</div>

<div style="text-align: center; font-family: 'PT Serif Pro Book'; color: rgb(0, 65, 75); font-size: 16px;">
    Jason Cruz
    <br>
    <a href="mailto:jj.cruza@up.edu.pe" style="color: rgb(0, 153, 123); font-size: 16px;">
        jj.cruza@up.edu.pe
    </a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
This <span style="color: rgb(0, 65, 75);">jupyter notebook</span> documents step-by-step the <b>construction of old datasets</b> for the project <b>'Revisions and Biases in Preliminary GDP Estimates in Peru'</b>.

This jupyter notebook goes from the cleaning of the tables (Weekly Reports, WR) provided confidentially by the Central Bank to the construction of the <b>vintages</b> and <b>revisions</b> datasets from 1994-2024.
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;line-height: 1.5;">
<span style="font-size: 24px;">&#128196;</span> The Weekly Report/<i>Nota Semanal</i> (WR/<i>NS</i>) of the Central Bank.
    <br>
    <span style="font-size: 24px;">&#8987;</span> Available since <b>1994-2012</b> (Table 1) and since <b>1997-2012</b> (Table 2). 
    <br>
</div>

<div style="font-family: Amaya; text-align: left; color: rgb(0, 65, 75); font-size:16px">The following <b>outline is functional</b>. By utilising the provided buttons, users are able to enhance their experience by browsing this script.<div/>

<div id="outilne">
   <!-- Contenido de la celda de destino -->
</div>

<div style="background-color: #292929; padding: 10px; line-height: 1.5; font-family: 'PT Serif Pro Book';">
    <h2 style="text-align: left; color: #E0E0E0;">
        Outline
    </h2>
    <br>
    <a href="#libraries" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Libraries</a>
    <br>
    <a href="#setup" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        Initial set-up</a>
    <br>
    <a href="#1" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        1. Duplicate tables for all other NS ids</a>
    <br>
    <a href="#1-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        1.1. Table 1.</a>
    <br>
    <a href="#1-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        1.2. Table 2.</a>
    <br>
    <a href="#2" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">
        2. Data cleaning</a>
    <br>
    <a href="#2-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        2.1. Extracting tables and data cleanup.</a>
    <br>
    <a href="#2-1-1" style="color: #94FFD8; font-size: 14px; margin-left: 40px;">
        2.1.1. Table 1. Extraction and cleaning of data from tables on monthly real GDP growth rates.</a>
    <br>
    <a href="#2-1-2" style="color: #94FFD8; font-size: 14px; margin-left: 40px;">
        2.1.2. Table 2. Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.</a>
    <br>
    <a href="#3" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">3. Real-time data of Peru's GDP growth rates</a>
    <br>
    <a href="#3-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.1. Annual vintages concatenation.</a>
    <br>
    <a href="#3-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.2. Quarterly vintages concatenation.</a>
    <br>
    <a href="#3-3" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        3.3. Monthly vintages concatenation.</a>
    <br>
    <a href="#4" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">4. GDP final revision dataset</a>
    <br>
    <a href="#4-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.1. Annual revisions.</a>
    <br>
    <a href="#4-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.2. Quarterly revisions.</a>
    <br>
    <a href="#4-3" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        4.3. Monthly revisions.</a>
    <br>
    <a href="#5" style="color: #E0E0E0; font-size: 18px; margin-left: 0px;">5. Uploading data to SQL</a>
    <br>
    <a href="#5-1" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.1. Vintages.</a>
    <br>
    <a href="#5-2" style="color: #94FFD8; font-size: 16px; margin-left: 20px;">
        5.2. Revisions.</a>
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    Any questions or issues regarding the coding, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"><span style="font-size: 24px;">&#x2709;</span>
    </a>.
    <div/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    If you don't have the libraries below, please use the following code (as example) to install the required libraries.
    <div/>

In [ ]:
#!pip install os # Comment this code with "#" if you have already installed this library.

<div id="libraries">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'charter'; color: dark;">
    <h2>
    Libraries
    </h2>
    <div/>

In [1]:
# 1. Duplicate tables for all other NS ids
#-------------------------------------------------------------------------------------------------------------------------------
# 1.1. Table 1

import os
import shutil
import psycopg2
import pandas as pd



# 2. Data cleaning
#-------------------------------------------------------------------------------------------------------------------------------

# 2.2. Extracting tables and data cleanup

import pandas as pd  # For data manipulation and analysis
import unicodedata  # For manipulating Unicode data
import re  # For regular expressions operations
from datetime import datetime  # For working with dates and times
import locale  # For locale-specific formatting of numbers, dates, and currencies
import numpy as np
import unidecode

# 2.2.1. Table 1. Extraction and cleaning of data from tables on monthly real GDP growth rates.

import tabula  # Used to extract tables from PDF files into pandas DataFrames
from tkinter import Tk, messagebox, TOP, YES, NO  # Used for creating graphical user interfaces
from sqlalchemy import create_engine  # Used for connecting to and interacting with SQL databases

# 2.2.2. Table 2. Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.

import roman
from datetime import datetime


# 3. Real-time data of Peru's GDP growth rates
#-------------------------------------------------------------------------------------------------------------------------------

import psycopg2  # For interacting with PostgreSQL databases
from sqlalchemy import create_engine, text  # For creating and executing SQL queries using SQLAlchemy

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="setup">
   <!-- Contenido de la celda de destino -->
</div>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark;">
    <h2>
    Initial set-up
    </h2>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Setting the base path. <div/>

In [2]:
# Ask the user for the base path
base_path = input("Please enter your base path to set your main working directory, then press enter: \n")

# Check if the path is valid
if os.path.isdir(base_path):
    print(f"Correctly defined base path.")
    os.chdir(base_path)
else:
    print("The entered path is not valid. Please try again.")

Please enter your base path to set your main working directory, then press enter:
C:\Users\Jason Cruz\OneDrive\Documentos\Research Assistant\CIUP\GDP Revisions\gdp_revisions\old_database
Correctly defined base path.

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    Download the <code>.zip</code> files of <code>table_1</code> and <code>table_2</code> and paste them into <code>raw_data</code> and <code>input_data</code> paths set below. 
    <p>
     Note that the missing data will be filled in <code>input_data</code> in <a href="#1" style="color: rgb(0, 153, 123); font-size: 16px;">Section 1</a>. Then the changes will actually occur in the <code>input_data</code> folder. However, we created <code>raw_data</code> to map the tables as they were delivered by the Central Bank, i.e. the raw data delivered (without any transformation).
       </p>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

In [3]:
# Folder path to save csv files delivered by Central Bank 
raw_data = 'raw_data' # to save raw data (.csv).
if not os.path.exists(raw_data):
    os.mkdir(raw_data) # to create the folder (if it doesn't exist)

In [4]:
# Folder path to save csv files delivered by Central Bank as inputs (duplicated for all NS id) 
input_data = 'input_data' # to save input data (.csv).
if not os.path.exists(input_data):
    os.mkdir(input_data) # to create the folder (if it doesn't exist)

In [5]:
# Folder path to save csv files delivered by Central Bank (Table 1)
table_1_folder = os.path.join(input_data, 'table_1') # to save raw data (.csv).
if not os.path.exists(table_1_folder):
    os.mkdir(table_1_folder) # to create the folder (if it doesn't exist)

In [6]:
# Folder path to save csv files delivered by Central Bank (Table 2)
table_2_folder = os.path.join(input_data, 'table_2') # to save raw data (.csv).
if not os.path.exists(table_2_folder):
    os.mkdir(table_2_folder) # to create the folder (if it doesn't exist)

In [7]:
# Folder path to save dataframes generated record by year

dataframes_record = 'dataframes_record'
if not os.path.exists(dataframes_record):
    os.makedirs(dataframes_record) # to create the folder (if it doesn't exist)

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following code lines will create folders in your current path, call them to import and export your outputs. <div/>

<p style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> The following function will establish a connection to the <code>gdp_revisions_datasets</code> database in <code>PostgreSQL</code>. The <b>input data</b> used in this jupyter notebook will be loaded from this <code>PostgreSQL</code> database, and similarly, all <b>output data</b> generated by this jupyter notebook will be stored in that database. Ensure that you set the necessary parameters to access the server once you have obtained the required permissions.<p/>
    
<p style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
To request permissions, please email Jason Cruz <a href="mailto:jj.cruza@alum.up.edu.pe" style="color: rgb(0, 153, 123); text-decoration: none;"> <span style="font-size: 24px;">&#x2709;</span>
    </a>.
<p/>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
    <span style="font-size: 24px; color: #FFA823; font-weight: bold;">&#9888;</span>
    Enter your user credentials to acces to SQL.
    <div/>

In [8]:
def create_sqlalchemy_engine():
    """
    Function to create an SQLAlchemy engine using environment variables.
    
    Returns:
        engine: SQLAlchemy engine object.
    """
    # Get environment variables
    user = os.environ.get('CIUP_SQL_USER')  # Get the SQL user from environment variables
    password = os.environ.get('CIUP_SQL_PASS')  # Get the SQL password from environment variables
    host = os.environ.get('CIUP_SQL_HOST')  # Get the SQL host from environment variables
    port = 5432  # Set the SQL port to 5432
    database = 'gdp_revisions_datasets'  # Set the database name 'gdp_revisions_datasets' from SQL

    # Check if all environment variables are defined
    if not all([host, user, password]):
        raise ValueError("Some environment variables are missing (CIUP_SQL_HOST, CIUP_SQL_USER, CIUP_SQL_PASS)")

    # Create connection string
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

    # Create SQLAlchemy engine
    engine = create_engine(connection_string)
    
    return engine

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Import all other functions required by this jupyter notebook.
    </span>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px"> Please, check the script <code>old_gdp_datasets_functions.py</code> and <code>new_gdp_datasets_functions.py</code> which contains all the functions required by this jupyter notebook. The functions there are ordered according to the <a href="#outilne" style="color: #3d30a2;">sections</a> of this jupyter notebok.<div/>

In [9]:
from old_gdp_datasets_functions import *
from new_gdp_datasets_functions import *

pygame 2.5.2 (SDL 2.28.3, Python 3.12.1)
Hello from the pygame community. https://www.pygame.org/contribute.html

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;; color: dark;">1.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Duplicate tables for all other NS ids</span></h1>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
    <p>The Central Bank has provided us with confidential data for Table 1 (1994-2012) and Table 2 (1997-2012). However, in each year we have been provided from the tables where the revisions occurred or, more generally, where the Central Bank has received from INEI the updated information of all NS tables.</p>
    
   <p>So, we will duplicate these tables to complete the total NS per year (50 approximately due to the number of weeks per year).</p>
    <div/>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
The following code imports the data containing the dummies of the tables that were delivered by the Central Bank (1 if the table was delivered and 0 if it was not) from SQL 
    <div/>

In [10]:
# Connect to PostgresSQL
engine = create_sqlalchemy_engine()

# Define SQL query to import data
query = f"SELECT * FROM old_raw_data_delivered"

# Importing data into a pandas DataFrame
df = pd.read_sql(query, engine)

<div id="1-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">1.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Table 1
    </span>
    </h2>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please change your preferred year range
    </span>
</div>

In [ ]:
# Process each year
for year in range(2010, 2013): # Please change your preferred year range
    df_year = df[df['year'] == year]
    duplicate_files_table_1(year, df_year, table_1_folder)

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="1-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">1.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Table 2
    </span>
    </h2>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please change your preferred year range
    </span>
</div>

In [ ]:
# Process each year
for year in range(2011, 2012): # Please change your preferred year range
    df_year = df[df['year'] == year]
    duplicate_files_table_2(year, df_year, table_2_folder)

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;; color: dark;">2.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Data cleaning</span></h1>

<div id="2-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Extracting tables and data cleanup
    </span>
    </h2>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
<p>     
PENDING
</p>
<div/>

<div id="2-1-1">
   <!-- Contenido de la celda de destino -->
</div>

<h3><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    <span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">Table 1.</span> Extraction and cleaning of data from tables on monthly real GDP growth rates.
    </span>
    </h3>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please check that the flat file <b>"ns_dates.csv"</b> is updated with the dates, years and ids for the newly downloaded PDF <span style="font-size: 24px;">&#128462;</span> (WR). That file is located in the <b>"ns_dates"</b> folder and is uploaded to SQL from the jupyeter notebook <code>aux_files_to_sql.ipynb</code>
    </span>
</div>

In [12]:
# Set the locale to Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Dictionary to store generated DataFrames
old_dataframes_dict_1 = {}

# Path for the processed folders log file
record_path = 'dataframes_record/old_processed_folders_1.txt'

# Function to correct month names
def correct_month_name(month):
    months_mapping = {
        'setiembre': 'septiembre',
        # Add more mappings as needed for other month names
    }
    return months_mapping.get(month, month)

# Function to register processed folder
def register_processed_folder(folder, num_processed_files):
    with open(record_path, 'a') as file:
        file.write(f"{folder}:{num_processed_files}\n")

# Function to check if folder has been processed
def folder_processed(folder):
    if not os.path.exists(record_path):
        return False
    with open(record_path, 'r') as file:
        for line in file:
            if line.startswith(folder):
                return True
    return False

# Function to fetch date from database
def get_date(df, engine):
    id_ns = df['id_ns'].iloc[0]
    year = df['year'].iloc[0]
    query = f"SELECT date FROM dates_growth_rates WHERE id_ns = '{id_ns}' AND year = '{year}';"
    date_result = pd.read_sql(query, engine)
    return date_result.iloc[0, 0] if not date_result.empty else None

def process_csv(csv_path, engine):
    old_tables_dict_1 = {}  # Local dictionary for each CSV
    table_counter = 1

    filename = os.path.basename(csv_path)
    id_ns_year_matches = re.findall(r'ns-(\d+)-(\d{4})', filename)
    if id_ns_year_matches:
        id_ns, year = id_ns_year_matches[0]
    else:
        print("No matches found for id_ns and year in filename:", filename)
        return None, None, None, None # Return None for tables_dict_1 as well

    new_filename = os.path.splitext(os.path.basename(csv_path))[0].replace('-', '_')

    df = pd.read_csv(csv_path, delimiter=';')
    
    dataframe_name = f"{new_filename}_{table_counter}"
    old_tables_dict_1[dataframe_name] = df.copy()

    # Apply cleanup functions to a copy of the DataFrame
    df_clean = df.copy()

    # Conditional cleaning based on the first column
    if df_clean.columns[1] == 'economic_sectors':
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = replace_mineria(df_clean)
        df_clean = replace_mining(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)
    else:
        # Cleaning functions (set as required)
        df_clean = clean_column_names(df_clean)
        df_clean = adjust_column_names(df_clean)
        df_clean = drop_rare_caracter_row(df_clean)
        df_clean = drop_nan_rows(df_clean)
        df_clean = drop_nan_columns(df_clean)
        df_clean = reset_index(df_clean)
        df_clean = remove_digit_slash(df_clean)
        df_clean = replace_var_perc_first_column(df_clean)
        df_clean = replace_var_perc_last_columns(df_clean)
        df_clean = replace_number_moving_average(df_clean)
        df_clean = relocate_last_column(df_clean)
        df_clean = clean_first_row(df_clean)
        df_clean = find_year_column(df_clean)
        year_columns = extract_years(df_clean)
        df_clean = get_months_sublist_list(df_clean, year_columns)
        df_clean = first_row_columns(df_clean)
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = replace_mineria(df_clean)
        df_clean = replace_mining(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)

    # Add the column 'year' to the clean DataFrame
    df_clean.insert(0, 'year', year)
    
    # Add the column 'id_ns' to the clean DataFrame
    df_clean.insert(1, 'id_ns', id_ns)
    
    # Get corresponding date from database
    date = get_date(df_clean, engine)
    if date:
        # Add 'date' column to cleaned DataFrame
        df_clean.insert(2, 'date', date)
    else:
        print("Date not found in database for id_ns:", id_ns, "and year:", year)

    # Store cleaned DataFrame in old_dataframes_dict_1
    old_dataframes_dict_1[dataframe_name] = df_clean

    return id_ns, year, old_tables_dict_1

# Function to process folder
def process_folder(folder, engine):
    print(f"Processing folder {os.path.basename(folder)}")
    csv_files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.csv')]

    num_csv_processed = 0
    num_dataframes_generated = 0

    table_counter = 1  # Initialize table counter here
    old_tables_dict_1 = {}  # Declare old_tables_dict_1 outside main loop
    
    for csv_file in csv_files:
        id_ns, year, tables_dict_temp = process_csv(csv_file, engine)

        if tables_dict_temp:
            for dataframe_name, df in tables_dict_temp.items():
                file_name = os.path.splitext(os.path.basename(csv_file))[0].replace('-', '_')
                dataframe_name = f"{file_name}_{table_counter}"
                
                # Store raw DataFrame in old_tables_dict_1
                old_tables_dict_1[dataframe_name] = df.copy()
                
                # Apply cleanup functions to a copy of the DataFrame
                df_clean = df.copy()

                # Conditional cleaning based on the first column
                if df_clean.columns[1] == 'economic_sectors':
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                else:
                    # Cleaning functions (set as required)
                    df_clean = clean_column_names(df_clean)
                    df_clean = adjust_column_names(df_clean)
                    df_clean = drop_rare_caracter_row(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    df_clean = drop_nan_columns(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = remove_digit_slash(df_clean)
                    df_clean = replace_var_perc_first_column(df_clean)
                    df_clean = replace_var_perc_last_columns(df_clean)
                    df_clean = replace_number_moving_average(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = find_year_column(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = get_months_sublist_list(df_clean, year_columns)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)

                # Add the column 'year' to the clean DataFrame
                df_clean.insert(0, 'year', year)

                # Add the column 'id_ns' to the clean DataFrame
                df_clean.insert(1, 'id_ns', id_ns)

                # Get corresponding date from database
                date = get_date(df_clean, engine)
                if date:
                    # Add 'date' column to cleaned DataFrame
                    df_clean.insert(2, 'date', date)
                else:
                    print("Date not found in database for id_ns:", id_ns, "and year:", year)

                # Store cleaned DataFrame in old_dataframes_dict_1
                old_dataframes_dict_1[dataframe_name] = df_clean

                print(f'  {table_counter}. The dataframe generated for the {csv_file} file is: {dataframe_name}')
                num_dataframes_generated += 1
                table_counter = 1  # Increment table counter here
        
        num_csv_processed += 1  # Increment number of processed CSV for each CSV in folder

    return num_csv_processed, num_dataframes_generated, old_tables_dict_1

def process_folders():
    csv_folder = table_1_folder
    folders = [os.path.join(csv_folder, d) for d in os.listdir(csv_folder) if os.path.isdir(os.path.join(csv_folder, d)) and re.match(r'\d{4}', d)]
    
    old_tables_dict_1 = {}  # Initialize old_tables_dict_1 here
    
    for folder in folders:
        if folder_processed(folder):
            print(f"Folder {folder} has already been processed.")
            continue
        
        num_csv_processed, num_dataframes_generated, tables_dict_temp = process_folder(folder, engine)
        
        # Update old_tables_dict_1 with values returned from process_folder()
        old_tables_dict_1.update(tables_dict_temp)
        
        register_processed_folder(folder, num_csv_processed)

        # Ask user if they want to continue with next folder
        root = Tk()
        root.withdraw()
        root.attributes('-topmost', True)  # Ensure the messagebox is in front
        message = f"Process {folder} complete. Processed {num_csv_processed} CSV(s) and generated {num_dataframes_generated} DataFrame(s). Continue with next folder?"
        if not messagebox.askyesno("Continue?", message):
            break
            
    print("Processing completed for all folders.")  # Add a message to indicate completion
    
    return old_tables_dict_1

if __name__ == "__main__":
    engine = create_sqlalchemy_engine()
    old_tables_dict_1 = process_folders()

Processing folder 1994
  1. The dataframe generated for the input_data\table_1\1994\ns-03-1994.csv file is: ns_03_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-06-1994.csv file is: ns_06_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-09-1994.csv file is: ns_09_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-13-1994.csv file is: ns_13_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-20-1994.csv file is: ns_20_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-22-1994.csv file is: ns_22_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-25-1994.csv file is: ns_25_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-31-1994.csv file is: ns_31_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-33-1994.csv file is: ns_33_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-37-1994.csv file is: ns_37_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-43-1994.csv file is: ns_43_1994_1
  1. The dataframe generated for the input_data\table_1\1994\ns-49-1994.csv file is: ns_49_1994_1
Folder input_data\table_1\1995 has already been processed.
Folder input_data\table_1\1996 has already been processed.
Folder input_data\table_1\1997 has already been processed.
Folder input_data\table_1\1998 has already been processed.
Folder input_data\table_1\1999 has already been processed.
Folder input_data\table_1\2000 has already been processed.
Folder input_data\table_1\2001 has already been processed.
Folder input_data\table_1\2009 has already been processed.
Folder input_data\table_1\2010 has already been processed.
Folder input_data\table_1\2011 has already been processed.
Folder input_data\table_1\2012 has already been processed.
Processing completed for all folders.

In [13]:
old_tables_dict_1['ns_03_1994_1']

,sectores_economicos,economic_sectors,1992_ene,1992_feb,1992_mar,1992_abr,1992_may,1992_jun,1992_jul,1992_ago,...,1993_mar,1993_abr,1993_may,1993_jun,1993_jul,1993_ago,1993_sep,1993_oct,1993_nov,1993_mean
0,agropecuario,agriculture and livestock,3.7,3.6,-2.4,-6.6,-13.4,-10.7,-10.2,-12.9,...,-4.1,-2.4,0.9,4.4,9.2,18.3,15.9,9.9,9.6,5.3
1,agricola,agriculture,-2.7,2.2,-4.5,-9.8,-17.5,-15.3,-13.8,-19.7,...,-4.1,-1.7,2.9,7.3,12.5,27.9,25.0,17.5,17.4,9.4
2,pecuario,livestock,11.4,5.6,1.2,1.6,0.4,5.6,2.7,2.5,...,-4.0,-4.0,-4.6,-4.1,-0.5,1.1,2.4,0.4,0.4,-2.2
3,pesca,fishing,-29.8,-26.4,-24.6,-43.0,-20.4,-20.3,25.9,59.4,...,104.7,128.5,15.6,38.8,101.7,0.3,27.8,20.6,12.3,43.6
4,mineria,mining and fuel,-1.4,-5.5,-11.1,-9.8,-12.3,-3.4,-8.3,-5.0,...,10.0,4.0,7.6,5.1,15.4,11.3,12.9,6.0,1.4,8.1
5,mineria metalica,metals,3.4,-7.4,-16.0,-11.8,-17.8,-5.8,-12.7,-11.5,...,11.4,2.7,5.3,2.6,18.2,13.2,16.8,4.2,-2.1,7.3
6,petroleo crudo,fuels,-7.6,-3.0,-3.8,-6.7,-4.0,0.0,-1.9,5.0,...,8.1,5.7,10.7,8.4,11.8,8.8,7.9,8.4,6.3,9.1
7,manufactura,manufacturing,-3.5,-2.3,3.2,-13.4,-8.4,-7.7,-15.7,-11.6,...,11.5,14.1,6.5,10.2,17.0,15.6,14.0,6.2,8.8,9.2
8,procesadores recursos primarios,based on raw materials,-19.0,-9.8,-9.7,-23.8,-12.3,-6.9,0.7,-2.9,...,33.1,40.3,5.6,9.1,27.5,6.7,12.0,7.7,13.9,15.6
9,resto industria,non primary,5.6,0.9,9.0,-8.5,-6.4,-8.1,-21.3,-14.6,...,3.5,3.7,7.0,10.8,12.4,19.1,14.8,5.5,6.2,6.5
10,construccion,construction,27.7,12.8,22.0,4.9,-3.7,-0.7,-9.6,-0.6,...,6.3,7.0,10.1,22.9,18.6,27.9,19.4,11.4,28.8,12.8
11,gobierno,government,-3.9,1.1,-0.6,-0.8,35.1,45.5,37.8,7.6,...,1.2,0.4,-0.4,1.0,2.1,0.4,-5.0,3.0,-1.0,0.1
12,otros,others,3.1,4.9,6.9,-6.1,-5.2,-3.8,-7.4,-4.4,...,2.6,7.4,4.0,6.8,8.2,6.5,8.4,5.2,6.5,5.0
13,comercio,commerce,4.2,11.2,13.6,-7.4,-3.3,-2.0,-7.7,-2.1,...,-1.3,9.0,2.1,3.9,10.9,1.5,10.6,2.8,8.0,4.0
14,resto,remaining,2.5,1.9,3.5,-5.5,-6.2,-4.6,-7.3,-5.5,...,4.8,6.5,5.0,8.3,6.7,9.2,7.3,6.4,5.7,5.6
15,pbi,gdp,1.3,1.8,2.8,-7.5,-5.7,-3.1,-7.2,-5.7,...,5.7,7.2,4.5,7.6,11.6,11.2,10.5,6.3,7.5,6.7

In [14]:
old_dataframes_dict_1['ns_03_1994_1']

,year,id_ns,date,sectores_economicos,economic_sectors,1992_ene,1992_feb,1992_mar,1992_abr,1992_may,...,1993_mar,1993_abr,1993_may,1993_jun,1993_jul,1993_ago,1993_sep,1993_oct,1993_nov,1993_mean
0,1994,03,1994-01-24,agropecuario,agriculture and livestock,3.7,3.6,-2.4,-6.6,-13.4,...,-4.1,-2.4,0.9,4.4,9.2,18.3,15.9,9.9,9.6,5.3
1,1994,03,1994-01-24,agricola,agriculture,-2.7,2.2,-4.5,-9.8,-17.5,...,-4.1,-1.7,2.9,7.3,12.5,27.9,25.0,17.5,17.4,9.4
2,1994,03,1994-01-24,pecuario,livestock,11.4,5.6,1.2,1.6,0.4,...,-4.0,-4.0,-4.6,-4.1,-0.5,1.1,2.4,0.4,0.4,-2.2
3,1994,03,1994-01-24,pesca,fishing,-29.8,-26.4,-24.6,-43.0,-20.4,...,104.7,128.5,15.6,38.8,101.7,0.3,27.8,20.6,12.3,43.6
4,1994,03,1994-01-24,mineria e hidrocarburos,mining and fuel,-1.4,-5.5,-11.1,-9.8,-12.3,...,10.0,4.0,7.6,5.1,15.4,11.3,12.9,6.0,1.4,8.1
5,1994,03,1994-01-24,mineria metalica,metals,3.4,-7.4,-16.0,-11.8,-17.8,...,11.4,2.7,5.3,2.6,18.2,13.2,16.8,4.2,-2.1,7.3
6,1994,03,1994-01-24,petroleo crudo,fuels,-7.6,-3.0,-3.8,-6.7,-4.0,...,8.1,5.7,10.7,8.4,11.8,8.8,7.9,8.4,6.3,9.1
7,1994,03,1994-01-24,manufactura,manufacturing,-3.5,-2.3,3.2,-13.4,-8.4,...,11.5,14.1,6.5,10.2,17.0,15.6,14.0,6.2,8.8,9.2
8,1994,03,1994-01-24,procesadores recursos primarios,based on raw materials,-19.0,-9.8,-9.7,-23.8,-12.3,...,33.1,40.3,5.6,9.1,27.5,6.7,12.0,7.7,13.9,15.6
9,1994,03,1994-01-24,resto industria,non primary,5.6,0.9,9.0,-8.5,-6.4,...,3.5,3.7,7.0,10.8,12.4,19.1,14.8,5.5,6.2,6.5
10,1994,03,1994-01-24,construccion,construction,27.7,12.8,22.0,4.9,-3.7,...,6.3,7.0,10.1,22.9,18.6,27.9,19.4,11.4,28.8,12.8
11,1994,03,1994-01-24,gobierno,government,-3.9,1.1,-0.6,-0.8,35.1,...,1.2,0.4,-0.4,1.0,2.1,0.4,-5.0,3.0,-1.0,0.1
12,1994,03,1994-01-24,otros,others,3.1,4.9,6.9,-6.1,-5.2,...,2.6,7.4,4.0,6.8,8.2,6.5,8.4,5.2,6.5,5.0
13,1994,03,1994-01-24,comercio,commerce,4.2,11.2,13.6,-7.4,-3.3,...,-1.3,9.0,2.1,3.9,10.9,1.5,10.6,2.8,8.0,4.0
14,1994,03,1994-01-24,resto,remaining,2.5,1.9,3.5,-5.5,-6.2,...,4.8,6.5,5.0,8.3,6.7,9.2,7.3,6.4,5.7,5.6
15,1994,03,1994-01-24,pbi,gdp,1.3,1.8,2.8,-7.5,-5.7,...,5.7,7.2,4.5,7.6,11.6,11.2,10.5,6.3,7.5,6.7

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="2-1-2">
   <!-- Contenido de la celda de destino -->
</div>

<h3><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">2.1.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    <span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">Table 2.</span> Extraction and cleaning of data from tables on quarterly and annual real GDP growth rates.
    </span>
    </h3>

<div style="text-align: left;">
    <span style="font-size: 24px; color: rgb(255, 32, 78); font-weight: bold;">&#9888;</span>
    <span style="font-family: PT Serif Pro Book; color: black; font-size: 16px;">
        Please check that the flat file <b>"ns_dates.csv"</b> is updated with the dates, years and ids for the newly downloaded PDF <span style="font-size: 24px;">&#128462;</span> (WR). That file is located in the <b>"ns_dates"</b> folder and is uploaded to SQL from the jupyeter notebook <code>aux_files_to_sql.ipynb</code>
    </span>
</div>

In [15]:
# Set the locale to Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Dictionary to store generated DataFrames
old_dataframes_dict_2 = {}

# Path for the processed folders log file
record_path = 'dataframes_record/old_processed_folders_2.txt'

# Function to correct month names
def correct_month_name(month):
    months_mapping = {
        'setiembre': 'septiembre',
        # Add more mappings as needed for other month names
    }
    return months_mapping.get(month, month)

# Function to register processed folder
def register_processed_folder(folder, num_processed_files):
    with open(record_path, 'a') as file:
        file.write(f"{folder}:{num_processed_files}\n")

# Function to check if folder has been processed
def folder_processed(folder):
    if not os.path.exists(record_path):
        return False
    with open(record_path, 'r') as file:
        for line in file:
            if line.startswith(folder):
                return True
    return False

# Function to fetch date from database
def get_date(df, engine):
    id_ns = df['id_ns'].iloc[0]
    year = df['year'].iloc[0]
    query = f"SELECT date FROM dates_growth_rates WHERE id_ns = '{id_ns}' AND year = '{year}';"
    date_result = pd.read_sql(query, engine)
    return date_result.iloc[0, 0] if not date_result.empty else None

def process_csv(csv_path, engine):
    old_tables_dict_2 = {}  # Local dictionary for each CSV
    table_counter = 2

    filename = os.path.basename(csv_path)
    id_ns_year_matches = re.findall(r'ns-(\d+)-(\d{4})', filename)
    if id_ns_year_matches:
        id_ns, year = id_ns_year_matches[0]
    else:
        print("No matches found for id_ns and year in filename:", filename)
        return None, None, None, None # Return None for tables_dict_1 as well

    new_filename = os.path.splitext(os.path.basename(csv_path))[0].replace('-', '_')

    df = pd.read_csv(csv_path, delimiter=';')
    
    dataframe_name = f"{new_filename}_{table_counter}"
    old_tables_dict_2[dataframe_name] = df.copy()

    # Apply cleanup functions to a copy of the DataFrame
    df_clean = df.copy()

    # Conditional cleaning based on the first column
    if df_clean.columns[1] == 'economic_sectors':
        df_clean = clean_columns_values(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = replace_mineria(df_clean)
        df_clean = replace_mining(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)
    else:
        # Cleaning functions (set as required)
        df_clean = replace_total_with_year(df_clean)
        df_clean = drop_nan_rows(df_clean)
        year_columns = extract_years(df_clean)
        df_clean = roman_arabic(df_clean)
        df_clean = fix_duplicates(df_clean)
        df_clean = relocate_last_column(df_clean)
        df_clean = replace_first_row_nan(df_clean)
        df_clean = clean_first_row(df_clean)
        df_clean = get_quarters_sublist_list(df_clean, year_columns)
        df_clean = reset_index(df_clean)
        df_clean = first_row_columns(df_clean)
        df_clean = clean_columns_values(df_clean)
        df_clean = reset_index(df_clean)
        df_clean = convert_float(df_clean)
        df_clean = replace_set_sep(df_clean)
        df_clean = spaces_se_es(df_clean)
        df_clean = replace_services(df_clean)
        df_clean = replace_mineria(df_clean)
        df_clean = replace_mining(df_clean)
        df_clean = rounding_values(df_clean, decimals=1)

    # Add the column 'year' to the clean DataFrame
    df_clean.insert(0, 'year', year)
    
    # Add the column 'id_ns' to the clean DataFrame
    df_clean.insert(1, 'id_ns', id_ns)
    
    # Get corresponding date from database
    date = get_date(df_clean, engine)
    if date:
        # Add 'date' column to cleaned DataFrame
        df_clean.insert(2, 'date', date)
    else:
        print("Date not found in database for id_ns:", id_ns, "and year:", year)

    # Store cleaned DataFrame in old_dataframes_dict_2
    old_dataframes_dict_2[dataframe_name] = df_clean

    return id_ns, year, old_tables_dict_2

# Function to process folder
def process_folder(folder, engine):
    print(f"Processing folder {os.path.basename(folder)}")
    csv_files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.csv')]

    num_csv_processed = 0
    num_dataframes_generated = 0

    table_counter = 2  # Initialize table counter here
    old_tables_dict_2 = {}  # Declare old_tables_dict_1 outside main loop
    
    for csv_file in csv_files:
        id_ns, year, tables_dict_temp = process_csv(csv_file, engine)

        if tables_dict_temp:
            for dataframe_name, df in tables_dict_temp.items():
                file_name = os.path.splitext(os.path.basename(csv_file))[0].replace('-', '_')
                dataframe_name = f"{file_name}_{table_counter}"
                
                # Store raw DataFrame in old_tables_dict_2
                old_tables_dict_2[dataframe_name] = df.copy()
                
                # Procesar y limpiar el DataFrame
                df_clean = df.copy()
                
                # Conditional cleaning based on the first column
                if df_clean.columns[1] == 'economic_sectors':
                    df_clean = clean_columns_values(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                else:
                    # Cleaning functions (set as required)
                    df_clean = replace_total_with_year(df_clean)
                    df_clean = drop_nan_rows(df_clean)
                    year_columns = extract_years(df_clean)
                    df_clean = roman_arabic(df_clean)
                    df_clean = fix_duplicates(df_clean)
                    df_clean = relocate_last_column(df_clean)
                    df_clean = replace_first_row_nan(df_clean)
                    df_clean = clean_first_row(df_clean)
                    df_clean = get_quarters_sublist_list(df_clean, year_columns)
                    df_clean = reset_index(df_clean)
                    df_clean = first_row_columns(df_clean)
                    df_clean = clean_columns_values(df_clean)
                    df_clean = reset_index(df_clean)
                    df_clean = convert_float(df_clean)
                    df_clean = replace_set_sep(df_clean)
                    df_clean = spaces_se_es(df_clean)
                    df_clean = replace_services(df_clean)
                    df_clean = replace_mineria(df_clean)
                    df_clean = replace_mining(df_clean)
                    df_clean = rounding_values(df_clean, decimals=1)
                
                # Add the column 'year' to the clean DataFrame
                df_clean.insert(0, 'year', year)

                # Add the column 'id_ns' to the clean DataFrame
                df_clean.insert(1, 'id_ns', id_ns)

                # Get corresponding date from database
                date = get_date(df_clean, engine)
                if date:
                    # Add 'date' column to cleaned DataFrame
                    df_clean.insert(2, 'date', date)
                else:
                    print("Date not found in database for id_ns:", id_ns, "and year:", year)

                # Store cleaned DataFrame in old_dataframes_dict_2
                old_dataframes_dict_2[dataframe_name] = df_clean

                print(f'  {table_counter}. The dataframe generated for the {csv_file} file is: {dataframe_name}')
                num_dataframes_generated += 1
                table_counter = 2  # Increment table counter here
        
        num_csv_processed += 1  # Increment number of processed CSV for each CSV in folder

    return num_csv_processed, num_dataframes_generated, old_tables_dict_2

def process_folders():
    csv_folder = table_2_folder
    folders = [os.path.join(csv_folder, d) for d in os.listdir(csv_folder) if os.path.isdir(os.path.join(csv_folder, d)) and re.match(r'\d{4}', d)]
    
    old_tables_dict_2 = {}  # Initialize old_tables_dict_1 here
    
    for folder in folders:
        if folder_processed(folder):
            print(f"Folder {folder} has already been processed.")
            continue
        
        num_csv_processed, num_dataframes_generated, tables_dict_temp = process_folder(folder, engine)
        
        # Update old_tables_dict_2 with values returned from process_folder()
        old_tables_dict_2.update(tables_dict_temp)
        
        register_processed_folder(folder, num_csv_processed)

        # Ask user if they want to continue with next folder
        root = Tk()
        root.withdraw()
        root.attributes('-topmost', True)  # Ensure the messagebox is in front
        message = f"Process {folder} complete. Processed {num_csv_processed} CSV(s) and generated {num_dataframes_generated} DataFrame(s). Continue with next folder?"
        if not messagebox.askyesno("Continue?", message):
            break

    print("Processing completed for all folders.")  # Add a message to indicate completion

    return old_tables_dict_2
    
if __name__ == "__main__":
    engine = create_sqlalchemy_engine()
    old_tables_dict_2 = process_folders()

Processing folder 1997
  2. The dataframe generated for the input_data\table_2\1997\ns-02-1997.csv file is: ns_02_1997_2
  2. The dataframe generated for the input_data\table_2\1997\ns-13-1997.csv file is: ns_13_1997_2
  2. The dataframe generated for the input_data\table_2\1997\ns-17-1997.csv file is: ns_17_1997_2
  2. The dataframe generated for the input_data\table_2\1997\ns-21-1997.csv file is: ns_21_1997_2
  2. The dataframe generated for the input_data\table_2\1997\ns-24-1997.csv file is: ns_24_1997_2
  2. The dataframe generated for the input_data\table_2\1997\ns-32-1997.csv file is: ns_32_1997_2
  2. The dataframe generated for the input_data\table_2\1997\ns-48-1997.csv file is: ns_48_1997_2
  2. The dataframe generated for the input_data\table_2\1997\ns-49-1997.csv file is: ns_49_1997_2
Folder input_data\table_2\1998 has already been processed.
Folder input_data\table_2\1999 has already been processed.
Folder input_data\table_2\2000 has already been processed.
Folder input_data\table_2\2001 has already been processed.
Folder input_data\table_2\2002 has already been processed.
Folder input_data\table_2\2009 has already been processed.
Folder input_data\table_2\2010 has already been processed.
Folder input_data\table_2\2011 has already been processed.
Processing folder 2012
  2. The dataframe generated for the input_data\table_2\2012\ns-08-2012.csv file is: ns_08_2012_2
  2. The dataframe generated for the input_data\table_2\2012\ns-09-2012.csv file is: ns_09_2012_2
  2. The dataframe generated for the input_data\table_2\2012\ns-20-2012.csv file is: ns_20_2012_2
  2. The dataframe generated for the input_data\table_2\2012\ns-21-2012.csv file is: ns_21_2012_2
  2. The dataframe generated for the input_data\table_2\2012\ns-32-2012.csv file is: ns_32_2012_2
  2. The dataframe generated for the input_data\table_2\2012\ns-45-2012.csv file is: ns_45_2012_2
Processing completed for all folders.

In [16]:
old_tables_dict_2['ns_02_1997_2']

,sectores_económicos,economic_sectors,1993_year,1994_1,1994_2,1994_3,1994_4,1994_year,1995_1,1995_2,1995_3,1995_4,1995_year,1996_1,1996_2,1996_3
0,agropecuario,agriculture and livestock,8.5,11.6,27.5,4.8,7.2,13.7,10.6,7.7,8.7,2.7,7.6,0.8,8.0,4.3
1,agrícola,agriculture,14.6,11.4,35.1,5.6,4.3,16.7,13.1,6.9,5.4,-1.6,6.1,0.9,9.0,6.4
2,pecuario,livestock,-1.6,11.8,7.1,2.9,11.1,8.2,7.5,10.3,16.6,8.3,10.6,0.6,4.7,-0.3
3,pesca,fishing,21.0,14.6,37.4,16.0,20.8,23.1,0.5,-13.6,-24.1,-23.9,-14.6,-19.8,7.5,2.5
4,minería,mining and fuel,9.0,7.6,10.0,3.7,2.7,5.9,4.7,0.9,3.7,3.1,3.1,2.4,3.5,3.8
5,minería metálica,metals,9.0,8.6,13.3,7.2,10.0,9.7,11.7,3.8,10.1,7.8,8.3,6.6,9.0,5.9
6,petróleo crudo,fuel,9.0,6.2,5.7,-0.9,-7.0,0.8,-4.6,-3.1,-5.6,-4.2,-4.4,-4.2,-4.7,0.4
7,manufactura,manufacturing,4.8,11.3,16.2,16.3,19.0,15.7,10.8,5.9,3.7,-1.5,4.5,0.9,1.8,2.5
8,procesadores recursos primarios,based on raw materials,8.5,13.3,21.3,11.3,14.8,15.3,-2.5,4.2,-8.4,-9.4,-6.1,-6.4,4.9,8.4
9,resto industria,non primary,3.1,10.4,13.7,18.3,21.1,15.9,17.4,11.2,8.4,2.3,9.5,3.9,0.4,0.5
10,construcción,construction,14.1,27.8,31.8,32.8,43.8,34.6,32.0,31.6,12.4,1.5,17.5,-4.2,-10.4,-4.3
11,gobierno,government,2.3,3.1,3.1,3.1,3.1,3.1,2.5,2.5,2.5,2.5,2.5,1.6,0.5,0.5
12,otros,others,4.8,8.8,12.1,9.7,13.0,11.0,14.4,10.5,8.0,1.6,8.4,0.6,4.0,3.3
13,comercio,commerce,3.5,15.1,17.3,16.7,18.9,17.0,21.2,15.6,12.0,2.6,12.7,-0.5,4.5,1.4
14,resto,remaining,5.4,5.6,9.5,6.5,10.2,8.0,10.6,7.7,5.9,1.0,6.2,1.3,3.8,4.3
15,pbi,gdp,6.4,10.7,16.1,11.0,14.4,13.1,12.7,8.7,6.5,0.8,7.0,0.2,2.8,2.4
16,pbi desestacionalizado,seasonally adjusted gdp,NaN,3.7,4.5,1.1,4.4,NaN,2.1,0.8,-1.0,-1.2,NaN,1.6,3.4,-1.3

In [17]:
old_dataframes_dict_2['ns_02_1997_2']

,year,id_ns,date,sectores_economicos,economic_sectors,1993_year,1994_1,1994_2,1994_3,1994_4,1994_year,1995_1,1995_2,1995_3,1995_4,1995_year,1996_1,1996_2,1996_3
0,1997,02,1997-01-17,agropecuario,agriculture and livestock,8.5,11.6,27.5,4.8,7.2,13.7,10.6,7.7,8.7,2.7,7.6,0.8,8.0,4.3
1,1997,02,1997-01-17,agricola,agriculture,14.6,11.4,35.1,5.6,4.3,16.7,13.1,6.9,5.4,-1.6,6.1,0.9,9.0,6.4
2,1997,02,1997-01-17,pecuario,livestock,-1.6,11.8,7.1,2.9,11.1,8.2,7.5,10.3,16.6,8.3,10.6,0.6,4.7,-0.3
3,1997,02,1997-01-17,pesca,fishing,21.0,14.6,37.4,16.0,20.8,23.1,0.5,-13.6,-24.1,-23.9,-14.6,-19.8,7.5,2.5
4,1997,02,1997-01-17,mineria e hidrocarburos,mining and fuel,9.0,7.6,10.0,3.7,2.7,5.9,4.7,0.9,3.7,3.1,3.1,2.4,3.5,3.8
5,1997,02,1997-01-17,mineria metalica,metals,9.0,8.6,13.3,7.2,10.0,9.7,11.7,3.8,10.1,7.8,8.3,6.6,9.0,5.9
6,1997,02,1997-01-17,petroleo crudo,fuel,9.0,6.2,5.7,-0.9,-7.0,0.8,-4.6,-3.1,-5.6,-4.2,-4.4,-4.2,-4.7,0.4
7,1997,02,1997-01-17,manufactura,manufacturing,4.8,11.3,16.2,16.3,19.0,15.7,10.8,5.9,3.7,-1.5,4.5,0.9,1.8,2.5
8,1997,02,1997-01-17,procesadores recursos primarios,based on raw materials,8.5,13.3,21.3,11.3,14.8,15.3,-2.5,4.2,-8.4,-9.4,-6.1,-6.4,4.9,8.4
9,1997,02,1997-01-17,resto industria,non primary,3.1,10.4,13.7,18.3,21.1,15.9,17.4,11.2,8.4,2.3,9.5,3.9,0.4,0.5
10,1997,02,1997-01-17,construccion,construction,14.1,27.8,31.8,32.8,43.8,34.6,32.0,31.6,12.4,1.5,17.5,-4.2,-10.4,-4.3
11,1997,02,1997-01-17,gobierno,government,2.3,3.1,3.1,3.1,3.1,3.1,2.5,2.5,2.5,2.5,2.5,1.6,0.5,0.5
12,1997,02,1997-01-17,otros,others,4.8,8.8,12.1,9.7,13.0,11.0,14.4,10.5,8.0,1.6,8.4,0.6,4.0,3.3
13,1997,02,1997-01-17,comercio,commerce,3.5,15.1,17.3,16.7,18.9,17.0,21.2,15.6,12.0,2.6,12.7,-0.5,4.5,1.4
14,1997,02,1997-01-17,resto,remaining,5.4,5.6,9.5,6.5,10.2,8.0,10.6,7.7,5.9,1.0,6.2,1.3,3.8,4.3
15,1997,02,1997-01-17,pbi,gdp,6.4,10.7,16.1,11.0,14.4,13.1,12.7,8.7,6.5,0.8,7.0,0.2,2.8,2.4
16,1997,02,1997-01-17,pbi desestacionalizado,seasonally adjusted gdp,NaN,3.7,4.5,1.1,4.4,NaN,2.1,0.8,-1.0,-1.2,NaN,1.6,3.4,-1.3

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Real-time data of Peru's GDP growth rates</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
This section creates the GDP growth rate vintages for Peru using <a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 1</a> and <a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 2</a>, which were extracted and cleaned in the previous section. Each table from each WR (CSV <span style="font-size: 24px;">&#128452;</span>) was extracted and cleaned individually in the previous section. Here, we will concatenate all the tables for a specific economic sector, thus creating a vintage dataset of (real) GDP growth by economic sector from <b>1994</b> to <b>2012</b> (<a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 1</a>) and <b>1997</b> to <b>2012</b> (<a href="#3-2-1" style="color: rgb(0, 153, 123); font-size: 16px;">Table 2</a>).
<div/>

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">$\bullet$</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Select <code>sector_economico</code> and <code>economic_sector</code></span></h1>
    </div>

<div style="font-family: PT Serif Pro Book; text-align: left; color:dark; font-size:16px">
<p>     
When executing the following code, a window will be displayed with options in <b>Spanish</b> and <b>English</b> to select <b>economic sectors</b>. Choose them to concatenate Peru GDP growth rates (annual, quarterly or monthly) by sector.
</p>
<div/>

In [ ]:
# Call the function with the Spanish options list to display the window
selected_spanish, selected_english = select_economic_sector(spanish_options, english_options)

# Display the values selected by the user
print(f"You have selected sector_economico = {selected_spanish} and economic_sector = {selected_english}.")

<div style="background-color: #00414C; color: white; padding: 10px;">
<h1><span style = "color: #15F5BA; font-family: 'PT Serif Pro Book'; color: dark;">$\bullet$</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Select the dataset name prefix</span></h1>
    </div>

In [ ]:
# Call the function to show the popup window
sector = show_option_window()
print("Selected economic sector:", sector)

<div id="3-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Annual vintages concatenation
    </span>
    </h2>

In [ ]:
globals()[f"old_{sector}_annual_growth_rates"] = concatenate_annual_df(old_dataframes_dict_2, selected_spanish, selected_english)

In [ ]:
pd.set_option('display.max_rows', None)
globals()[f"old_{sector}_annual_growth_rates"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Quarterly vintages concatenation
    </span>
    </h2>

In [ ]:
globals()[f"old_{sector}_quarterly_growth_rates"] = concatenate_quarterly_df(old_dataframes_dict_2, selected_spanish, selected_english)

In [ ]:
pd.set_option('display.max_rows', None)
globals()[f"old_{sector}_quarterly_growth_rates"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="3-3">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">3.3.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Monthly vintages concatenation
    </span>
    </h2>

In [ ]:
globals()[f"old_{sector}_monthly_growth_rates"] = concatenate_monthly_df(old_dataframes_dict_1, selected_spanish, selected_english)

In [ ]:
pd.set_option('display.max_rows', None)
globals()[f"old_{sector}_monthly_growth_rates"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">GDP final revision dataset</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
This section creates the final revisions dataset of Peru's GDP growth.
<div/>

<div id="4-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Annual revisions
    </span>
    </h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
We calculate the <b>final revision</b> as the <b>difference</b> between the <b>last annual release</b> and the <b>first annual release</b> of the GDP growth rate.
<div/>

In [ ]:
# Calculate the difference between the last and the first non-NaN value for each column, except 'year', 'ns_id' and 'date'.
revision = globals()[f"old_{sector}_annual_growth_rates"].drop(columns=['year', 'id_ns', 'date']).apply(lambda x: x.loc[x.last_valid_index()] - x.loc[x.first_valid_index()])

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Annual revisions as dataframe
<div/>

In [ ]:
# Set the columns name
globals()[f"old_{sector}_annual_revisions"] = pd.DataFrame({'revision_date': revision.index, f'{sector}_revision': revision.values})
globals()[f"old_{sector}_annual_revisions"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Clean-up the revision_date column
<div/>

In [ ]:
# Extract the year from the string and convert it to an integer type
globals()[f"old_{sector}_annual_revisions"]['year'] = globals()[f"old_{sector}_annual_revisions"]['revision_date'].str.extract(r'(\d+)')

# Create an auxiliary column to generate the values extracted from the year
globals()[f"old_{sector}_annual_revisions"]['year'] = globals()[f"old_{sector}_annual_revisions"]['year'].astype(int)

# Convert revision_date column values as dates
globals()[f"old_{sector}_annual_revisions"]['revision_date'] = pd.to_datetime(globals()[f"old_{sector}_annual_revisions"]['year'], format='%Y')

# Delete the auxiliary column 'year'
globals()[f"old_{sector}_annual_revisions"].drop(columns=['year'], inplace=True)

# Display the result
globals()[f"old_{sector}_annual_revisions"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Quarterly revisions
    </span>
    </h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
We calculate the <b>final revision</b> as the <b>difference</b> between the <b>last quarterly release</b> and the <b>first quarterly release</b> of the GDP growth rate.
<div/>

In [ ]:
# Calculate the difference between the last and the first non-NaN value for each column, except 'year', 'ns_id' and 'date'.
revision = globals()[f"old_{sector}_quarterly_growth_rates"].drop(columns=['year', 'id_ns', 'date']).apply(lambda x: x.loc[x.last_valid_index()] - x.loc[x.first_valid_index()])

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Quarterly revisions as dataframe
<div/>

In [ ]:
# Set the columns name
globals()[f"old_{sector}_quarterly_revisions"] = pd.DataFrame({'revision_date': revision.index, f'{sector}_revision': revision.values})
globals()[f"old_{sector}_quarterly_revisions"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Clean-up the revision_date column
<div/>

In [ ]:
# Convert column 'revision_date' to date data type
globals()[f"old_{sector}_quarterly_revisions"]['revision_date'] = pd.to_datetime(globals()[f"old_{sector}_quarterly_revisions"]['revision_date'], format='%Y_%m')

# Display the result
globals()[f"old_{sector}_quarterly_revisions"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="4-3">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">4.3.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Monthly revisions
    </span>
    </h2>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
We calculate the <b>final revision</b> as the <b>difference</b> between the <b>last monthly release</b> and the <b>first monthly release</b> of the GDP growth rate.
<div/>

In [ ]:
# Calculate the difference between the last and the first non-NaN value for each column, except 'year', 'ns_id' and 'date'.
revision = globals()[f"old_{sector}_monthly_growth_rates"].drop(columns=['year', 'id_ns', 'date']).apply(lambda x: x.loc[x.last_valid_index()] - x.loc[x.first_valid_index()])

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Monthly revisions as dataframe
<div/>

In [ ]:
# Set the columns name
globals()[f"old_{sector}_monthly_revisions"] = pd.DataFrame({'revision_date': revision.index, f'{sector}_revision': revision.values})
globals()[f"old_{sector}_monthly_revisions"]

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Clean-up dataframe
<div/>

In [ ]:
# Extract the month and year from the column 'revision_date'
globals()[f"old_{sector}_monthly_revisions"]['month'] = globals()[f"old_{sector}_monthly_revisions"]['revision_date'].str.split('_').str[0]
globals()[f"old_{sector}_monthly_revisions"]['year'] = globals()[f"old_{sector}_monthly_revisions"]['revision_date'].str.split('_').str[1]

# Match the names of the months to their respective numbers
month_mapping = {
    'ene': '01', 'feb': '02', 'mar': '03', 'abr': '04',
    'may': '05', 'jun': '06', 'jul': '07', 'ago': '08',
    'sep': '09', 'oct': '10', 'nov': '11', 'dic': '12'
}

globals()[f"old_{sector}_monthly_revisions"]['month'] = globals()[f"old_{sector}_monthly_revisions"]['month'].map(month_mapping)

# Create a new column with the date in YYYYY-MM-DD format
globals()[f"old_{sector}_monthly_revisions"]['revision_date'] = globals()[f"old_{sector}_monthly_revisions"]['year'] + '-' + globals()[f"old_{sector}_monthly_revisions"]['month']

# Convert column 'revision_date' to date data type
globals()[f"old_{sector}_monthly_revisions"]['revision_date'] = pd.to_datetime(globals()[f"old_{sector}_monthly_revisions"]['revision_date'], format='%Y-%m')

# Remove temporary columns 'month' and 'year'
globals()[f"old_{sector}_monthly_revisions"].drop(['month', 'year'], axis=1, inplace=True)

# Display the result
globals()[f"old_{sector}_monthly_revisions"]

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

<div id="5">
   <!-- Contenido de la celda de destino -->
</div>

<h1><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.</span> <span style = "color: dark; font-family: PT Serif Pro Book;">Uploading data to SQL</span></h1>

<div style="text-align: left; font-family: 'PT Serif Pro Book'; color: dark; font-size:16px">
Finally, we upload all the datasets generated in this jupyter notebook to the <code>'gdp_revisions_datasets'</code> database of <code>PostgresSQL</code>.
<div/>

In [ ]:
engine = create_sqlalchemy_engine()

<div id="5-1">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.1.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Vintages
    </span>
    </h2>

In [ ]:
#globals()[f"old_{sector}_annual_growth_rates"].to_sql(f'old_{sector}_annual_growth_rates', engine, index=False, if_exists='replace')

In [ ]:
#globals()[f"old_{sector}_quarterly_growth_rates"].to_sql(f'old_{sector}_quarterly_growth_rates', engine, index=False, if_exists='replace')

In [ ]:
globals()[f"old_{sector}_monthly_growth_rates"].to_sql(f'old_{sector}_monthly_growth_rates', engine, index=False, if_exists='replace')

<div id="5-2">
   <!-- Contenido de la celda de destino -->
</div>

<h2><span style = "color: rgb(0, 65, 75); font-family: PT Serif Pro Book;">5.2.</span>
    <span style = "color: dark; font-family: PT Serif Pro Book;">
    Revisions
    </span>
    </h2>

In [ ]:
#globals()[f"old_{sector}_annual_revisions"].to_sql(f'old_{sector}_annual_revisions', engine, index=False, if_exists='replace')

In [ ]:
#globals()[f"old_{sector}_quarterly_revisions"].to_sql(f'old_{sector}_quarterly_revisions', engine, index=False, if_exists='replace')

In [ ]:
globals()[f"old_{sector}_monthly_revisions"].to_sql(f'old_{sector}_monthly_revisions', engine, index=False, if_exists='replace')

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 20px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#select" style="color: rgb(255, 32, 78); text-decoration: none;">⮝</a>
    </span> 
    <a href="#select" style="color: rgb(255, 32, 78); text-decoration: none;">Back to economic sectors.</a>
</div>

<div style="font-family: PT Serif Pro Book; text-align: left; color: dark; font-size: 16px;">
    <span style="font-size: 30px; color: rgb(255, 32, 78); font-weight: bold;">
        <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">&#11180;</a>
    </span> 
    <a href="#outilne" style="color: rgb(0, 153, 123); text-decoration: none;">Back to the outline.</a>
</div>

---